[2022-04-04 20:01] pictos commented on #1764
@bondarenkod just to make sure, are you using the latest VS 2022 preview? And are you checking the `Xamarin` workload option on installer?

[2022-04-04 20:34] jtorvald commented on #1840
@pictos I'm trying to reproduce in a separate repo, but guess what: it works there. I will dig a bit deeper this week to see if I can find the cause.

[2022-04-04 21:01] pictos commented on #1840
Thank you @jtorvald

[2022-04-05 14:41] jtorvald commented on #1840
@pictos After hours of debugging to see what changed I came to the point where the crash happens because of a TabView being used in an active page in shell (not the current page but still in the background). Not sure how relevant but that tabview is used within a StateView.

In the sample project I use now the culture change works, but that is probably because it happens on the same page. So I wou

[2022-04-05 15:47] pictos commented on #1840
@jtorvald no problem, take your time. I can there's a lot of elements in the equation, having a repro will help a lot, thanks for moving this forward

[2022-04-07 07:08] ghuynguyen commented on #1835
Update: This bug only appears on Android. Works fine on iOS

[2022-04-07 13:13] vppetrov commented on #1482
Now we have .net 6.0. Downgrading to .net core 3.1 does not seem like a (future oriented) solution. It would be better if XCTK removes references to Windows only libraries (WPF and OpenTK seems to be the problem).

[2022-04-07 13:45] vppetrov commented on #985
This seems to be the root cause for https://github.com/xamarin/XamarinCommunityToolkit/issues/1167 and https://github.com/xamarin/XamarinCommunityToolkit/issues/1482.

[2022-04-07 21:03] LeoJHarris commented on #1012
@Kapusch there is a better work around to set the TabIndicatorView yourself in XAML as shown below.

[code]

[2022-04-08 03:41] ConnorJBrown opened #1841 "[Bug] UWP ShadowEffect does not work when using XCT nuget package"
### Description

ShadowEffect is not working for me on UWP when I use the toolkit via a NuGet package.
If I download this repo and reference the XamarinCommunityToolkit project directly then the shadow works.

### Link to Reproduction Sample
[XCTShadowEffectUsingNuget.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/8448309/XCTShadowEffectUsingNuget.zip)

### Steps to Reproduce
1. Cre

[2022-04-09 15:28] tsjdev-apps commented on #1286
I can confirm that this bug is still in the latest version of the toolkit. And it is related to all properties.
The easiest workaround is to set the `x:Key` attribute and use an explicit style.

[2022-04-10 19:04] sweetjones95 commented on #1815
I too can confirm this issue. Installing any version of XCT _after_ 1.3.1 causes class color highlighting to not work. It's an easy issue to reproduce for me. Just create a new Xamarin Forms App. Open the App.xaml.cs file and look at the code in the constructor.

Results without XCT installed OR XCT version 1.3.1 installed: WORKS
![XCT-ver131-installed](https://user-images.githubusercontent.com/74

[2022-04-12 18:46] bijington commented on #1841
@ConnorJBrown are you only using the ShadowEffect in XAML or the toolkit in any C#?

[2022-04-12 18:50] bijington commented on #1311
Are you running the exact same steps locally as you are on your cloud agents?

[2022-04-12 20:27] ConnorJBrown commented on #1841
@bijington Only in XAML

[2022-04-13 10:14] bijington commented on #1841
Can you try referring to it in C# too just to see if the linker/compiler is ripping it out at build time?

[2022-04-14 10:02] bijington commented on #1841
@ConnorJBrown thanks for the update. I will aim to try and pull the latest NuGet Package and decompile it so see what is inside.

[2022-04-14 15:36] huytran123 commented on #289
I have spend 4 hours to find this reason
[CameraDevice-0-LE] Surface with size (w=1920, h=1080) and format 0x22 is not valid, size not in valid set: [1472x1104, 1088x1088, 1280x720, 1024x768, 960x720, 832x500, 720x480, 640x480, 352x288, 320x240, 176x144]
=> Log is very clear. Because SetupMediaRecorder=> exist profile when call GetCamcoderProfile=> But that profile is not valid.
HOW TO FIX
=>
In C

[2022-04-14 16:40] bijington commented on #289
@huytran123 if you know how to fix the issue we are open to PRs

[2022-04-14 16:41] aherrick opened #1842 "com.android.tools.r8.CompilationFailedException: Compilation failed to complet (MAUI RC1)"
With RC1 Maui I'm getting the following error with the latest Maui Compat:

`com.android.tools.r8.CompilationFailedException: Compilation failed to complete, origin: C:\Users\andrew.j.herrick\.nuget\packages\xamarin.google.guava.listenablefuture\1.0.0.6\buildTransitive\net6.0-android31.0\..\..\jar\guava-listenablefuture.jar : com/google/common/util/concurrent/ListenableFuture.class	TappedIn	C:\Pro

[2022-04-15 03:16] huytran123 commented on #289
@bijington yes, i have know how to fix it, i downloaded your source and fix this issue and tested on Mi A1 and Android 9

[2022-04-16 04:00] Agredo commented on #788
Just tested this for Xamarin Community Toolkit 2.0.1, This Bug can be closed!  assembliesToInclude.Add(typeof(Xamarin.CommunityToolkit.UI.Views.MediaElementRenderer).GetTypeInfo().Assembly);

[2022-04-16 04:13] pictos commented on #788
Thanks @Agredo

[2022-04-16 04:13] #788 closed

[2022-04-16 14:55] Dirwaz commented on #1058
Was anyone able to solve the issue ?

[2022-04-16 19:44] bijington commented on #1842
@aherrick I have seen a similar issue when compiling the toolkits sample application. The solution involved manually deleting the `bin` and `obj` folders and then trying again. Have you tried this?

[2022-04-16 21:29] pictos commented on #1842
@bijington looks like the issue is on our side, we need to compile against `MAUI RC1`
as you can see here https://github.com/xamarin/AndroidX/issues/509#issuecomment-1100465193

[2022-04-16 21:33] bijington commented on #1842
Oh good spot!

[2022-04-18 07:55] bijington commented on #289
We would love your help writing the code! The Community Toolkit contains features for, and created by, the Xamarin Community. We are all volunteers, contributing code in our spare time on nights and weekends. If you'd like to contribute, I can provide details if you aren't familiar with contributing to open source.

[2022-04-18 21:14] LeoJHarris commented on #1715
Thanks for providing that work around, little taken back how some of these features make their way into the main branch, surely these issues should be ironed out in the dev branch before merging?

[2022-04-19 00:11] ahoke-cr commented on #1778
For others still experiencing this, the easiest way to do this through MVVM is via the MessagingCenter.

In your View Model:

[code]

In your View code-behind (`.xaml.cs`):

[code]

The method is generic and the sender parameter is discarded because it is irrelevant for this messaging scenario.

In `OnAppearing()`:

[code]

In `OnDisappearing()` (clean up to prevent leaking memory through orphaned

[2022-04-19 08:38] bijington commented on #1715
@LeoJHarris sadly due to the limited time we each have things like this have crept in to the `main` branch. This did lead to some issues in terms of quality of features plus their associated documentation, etc. As we are now migrating to the new .NET MAUI Community Toolkit the team have devised a solid plan for dealing with proposals/implementations before they can be merged.

That said we are sti

[2022-04-19 12:10] bijington commented on #1841
@ConnorJBrown I have downloaded the latest package from NuGet and decompiled it. You can see that the `PlatformShadowEffect` class is included in the package:

![Screenshot 2022-04-19 at 13 07 28](https://user-images.githubusercontent.com/17139988/163999856-e92ec5af-c9c7-4cae-b7c5-d56385894980.png)

This is from the `uap10.0.18362` folder. Are you able to confirm which framework your reference is

[2022-04-19 20:49] bijington commented on #1841
Sadly my windows development environment is a little messed up at the moment, hopefully I can sort it out this week to try those steps.

`ShadowEffect` should be in the shared codebase as you mention but the platform specific part should be in the one that I mentioned.

[2022-04-19 20:57] ConnorJBrown commented on #1841
Ah no worries.

I am not able to navigate to the definition of UWP PlatformShadowEffect

![image](https://user-images.githubusercontent.com/42499131/164094219-e3879712-7e5a-4d0b-926b-041be104598c.png)

However this works fine for the Android and iOS projects

[2022-04-19 20:59] bijington commented on #1841
So where is the reference inside the UWP project pointing to for the XCT package? I wonder if it is bringing in the wrong dll somehow

[2022-04-19 21:04] ConnorJBrown commented on #1841
I am not sure how to check that, the properties pane is empty when selecting Xamarin.CommunityToolkit reference

![image](https://user-images.githubusercontent.com/42499131/164096997-b3da0af3-6fc0-49d0-af61-ac57544d305a.png)

[2022-04-19 21:07] ConnorJBrown commented on #1841
Actually navigating to the definition of ShadowEffect is different for each of the platforms. I think the location for UWP is
`C:\Users\Connor\.nuget\packages\xamarin.communitytoolkit\2.0.1\lib\netstandard2.0\Xamarin.CommunityToolkit.dll`

Repeating the same steps for Android gives
` C:\Users\Connor\.nuget\packages\xamarin.communitytoolkit\2.0.1\lib\monoandroid10.0\Xamarin.CommunityToolkit.dll`

[2022-04-19 21:37] bijington commented on #1841
I have tried creating a new application under Visual Studio 2019 and I can confirm that I see the same issue. For some reason the UWP project appears to be taking the `netstandard2.0` dll and not the `uap10.0.18362` dll

[2022-04-19 21:39] bijington commented on #1841
I sadly don't have a clue why it is doing this yet. Is it because the `netstandard2.0` is in the list of dependencies before the uap one?

[2022-04-20 09:57] #1842 closed

[2022-04-20 19:00] DanielGlick45 opened #1844 "[Bug] TabViewItem content in TabView height is constrained using Android WindowSoftInputMode AdjustResize"
### Description

TabViews are not resizing properly when on Android SoftInputMode is AdjustResize

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Call this in Xamarin Community Toolkit Sample app
			`Forms.PlatformConfiguration.AndroidSpecific.Application.SetWindowSoftInputModeAdjust(this, Forms.PlatformConfiguration.AndroidSpecific.WindowSoftInputModeAdjust.Resize);`

[2022-04-22 07:27] VladislavAntonyuk commented on #1841
If I am not mistaken we had the same issue in MCT where we put the artifacts in the same folder and they were overwritten.
I will take a look. It may fix a lot of issues related to UWP

[2022-04-22 07:35] bijington commented on #1841
That's great thanks @VladislavAntonyuk

[2022-04-22 12:07] VladislavAntonyuk commented on #1841
I can check later the fix.
But could you also try if this nuget package fixes the issue: https://dev.azure.com/xamarin/public/_build/results?buildId=60755&view=artifacts&pathAsName=false&type=publishedArtifacts

[2022-04-22 14:43] DanielGlick45 opened #1846 "[Bug] TabView: Ability to select GridLength.Auto for TabViewItem width"
### Description

I want each tab view item to automatically size to the content, instead of a uniform width for all tab view items

### Link to Reproduction Sample

### Steps to Reproduce

1. Modify the Community Toolkit Sample app TabView GettingStartedPage to this, and clear out the Xaml since we set content here
[code]
3. Run the sample app and navigate to the GettingStartedPage for the tab vie

[2022-04-22 15:53] bijington commented on #1841
I wonder how the NuGet reference compatibility is decided when pulling the package in. `netstandard2.0` is earlier in the list before `uap..` so perhaps it wins and is pulled in?

[2022-04-25 14:28] JsCalahan opened #1848 "[Bug] UWP - StateLayout - CollectionView - Crashes upon re-entering state"
### Description

This may be more of a Xamarin.Forms issue rather than XamarinCommunityToolkit.

The app crashes with a NotImplementedException when using a CollectionView inside of a StateView after previously loading the CollectionView. Message is "The layout is not implemented".

### Stack Trace

   at Xamarin.Forms.Platform.UWP.StructuredItemsViewRenderer`1.SelectListViewBase()
   at Xamarin.F

[2022-04-25 19:29] VladislavAntonyuk commented on #1841
You have MinVersion 16299, Update it to at least 18362
![image](https://user-images.githubusercontent.com/33021114/165160327-3e33b0a2-ec8f-49cd-b8ad-ece03952db59.png)

[2022-04-25 19:29] #1841 closed

[2022-04-25 19:47] bijington commented on #1841
Oh yeah great spot! That explains why the `netstandard2.0` reference was being used as the `uap` one wasn't compatible with the minimum version

[2022-04-25 20:03] ConnorJBrown commented on #1841
Thanks @VladislavAntonyuk! Is this included in documentation somewhere? I did not realize that the min version needed to be upgraded.

[2022-04-25 20:08] VladislavAntonyuk commented on #1841
I believe it comes from Nuget.org: https://www.nuget.org/packages/Xamarin.CommunityToolkit/
![image](https://user-images.githubusercontent.com/33021114/165166520-fd75b414-d97b-4e0f-9e03-9b19aeb2b7be.png)
where the blue is a minimum supported version.

[2022-04-25 21:10] TrueTech-Source opened #1849 "[Bug] Setting Linking "Link Framework SDK Only" thorwing Xaml parsing error on app.xaml"
### Description
I'm Working a project in which i have need to set Linking to "Link Framework SDK Only" but when i turn this settting I'm getting the Xaml parse on app.xaml. If I turn this setting to "Don't Link" then it start working  but the problem i cannot use "Don't link"  due to some plugin of third party which require to set Linking "Link Framework SDK Only" I'm stuck on this issue anyone ha

[2022-04-25 22:20] pictos commented on #1849
You can create a linker.xml file and add the Popup to it, that way the Linker will keep the Popup

[2022-04-26 19:21] pictos commented on #1849
@TrueTech-Source please, take a look at [this doc](https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/linker)

[2022-04-26 20:50] DanielGlick45 commented on #595
@udde Can you explain your workaround here? I am running into the same issue that you were but I didn't understand how I should implement it

[2022-04-26 21:42] kazo0 commented on #595
@DanielGlick45 you would basically replace any line that is setting the SelectedIndex of the TabView with the workaround code.

You can take a look how I'm using it here: https://github.com/kazo0/MVVM-Samples/blob/fc5c4dcbec4cfe3b9b6511ffa30d7f0070c87c86/samples/MvvmSampleXF/MvvmSampleXF/Views/RedditBrowserPage.xaml.cs#L37

[2022-04-27 12:12] DanielGlick45 commented on #595
@kazo0 I understand that workaround. I was asking @udde for him to explain his workaround, where iOS was firing SelectionChanged multiple times if SelectedIndex was set in the constructor

[2022-04-27 12:16] kazo0 commented on #595
@DanielGlick45 oh woops my bad! I totally thought you had tagged me in that question

[2022-04-27 19:53] TrueTech-Source commented on #1849
Thanks its working now

[2022-04-27 19:53] #1849 closed

[2022-05-02 14:16] DanielGlick45 commented on #1846
Would someone be able to review this?

[2022-05-02 17:22] pictos commented on #1846
@DanielGlick45 Thanks for your proposal and PR, sadly this project just accepts bug fixes. I strongly encourage you to move this proposal to CommunityToolkit.MAUI, that's the port of this lib. to the .NET MAIU. You can copy and paste the API spec that you created on your PR to us to vote on it.

Here's a sample of [a proposal](https://github.com/CommunityToolkit/Maui/discussions/205)

[Click here]

[2022-05-04 11:58] udde commented on #595
@DanielGlick45 Hi, sorry I forgot to get back to you on this, I saw your mention last week but was not at the office at that moment.

In the page constructor I simply do this:
[code]
Then, in the SelectionChanged event I do this:
[code]

Hope that helps!

[2022-05-04 13:08] DDHSchmidt commented on #1848
Hello,

we were just investigating a similar issue at our end and stumbled upon your report. In our case we assume a regression bug was introduced in a [recent pull request](https://github.com/xamarin/Xamarin.Forms/pull/14780).
Can you downgrade Xamarin.Forms to Service Release 8 (5.0.0.2291) and test if the problem is gone?

[2022-05-09 16:07] dpuckett commented on #1294
Is there any update on this problem? We've just come across this, and am looking at needing to implement a completely different tool otherwise, or find a way to fix a single page orientation.

[2022-05-09 16:10] AustinAHunter commented on #1294
@dpuckett I personally decided to use Sharpnado.Tabs for my application instead of the toolkit's tabs. There are a bunch of different tab styling options built into Sharpnado and they don't have any problems with orientation changes like the toolkit's do. They take a little bit more work to setup, but a lot more customizable. If you haven't checked them out yet, I'd highly recommend giving them a

[2022-05-09 16:13] bijington commented on #1294
@AustinAHunter you beat me to that recommendation 😃 yes sadly we are in an unknown area of getting this issue resolved. There is a lot of time and effort being spent get other things completed.

@dpuckett Sharpnado is a great top ion. That being said if you are happy with limiting to a single orientation that is also a workaround. Of course this might not be ideal though.

[2022-05-09 19:17] angelru commented on #517
any idea of this for MAUI?

[2022-05-11 12:10] alinberce commented on #1394
Well, I encountered the same issue. So I took a look at official sample and found out that it had `TabStripHeight`. Setting that in xaml for TabView makes the icons size property.

[2022-05-11 14:54] DeveloperLookBook opened #1854 "[Bug] TabViewItem content on iOS is out of the screen if TabView.TabIndicatorPlacement="Top""
TabViewItem content on iOS is out of the screen if TabView.TabIndicatorPlacement="Top".

To reproduce the issue:
1. Create TabView with TabViewItem.
2. Put some test content inside TabViewItem (any)
3. Set TabView.TabIndicatorPlacement="Top"

Important:
Do not position the TabViewItem root container using HorizontalOptions="Center" VerticalOptions="Center".

Expectation:
TabViewItem content should

[2022-05-13 09:22] maxchu92 opened #1856 "[Bug] XCT:StatusBarEffect.Color clashes with Rg:Plugins.Popup on iOS"
### Description

When replacing the `Application.Current.MainPage` with a page that has `xct:StatusBarEffect.Color` from a `PopupPage`, an error with `RootViewController` will occur on iOS. It was first occured to me when I was trying to reset the entire navigation stack, from a PopupPage, while I was navigating using Prism. `_navigationService.NavigateAsync("/NavigationPage/MainPage");`. I had re

[2022-05-13 10:44] bijington commented on #1856
@maxchu92 what is the exception that is thrown?

[2022-05-13 12:09] maxchu92 commented on #1856
`System.NullReferenceException: 'RootViewController'`

[2022-05-15 05:44] pictos commented on #1856
@maxchu92 I tried your sample, without prism and it fails when we try to get the `RootViewController` in the image below you can see the error during my debug session.
<img width="923" alt="Screen Shot 2022-05-15 at 02 34 07" src="https://user-images.githubusercontent.com/20712372/168458684-9d85bd1c-58de-4466-a14f-526b58851458.png">

I don't know too much about the Rg.Popup implementation, I just

[2022-05-16 06:06] bijington commented on #1856
@pictos I suspect that this is occurring because of changing the applications `MainPage` property. I guess this is a rather uncommon scenario but as it is possible we probably should handle it safely. What danger do we have in not throwing the exception?

[2022-05-16 14:05] pictos commented on #1856
@bijington, yeah we can say that's not a good practice to set the `MainPage` directly during the runtime and the dev should manipulate using the `INavigation` methods... But for XF pages that works very well, so just curious to see if there's an easy fix for that.

Looking at the code the StatusBarColor will not be changed, but I don't know what could happen during runtime

[2022-05-16 14:25] VolodaUa opened #1858 "[Bug] [Android] ShadowEffect rendering works wrong on Android"
### Description

Looks like ShadowEffect and using OffsetX or OffsetY properties works wrong on Android and actually cuts the view instead of making the requested shadow. iOS experience is great and the same code works like expected there.

### Code

`   <Frame HasShadow="False"
           HeightRequest="180"
           WidthRequest="180"
           BorderColor="Gray"
           CornerRadius="90"

[2022-05-16 15:46] joseluisct commented on #887
Same problem here. Many times the tab that is shown when you click the strip is a wrong or previous tab

[2022-05-18 08:36] RemcoDEV opened #1860 "[Bug] NRE iOS IconTintColor when using hot reload"
### Description

### Stack Trace

 An error occurred: 'Object reference not set to an instance of an object.'. Callstack: '  at Xamarin.CommunityToolkit.iOS.Effects.IconTintColorEffectRouter.ClearTintColor () <0x1218fb888 + 0x0009a> in <b86a3dcb5c1f42eeafd9e295123844ec>:0
  at Xamarin.CommunityToolkit.iOS.Effects.IconTintColorEffectRouter.OnDetached () <0x1218fb768 + 0x00002> in <b86a3dcb5c1f42eea

[2022-05-18 11:06] maxchu92 commented on #1856
Understood. Really appreciate your time on checking this. Thank you.

[2022-05-18 14:08] amalcty opened #1861 "CameraView when switched to other page , camera runs in background, no option to stop camera without popping page[Bug]"
### Description

When I load the camera and minimize the app or go to another screen or tab in the app, there is no option to pause the camera, So now the camera runs in background.

### Stack Trace

NA

### Link to Reproduction Sample

### Steps to Reproduce

1. Minimize the app while using camera
2. move to a different tab
3.

### Expected Behavior
the camera will pause when not previewing

###

[2022-05-19 04:44] LeoJHarris commented on #1759
@bijington

I've just noticed this issue as well, when applying a Animation to a row in a collection the Tap gesture for the row itself no longer works and neither does a swipe to refresh. If there is something I provide to help resolve this issue let me know.

[2022-05-19 06:44] GUOLDEV opened #1863 "[Bug] [CameraView] [Android] Flash works just for the first capture"
### Description

The CameraView does not trigger the flashlight after the first capture even keeping the FlashMode as On.

### Stack Trace

### Link to Reproduction Sample

This issue can be reproduced on XCT CameraView Sample.
### Steps to Reproduce

1. Open CameraView
2. Turn on Flash
3. Tap SNAP PICTURE, the flash works
4. Tap SNAP PICTURE again, the flash doesn't work

### Expected Behavior

T

[2022-05-19 06:48] GUOLDEV commented on #1863
Hi @jfversluis 👋  I am going to work on a few issues around the CameraView reported by the community, but before that I really need this Flash issue fixed, so that is why I have created the issue and pushed a PR for it already.

[2022-05-19 06:53] GUOLDEV commented on #1863
@brminnick @pictos 🙏

[2022-05-19 07:01] GUOLDEV opened #1865 "[Bug] [CameraView] [Android] XCT Sample CameraView Page not showing the snapped picture correctly"
### Description

XCT Sample CameraView Page not showing the snapped picture correctly

![image](https://user-images.githubusercontent.com/22019245/169229969-7cf4ad18-e3af-4b13-a57b-34e3e2e528d3.png)

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Open CameraView
2. Turn on Flash
3. Tap SNAP PICTURE, the flash works

### Expected Behavior

The Picture should fit the fr

[2022-05-19 13:47] pictos commented on #1863
thanks @GUOLDEV will review your PR later today (:

[2022-05-19 13:55] pictos commented on #1759
@LeoJHarris will be great if you can arrange a repo for us. Thanks in advance

[2022-05-19 21:50] LeoJHarris commented on #1759
@pictos okay this is interesting seems to be working now. Cant say how this wasn't working before but swipe, tapped and shake all work together.

[2022-05-20 02:21] QTech-Pete commented on #776
Anyone know when this will be fixed?

[2022-05-20 03:14] brettnguyen commented on #1865
For some reason they refuse to fix this

[2022-05-20 03:46] GUOLDEV commented on #1865
@brettnguyen I think it is because it needs proper implementation to rotate the image data, not rotate the Image control as it is doing now.

[2022-05-20 04:04] brettnguyen commented on #1865
A bitmap will fix the images but as far as everything I tried I couldn't fix the videos because the recording videos preview would come in rotated as well

[2022-05-20 04:07] #1863 closed

[2022-05-20 04:11] pictos commented on #1759
@LeoJHarris haha no worries (I'm happy to read that xP), I'll assume that this bug was fixed on our stable channel. If you see this happening again, please file a new issue.

[2022-05-20 04:11] #1759 closed

[2022-05-20 13:32] F-Goncalves commented on #590
I am still experiencing a similiar issue in my project. @tonyfonager Did you manage to solve this?

[2022-05-23 15:10] rezamohamed commented on #746
@RadoslawKubas et al, did you find a workaround/fix for this? I am having the same issue, unsure how to bypass

[2022-05-24 20:36] wagenheimer commented on #1854
It's totally broken on IOS. TabIndicatorPlacement="Bottom" also have this problem.

[2022-05-25 12:15] JustickDM opened #1868 "[Bug] Why is the BaseCommand.shared not inherited from ObservableObject.shared? Why is the "IsExecuting" property not updated for use in the UI?"
### Description

[Bug] Why is the BaseCommand.sharednot inherited from ObservableObject.shared? Why is the "IsExecuting " property not updated for use in the UI?

[2022-05-25 15:40] pictos commented on #793
@michelmoorlag thanks for the feedback. I'll close this issue then.

[2022-05-25 20:59] victordscott commented on #1625
This is happening to me also.

[2022-05-25 21:09] pictos commented on #1625
Could you attach a small repro?

[2022-05-30 08:41] chainslunatic commented on #1633
I am currently facing the issue that `TouchEffect.LongPressCommand` is not working for TalkBack and is even breaking the functionality of `TouchEffect.Command`. Please see the [example app](https://github.com/xamarin/XamarinCommunityToolkit/files/8796895/AndroidTalkBackTest.zip) for reference.

XF Version: `5.0.0.8221`
XCT Version: `2.0.2`

[2022-05-31 02:46] sunkerGit commented on #1854
Any luck? this is impacted to our end as well after upgrading nuget to 2.0.2

[2022-05-31 03:31] Lucasvor commented on #1788
@vplife1 I managed to make it work with MAUI by removing the BaseTemplatedView and copying the source code from xf community (Expander), implementing the component from scratch.

Preview:
![expander](https://user-images.githubusercontent.com/14074376/171087216-b098c158-1034-4af8-95b6-0463e47083f0.gif)

[2022-05-31 06:42] VladislavAntonyuk commented on #1750
As we released MCT with Popup I am closing this issue.

[2022-05-31 06:42] #1750 closed

[2022-05-31 06:43] VladislavAntonyuk commented on #1788
Expander will be a part of MCT 1.1.0

[2022-05-31 20:30] albertt425 commented on #742
@ubik2 Thanks for the analysis. I ended up sticking with the older version of Xamarin Forms that has MediaElement, but it would be great to upgrade.

I've encountered this data binding model issue in other situations (sometimes controlling both ends, sometimes not). The separate interface looks like a reasonable workaround, although I wish there was a standard pattern for this.

In my case the vid

[2022-06-01 01:12] wagenheimer commented on #292
@ivanrlg Did you manage to solve the problem?

On iOS, the PopUps only work when running in Debug Mode..... in release mode it does not work at all.

[2022-06-02 03:05] sunkerGit commented on #1854
I found this issue was not on XCT but on Xamarin Forms 5.0.0.2401, when I'm reverting XF back to 5.0.0.2337 the ios layout issue was not happen

[2022-06-02 06:21] ubik2 commented on #1458
This happens because the video sets the position on the controller, which could be to update the display (as you want), but could also be to seek to a new position. To avoid playback hiccups when it's just supposed to update the display, there's a timer that goes off every 200ms to set the controller's position, and the controller has logic that doesn't do a seek if the new position is within 300m

[2022-06-02 06:34] ubik2 commented on #742
@albertt425 that seems like a reasonable workaround. I imagine in your specific case, you could also do something like setting the position to 1seciond+1frame forward, then move 1second back in the SeekCompleted handler. It's a bit gross, but would let you use the unmodified MediaElement code.

In terms of the XCT repo, I just think the interface needs to be re-thought. There shouldn't be a proper

[2022-06-02 06:58] F-Goncalves opened #1869 "[Bug] Converter Types are not found when defined only in seperate ResourceDictionary file when LinkerBehavior is Link Framework SDKs"
### Description

When declaring a resource of a converter type only in a seperate ResourceDictionary file while LinkerBehavior is set to 'Link Framework SDKs only', then application crashes saying '<ConverterType> not found in http://xamarin.com/schemas/2020/toolkit'.

### Stack Trace

Unhandled Exception:
Xamarin.Forms.Xaml.XamlParseException: Position 5:14. Type converters:EqualConverter not fou

[2022-06-02 07:02] F-Goncalves commented on #1869
Same for Expander when defined in external file.
Probably this is an issue for all XCT types.

[2022-06-02 10:11] bijington commented on #1869
@pictos i thought our SG should stop this happening. Do we need any further information to help diagnose the issue?

[2022-06-03 09:01] gtrafford commented on #590
I think I'm running into this issue also. If I use RetainElement in my ListView, the Images load, but the Text binding only works for the visible items. Anything I have to scroll to just shows as blank unless it has a valid ImageSource.

If however, I have it set to RecycleElement, everything in the list view works, but only once. If I refresh the list or tap an item which goes to another page whi

[2022-06-04 13:15] bijington commented on #1854
@sunkerGit  thank you for sharing that information.

[2022-06-06 22:03] bodeg commented on #1385
thanks for your solution

[2022-06-07 09:25] bijington commented on #1542
@uzairali001 this is a really late response but you don't actually need to define the base type in the C# your class definition can simply look like:

[code]

[2022-06-07 15:04] rachelkang commented on #1385
Hi, @IeuanWalker - in case you missed it, we since implemented an `Announce` API both in XCT and .NET MAUI! I apologize for not updating this thread sooner. https://github.com/xamarin/XamarinCommunityToolkit/pull/1727

If you get to use our `Announce` API, please share what your experience is with it!

[2022-06-07 15:22] IeuanWalker commented on #1385
Great thanks, ye we plan to migrate to MAUI in the next year or 2, and hopefully get rid of most / all of our custom accessibility code

[2022-06-08 15:14] afnsvdan commented on #1268
@jfversluis I have the same issue, how can I Dispose() XCT Media element when leaving the page?

[2022-06-09 12:14] jfversluis commented on #1695
Hey everyone! Thank you for your patience here! Would you maybe be able to test version 2.1.0-build-64069.1871 from this NuGet feed: https://pkgs.dev.azure.com/xamarin/public/_packaging/XamarinCommunityToolkit-PullRequests/nuget/v3/index.json

That is the result of a PR I just made to fix this rotation thing. Let me know if this works!

[2022-06-09 12:15] jfversluis commented on #1803
For the image I think I made a fix, check out #1695

[2022-06-09 13:54] bbhxwl commented on #1695
I have given up xamarin for a long time, because there are errors that can not be solved at all, and it is not suitable for software development.

[2022-06-09 13:54] bbhxwl commented on #1695
I have used the uniapp to develop HTML hybrid apps.

[2022-06-10 04:24] FaHTuK opened #1872 "[Bug] When navigating, a white area appears above TabBar"
### Description

After navigating to another page and back, a white area appears above the tabbar (disappears when changing Tab selection).

### Tabbar XAML code
...
<xct:TabView Style="{StaticResource CustomTabStyle}">
                        <xct:TabView.TabStripBackgroundView>
                            <BoxView Color="#484848" CornerRadius="1, 1, 0, 0" />
                        </xct:TabView

[2022-06-10 08:01] PierreFeytout opened #1873 "[Bug] [MauiCompat] TabView component is not working"
### Description

Hello,

I tryed to use the TabView components in a Maui project
, using MauiCompat, but i was unable to make it works.

I created a basic project from a basic Maui project with the nugget Xamarin.CommunityToolkit.MauiCompat added and the MainPage xaml code has been repalced with the TabView sample code, so there is no complexity it's just a basic project.

Here is the error i obta

[2022-06-11 02:22] andersondamasio commented on #426
Olá, eu tenho um problema similar no IOS, que só acontece em release, nós temos alguma solução?

[2022-06-14 21:08] aodegov commented on #401
There is also issue with MediaElament size changing due to device orientation changes.
When MediaElament orientation changed to landscape, the 'landscape' taken videos (180°, or 0°) size remains the same.
Means not to expand/or stretch as the user expects.

[2022-06-15 20:01] #1868 closed

[2022-06-16 05:26] nicjay commented on #1032
I experienced this issue (or at least a very similar one) while the `AnimateStateChanges` property was set to true. It was causing my default "None" view to always appear first, no matter what my initial bound CurrentState was set to, resulting in an ugly flash of unloaded content before my Loading state appeared.

Setting `AnimateStateChanges="False"` made my intended StateView (Loading) correctl

[2022-06-17 06:11] tungox6 opened #1874 "[Bug] MediaElement does nothing on UWP"
### Description

MediaElement works on Android but does nothing on UWP

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Create a Xamarin project with Android, iOS and UWP
2. Add Xamarin.CommunityToolkit (2.0.2) Nugut package to them all
3. Add MediaElement to the main page of the shared project:
`<xct:MediaElement Source="https://sec.ch9.ms/ch9/5d93/a1eab4bf-3288-4faf-

[2022-06-17 10:16] 3steve3 opened #1875 "[Bug] Expander header image does not change after first tap if source is AppThemeBinding"
### Description

When setting an expander arrow image that indicates if it is collapsed/expanded, if I set a light and dark version with AppThemeBinding, the image does not update after the first tap.

### Stack Trace

### Link to Reproduction Sample

https://github.com/3steve3/ExpanderBug

### Steps to Reproduce

1. Set image source as {AppThemeBinding Light=DownArrow.png,Dark=DownArrowDark.png}

[2022-06-19 08:00] VladislavAntonyuk commented on #1873
it may start work with .NET MAUI 6.0.400

[2022-06-19 17:13] semihbilis commented on #1393
I deleted this from namespace on xaml side
xmlns:popups="clr-namespace:{FilePath}" x:DataType="popups:{FileName}"
and it was solved

[2022-06-22 15:35] Trieu0806 opened #1876 "[Bug] Tabindicatorcolor not working with Action Button"
### Description
When I use TabTapped="OnFabTabTapped" to create action button Tabindicatorcolor doesn't work at TabviewItem position 3 to 4. Tabindicatorcolor can't move to TabviewItem 4 position.

### Steps to Reproduce

1. Start a new Xamarin Forms project
2. Add a new TabView on a page, Add Action Button use TabTapped="OnFabTabTapped" and 4 tabviewitem
3. Give the TabView a TabIndicatorColor pr

[2022-06-23 23:25] Hackmodford opened #1877 "TabView reports -1 as initial SelectedIndex on Android [Bug]"
### Description

TabView reports the selected index as -1 on Android (reports expected value of 0 on iOS)

### Expected Behavior

TabView's SelectedIndex property should be 0 before any tabs have been selected by the user.

### Actual Behavior

TabView's SelectedIndex property is -1 before any tabs have been selected by the user.

### Basic Information

- Version with issue: 2.0.2
- Last known goo

[2022-06-25 18:47] Farkarr commented on #1611
Hello, you have found a solution?

[2022-06-27 22:27] PugTheMightyDog opened #1878 "[Bug] AsyncCommand overriding IsEnable value"
### Description

### Stack Trace

### Link to Reproduction Sample
.XAML
`        <Button
            Text="CLICK ME!"
            Command="{Binding TestCommand}"
            IsEnabled={Binding IsButtonEnabled} />`

ViewModel code

`TestCommand = new AsyncCommand(OnTestPressed, allowsMultipleExecutions:false);`
[code]

### Steps to Reproduce

1. Invoke Button AsyncCommand allowMultipleExecutions: f

[2022-06-28 19:32] PugTheMightyDog commented on #1878
Makes sense. It is a little counter-intuitive though, given the basic usage scenario.

I think how `AsyncCommand` works "behind the curtains" is not very clear, because it requires separating the View's .XAML IsEnabled implementation from the `AsyncCommand` implementation. I have read through the documentation and XCT videos and have actually been using `AsyncCommand` for some time now.

I had to

[2022-06-28 19:32] #1878 closed

[2022-06-29 07:22] sjasionowska opened #1879 "[Bug] Entry's MaskedBehavior causes the cursor to go to the end of an Entry when user's changing something in the middle of it"
### Description

Hi. Using MaskedBehavior on Entry causes caret to behave incorrectly both on Android and iOS. It goes to the end after changing something in the middle of Entry's input.

#### Mask with " "

Changing something in the middle of an Entry holding a Mask containing " " sign (for example, removing a character or typing one) always causes the cursor to go to the end of the current Entry

[2022-06-29 10:42] bijington commented on #1878
Thanks for this feedback, we appreciate that our documentation hasn't been the greatest on this toolkit. I will make a note to try and turn this feedback into something that can be added to that documentation page 👍

[2022-06-29 11:55] Dirwaz commented on #1058
i found a workaround to resolve it and it is wired :

https://stackoverflow.com/questions/67384011/xamarin-community-toolkit-tabview-switching-tabs-when-tapping-on-entry

[2022-06-29 15:01] Axemasta commented on #985
Its nice we have a workaround but this doesn't work for .net5.0 projects and thinking about .net6.0 compatibility when we eventually migrate XF projects to MAUI I'd rather be using a newer .net version than `netcoreapp3.1` 😅

[2022-06-29 21:57] #1571 closed

[2022-06-29 21:57] #1769 closed

[2022-07-02 22:15] mphill commented on #1615
This is still an issue.  Had to use @Ed156's solution of adding  `--linkskip Xamarin.CommunityToolkit` as mtouch argument.

[2022-07-03 10:13] bijington commented on #1615
I wonder does this issue only occur when referring to the effect in XAML. If you used it in C# would the compiler/linker still remove it?

[2022-07-07 07:01] eyeveye commented on #1219
Yes, I encounter the exact issue. After deleting a tabviewitem, the rest of the tab doesn't resize and if you move to the tab that is deleted it throw the error - System.IndexOutOfRangeException: 'Can't set CarouselView to position 1. ItemsSource has 1 items.'

[2022-07-11 13:12] riturajpandey opened #1880 "[Bug]"
### Description

I am using StateView control in my project. There are some issue stateview with picker control. I am getting unhandled null reference exception.

### Stack Trace

unhandled exception value cannot be null.

### Steps to Reproduce

1. Create three state in the StateView.
2. Add Picker control in the second state
3. When you change first state to second stat. picker control properly

[2022-07-11 14:30] bijington commented on #1880
@riturajpandey Can you share the stack trace of the exception?

Also can you please provide a sample reproducing the issue?

[2022-07-13 13:09] eeadie opened #1882 "IconTintColorEffect.TintColor exception Specified cast is not valid on iOS only"
I have an issue attemping to use IconTintColorEffect.TintColor on iOS (works fine on Android). An example of the XAML used:

[code]

When the view is loaded I recieve an exception "Specified cast is not valid". The exception is only thrown when using v2.0.2 and above. Using v2.0.1 there is no exception however the ImageButton TintColor is not changed.

[2022-07-13 14:55] CleverSoftwarePoland commented on #1682
Hi,

I have the same problem on my app.
It looks like. Problem is here:

**OnDeatach is trying to set Elevation on already Disposed object:**

System.ObjectDisposedException: Cannot access a disposed object. Object name: 'Xamarin.Forms.Platform.Android.ImageButtonRenderer'.

**Partial Stack Trace:**
JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self)
JniPeerMembers+JniInstanceMethods.Invok

[2022-07-13 15:28] DamienDoumer opened #1883 "[Bug] On iOS, The snack bar doesn't show an action when it is the only one in the snack bar"
### Description

On iOS, when you display a snack bar with text of a certain size, and add only one action, the action will not be displayed on the snackbar. but when you add two actions, they get displayed

### Link to Reproduction Sample

Here is a link with the reproduction: https://github.com/DamienDoumer/XCTSnackbarRepro

### Steps to Reproduce

Display a snackbar with only one button and one

[2022-07-13 18:21] bijington commented on #1882
Great thank you

[2022-07-13 19:16] 8m0 opened #1885 "[Bug] Popup, Microsoft.Maui.Platform.HandlerNotFoundException: 'Handler not found for view ...'"
Hello,
I get `Microsoft.Maui.Platform.HandlerNotFoundException: 'Handler not found for view fortestingshit.Controls.SimpP.'` exception.
I've seen Microsoft documentation and other sources, same error anyway.

### Stack Trace

[code]

[Repository](https://github.com/8m0/Popup-HandlerNotFoundException)

Steps:
1. Open project
2. Click the "Click me to open popup" button

Ide etc.:
- IDE: Microsoft V

[2022-07-13 21:35] pictos commented on #1885
@8m0, the `Renderers and Handlers` story for MauiCompat isn't that great and we will not invest time in fixing it. For Popup, I would recommend you to use the CommunityToolkit.Maui package.

[2022-07-13 21:35] #1885 closed

[2022-07-13 22:37] pictos commented on #1885
Good catch @bijington , I was in the auto-pilot mode xP

[2022-07-14 01:52] cindycluck commented on #503
@jfversluis  hi, I also met this crash from 2021 July to now in  my xamarin form ios project.  I test on my  iphone 13 and iphone se2.

[2022-07-14 17:02] pictos commented on #1885
@8m0 please copy all the info and open an issue on the https://github.com/CommunityToolkit/Maui, as suggested by @bijington. Thanks in advance

[2022-07-14 17:05] 8m0 commented on #1885
Done.
https://github.com/CommunityToolkit/Maui/issues/492

[2022-07-14 17:35] bijington commented on #1311
This issue is closed, would you be able to open a new issue including the details of the issue that you are seeing. Thanks

[2022-07-15 11:46] eeadie commented on #1882
Non issue, this was caused by incorrect usage on a 3rd party image loading library

[2022-07-15 11:46] #1882 closed

[2022-07-16 20:32] brettnguyen commented on #1695
@jfversluis can you post screenshots from you end of this working? I will test as soon as I can. Thank you so much for all the help

[2022-07-17 06:45] brettnguyen commented on #1695
@jfversluis also does this fix videos too?

[2022-07-18 02:54] pictos commented on #1830
Closing this issue due to inactivity

[2022-07-18 02:54] #1830 closed

[2022-07-19 14:56] DuncanMT opened #1887 "[Bug] UtcDateTimeToLocalStringConverter does not support short date time format string"
### Description

UtcDateTimeToLocalStringConverter class throws ArgumentException if the format string is short date "d".

The implementation of the [IsValidDateFormat method] (https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/UtcDateTimeToLocalStringConverter.shared.cs#L55) returns false when using the "d" format string.

### Sta

[2022-07-20 02:49] sunkerGit commented on #1854
Hi guys,

did anyone have any luck when upgrading Xamarin Forms 5.0.0.2478? and applying the tab view?

[2022-07-20 08:41] bijington commented on #1854
@sunkerGit no we haven't had time to test this. You should be able to update the Xamarin.Forms version in your app without requiring any new version of the toolkit in order to test whether it fixes your issue. Out of interest does that newer version of Xamarin.Forms have any fixes in it that you believe might help this issue?

[2022-07-20 22:13] georgeemr commented on #1873
Can anyone confirm if TabView already works with this version?

[2022-07-20 22:53] Dreamescaper commented on #1873
I was able to make it work at least somehow by adding the following code:
[code]

But the tab strip is buggy, it shows the first element only for me.
XAML:
[code]

Recording:
![qemu-system-x86_64_MFPKsjk4lg](https://user-images.githubusercontent.com/17177729/180096078-710abf19-e4e0-4467-8490-1e4030a50b14.gif)

[2022-07-21 01:09] sunkerGit commented on #1854
I think it should be adjusted from XCT - Tab View, shouldn't it? because when we are applying the newest Xamarin Forms 5.0.0.2478, the layout inside the tab view is still out of the screen for iOS, yesterday when I checked on the xct csproj file it seems the old NuGet package from Xamarin.Forms" Version="5.0.0.2291" can be conflicted with a new NuGet package on our app? why I assume it, because wh

[2022-07-21 08:54] charlesroddie commented on #1874
Also encountering this.

[2022-07-21 12:02] bijington commented on #1854
We only update our Xamarin.Forms version if it is really needed otherwise we force others to upgrade their version and this could prevent some people from using the toolkit. That being said our version is only a minimum version and therefore anyone using the toolkit should be able to upgrade their version of XF to anything above 5.0.0.2291 without experiencing any version conflicts.

It sounds lik

[2022-07-21 22:43] TheSundayDev opened #1888 "[Bug] IOS FFImageLoading exception"
### Description
Starting from version 2.0.2 i have this exception just on IOS with library FFImageLoading.
thanks

### Stack Trace

Unhandled Exception:
System.InvalidCastException: Specified cast is not valid.
  at Xamarin.CommunityToolkit.iOS.Effects.IconTintColorEffectRouter.ImageViewTintColorPropertyChanged (System.Object sender, System.ComponentModel.PropertyChangedEventArgs e) [0x0001d] in <

[2022-07-22 04:40] sunkerGit commented on #1854
yes at the moment XF 5.0.0.2337 is currently has no bugs for XCT - Tab View, but we need to upgrade to XF 5.0.0.2478 cause other NuGet is dependent on it and also patch fix for another mobile app issue that related to XF.

when we are after upgraded it to XF 5.0.0.2478, Tab view layout is out of screen.

[2022-07-22 04:40] brettnguyen commented on #1803
@Juanoxt890 @pictos is there a fix for this issue? Will @jfversluis fix also work for previewed videos too? Can I get any answer?

[2022-07-22 06:53] bijington commented on #1888
@TheSundayDev can you please fill in the end parts on how you can reproduce this? Ideally with a reproduction sample for us

[2022-07-22 13:23] DanielMuhlig opened #1889 "Type Converter Error when running Popup on iOS without debugging."
Eg. setting popup.Size = new Size(640, 480) works fine when running the app on an iPad in debug mode from Visual Studio, but crashes with error "Position 5:75. Type converter failed: Cannot convert "" into Microsoft.Maui.Graphics.Size" when starting app directly from the iPad.

This may be Maui related and not CommunityToolkit?

Edit: Same error if not setting the Size property on the popup!

[2022-07-22 14:33] pictos commented on #1889
@DanielMuhlig, please use the CommunityToolkit.Maui instead

[2022-07-22 14:33] #1889 closed

[2022-07-23 14:26] apovetkin commented on #400
I have same issue.

Asked question here
https://docs.microsoft.com/en-us/answers/questions/939040/mediaelement-is-not-working-for-xamarin-android.html

Any ideas why it's not show up?

[2022-07-25 02:45] alvinzjoe commented on #1854
TabViewItem with content is out of the screen is fixed after updating to latest Xamarin.Forms v5.0.0.2478, and Xamarin.CommunityToolkit v2.0.4. cc @bijington @sunkerGit

[2022-07-25 05:18] sunkerGit commented on #1854
ok cool @alvinzjoe, the case can be closed than @DeveloperLookBook ?

[2022-07-25 11:53] bijington commented on #1854
@sunkerGit you mentioned earlier that you still see this issue using Xamarin.Forms v5.0.0.2478 though?

[2022-07-26 08:29] mikara89 opened #1890 "[Bug] [MauiCompat] CameraView"
### Description

CameraView does not change view dimensions. FillAndExpend  and also if I set RequiredWidth and RequiredHeight  CameraView stays the same.
[code]

### Steps to Reproduce

1. Make simple Maui.net
2. Add Xamarin.CommunityToolkit.MauiCompat
3. Add CameraView To fill screen

### Expected Behavior
CameraView in Xamerin fill screen with no problem

### Actual Behavior
CameraView in MAUI.

[2022-07-26 17:50] FigmentCoder opened #1891 "[Bug] back button on Android is causing Command to execute from EventToCommandBehavior"
### Description

 When I tap the back button on Android the Command I have set for a Switch being toggled is executing.  This doesn't happen on iOS
`<Switch IsToggled="{Binding IsEnabled, Mode=TwoWay}"
                                    Grid.Row="1"
                                    Grid.Column ="5">
                                <Switch.Behaviors>
                                    <behavio

[2022-07-27 03:29] dush135 commented on #625
does this bug fixed?

[2022-07-27 08:12] bijington commented on #1891
@FigmentCoder the reproduction file doesn't show us the bigger picture of the pages use in an application, are you able to provide more of a solution with the view model and navigation parts to ease the investigation please?

[2022-07-27 09:50] nqtrung-ct commented on #1666
I got this issue as well in latest version. Hope it will be fixed soon.

[2022-07-27 12:06] FigmentCoder commented on #1891
Thank you for checking out my issue :) Please see the attached files.  Also you'll see I'm using an IAsyncCommand, I've tried using the regular ICommand as well and have the same results.
[Files.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/9198475/Files.zip)

[2022-07-27 16:20] FigmentCoder commented on #1891
I have solved the issue or rather someone else did.
https://stackoverflow.com/questions/46221189/switch-toggled-event-fires-when-toggled-programmatically?rq=1
`
                            <services:CustomSwitch
                                ToggledStateFromCode="{Binding IsEnabled, Mode=TwoWay}"
                                    Grid.Row="1"
                                    Grid.Column ="5

[2022-07-27 16:20] #1891 closed

[2022-07-27 19:45] bijington commented on #1891
@FigmentCoder I am glad you managed to solve your issue and thank you for sharing the solution.

[2022-07-27 21:32] sonic1015 commented on #1220
Can we re-open this? I am getting this behavior when both my Min AND Max target are 2004 (19041).

Xamarin.CommunityToolkit: 2.0.4
Xamarin.Forms: 5.0.0.2478
UWP: 19041 (target & min)
IDE: VS 2022 17.2.6

If anyone knows a work-a-round though, please by all means.

[2022-07-28 14:18] sb111111111 opened #1892 "[Bug] Audio files recorded on the device don't load or get played using Media Element on Android"
### Description

Recorded an audio file on the device using the [Plugin.AudioRecorder](https://github.com/NateRickard/Plugin.AudioRecorder). When trying to play it back it works on iOS but not on Android.

### Steps to Reproduce

`
        private readonly AudioRecorderService audioRecorderService = new AudioRecorderService()

[2022-07-29 11:34] monicapatawar opened #1893 "[Bug] ClearOnFinish="True"/ drawingView.Lines.Clear() not working with latest stable version of DrawingView"
### Description

The ClearOnFinish property when set to "True", should clear the line drawn over the DrawingView after the line is drawn. It seems this is not functioning with the latest stable version of Xamarin.Community.toolkit(2.0.4).
The DrawingView should get cleared after releasing the tap/click and a line is drawn. The functionality is working fine with the older version of Xamarin.Communi

[2022-07-31 05:24] VladislavAntonyuk commented on #1893
Could you please attach a small sample?

[2022-07-31 14:45] #1883 closed

[2022-08-02 03:31] LeoJHarris commented on #1887
@DuncanMT I am the original author of this converter, I can check this out shortly.

[2022-08-10 09:29] thomasgalliker commented on #985
@jfversluis did you check with the repository owners how they want to untangle the dependency to Xamarin.Forms.Platform.WPF? From my point of view, such a dependency should never have been added. As for now since we move our test projects to net6.0, we had to get rid of XamarinCommunityToolkit. Let me know if we can use it again.

[2022-08-11 23:25] brettnguyen commented on #1695
@lassana
Can you provide an example with in a camera app project? also does this stop preview videos being rotated too?

[2022-08-12 14:09] gsgou commented on #1778
What does MyLayoutOfExpanders represents in a CollectionView with an ItemTemplate @ahoke-cr ?

[2022-08-12 14:39] ahoke-cr commented on #1778
@gsgou it is any layout view (like a CollectionView) that has children of type Expander (which could come from a DataTemplate).

[2022-08-12 15:11] gsgou commented on #1778
@ahoke-cr tks for the quick response. While a Layout has a Children property a CollectionView does not.
It does have though ChildAdded() so could be used with a behaviour.

[2022-08-18 06:46] mlyrstad opened #1897 "TouchEffect: Non-standard properties of TouchEffect causes Jetbrains Rider to show false errors"
### Description

TouchEffect properties don't follow the traditional BindableProperty pattern, in that there are both attached _and_ instance properties for the bindable properties. In principle, this is fine. _However._ Jetbrains Rider claims properties like xct:TouchEffect.Command, PressedTranslationY, NativeAnimation etc. are missing a writable property, despite not actually being readonly - be

[2022-08-18 15:42] pictos commented on #1897
@mlyrstad thanks for your report, this isn't on our end. I suggest you to file a bug report to the Rider team.

[2022-08-18 15:42] #1897 closed

[2022-08-19 05:52] mlyrstad commented on #1897
Great. Means it will likely not be fixed at all, as *they* will likely
claim it's on *your end *they're following the logical specifications of
how binding properties work...

I just thought, it's such an easy fix for you guys, probably less so for
them.

On Thu, 18 Aug 2022 at 17:42, Pedro Jesus ***@***.***> wrote:

[2022-08-22 15:06] bricefriha commented on #1776
Thanks Andrei, in my opinion, `` ShouldMakeChildrenInputTransparent `` would be by default at `` False `` 🙂

[2022-08-23 05:36] LeoJHarris opened #1898 "SelectionChanged on TabView eventually breaks on iOS"
Switching between tabs on the TabView will eventually break functionality and the first tab is no longer selectable.

### Steps to Reproduce

1. Load page with TabView
2. Switch between tab items
3. Eventually cannot select first tab item, it will not display and the SelectionChanged is not called.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/5468757/186078041-ef7d9e2c-4b49-44

[2022-08-23 09:32] aliotard commented on #1666
There is a detailed analysis of this bug in https://github.com/xamarin/XamarinCommunityToolkit/issues/1413
The user even fixed the issue in his fork here: https://github.com/NuAoA/XamarinCommunityToolkit/commit/8f0d51df6a69bd48fa1640d2e04c5cf115140844
But unfortunately he doesn't made a pull request to the main repo.

[2022-08-24 00:48] mphill commented on #746
This is fixed. Hopefully they approve this PR quickly.

https://github.com/xamarin/XamarinCommunityToolkit/pull/1899

Enjoy.

[2022-08-24 07:41] #746 closed

[2022-08-24 09:12] monicapatawar commented on #1893
The issue seems to be happening on Android only, for ios the functionality is working fine.

[2022-08-24 18:40] DanielGlick commented on #1382
@jfversluis Any idea if this will ever be fixed in Xamarin forms?

[2022-08-26 07:54] jessiezh0320 opened #1900 "[Bug] The initial value of property couldn't display correctly on xct:BadgeView when using data binding."
### Description

 The initial value of the binding property couldn't display correctly on `xct:BadgeView`  when using data binding. But after changing the value of the binding property, the UI could update correctly on  `xct:BadgeView`.

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. create a  xamarin forms demo
2. copy the following code to this demo:

[code]

  **Ma

[2022-08-29 11:24] MarianHristov92 opened #1901 "[Bug] xct:SemanticEffect.Hint not being read on IOS voiceover"
### Description

xct:SemanticEffect.Hint not being read on IOS voiceover when is implemented

complete stack trace (if applicable) -->

### Steps to Reproduce

1. Add any element
2. Add following lines:
AutomationProperties.IsInAccessibleTree="True"
AutomationProperties.Name="{Binding SomeText}
AutomationProperties.HelpText="{Binding SomeText2}
xct:SemanticEffect.Hint="{Binding SomeText3}
3. xct i

[2022-08-29 14:09] pictos commented on #1901
@MarianHristov92
Could you attach a small repro?

[2022-08-30 15:09] greg84 commented on #1592
This error is thrown from `setDataSource`, which is a method on the MediaMetadataRetriever class: https://developer.android.com/reference/android/media/MediaMetadataRetriever#setDataSource(java.lang.String,%20java.util.Map%3Cjava.lang.String,%20java.lang.String%3E)

Its purpose appears to be fetching meta data (video dimensions, length etc) for a remotely hosted video file. This method sends an HT

[2022-08-30 16:18] sattasundar commented on #1873
I have tried and getting below error;

`Microsoft.Maui.Controls.Xaml.XamlParseException: 'Position 15:14. Type xct:TabViewItem not found in xmlns http://xamarin.com/schemas/2020/toolkit'`

how to solve this error?

[2022-08-31 14:52] andreybeznosovcab commented on #819
We seemingly have the exactly same issue in our Android app.

Default device app seems to wait longer before taking a photo, i.e.
- it sets flash intensity to maximum
- gradually reduces the intensity over approx. 1 second
- takes a photo when flash intensity is appropriate
- the result picture looks good and natural

When using CameraView, it
- sets flash intensity to maximum
- reduces the intens

[2022-09-03 12:53] VictorHFerreira commented on #1879
i'm facing a issue like this too, but in my case i have a mask "XXX.XXX.XXX-XX", and when i type the fourth letter or number, when it should place a ".", the cursor go back to the beginning of the entry

[2022-09-07 10:08] raghavnaphade opened #1903 "Collectionview in expander"
I am using expander in listview and in the expander, I want to use colectionview but cannot able to bind collectionview itemsource.

Here is a kind of structure

<Listview>
   <xct: Expander>
        <xct:Expander.Header >
        </xct:Expander.Header >
        <collectionview>
       </collectionview>
  </xct: Expander>
</ListView>

So someone helps me to find out how can I bind collectionview

[2022-09-07 13:43] Sylv1nfotec opened #1904 "[Bug] Popup.Behaviors crash only in Release"
### Description

Code crash only in release mode but it's ok in debug mode.

Component : Popup
EventName : Opened

Xaml code :
[code]

If i replace EventToCommandBehavior by this code behind, it's ok in debug and release mode
[code]

### Stack Trace

EventToCommandBehavior.RegisterEvent ()
EventToCommandBehavior.OnAttachedTo (Xamarin.Forms.VisualElement bindable)
Behavior`1[T].OnAttachedTo (Xamari

[2022-09-07 16:40] pictos commented on #1904
@Sylv1nfotec can you turn off the linker for the release mode and see if the app crashes?

[2022-09-08 06:45] Sylv1nfotec commented on #1904
@pictos  it's ok when i turn off the linker in release

[2022-09-08 07:32] Sylv1nfotec commented on #1904
@pictos do you have a solution ?

I have only a trick, with linker on

`
    public class LinkerPleaseInclude
    {
        public void Include(Xamarin.CommunityToolkit.UI.Views.Popup arg)
        {
            arg.Opened += null;
        }
    }
`

[2022-09-08 14:18] pictos commented on #1904
So the linker, sometimes, get confused with xaml code (because it uses reflection), the solution right is to use the code behind code.

[2022-09-09 06:33] Sylv1nfotec commented on #1904
@pictos code behind not resolve the problem

`            var viewmodel = new PopupViewModel();
            this.Behaviors.Add(new EventToCommandBehavior()
                { Command = viewmodel.TestCommand, EventName = nameof(Popup.Opened) });`

[2022-09-09 07:09] Sylv1nfotec commented on #1904
use a LinkerSetting.Xml is also a trick

`<linker>
	<assembly fullname="Xamarin.CommunityToolkit" />
</linker>`

[2022-09-11 02:36] fraarce2021 commented on #1803
In my case I got a personal solution for this issue in the CameraFragment.android.cs in Views/CameraView/Android.
The method GetCaptureOrientation set  a frontOffset when you are using a front camera to record videos, but in my opinion usually the front camera is in the top center of the device dont need apply 90 degree.
![image](https://user-images.githubusercontent.com/64759374/189508416-2efac09

[2022-09-11 02:40] fraarce2021 commented on #1651
In my case I got a personal solution for this issue in the CameraFragment.android.cs in Views/CameraView/Android.
The method GetCaptureOrientation set a frontOffset when you are using a front camera to record videos, but in my opinion usually the front camera is in the top center of the device dont need apply 90 degree.
![image](https://user-images.githubusercontent.com/64759374/189509956-c706021d

[2022-09-11 17:18] jonakirke94 opened #1905 "[Bug] [MauiCompat] TouchEffect not working"
Hi,

I am struggling to get the TouchEffect to work in a brand new Maui project.

### Description

I have created a brand new project and installed the following two nuget packages:

Xamarin.CommunityToolkit.MauiCompat  2.0.2-preview1013
CommunityToolkit.Maui 1.2.0

The app compiles fine and everything else appear to work as intended

I have confirmed that other effects such as `xct:CornerRadiusEf

[2022-09-12 20:59] LeoJHarris commented on #1898
Anyone having this issue as well? Trying to determine the cause if its from the tabview or else where?

[2022-09-13 05:03] andreasbrostencab commented on #1666
Also getting this issue! A fixed version of the toolkit would help alot!

[2022-09-14 04:05] BrendanHadley commented on #1803
Any update on when this will get fixed? still have the issue where it saves wrong even though the preview of the image looks fine.
![testing](https://user-images.githubusercontent.com/99362632/190056951-b1ca04a5-dc30-45a5-a5ce-31ee3ba64fc2.png)
It really just does not make sense to me, must just be a sensor issue that permeates androids or something.

[2022-09-16 08:09] jfversluis opened #1908 "Update pipeline used macOS image"
The build pipeline is telling us that we're using macOS 10.15 which might be going away soon and we should update that.

[2022-09-17 10:36] FedericoNembrini opened #1910 "[Bug] [ShieldView] [Android] ShieldView incorrect height when in grid and with colspan set"
### Description

I have encountered a bug when using the ShieldView.
When in a grid, setting the columnspan cause the height to overflow.

I did some tests by rebuilding the shieldview from scratch and changing some settings to correct this strange behaviour which, as far as i saw, is probably caused by:
1. The use of the margin on the labels
2. The use of the grid with two auto columns and the in

[2022-09-20 09:26] TheSundayDev commented on #1888
hi,
i'm going to prepare a test project, thanks

[2022-09-20 09:50] DavidStrachanLexacom opened #1911 "[Bug] VS2022 Nuget Update package downgrade"
### Description

When trying to install CommunityToolkit 2.0.5 or 2.0.0 I am receiving a package downgrade error:

`Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1605	Detected package downgrade: Xamarin.Forms from 5.0.0.2291 to 5.0.0.2244. Reference the package directly from the project to select a different version.
 <project name>  -> Xamarin.CommunityToolkit 2.0.0 -> Xam

[2022-09-20 09:53] DavidStrachanLexacom commented on #1911
I removed XF 5.0.0.2244, cleared NuGet cache, and the reinstall option was 5.0..2515

[2022-09-20 09:53] #1911 closed

[2022-09-20 09:58] andreybeznosovcab commented on #1766
We have the same problem.
Has anyone managed to fix this somehow or find a workaround?

[2022-09-21 20:43] ahoke-cr opened #1912 "[Bug] Changing CurrentLayoutState back to Custom without changing CurrentCustomStateKey produces blank page"
### Description

Consider a state view with the following states:
* Custom with custom state key "Form"
* Saving

Consider the following sequence of state changes:
1. Custom - "Form"
2. Saving
3. Custom - "Form"

Everything works flawlessly until we attempt the transition from step 2 to 3, where changing from Saving to Custom results in a blank page.

### Steps to Reproduce

1. Create a StateView:

[2022-09-21 22:48] LennoxP90 commented on #1905
I ended up pulling in the source code for the Touch Effect manually into my MAUI project fix some of the errors on compile, and it seems to work fine after doing that also you need to make sure you have
[code]
in your MauiProgram.cs

[2022-09-23 17:52] jonakirke94 commented on #1905
@LennoxP90 Looks good. Would you be willing to share the platform implementations in a gist? I find myself struggling with mapping the new namespaces..

[2022-09-23 18:16] LennoxP90 commented on #1905
It is a lot of files so i just created a repository
https://github.com/LennoxP90/XCTTouchEffectMAUI

[2022-09-25 05:33] anvuks commented on #1268
I believe this was fixed in #1870

[2022-09-29 00:18] jadenrogers commented on #635
I have the same issue but running from Windows. I assumed the compiler would know its not targeting that platform and not try to compile it.

I checked the wiki and there isn't any specifics on getting the samples to build. I am trying to run the android sample on windows and have hundreds on missing name spaces etc related to iOS or Mac

![image](https://user-images.githubusercontent.com/8000621/

[2022-09-29 01:21] pictos commented on #635
@jadenrogers are you trying to compile our project?

[2022-09-29 01:36] pictos commented on #635
@jadenrogers open the lib's `csproj` and remove the `macos` target, that should solve your issue

[2022-09-29 02:05] pictos commented on #635
@jadenrogers any time... Have fun!

[2022-09-29 10:31] julianadormon opened #1914 "[Bug] [MauiCompat] Xamarin.CommunityToolkit.MauiCompat CameraView produces Android No view found for fragment CameraFragment error"
Thanks in advance!! I'm quite new to XAML so be kind :)

### Description
My requirement is to add a CameraView to a .net Maui app which runs on Android and iOS. I understand that there is no CameraView in the Maui.Community.Toolkit but I was under the impression, which may be wrong, that I could run the Xamarin.Community.Tookit.MauiCompat packages which I'm trying to do in the code below.

### Sta

[2022-09-29 10:36] julianadormon commented on #1914
FYI, I also get the same error trying to debug on a physical Android device.

[2022-09-29 11:27] bijington commented on #1914
I know we have discussed internally that things like CameraView would not be expected to work well if at all in MauiCompat due to complexities and limitations of the compat layer. I don't know if we ever came to a decision on how to make this publicly known - we did discuss marking as obsolete so warnings would present.

Sadly this isn't going to help solve this but I believe the answer is going t

[2022-09-30 00:16] jadenrogers commented on #635
@pictos Is there anyway to chat about the project a bit more. Slack / Discord etc.

What is the intended build environment, is it Mac or do you guys run this on windows. I am still scratching my head as to why I have to remove the targets, I am mac paired etc.

I fired this bad boy up on my mac in VS for Mac 2022 and I get 12 "Possible null reference" CS8602 & CS8604 errors.

Is this something wro

[2022-09-30 00:19] pictos commented on #635
@jadenrogers yeah, we have a discord channel in the .net server.
Here's the [link](https://discord.gg/8BHUQj7R)

[2022-09-30 01:18] pictos opened #1915 "[♻Housekeeping] Added more null checks and make Roslyn happy"
For some reason, the CI didn't fail for the missing null checks in the code, but it fails locally. So let's fix that and make the compiler green again \o\\\o//o/

[2022-10-02 01:23] #1915 closed

[2022-10-04 18:57] FedericoNembrini commented on #1900
Have you tried with the property "AutoHide"?

As per documentation "Gets or sets if the badge should be hidden automatically when the value is "0". This is a bindable property."

If it doesn't work with that property it is probably due to a bug. I have a similar problem.

[2022-10-05 14:12] dvPineda opened #1918 "[Bug] TabView enters in an infinite loop when tapping two unselected tabs at the same time"
### Description

Sometimes when tapping two tabs which are not the current SelectedIndex one, the app enters in an infinite loop where the views are rapidly changing.

### Steps to Reproduce

1. Create an app with more than 3 TabViewItems in the TabView (I have 4)
2. At the same time, tap on two unselected tabs
3. Check that the TabView carousel enters in a loop mode

### Expected Behavior
The Tab

[2022-10-07 12:27] sigmarsson commented on #560
@adammeaney , haven't checked your code. do you harness ```Frame``` class in your project ?

[2022-10-08 15:28] huyvuskedulo commented on #1612
Let me explained the problem a little bit more.

The Aspect mode which CameraView is using is actually like AspectFill in Image view, so the Camera Preview View is actually cropping the the actual image it will take to fit the given view port, which is not always the desired result. Instead, the CameraView should have a Aspect property like AspectFill and AspectFit and let the developer decide if

[2022-10-08 18:28] officialdedsec opened #1921 "how to add return value in xamarin picker option"
hey i want to know how i can return a value in picker option.

this is my code:

namespace App1 { public partial class MainPage : ContentPage {

    List<courses> myData = new List<courses>();

    public MainPage()
    {

        InitializeComponent();
// i dont want to use This its working fine

       MainPicker.Items.Add("String");

// Currently using this in my app but now i want when i selec

[2022-10-10 19:12] DenisLaky opened #1922 "[Bug] Fix Local Image is not working in AvatarView (iOS Platform)"
### Description

When AvatarView is used with iOS xcassets  it displays Text value instead of image, while the same image is displayed in Xamarin.Forms.Image control.

### Link to Reproduction Sample

The same issue is described in related android bug: https://github.com/xamarin/XamarinCommunityToolkit/issues/1025

### Expected Behavior

Image resource from xcassets is visible in AvatarView

### A

[2022-10-10 19:52] pictos commented on #1922
Hello @DenisLaky,
Could you attach a small repro?

[2022-10-11 07:27] thisisthekap opened #1923 "[Bug] [Android] MissingMethodException: No constructor found for Xamarin.CommunityToolkit.Android.Effects.PlatformTouchEffect+AccessibilityListener::.ctor(System.IntPtr, Android.Runtime.JniHandleOwnership)"
### Description

This happens sometimes in production when the app was sent to background or resumes from background. I suppose that the system tries to restore an instance of AccessibilityListener using the specified constructor. This may be fixable by adding this constructor while doing the appropriate base call.

### Stack Trace

[code]

### Link to Reproduction Sample

Unfortunately not reprod

[2022-10-11 09:34] ncunning opened #1925 "[Bug] TabView - TabIndicator is Hidden Behind Content when setting Background using Visual State Manager"
### Description

TabView - TabIndicator is Hidden Behind Content when setting Background using Visual State Manager

### Stack Trace
N/A

### Link to Reproduction Sample

### Steps to Reproduce

1. Run Xamarin Community Toolkit Sample Project
2. Try and Set the TabIndicator within the xct: TabView:
i.e
            TabIndicatorColor="Yellow"
            TabIndicatorHeight="10"
            TabIndica

[2022-10-11 13:00] DenisLaky commented on #1922
@pictos Done.

[2022-10-11 13:03] pictos commented on #1922
@DenisLaky I can't see the link to the github repo that reproduces your issue... Maybe you forgot to add in the last edition?

[2022-10-11 13:04] pictos commented on #1923
@thisisthekap can you please create a repro project and share the github's link with us?

[2022-10-11 13:17] thisisthekap commented on #1923
@pictos Unfortunately, the issue is not reproducible.

[2022-10-11 13:39] pictos commented on #1923
But in the description, you mentioned when the issue happens, and how to reproduce it 🤔

[2022-10-11 18:50] thisisthekap commented on #1923
As stated it happened in production. Our reporting gave us the data to figure out the user actions that were made.

[2022-10-11 21:57] mrbelk commented on #1764
I'm guessing there hasn't been any movement on this issue since April? I have encountered it myself testing some nested popups in iOS 16.

[2022-10-12 10:21] radoczsandor commented on #937
Hello!

If someone still facing this, I did the following workaround in my application:
Since I was using `grid` it has the option to set the Row/Column definitions height or width to `auto` (but it is also works with fixed sizes).

Once you set these sizes use this code in the Popup page constructor:

`this.Size = new Xamarin.Forms.Size(300, this.YourElement0.Height + this.YourElement1.Height + t

[2022-10-12 17:32] Deepfreezed commented on #1922
I have similar issue data binding through viewmodel. Same databind to a Image work. AvatarView in a collection view  datatemplate works but for some reason straight databind does not work. If I hardcode the dinding property on viewmodel init, it works.

Going back to image with CornerRadius, not time to fiddle around with random errors.

[2022-10-12 18:52] pictos commented on #1922
@Deepfreezed can you share the link to the repro?

[2022-10-13 13:44] thisisthekap commented on #1923
@pictos Any suggestion on how to proceed with this issue and the related PR?

[2022-10-13 14:09] pictos commented on #1923
@thisisthekap I'll review your PR on my end ASAP, then it will be approved and merged

[2022-10-13 14:10] thisisthekap commented on #1923
@pictos Awesome! Thank you very much!

[2022-10-13 22:00] #1921 closed

[2022-10-14 02:08] pjsoftcoUser opened #1927 "Xamarin form Community toolkit Media element Controls Not showing up in iOS 16"
MediaElement: ShowsPlaybackControls="True" not showing controls in IOS, please fix!
![image](https://user-images.githubusercontent.com/4211206/195745717-b1b0756b-2bae-4e22-b595-f81a153fd6d2.png)

[2022-10-14 07:43] TheSundayDev commented on #1888
hi all.
the problem is this: xct:IconTintColorEffect.TintColor="#039BE5"
just need to have a page with this:

<ContentPage.Content>
        <StackLayout>
            <ffimageloading:CachedImage DownsampleToViewSize="true"   WidthRequest="30" HeightRequest="30" VerticalOptions="Center" HorizontalOptions="Center"  Source="ok.png" **xct:IconTintColorEffect.TintColor="#039BE5"**   ></ffimageloading:Ca

[2022-10-14 09:50] scotch83 commented on #1091
still happening on 1.3.2. The workaround seems to fix it.

[2022-10-14 11:55] bijington commented on #1888
I suspect it is because the FFImageLoading implementation is not of type `Image` as per this line https://github.com/xamarin/XamarinCommunityToolkit/blob/299fac61a991d5ed0aac925b07e404fcb22c6f3e/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/IconTintColor/IconTintColorEffectRouter.ios.cs#L92

The toolkit cannot know about specific things from another library. We could check to see if the El

[2022-10-14 12:16] bijington commented on #1927
@pjsoftcoUser we have a template that asks for a lot more information to aid understanding what the issue is and ultimately be able to reproduce it. Can you please use that template to provide the information that we require?

[2022-10-14 16:09] pjsoftcoUser commented on #1927
Xamarin forms V5.0.0.2515

IDE: VS2022

Control: xamarin.communitytoolkit.ui.views.mediaElement

Version: xamarin.communityToolkit 2.0.5

Android works just fine

IOS not showing the control panel for the video, testing on latest IOS 16.

Let me know if you need more info.

[2022-10-14 19:28] pjsoftcoUser commented on #1927
maybe this is also related:
https://developer.apple.com/forums/thread/711360

[2022-10-17 12:35] unamed000 opened #1930 "[Bug] Android MediaElement show very small"
### Description

When using MediaElement to play video, some video are very small, especially the video record from Front camera (on real device and emulator) while using with Aspect=AspectFit

This is weird because from what I see, the video can be expanded to be full width with the given size.

![image](https://user-images.githubusercontent.com/10647722/196177490-06462d7b-640c-4471-bacf-995ce910

[2022-10-17 21:37] LeoJHarris opened #1931 "TouchEffect not working when Visual = VisualMarker.Material;"
Appears to be an issue that the xct:TouchEffect.Command does not work when `Visual = VisualMarker.Material;` is enabled and when adding the command as the follows with combination with xct:TouchEffect.NormalBackgroundColor and xct:TouchEffect.PressedBackgroundColor the touch effect is lost.

[code]

[2022-10-18 09:33] Hanisafa opened #1932 "[Bug] CollectionView inside TabViewItem not showing content on iOS"
### Description

in IOS , When having  a CollectionView  inside TabViewItem  , the content of the CollectionView   is not visible the fist time the page laod , you need to navigate to other page and then navigate back to be visible .
please note that the  CollectionView  it self is visible , but  it don't Render/draw its item template

please  note that ListView work fine
please note that this bug

[2022-10-18 13:36] mcferdev commented on #724
I am having this issue.... Any solution?

[2022-10-19 17:16] fbcom92 commented on #1927
Same problem for me. Ok for Android, but no controls at all on IOS16 and Xcode 14.

[2022-10-20 20:33] xamiell commented on #1932
Same problem

[2022-10-24 08:08] TheSundayDev commented on #1888
Hi guys, any news on this? thanks a lot for your help!

[2022-10-24 18:17] pictos commented on #1888
Can you please provide a repro?

[2022-10-25 08:14] TheSundayDev commented on #1888
[Test.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/9858386/Test.zip)
Try this, thanks

[2022-10-25 14:06] pictos commented on #1888
Thanks @TheSundayDev but we aren't downloading zip files. Can you push it to github and share the link?

[2022-10-25 22:51] fbcom92 commented on #1927
@bijington, can you update this one please ?

[2022-10-26 10:33] mcferdev opened #1935 "[Bug] HexLayout - xct:HexLayout.Row not working"
### Description

When following your example of HexLayoutPage, the properties of xct:HexLayout.Row and for Collumn, doesn't exist.

### Link to Reproduction Sample

### Steps to Reproduce

1. Add the CommunityTool package and reference it
2. Create xct:HexLayout
3. Try to set Rows and Collumns of elements setting xct:HexLayout.Row or xct:HexLayout.Column

### Expected Behavior

Could set the prope

[2022-10-26 10:46] mcferdev opened #1936 "[Bug] MediaLayout example with Slider. Slider not moves in iOS, like the binding for Buffering is not working"
### Description

Slider don't start when video starts in iOS

### Steps to Reproduce

1. Add the xct package
2. Open the CaroulselView with MediaElements
3. Video Starts, but Slider don't in IOS

### Expected Behavior

Slider runs while Buffering in both platforms.

### Actual Behavior

Just runs in Android. In iOS it remain paused.

### Basic Information

- Version with issue: XCT 2.0.5 and XF 5.

[2022-10-26 11:08] mcferdev commented on #1932
His problem is related just on iOS.
I have the same problem but using CaroulselView.

[2022-10-27 09:00] bijington commented on #1888
Thanks for the repro. I'll aim to take a look at this over the next week

[2022-10-27 09:53] luissagasta commented on #1905
@LennoxP90 thank you for sharing your workaround!

[2022-10-28 05:30] stevetranby commented on #1927
Can confirm that the same build of an app running on iOS 15 works displaying controls, but running on iOS 16 the controls are not visible. The play/pause functionality still works if you touch right in the center of the video. Possibly the controls are just hidden even if they're active?

[2022-10-28 10:10] fbcom92 commented on #1927
@stevetranby I agree with you, with a little patience you can play with the slider at the bottom of the screen. So the controls are active, but not visible.

[2022-10-28 16:44] pjsoftcoUser commented on #1927
No attention from them yet!!!

[2022-10-28 17:32] bijington commented on #1927
I do believe a similar issue has been observed while adding in the Media playback functionality for the MAUI Community toolkit. I suspect whatever fix is introduced there will likely make its way over to this toolkit but I don't know when that would be.

It's correct that the team doesn't have the bandwidth to cover everything in the XCT so we sadly can't fix everything and certainly not quickly.

[2022-10-29 23:06] fbcom92 commented on #1927
Hi @bijington, and thanks for your kind answer.
And as the C stands for Community, you will be pleased to know that if you had " Shell.PresentationMode="ModalAnimated", the controls are visible on IOS16. For what it's worth.

[2022-10-31 10:30] thisisthekap commented on #1923
Hi @pictos!

Are you able to provide a rough estimate when my PR is going to be reviewed?

[2022-10-31 12:13] FingerMoonSoftware commented on #1715
Yes, setting the speed to 0 fixed it for me.

[2022-11-01 16:03] zleao opened #1937 "[Bug] [DrawingView] [UWP] Initial bind is not drawn and lines with single points are never drawn"
### Description

Found 2 bugs in the DrawingView for UWP (also found how to fix them)
1. If we have lines bound to the control at creation time, these lines are not drawn
2. Line with single points are never drawn. I guess there's some issue in the UWP.InkCanvas when drawing single points.

### Link to Reproduction Sample

[Sample](https://github.com/zleao/XCT.DrawingView.SinglePoints)

### Steps

[2022-11-04 01:48] mroseberry99 opened #1938 "Zoom 0.5x doesn't work"
### Description

Most modern device cameras allow for 0.5x zoom.  Latest Xamarin Toolkit doesn't seem to support that.

### Steps to Reproduce

1.  Set Zoom to 0.5
2.  Run in App

### Expected Behavior

The View should show the "soon to be captured image" at 0.5x

### Actual Behavior

The View shows same as Zoom 1x

### Basic Information

[2022-11-04 16:05] DenisLaky commented on #1922
@pictos I have specified steps to reproduce in Steps to Reproduce section. What link do you need?

[2022-11-04 22:14] pictos commented on #1922
@DenisLaky we don't have too much time available to create a reproduction following the steps, the steps are more a guidance to us to reproduce the issue using a sample project, that reproduces the issue. So, if you can create the a sample project, upload it to the github and share the link here, we can prioritize this issue (:

[2022-11-11 22:46] Zenijin opened #1939 "IconTintColorEffect - Can't remove the tint, and removing the effect entirely prevents tinting the icon again"
I've tried a number of different ways to just clear the tint and get back the original image, and then still be able to apply a new tint later, but nothing I've tried has been working for me.

`IconTintColorEffect.SetTintColor(view, Color.Default);`
This just gets treated the same as if I had used `Color.Transparent`, and turns the image completely transparent.

`view.Effects.Remove(view.Effects.F

[2022-11-13 10:22] acaliaro commented on #1904
Hi @Sylv1nfotec , does this resolve the problem? Where should I use this line?

[2022-11-15 01:47] kdgilang commented on #1854
experiencing the same issue using Xamarin Form 5.0.0.2515 with Xamarin community toolkit 2.0.5

[2022-11-15 02:01] sunkerGit commented on #1854
for XF 2478 the issue is resolved but when we are upgrading to XF 2515 & XCT 2.0.5 the issue for the tab out of the screen is appear again. @bijington

[2022-11-17 13:43] bijington commented on #1803
@BrendanHadley I believe @jfversluis has a potential fix added at #1871 but was hoping for someone to verify it solves the issue. Are you able to assist him?

[2022-11-17 13:44] bijington commented on #1268
Yes it looks like you are right @anvuks thanks.

[2022-11-17 13:44] #1268 closed

[2022-11-18 19:53] aidandobkins commented on #1893
I have noticed this happening when the BackgroundColor is set to Transparent. The lines are not being removed, but they are being drawn over with the BackgroundColor. If it's transparent, nothing draws over them. This is not the case on 2.0.0

[2022-11-21 16:22] thirdprize opened #1941 "[Bug] NETSDK1136: The target platform must be set to Windows (usually by including '-windows' in the TargetFramework property) when using Windows Forms or WPF, or referencing projects or packages that do so. (NETSDK1136)"
Full error is

/usr/local/share/dotnet/sdk/5.0.408/Sdks/Microsoft.NET.Sdk/targets/Microsoft.NET.Sdk.DefaultItems.Shared.targets(5,5): Error NETSDK1136: The target platform must be set to Windows (usually by including '-windows' in the TargetFramework property) when using Windows Forms or WPF, or referencing projects or packages that do so. (NETSDK1136) (GalleryLib)

I am getting an error when work

[2022-11-22 01:40] aidandobkins commented on #1893
After implementing a custom renderer, the error seems to be cleared up when readding "PorterDuff.Mode.Clear!" to the drawing of the background to the canvas in LoadLines() in the android renderer.

[2022-11-23 15:37] boris-df commented on #1695
V2.0.5 (the latest available right now) still has this rotation problem on Android (works fine on iOS!)

Problem: not only photos are rotated wrong - but videos too!
AFAIK we could write a file with different EXIF-Values (which in turn might cause problems with other app that open such files - because not every app is looking into the exif data to rotate correctly!) - but this won't work with Vide

[2022-11-27 17:25] ShortStack622 commented on #1932
I am also having this problem...

I have tried directly having the collectionview inside the tabviewitem.... I also set it as a content view and it will not show.