[2020-09-15 08:20] #284 closed

[2020-09-15 18:47] dansiegel opened #312 "[Spec] Gravatar Image Source"
# GravatarImageSource

It is fairly common for apps to want to use a Gravatar Image based on a User's Email. The Toolkit should include a GravatarImageSource. This is something I've already got in my toolkit but am happy to contribute to the CommunityToolkit.

# API

## DefaultGravatar (enum)

### Values

- FileNotFound
- MysteryPerson
- Identicon
- MonsterId
- Wavatar
- Retro
- Robohash
- Blank

[2020-09-16 08:26] #297 closed

[2020-09-16 08:30] jfversluis opened #313 "[Bug] CommandNotExecutesYetBeforeTimeThresholdExpires test fails randomly"
### Description

The `UserStoppedTypingBehavior_Tests.CommandNotExecutesYetBeforeTimeThresholdExpires` test seems flaky. Probably some race condition?

I've noticed a couple of times the build will fail on this one while re-running it without any changes made it succeed. I.e.: https://github.com/xamarin/XamarinCommunityToolkit/pull/311/checks?check_run_id=1115322568

We need to have a look at that

[2020-09-16 08:35] #295 closed

[2020-09-16 09:46] jBijsterboschNL commented on #313
@jfversluis, this has probably something to do with the test execution time. When the threshold is set to 1000ms, this test awaits 900ms to check whether the command has not been executed yet. Unsure why the test assertion is taking more then 100ms, but I could change this test to not wait 900ms (which is only 100ms less then the user stopped typing threshold setting), but not wait at all or wait

[2020-09-16 10:02] #299 closed

[2020-09-16 23:26] pictos opened #314 "[Bug] Fixed warnings from code style"
This is a housekeeping task. Is to reduce the number of warnings in the project.

[2020-09-17 09:02] #314 closed

[2020-09-17 23:12] pictos commented on #300
@acuntex can you confirm if this still happens?

[2020-09-18 10:46] acuntex commented on #300
@pictos Yes, it's still happening.

It's also interesting that in the sample if you switch to Front Camera and then from Video to Photo, the camera image is suddenly zoomed in.

[2020-09-18 13:05] Depechie commented on #300
I face the same issue... also on a Samsung SM-G950, the preview with zoom 1 is still more zoomed in than the actual picture taken.

[2020-09-18 22:47] #272 closed

[2020-09-21 18:05] vsfeedback opened #318 "How can I get URI to use in MediaElement?"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1170227/how-can-i-get-uri-to-use-in-mediaelement.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
I would like to know what websites offer the option of inserting an mp3 file I get the URI that I can use in MediaElement according to your tutorial here https

[2020-09-21 18:05] vsfeedback opened #319 "The tutorial 'ElementMedia' you shared doesn't work"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1173127/the-tutorial-elementmedia-you-shared-doesnt-work.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
I ran into problems while I was creating an mobile app in Xamarin Forms. The tutorial you shared here " https://docs.microsoft.com/pl-pl/xamarin/xamari

[2020-09-21 18:05] vsfeedback opened #320 "The sample file you shared doesn't work"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/content/problem/1173129/the-sample-file-you-shared-doesnt-work.html)._

---
[severity:I'm somewhat annoyed. A fix would be nice]
The file you shared here https://docs.microsoft.com/pl-pl/samples/xamarin/xamarin-forms-samples/userinterface-mediaelementdemos/  doesn't work. There is a proble

[2020-09-21 21:29] AndreiMisiukevich commented on #176
I guess we will go ahead with two separate converters approach for now.

[2020-09-21 21:29] #176 closed

[2020-09-23 09:27] adenearnshaw commented on #142
Now that the project logo is formalized, I'd like to pick this up.

[2020-09-23 09:27] jfversluis commented on #142
As I know @sthewissen is low on time, I'm sure he doesn't mind Aden doing this. So doing an assigned switch!

[2020-09-23 10:38] sthewissen commented on #142
Go for it @adenearnshaw !

[2020-09-23 12:53] SirJohnK opened #329 "[Bug] Expander - System.ArgumentException: 'NaN is not a valid value for Height'"
### Description
When tapping the Expander header, mostly in rapid order, I get a System.ArgumentException  'NaN is not a valid value for Height'.

### Steps to Reproduce

1. ContentPage with a Grid with a ScrollView with a StackLayout with BindableLayout.ItemsSource.
2. BindableLayout.ItemTemplate with a DataTemplate with the Expander control.
3. ItemSource has multiple items.
4. Tap First Expande

[2020-09-23 20:08] Tommigun1980 opened #328 "[Bug] Xamarin Community Toolkit NuGet is unlisted"
I just updated to Xamarin.Forms 5 pre-1 and was using the expander component. The release notes say it has been moved to the Xamarin Community Toolkit. However, the NuGet pre-release link referenced from the Toolkit's page, https://www.nuget.org/packages/Microsoft.Toolkit.Xamarin.Forms, says that packages are unlisted.
Could this be fixed so I can test Xamarin.Forms 5?

Thanks.

[2020-09-23 20:19] Tommigun1980 opened #323 "[Bug] Safe area effect restoring issue"
Hi and thanks for a great project.

When I was browsing the code I noticed the following in https://github.com/xamarin/XamarinCommunityToolkit/blob/main/XamarinCommunityToolkit/Effects/SafeAreaEffectRouter.ios.cs - when the effect is detached it assigns a margin that in some cases has not been assigned (old iOS versions etc), so you might want to keep track of whether the initial margin edit actua

[2020-09-23 20:50] Tommigun1980 opened #325 "[Bug] Outdated NuGet link in landing page"
https://github.com/xamarin/XamarinCommunityToolkit references https://www.nuget.org/packages/Microsoft.Toolkit.Xamarin.Forms while the correct link seems to be https://www.nuget.org/packages/Xamarin.CommunityToolkit.

This should imho be fixed asap as preview-1 of Xamarin.Forms 5 was just released, and its upgrade notes references https://github.com/xamarin/XamarinCommunityToolkit as an upgrade pa

[2020-09-23 23:02] #325 closed

[2020-09-24 04:20] AndreiMisiukevich commented on #328
@bmacombe @Tommigun1980 is this ticket completed?

[2020-09-24 09:58] rmarinho commented on #329
Hi @SirJohnK we moved the Expander for the XamarinFommunityToolkit, so i moved your issue here to be better tracked.

[2020-09-24 10:00] rmarinho commented on #330
Hi @davidbritch we moved the MediaElement to XamarinCommunityToolkit , so i transfered the issue to the right repo.

[2020-09-24 11:32] bmacombe commented on #328
Yes

[2020-09-24 11:33] #328 closed

[2020-09-24 23:14] Hackavist commented on #138
Hello, will this issue be available for Hacktoberfest ?

[2020-09-24 23:19] Hackavist commented on #171
Hello, Is this issue up for grabs?  I would like to implement it

[2020-09-26 02:06] pictos commented on #293
@brminnick can we close this one?

[2020-09-26 02:16] brminnick commented on #293
Has XamarinCommunityToolkit increased its Xamarin.Forms dependency to Xamarin.Forms v5.0 yet?

[2020-09-26 02:17] pictos commented on #293
I don't think so, I asked because the two PRs mentioned were merged.

[2020-09-27 03:44] jingliancui opened #333 "[Enhancement] Separate Controls from XamarinCommunityToolkit for keeping slim"
## Summary

As XamarinCommunityToolkit is growing, It will become bigger and bigger.
For keeping application package and the lib slim, may be we can separate the big lib to little libs like this nuget structure:

Xamrin.Forms (base)
--XamarinCommunityToolkit (second)
 ---MediaElement (third)
 ---TabView (third)
 ---... etc ((third))

[2020-09-27 13:58] AndreiMisiukevich commented on #329
Hi) Thanks for the report
So the bug occurs only with zero animation length, right?

[2020-09-27 22:23] ahoefling commented on #333
As far as I understand the linker removes APIs that aren't used when you build your application in release mode. I know this is true for iOS and Android apps. I am not sure how the linker works in tizen, windows, linux, or macOS based apps. If APIs aren't removed on those platforms I can see real value in splitting things out as you suggested.

The Windows Community Toolkit uses this strategy and

[2020-09-28 00:44] jingliancui commented on #333
Got it, Almost forget linker feature.

[2020-09-28 01:35] pictos commented on #285
@bmacombe do you think that we need Commands for `MediaCaptureFailed`, `MediaCaptured`, `OnAvailable`?

For `OnAvailable` I think that dev can use the `IsAvailable` property to track it.
For the others and don't like too much the idea of having a Command with an argument, because we need to make the property strongly typed, something like

[code]

And this can be very confusing for the users. If y

[2020-09-28 02:18] pictos commented on #333
@jingliancui This lib is linker safe, this means that if you use your Linker at `assembly and SDK only` level, the XCT will be linked. You can see the PR here #210

[2020-09-28 05:39] jessejiang0214 opened #335 "[Bug] MediaElement will crash when page popup"
### Description
The App will crash when leaving the page which has MediaElement.
### Steps to Reproduce

1. Use the MediaElement demo https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/userinterface-mediaelementdemos/
2. Launch the App goto Custom Transport page
3. Click Play and pause a few times and then click stop, then go back the front page

### Expected Behavior
The App s

[2020-09-28 05:40] jessejiang0214 commented on #335
moving from https://github.com/xamarin/Xamarin.Forms/issues/11412

[2020-09-28 08:00] SirJohnK commented on #329
Yes, it seems like it. I wanted a non animation expansion, but a really low "AnimationLength" will also do the trick! 👍

[2020-09-28 08:05] AndreiMisiukevich commented on #329
Then We should coerce the value to be not less than 1)

[2020-09-28 12:21] jingliancui commented on #333
@pictos  Great, make sense of it.

[2020-09-28 20:51] #142 closed

[2020-09-29 12:57] #196 closed

[2020-09-29 19:17] #197 closed

[2020-09-29 20:41] VladislavAntonyuk commented on #278
@jfversluis what do you think about adding support for Tizen, GTK?

[2020-09-29 23:08] AndreiMisiukevich commented on #260
Do we still want to implement toasts if we have Snackbar?

[2020-09-29 23:10] roubachof commented on #260
I don't think so... It doesn't even appear in google material design components.
I think Snackbar took over.

[2020-09-29 23:18] djordje200179 commented on #260
I can help you with the code if people think that this feature is useful.

[2020-09-29 23:24] AndreiMisiukevich commented on #260
@jfversluis I guess we need a board for voting 💯 where we would be able to post polls)

Should we bring toast in additional to snack bar or not (As I understand Toast is deprecated)

[2020-09-30 06:07] VladislavAntonyuk commented on #260
Toast ≈ Snackbar - action button. All that you need is not set action and button text

[2020-09-30 07:27] #285 closed

[2020-09-30 07:51] AndreiMisiukevich commented on #260
Then I lean towards closing this issue.
Let's get back to the conversation in the future if there is a need in Toast in addition.

[2020-09-30 07:51] #260 closed

[2020-09-30 08:57] jfversluis opened #341 "Improve CameraView Command support"
Following the discussion (comment can be seen below), we should improve the Command support on the `CameraView` that was just merged. The current implementation only has limited use.

---

@jfversluis @AndreiMisiukevich @pictos
Sorry, but currently this implementation makes no sense.

What's currently implemented could be resolved by a EventToCommandBehavior.

The developer would still have to imp

[2020-09-30 12:06] jfversluis commented on #333
Thanks for the suggestion @jingliancui! Does the linker address your concerns?

I think for now we should be good. In the future I foresee certain controls needing maybe third-party dependencies. I think when that happens we should put that control in a separate library for that reason. As long as that is not the case, I think we can keep everything in one place as much as possible.

Another path

[2020-09-30 12:09] jfversluis commented on #331
I think this makes sense, marked it as a good first issue for newcomers since Hacktober is coming up and the change shouldn't be too hard

[2020-09-30 12:12] jfversluis commented on #329
Will you take this @AndreiMisiukevich? You can definitely say no of course. Just making sure that not everyone is waiting for you to do it

[2020-09-30 12:16] jfversluis commented on #319
Has been some time already since the feedback ticket was opened on the portal, and asked the author again for input on this issue. I will close this for now, can be reopened whenever we get a response and discuss

[2020-09-30 12:16] #319 closed

[2020-09-30 12:17] jfversluis commented on #318
Linked with #319

[2020-09-30 12:17] #318 closed

[2020-09-30 12:18] jfversluis commented on #313
Didn't really see this happening anymore. Closing for now, we can revisit later.

And thanks for the help @jBijsterboschNL !

[2020-09-30 12:18] #313 closed

[2020-09-30 12:18] jfversluis commented on #312
Sorry for the long wait @dansiegel! Sounds good to me, let's do it!

[2020-09-30 12:20] AndreiMisiukevich commented on #329
I will do it

[2020-09-30 12:21] jfversluis commented on #302
Yeah I think I've seen that hardcoded in the code :(

Does it make sense to follow the pattern of MediaPlugin where we can set different sizes? https://github.com/jamesmontemagno/MediaPlugin#resize-photo-size

[2020-09-30 12:24] jfversluis commented on #308
Looking through the comments on the original issue this seems like something people would want. I would like to see a bit more detail on the proposed API though. Would it be possible to create a spec of sorts for this? Is it something you are willing to pick up yourself or up for grabs?

[2020-09-30 12:26] jfversluis opened #343 "[housekeeping] Improve the issue templates"
Two things I want to do atm. While I do I will have a look at the rest and see if I can improve some more.

1. Make the instructions on the bug template comments so that when people do not remove them they won't show in the actual issue
2. In the feature-request template add a section asking the author if they are willing to take it on theirselves of they are just raising the idea and anyone can i

[2020-09-30 12:27] jfversluis commented on #329
You are just waiting for October so you can join in Hacktoberfest... 😝

[2020-09-30 12:28] jfversluis commented on #300
Do we think the zoom issue has the same cause? If not, can we open a separate issue for that?

[2020-09-30 12:30] jfversluis commented on #298
Agreed with @bmacombe although I would find it more logical to save an image to the default gallery than some random path. I think that might be a separate new property to arrange that though and either remove this property or make if more configurable by allowing users to set a path of sorts

[2020-09-30 12:31] jfversluis commented on #278
Let's do it. Do you want to add it @VladislavAntonyuk ?

[2020-09-30 12:34] jfversluis commented on #290
I tend to agree. If we are supporting UWP (we do now), macOS and GTK (hopefully in the future) the default might be different amongst different devices. We should look into not initializing over and over again though.

Is this something you have actually seen happening @acuntex or is this an assumption based on the code? I would assume that the OS would not reinitialize when it sees the front came

[2020-09-30 12:35] acuntex commented on #290
@jfversluis I saw it when debugging.

[2020-09-30 13:10] bmacombe commented on #298
I'm good with adding to the gallery, as long as that's a configurable option.

[2020-09-30 13:46] VladislavAntonyuk commented on #278
I saw @AndreiMisiukevich created PR for that. You can reopen it

[2020-09-30 14:01] AndreiMisiukevich commented on #278
feel free to create a new one if you wish 👍

[2020-09-30 14:04] jfversluis commented on #298
I'm a big fan of making as much configurable as possible. So definitely agree!

[2020-09-30 14:26] jfversluis opened #344 "[Bug | Housekeeping] Move Snackbar to right namespace"
Wasn't paying enough attention when merging #261, needs to go into the Views one

[2020-09-30 14:27] jfversluis opened #345 "[Enhancement | Discussion] Look into using XmlnsDefinition"
@dansiegel proposed to use `XmlnsDefinition` to make it easier to consume this library. Thoughts? Pros? Cons?

[2020-09-30 14:55] dansiegel commented on #345
Adding the XmlnsDefinitionAttribute to the assembly really is super easy as all we're talking about is adding this to the shared AssemblyInfo

[code]

Probably more thought should go into what that namespace should be. For virtually every Xamarin.Forms library out there I would suggest they have their own unique namespace... so you might have:

[code]

Given the more official state of the Communit

[2020-09-30 15:56] DennisWelu commented on #333
I think the linker goes a long way for keeping the end bits light and so less is better in general.

I was looking at the recently added Command implementations and my first thought was that anything that doesn't need to have a Xamarin.Forms dependency maybe should be split. So you have UI stuff and non-UI stuff. But then looking at what the rest of the toolkit contains it's all pretty tied to XF,

[2020-09-30 16:00] DennisWelu commented on #333
Although I should add...the ObservableRangeCollection sure is a handy class and it is not tied to XF. Would be nice to have available in projects that don't have XF dependencies. If more and more of those types of utilities are created it adds merit to a split.

[2020-09-30 23:07] pictos commented on #344
@jfversluis can I ask you to fix the analyzer warnings? If you aren't able to do it I can open a PR later.

[2020-10-01 02:35] ionixjunior commented on #331
I'd like to work on that.

[2020-10-01 03:27] ahoefling opened #348 "[Spec] FormattedText Attached Effect for Entry"
# FormattedText Attached Effect for Entry
Add a `FormattedText` attached effect for the `Entry` control. This will allow the Text of an Entry to use `Span` controls to specify custom styling.

# API

## FormattedTextEffect
The `FormattedTextEffect` is an attached effect that applies the formatting to the native `Entry` control.

### Properties

| API | Description |
| ------------- | -------------

[2020-10-01 03:38] ahoefling commented on #345
Thanks for explaining this @dansiegel this is something I was not aware of. While I personally like the idea of having separate namespaces for Xamarin.Forms vs the Toolkit I think it would make sense to include in the standard Xamarin.Forms namespace as you suggested.

Making it a natural extension of Xamarin.Forms will make this toolkit easier for developers to start using and create a low barrie

[2020-10-01 03:42] ahoefling commented on #333
@DennisWelu I added ObservableCollection range manipulation APIs to the BCL but it was pulled before release .NET Core 3 because of problems with WPF downstream. I am hoping I can get it implemented for .NET 6.

[2020-10-01 07:28] AndreiMisiukevich commented on #331
Perfect :) Looking forward to reviewing a PR

[2020-10-01 07:34] AndreiMisiukevich commented on #348
Sounds interesting!) Are there any ideas on how to implement it?

[2020-10-01 11:04] #343 closed

[2020-10-01 11:22] peterfoot commented on #330
I have a partial solution to this and can finish it off and create a pull request. Getting the value via databinding is relatively straightforward (internally it still has to poll), but implementing setting the position without creating a loop of seek requests was more painful.

[2020-10-01 13:44] ahoefling commented on #348
@AndreiMisiukevich

I have the implementation for Android ready to contribute. I built this exact specification for a project I am currently working on and it came out really nice. I don't have the iOS or UWP implementation but I think those will have similar implementations.

For Android the `EditText` control takes a `Text` property to display the content in the input control. This can use the A

[2020-10-01 14:19] ahoefling commented on #292
@dansiegel thank you for the questions, there are all valid concerns that have been answered on phone calls and other threads. I really should have documented the why in the description

As far as I understand Rg.Plugins.Popup does not use native popups but composite controls to simulate a popup. This control is 100% native giving developers the native look and feel

Using transparent backgrounds

[2020-10-01 15:21] AndreiMisiukevich commented on #292
Awww, wow. That's awesome) I definitely want to see it in the toolkit :)

[2020-10-01 15:33] dansiegel commented on #292
@ahoefling yep.. I wasn't really against it... but thought it would be good just to address the elephants in the room... looking forward to seeing this added :)

[2020-10-01 15:46] ahoefling commented on #292
@dansiegel thank you for addressing those questions. While I have answered those questions several times, they have happened on phone calls or in chat and not here on GitHub. It is really important to get the visibility to the GitHub issues for consumers of the project or people that aren't involved in those conversations.

[2020-10-01 23:03] pictos commented on #345
I really like the idea to have the same namespace for both XF and XCT... But this can be trickier for devs that aren't aware of XCT, imagine that situation, that dev copy code from the internet and that code is something like:
[code]
If the dev doesn't have the XCT installed the project will fail without a good error message.

[2020-10-01 23:30] dansiegel commented on #345
@pictos keep in mind that there is lots of code on StackOverflow showing use of Xamarin.Forms.Maps without a unique namespace alias. If someone sees it's not there I think a quick search or SO comment would solve any questions.

Personally for the toolkit I think a low barrier to entry is highly desirable. Something that is just install a NuGet and then use whatever you need would help make the to

[2020-10-01 23:51] pictos commented on #345
You have a (good) point

[2020-10-02 13:33] SABlyu opened #355 "Top level of CameraView receives wrong video file path [Bug]"
### Description
when you capture a video file using CameraView, after the file gets data it's path is overwritten with newly created file path. After that the new file path is returned to the top level as it was the captured (with actual data) file path.

### Steps to Reproduce

1. start recording a video
2. stop recording a video
3. try to read the file content by the returned path (on CameraView

[2020-10-02 18:38] LucioMSP commented on #301
I will be taking responsibility for this issue. #Hacktoberfest

[2020-10-02 18:42] djordje200179 opened #358 "[Enhancement] Multi-column picker"
## Summary

Sometimes developers want to use a single picker to pick multiple values.

**Examples**
	1. Credit card expiration date uses Months and Years columns and you can't use `DatePicker` because it has an extra column (column for Days is not needed)
	2. US Height measurement system uses feets and inches, and they usually use values between 0 and 12, so this simple picker could be useful.

**

[2020-10-02 19:16] bmacombe commented on #265
Hey @jfversluis, I didn't purposely wait for Hacktoberfest to start working on this, just got buried with other work.  But now that it's here and my other work is going down a bit, I'll plan to work on this if it's approved?

[2020-10-02 19:17] ahoefling commented on #358
This seems useful, but I am not sure if it makes sense to have 2 competing controls in the toolkit.

Android: AlertDialog with NumberPickers
UWP: Flyout with ListBoxes
iOS: UIPickerView

The Popup Control #292  uses the exact same native controls for both Android and UWP. Once we have the Popup Control, it should be simple to include the specific logic you are requesting as shared Xamarin.Forms co

[2020-10-02 19:22] bmacombe commented on #265
I'll do some experiments and then create a formal spec.

I'm thinking subclass of TemplatedView or behavior to attach to a TemplatedView or ContentControl

[2020-10-02 19:26] djordje200179 commented on #358
You could ask exactly same question about built-in `Picker` control...

This is used as extended `Picker` and it uses native controls... unlike situation in which you used new `Popup` control and created your own view that would be preety complex and it wouldn't be so easy to transfer data between `Entry` and `Popup`

[2020-10-02 21:45] pictos commented on #138
We already have some `ColorHelpers` in XE as you can see [here](https://github.com/xamarin/essentials/blob/main/Xamarin.Essentials/Types/ColorConverters.shared.cs). So we can see if this feature fits better in XE or here. If fits better here we can bring what we already have in XE to here and add more features.

[2020-10-02 22:01] #344 closed

[2020-10-03 00:22] ahoefling commented on #358
@djordje200179 Thank you for updating the description with more screenshots and explanation of your proposal. Originally I thought it was a **Multi-Line** control that added multiple entry controls to a popup. As opposed to a date/year picker or feet/inches picker that has 2 vertical pickers the user can scroll through at the same time. I am not sure if this control is a common control that makes

[2020-10-03 02:00] AndreiMisiukevich commented on #286
Hi, thanks for the report )

Does it cause some kind of unexpected app's behavior?

[2020-10-03 07:03] developer9969 opened #362 "[Enhancement] Bottom Sheet/drawer feature request"
## Summary
Hi all,
Fantastic that now we have this toolkit!!!
Many applications today have ability to show Bottom Sheet/drawer  see pic below
![image](https://user-images.githubusercontent.com/16970109/94985430-94fb0980-054e-11eb-9591-8ba199452d84.png)

David Ortinau  created a small sample here
https://github.com/davidortinau/SampleBottomDrawer

![image](https://user-images.githubusercontent.com/

[2020-10-03 11:23] zack7891 commented on #362
This would be great to add to the toolkit I might just take this on.

[2020-10-03 13:18] Hackavist commented on #362
I think it would add great value i would like to contribute to it as well

[2020-10-03 14:11] GiampaoloGabba commented on #362
I think we need a spec.
For example, a good bottom-sheet control provides:
- multiple steps
- constraints
- multiple gesture recognizer to work when there is a scrollview inside
- overlay management (background color, click/swipe to close on overlay...)
- ecc...

Also we need to choose if we are using pure forms view or natives (for example on ios putting a UIViewcontroller inside the popup to hav

[2020-10-03 14:12] GiampaoloGabba commented on #362
Here some (iOS) examples of what i'm talking about:

https://github.com/OfTheWolf/UBottomSheet
https://github.com/gordontucker/FittedSheets
https://github.com/hryk224/Bottomsheet

[2020-10-03 14:17] GiampaoloGabba commented on #362
Last thing: there are quite a few implementations of this in github. all of them are using RelativeLayout.
I'm against it: it's slow as hell... soooo please dont use it :)

[2020-10-03 14:17] kichloo commented on #225
@Char0394 How about Hindi? I can do that.

[2020-10-03 14:20] Hackavist commented on #362
i can see what you are trying to do here, I think we can have a bindable property of a view so you can add whatever view you want inside but the idea (what i can't image) is how can we make it resizable like [this](https://github.com/hryk224/Bottomsheet) i get the idea but i can't think of a way to implement it

[2020-10-03 14:24] GiampaoloGabba commented on #362
the difficult thing is too coordinate the steps with the content inside.
Let's see what the maintainers think about this, i'm sure they will come with some super-neat ideas :)

[2020-10-03 14:24] pictos commented on #355
@SABlyu can you attach a small project that reproduces this issue?

[2020-10-03 14:26] Hackavist commented on #362
Sounds Great i am excited

[2020-10-03 16:49] KaranRami commented on #362
I have a similar requirement in my project, and I achieved using Rg popup. It is purely done with what I had available. One can find my sample project on GitHub: https://github.com/KaranRami/CustomAlerts

So meanwhile someone comes with out of the box solution, people can try to fit in with their requirement.

[2020-10-04 04:42] aguevara716 opened #364 "[Enhancement] YOUR IDEA!"
## Summary

## API Changes

## Intended Use Case

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2020-10-04 04:42] #364 closed

[2020-10-04 05:06] aguevara716 opened #365 "[Enhancement] Fluent Builder Pattern For Bindable Properties"
## Summary

I'm personally not a fan of the `BindableProperty.Create` method with its many optional parameters - it is VERY difficult to figure out which parameters you need, which ones you have omitted, etc. I think using a fluent builder pattern would make it easier to create a new `BindableProperty`.

## API Changes

~New class: `BindablePropertyParameters`:~ Edit: removed

~And~ `BindablePrope

[2020-10-04 07:31] roughiain opened #366 "[Enhancement] TopMenu | Bottom Menu"
## Summary

Enhance side menu to be able to slide from any side of the screen.

## API Changes

Rename side menu to Menu or MenuDrawer

[code]

## Intended Use Case
Having a top/bottom menu is  useful when using devices in horizontal orientation

## Who Will Do The Work?

- [x ] Just putting this out there for someone to pick up

[2020-10-04 08:00] jfversluis commented on #365
Thanks for your great suggestion! The C# for Markup extensions should be coming from Forms to the toolkit. Do they do this already?

[2020-10-04 08:01] jfversluis commented on #225
I would say it is @kichloo!

[2020-10-04 08:02] jfversluis commented on #225
Let's hold off on the localization for the time being as we discuss this internally

[2020-10-04 08:17] jfversluis commented on #260
Re:voting. The way that's done on Forms basically is just open an issue/spec and let people vote with the emoji :)

Personally I don't see much added value in adding Toasts additionally in this case

[2020-10-04 09:23] Tommigun1980 commented on #362
These are some components I made a while back that accomplish this:
https://github.com/Tommigun1980/Xamarin.Forms.DragView
https://github.com/Tommigun1980/Xamarin.Forms.SlideView

[2020-10-04 09:27] Hackavist commented on #362
@Tommigun1980 Well done these are really inspiring and good looking all we need now is the maintainers approval

[2020-10-04 09:28] Hackavist commented on #362
@jfversluis can we start the process implementing this issue?

[2020-10-04 09:33] Tommigun1980 commented on #362
Thanks. The DragView judders on Android though, I would have to fix it first in case there's interest in these.

[2020-10-04 09:35] jfversluis commented on #362
@Hackavist I think the idea is great, but I'd like to think a little bit more about the implementation of this before we start diving into this. As far as I am concerned you could start doing this, but don't put too much effort in it just yet.

I'd like to see some kind of a spec on how you would see this working first :) Does that makes sense?

@Tommigun1980 just to be clear, are you OK if people

[2020-10-04 10:22] Hackavist commented on #366
Can you please explain more maybe with an image or a gif

[2020-10-04 10:37] kichloo commented on #225
Is there any problem in the documentation of the Hindi language?

[2020-10-04 11:53] jfversluis commented on #225
Absolutely not @kichloo sorry if I made you think that :)

The thing we are worried about is that with each update of the sample app we also need to update all the languages. Since one person is not able to do that, we have to rely on a number of people to keep the translations up-to-date.

It is very unlikely that the translations will be updated that often, so we were wondering if we should mayb

[2020-10-04 12:23] kichloo commented on #225
@jfversluis No problem! But, I would definitely like to contribute in case this issue moves towards completion.

[2020-10-04 12:48] almirvuk commented on #225
@jfversluis I agree and like that idea. In my opinion, the sample app does not need to be 100% localized. It is fine to have example how to do that and have a couple of different languages there. It will be easier for others to add some languages and for future maintenance. :)

[2020-10-04 13:55] aguevara716 commented on #365
As far as I can tell, no, Xamarin doesn't have a fluent syntax for building an instance of `BindableProperty` - it is simply instantiated through the `Create` method and its huge list of parameters.

[2020-10-04 14:02] roubachof commented on #365
This is a good idea. BindableProperty.Create has poor quality regarding readability.
Instead of the `Create()` method of the `BindablePropertyBuilder`, I would rather use `Build()`, since this is a builder :)

[2020-10-04 14:11] aguevara716 commented on #365
Agreed & updated, @roubachof!

[2020-10-04 14:24] Tommigun1980 opened #367 "[Bug] XCT doesn't build in release mode for iOS - MediaSource/MediaCapturedEventArgs linking fails"
### Description

Xamarin.Forms 5-pre1 is announcing XCT as an upgrade path for certain features that were present in Xamarin.Forms 4. Unfortunately the following error happens when building release builds for iOS:

`/Users/myname/Projects/myproject/MyApp.iOS/MTOUCH: Error MT2101: Can't resolve the reference 'Xamarin.Forms.MediaSource', referenced from the method 'System.Void Xamarin.CommunityToolk

[2020-10-04 14:47] pictos commented on #367
I can confirm the issue

![image](https://user-images.githubusercontent.com/20712372/95018629-58efa380-0637-11eb-9e5c-7b3ed61430be.png)

[2020-10-04 14:49] Tommigun1980 opened #368 "[Bug] XCT doesn't build "Release | iPhone" builds for iOS - AOT fails"
### Description

Xamarin.Forms 5-pre1 is announcing XCT as an upgrade path for certain features that were present in Xamarin.Forms 4. Unfortunately the following error happens when building "Release | iPhone" for iOS:

`/Users/myname/Projects/MyProject/MyApp.iOS/MTOUCH: Error MT3001: Could not AOT the assembly '/Users/myname/Projects/MyProject/MyApp.iOS/obj/iPhone/Development/mtouch-cache/3-Build/

[2020-10-04 14:58] pictos commented on #367
I'm on it

[2020-10-04 16:32] WebDucer opened #371 "[Enhancement] Enum to Boolean Converter"
## Summary

It is often needed to activate / deactivate controls dependent on an Enum value.

## Intended Use Case

[code]

[code]

### As configuration with multiple states

[code]

## Who Will Do The Work?

- [x] I am willing to take this on myself

[2020-10-04 16:48] AndreiMisiukevich commented on #371
**EnumToBoolConverter** ?

it's definitely a good idea.

But how about considering to not stick to "Enum" at all?

StringToBoolConverter or "ValueToBoolConverter" (where value can be whatever: enum, string, int etc.)

[2020-10-04 17:03] WebDucer commented on #371
@AndreiMisiukevich I like the idea. Will see, how to do this type safe (I like type safty 😏 ).

[2020-10-04 17:10] AndreiMisiukevich commented on #371
Also, I guess we should avoid the "Invert" property. We can build two converters instead

- MatchValueConverter
- NotMatchValueConverter

But I am not sure about the name for such kind converter

CC @sthewissen @Char0394 @jfversluis

[2020-10-04 17:35] WebDucer commented on #371
@AndreiMisiukevich How about this naming?
- ValueToBoolConverter
- InvertedValueToBoolConverter
- ValuesCollectionToBoolConverter
- InvertedValuesCollectionToBoolConverter

[2020-10-04 19:01] #329 closed

[2020-10-05 00:25] pictos commented on #371
I think this a good candidate for `Multi-Binding`.

[2020-10-05 00:28] pictos commented on #368
@Tommigun1980 if you run your project using XF 4.8 + XCT packages, does this error occurs?

[2020-10-05 05:16] IainCoSource commented on #366
I'm terrible at images. If you have ever worked with the Telerik side drawer, you can set which of the 4 sides you want the drawer to slide from.  Here is a gif of sorts showing an ios top drawer https://iosexample.com/content/images/2019/07/TopDrawerx.gif

[2020-10-05 05:16] rougiain commented on #366
I'm terrible at images. If you have ever worked with the Telerik side drawer, you can set which of the 4 sides you want the drawer to slide from. Here is a gif of sorts showing an ios top drawer https://iosexample.com/content/images/2019/07/TopDrawerx.gif

[2020-10-05 05:28] WebDucer commented on #371
@pictos If the binding used only one time, yes, multibinding could match the needs. If you need the same condition(s) multiple times, multi binding is too verbose and not type safe.

Multi binding is more for use cases, where you are dependent on multiple (changable) values.

[2020-10-05 13:29] jfversluis commented on #138
@pictos looking at Essentials and this one there is no overlap. Essentials ones are all `FromRgb` etc. While these methods to `ToRgb`.

Also the PR that is opened has a lot of good stuff that is not in Essentials

[2020-10-05 13:41] Hackavist commented on #138
I would like to implement it

[2020-10-05 13:43] jfversluis commented on #138
There is already a PR open @Hackavist so I don't think that is going to work :)

[2020-10-05 13:44] Hackavist commented on #138
okay sorry for the misunderstanding

[2020-10-05 13:56] #341 closed

[2020-10-05 13:57] acuntex commented on #286
It seems to work for now.

But we should keep an eye on it because there is code running, that should not run.
That means:
- Possibility of a side effect
- Performance issues
- More battery usage

Just please please don't let this project fade into "well, it somehow works, so we don't care", but instead focus on quality.

[2020-10-05 14:17] ahoefling commented on #362
Thank you @developer9969 for suggesting this idea. I think it will be a great addition to the platform. Once we merge #292 the implementation of this is trivial. I have built a very similar control using the popup control that is scheduled to be PRed once we support 5.0.0 of Xamarin.Forms

[2020-10-05 14:24] ahoefling commented on #366
Thank you @rougiain for suggesting this issue. I really like it and think it could have a lot of value. I personally find this very similar to #362. They differ enough where I could be convinced either way to have them separate or not.

Currently there is a specification for a Popup Control #292. We are waiting for XCT to support Xamarin.Forms 5.0.0 which will allow the merging of the code which i

[2020-10-05 15:32] pictos commented on #138
@jfversluis yeah, they don't overlap. But my concern is about having a _same feature_ in different packages and this can lead to code duplication in the future. As a mobile developer, I want to have all Color features in one place, that way I don't need to scan different namespaces and/or packages looking for the method that I want. Said that I think we keep the `ColorHelpers` in one place, can be

[2020-10-05 15:34] Tommigun1980 commented on #368
Hi @pictos. I just tested and the error does not happen with XF 4.8. However, XF 5.0's release notes say that XCT is the upgrade path so I think it's paramount to have compatibility with it as well.

Thanks.

[2020-10-05 15:35] pictos commented on #368
@Tommigun1980, yeah you are right! I asked just to make sure that isn't a linker issue. Thanks for your feedback❣

[2020-10-05 15:36] Tommigun1980 commented on #368
For sure, I was just stating the obvious. Thanks for looking into this!

[2020-10-05 17:44] dwightbennett commented on #292
So i understand the push for a "native" look, but the designers i've worked with dont seem to care for native look, they want the platforms to look the same.  In the above pictures android has square corners and ios has round. Will this allow us to change the look of the popup and not just the content inside of it?

[2020-10-05 19:22] PureWeen commented on #292
@dwightbennett understood, but this is an implementation that exists currently and is useful
At a later point the popups can be added onto to provide symmetrical styling for the platforms.
The desire for the same styling doesn't invalidate the usefulness of this PR

Plus there are solution inside XF with transparent modals, absolute layouts, or something like rg popups that help to provide the sam

[2020-10-05 19:22] ahoefling commented on #292
@dwightbennett

The goal is to give developers complete control over the native popups which will be 100% control on each platform. However, the implementation that I wrote against Xamarin.Forms had the iOS implementation about 98% of the way complete. I had trouble customizing the rounded corners and don't plan to fix it for the initial iOS implementation here. Once we get the initial implementat

[2020-10-05 20:10] jfversluis commented on #138
That definitely is a good point.

I think the big difference is that the Essentials APIs don't use the Xamarin.Forms.Color while this one does?

[2020-10-05 20:19] #312 closed

[2020-10-05 21:03] pictos commented on #138
@jfversluis... Well XE grabbed the XF implementation... I was there (Bilbo's voice)... You can see more about the implementation [here](https://github.com/xamarin/Essentials/pull/1193#issuecomment-606188712)

[2020-10-05 21:45] Softtinn opened #375 "[Enhancement] DateTimePicker"
## Summary

We should have a control combining both the DatePicker and the TimePicker where we can pick both the date and the time.
I haven't seen any existing implementation for this control in Xamarin.Forms yet.

Something like the picture below:
![image](https://user-images.githubusercontent.com/7129814/95135323-82f2b400-0764-11eb-842b-c63de71d7e86.png)

## Intended Use Case
A common use case i

[2020-10-05 21:47] roubachof commented on #362
@ahoefling I don’t think a native pop up and a bottom sheet have the same semantic.

For example one would expect several states like:
* hidden state
* collapsed
* expanded

Also it should react to swipe up and down to navigate through state, as well as drag gesture.

A good reference of what to expect from a bottom sheet is here:
https://material.io/components/sheets-bottom/#bottom-sheets-persist

[2020-10-05 21:51] dwightbennett commented on #292
@PureWeen @ahoefling I think this is a great addition. Currently I use RG plugins and it works nicely for me.  I was just seeing if it would fit my situation because if I can use an out of the box Xamarin team implementation I prefer it over a 3rd party solution. Love to see these new additions coming down the pipeline.

[2020-10-06 00:15] Tommigun1980 opened #376 "[Enhancement] Range slider additions"
## Summary

So far I have been using https://github.com/halkar/xamarin-range-slider as range slider, but wouldn't mind migrating to the one in XCT.

1) Missing bindable properties:

I couldn't find the equivalence for the following properties that prevent me from migrating yet; maybe there's something similar in the component and I just missed it, but here goes:

StepValue: Minimum step value when

[2020-10-06 00:20] Tommigun1980 opened #377 "[Enhancement] Snackbar additions"
## Summary

I am really looking forward to a flexible snackbar component in XCT. I gave it a quick spin but couldn't find any way to:

1) Set styling in a single place. I would like to set the styling for all snackbars (colors, fonts, default durations etc.) in one place. In fact outside of duration I couldn't find where to theme it at all, but I didn't really look too hard.

2) Couldn't find wher

[2020-10-06 00:52] Tommigun1980 opened #379 "[Bug] Can't get safe area to work"
Hi.

I tried using the safe area but I can't seem to get it to work.

There's no documentation or samples for it, but it seems to me like you should just add the effect to whatever view and it should do its thing. So I did the following:

[code]

But nothing happens. Disassembling the effect with 'Visibility: All members' shows only the following:

[code]

Is it accidentally stripped, or am I doin

[2020-10-06 01:19] ahoefling commented on #362
@roubachof thanks for sharing the reference to material design, it is a great article that describes the bottom sheet in detail. Last year I used the current Popup Specification to implement a bottom sheet following the material design. Granted it didn't work that great on iOS because of the rounded corners which is something I hope we (as a community can solve). When I originally implemented the

[2020-10-06 01:25] ahoefling commented on #292
Some additional context, not directed at anyone but useful information to share.

This control is not intended to replace RG or other popular techniques such as transparent backgrounds. It gives developers the option to draw Xamarin.Forms controls inside a native popup. The target audience would be designs that focus more on following native look and feel rather than making popups look pixel perfe

[2020-10-06 01:42] Tommigun1980 commented on #376
Is #2 actually a bug?

[2020-10-06 06:13] prakash-malodiya opened #380 "[Enhancement] CollectionView staggered layout"
We should have a control staggered grid view includes multiple columns with multiple rows of varying sizes that include infinite scrolling, empty list, refresh view etc. I haven't seen any existing implementation for this control in Xamarin.Forms yet. For example, please find below images for reference:

![image](https://user-images.githubusercontent.com/8983699/95164972-afd8b280-07c8-11eb-9b0d-93

[2020-10-06 06:15] roubachof commented on #362
Thanks for your answer!
Unfortunately I still don't really understand how a native pop up would be relevant for implementing the control we need.
Wouldn't we need just a simple layout with a y translation (this is how google implemented it https://android.googlesource.com/platform/frameworks/support/+/2b53fdcd54f2760ed7957393f9e9f2140105c9ce/design/src/android/support/design/widget/BottomSheetBeha

[2020-10-06 09:09] jfversluis commented on #380
Thanks for your suggestion!

I think this is something that is possible out of the box in Android, but something custom needs to be made for iOS. That is basically why it wasn't implemented into Forms directly. But happy to discuss some more on the why and how and gauge the interest with this issue :)

[2020-10-06 09:22] michaldivis commented on #240
Are you currently working on this or can I?

[2020-10-06 10:25] IeuanWalker commented on #362
@roubachof would also be good to have a property/ event that can be used to get the %/ or height the sheet is on. Could be used to bind to an animation either on the sheet or on the page behind it.

[2020-10-06 13:16] ahoefling commented on #362
@roubachof

Yes, that would work. I am a big fan of using transparent background in a modal page. That would give us everything we need to do to create the bottom sheet. Based on the information I've seen in this thread, I do think it would be easier to use the native popup as it is just that a layout that isn't attached to the page that you can control the Y translation.

It is really hard to und

[2020-10-06 15:37] levelfivecoder opened #383 "[Enhancement] A button with content layout"
## Summary

Xamarin forms Button control is limited to text and icon. Usually we used to create components with Frame or Grid if we require a to define a Button with complex template.
## API Changes

e.g.

[code]

## Who Will Do The Work?

- [x] I am willing to take this on myself

[2020-10-06 15:55] IeuanWalker commented on #383
@levelfivecoder i've done something similar here - https://github.com/IeuanWalker/Xamarin.Forms.FlexButton

When I have time I was going to create a new control that would allow people to anything to the content.
You also would need to extend different controls within XF to allow the user to set different colours for different states i.e. pressed unpressed changes background and text color

[2020-10-06 16:09] levelfivecoder commented on #383
Nice to hear that community has the requirements for the button with content

[2020-10-06 20:15] Tommigun1980 commented on #379
Can anyone else get safe area to work?

[2020-10-06 20:22] sthewissen commented on #379
You can apply the effect using attached properties, e.g:

[code]

[2020-10-06 20:25] sthewissen commented on #379
Regarding docs and samples, we realize we are horribly behind on these since the amount of new features coming in is pretty booming. We hope to have some more of these made available soon.

[2020-10-06 20:25] Tommigun1980 commented on #379
Oooh I see, thanks so much!

[2020-10-06 20:25] #379 closed

[2020-10-07 03:53] hnabbasi opened #385 "[Enhancement] SegmentsView control"
## Summary

Have a segmented control for Xamarin.Forms. iOS has `UISegmentedControl`, but Android does not. This control will provide native looking segments for Android platform.

iOS | Android
--|--
<img src="https://raw.githubusercontent.com/hnabbasi/Segments/master/media/Segments_iOS_Text.gif"/> | <img src="https://raw.githubusercontent.com/hnabbasi/Segments/master/media/Segments%20Android%20T

[2020-10-07 03:55] hnabbasi commented on #7
This is great. I opened a issue #385 for the Segment control I am migrating from Xamarin.Forms to this toolkit.

[2020-10-07 05:05] developer9969 commented on #362
Hi
I am really glad that this feature request has had very good feedback. This will be a great addition to the toolkit.
I just hope that this process does not drag too long and that is quite a lean process.

@ahoefling I am really blown away that my suggestions seems has had good response, I do not know much about your popup control, I have used the rg.plugin in few projects. Could you look at wha

[2020-10-07 05:58] mgierlasinski commented on #240
@michaldivis Nope, I've just thrown an idea, go ahead :)

[2020-10-07 16:34] jBijsterboschNL commented on #385
This would be a great addition to the XCT! @hnabbasi , could you also add something like a DisplayValueConverter? So we could potentially provide any kind of object in the ItemsSource and let this converter define the text value or image source value for each segment? If I could be of any assistance, please let me know 😊👌

[2020-10-07 16:43] jBijsterboschNL opened #387 "[Enhancement] Extend UserHasStoppedTypingBehavior with a minimum text length property"
## Summary

The UserHasStoppedTypingBehavior executes a command when the user has stopped typing (or at least the configured threshold time has passed). I would like this behavior to also support a minimum text length before this command gets executed.

## API Changes

The UserHasStoppedTypingBehavior gets an extra property: MinimumTextLength of type int.

## Intended Use Case
In the case that you

[2020-10-07 17:01] jBijsterboschNL opened #388 "[Enhancement] Implement MaxLengthReachedBehavior"
## Summary

I would like to have a behavior that executes a certain command (or invokes a certain event handler) when the max length of an entry field has been reached.

## API Changes

Create a new MaxLengthReachedBehavior with the following properties:

- Command: of type ICommand. This will get executed when the MaxLength of the Text property of the attached Entry field has been reached.
- MaxL

[2020-10-07 17:32] hnabbasi commented on #385
Good one. I have a private `Display` property that I can expose and use for that purpose. Just like the **Picker** does.

[2020-10-07 17:50] jBijsterboschNL commented on #385
Exactly! That would be awesome! Thanks

[2020-10-07 17:51] jfversluis commented on #387
Excellent idea!

[2020-10-07 21:16] VladislavAntonyuk commented on #377
SnackBarOptions Interface
actionText: string
actionTextColor: string
snackText: string
hideDelay: number
textColor: string
backgroundColor: string
maxLines: number
isRTL: boolean

[2020-10-07 21:20] VladislavAntonyuk commented on #377
I can implement this one.
 as for the summary requests.
1. Agree
2-5. if we are talking about native implementation (Snackbar on android), I haven't seen it allows to define placement. Needs more discussion/investigation. For other platforms it is possible

[2020-10-08 03:20] pictos commented on #365
Moving the discussion in PR to here. @aguevara716

Looks like that we have a new `BindablePropertyBuilder` per creation. I really want to avoid that, because creating objects in mobile is _evil_ we want to avoid allocations as much as we can. Since `BindalbePropertyParameters ` is a private field I don't see any trouble removing the `readonly` and do something like:

[code]
This way we can one ins

[2020-10-08 09:00] #330 closed

[2020-10-08 13:18] aguevara716 commented on #365
@pictos

Can you expand on this? Not that I'm disagreeing with you, but I'd love to learn more.

[2020-10-08 15:57] roubachof commented on #365
@pictos what would be the difference between creating an instance of BindablePropertyBuilder or an instance of BindablePropertyParameters? At the end of the day you are still creating a new object.

And, I would rather say that allocating a JNI Peer object is evil, but a pure C# object is totally fine. It will be well processed by the C# GC.

[2020-10-08 19:09] jfversluis commented on #320
Haven't heard anything back in 14+ days, so closing this one for now.

[2020-10-08 19:09] #320 closed

[2020-10-08 19:10] jfversluis commented on #301
Great @LucioMSP ! Any idea on when we can expect something? :) Let us know how it goes!

[2020-10-08 19:12] jfversluis commented on #331
Weirdly enough this issue wasn't closed when the PR was merged. Thanks for your efforts @ionixjunior !

[2020-10-08 19:12] #331 closed

[2020-10-08 19:17] jfversluis commented on #7
Duplicate of #385 let's discuss further there

[2020-10-08 19:17] #7 closed

[2020-10-08 19:18] jfversluis commented on #121
OK I think the Docs are well underway and will be an ongoing thing so we don't need this issue to nag us :D

[2020-10-08 19:18] #121 closed

[2020-10-08 20:17] Tommigun1980 commented on #377
Great. thanks @VladislavAntonyuk.

I noticed a SnackbarAppearance property exists in IOSSnackBar, but it looks to me it's iOS only and using it would require one to use platform dependent code. Is that the way to go right now until styling is implemented?

[2020-10-08 20:19] Tommigun1980 commented on #377
If possible I'd prefer it these could be set once (possibly with the option to also provide them when creating an instance). The reason is that I'd like to set the theme once in my app, instead of sending them in everywhere.

[2020-10-08 20:29] Tommigun1980 opened #390 "[Enhancement] Please add Xamarin University Infrastructure Library to XCT"
Hi.

Xamarin University Infrastructure Library has some highly useful collections (https://github.com/xamarinhq/xamu-infrastructure/tree/598f97d6f5cc68fc603873e913ccc9089dbc60df/src/XamU.Core/Collections) whereof I use OptimizedObservableCollection (https://github.com/xamarinhq/xamu-infrastructure/blob/598f97d6f5cc68fc603873e913ccc9089dbc60df/src/XamU.Core/Collections/OptimizedObservableCollection

[2020-10-08 20:37] Tommigun1980 commented on #367
Hi guys. Any idea when https://github.com/xamarin/XamarinCommunityToolkit/issues/367 and https://github.com/xamarin/XamarinCommunityToolkit/issues/368 will be in a release so that XCT is Xamarin.Forms 5 compatible? Considering that XCT is *the* upgrade path for Xamarin.Forms 5 I think this is something that should make its way into a release ASAP. Thanks.

[2020-10-08 20:37] Tommigun1980 commented on #368
Hi guys. Any idea when https://github.com/xamarin/XamarinCommunityToolkit/issues/367 and https://github.com/xamarin/XamarinCommunityToolkit/issues/368 will be in a release so that XCT is Xamarin.Forms 5 compatible? Considering that XCT is *the* upgrade path for Xamarin.Forms 5 I think this is something that should make its way into a release ASAP. Thanks.

[2020-10-08 23:28] pictos commented on #365
@aguevara716, of course, I can explain what it's in my mind. And don't need to be on the defensive, you can disagree or ask anything to me!

In general, for .NET when you create objects they are allocated in the heap, and when you don't need them anymore the GC runs and clean-up those objects. But GC collections are expensive, and we want to avoid then when we can.
Since we are working on a lib th

[2020-10-09 00:25] AndreiMisiukevich commented on #377
Sounds good) Only one question: do you think that's better to split configuration around 3 separate interfaces? Or maybe we can consider putting all "UI configuration" inside single class?

[2020-10-09 01:46] hnabbasi commented on #385
Hey @jfversluis @PureWeen,

So, in Xamarin.Forms we had `GetNativeImageAsync()` extension to `ImageSource`. And `GetNativeImageAsync()` calls up the `IImageSourceHandler`'s `LoadImageAsync()` on all possible sources.

https://github.com/xamarin/Xamarin.Forms/blob/f35ae07a0a8471d255f7a1ebdd51499e10e0a4cb/Xamarin.Forms.Platform.iOS/Renderers/ImageElementManager.cs#L264

I have a need for that handy

[2020-10-09 02:53] Tommigun1980 opened #393 "[Bug] Crash: SIGABRT: Default constructor not found for type Xamarin.CommunityToolkit.iOS.Effects.SafeAreaEffectRouter"
### Description

### Steps to Reproduce

1. Add an XCT safe area effect, say: `<StackLayout xcteffects:SafeAreaEffect.SafeArea="True">`
2. Run on an ACTUAL device
3. It crashes with "SIGABRT: Default constructor not found for type Xamarin.CommunityToolkit.iOS.Effects.SafeAreaEffectRouter"

### Expected Behavior

It shouldn't crash.

### Actual Behavior

It crashes.

### Basic Information

- Versio

[2020-10-09 07:06] roubachof commented on #365
@pictos Oh I didn't understand I thought it was either using a singleton with BindablePropertyParameters or the builder without this inner object :)
@aguevara716 looking at your implementation what is the purpose of the BindablePropertyParameters? Why just not put the fields in the builder?

I don't see how this could happen since there is literally 0 reference to the builder. Just a call to the `

[2020-10-09 07:23] VladislavAntonyuk commented on #377
That code is for internal usage only. With the first implementation I decided to implement only SanckBar without any styling. I didn’t try, but it would interesting to know if it’s react to theme changes. Because it uses label and button, most likely you already have styles for the controls in your resource dictionary.

[2020-10-09 07:28] VladislavAntonyuk commented on #377
I would like to keep the class simple. Also having similar options in the same class (messageColor, actionColor, actionBackgroundColor, snackbarBackgroundColor etc) can make the class complicated.

[2020-10-09 07:31] AndreiMisiukevich commented on #377
Well, then let's try with your approach) 👍

[2020-10-09 07:55] angelru commented on #273
rate is included in toolkit or TemplateUI?

[2020-10-09 10:22] #387 closed

[2020-10-09 10:35] #278 closed

[2020-10-09 11:57] musictopia2 opened #395 "Media Element Not Playing MP3s."
### Description
If I have the IsVisible to false in the media element, then it will not play any songs.
Also, even if IsVisible is true, if i don't specify the area to be filled and expanded, then it won't play songs.
There are many cases where a person may want to play a song but not see anything else so other controls can be there and they can still play the song.  In the WPF MediaElement, if Vi

[2020-10-09 11:59] Johno-ACSLive opened #399 "[Bug] MediaElement not raising MediaFailed event on Android when given a URL and device has no network"
### Description
MediaElement displays a blank screen on Android when the device is in flight mode. On UWP, when it fails to load the native control displays a message saying it cannot play back the media. Hooking into the MediaFailed event allows me to provide a custom message on top of that. This doesn't work on Android (nor iOS) since the MediaFailed event is never triggered.

### Steps to Repro

[2020-10-09 11:59] Mikilll94 opened #400 "[Bug] MediaElement not showing up"
### Description

### Steps to Reproduce

1. Run this project
[MediaElementTest.zip](https://github.com/xamarin/Xamarin.Forms/files/4270913/MediaElementTest.zip)

2. As you can see MediaElement (video) is not showing up.

![media_element_not_showing](https://user-images.githubusercontent.com/17653648/75614611-d485f100-5b3a-11ea-803e-8628a3cf696d.PNG)

### Expected Behavior
MediaElement (video) shou

[2020-10-09 11:59] Mikilll94 opened #401 "[Bug] MediaElement - strange behavior when changing orientation"
### Description
When changing orientation to landscape the MediaElement is behaving strangely. It is not filling the entire space on the screen.

Here it is shown this strange behavior on the GIF:

![media_element_orientation](https://user-images.githubusercontent.com/17653648/75721508-c40b7d00-5cd8-11ea-8c25-4c556d101b51.gif)

### Steps to Reproduce

1. Run this project
[MediaElementTest.zip](htt

[2020-10-09 11:59] davidbritch opened #402 "[Bug][Android] Lack of full screen ability for MediaElement"
### Description

When displaying the built in transport controls, `MediaElement` has the ability to full screen the video on iOS. However, it doesn't on Android. I realise this is due to the default platform implementations.

However, until now many users have used `FormsVideoLibrary` code to play videos, which is part of our [docs](https://docs.microsoft.com/xamarin/xamarin-forms/app-fundamentals

[2020-10-09 12:00] davidbritch opened #403 "[Bug][iOS] MediaElement doesn't stop custom transport video playback on back navigation"
### Description

On iOS, `MediaElement` doesn't stop video playback of a video being played with custom transport controls, on back navigation.

Note: this doesn't occur on Android.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the "Custom Transport" page.
3. Press play once the video appears.
4. Leave the video playing and navigate backwards.

### Expected Behavior

Page navig

[2020-10-09 12:01] Neotrickster opened #404 "[Bug] MediaElement Fails to play m3u8"
### Description
MediaElement Fails to play m3u8 link live video type

### Steps to Reproduce

1. Using sample application for Media Element
2. Use as example "http://icsbaldeastd.aldeasolutions.mx/EVLiveCan18ABR/7NBH6B8L/playlist.m3u8"
3. Run on Android/iOS

### Expected Behavior
Play video

### Actual Behavior
No play video

### Basic Information
I already play the previous link in other media pl

[2020-10-09 12:01] teohumeau opened #405 "[Bug] Unable to read OGG stream with MediaElement on Android"
### Description
It is actually impossible to read an OGG Vorbis stream with MediaElement, it works well on UWP but not with Android.

### Steps to Reproduce
1. Create a project using MediaElement
2. Add as source an OGG stream
3. Launch it on Android

### Expected Behavior
Audio stream is playing like on UWP.

### Actual Behavior
MediaElement is not loading or reading.

### Basic Information

- ID

[2020-10-09 12:01] davidbritch opened #408 "[Bug] MediaElement inconsistent setting of CurrentState property"
### Description

`MediaElement` includes a `CurrentState` bindable property that indicates the current status of the control. This property has a default of `MediaElementState.Closed`.

Here's the description of each `MediaElementState` enumeration member from the UWP docs:

- `Closed` indicates that the `MediaElement` contains no media.
- `Opening` indicates that the `MediaElement` is validating

[2020-10-09 12:04] davidortinau opened #409 "[Bug] MediaElement doesn't update position"
### Description

`PositionRequested` doesn't fire as the position updates, unlike StateRequested which does. The name is confusing...is it to fire when it's requested, or when it's Changed?

I set a timer similar to the pull request test, and when I query Position it doesn't update. Only when I stop and start playback does it update.

https://github.com/xamarin/Xamarin.Forms/pull/3482/files#diff-d

[2020-10-09 12:05] rodhemphill opened #415 "[Bug] [Media Element] Sliding the position bar causes the MediaFailure event"
### Description
Xamarin Forms MediaElement on Android:
Sliding the position bar on an Android tablet past the buffering progress causes the MediaFailure event to be triggered. Sliding up to the buggering position is fine, sliding on iOS is fine.

This is extremely frustrating as these are instructional videos for field staff. The reason they scrub forward is they need to see particular sections of

[2020-10-09 12:05] davidbritch opened #416 "[Bug][Android] MediaElement controls docked to bottom of page"
### Description

When the `MediaElement` control is the only control in a page, and the `Aspect` property is set to `Aspect.Fit`, the video playback controls appear docked to the bottom of the page on Android. This looks most odd.

I realise this can be coded around using multiple techniques. I just see this as a paper cut.

### Steps to Reproduce

1. Run the attached sample.
2. Browse to the firs

[2020-10-09 12:07] Reveon opened #418 "[Bug] Expander - Flickering when an item is expading (CollectionView, ListView, BindableLayout)"
### Description
While expanding an item, other items below it start "jumping" or flickering. I've observed this behavior in CollectionView, ListView and BindableLayout with each having slightly different issues. I noticed that the larger the content the more noticable this flickering gets.
With HeightRequest="30" it was hardly noticeable in CollectionView but HeightRequest="300" makes it easy to s

[2020-10-09 12:07] Reveon opened #419 "[Bug] Expander - content is moving during the expand/collapse animation"
### Description
Content is moving when the Expander is running collapse or expand animation. This has impact especially on images where different aspect settings cause different issues. It also seems to cut label in the bottom. See the gif animation bellow.

### Steps to Reproduce

1. Run the repro sample
2. Expand and collapse included expanders

### Expected Behavior
Content should always stay i

[2020-10-09 12:08] AndreiMisiukevich commented on #421
Closed via xamarin/Xamarin.Forms#10498

[2020-10-09 12:08] #421 closed

[2020-10-09 12:21] jfversluis commented on #417
I think this might be fixed by #381

[2020-10-09 12:23] jfversluis commented on #411
I think this should be fixed by #381

[2020-10-09 12:25] jfversluis commented on #410
I'm pretty sure this is fixed by #381 in fact I'm so sure that I'm closing this one for now

[2020-10-09 12:25] #410 closed

[2020-10-09 12:27] jfversluis commented on #397
Duplicate of #398

[2020-10-09 12:27] #397 closed

[2020-10-09 12:27] jfversluis commented on #398
See the linked issue above for a reproduction

[2020-10-09 12:30] jfversluis commented on #393
@Tommigun1980

I don't want to sound impolite, but has anyone actually run anything built with XCT on an actual device? I am wondering because XCT is touted as the upgrade path for certain features in XF 5, and this is starting to make me a bit uneasy.

I also don't want to sound impolite, but you realize this is a pre-release, right? Which will not mean that there won't be anything in here by the

[2020-10-09 13:46] Hackavist commented on #388
I would like to implement this

[2020-10-09 13:49] zleao opened #422 "[Bug] SideMenuView.UWP - Menu not collapsing when clicking outside the menu area"
### Description
This issue is related to the functionality introduced in [PR 187](https://github.com/xamarin/XamarinCommunityToolkit/pull/187).
In the UWP sample app in the SideMenuView, the menu view is not collapsing when clicking outside of the menu area. It only collapses via the swipe gesture.
This behavior is only seen in UWP. Android and iOS version works as expected

### Steps to Reproduce

[2020-10-09 13:51] AndreiMisiukevich commented on #422
@zleao nice catch :) Yes, indeed, this is old know XF issue.
Would you like to make PR with the fix you mentioned? Or I can do it myself

[2020-10-09 13:53] AndreiMisiukevich commented on #388
I guess @jBijsterboschNL checked "I am willing to take this on myself". So... let's see what he will say about it :)

[2020-10-09 13:54] zleao commented on #422
I can do the PR. Just give me 5 min... :)

[2020-10-09 14:20] jBijsterboschNL commented on #388
I already started working on this :)

[2020-10-09 14:21] Hackavist commented on #388
It is perfectly fine best of luck mate 🙏🏼🙌🏼

[2020-10-09 14:25] #422 closed

[2020-10-09 14:27] ahoefling commented on #365
@pictos

I think this is the most important thing to consider. I would be interested in seeing the `DotNetBenchmarking` results of standard BindableProperty vs the Fluent syntax. That will give us definitive results if we can accept the change and understanding any performance implications.

Echoing what @roubachof said, I don't understand why we need `BidnablePropertyParameters`. When I have used

[2020-10-09 16:09] pictos commented on #365
@ahoefling

To be honest I didn't think about it. On my head (and maybe I'm being naive), BPs are for controls, and controls are created in UIThread (if you try to do some control action in BackgroundThread you'll see an exception). So no chance for concurrent access. Am I right?

As I said Builders should be one instance, if you have to create a new builder per object it lost the purpose, I think

[2020-10-09 16:14] AndreiMisiukevich commented on #365
IMO, I don't think that the allocation of small builder objects will cause a significant performance penalty.

[2020-10-09 16:26] ahoefling commented on #365
@pictos

I don't think this is an assumption we can make anymore with dual screen devices. Considering a dual screen device across different platforms will they have 1 and only 1 UI Thread, I would argue **maybe** and that is a no leaning maybe. When I was doing research on this topic prior to the release of the Surface Duo I discovered at the time Android supported 1 UI Thread and marshaled betwe

[2020-10-09 16:30] pictos commented on #365
@ahoefling I updated my last comment with references, you can take into account the fact that `BindableProperty.Create` is a static method. So the builder it's just a sugar syntax to access this method, so we the builder can be static as well. Is that make sense or am I missing something else?

[2020-10-09 17:17] sachinkanadia opened #440 "[Bug] Expander view skips Expanding state the first time on OnPropertyChanged override."
### Description

The Expander View skips the "Expanding" state the first time when subscribing to OnPropertyChanged.

1. Put a breakpoint within the subscribed OnProperty**Changed** handler in MainPage.xaml.cs.
2. Run the App.
3. Tap the expander header.
4. Notice that the OnPropertyChanged handler only gets called when the state is "Expanded".
5. Collapse the header.
6. Expand the header again.
7

[2020-10-10 08:13] Agredo opened #426 "[Bug] [Android] EventToCommandBevavior crashes for Release in Android"
### Description
Exception for Android 10 when using EventToCommandBehavior

for iOS and UWP this works

![image](https://user-images.githubusercontent.com/16531090/95649960-dfe1c780-0ae0-11eb-8776-8a1994c8e7b0.png)

### Steps to Reproduce

1. Install Nuget XamarinCommunityToolkit Pre 3
2. Use EventToCommandBehavior in Entry for Completed Command

### Expected Behavior
Working Bevavior

### Actual

[2020-10-10 21:48] AndreiMisiukevich commented on #420
As I mentioned **ForceUpdateSizeCommand** should be used in such cases.

[2020-10-10 21:48] #420 closed

[2020-10-11 09:23] #367 closed

[2020-10-11 11:29] Hackavist opened #428 "[Enhancement] Adding safe area effect to the sample app"
## Summary
Adding the safe area effect to the sample app based on [this documentation link](https://github.com/MicrosoftDocs/xamarin-communitytoolkit/blob/master/docs/effects/safeareaeffect.md)

## Spec
* Adding an effects section the main page
* Adding a safe area effects page that has a background  color and a Stack Layout with a different one containing some text to explain what a safe area is

[2020-10-11 11:36] Hackavist commented on #428
That is perfect I am on it

[2020-10-11 13:29] Hackavist opened #430 "[Enhancement] Adding missing converters In the sample app"
## Summary

After inspecting the converters folder in the [documentation repo](https://github.com/MicrosoftDocs/xamarin-communitytoolkit/tree/master/docs/converters)
I found that the following converters are missing in the sample app
TextCaseConverter
NotEqualConverter
ListToStringConverter
ListIsNullOrEmptyConverter
ListIsNotNullOrEmptyConverter
IsNullOrEmptyConverter
IsNotNullOrEmptyConverter
In

[2020-10-11 14:41] jfversluis commented on #428
Fixed in #429

[2020-10-11 14:41] #428 closed

[2020-10-11 15:38] AndreiMisiukevich commented on #368
@pictos Did your PR fix this issue? What do you think? (I mean bringing media source to XCT) Thx

[2020-10-11 18:07] pictos commented on #368
@AndreiMisiukevich that PR fixes #367 for sure (I hope). This one can be related to a more general issue with the linker process. I'll find a time to investigate it. I'll try to reproduce here and try to fix, but @Tommigun1980 if you can attach a sample repo would be awesome!
As you described looks pretty simple to reproduce, but I'm afraid to miss some step that you do.

[2020-10-12 09:34] Axemasta opened #434 "[Enhancement] Color Themes For AvatarView"
## Summary

`AvatarView` comes with a very nice feature out of the box, dynamic colors based on the text value.

![Current themes](https://user-images.githubusercontent.com/33064621/95730184-cde55d80-0c75-11eb-914b-faeb16a4b6a3.png)

I really like the different colors with no extra code to write on the developers end, however there is no way to override this default schema. The control currently o

[2020-10-12 10:04] Axemasta commented on #434
I've opened #435

[2020-10-12 10:34] roubachof commented on #213
wow, I just realized I made a mistake when voting and I guess many other people did the same mistake that me...
If you look quickly to the post, since the heart is right under @sthewissen logo, you tend to associate them.
So I clicked ❤️ thinking I was voting for steven's logo 🤦‍♂️

![source](https://user-images.githubusercontent.com/596903/95736945-3b4dba00-0c87-11eb-8ad8-3a06f6d2a48e.gif)

[2020-10-12 13:13] Hackavist opened #438 "[Enhancement] String To Numbers Conveters"
## Summary

2 simple converters to convert from a string to int and to double right from the XAML without the need to a View model

## API Changes

StringToIntConverter / StringToDoubleConverter

## Intended Use Case

Convert from a string to int and to double right from the XAML without the need to a View model

## Who Will Do The Work?

- [x] I am willing to take this on myself
- [ ] Just puttin

[2020-10-12 13:16] AndreiMisiukevich commented on #438
Hello) thanks for your interest to this project)

Could you please provide any examples where it can be useful?

Thanks!

[2020-10-12 13:22] Hackavist commented on #438
I have 2 scenarios in mind
1) when you are displaying some info or a number based chart based on a user numerical input.
2) when u are trying to use another converter or control that only accept numbers (view to view binding)
[code]
whenever you try to run this your are going to be faced with "Value is Not A valid Double"

[2020-10-12 14:29] KMWenyon opened #439 "MT2101: Can't resolve the reference 'Xamarin.Forms.MediaSource'"
### Description
/Users/UserName/TFS/AppSolutionFolder/com.namespace.app.ios/MTOUCH: Error MT2101: Can't resolve the reference 'Xamarin.Forms.MediaSource', referenced from the method 'System.Void Xamarin.CommunityToolkit.UI.Views.MediaCapturedEventArgs::.ctor(System.String,System.Byte[])' in 'Xamarin.Forms.Core, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null'. (MT2101) (com.namespace.app.ios

[2020-10-12 15:26] AndreiMisiukevich commented on #438
@Hackavist thanks! )

[2020-10-12 15:30] #323 closed

[2020-10-12 17:20] Hackavist commented on #438
So can u mark it as ready to implement?

[2020-10-12 20:47] VladislavAntonyuk opened #441 "[Bug] AvatarView: Label is visible if Source is not null"
### Steps to Reproduce

1. Create avatar view with transparent image

### Expected Behavior
Label is not visible

### Actual Behavior
Label is visible

### Reproduction imagery
![image](https://user-images.githubusercontent.com/33021114/95788914-23a51e80-0ce5-11eb-8aa8-736a603966be.png)

[2020-10-12 20:47] VladislavAntonyuk commented on #441
I am going to fix it

[2020-10-12 21:10] VladislavAntonyuk opened #442 "[Bug] AvatarView: Label is not centralized"
### Steps to Reproduce

1. Create avatar view with text

### Expected Behavior
Text is vertically centrilized

### Actual Behavior
text is in the top

### Reproduction imagery

![image](https://user-images.githubusercontent.com/33021114/95790599-60264980-0ce8-11eb-8bb8-475d05fe9340.png)

[2020-10-12 21:10] VladislavAntonyuk commented on #442
I am going to fix it

[2020-10-12 21:13] VladislavAntonyuk commented on #442
expected:
![image](https://user-images.githubusercontent.com/33021114/95790914-f6f30600-0ce8-11eb-9c22-bf6a79a13234.png)

[2020-10-13 13:51] LBally opened #445 "The ability to add overlays onto the camera"
The ability to add overlays for IOS and Android on the CameraView control would be really helpful.

[2020-10-13 17:15] jfversluis commented on #439
@pictos this is fixed by #370, right?

[2020-10-13 17:36] #202 closed

[2020-10-13 18:32] Axemasta commented on #434
Merged in `d7443eb96b33e0e6121aa30e3eae76b44fad08a2`

[2020-10-13 18:32] #434 closed

[2020-10-13 19:58] jBijsterboschNL commented on #445
Have you tried putting the camera view inside a Grid and after the camera view you put your 'overlay'? So that your overlay is rendered on top of the camera view? Or do you also want this overlay being merged on to the image when taking a photo? With images this could be implemented fairly easy by merging the overlay on top of your native image (this would be a platform specific implementation), b

[2020-10-13 21:05] Hackavist commented on #430
pr Number converters #446  is not for this issue but it contain helper code

[2020-10-14 00:42] pictos commented on #439
@jfversluis I believe so. Also, we can close this one because is a duplicate of #367

[2020-10-14 01:52] bmacombe commented on #286
I'm going to see what I can do to reduce this, from a quick look it looks like the iOS camera device would be accessed at least twice if the "Default" camera was used and maybe three times if another camera is used.

[2020-10-14 01:52] bmacombe commented on #282
I'm looking at #286 and will see if I can figure this one out at the same time since it's in a similar area.

[2020-10-14 06:59] jfversluis commented on #439
Duplicate of #367

[2020-10-14 06:59] jfversluis commented on #439
And this should be fixed in the next release :)

[2020-10-14 06:59] #439 closed

[2020-10-14 07:08] jfversluis commented on #368
Seems this might be fixed already with the afore mentioned PR. But let's check this on a physical device in release configuration anyway just to be sure.

[2020-10-14 07:10] jfversluis commented on #403
I think we fixed a bug that looks like this in #381 but let's check the repro just in case

[2020-10-14 07:12] jfversluis commented on #335
Let's check if this is fixed with #381 and/or with the changes from the PR by @jessejiang0214

[2020-10-14 07:16] jfversluis commented on #301
@LucioMSP unless I hear otherwise from you that you are actively working on it, I am going to allow other to take this issue

[2020-10-14 07:25] jfversluis commented on #445
Do you have a bit more information? What kind of overlays? What should they do? How much flexibility do you want? Do you want overlays to be built-in, specify your own template? Why would you just put the `CameraView` as a background and then place semi-transparent elements over it to act as an overlay?

[2020-10-14 10:01] Tommigun1980 commented on #393
It is a pre-release, but it's also the upgrade path for Xamarin.Forms 5. XF 5 is already in pre2 release and XCT doesn't work with XF5 when deployed on a device. As Microsoft has selected XCT as the continuation of support for certain features in XF I think it should go throug added scrutiny, and the process should involve someone testing compatibility between the versions.

[2020-10-14 10:03] Tommigun1980 commented on #393
Hello. I tested the latest bleeding edge version of XCT and unfortunately this crash still happens. The other crash issues I reported have been fixed so thanks for that!

Here is a full stack trace of the error:

[code]

[2020-10-14 10:04] Tommigun1980 commented on #367
Hi. I tested XCT's latest bleeding edge version and this issue seems fixed! Thanks a lot.

[2020-10-14 10:05] Tommigun1980 commented on #368
Hi. I tested XCT's latest bleeding edge version and I can confirm that this issue is fixed! Thanks a lot.

[2020-10-14 10:09] Tommigun1980 commented on #376
Hi. If you guys think that number 2 is a bug I'd be happy to move it to a bug report, but would prefer confirmation on it being a bug first.

Thanks!

[2020-10-14 10:24] AndreiMisiukevich commented on #376
3) Definitely, native controls are preferable over cross-platform solutions
if @halkar agrees to contribute his controls, I think everyone will be happy

[2020-10-14 10:26] AndreiMisiukevich commented on #376
1. StepValue: Minimum step value when the slider is scrubbed.
This property is not implemented yet. Can be a good enhancement

[2020-10-14 10:29] AndreiMisiukevich commented on #376
2. Could you specify what event do you use in XCT RangeSlider? (seems there is no any event there)

[2020-10-14 10:48] Tommigun1980 commented on #376
1) Oh I see. My use case is to set it to 1. When I tested the control and scrubbed it, I got values like 1.223323, 2.3424234 etc (with a range of 15 to 80). I'd at least like the value to be an integer and not a floating number. The values displayed on the right side of the control took up almost the entire horizontal space as it showed so many decimals, not to mention that when the user should pi

[2020-10-14 10:51] Tommigun1980 commented on #376
Once a configurable step value (and support for integer steps) has been implemented, along with the necessary events, I am very much looking forward to using this component and think it's a really nice addition!

[2020-10-14 10:54] AndreiMisiukevich commented on #376
1. ValueLabelStringFormat. You can try to play with this property to show only integers

[2020-10-14 10:56] AndreiMisiukevich commented on #376
2. Actually you can do it now :) PropertyChanged event. But I agree that it makes sense to expose a separate event for it

[2020-10-14 12:44] Tommigun1980 commented on #376
1) I see, thanks! That should fulfil my use case, albeit i still think there should be a value for step length (I just happen to use 1 in my case).

2) Thanks for that too. I'll give it a try, but yeah I think separate events for these kinds of things make a lot of sense.

[2020-10-14 16:25] bmacombe commented on #282
@acuntex I've been trying to reproduce this and but I'm not having any luck.

I've tried an older iPad Pro and an iPhone 6s.  They are all iOS 14 though, I don't have a device with a lower iOS version to test with right now.

Can you provide any more details to help reproduce it?

Thanks

[2020-10-14 18:35] acuntex commented on #282
@bmacombe I also have an iPhone 6s. I remember putting the App in the background by pressing the button.

I tried to reproduce it again but failed. Until I can reproduce it, i will close this issue.

[2020-10-14 18:35] #282 closed

[2020-10-14 19:36] bmacombe commented on #301
@jfversluis I'll investigate this one.

[2020-10-14 22:38] halkar commented on #376
I'm happy to give the component to XCT if they are interested.

[2020-10-14 23:34] bmacombe commented on #301
For me at least, the flash works on the second capture after it's turned on.  Looking into why at first glance the code looks correct.

[2020-10-14 23:44] AndreiMisiukevich commented on #376
They are highly interested, I guess :) CC @jfversluis

[2020-10-15 09:21] acuntex commented on #301
@bmacombe On a Huawei P30 Pro the flash never works.

[2020-10-15 11:23] bmacombe commented on #301
Yeah it seems the behavior varies by device.  I was using moto g5.  @pictos tried on another device and it would flash on the first capture and then not after.

[2020-10-15 12:14] pictos commented on #301
FYI I'm using Motorola one with Android 10

[2020-10-15 14:49] jfversluis commented on #376
Definitely! Can we integrate this with what's already here now?

[2020-10-15 21:09] AndreiMisiukevich commented on #376
I think yes, but my impl can be enabled for Tizen / WPF / GTK and optionally for all platforms (maybe we can add a property for managing whether we should use native look or cross-plat)

[2020-10-15 23:21] domagojmedo commented on #445
I'm not sure how camera view works at the moment. Can you put it as a view inside your page and then put other elements over it?

Overlays are nice for custom buttons (record/flash/change camera).

[2020-10-15 23:23] Tommigun1980 commented on #376
I always think that the best option is to use a native control whenever one is available, and a cross-platform version on platforms where one does not exist. This ensures look and feel parity with other UI components on platforms where a native control exists.

So imho, and this is just imho, the best course of action in this case would be to:
1) Keep the existing control and focus on making it as

[2020-10-16 01:14] m3mo89 commented on #301
@pictos @bmacombe @jfversluis in the XamarinCommunityToolkitSample when you activate the flash the following event in **CameraViewPage** assigns CameraFlashMode.**On** as the flash mode

[code]
then according to the **SetFlash** method in the **CameraFragment** class, the real flash mode assigned would be **Single**

[code]
So I want to think that having Single mode as Flash mode which only fires

[2020-10-16 02:34] bmacombe commented on #301
I just got a Moto G7 with Android 9 going, I get the same as Moto One with Android 10.  Flash works on the first capture, stops working after that.

[2020-10-16 03:15] pictos commented on #301
@m3mo89, tks for investigate this issue. Our guess is that the problem is after the first set-up. So we need to investigate a little more, this `flashMode` is correct based on the docs, it's just a enum. Also, from the docs we have two ways to configure the camera flash so we are investigating about that. If you have any news please let us know.

[2020-10-16 09:56] #286 closed

[2020-10-16 16:01] VladislavAntonyuk opened #452 "[Enhancement] OTP Autofill Control"
## Summary

Inspired by https://blog.verslu.is/xamarin/xamarin-forms-xamarin/otp-auto-fill-entry-for-ios-with-xamarin-forms/

## API Changes

Add new OTPAutofillControl
It should contain Entry and Request Button

Entry should be autofilled on SMS received
RequestButton should run the command which requests OTP Code (up to user)

iOS:
Entry - extend Entry render with `Control.TextContentType = UITe

[2020-10-17 02:46] pictos commented on #426
@Agredo can you provide a small sample that reproduces the issue?

[2020-10-17 03:45] pictos opened #454 "[Bug] SafeAreaEffect sample is broking and Linker"
### Description
Here I'll report two bugs.

1. When you run the SafeAreaEffect sample and configure the `Common Language Runtime Exceptions` inside the `Exception Settings` window, to catch all exceptions you see the error below.

![image](https://user-images.githubusercontent.com/20712372/96327598-66326800-1011-11eb-9384-4ea4a550e699.png)

This will be fixed using the code-behind and opens an opp

[2020-10-17 04:33] pictos commented on #368
@Tommigun1980, just to confirm. Can we close this issue?

[2020-10-17 04:34] pictos commented on #368
Since @Tommigun1980 confirms that is fixed, I'll close this issue.

@Tommigun1980 thank you so much for trying our releases builds <3

[2020-10-17 04:34] #368 closed

[2020-10-17 09:36] globodemic opened #456 "[Enhancement] TokenBox"
## Summary

Add new TokenBox (in UWP:TokenizingTextBox)
It should behave like Editor and AutoSuggestBox. The user can select the chips/tags and add to/ remove from the collection.

## API Changes

TokenBox

                        SelectedItems="{x:Bind SelectedItems}"
                        ItemsSource="{x:Bind ExampleItems}"
                        Visual="OutLineBox"
                        Di

[2020-10-17 12:31] Braini01 opened #457 "[Question & Enhancement] Why does CameraView not use the already existing CameraView on Android?"
I was wondering why the Android implementation of the CameraView is not using the already existing [Android CameraView](https://developer.android.com/reference/androidx/camera/view/CameraView) and instead uses a rather handcrafted and complex implementation. Is there a certain feature in the Toolkit CameraView that could not be implemented by using the Android CameraView or would that approach not

[2020-10-17 13:39] bmacombe commented on #457
@pictos  what do you think?

[2020-10-17 15:50] pictos commented on #457
@bmacombe I think that we can try!

[2020-10-17 15:52] pictos commented on #457
Ops I just saw that this CameraView is on `AndroidX` namespace, so that can be an issue because we need to support devs that aren't on AndroidX yet.

[2020-10-17 18:31] #454 closed

[2020-10-17 18:31] #393 closed

[2020-10-17 20:08] Tommigun1980 commented on #393
Hi @pictos and thanks so much for fixing this!!

I tested the latest nightly build, 1.0.0-preview1071, and it still crashes. I guess your fix was not merged into that release yet?

Thank you again.

[2020-10-17 20:10] jfversluis commented on #393
Correct. Should be in the next nightly!

[2020-10-18 00:12] Tommigun1980 commented on #393
Thank you.

A new nightly was just released and I can confirm the issue is fixed.

Thanks @pictos and @jfversluis for fixing all the release build issues with Xamarin.Forms 5, great stuff! ❤️

[2020-10-18 00:45] AndreiMisiukevich commented on #80
I guess this ticket can be closed

[2020-10-18 00:45] #80 closed

[2020-10-18 00:51] pictos commented on #393
Thank you for testing our preview releases. I hope that now you don't see any linker issues but if happens just let me know (:

[2020-10-18 14:57] VladislavAntonyuk opened #460 "Make AnimationBase generic"
https://github.com/xamarin/XamarinCommunityToolkit/blob/f92ef897b4e184760f228235810c7eccd70059ad/XamarinCommunityToolkit/Behaviors/Animations/AnimationTypes/AnimationBase.shared.cs#L33

Now AnimationBase Animate method has 1 parameter View. Lets say I animate the Label. if I need to access specific property (Text) I have to cast the View to Label. If I want to animate the TextView, I have to dupli

[2020-10-18 17:30] AndreiMisiukevich commented on #460
[code]

?

[2020-10-18 17:51] VladislavAntonyuk commented on #460
yes. The use case where I try to use it: https://forums.xamarin.com/discussion/158746/number-from-to-animation

[2020-10-18 20:27] roubachof commented on #365
For me the simpler the better. Since the 2 solutions have each 1 heap allocation, just having one class instead of two is simpler. As I said earlier, there will be no gc issues here.

[2020-10-18 20:39] pictos commented on #365
@aguevara716 can you update your spec? Also, this issue will be just for `BindableProperty.Create` or will have others?

[2020-10-18 22:43] #441 closed

[2020-10-18 23:24] pictos commented on #442
Closing this issue since #443 is merged

[2020-10-18 23:24] #442 closed

[2020-10-19 00:33] AndreiMisiukevich opened #461 "[Enhancement] ShadowEffect"
## Summary
Need to provide the possibility to assign a shadow effect to any view.

## API Changes
- ShadowEffect (Radius, Opacity, Color (?))

## Intended Use Case
Pretty UI

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [X] Just putting this out there for someone to pick up

[2020-10-19 01:07] AndreiMisiukevich commented on #426
Yeah, the sample will be very helpful! 👍

[2020-10-19 09:46] Axemasta opened #463 "[Question] csproj & new files"
This issue is not strictly related to the library but i do experience it with this library. My examples are coming from an external project where I have a class library that is multi targeting platforms, however I "took inspiration" 😄  from the code in this project and want to understand how I can better work with the project multi-targeting as I've only worked with code like this on this library

[2020-10-19 10:12] #440 closed

[2020-10-19 11:58] jfversluis commented on #335
Closed by #392

[2020-10-19 11:58] #335 closed

[2020-10-19 11:59] jfversluis commented on #457
That would be amazing! But as pointed out by @pictos that is only supported by AndroidX :( and we want to support the current Android support packages as well. So, unless we are overlooking something, we are stuck to creating our own for the time being.

[2020-10-19 12:36] #377 closed

[2020-10-19 13:02] sthewissen opened #464 "[Improvement] Multi-language improvements"
### Description
Remove multi-language for each and every page, except for the sample page to show how it works.

The reason for this being that with each feature or change we onboard, we also have to update all the different translations. Every contributor is expected to provide a sample already (preferably) but adding the need to translate them as well adds additional unnecessary work that might

[2020-10-19 13:32] jfversluis commented on #464
Yeah I think this has been discussed somewhere. I really like the idea of being inclusive and translate all those things, but I don't think it's really feasible. We would need people to catch up after every new thing that is added in the app. Maybe at some point that will stabilize, but at least right now a lot of new things are coming in.

For the moment I think it's best to get it out for everyt

[2020-10-19 13:38] AndreiMisiukevich commented on #464
Yeah, this was discussed over discord. And I agree with all points.

[2020-10-19 13:46] VladislavAntonyuk opened #466 "[Bug] AvatarView Image alignment"
### Description
Image is not centralized

### Steps to Reproduce

1. Create avatarView with Aspect property = AspectFit

### Expected Behavior
![image](https://user-images.githubusercontent.com/33021114/96459189-80935e00-122a-11eb-9e49-52efc143a57d.png)

### Actual Behavior
![image](https://user-images.githubusercontent.com/33021114/96459123-678aad00-122a-11eb-9a9e-1dc504ed6cbf.png)

[2020-10-19 14:59] #466 closed

[2020-10-19 15:26] daniel-shuy commented on #414
@davidbritch Did you face this on Android or iOS or both?

[2020-10-19 16:26] davidbritch commented on #414
@daniel-shuy I just gave it a try and the exception is on iOS only (only tried iOS + Android).

[2020-10-19 19:18] VladislavAntonyuk opened #467 "[Enhancement] GesturePad"
## Summary

It's been a while since I created gesturepad control for my own product "Draw & GO". I created a PR: https://github.com/xamarin/SignaturePad/pull/138, but looks like that project is not supported since 2018. It's now the time to share my code with the world. it works on the same platforms which Xamarin.Forms supports

## API Changes
[code]

## Intended Use Case
Draw signature

## Who W

[2020-10-19 19:18] VladislavAntonyuk commented on #467
In progress

[2020-10-19 21:31] Hackavist commented on #461
I really like the Idea and i think it should be added to XF 5

[2020-10-20 04:50] jessejiang0214 commented on #404
Hi @Neotrickster ,
I try to play your URL and I found error when MediaElement starts to play, it because your URL is HTTP not HTTPS.

You need to enable HTTP in your .plist file to request the HTTP
https://stackoverflow.com/questions/31254725/transport-security-has-blocked-a-cleartext-http
The something for Android
https://stackoverflow.com/questions/51902629/how-to-allow-all-network-connection-ty

[2020-10-20 08:37] daniel-shuy commented on #414
@davidbritch thanks, do you also happen to have a stack trace?

[2020-10-20 09:26] davidbritch commented on #414
@daniel-shuy

  at Xamarin.Forms.Platform.iOS.MediaElementRenderer.MediaElementVolumeRequested (System.Object sender, System.EventArgs e) [0x00000] in D:\a\1\s\Xamarin.Forms.Platform.iOS\Renderers\MediaElementRenderer.cs:383
  at Xamarin.Forms.Platform.iOS.MediaElementRenderer.MediaElementStateRequested (System.Object sender, Xamarin.Forms.StateRequested e) [0x00000] in D:\a\1\s\Xamarin.Forms.Plat

[2020-10-20 09:52] daniel-shuy commented on #414
I've created a PR which should fix this issue

[2020-10-20 11:15] Seuleuzeuh opened #471 "[Bug] AvatarView : Not able to use NamedSize for FontSize property in Xaml"
### Description

When declaring an AvatarView in Xaml, we cannot use NamedSize for the FontSize property.

### Steps to Reproduce

1. Declare an AvatarView in Xaml
2. In the FontSize property put Small

### Expected Behavior

Like Xamarin.Forms controls, be abble to use NamedSize

### Actual Behavior

Unable to use named size

### Basic Information

- Version with issue: All
- Last known good vers

[2020-10-20 11:36] #471 closed

[2020-10-20 19:47] #388 closed

[2020-10-21 02:02] daniel-shuy commented on #414
@davidbritch looking closer at your stack trace, I think you are using `Xamarin.Forms`, not the `XamarinCommunityToolkit`, this bug doesn't belong here

[2020-10-21 03:39] pictos commented on #463
@Axemasta if I'm not wrong, to solve this issue you should add
`<EnableDefaultCompileItems>false</EnableDefaultCompileItems>` tag to your `PropertyGroup` tag. That way VS will stop to messing around with your files and build targets.

Sometimes, when you add a new file that has in the name `.shared` VS can add a tag to make MSBuild ignore that file, sadly you will need to remove it manually. I hop

[2020-10-21 07:57] AndreiMisiukevich commented on #414
This issue was moved from Xamarin.Forms repository to this repo. That's why the stack shows XF stack trace

[2020-10-21 07:58] Tommigun1980 opened #474 "[Bug] SnackBarOptions.Actions has getter only"
Makes it cumbersome to init these as one has to use the constructor and provide all the parameters just to set some actions.
Actions should have a setter also.

[2020-10-21 08:05] Tommigun1980 opened #475 "[Bug] SnackBar actions only display one action"
No matter how actions you add to a SnackBar, only one action is displayed.

Considering it wants an enumeration of actions I am assuming it should display all of them?

[2020-10-21 08:13] Tommigun1980 opened #476 "[Enhancement] SnackBar dismissal enhancements"
Hi.

I was really looking forward to the snackbar component as I've tried many of them and they all are lacking in some fundamental aspect.

My use case is really simple; I want to display chat messages as some kind of toasts/snackbars/notifications/whatever to the user if he is currently not on the chat page. The toast position should preferably be configurable (top or bottom) so as not to obscur

[2020-10-21 08:20] Tommigun1980 opened #477 "[Enhancement] Allow configuring snackbar in one place"
ACT.UserDialogs's toasts allows one to set up toast defaults in one place.

I think XCT's snackbar should separate the config from actually showing the notifications, as currently one has to send in all the styling, durations etc every time a snackbar is shown.

I'd like to set up defaults once (theming, fonts, durations etc.), and in my code just define the message and actions when I show them. O

[2020-10-21 08:31] roubachof commented on #476
A Snackbar has a clear semantic that you can find here:
https://material.io/components/snackbars
None of the enhancement you list is part of this semantic unfortunately.
Your behavior is very specific and should be easily done with a simple custom view like a Grid with 3 column *,60,60 for your 2 actions and a SwipeGesture :)

[2020-10-21 08:50] jfversluis commented on #414
Seems this is not able to reproduce anymore when this was transferred to the Toolkit and can be closed

@daniel-shuy yeah it's a bit of a weird situation with these things moving. So it would be wise to re-verify all these things

[2020-10-21 08:50] #414 closed

[2020-10-21 12:28] Braini01 commented on #457
It seems the code for AndroidX CameraView can be found [here](https://androidx.tech/artifacts/camera/camera-view/1.0.0-alpha18-source/androidx/camera/view/CameraView.java.html). I could probably rewrite the XamarinCommunityToolkit Android CameraView based on this. But is it allowed legally? The code seems to be licensed with Apache 2.0 license.

[2020-10-21 12:42] Axemasta commented on #463
@pictos Thanks for the answer, I did infact add `<EnableDefaultCompileItems>false</EnableDefaultCompileItems>` to my csproj, it won't actually build the project without that line.

I did suspect these issues were just a result of early adoption and that it would probably get better down the line. Good to know it is an issue for other developers!

[2020-10-21 12:42] #463 closed

[2020-10-21 16:17] aguevara716 commented on #365
@pictos @roubachof

Just to be 100% clear, we're going with the following:

* Get rid of the `BindablePropertyParameters` class, move all of those properties into `BindablePropertyBuilder` as private fields
* Make the `BindablePropertyBuilder` a singleton, and the `.Create()` method will instantiate a new `BindablePropertyBuilder` with the default parameter values

@pictos - I think I can add in t

[2020-10-21 16:26] roubachof commented on #365
Yup, I think everyone agree on that.

well if you ask me, the first version of the api was fine:

[code]

Simple and clear.

[2020-10-21 16:32] roubachof commented on #365
The only reason I would use a builder factory here (a static method returning the concrete builder instance), would be if we need an abstract builder (different concrete instances implementing an interface) . But since we only need one type of instance, new operator is clearer and simpler.

[2020-10-21 16:36] aguevara716 commented on #365
@roubachof thanks for clearing that up!

@roubachof @pictos I updated the spec

[2020-10-22 02:07] Neotrickster commented on #404
Hi @jessejiang0214 , I will make some test, but even https links, like the one from @brminnick have some troubles but not with in other media players like:

https://github.com/Xamarians/MediaPlayer (from 3 years ago, still works)
https://github.com/Baseflow/XamarinMediaManager

However I still appreciate this bug still been looking at now on the Community Toolkit so they can fix it as a integrated

[2020-10-22 02:30] pictos commented on #477
I'll ping you first and ask later

@VladislavAntonyuk any thoughts?

Do you mind if I mention you in the `snackbar` issues?

[2020-10-22 04:28] VladislavAntonyuk commented on #477
It can be implemented. I can do it after finishing with DrawingView PR

[2020-10-22 04:29] VladislavAntonyuk commented on #475
Please add the platform. On Android we use native Snackbar, which have only 1 button. To be consistent with Android, the same for iOS. Other platforms have multiple buttons

[2020-10-22 04:30] VladislavAntonyuk commented on #474
We like immutability. Use ctor

[2020-10-22 06:47] roubachof commented on #475
@Tommigun1980 please don't open several issues on the same subject. Duplicate of #476

[2020-10-22 07:52] AndreiMisiukevich opened #480 "[Housekeeping] Add sample for CharactersValidationBehavior"
## Summary
It's just housekeeping work :) Need to implement a sample page for **CharactersValidationBehavior** following the example as done for other behaviors.

## API Changes
None

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [X] Just putting this out there for someone to pick up

[2020-10-22 12:03] #302 closed

[2020-10-22 12:24] Tommigun1980 commented on #474
Eh. I won't. It's so much clearer to chain construction such as
[code]

etc, than to send in everything via constructors. Why would an entire API disregard a common pattern just because someone doesn't like it? Also, every other property has a setter than Actions, why is it special?

[2020-10-22 12:30] Tommigun1980 commented on #474
Well that's awfully smug. I won't. It's so much clearer to chain construction such as

[code]

etc, than to send in everything via constructors. Why would an entire API disregard a common pattern just because someone doesn't like it? Also, every other property has a setter than Actions, why is it special?

[2020-10-22 12:32] Tommigun1980 commented on #475
It's not a duplicate. The other one has three feature suggestions not related to this. In that report I touched upon this and wrote 'not sure if it's a bug as it accepts an enumeration of actions', and filed a bug report about it.

I thought feature requests and bug reports should not be combined.

[2020-10-22 12:33] Tommigun1980 commented on #476
Was not aware this was following material design. Almost every platform has a completely different definition for for example what a toast message is. Where is it stated this follows material design?

[2020-10-22 12:36] jfversluis commented on #475
If we can only have one, we should at least also make this reflect in code and not let developers add any more actions which they will then expect to show up

[2020-10-22 12:36] Tommigun1980 commented on #475
Thank you. I wonder if Actions should be platform dependent then? I mean you can't share the code calling it anyway in a meaningful way, or at the very least it is imho unexpected behaviour that it's semi random what gets shown on what platform.

[2020-10-22 12:39] jfversluis commented on #474
I don't know who "we" is in this case, but as far as I am concerned everything can be discussed :) Not sure if this is a bug though. Technically it works as intended atm

Does adding a setter make for any side-effects as far as we can tell right now?

[2020-10-22 12:40] Tommigun1980 commented on #474
Well you are right, maybe it's a feature request then. I thought it was a bug because other properties in the same class has setters except Actions, so it looked like a bug to me.

[2020-10-22 12:41] roubachof commented on #476
Well a Snackbar **is** a material design component, so yes :)

It is implemented with a native snackbar on Android, and the others implementations are just following those specs.

[2020-10-22 12:45] jfversluis opened #482 "Add font options to Shield"
As proposed in the original PR, let's extend the `Shield` with all the font options

---
@sthewissen Sounds like a good idea to me, we can add `FontFamily`, `FontSize` and `FontAttributes` BindableProperties. Should include these properties in this PR or in a future iteration?

_Originally posted by @jsuarezruiz in https://github.com/xamarin/XamarinCommunityToolkit/pull/338#issuecomment-713467423_

[2020-10-22 12:45] Tommigun1980 commented on #476
Thank you for the reply. The terminology gets a bit muddled as there's the ShowToastAsync etc methods, where 'toast' can mean anything from push notifications to a snackbar:esque brief notification, where the position (top/bottom) is configurable in lots of existing APIs. But thank you for the clarification.

[2020-10-22 12:46] jfversluis commented on #438
Fixed in #447

[2020-10-22 12:46] #438 closed

[2020-10-22 12:47] jfversluis commented on #430
Are you going to still work on this @Hackavist ?

[2020-10-22 12:48] Tommigun1980 commented on #477
Thanks guys, I appreciate it.

[2020-10-22 13:01] roubachof commented on #476
Yeah well that happens when you want to please to many people ;)

[2020-10-22 13:01] jfversluis commented on #426
@Agredo would you be able to try the new pre4 version and see if that fixes the issue?

If not, please provide a reproduction project showing this issue so we can get to fixing it. Thanks! :)

[2020-10-22 13:19] Axemasta opened #483 "[Enhancement] Bring Back The Old Effects!"
## Summary

This repository used to contain a nice variety of effects that i've tended to use in various places. The old NuGet package is still available and I do still use it however it would be nice to carry those effects over to this revitalised version of the lib.

Below is a list of some of the available effects
![List of old effects](https://user-images.githubusercontent.com/33064621/9687698

[2020-10-22 13:29] AndreiMisiukevich commented on #483
Don't you mind to refactor the code a little bit?
At least names :)

[2020-10-22 13:35] jfversluis commented on #483
I'm not opposed to bring them back, but I would want to check which are actually still needed. Maybe some of them are now supported by Forms out of the box? If you can update or comment here which ones you actually want to bring back, what they actually do and give us some more details, that would be cool. Thanks!

[2020-10-22 14:22] jBijsterboschNL commented on #482
This sounds like a good plan :) I'm willing to take on this one and try to implement those extra options on the Shield control. If that's ok?! :)

[2020-10-22 14:30] jfversluis commented on #482
![image](https://media0.giphy.com/media/R459x856IfF6w/200.gif)

[2020-10-22 15:06] kazo0 opened #484 "[Enhancement] Add a PluralityConverter"
## Summary

Does anyone think it would be useful to have a quick converter that will provide the proper pluralization of a given value?
Something like:

`<converter:PluralityConverter x:Key="DaysPluralityConverter" PluralValue="Days" SingularValue="Day"/>`

Which would result in:
| Number       | Value          |
| ------------- |:-------------:|
| 0      | Days |
| 1     | Day      |
| 6 | Days

[2020-10-22 15:21] Axemasta commented on #483
Cool, I couldnt find any docs for these old effects so I've had a look at them and wildy assumed their functionality. here is a table of the old effects, what they do and if they are supported by Forms [OTB](https://www.google.com/search?q=what+does+out+fo+the+box+mean&oq=what+does+out+fo+the+box+mean&aqs=chrome..69i57j0i13i457j0i13j0i10i13i30j0i13i30l4.3194j1j4&sourceid=chrome&ie=UTF-8)

| Effect

[2020-10-22 15:50] Seuleuzeuh opened #485 "[Bug] NamedSize on BadgeView"
### Description

When declaring a BadgeView in Xaml, we cannot use NamedSize for the FontSize property.

### Steps to Reproduce

1. Declare a BadgeView in Xaml
2. In the FontSize property put Medium

### Expected Behavior

Like Xamarin.Forms controls, be abble to use NamedSize

### Actual Behavior

Unable to use named size

### Basic Information

- Version with issue: All
- Last known good version

[2020-10-22 15:55] Seuleuzeuh commented on #482
@jBijsterboschNL Remember to add the attribute `[TypeConverter(typeof(FontSizeConverter))]` on the FontSize properties
:smile:

#485
#471

[2020-10-22 16:33] jBijsterboschNL commented on #485
@Seuleuzeuh are you willing to take this one on for yourself? If not, I could easily fix this one as well, as I'll also will be implementing this on the Shield view #482

[2020-10-22 16:40] Seuleuzeuh commented on #485
Already did in #486

[2020-10-22 17:01] Hackavist commented on #430
@jfversluis yes i am but i was moving so that is why there is a little bit of a delay

[2020-10-22 17:25] jsuarezruiz commented on #482
And let me know if can help with something :)

[2020-10-22 18:25] #485 closed

[2020-10-22 18:28] aguevara716 commented on #365
@pictos et al. what do you think of the following implementation for supporting the `Create`, `CreateAttached`, `CreateReadOnly`, and `CreateAttachedReadOnly` methods?

The usage would be the same as laid out in the spec, only you would specify which type of `BindableProperty` you would create by using a different builder class.

Example:

[code]

[2020-10-22 18:42] Agredo commented on #426
@jfversluis sorry I currently domt have much time. I will try it to reproduce it the next days

[2020-10-22 18:46] jfversluis commented on #484
Hey @kazo0! Thanks for your suggestion. Much appreciated.

Why not use [Humanizer](https://github.com/Humanizr/Humanizer) which is specialized in these kinds of things?

[2020-10-22 18:46] jfversluis commented on #430
No worries, just checking :)

Hope your move was OK!

[2020-10-22 18:47] jfversluis commented on #426
Sure thing, let us know! Thanks!

[2020-10-22 18:56] jfversluis commented on #483
Wooow thanks for this @Axemasta I think autosuggest and capitalization can be done with this? https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/text/entry#customize-the-keyboard

[2020-10-22 19:32] AndreiMisiukevich commented on #484
Actually, it depends on the current culture.
For example, in Russian, it's more complex

|English|Russian|
| ---- | :----: |
| 1 day | 1 **день** |
| 2 days | 2 дня |
| 11 days | 11 _дней_ |
| 21 days | 21 **день** |
| 101 days | 101 **день** |
| 102 days | 102 дня |
| 105 days | 105 _дней_ |

Also, it depends on the context

|English|Russian|
| ---- | :----: |
| I have 2 pens | У меня 2 **ручки**

[2020-10-22 20:25] Axemasta commented on #483
Oh excellent, 2 more to strike off the list. I'll make a PR tomorrow with

- EntryRemoveBorder
- EntryRemoveLine
- EntrySelectAllText

[2020-10-22 20:34] AndreiMisiukevich commented on #483
@Axemasta

* EntryNoBorderEffect
* EntryNoUnderlineEffect
* EntrySelectAllTextEffect

I have a question. Does it make sense to combine EntryNoBorderEffect & EntryNoUnderlineEffect into a single effect?
Seems the first one is only for iOS and the second one is for Android.

[code]

Please keep in mind that it is not a strict request. That's more just a question 👍

[2020-10-22 20:35] VladislavAntonyuk opened #488 "[Enhancement] BindableToolbarItem"
## Summary

Add IsVisible property to ToolbarItem

[code]

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2020-10-22 20:54] Axemasta commented on #483
@AndreiMisiukevich I think this is a good idea, I actually mentioned the same thing in my original post. In my own apps I have 1 effect that does both on each platform, I wonder if they just created them separately and then threw them into the repo.

[2020-10-22 21:37] kazo0 commented on #484
To be honest I never knew about Humanizer, that's awesome!

[2020-10-22 23:04] AndreiMisiukevich commented on #488
Does anybody use ToolbarItem since TitleView is released?

[2020-10-23 09:00] Seuleuzeuh commented on #480
I've tested the CharactersValidationBehavior and made a Sample page for this.
Did you want me to made a PR of it ? @AndreiMisiukevich
![Screenshot_1603443524](https://user-images.githubusercontent.com/14994342/96978695-ec254600-151e-11eb-8849-d44b9bbed59b.png)

[2020-10-23 09:28] Seuleuzeuh commented on #476
I'm up for the position configurable. According to the [placement design](https://material.io/components/snackbars#placement), we need a way to make the position configurable (only an absolute position perhaps ?), so we can handle the case when we have important content/action button under the snackbar.

[2020-10-23 09:53] AndreiMisiukevich commented on #480
Yes, please :)
Thanks for the help

[2020-10-23 09:54] AndreiMisiukevich commented on #480
Please keep in mind that you needn't have to localize your sample anymore. Just put text directly to the page

[2020-10-23 11:52] jfversluis commented on #488
I think we have to be careful with this one. This has been attempted in Forms as well before. I know this is simply not supported on at least iOS, that is why you actually need to remove the button as such. It might be good to do some extensive testing with a concept of this to see if it does not cause any unexpected behavior.

[2020-10-23 13:40] bmacombe commented on #488
Just sharing if it helps any.  I've had this implementation in my codebase for about 4 years and it seems to work ok.

It requires the parent to have a list of toolbar items so it retains the position when they are removed and added back for visibility changes

[code]

[code]

[2020-10-23 15:26] legyas opened #493 "[Bug] Expander on a Collectionview"
### Description
When an Expander which is defined in the ItemTemplate of a CollectionView is opened (expanded) and the ItemSource has at least 15 elements, other Expanders will open randomly. The bug wasn't observed when the CollectionView was replaced with a ListView
### Steps to Reproduce

1. Add an Expander to the ItemTemplate of a CollectionView
2. The ItemsSource has to have more than 10 elem

[2020-10-23 18:08] #464 closed

[2020-10-23 18:37] #480 closed

[2020-10-24 13:37] AndreiMisiukevich commented on #493
Hello @legyas and thank you for raising this issue.
I confirm that the issue exists, but this problem is related to CollectionView (All works fine with StackLayout + ScrollView)

https://github.com/xamarin/Xamarin.Forms/issues/10288

[2020-10-24 18:58] #482 closed

[2020-10-24 19:04] jfversluis commented on #484
Glad you learned something! :D

I think it's best to leave this to solutions like Humanizer and not try to fiddle with this ourselves. Thanks for the suggestion though! Keep them coming!

[2020-10-24 19:04] #484 closed

[2020-10-24 21:19] Hackavist commented on #438
@AndreiMisiukevich this the the code sample i mentioned in #494

[2020-10-24 23:45] AndreiMisiukevich commented on #333
I guess this issue can be closed. For now, we decided to keep all stuff in the single NuGet package.
But feel free to raise this conversation again in the future again if you wish.

[2020-10-24 23:45] #333 closed

[2020-10-25 02:08] pictos commented on #457
@Braini01 thanks for your interest, but I'm already rewriting the CameraView control for Android. Any way this code will be a good reference as well, thanks for that. You can track my progress [here](https://github.com/xamarin/XamarinCommunityToolkit/tree/pj/cameraViewAndroid)

[2020-10-25 06:50] jBijsterboschNL opened #496 "[Enhancement] Implement IconTintColorEffect for Image and ImageButton"
## Summary

To be able to better support theming, or even for whitelabeling your apps, I would like to have an IconTintColorEffect. With this effect you could tint an Image or ImageButton without needing to add your icon in multiple colors to your project.

## API Changes

Added `IconTintColor` Effect which holds an attached property `Xamarin.Forms.Color TintColor`.
When this attached property is

[2020-10-25 11:02] AndreiMisiukevich commented on #493
@jfversluis I don't think we can fix it on our side.

[2020-10-25 12:34] jBijsterboschNL commented on #488
Yes, I'm still using this as it is a good to use feature. And if you are using the Title in the NavigationBar and nothing else, it's easier then creating your own TitleView. Only when using the `TitleView` as well, I'm not using the ToolbarItem, as the TitleView overlaps the used ToolbarItems (not sure if it renders over or under the ToolbarItems).

[2020-10-25 16:15] filipkristo opened #498 "[Enhancement] Synchronised ObservableCollection"
## Summary

As a software developer who use MVVM pattern, sometime I get error because at a same time I adding items to collection and enumerating it. Usually that happens if you use in root page, like NavigationPage.

To avoid that I created Synchronised ObservableCollection that implement regular ObservableCollection and use lock on every method and have custom Synchronised enumerator.

## API C

[2020-10-25 22:44] #376 closed

[2020-10-26 08:18] jfversluis opened #499 "Move C# Markup Extensions from Forms to Toolkit"
## Summary

The [C# Markup Extensions](https://github.com/xamarin/Xamarin.Forms/tree/5.0.0/Xamarin.Forms.Core/Markup) in its current form need to move from Forms into the Toolkit.

We want to add this in a separate package from the main one and therefore also a separate (new) namespace

[2020-10-26 08:53] VincentH-Net commented on #499
Still blocked by https://github.com/xamarin/Xamarin.Forms/issues/12136

[2020-10-26 10:04] AlleSchonWeg commented on #483
I need the LabelSizeFontToFit-Effect. 🙈

[2020-10-26 10:07] VincentH-Net commented on #499
Here is the source for C# Markup including [CSharpForMarkup Part 2 PR](https://github.com/xamarin/Xamarin.Forms/pull/11428) features, in a single commit:

https://github.com/VincentH-Net/Xamarin.Forms/commit/939150d140418191b7bb59c105edee2fab37813f

- Separated C# Markup API + unit tests from Forms projects
- Fully working with 100% code coverage, all tests green
- Using IVT from Forms while waiti

[2020-10-26 10:30] sarthak1995-26 opened #500 "Long tap gesture behaviour"

[2020-10-26 11:06] filipkristo commented on #461
@Hackavist If you need to help for this one, feel free to contact me, I have one implementation...

[2020-10-26 11:58] Hackavist commented on #461
Tell me your preferred way of communication and i would love to discuss it together

[2020-10-26 12:23] jsuarezruiz commented on #499
@VincentH-Net I would like to know how I can help you to move the CSharpForMarkup to the XCT. XCT was recently added to the .NET Foundation and a Support document has been created https://github.com/xamarin/XamarinCommunityToolkit/blob/main/Support.md
@ahoefling Could you share the PRs you created (related with the Popup Control)?. I would like to update the list of blocking points, which have PR

[2020-10-26 12:25] jsuarezruiz opened #501 "[Spec] TabView"
# TabView

We can have tabs using Shell. However, what happens if we want to have nested tabs within a specific section (Example: Grid)?, _what if we want to fully customize each tab?_. In these cases, we would need a Custom Renderer so far...

The **TabView** is a way to display a set of tabs and their respective content. TabView is useful for displaying several content while giving a user the ca

[2020-10-26 12:59] VincentH-Net commented on #499
Thanks for your offer @jsuarezruiz!

Could you create a PR in Forms to make the API's listed in xamarin/Xamarin.Forms#12136 public (just the ones needed for C# Markup) - and get it merged in Forms 5?

After that I can update the above C# Markup source to that new Forms version and make a PR against XCT. That means the C# Markup XCT package will depend on Forms 5.

Tbc the Xamarin.Forms.Core API's

[2020-10-26 13:44] ahoefling commented on #499
@jsuarezruiz

I have submitted a PR to XCT yet as it needs to support Xamarin.Forms 5.0. The original PR for Popup Control in Xamarin Forms is Xamarin/Xamarin.Forms#9616.

As of today the only outstanding PR I have to Xamarin.Forms is opening up a few APIs to allow UWP support Xamarin/Xamarin.Forms#12279.

**Popup Control Ready Platform**
The table below designates which platforms are ready for de

[2020-10-26 14:47] mikro1st opened #502 "[Bug] RangeSlider in Scrollview (Android)"
### Description
When implementing a RangeSlider inside a ScrollView, moving the upper and lower slider stops working after a little movement.

### Steps to Reproduce

1. Build A Contentpage like this:
`<?xml version="1.0" encoding="UTF-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             x:Class="MyApp.Test

[2020-10-26 14:50] AndreiMisiukevich commented on #502
Hi @mikro1st
does it work well on iOS?

[2020-10-26 14:51] AndreiMisiukevich commented on #500
That's definitely a good idea) Would you like to bring this behavior?

[2020-10-26 14:52] mikro1st commented on #502
Yes on an iPhone 8 iOS 14.0.1 it works as predicted

[2020-10-26 17:43] gkenaston opened #503 "[Bug] [CameraView] [iOS] Native Crash Report"
### Description

### Steps to Reproduce

1. Run iOS Sample on iPhone v14.1
2. Take photo

### Expected Behavior
Photo loads

### Actual Behavior
=================================================================
	Native Crash Reporting
=================================================================
Got a segv while executing native code. This usually indicates
a fatal error in the mono runtime or

[2020-10-26 19:40] filipkristo commented on #461
You can find me on twitter & telegram @filipkristo.

[2020-10-26 19:44] bmacombe commented on #503
@gkenaston I see its iOS 14, but what was the physical device?

[2020-10-26 20:50] gkenaston commented on #503
iPhone 8 Plus.

On Mon, Oct 26, 2020, 12:44 PM Brian Macomber <notifications@github.com>
wrote:

[2020-10-27 01:02] Tommigun1980 commented on #376
@AndreiMisiukevich Thank you for the additions! It works absolutely flawlessly and I started using it in my project. It really is a solid component so thank you so much for it.

The only other enhancement idea I have is to use the native component on Android as one exists there, but the current one looks very very close to it already.

[2020-10-27 01:06] Tommigun1980 commented on #476
@roubachof I checked out the native Android component and it does seem to support swipe to dismiss and positioning, unless I'm terribly mistaken.

So in that regard I think my enhancement ticket is still valid, no? Swipe to dimiss is great as the user can get rid of a notification that may obscure some UI elements without having to wait for it to disappear, which may be the most frustrating thing

[2020-10-27 01:37] Tommigun1980 commented on #390
Hi guys! I was wondering if anyone else was using the collections from https://github.com/xamarinhq/xamu-infrastructure/tree/598f97d6f5cc68fc603873e913ccc9089dbc60df/src/XamU.Core/Collections?

I think they would totally be a great fit with XCT, are made by Microsoft and are under the MIT license.

[2020-10-27 02:13] Tommigun1980 commented on #474
Any chance this could get corrected at some point? Construction of SnackBar is quite ugly atm as some objects (MessageOptions) the constructor requires has setters only, so you are forced to combine all kinds of different initialisation styles. Instead of being able to chain everything as in the OP, one has to chain SOME of the objects and ultimately send them in to the constructor, as its Actions

[2020-10-27 02:25] Tommigun1980 commented on #474
This is how you currently have to create the options object:

[code]

What I'd prefer:
                        var toastConfig = new SnackBarOptions()
                            {
                                MessageOptions = new MessageOptions()
                                {
                                    Message = $"{toastVm.UserProfile.FirstName} in #{toastVm.ActivityType.Tag}: {ar

[2020-10-27 02:39] Tommigun1980 opened #504 "[Enhancement] Decouple Xamarin.Forms.Page from SnackBar"
Hi.

Considering that SnackBar is a generic notification service I think it would be useful if displaying them did not require to send in a page. ACR's equivalent doesn't require a page, and if XCT's equivalent could be made not to require one it would be great. In my case for example I am listening to some network events and display toasts based on them, where the listener has no concept of a pag

[2020-10-27 02:54] Tommigun1980 commented on #501
This would be a great and very much needed addition.

Question: Would this spec allow for 'segmented tabs' also:
![](https://i.pinimg.com/originals/74/24/75/742475e4cb2b1bc2b1c25a97b4002fc9.png)
(Right hand side)

[2020-10-27 07:54] roubachof commented on #476
It's true that you can add an action or swipe to dismiss a snackbar. A "top" snackbar that close only on the user action is called a banner: https://material.io/components/banners

A snackbar is a low priority UI, putting it at the top of the screen would make it a high priority.

I would keep a clear UI semantic for component here.

[2020-10-27 08:14] Tommigun1980 commented on #476
Thank you for the reply. So the 'swipe to dismiss' functionality is on the table then? :)

[2020-10-27 08:47] roubachof commented on #476
I would suggest to close this one as and open an issue to add a swipe to dismiss feature.

[2020-10-27 10:04] jfversluis commented on #503
I've tried it just now but I am not able to reproduce this behavior. Did you just try the sample app? Or did you change anything in the code?

[2020-10-27 12:07] AndreiMisiukevich commented on #376
Thank you :)
I've created a ticket for adding "ShadowEffect". Once the shadow effect is done, we will be able to add it to RangeSlider's thumbs. So they will look more attractively 👍

[2020-10-27 12:21] jsuarezruiz commented on #501
@Tommigun1980 Yes, I will send another Spec. The controls will share some parts, but will be different controls.

[2020-10-27 12:33] Tommigun1980 commented on #501
Awesomo!! \ :D /

[2020-10-27 13:11] gkenaston commented on #503
I included the library in my project and basically copied the sample code
and got the error.

I thought I'd have better luck debugging if I downloaded/compiled the
complete source and run the sample app on the same device.

Got the exact same error.

I'm willing to do whatever to help resolve this...I really want to use this
control.

On Tue, Oct 27, 2020 at 3:04 AM Gerald Versluis <notifications@

[2020-10-27 13:18] jfversluis commented on #503
Did you also include the right permissions in your `info.plist` file?
If you could provide us with a sample solution which shows this problem that would be super helpful :)

[2020-10-27 13:57] gkenaston commented on #503
Attached...Same error.
[CameraViewSampleApp.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/5445770/CameraViewSampleApp.zip)

[2020-10-27 14:31] bmacombe commented on #503
I tried your sample app on an iPhone 6s and it worked as expected.  The only thing I changed was the provisioning profiles so I could deploy it to my test device.  I'll see if I can round up another device to try it on.

[2020-10-27 14:39] gkenaston commented on #503
Very strange. I am using Windows (no Mac) with Hot Restart to deploy/debug.
Not sure if that makes a difference?

https://www.xamarinexpert.it/how-to-test-your-xamarin-forms-ios-apps-on-your-iphone-or-ipad-without-a-mac/
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/deploy-test/hot-restart?WT.mc_id=xamarin-c9-jamont

On Tue, Oct 27, 2020 at 7:32 AM Brian Macomber <notifications@github.com

[2020-10-27 14:39] gkenaston commented on #503
I'll also try a deployment through App Center and test.

[2020-10-27 14:53] bmacombe commented on #503
That could be with hot restart, I know there are some limitations, I'm using VS Windows, but have a Mac paired to build and deploy to the device.

[2020-10-27 14:55] bmacombe commented on #503
I'm trying my iPhone 11 Pro Max...but it doesn't want to deploy, same with my iPad Pro for some reason.  iOS fiscal device debugging as always been finicky for me.

[2020-10-27 15:51] gkenaston commented on #503
Did a build/deployment through App Center and now it's crashing on the behavior (see below). Also, camera view still crashing.

<Entry.Behaviors>
   <xctbehaviors:EventToCommandBehavior
       EventName="TextChanged"
       Command="{Binding DecodeCommand}"/>
</Entry.Behaviors>

Xamarin Exception Stack:
System.NullReferenceException: Object reference not set to an instance of an object
  at Xamari

[2020-10-27 18:46] jfversluis commented on #503
Downloaded the sample, had to fiddle with the distribution profile in the info.plist file but then it deployed and works as expected. Are you running it as a release configuration? Maybe some linker issue?

[2020-10-27 18:50] jfversluis commented on #503
Just ran as release, not the hard crash, but also not showing the image... @pictos any ideas around the linker here?

[2020-10-27 18:58] gkenaston commented on #503
Yes, release configuration.

![image](https://user-images.githubusercontent.com/5283884/97348658-b26c7c00-184b-11eb-9b64-169c27948487.png)

![image](https://user-images.githubusercontent.com/5283884/97348698-c0ba9800-184b-11eb-922e-dbea2ca63479.png)

[2020-10-28 01:19] pictos commented on #503
Hey friends, I don't have any iOS device here, do you know if I can run this on the simulator?

[2020-10-28 01:21] pictos commented on #499
I think that we can create a branch here targeting Forms 5.0. FYI, The last time that I did it I face some issues with `PancakeView` and controls can have an odd behavior  (like camera view)

[2020-10-28 09:50] jsuarezruiz commented on #278
Yes, that GTK dependencies will be only referenced on the GTK project.

[2020-10-28 09:52] jsuarezruiz commented on #273
Rate is available in TemplateUI. It use Shapes API, so, we need to wait a little bit until increase the version used in the XCT. After that, I will be happy porting the control from TemplateUI to XCT and, @dhindrik will ping you to have your help.

[2020-10-28 10:06] acaliaro opened #505 "[Bug] Error compiling in Release mode"
### Description
Compiling in Release mode, I have this error:

Mono.Linker.MarkException: Error processing method: 'System.Void Xamarin.CommunityToolkit.UI.Views.MediaCapturedEventArgs::.ctor(System.String,System.Byte[])' in assembly: 'Xamarin.CommunityToolkit.dll' ---> Mono.Cecil.ResolutionException: Failed to resolve Xamarin.Forms.MediaSource
   in Mono.Linker.Steps.MarkStep.HandleUnresolvedType

[2020-10-28 10:09] jfversluis commented on #505
Please retry with the latest pre-release package from the Toolkit, I think this should be fixed in there :)

[2020-10-28 10:12] acaliaro commented on #505
Yes @jfversluis you are right. Thanks

[2020-10-28 10:12] #505 closed

[2020-10-28 11:16] acuntex commented on #503
@pictos There is no camera in the simulator :-(

[2020-10-28 11:19] acuntex commented on #457
@pictos Are you sure you still need to support pre AndroidX?

I recently (August 24th) got an email by the google play console, telling me that starting from November 2nd 2020 they only accept apps that target Android 10 (Api level 29).

[2020-10-28 11:35] jfversluis commented on #457
Thanks @acuntex yeah we are seeing if that is something we still want to do or not :) thanks for the input!

[2020-10-28 15:13] bmacombe commented on #503
@gkenaston Could you try the code in PR #506?  See if you still get a crash with CameraView.

Could you open another issue and provide a sample app with the EventToCommandBehavior crash you saw out of your app center build?  I don't see the behavior is used in the sample you provided here for the camera view issue.  I'd be glad to take a look.  I did try the XCT sample page for EventToCommandBehav

[2020-10-28 15:15] gkenaston commented on #503
Will do.

On Wed, Oct 28, 2020 at 8:13 AM Brian Macomber <notifications@github.com>
wrote:

[2020-10-28 15:48] jfversluis opened #507 "[Wild idea] Make PR NuGets more discoverable with a comment on said PR through a bot/action/else?"
All PRs produce a NuGet containing the fix. Not many people know about it or know how to find it. Would it be a good idea to pull out that link somehow and post it as a comment on the PR so that people can find it and test if it fixes their issue?

[2020-10-28 15:50] bmacombe commented on #503
@gkenaston Here is a link to the nugets for that PR.  Note the dots at the end to download them, I always miss that!
https://dev.azure.com/xamarin/public/_build/results?buildId=29550&view=artifacts&type=publishedArtifacts

![image](https://user-images.githubusercontent.com/15127788/97461009-4e10f180-190b-11eb-97b4-11f9061930ba.png)

[2020-10-28 15:52] bmacombe commented on #507
Absolutely!

[2020-10-28 16:05] mikro1st commented on #502
What i figured out this has to to with slight vertical movements while swiping the upper or lower thumb.
while you are only moving sideways, every thing is fine. As soon as there is a minimal vertical movement recognized it will break.

[2020-10-28 17:07] AndreiMisiukevich commented on #502
@mikro1st well, what will happen if you will set IsEnabled = false to the ScrollView on DragStarted and return to True on DragEnded?

[2020-10-28 17:52] AndreiMisiukevich commented on #507
~~Wild~~ **GREAT** idea

[2020-10-28 18:40] mikro1st commented on #502
@AndreiMisiukevich maybe I'm to bad as an Programmer...
I tried DragAndDrop as well as Pan GestureRecognizers like this:

XAML:
`<ScrollView x:Name="scrollview">
        <StackLayout VerticalOptions="Center" Margin="20">
            <toolkit:RangeSlider>
                <toolkit:RangeSlider.GestureRecognizers>
                   <PanGestureRecognizer PanUpdated="PanGestureRecognizer_PanUpdated"/>

[2020-10-28 19:08] VladislavAntonyuk commented on #474
in progress

[2020-10-28 19:29] VladislavAntonyuk commented on #477
in progress

[2020-10-28 19:32] VladislavAntonyuk commented on #476
could you please share the documentation link where it is described

[2020-10-28 19:33] AndreiMisiukevich commented on #502
I meant DragStarted/DragEnded events of RangeSlider that were added here https://github.com/xamarin/XamarinCommunityToolkit/pull/497

[2020-10-28 19:42] gkenaston commented on #503
[0:] CameraView_OnAvailable
Thread started:  #8
a fatal error in the mono runtime or one of the native libraries
used by your application.
=================================================================

=================================================================
	Native Crash Reporting
=================================================================
Got a segv while executing native code

[2020-10-28 19:44] gkenaston commented on #503
![image](https://user-images.githubusercontent.com/5283884/97488321-53763800-191b-11eb-9148-e9471212a408.png)

[2020-10-28 19:49] bmacombe commented on #503
Based on that stack trace it looks like the exception is happening in the CameraView_OnAvailable handler in your sample app.

In the copy I have it just logs and sets a button IsEnabled.  Does the version you tested with this do anything else?

[code]

[2020-10-28 19:50] Softtinn opened #509 "[Bug] Image sizing problem with CarouselView inside an Expander"
### Description

The Expander control behaves strangely when a CarouselView is set as its content. The images are being shown as thumbnails instead of their acutal size after the content is collapsed. See the included .GIF-file.

### Steps to Reproduce

1. Setup the Expander control according to the official documentation.
2. Inside the Expander, add a CarouselView as the Content.
3. Feed the Caro

[2020-10-28 19:52] bmacombe commented on #503
Could you clone #506 and deploy the XCT Sample App to your test device and see if it crashes on it?

[2020-10-28 20:21] gkenaston commented on #503
Added the attribute `[Preserve(Conditional = true)]`

Got a segv while executing native code. This usually indicates
a fatal error in the mono runtime or one of the native libraries
used by your application.

=================================================================

=================================================================
	Native stacktrace:
======================================

[2020-10-28 20:24] gkenaston commented on #503
I'm not seeing anything related to the crash in the 'Device Log' either.

[2020-10-29 01:51] pictos commented on #365
@aguevara716 I'll take a look at this weekend. @StephaneDelcroix if you can share your thoughts here will be awesome, I don't know too much about the Binding world. Thanks in advance

[2020-10-29 05:12] mikro1st commented on #502
Understood.

Upgraded ToolKit to 1.0.0-preview1082
Inserted DragStarted and DragCompleted Eventhandler, setting the IsEnabled of the ScrollView
=> Error is still there.

What I recognized:
The DragCompleted Event will not be Fired, when I run into this Bug.
I have to do tiny movements on the Thumb to fire the DragCompleted Event.
When the DragCompleted Event wasn't fired, the DragStarted Event wil

[2020-10-29 07:27] jfversluis commented on #503
Was closed automatically with the other fox but clearly this wasn't fixed yet :)

I'll have to be honest though. We're running out of ideas without a reproduction 😅

[2020-10-29 14:36] gkenaston commented on #503
No worries. Is the sample working for you on an actual device?

[2020-10-29 14:46] jfversluis commented on #507
I guess we need a webhook for this on the repo. I catched an example output and the important bit is this:

[code]

We need to get that `BuildId` out of the Azure DevOps link and put it in a URL like: https://dev.azure.com/xamarin/public/_apis/build/builds/29627/artifacts?api-version=6.1-preview.5

That will list the artifacts, parse that JSON, and post that back as a comment to the PR

See, halfw

[2020-10-29 14:53] jfversluis commented on #507
Additionally, it would be awesome if we could hide the comments previously made by this solution so we don't clutter the PR too much and confuse people with wrong links. See: https://docs.github.com/en/free-pro-team@latest/graphql/reference/mutations#minimizecomment

[2020-10-29 15:35] GalaxiaGuy opened #510 "[Enhancement] PageContainerView"
This is copied from https://github.com/xamarin/Xamarin.Forms/issues/5891 . This might now be a better place for it.

## Summary

A view that can embed Pages, conceptually similar to iOS's view controller containment.

This is an example implementation:
https://github.com/TomSoderling/PageContainerView/blob/master/Library/PageContainerView.Plugin/PageContainerView.cs

## API Changes

[code]

## Int

[2020-10-29 17:05] bmacombe commented on #503
For me it is and I think @jfversluis has also.

[2020-10-29 17:20] gkenaston commented on #503
Well, I guess I'll troubleshoot some more and/or wait and see if anyone else reports an issue. Thanks for taking the time to help.

[2020-10-29 17:20] #503 closed

[2020-10-29 17:31] bmacombe commented on #503
@gkenaston No problem, thanks for reporting.  Reach out if you need someone else to test anything you find.

And we found and fixed an unrelated issue while testing.  Thanks for that!

[2020-10-29 18:41] jfversluis commented on #503
Indeed, we tried with three people running on different physical devices and trying to come up with different scenarios and reasons why this happens to you, but we can't reproduce this behavior.

Please let us know if you make any progress in identifying an error message or stacktrace or anything and we will gladly look into it!

[2020-10-29 19:53] jfversluis commented on #496
Look useful to me!

[2020-10-29 20:08] AndreiMisiukevich commented on #496
Why did you decide it's for iOS only?)

[2020-10-29 20:29] jBijsterboschNL commented on #496
I will implement this for Android and for iOS! Not just for iOS.

[2020-10-29 22:38] gkenaston commented on #503
So, I started playing with the other controls in the sample app and every
one works except the CameraView :O Just my luck!

But...I decided to play around with recording, front/rear camera etc and
see if I can get different errors.

Now this error comes up after switching camera front/rear trying to record:

Foundation.MonoTouchException
  Message=Objective-C exception thrown.  Name: NSInvalidArgu

[2020-10-29 23:21] gkenaston commented on #503
Also, the button never shows "Stop Recording". The top status bar flashes
red when I "Start Recording". What's supposed to happen when recording?

On Thu, Oct 29, 2020 at 3:37 PM Gordon Kenaston <gkenaston@gmail.com> wrote:

[2020-10-29 23:28] gkenaston commented on #503
Okay, it is saving the videos to disk but not the photos (still crashing).
The button never updates to "Stop Recording".

On Thu, Oct 29, 2020 at 4:20 PM Gordon Kenaston <gkenaston@gmail.com> wrote:

[2020-10-29 23:32] gkenaston commented on #503
FinishCapture never gets invoked when taking a photo...It does get invoked
when hitting the record button a second time; which stops recording but
doesn't update button.

On Thu, Oct 29, 2020 at 4:28 PM Gordon Kenaston <gkenaston@gmail.com> wrote:

[2020-10-29 23:33] gkenaston commented on #503
I think the problem is in the delegate.

![image](https://user-images.githubusercontent.com/5283884/97643261-73cdf180-1a04-11eb-9e6a-c8d62d6d090b.png)

[2020-10-29 23:39] gkenaston commented on #503
Sorry for all the posts, but I think I'm getting close.

Is **WillCapturePhotoAnimation** supposed to be here?

![image](https://user-images.githubusercontent.com/5283884/97643557-46357800-1a05-11eb-8a01-3fbf65fd1d29.png)

[2020-10-30 05:11] EddieNoureddine opened #512 "[Bug] AvatarView.Source attachableProperty does not work in Xamarin forms"
### Description
Using the inline property Source for AvatarView works fine , but then we do not have control over Caching the image.
Trying to use the AttachableProperty AvatarView.Source does not work at all although it it compiles well.
### Steps to Reproduce

Add the following to a Content page
[code]

### Expected Behavior
Should show  image
### Actual Behavior
Not showing image at all, No exc

[2020-10-30 10:24] jfversluis commented on #512
Thanks for the report! Just to check: you tried this on iOS and Android and both showed the same behavior, correct?

[2020-10-30 10:30] EddieNoureddine commented on #512
Yes . True . On both physical devices and emulators

[2020-10-30 10:31] jfversluis commented on #503
Don't worry about the posts, that's what GitHub is for :D

Great info and investigation, thank you for that. As for your last questions, this is deep into Xamarin.iOS. Not sure what needs or doesn't need to be in there. This is interesting stuff though.

Since you are the only one able to reproduce, would you be willing and/or able to maybe hook up your repro project to the direct source of the To

[2020-10-30 18:54] #512 closed

[2020-10-30 19:37] jfversluis commented on #507
I got the webhook parsing and getting the artifact URL ready. Just need to post it back to the PR :)

[2020-10-30 19:55] jfversluis commented on #507
OOoh here we go :D

https://github.com/xamarin/XamarinCommunityToolkit/pull/436#issuecomment-719765945

[2020-10-30 20:03] jfversluis commented on #507
Now need to figure out how not to post these comments as my account... 😅

[2020-10-30 23:26] AndreiMisiukevich commented on #275
Closed in #450

[2020-10-30 23:26] #275 closed

[2020-10-31 03:36] pictos commented on #510
@GalaxiaGuy thanks for submitting this proposal... I'm feeling that I missed something about this proposal, I'll share my thoughts about this. And, please, feel free to increase the use cases and so on.

We can create custom tabbed pages, these days, without going into the specific platform, we can use a grid or absolute layout and compose these controls.
I don't know if you say `split view` as an

[2020-10-31 15:03] #496 closed

[2020-10-31 18:25] haavamoa commented on #385
This would be awesome! 👌

[2020-10-31 19:08] hnabbasi commented on #385
Good point 🤔. Maybe I can work on it after I am done migrating over the Android version.

[2020-10-31 23:58] Axemasta commented on #483
Merged in #492

[2020-10-31 23:58] #483 closed

[2020-11-01 09:29] Hackavist commented on #521
https://github.com/MicrosoftDocs/xamarin-communitytoolkit

[2020-11-01 09:48] biapar opened #521 "Where is the documentation?"
Where is the documentation?

[2020-11-01 11:54] jBijsterboschNL commented on #452
Wouldn't it be better to just create an effect for this? Instead of an entire control?

[2020-11-01 13:28] jfversluis commented on #521
As @Hackavist pointed out there is the repo, but we're still working on getting it complete. That's why it's not published yet.

Before the stable package lands we will make sure that it's published and ready for you to use.

Of course, you are very welcome to contribute to the Docs to get there faster :)

[2020-11-01 13:28] #521 closed

[2020-11-01 14:43] GalaxiaGuy commented on #510
By split view, I meant something similar to uisplitviewcontroller (or master detail page).

Composing controls like this is not a problem, but doing so with Pages is. The idea is to be able to use a Page as an arbitrary control and then also connect up the child page lifecycle events correctly.

[2020-11-02 01:03] shawyunz commented on #419
Could add a ScrollView as a workaround:
[code]

[2020-11-02 04:30] Tommigun1980 commented on #476
It's in the Android developer reference at
https://developer.android.com/reference/com/google/android/material/snackbar/Snackbar

[2020-11-02 05:27] VladislavAntonyuk commented on #476
I see that it can be swiped to dismiss, but as for your suggestion 1: They show a brief message at the bottom of the screen on mobile and lower left on larger devices.
Snackbar is not displayed at the top of the screen

[2020-11-02 05:39] jBijsterboschNL commented on #294
Hi @techduggu / @dotMorten / @jfversluis, is there still some progress going on for this awesome control? What is holding you back for starting to port the AutoSuggestBox implementation from @dotMorten over to the XCT? Could I perhaps be of any assistance to you guys?

As for naming I would go for @AndreiMisiukevich suggestion, as this is more in line with Xamarin.Forms controls naming: AutoComple

[2020-11-02 06:39] Tommigun1980 commented on #476
Ah sorry. Yeah doesn't seem like snackbars' position can be changed on Android.

[2020-11-02 07:32] VladislavAntonyuk commented on #476
as for the dismissal swipe action. what do you think if we add a cancellation token? it will be a better way to cancel the task and will work on all platforms

[2020-11-02 08:02] VladislavAntonyuk commented on #510
Why do you need to embed the contentpage into view, if you can use the contentview? Also Shell can partially achieve the result

[2020-11-02 08:32] GalaxiaGuy commented on #510
The glib answer is whatever the answer to "Why do I need to use pages with a NavigationPage?" is.

The better answer is I already have pages. There are places that Xamarin Forms only allows pages (like navigation, or the current container pages like master detail or tabs) so I use pages. But then if I wan't to compose them (at the Forms layer, without custom renderers), I can't.

There are also th

[2020-11-02 10:20] Tommigun1980 commented on #476
Sounds like a fair way to go about it. Of course the native swipe animation won't trigger on Android in that case, but one would have to implement one anyway for iOS.

[2020-11-02 10:22] Tommigun1980 commented on #476
Sounds like a fair way to go about it. Of course the native swipe animation won't trigger on Android in that case, but one would have to implement one anyway for iOS.

This of course as long as there is enough control to bind some kind of event listener to the snackbar element, that is.

If this can be implemented straight into the control will of course be easier and saves everyone the effort of

[2020-11-02 13:13] jfversluis commented on #426
@Agredo did you manage to get a reproduction? Or try with the latest pre-release? :) Maybe we fixed it in the meanwhile

[2020-11-02 15:33] pictos commented on #510
@GalaxiaGuy,

I don't think this is a good point to have this implemented. `Pages` are expensive controls compared with `ContentViews`. Maybe what we can do here or on the Forms/Maui side is trying to implement these lifecycles into the `ContentView` control. Right now, to be honest with you, I don't see a good reason to implement this feature in this way. I mean, **your request is valid**, but I

[2020-11-02 18:31] techduggu commented on #294
Hi @jBijsterboschNL
Thanks for showing your interest.
I talked to @dotMorten and we think it is best to create another implementation of this control for XCT as his control (like he mentioned in above thread) is a port of existing UWP control and hence goes its original name.

So, if we plan to create implementation of this control from scratch in XCT, we should start listing the specs (based on t

[2020-11-02 19:50] #460 closed

[2020-11-02 21:04] jfversluis commented on #507
Ok I think I will let an azure function get kicked off by a webhook, that will compose the link to the nuget and to actually comment I will trigger a GitHub action so it can appear under the GitHub bot name.

I could create a GitHub app for it but that seems overkill somehow? I'm open to suggestions :)

[2020-11-02 21:24] IeuanWalker commented on #507
@jfversluis sounds good to me, would be awesome if something similar could happen with the xamarin.forms

[2020-11-02 21:42] jfversluis commented on #507
Yeah they also took the code formatting. So if we can prove this works, who knows what might happen :)

[2020-11-03 11:24] GalaxiaGuy commented on #510
@pictos

That would help, but it wasn't really the biggest issue (although I've manually implemented this enough times that having it built-in would be useful anyway).

Just to clarify the exact situation in which I wanted this (which never went ahead for other reasons, and isn't something particularly pressing for me right now):

We wanted a tablet layout a bit like a master detail page, but with

[2020-11-03 11:36] pictos commented on #510
@GalaxiaGuy I need to look at how XF implements `PageRenderer` to see if this makes sense (that we don't have troubles with memory and performance in general), right now in my head the best approach is using `ContentView`s, as you mentioned.
And to be honest, this can take a while, my pipeline is full 😅.
Also, this just come out of the blue right now, if we create a `ContentView` control that mimi

[2020-11-05 09:05] jBijsterboschNL commented on #426
@jfversluis I can confirm this is broken and also still is with the 4th pre-release version. When setting the `EventToCommandBehavior` on a View, the Android app crashes in Release mode (it works properly in Debug mode, so no crash, but the Command execution also works properly). It even crashes on Android without having set the `EventName` property on the EventToCommandBehavior (so just plain add

[2020-11-05 12:16] jfversluis commented on #426
Did you reference it in XAML only? Could you try adding a dummy reference in code, to completely rule out the linker? Because I still have a suspicion that has to do with it.

[2020-11-05 16:09] vniehues commented on #501
@jsuarezruiz will we be able to use these in the appshell.xaml file?
Like just replacing the shell tabs with your custom tabs?

[2020-11-05 19:20] jfversluis opened #526 "[Bug] GravatarImageSource doesn't seem to work?"
### Description

Didn't really dive into it, but it seems the GravatarImageSource is not working? Or do I have wrong expectancies? If I go in the sample app and to the sample I don't see any image show up.

### Steps to Reproduce

1. Start sample app
2. Go to GravatarImageSource sample
3. No image :(

### Expected Behavior

@dansiegel's lovely face

### Actual Behavior

Not Dan's lovely face

###

[2020-11-05 19:20] jfversluis commented on #526
Of course when I wanted to make a screenshot it now works. But while sliding the slider for size it still hides/shows randomly. So at the very least _something_ fishy is going on.

[2020-11-05 19:21] #345 closed

[2020-11-05 19:22] dansiegel commented on #526
@jfversluis sounds like we may want to look at some of the caching changes that were done as part of the PR review

[2020-11-06 07:50] jBijsterboschNL commented on #426
@jfversluis that didn't make any difference unfortunately. The logs are also pointing to a `NullReferenceException` inside the `EventToCommandBehavior`, so it's not the behavior reference that could not be found. The Exception occurs in `EventToCommandBehavior.RegisterEvent()` after the `EventToCommandBehavior.OnAttached()` is called.

Here are the logs:

2020-11-06 07:18:42.820 25029-25029/? E/An

[2020-11-06 08:18] jsuarezruiz commented on #501
@vniehues You can use it with Shell, but cannot replace Shell tabs with TabView for now. It is something that we are evaluating and could come later. cc @PureWeen

[2020-11-06 08:19] jsuarezruiz commented on #501
@Tommigun1980 You asked about Segmented Tabs:
![xct-tabview-nocontent](https://user-images.githubusercontent.com/6755973/98342726-23aceb80-2011-11eb-86a7-0ffaef9f75d5.gif)
I added a specific sample.

[2020-11-06 08:47] ngreen-asli opened #528 "[Bug] Bindable Stacklayout in Expander in RefreshView does not change size when refreshed"
### Description
When Bindable Stacklayout in Expander is refreshed in a RefreshView the height of the expander content does not change to match the number of rows in the stacklayout
### Steps to Reproduce

1. Create a Bindable Stacklayout in Expander in RefreshView
2. Expand the Expander to show the initial data which would show, say, 2 rows
3. Refresh the view to change the number of rows to 1, 3

[2020-11-06 09:39] jfversluis commented on #426
Just verified with attached repro. When you set it to release it crashes, but when you set Linker to Don't Link, it all works. So _something_ gets taken out. @pictos you are the linker expert by now? :D

[XCTRepro426.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/5500412/XCTRepro426.zip)

[2020-11-06 09:45] jfversluis commented on #426
Just checked iOS. Happens there too.

[2020-11-06 09:57] jfversluis commented on #426
Looking closer at what @jBijsterboschNL posted earlier I see: `at Xamarin.Forms.Behavior`1[T].OnAttachedTo (Xamarin.Forms.BindableObject bindable) [0x00007] in <195b153c216c400ab511ea0b93c8af0b>:0`

It seems to happen in the `BaseBehavior.OnAttachedTo`?

[2020-11-06 10:35] Estevete commented on #501
Will the ` lazy load` give you the option to keep loaded even when you switch tab (maybe for the future as an enhancement)? So there's no need to load again each time you go back to the previous tab and avoiding possible blinks, slow loads...

[2020-11-06 10:43] #501 closed

[2020-11-06 10:46] jfversluis opened #529 "[Enhancement] Repo sorting and cleanup"
Opening an issue to keep track of a couple of different things we might want to improve on the repo:

- [x] Change the TabView sample to use the XmlnsDefinition improvement
- [x] Merge Markup sample with main sample
- [x] Merge Markup unit tests with other unit tests
- [x] Better organize our folders on the repo root, with Markup coming in there is way too much there for my taste
- [x] Unify namin

[2020-11-06 11:23] pictos commented on #426
@jfversluis I'll investigate this one (:

[2020-11-06 17:07] HausBJB opened #530 "[Bug] [Android] MediaElement Opacity not working"
Hello

first of all I'm sorry

if I want to change the Opacity of the MediaElement, the MediaElement is not displayed at all

### Basic Information
- IDE: Visual Studio 2019 16.7.7
.- iOS: 14.1
.- Android 10

### Steps to Reproduce
`<MediaElement Opacity="0.5"  Source="https://sec.ch9.ms/ch9/5d93/a1eab4bf-3288-4faf-81c4-294402a85d93/XamarinShow_mid.mp4" ShowsPlaybackControls="True" />`

![image](h

[2020-11-06 19:47] jfversluis commented on #530
Hey @HausBJB is there any particular reason that you are ignoring almost the complete bug issue report template? It is there for a reason so that we can get as much detail as possible so we can help you better. This is not a lot to go on. If you could add some more detail that would be great. Thanks!

[2020-11-07 08:13] Tommigun1980 commented on #501
Thank you. Looking great!

[2020-11-08 06:44] bPoller2810 opened #534 "[Question] Missing views?"
For me it seems like there are a lot of views missing (Looking for the TabView specialy). I am using 1.0.0-pre4 on XF 5.0.0.1558-pre3
Did i miss some obvious point here?

![image](https://user-images.githubusercontent.com/36732235/98458959-36046200-2196-11eb-9ed6-69d609030683.png)

[2020-11-08 07:57] jBijsterboschNL commented on #534
In the 4th pre-release the TabView wasn't implemented yet. Could you try the nightly build? Do you need any help with that? We are working to get a new and stable version out, which will also contain the TabView.

[2020-11-08 08:30] jfversluis commented on #534
Exactly right! I'm waiting for the C# Markup PR to be merged before we release a new pre-release version. That should be somewhere next week.

In the meanwhile, if you really can't wait try the nightly feed which has the TabView already :)

Thank your for being an early adopter! 😄

[2020-11-08 08:30] #534 closed

[2020-11-08 08:30] bPoller2810 commented on #534
Well then its obvious why i could not find it 👍

Is there a nuget for the nightlies? or how would you reccomend to include them.

[2020-11-08 09:40] jfversluis commented on #534
No worries. I think we should make more clear what is released when and what is in there. Probably release notes will help with that :)

For the nightly, you can use this link: https://pkgs.dev.azure.com/xamarin/public/_packaging/XamarinCommunityToolkitNightly/nuget/v3/index.json

If you don't know how to add nuget feeds, you can use [this video](https://youtu.be/HaEHR8gWk_E)

[2020-11-08 12:34] Rabosa616 opened #535 "[Bug] BadgeView Margins and Layout strange behaviour"
### Description
I have some issues adding the new BadgeView into my application that breaks my current layouts.
Hereby I've found some issues with a blank app:

1. With the following code I see that there are some wrong margins:
`<StackLayout
        HorizontalOptions="Center"
        Spacing="10"
        VerticalOptions="Center">
        <StackLayout Orientation="Horizontal">
            <control

[2020-11-08 15:23] pictos commented on #426
This is odd, from my tests, the linker is removing the `Entry.TextChanged` event, from XF. So maybe the fix should be in the XF project and not here. The NRE is because the code can't create the `eventHandler` [here](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/XamarinCommunityToolkit/Behaviors/EventToCommandBehavior.shared.cs#L78), as you can see in the image:

<img width="1666" a

[2020-11-08 17:36] jBijsterboschNL opened #538 "[Housekeeping] Update README.md with new XmlnsDefinition usage"
On the readme a sample code for using the AvatarView is shown. Only now we can use the new XmlnsDefinition instead of having to create custom Xaml namespaces for using a view, behavior etc from the Xamarin Community Toolkit.

I'll update the readme as soon as I'm behind my laptop 😀

[2020-11-08 18:03] #538 closed

[2020-11-08 18:27] pictos commented on #426
Yeah, it's a linker issue, and looks like that I found a solution for sure. I'll send a PR ASAP to solve this. Tks @jBijsterboschNL to take the time to create a reproduction sample <3.

[2020-11-08 19:18] #426 closed

[2020-11-09 07:53] AbuMandour commented on #383
What about if I put button in button? Which button event will fire?

[2020-11-09 08:22] AbuMandour commented on #240
@jfversluis I think that this request is smaller to my request #194, please reconsider this :), at all am not alone in this 😅😅

[2020-11-09 08:32] jfversluis commented on #240
Well, technically this is another framework, right? :)

I mean, I see what you're trying to accomplish, but it's a slippery slope. Then we can start adding all the libraries into one just so we don't have to install any others anymore.

The thing with this is: if we start out with this navigation service, then the next thing will be: I want {another feature x of MVVM framework y} because then I do

[2020-11-09 09:22] AbuMandour commented on #240
@jfversluis why I will read this in a bad way, talks always generate good ideas my friend
May I am afraid another MVVM framework support and configuration but anyway Thanks ☺️

[2020-11-09 09:42] Seuleuzeuh commented on #529
I suggest you to follow this [.Net project structure](https://gist.github.com/davidfowl/ed7564297c61fe9ab814), more readable and easy to find all parts of the repos.
The actual structure is not "friendly" for contributors/readers.

[2020-11-09 10:18] jfversluis commented on #529
That is a great suggestion, thank you!

[2020-11-09 16:01] acaliaro opened #543 "[Bug] I am not able to use <xtc tag in xaml"
### Description
I have installed the package and I try to use EventToCommandBehavior

I add
<Button Text="Click Me"
                    TextColor="White"
                    BackgroundColor="{StaticResource NormalButtonBackgroundColor}">
                <Button.Behaviors>
                    <xct:EventToCommandBehavior
                        EventName="Clicked"
                        Command="{B

[2020-11-09 16:14] jfversluis commented on #543
This is not available yet in the pre-release packages only in the nightlies for now. It should be available for -pre5, so hold on a little longer! :)

[2020-11-09 16:14] #543 closed

[2020-11-10 12:16] jsuarezruiz opened #545 "[Spec] AppBar"
# AppBar

An app bar consists of a toolbar and potentially other views. Expose one or more actions.

The main benefit of using the appbar is being able to customize everything. Customization options like:
* Custom app bar height.
* Include any content without restrictions or limitations (margins, size, etc.).
* Transparent appbar.
* Etc.

**NOTE:** AppBar is a **cross-platform view** that takes ov

[2020-11-11 09:59] VladislavAntonyuk opened #547 "[Enhancement] Shell cross-page TitleView"
## Summary

Now TitleView is customizable for each page. The issue is that it also have different instances for each page.

## API Changes

Similar to the FlyoutHeader it would be nice to have a single TitleView for all pages.

[code]

for specific page (e.g. login page) it should be possible to hide the title view: Shell.TitleViewIsVisible = false;

## Intended Use Case

## Who Will Do The Work?

[2020-11-11 16:09] AswinPG opened #548 "[Enhancement] Adding api to support floating tabs in tabview"
## Summary

Adding attributes to Tabview that can enable developers to create floating tabbar like in pinterest and postion them easily using margin
## API Changes

Adding two properties - IsFloating and MarginFromScreen
When IsFloating is true, the contentcontainer will be placed in the whole grid(_mainContainer). This way the content can flow below the tabview
After that we can use the MarginFro

[2020-11-11 19:01] Agredo opened #549 "Stride 3D View for Xamarin.Forms"
## Summary

Currently the only way for rendering 3D in Xamarin.Forms is UrhoSharp (https://github.com/xamarin/urho) but it seems this repository is abandoned (very sad).
Nevertheless because currently I am working with Unity I got a bit more into game engines but trying to create somthing like:

![Screenshot 2020-11-11 192239](https://user-images.githubusercontent.com/16531090/98849366-63c9ff00-24

[2020-11-11 19:58] freever commented on #549
I guess it would depend on what those activity and app delegate classes are doing. There is a similar discussion regarding mono game here: https://github.com/MonoGame/MonoGame/issues/7191

[2020-11-11 21:12] jfversluis commented on #548
Isn't this what the appbar spec can do as well? #545

[2020-11-11 22:58] AswinPG commented on #548
It's not the top bar that I meant. Sorry for the confusion.. I should've cropped just the bottom part. It's the bottom tabbar seen in the screenshot. Just like the bottom navigation bar of Pinterest..
![20201112_042617](https://user-images.githubusercontent.com/29278621/98874001-6a7e6380-249f-11eb-85b4-bc4e43233282.jpg)

[2020-11-12 06:12] jfversluis commented on #548
Aah ok great!

[2020-11-12 14:23] Seuleuzeuh opened #550 "[Bug] TextValidationBehavior does not work in MultiValidationBehavior"
### Description

Using CharactersValidationBehavior inside a MultiValidationBehavior does not work properly : the validation is always invalid.
After some search, its due to TextValidationBehavior, the initialisation of the `regex` is not made properly in that case.

### Steps to Reproduce

1. Put an Entry
2. Add MultiValidationBehavior on it
3. Add 1 or more CharactersValidationBehavior

### Expe

[2020-11-14 16:28] #550 closed

[2020-11-15 14:53] felipebaltazar commented on #461
@Hackavist if you need some help, feel free to contact me too
Think that you can use Sharpnado.Shadows and Javier`s PR as inspiration

https://github.com/roubachof/Sharpnado.Shadows/tree/master/Shadows
https://github.com/xamarin/Xamarin.Forms/pull/10650

[2020-11-15 18:29] VladislavAntonyuk opened #553 "[Enhancement] Converters modification"
## Summary

There are converters which have return the value and the opposite value. They can be combined into 1 converter by using converter parameter.
e.g. IsNullOrEmptyConverter vs IsNotNullOrEmptyConverter. ListIsEmptyConverter vs ListIsNotEmptyConverter

## API Changes

1. remove *Not*Converters
2. use boolean parameters.

## Intended Use Case

## Who Will Do The Work?

- [ ] I am willing to

[2020-11-15 19:14] jBijsterboschNL commented on #553
Though this sounds like a good idea, I don't think the usage of the converter parameter will make the code better or easy readable. As the converter parameter can't have a specific name where it is used for. And thus you'll need to check the implementation of this converter to check where the converter parameter is used for.

But maybe if we add a specific `InvertCheck` parameter (or a better name

[2020-11-15 19:33] jBijsterboschNL commented on #553
We could even combine the ListIsEmpty and the IsNullOrEmpty converters, right??!

[2020-11-15 21:13] Cfun1 opened #555 "[Enhancement] Provide ability to specify the animation during a Shell navigation"
## Summary

To provide a way to specify the animation (FadeTo, TraslateTo right/left...) that will be used when issuing a shell navigation
for example `Shell.Current.GoToAsync("//MainPage", true,FadeTo);`

## Intended Use Case
It will be used in case someone want to specify an animation during the navigation rather than the default one, like for example I want my next page to come from left, I wil

[2020-11-16 03:12] pictos opened #556 "[Spec] LifeCycle events for controls"
# [The feature]

For now, XF doesn't have good lifecycle events for controls, we just have the `OnAppearing` and `OnDisappearing` events/overrides on Pages and very often this isn't enough, for some scenarios. Would be good if we can have a way to know when any view (Button, ContentView, etc) is visible/loaded and invisible/unloaded.

# API

## [ class ViewLifecycle ]

### Events

| API | Descript

[2020-11-16 07:21] mondul opened #557 "[Bug] StateLayout crashes when AnimateStateChanges is True"
### Description
When using StateLayout without putting `xct:StateLayout.AnimateStateChanges="False"`, the application crashes when changing the binding state too quickly.

### Steps to Reproduce

1. In the demo, remove  `xct:StateLayout.AnimateStateChanges="False"` for the full screen loading
2. Run the demo
3. Toggle the full screen loading

### Expected Behavior
Not crashing

### Actual Behavior

[2020-11-16 11:34] Seuleuzeuh commented on #553
I see in some PR of converters, they discuss about it and choose to not use parameter for invert, for better understanding.

[2020-11-16 12:41] VladislavAntonyuk commented on #553
we can add parameters for those who prefer to use them without removing the previous converters.

[2020-11-16 12:58] #300 closed

[2020-11-16 13:00] jfversluis commented on #301
What is the status on this one? Can anyone tell me? :)

[2020-11-16 14:42] bmacombe commented on #301
The status is, it's a mess :) Tried a lot of different strategies found online, but still would get varying results on different versions of Android, devices, etc.

[2020-11-16 18:00] mgierlasinski commented on #240
@jfversluis @AbuMandour  The idea here is to have some sort of navigation that we can use in view models out of the box so we don't have to reinvent the wheel each time we start a new project. Default navigation is very page-based and tightly coupled which doesn't play well with non-coupled VMs. Let's look at Shell - we start new project and only thing we need to do to navigate is to map routes to

[2020-11-16 18:54] adammeaney commented on #557
I have seen this as well in the nightly build I am using, 1.0.0 1096

[2020-11-16 19:01] jfversluis commented on #557
Hm interesting. @sthewissen is this something that is changed from what you're doing in the "old" package?

[2020-11-16 19:39] biapar commented on #521
Hi, Where to start?

[2020-11-16 19:48] jfversluis commented on #521
I'm not sure what you mean by this?

What we have right now is on this repo: https://github.com/MicrosoftDocs/xamarin-communitytoolkit in markdown files and a couple of PRs. You can see in the issues there what is still missing

[2020-11-16 23:32] jvlppm opened #558 "[Bug] MediaElement crash when trying to play on iOS ( removing status observer error )"
### Description

MediaElement crashes when trying to play video

### Steps to Reproduce

1. Create a page with a MediaElement tag

[code]

(In my case I have a PopupPage from Rg.Plugins.Popup, but I don't think that is the issue)

2. Open the page

[code]

### Expected Behavior

MediaElement opens and plays normally

### Actual Behavior

App crashes with an exception when video is about to play.

[2020-11-17 02:38] felipebaltazar commented on #500
Hi everyone!
Can I work on this issue?

[2020-11-17 02:52] pictos commented on #500
Since the author didn't say anything about it, I think that you can do it @felipebaltazar, can you add a little spec in this issue before you start to implement? Thanks in advance.

[2020-11-17 06:00] jfversluis commented on #500
Also please think about how we can implement this maybe more generic and also support other gestures that are available instead of focusing in just this one

[2020-11-17 06:08] freever commented on #500
Have a look at this thread on the Maui repo: https://github.com/dotnet/maui/discussions/107

The author of the MR Gestures library was willing to contribute it to Maui, but the toolkit might be a better home for it.

I have used MR Gestures before because I needed pinch gestures on a Skiasharp canvas, and it worked great.

[2020-11-17 07:07] roubachof commented on #500
Would be great if we can have mr gestures on the team. All of my apps use it 😄

[2020-11-17 08:46] AndreiMisiukevich commented on #500
FYI

I am working on moving TouchEffect here
LongPress would be supported by it

https://github.com/AndreiMisiukevich/TouchEffect

But I am not against your try 👍

[2020-11-17 09:30] nor0x commented on #545
What do you think about adding an `Orientation` property to this spec, to also allow vertical `AppBar`s?

Could probably be done with a collapsable `Flyout` or `Main-Detail layout,` but this seems to more suited for showing very similar views and just changing the underlying data for the detatil view.

**Additional context**
More and more apps, especially on landscape orientation (Desktop, Tablets

[2020-11-17 09:47] acaliaro commented on #545
There is a `Placement` property that could be use for this...?? left and right?

[2020-11-17 10:12] roubachof commented on #500
@MichaelRumpler would you be interested in merging your gesture library to the XamarinCommunityToolkit :) ?

[2020-11-17 11:04] #499 closed

[2020-11-17 12:16] #535 closed

[2020-11-17 12:30] MichaelRumpler commented on #500
IMHO the biggest downside of [MR.Gestures](http://www.mrgestures.com/) is, that you have to use its own elements. I.e. `MR.Gestures.Label` instead of `Xamarin.Forms.Label`. The only way to change that is to add all the events and properties to `Xamarin.Forms.Element` directly. The Community Toolkit cannot do that.

I also need to overwrite some methods in the native renderers to hook everything up

[2020-11-17 12:38] AndreiMisiukevich commented on #477
Fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/508

[2020-11-17 12:38] #477 closed

[2020-11-17 12:38] AndreiMisiukevich commented on #474
Fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/508

[2020-11-17 12:38] #474 closed

[2020-11-17 13:21] felipebaltazar commented on #500
I was thinking to try extends DragNDrop gesture, thats already intercepts LongPress, for this...
So, we can use like any other gesture

https://github.com/xamarin/Xamarin.Forms/pull/11537/files#diff-e6e3888e703afef4efdc3ac2b09c15b344cd4f4f7b9f99d2b60295f189a60b88R212

[2020-11-17 15:15] jfversluis commented on #558
`1.0.0-preview1022` is this correct? Because I see we're up to 1099 now, so would you mind upgrading and see if that fixes it, because I'm pretty sure we fixed this bug :)

So, this is a different issue I guess. Why did you need that renderer? We'd love to take away the need for any renderers

[2020-11-17 16:40] adammeaney opened #559 "[Bug] Adding tabs to the TabViewItems after constructing it does not update Carousel"
### Description

If you make a TabView that uses the TabItems property, not the TabItemsSource, you cannot add tabs at runtime and then navigate to them.

The tab strip updates, but the CarouselView does not add the new TabItem Content to its ItemsSource at any time.

### Steps to Reproduce

1. Make a page with TabItems
2. Add an item using a button on the page
3. Click the tab in the strip, see i

[2020-11-17 16:54] adammeaney commented on #559
As a side note I can open in a different issue if needed, but semi-related as its an add problem, if we add a tab item, you set the selected tab to the first one every time. Seems rather silly. I would much prefer to stay on the tab I am on.

[2020-11-17 17:42] adammeaney opened #560 "[Bug] Updating TabViewItem Content does not change the displayed content"
### Description
If I have a tab selected and change its content, I do not see an update to that content until I switch tabs and then switch back.

### Steps to Reproduce

1.  Assign TabViewItems to a TabView
2.  Update the content of the selected tab
3.  Switch tabs and then switch back to see the update happened.

### Expected Behavior
Update happens immediately

### Actual Behavior
Update happen

[2020-11-17 18:49] IeuanWalker opened #561 "[Enhancement] Down and Up gesture"
## Summary

2 new gestures -
- Down (triggered when the user touches the screen)
- Up (triggered when the user is no longer touching the screen)

In one of the controls I built for a personal project, I've built a similar thing that may help the implementation -

- Android - https://github.com/IeuanWalker/Xamarin.Forms.FlexButton/blob/master/Flex.Android/CustomRenderers/GestureFrameRenderer.cs
- i

[2020-11-17 19:45] jfversluis opened #562 "[Enhancement] Update Forms dependency to XF5"
## Summary

More and more good stuff is added to Xamarin.Forms 5, to make optimal use of all of that goodness, let's update our dependency to Xamarin.Forms 5 as well. This has one bigger implication for the stable release: we need to wait for a Forms 5 stable release before we can do ours, but we're close enough to the fire to make that happen on the same day.

If a lot of requests come in for eff

[2020-11-17 19:48] jfversluis opened #563 "[Bug] Tizen Sample App is giving a warning when loaded"
### Description

I got a message from someone stating that the warning that the Tizen sample could not be loaded is big and scary for people just starting to look into it. I never thought about it that way and just mindlessly closing it, but I can totally see their point. I've never seen this warning on the Forms repo, so I guess there is a way around this?

### Steps to Reproduce

1. Clone this r

[2020-11-17 23:07] pictos commented on #562
When I tried I faced some runtime errors, one of them was caused by `PancakeView` and some controls also failed. I'll try it again and maybe create a XF5.0 dependency-branch here. I reported my experience on XCT discord's channel, you can find the first message [here](https://discord.com/channels/732297728826277939/738065609740517467/762690350363967578).

[2020-11-18 00:16] pictos commented on #562
Testing again...

## Core

* Ambiguity on `WeakEventManager`, we need to decide which one we will use (Forms or ours), maybe change the name?

## Android

* We need to dropoff the MonoAndroid9.0 from TargetFrameworks and just compile MonoAndroid10 and above
* Some ambiguity with members names in forms (it's easy to fix)
* Change some references to use `Xamarin.AndroidX` instead of the `Xamarin.And

[2020-11-18 02:04] jvlppm commented on #558
Hi, this version mentioned is the latest available on the nightly nuget sources
https://pkgs.dev.azure.com/xamarin/public/_packaging/XamarinCommunityToolkitNightly/nuget/v3/index.json

should I download sources from github e try linking it manually?

I just thought the nightly would be updated already,
I will try downloading sources and adding them to my project anyway

[2020-11-18 02:18] jvlppm commented on #558
I've got the exact same error:

Objective-C exception thrown.  Name: NSRangeException Reason: Cannot remove an observer <__XamarinObjectObserver 0x281d92140> for the key path "status" from <AVPlayerItem 0x281b02440> because it is not registered as an observer.

when using 1.0.0-preview1100

I will try to create a sample project so it can be reproduced

[2020-11-18 02:55] jvlppm commented on #558
Bug reproduction project

[MediaElementObserverCrash.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/5557425/MediaElementObserverCrash.zip)

[2020-11-18 06:01] jfversluis commented on #558
Yeah I'll have to clean up the nightly feed. Sorry about that :)

Could I ask you one more favor? Try the pre5 release on the official nuget from yesterday? Shouldn't be different from that preview1100 that was mentioned, but just to be sure. Thanks!

[2020-11-18 08:29] jfversluis commented on #562
For the Android bits; does that mean we can also use the AndroidX CameraView?

Not too concerned about all of that. The WeakEventManager sucks though... Any suggestions?

[2020-11-18 15:14] AdamDiament opened #570 "[Bug] Expander doesn't work properly inside Shell Flyout on iOS"
Hi @AndreiMisiukevich thanks for your work creating the expander control, which is a great addition to xamarin forms that I've been hoping for for a long time. I've found an iOS bug which I've detailed below, I wondered if you could take a look or if you know of any workarounds?  Funnily enough I coded a bespoke expander just for my project before this was available which always suffered from this

[2020-11-18 15:14] gokulsaravanan opened #573 "[Bug] [Android] requestLayout() improperly called when layout a view using animation in Android."
### Description
 requestLayout() improperly called for the child view used inside the content when layout the view inside stack layout in Android.

### Steps to Reproduce
1. Run the attached sample.
2. Tap "Header" to expand the view.
3. The content view layout with animation.
4. Check the output window, the requestLayout() improperly during the second layout pass.

### Expected Behavior
The reque

[2020-11-18 15:25] jrahma opened #575 "MediaElement's Custom Notification Controls"
Hi,

Please provide an option to set custom notification controls for Android and iOS if Apple allows that.

Thanks,
[Jassim](https://www.emiratesangels.org)

[2020-11-18 15:26] jrahma opened #576 "MediaElement's Background Play"
Hi,

Please add an option to keep the media file (audio) running in the background when the app is not active

Thanks,
[Jassim](https://www.emiratesangels.org)

[2020-11-18 15:26] smamber opened #578 "MediaElement does not render in MacOS[Bug]"
### Description
MediaElement is supposed to be supported in MacOS
### Steps to Reproduce

1. MediaElement either on xaml page or in C# doesn't appear
2.
3.

### Expected Behavior
should see video (works fine in iOS, not on Mac)
### Actual Behavior
no video
### Basic Information

- Version with issue:4.5
- Last known good version:
- IDE:Visual Studio for Mac
- Platform Target Frameworks:
  - iOS:

[2020-11-18 15:27] ashlar64 opened #579 "MediaElement crashes with NullReferenceException from certain https locations and not others"
# Description

MediaElement crashes with certain videos from the internet.

### Steps to Reproduce

I attached some xaml code that shows the MediaElement working in one scenario and failing in two others.  You need to uncomment the MediaElement control for each scenario to see it.

``<?xml version="1.0" encoding="UTF-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http

[2020-11-18 15:30] smamber opened #582 "MediaElement does not render in MacOS[Bug]"
### Description
MediaElement is supposed to be supported in MacOS
### Steps to Reproduce

1. MediaElement either on xaml page or in C# doesn't appear
2.
3.

### Expected Behavior
should see video (works fine in iOS, not on Mac)
### Actual Behavior
no video
### Basic Information

- Version with issue:4.5
- Last known good version:
- IDE:Visual Studio for Mac
- Platform Target Frameworks:
  - iOS:

[2020-11-18 15:33] matsumotokobe commented on #558
I tried it

xamarin.forms.5.0.0.1558-pre3
xamarin.communitytoolkit.1.0.0-pre5

An exception error occurs when executing the bind.

Objective-C exception thrown.  Name: NSRangeException Reason:
Cannot remove an observer <__XamarinObjectObserver 0x281951060>
for the key path "status" from <AVPlayerItem 0x281c19390>
because it is not registered as an observer.

[2020-11-18 15:56] jfversluis commented on #577
Thanks for your suggestion!

I see a couple of issues with this though; this should happen only for UWP. I think adding the `ms-appx://` is a common practice whenever you want to access something within your app. I can also imagine scenarios where you might want to get it from maybe your filesystem with C:\ etc.

To be honest, I don't think the gain outweighs the costs here with all the potential

[2020-11-18 15:56] #577 closed

[2020-11-18 16:00] jfversluis commented on #581
Hi Jessie! Thanks for reporting this. There has been shuffling with the MediaElement and it now lives in the Toolkit with us.

Would you be able to check if the bug still happens in our code? I know there have been some bugfixes in the meantime. Thanks!

[2020-11-18 16:01] jfversluis commented on #580
Awesome idea @danieeis !

[2020-11-18 16:02] jfversluis commented on #579
We need to retest this to verify if this also happens with our code

[2020-11-18 16:04] jfversluis commented on #576
Love the idea, I'm wondering though if this is something that should be in the `MediaElement` or should this be implemented in some kind of background service? Not sure how these things work. We need some more specification and clarification on this before we can make this happen.

[2020-11-18 16:04] jfversluis commented on #575
Not sure what you mean with "Custom notification controls"?

[2020-11-18 18:06] michael-hawker commented on #190
Just found out about this issue.

Agree with @jfversluis, we shouldn't be duplicating efforts and adding helpers to the Xamarin Toolkit if there's other things in the ecosystem. As @adenearnshaw pointed out we should align on the new **.NET Standard** MVVM Toolkit we've been building since April in the Windows Community Toolkit. We could use some help with a Xamarin sample here: https://aka.ms/mvv

[2020-11-18 19:07] kazo0 opened #583 "[Bug?] Cannot use EventToCommandBehavior for Page.Appearing event"
### Description
Not sure if this is an issue or if I am just doing something wrong but I am running into runtime exceptiions when attempting to use the EventToCommandBehavior for my ContentPage's `Appearing` event.

### Steps to Reproduce
`MainPage.xaml`:
[code]

`MainViewModel`:
[code]
### Expected Behavior
`InitCommand` is invoked

### Actual Behavior
[code]
### Basic Information

- Version with

[2020-11-18 19:09] kazo0 commented on #583
Oh I just answered my own question, I see `BehaviorBase<TView> where TView : View` and `ContentPage` is not inheriting from `View`

[2020-11-18 19:19] adammeaney commented on #559
I will say that after more testing, similar things happen when using the TabItemsSource as well.

This is a gif of me trying a similar approach with TabItemsSource and DataTemplates instead.

![8EA85FAC-11E2-40FC-8617-D6F4A6CEEC12](https://user-images.githubusercontent.com/6599983/99576954-44295e00-29a0-11eb-9d6a-a0f4d8789c37.GIF)

Its not exactly the same, but I will say I think the rendering of

[2020-11-18 19:48] kazo0 commented on #583
Would be nice to attach behaviors on the page like this, same way we'd do it on UWP with the Loaded event :)

[2020-11-18 22:54] #583 closed

[2020-11-18 22:56] rachelkang opened #586 "[Bug] [iOS] SnackBar Color Customization doesn't propagate on iOS"
### Description
SnackBar colors don't propagate on iOS, as it does on Android

### Steps to Reproduce
1. Open XCT Sample Solution https://github.com/xamarin/XamarinCommunityToolkit
2. Run on both Android and iOS and note the difference:
- Navigate to Views > SnackBar / Toast
- Click on the 3rd button, "Show SnackBar"

### Expected Behavior
Colors should propagate on iOS SnackBar.

### Actual Behav

[2020-11-19 00:55] AndreiMisiukevich commented on #561
#200 #566 Covers it (Supports Normal, Pressed, Hovered states)

[2020-11-19 01:38] pictos opened #588 "[Bug] AvatarView is crashing due to Cancellation Task"
### Description

Today on discord we have[ a bug report ](https://discord.com/channels/732297728826277939/738065609740517467/778657287878344754)for the AvatarView feature. @roubachof pointed out that we have an `async void` method without a try/catch, and that could be the root cause of the crash.

### Expected Behavior
The lib doesn't crash the app.
### Actual Behavior
The lib crash the app.

###

[2020-11-19 05:46] jrahma commented on #575
By notification I mean to show the play and stop buttons for example as notification so media will be playing in the background and user can stop or pause from the notification area without having to open the app

[2020-11-19 05:49] jrahma commented on #576
I think it should be from the Media Element which will invoke a background process at the backend

[2020-11-19 07:39] #588 closed

[2020-11-19 10:52] tonyfonager opened #590 "[Bug] AvatarView inside ListView using no cache and ListView CachingStrategy=RecycleElement"
### Description

**Please note : Only tested in details on iOS!**

If you put an AvatarView inside a ListView with cache disabled on the source, it gets very confused.

In my AvatarRepro project (included here), I have added 4 controls per record in the ListView and having the same image source:

- Image #1 : Caching enabled
- Image #2 : No cache
- AvatarView #1 : Caching enabled
- AvatarView #2 :

[2020-11-19 14:44] AswinPG opened #591 "CollectionView scrolling inside the new tabview is hard"
### Description
When a collectionview is scrolled inside the tabview with swipe enabled, collectionview does not scroll but the tab gets changed. If there is a slight slant to the users swipe, the tabview carouselview is scrolled instead of the collectionview. In short scrolling inside swipe enabled tabview is hard
### Steps to Reproduce

1. Create a swipe enabled Tabview
2. Add a collectionview i

[2020-11-19 20:01] kazo0 opened #593 "[Enhancement] Add Markdown support to Label"
## Summary
Would be nice to be able to display Markdown text in a Label, similar to the Window Community Toolkit's `MarkdownTextBlock`.
Not sure if this would require a totally new control or if we could tap into the `TextType` property on `Label`

## API Changes

Perhaps we can use the `TextType` property and add a new value of `TextType.Markdown`. Otherwise, add  `bool IsMarkdown` to `Label`.
##

[2020-11-19 21:29] IeuanWalker commented on #593
I'd love this.

To achieve this at the moment I'm converting the MD to HTML using (Markdig)[https://github.com/lunet-io/markdig] then displaying the HTML using (HTMLLabel)[https://github.com/matteobortolazzo/HtmlLabelPlugin]

[2020-11-19 21:38] gokujax commented on #225
Don't forget the Flow Direction of the page/control after changing the culture which should be applied to active and inactive pages in case of Tabbed or Modal Page too.

[2020-11-19 22:25] Tommigun1980 commented on #477
Thanking you here as well @VladislavAntonyuk, absolutely fantastic job once again! You truly are a wizard.

[2020-11-19 23:42] pictos commented on #562
@jfversluis

I think that we can use CameraViewX but it's in beta right now. If we are ok with it I can do a spike on that.

I would like to wait for @brminnick input on this one.

[2020-11-20 00:00] brminnick commented on #562
Hi Friends!

Here's my recommendation:
- Remove `Xamarin.CommunityToolkit.Helpers.WeakEventManager`
- Keep `Xamarin.CommunityToolkit.Helpers.WeakEventManager<TEventArgs>`
- Migrate all `Xamarin.CommunityToolkit.Helpers.WeakEventManager` dependencies to `Xamarin.Forms.WeakEventManager`
  - E.g. In `Xamarin.CommunityToolkit.ObjectModel.BaseCommand`, replace `Xamarin.CommunityToolkit.Helpers.WeakEven

[2020-11-20 01:13] kazo0 commented on #593
Right now I'm using v0.6.1-pre of https://github.com/dotnet-ad/MarkdownView

[2020-11-20 08:02] sarthak1995-26 commented on #445
Camera view is itself a ContentView so you can easily put any view above it using grid,absolute or relative layout.

Yes @domagojmedo  Camera view is itself a ContentView so you can easily put any view above it using grid,absolute or relative layout.

[2020-11-20 08:05] domagojmedo commented on #445
I don't really see a need for this issue to remain open then

[2020-11-20 15:19] kazo0 opened #595 "[Bug] Setting TabView.SelectedIndex does not "visually" switch tabs"
### Description
If I programmatically set the `SelectedIndex` of a `TabView` to say 1 when it is originally on `SelectedIndex` of 0, it appears that internally the new Tab is selected but visually the the `TabView` appears to still be on Tab 0. If you were then to physically tap on Tab 1, nothing would happen since it is internally already on Tab 1. Tapping on Tab 0 and then Tab 1 will finally suc

[2020-11-20 16:10] RadoslawKubas opened #596 "[Bug] [iOS] MediaElement with IsLooping="True" restarting all videos"
### Description

When 2 MediaElements with IsLooping="True" are playing together, when shorter video finishes both videos are restarted from the beginning. If you pause shorter video, longer video continues till the end and restarts correctly.

### Steps to Reproduce

1. Create Page with 2 MediaElements with different length video sources.
2. Set both MediaElement.IsLooping="True"
3. Start App

##

[2020-11-20 20:12] jfversluis commented on #445
Right you are, let's close this one unless there are more specific reasons to want another overlay of sorts

[2020-11-20 20:12] #445 closed

[2020-11-20 20:13] jfversluis commented on #593
@kazo0 and how is that working for you? Few issues? All features supported?

[2020-11-20 20:25] kazo0 commented on #593
@jfversluis Overall pretty good. The theming support is nice, some rendering issues though. On initial page load if the content goes past the screen in a ScrollView, the text is cut off unless you force a re-render by doing something like rotating the screen.

[2020-11-20 20:30] jfversluis commented on #586
Talked about this with Rachel and looked into it myself. It seems the background color is not hooked up on iOS. @VladislavAntonyuk ?

[2020-11-20 20:35] VladislavAntonyuk commented on #586
Please assign it to me. I will take a look

[2020-11-20 21:14] brminnick commented on #562
WeakEventManager PR done: https://github.com/xamarin/XamarinCommunityToolkit/pull/597 🎉

The plan to use extension methods was thwarted because Xamarin.Forms.EventManager uses a private field for `Dictionary<string, List<Subscription>> _eventHandlers`, which the extension methods could not access.

The workaround was to rename `Xamarin.CommunityToolkit.Helpers.WeakEventManager` to `Xamarin.Communi

[2020-11-21 01:21] pictos commented on #529
I think that we can do the merge between Markup extension samples and UnitTests in the XF5.0 branch. I'll update that branch on this weekend.

[2020-11-21 11:36] tonyfonager opened #599 "[Bug] AvatarView "bleeding" from Color set on background Frame"
### Description

Sometimes the Color from the background frame is visible on the edges of the image on AvatarView - I think its due to some alignment issues, going on when AvatarView is put inside more "complex" layout pages.

### Steps to Reproduce

1. Put AvatarView inside a StackLayout with a WidthRequest twice the size of the AvatarView Size property
2. You will now see that the background Fra

[2020-11-21 12:59] kazo0 commented on #595
Issue seems to be because by the time `UpdateSelectedIndex` is called, the `SelectedIndex` has already been changed so the method returns early because of:
[code]

Ugly workaround would be to use reflection instead of setting `SelectedIndex` directly:

[code]

[2020-11-21 17:01] acaliaro opened #600 "[Bug] Link broken"
### Description
The sample app's link is broken...??? https://github.com/xamarin/XamarinCommunityToolkit/blob/main/XamarinCommunityToolkitSample

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
-

[2020-11-21 18:21] #600 closed

[2020-11-21 19:00] IeuanWalker opened #602 "[Enhancement] Round corner converter"
## Summary

A converter to set the corner radius of a control based on its height to make it rounded.

## API Changes

New converter -
[code]

Usage -
[code]
## Intended Use Case
An example used in one of my app -
![image](https://user-images.githubusercontent.com/6544051/99885311-ced1bd80-2c2b-11eb-8e0e-efe828c6a148.png)

## Who Will Do The Work?

- [x] I am willing to take this on myself
- [ ] J

[2020-11-21 20:18] #293 closed

[2020-11-21 20:48] jBijsterboschNL commented on #602
I like your idea and could use this for several use cases in my own projects. But wouldn't a Behavior be a better fit for this?
You could create a Behavior that works for all views that have a CornerRadius property and when the Height property of that control has changed, you could update the CornerRadius as well.
The usage would be much easier also.
And perhaps you could make it a bit more generi

[2020-11-21 21:15] IeuanWalker commented on #602
@jBijsterboschNL sounds good.

Havnt created many behaviours so be interesting how id do that.

In my project I'm using pancake view, would a behaviour able able to be generic enough to work for custom control like that or would it be limited to XF controls ?

[2020-11-21 21:23] jBijsterboschNL commented on #602
I was already afraid you would say you where using the PancakeView, or any non default Xamarin.Forms view 🙈 then you would need to use reflection in the Behavior to check if the View has a property named CornerRadius, but don't think that's such a good idea...

If you would go for a Converter, you could as well make it a bit more generic to create a MathConverter perhaps? With 2 proporties, Operat

[2020-11-21 22:42] tonyfonager opened #604 "[Bug] [iOS] Cannot move slider at bottom of AvatarViewPage as its inside "no safe" area."
### Description

When you run the AvatarViewPage sample on an iOS device without the homebutton, the Slider in the bottom of the page cannot be moved horizontally across the screen, as it is partly covered by the horizontal line called "Home indicator".

### Steps to Reproduce

1. Just run the sample, and try moving the botton slider on an iOS device without the home screen.

![image](https://user

[2020-11-21 23:27] sachinkanadia opened #608 "[Bug] Expander within CollectionView does not work properly on iOS"
### Description
When using the XF expander view within the XF collection view the expanding action performs in irregular fashion. All the expenders below the current expander that has been tapped expand. The only expander that should expand is the one that has been tapped. This only occurs on iOS. Android works fine.

### Steps to Reproduce

1. Download the sample code provided in the re-productio

[2020-11-21 23:49] #604 closed

[2020-11-22 00:38] pictos opened #606 "[Bug] Sample doesn't show items for pages after WelcomePage"
### Description
This happens just for UWP and WPF (so far).
### Steps to Reproduce

1. Target the sample app to UWP or WPF
2. When the app is running click Views, Behavior, etc
3. You will see an empty page

### Expected Behavior
See the samples cards

### Actual Behavior
I can't see the sample cards
![image](https://user-images.githubusercontent.com/20712372/99890786-c4222300-2c41-11eb-964d-ec1c0

[2020-11-22 06:38] jBijsterboschNL commented on #602
Or if you still want to go with the Behavior, you could make the method that sets the CornerRadius virtual and in your own project you can create a PancakeViewRoundedCornersBehavior and override that method to properly set the CornerRadius on the PancakeView.