[2020-11-22 14:52] VladislavAntonyuk commented on #606
as for UWP you have to resize the app (as workaround)
as for WPF. it is XF issue. We use ControlTemplate which is not implemented in XF for WPF

[2020-11-22 15:36] IeuanWalker commented on #602
@jBijsterboschNL Probably best to stick with a converter for now.

Just need the go-ahead before I implement this.

[2020-11-22 20:11] Tommigun1980 opened #607 "[Bug] SnackBar visualisation problems"
### Description

XCT's snack bar visualises strangely both on iOS and Android.

Android:
<img width="578" alt="Screenshot 2020-11-22 at 21 51 35" src="https://user-images.githubusercontent.com/60286968/99915896-49bfd480-2d0f-11eb-92a7-026be9a612fa.png">

The colors are correct (peach background + white text), but the actual message is not shown and the snack bar is very tall.

iOS:
<img width="506

[2020-11-22 20:25] VladislavAntonyuk commented on #607
Fix in PR

[2020-11-22 20:49] Tommigun1980 commented on #607
Ah thank you! Hope it gets merged soon 👍

Do you have any idea what's up with Android's message though, it doesn't display and the notification is very tall?

Thanks again!

[2020-11-22 21:22] VladislavAntonyuk commented on #607
I think the text is displayed but it has the same color as background. Could you please play with different text colors?

[2020-11-22 21:47] Tommigun1980 commented on #607
Thank you, I will try that.

The colors are currently set up as such:
SnackBarOptions.DefaultBackgroundColor = peach
MessageOptions.DefaultForeground = white
SnackBarActionOptions.DefaultBackgroundColor = peach
SnackBarActionOptions.DefaultForegroundColor = white

Maybe I misunderstood the properties? I tried to get a peach background with white text.

[2020-11-22 22:28] VladislavAntonyuk commented on #607
Could you please attach a small repro.
It works with default settings. I will review it again.

[2020-11-23 08:44] AndreiMisiukevich commented on #602
Hi) Behavior is more suitable here, I think

[2020-11-23 09:46] roubachof commented on #602
I'm afraid `RoundCornerRadiusConverter` is not really suitable as a name since it just basically divides by 2 the argument.
Also a Behavior seems a bit at the same time too powerful for the wanted operation and at the same time incomplete:

It would only work for Frame and need to extend it to support thrid party libs like pancake.

So I guess a `MathOperationValueConverter` would have more sense

[2020-11-23 15:34] somewv opened #609 "[Bug] Long text inside expander"
### Description
If you change the text of a label that is inside expander when executing Expander Command, then the length of the label is limited to one line.

### Environment
MainPage.xaml
[code]
MainPage.xaml.cs
[code]

### Screenshots
![Expander Bug](https://github.com/somewv/ExpanderBug/blob/master/screenshot.PNG)

[2020-11-23 16:12] AndreiMisiukevich commented on #609
@somewv you should call ForceUpdateCommand after Text Change

[2020-11-23 18:59] somewv commented on #609
@AndreiMisiukevich I'm sorry, I made the wrong project. I use expander from xamarin forms

[2020-11-23 19:31] AndreiMisiukevich commented on #609
Cuz Expander was moved from Xamarin.Forms to XamarinCommunityToolkit :)

Well
[code]

Should solve your problem.
Don't forget to bind Expander's ForceUpdateCommand to VM's ForceUpdateCommand

[2020-11-23 19:59] somewv commented on #609
@AndreiMisiukevich Works. Thank you very much

[2020-11-23 19:59] #609 closed

[2020-11-23 21:01] AndreiMisiukevich commented on #609
You are welcome)

[2020-11-23 23:16] Tommigun1980 commented on #607
Hi and thank you for the information. I saw you committed https://github.com/xamarin/XamarinCommunityToolkit/pull/603/commits/790eb6a99d8b0cb3643583c7cbede66485207708 so do you still need a repro, or does that cover the Android color issue?

Thank you again.

[2020-11-23 23:28] VladislavAntonyuk commented on #607
it should fix android as well.

[2020-11-24 01:33] VladislavAntonyuk opened #610 "Samples build"
1. Right now Samples project is not built on CI
2. Sample project is broken after folder structure changes. (Before: XamarinCommunityToolkit, After: Xamarin.CommunityToolkit)

[2020-11-24 17:19] Cfun1 opened #611 "[Bug] Sample solution build failed"
### Description
Building the sample solution fails with the following errors:

### Steps to Reproduce

1. Build the sample solution, target Android.

### Expected Behavior
Successful build.
### Actual Behavior
Build failed.
### Basic Information
- Version with issue:  1.0.0-pre5
- Last known good version: -
- IDE: VS2019 on windows

[2020-11-24 18:28] #611 closed

[2020-11-24 20:11] IeuanWalker commented on #602
@roubachof cool no prob, I'll look at implementing this, this week or on the weekend :)

[2020-11-25 00:57] pictos commented on #610
This one is fixed by #612, @VladislavAntonyuk can you confirm that?

[2020-11-25 08:05] AswinPG commented on #591
@jsuarezruiz Can you please share your thoughts on this issue ..?

[2020-11-25 09:05] VladislavAntonyuk commented on #610
@pictos it is partially fixed:
Platform Project files are still broken
[code]

[2020-11-25 09:06] VladislavAntonyuk commented on #610
I will create a PR today

[2020-11-25 09:33] AndreiMisiukevich commented on #610
Confirmed

Here is what we need to do
![Uploading image.png…]()

[2020-11-25 11:03] AndreiMisiukevich commented on #610
Oh, and Xamarin.CommunityToolkit as well for sure

[2020-11-25 15:09] jsuarezruiz commented on #591
You have a TabView with CollectionView on each tab and if you scroll vertically, does it take control of the TabView swipe instead of CollectionView scroll?.  If this happens, it should like a bug, something we must improve.

[2020-11-25 15:15] AswinPG commented on #591
Yes exactly. If we scroll up in a straight line then it's ok but a user won't scroll like that, casual scrolling leads to this issue

[2020-11-25 23:59] dersia commented on #476
Maybe I am wrong, but I think the XTC should look at concepts and semantics and be inspired by those, but a community toolkit should always be about the community and less about specific concepts. I think from a usability point of view the requested behaviors/actions/animations are not just valid but necessary. Every user today expects for banners/toast/Snackbar to be dismissable. I can't count th

[2020-11-25 23:59] bmacombe commented on #606
https://github.com/xamarin/Xamarin.Forms/pull/11394 might fix this issue when merged...for uwp

[2020-11-26 08:24] #610 closed

[2020-11-26 08:46] #586 closed

[2020-11-26 14:23] bpater-tp opened #614 "[Bug] Setting flash and taking photo crashes some ipads"
### Description

Not all iPads have flash capability. Currently CameraView crashes when I try to set flash on it and iPad does not have it in hardware. CameraView should check for FlashAvailable property before trying to set it ( https://developer.apple.com/documentation/avfoundation/avcapturedevice/1624627-flashavailable ).

### Steps to Reproduce

1. Take iPad that does not have flash (f.e. iPad

[2020-11-26 20:46] VladislavAntonyuk commented on #563
@jfversluis Looks like it is fixed. I updated sdk version.

[2020-11-26 23:14] pictos commented on #602
I'm wondering if we really need this feature. I can't remember to need something like this in any real app, even to calculate the Radius. Also, a converter is very bad for this, because we box and unbox values and for math operations, we just use values type. Said that we'll box every time that we need to perform a calculation.

[2020-11-26 23:35] IeuanWalker commented on #602
Ye i dont mind.

I needed this for my app to calculate the CornerRadius dynamically as the height of the frame could vary based on the device width or the content of the update, so the CornerRadius couldn't be set as a constant.

[2020-11-26 23:42] pictos commented on #602
@IeuanWalker first of all, thanks for the propuse.

And don't get me wrong here. By your answer, if it's just you, I think that you can implement it just on your app. The concept of XCT isn't to add features that **your** app needs and feature that will e useful for various apps. And the feature also needs to make sense.

[2020-11-26 23:47] AndreiMisiukevich commented on #602
@pictos @IeuanWalker

I assumed something similar but more powerful

https://github.com/xamarin/XamarinCommunityToolkit/issues/237

Maybe sometimes it can be useful (multiply to some value)

e.g. If I need set an element's width equal to 30% of the parent's width (And I don't want to sue Absolute or Relative layout and want to use Stack)

Or when Opacity must depend on TranslationX etc.

[2020-11-26 23:58] pictos commented on #602
@AndreiMisiukevich I got your point and took a look at two references in #237. That makes much more sense to add because is more powerful. But why not use the code-behind for stuff like that?

[2020-11-27 00:33] AndreiMisiukevich commented on #602
Well, I am a C# for UI fan :) So this is a very interesting topic. But as I know other devs are keen to reduce C# percentage as much as possible :)

[2020-11-27 00:39] pictos commented on #602
So I think that is reasonable to mark this as duplicated or related to #237 and close this one.

[2020-11-27 00:40] #602 closed

[2020-11-27 00:42] pictos commented on #602
@IeuanWalker thanks again for your proposal, lets continue this discussion on #237 issue. I'll mark your PR with the `not-on-roadmap` label since that's not the implementation that we want. We'll be very happy if you want to move forward with th #2367 but please wait that the issue is marked with `ready-to-implement` label.

[2020-11-27 08:41] VladislavAntonyuk commented on #607
@Tommigun1980 please confirm if it is fixed for you

[2020-11-27 10:04] sthewissen opened #618 "[Enhancement] Various MultiBinding converters"
## Summary
A recent version of Xamarin.Forms introduces the `MultiBinding`.

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/data-binding/multibinding

This allows for a single binding to take in multiple booleans and decide things based on that. However, it also takes in a converter that indicates whether or not all booleans must be true, any boolean can be true, etc. The

[2020-11-27 12:25] #200 closed

[2020-11-27 12:25] #500 closed

[2020-11-27 12:25] #561 closed

[2020-11-27 12:36] AndreiMisiukevich commented on #563
@jfversluis I don't see any messages on VS for Mac. Can you please confirm that you don't see it on Win?

[2020-11-27 13:12] AndreiMisiukevich commented on #599
@tonyfonager have you tried to play with Aspect property?

[2020-11-27 14:16] sachinkanadia commented on #608
Is there any update on this?

[2020-11-27 15:07] sachinkanadia commented on #608
Not sure why this has been allocated to the XamarinCommunityToolkit project. Surely this is an issue with the CollectionView rather than the expander control?

[2020-11-28 05:03] Tommigun1980 commented on #607
Kinda, but there's still two problems with text:

1) Default font size doesn't seem to be honoured on Android as text is drawn with a very large size no matter what it's set to. This applies to both the message text and to button text, and doesn't happen on iOS.

1) FontFamily doesn't support font aliases (at least on iOS - can't say on Android as the font is so large).

* Add a font to your *shar

[2020-11-28 05:09] Tommigun1980 commented on #476
I've now been testing the XCT snackbar and it's shaping up really nicely, but I just can't live without ability to dismiss it or placing it at the top of the screen instead.
The problem is that I have the app's main buttons at the bottom of the screen and the snackbar obscures them completely, so every time a notification is shown the user has to stop using the app for a few seconds. This just isn

[2020-11-28 05:16] Tommigun1980 commented on #476
I've now been testing the XCT snackbar and it's shaping up really nicely, but I just can't use it without the ability to dismiss it or place it at the top of the screen instead.
The problem is that I have the app's main buttons at the bottom of the screen and the snackbar obscures them completely, so every time a notification is shown the user has to stop using the app for a few seconds. This just

[2020-11-28 10:52] jfversluis commented on #563
Seems gone for now! Thanks!

[2020-11-28 10:52] #563 closed

[2020-11-28 17:00] #557 closed

[2020-11-28 17:12] sarthak1995-26 opened #671 "Overlay Control"
Overlay control can be a content view which can be open at any position above any view on content page without losing focus of a current focused control(e.g Entry).

Now many people will say you can do that using Rg.Plugin.Popup but what you will found that if you open a popup having any entry focused you will see keyboard will closed and entry fill lose it's focused state as soon as popup opens.

[2020-11-28 18:17] mhrastegary77 opened #624 "[Bug] UWP: TouchEffect not working"
### Description
I tested on iOS 14 and it was fine but in UWP nothing works!!!

### Steps to Reproduce
1. create a blank XF UWP app
2. add this piece of Code
[code]
3. test the UWP version

### Basic Information
- Version with issue: 1.0.0-preview2497
- IDE: VS 16.8.2
- Platform Target Frameworks:
- iOS: 14.2
- UWP:  19041
- Affected Devices: Windows PC

### Reproduction Link
[TouchEffectTest.zip]

[2020-11-28 19:38] pictos commented on #624
@mhrastegary77 thanks for your report. But this isn't a bug.
Our minimal version support, for UWP, is `17793` if you update the Min Version, the effects will work.
![image](https://user-images.githubusercontent.com/20712372/100524575-13170d80-3198-11eb-8b51-3d975f882fa7.png)

[2020-11-28 19:54] pictos commented on #240
I agree with @jfversluis I think is out of the scope of this project. This proposal fits better in this [repo/project](https://github.com/xamcat/mobcat-library).

[2020-11-28 19:59] pictos commented on #579
@ashlar64 can you attach a reproduction sample?

[2020-11-28 20:00] pictos commented on #607
@VladislavAntonyuk are you able to work on this one? If so do you prefer to open a new issue and close this one?

[2020-11-28 20:01] pictos commented on #606
So for now the workaround will be to not use ContentTemplates for the list pages.

[2020-11-28 20:03] VladislavAntonyuk commented on #606
XF 5.0.1 should fix it: https://github.com/xamarin/Xamarin.Forms/pull/7728

[2020-11-28 20:06] VladislavAntonyuk commented on #607
as for the font I think it should be a separate issue.

[2020-11-28 20:07] VladislavAntonyuk commented on #607
@Tommigun1980 please create a small example of how you set and use Snackbar.

[2020-11-28 20:08] pictos commented on #606
@VladislavAntonyuk, maybe this can take more time, it's a too old PR and is targeting the wrong branch there.

[2020-11-28 20:08] pictos commented on #607
@Tommigun1980 can you create another issue for the font issue? Thanks, I'll close this for now.

[2020-11-28 20:08] #607 closed

[2020-11-28 20:15] pictos commented on #608
@AndreiMisiukevich, can you please confirm if we can solve this issue here?

[2020-11-28 21:16] AndreiMisiukevich commented on #608
No, unfortunately, I don't think so.
I am pretty sure that now Expander **does not** work with List/Collection Views.

[2020-11-28 21:23] sachinkanadia commented on #608
Am I right in saying that in order to resolve this issue one would need to update the collection view control code rather than the expander control code?

[2020-11-28 21:37] AndreiMisiukevich commented on #608
I think, yes. You are right

[2020-11-28 21:41] sachinkanadia commented on #608
Thank you @AndreiMisiukevich
Can we move this to the correct project please. It should be allocated to the project responsible for the XF Collection View Control.

[2020-11-28 22:03] #614 closed

[2020-11-29 00:11] Tommigun1980 commented on #607
Thank you, I’ll do that.

But the default font size not being honored on Android issue is related to this report I think, no?

[2020-11-29 00:26] leo-mck opened #625 "[Bug] Space at the bottom of TabView"
If a page with a TabView has `NavigationPage.HasNavigationBar="False"`, after navigating to a page with NavigationPage.HasNavigationBar="True" and coming back there is some empty space at the bottom:

Before navigating, the button occupies all space of the TabViewItem:
![screenshot-2020-11-28_21 21 45 807](https://user-images.githubusercontent.com/876986/100528871-335ac280-31c0-11eb-966c-e892ea32a

[2020-11-29 00:39] pictos commented on #608
@AndreiMisiukevich what do you think (I don't if it's feasible) to add a Warning when the parent is a CollectionView or ListView? That way if the dev doesn't read the docs, the output will alert him.

[2020-11-29 00:40] pictos commented on #607
@Tommigun1980 yes, it's. And thank you so much❣

[2020-11-29 05:04] Tommigun1980 commented on #607
You are welcome. Should this be reopened for the first issue then, or do you want me to put that in the other report also?

[2020-11-29 06:53] VladislavAntonyuk commented on #607
the issue with Android text color  should be already fixed. The original issue with iOS colors as well.
As for the font alias, I think it is enhaunchement rather then bug.

[2020-11-29 07:51] Tommigun1980 commented on #607
The original issue was fixed but I reported two new issues, of which one was that Android doesn’t honor default font size.

[2020-11-29 10:04] sachinkanadia commented on #608
@pictos I don't feel adding a warning to resolve this defect is adequate. We need to move this defect to the correct place in order to allow the Xamarin Forms team to respond. Please can this be arranged.

[2020-11-29 16:52] pictos commented on #608
@sachinkanadia I didn't say that this is the solution to the bug. We agreed that this bug should be on the XF repo and be solved there (until now) on our side, what we can do until they fix this bug is warning devs that isn't a good idea to use Expander inside collections. By the way, can you open this issue there?

[2020-11-29 17:02] sachinkanadia commented on #608
@pictos my bad. Is there a way we can transfer this issue there? It's just that if I raise another bug there, theres always the chance it can be moved elsewhere again. I agree using a warning in the meantime would be a good idea.

[2020-11-29 17:17] pictos commented on #608
@sachinkanadia don't worry, English isn't my main language, so I probably didn't express myself very well. Ok. @jfversluis @jsuarezruiz can you move this issue to the XF repo? Thanks in advance.

[2020-11-29 19:04] mhrastegary77 commented on #624
Thanks @pictos !!! it works perfectly now.
Love the hover option btw @AndreiMisiukevich ❤

[2020-11-29 19:05] #624 closed

[2020-11-29 19:06] pictos commented on #624
@mhrastegary77 good to know. Hope that you are enjoying the XCT!

[2020-11-30 05:46] Tommigun1980 commented on #607
What do you want to do with the default font size not being honoured on Android issue, keep it in this one or create another one for it? Default font size does work properly on iOS now after the latest fixes so thanks a lot for that, and the other fixes!

[2020-11-30 07:59] #502 closed

[2020-11-30 08:17] #599 closed

[2020-11-30 08:27] VladislavAntonyuk commented on #607
If you change the font size, does it work on Android?
Create a new issue, but link it to this one. I prefer 1 issue - 1 bug fix. If you describe all problems at once, it is easier to miss something.

[2020-11-30 08:30] Tommigun1980 commented on #607
Here are the new issues when testing with your patch:
https://github.com/xamarin/XamarinCommunityToolkit/issues/607#issuecomment-735040571

[2020-11-30 08:32] VladislavAntonyuk commented on #606
@pictos I am not sure, but I think you are a bit closer to the Xamarin Forms owners. It would be nice if you ping them to review the PR. Because mostly developers create apps for Android and iOS, it is less risky to break something by fixing this PR for WPF.

[2020-11-30 09:51] jfversluis commented on #608
Before moving this (again) I would like to 100% determine this is a CollectionView issue and not an Expander issue. How we should do that I don't know, but I'm not a fan of trying to "blame" other people without having data to back it up.

@AndreiMisiukevich what makes you think it's in the CollectionView? I don't know how the expand action works, but it almost sounds like something is triggered f

[2020-11-30 11:18] AndreiMisiukevich commented on #608
1) Expander works fine with Scroll + Stack
2) Expander works fine for CollectionView on Android (if I am not wrong)

[2020-11-30 12:33] pictos commented on #606
@VladislavAntonyuk sure, I'll ping them later today.

[2020-11-30 21:32] VladislavAntonyuk commented on #607
@Tommigun1980 please check if it fixes all your cases: https://dev.azure.com/xamarin/public/_build/results?buildId=31623&view=artifacts&pathAsName=false&type=publishedArtifacts

[2020-12-01 13:56] jfversluis commented on #562
OK I think this is all done!

[2020-12-01 13:56] #562 closed

[2020-12-01 20:22] AswinPG commented on #591
@jsuarezruiz If you could suggest a way to clear this issue, I'd happy to test and implement it and then contribute to XCT

[2020-12-02 01:26] MauricioCodeguez opened #630 "[Bug] TabView - Tab is not being selected"
### Description

The penultimate tab isn't being selected after selecting the last one

### Steps to Reproduce

1.  Download the sample code provided in the re-production link.
2.  Run the sample on an Android device or simulator.
3.  Tap on the last tab.
4.  Try selecting the last but one tab.

### Expected Behavior

Tab is selected

### Actual Behavior

Tab isn't being selected

### Basic Inform

[2020-12-02 11:47] YZahringer opened #633 "[Enhancement] SelectedItem of TabView"
## Summary
Support bindable property `SelectedItem` on `TabView`.

Currently we can work with `SelectedIndex`, it would be useful to be able to work with the object directly.

## API Changes
[code]

## Intended Use Case
Get current selected item of `TabItemsSource`.

## Who Will Do The Work?
- [ ] I am willing to take this on myself
- [x] Just putting this out there for someone to pick up

[2020-12-02 12:12] YZahringer opened #634 "[Enhancement] TabView VisualStates"
## Summary
Support selection `VisualSates` on `TabView`.

## API Changes
| VisualState Name | VisualStateGroup Name | Description                      |
|------------------|-----------------------|----------------------------------|
| Selected         | SelectionStates       | The TabView item is selected.     |
| Unselected       | SelectionStates       | The TabView item is not selected. |

## I

[2020-12-02 13:26] Maraud3r opened #635 "[Bug] Cannot compile Android App"
### Description
Error message trying to compile Android Application.
message: The specified language targets for Xamarin.Mac20 is missing. Ensure correct tooling is installed for 'Xamarin.Mac'. Missing: '/Library/Frameworks/Mono.framework/Version/6.12.0/lib/mono/xbuild/Xamarin/Mac/Xamarin.Mac.CSharp.targets'

### Steps to Reproduce

Using Visual Studio for the Mac. Version 8.8.3 (build 16)
Clone d

[2020-12-02 14:11] AndreiMisiukevich commented on #635
@Maraud3r can you explain a little more.
What app cannot compile? XCT sample app or your own?

[2020-12-02 14:25] Maraud3r commented on #635
@AndreiMisiukevich
It's the XCT sample app.

I wanted to look at the sample app and run it so that I could see whats available.

I cloned the repo and opened the sample solution, tried to compile the android app.

Should I be able to run the sample app?

[2020-12-02 14:27] AndreiMisiukevich commented on #635
Do you use mac or windows as your machine? (I guess mac, right?)

[2020-12-02 14:29] Maraud3r commented on #635
@AndreiMisiukevich
Yep, I'm on a mac.

Other Xamarin solutions I have compile without error.

[2020-12-02 14:38] YZahringer opened #636 "[Enhancement] Width of TabViewItemDataTemplate"
## Summary
Currently it is not possible to specify the `Width` of `TabView` item when it is defined by `TabViewItemDataTemplate`.

## API Changes
Add `double TabWidth` property on `TabView` or support `Width=GridLength.Auto` when `TabViewItemDataTemplate` is defined.

## Intended Use Case
Specify Width of TabView item when defined by DataTemplate.

Currently the `Width` is [GridLength.Star](https:

[2020-12-02 16:01] Estevete opened #637 "[Enhancement] TabView LazyLoading"
## Summary

Currently it is not possible to enable the lazy load in `TabView` like proposed in spec #501:

![81934699-ad927380-95ef-11ea-896c-ce4c5a71eb6e](https://user-images.githubusercontent.com/19273351/100896311-c779a200-34be-11eb-9703-33c6061cb3b5.gif)

## API Changes
Add new `bool IsLazy` property for `TabView`
Property | Type | Description
-- | -- | --
IsLazy | Bool | Enable or disable laz

[2020-12-02 16:04] AndreiMisiukevich commented on #635
Well, this problem occurs because you don't have Xamarin.Mac SDK installed.
If you install it, the problem will go.

But, what will happen if you try to **unload** macOS sample project?

[2020-12-02 16:45] Maraud3r commented on #635
@AndreiMisiukevich
Well if I'm unloading the correct project, I still get the same error.

I have the tests project loaded, the toolkit project loaded, the Xamarin core project loaded and the platform specific targets loaded.

A rebuild on the android project yields the same error.

![Screen Shot 2020-12-02 at 10 44 04 AM](https://user-images.githubusercontent.com/23086592/100903346-6a182d80-348b-

[2020-12-02 16:54] sarthak1995-26 commented on #401
@rodhemphill have you tried MediaManager package it does have a decent VideoPlayer.

[2020-12-02 17:22] Cfun1 opened #638 "[Bug] BadgeView BadgeIndicatorContainer is visible if the Text property is 0 at the start"
### Description
When showing a page containing a  `BadgeView ` with it Text property is initially equals to 0, the badge is visible with "0" as text while it shouldn't be.

### Steps to Reproduce

1. In the sample project change [`Counter` initial value](https://github.com/xamarin/XamarinCommunityToolkit/blob/1860937eacde3ced52e32fffff08a7592e8754b1/src/CommunityToolkit/Xamarin.CommunityToolkit.Sa

[2020-12-02 22:24] AndreiMisiukevich commented on #635
@pictos @jfversluis @jsuarezruiz @sthewissen any ideas on how can we skip building macOS if SDK is not installed?

Workaround: installing xamarin.mac sdk

[2020-12-02 22:34] Maraud3r commented on #635
@AndreiMisiukevich
Is there a way to modify the VS for Mac install to get the macOS SDK without completely re-installing VS for the Mac?

[2020-12-02 22:42] AndreiMisiukevich commented on #635
if you run VS for mac installer it won't re-install everything, as I know. It will install only missed packages.

[2020-12-02 23:06] adammeaney opened #640 "[Bug] BadgeView doesn't display when Text is empty"
### Description
BadgeView doesn't display when initial Text value is null or empty.

### Steps to Reproduce

1. Have a badgeview with Content.
2. Set its Text to string.Empty or null
3. Watch the badgeview and its content be IsVisible = false

### Expected Behavior
The content is visible, the badge is not as there is no value.

### Actual Behavior
There is no content

### Basic Information

- Vers

[2020-12-02 23:10] adammeaney opened #641 "[Bug] BadgeView grows vertically when horizontally wider"
### Description
The badgeview gets bigger vertically when the size only needs to expand horizontally.

### Steps to Reproduce

1.  Set the Badge Text to 87234687
2. Marvel at the oddity.

### Expected Behavior
Wrap the badge in the least space needed with margins and padding to have a nice rounded horizontal badge.

### Actual Behavior
Giant square badge.

### Basic Information

- Version with iss

[2020-12-02 23:32] AndreiMisiukevich commented on #640
@jsuarezruiz is it expected behavior?

https://github.com/xamarin/XamarinCommunityToolkit/blob/c57959085051784d7c4fdeefe936447186d5fdf6/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BadgeView/BadgeView.shared.cs#L325-L329

[2020-12-02 23:43] adammeaney commented on #640
It's the coded behavior, but I can't imagine anyone expecting it.

As badges are allowed to be strings, not numbers, a binding having a null or empty is not unusual, and would indicate in many circumstances that I want no badge, but the view to stay.

I would bind the visibility if I wanted it to disappear

[2020-12-03 06:36] MarMarIV opened #642 "[Bug] BaseBehavior generic"
### Description
I have a problem with EventToCommandBehavior (abstract BaseBehavior<TView>)

In BaseBehavior (https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/BaseBehavior.shared.cs) there is a restriction for TView inheritance from VisualElement. That is ok

But in Object Browser, i see restriction for View, not VisualElement
![C

[2020-12-03 07:13] AndreiMisiukevich commented on #642
Hi @MarMarIV, thank's for your interest in this project)

Unfortunately, this change (View to VisualElement) wasn't included in **1.0.0-pre5**

@jfversluis can you hint when pre6 will be released?

[2020-12-03 07:16] AndreiMisiukevich commented on #640
I agree with your points

[2020-12-03 10:19] Estevete opened #643 "[Bug] TabView UWP screen resize shows other TabViewItem's content"
### Description
Running the app in UWP with a TabView, resizing the window (making it bigger) will show the next TabViewItem's content.

![image](https://user-images.githubusercontent.com/19273351/100986670-cd6a9400-354d-11eb-8493-c453909a0cf0.png)

### Steps to Reproduce

1. Run Xamarin.Community.Toolkit.Sample.UWP project (or create a new one using TabView with some TabViewItems)
2. Open any vie

[2020-12-03 12:50] Maraud3r commented on #635
@AndreiMisiukevich
After installing the MacOS SDK, I was able to successfully compile the app.

Up to you if you want to just close the bug.

[2020-12-03 19:05] JohnGalt1717 opened #646 "[Enhancement] MediaElement Caption Support"
## Summary

Now that Media Element has been moved here, please add Caption support to the media element so that we can properly use both embedded captions in videos AND provide a list of URLs of external captions in WebVTT and SRT.

## API Changes

This will require changing how the video/media is loaded, especially on iOS to be able to rebuild the m3u with the captions loaded in properly.

On win

[2020-12-03 19:07] JohnGalt1717 opened #647 "[Enhancement] MediaElement HTTP Header Support"
## Summary

Please enable header support on all platforms in addition to URL.

## API Changes

This will require the same changes as caption support would require. (https://github.com/xamarin/XamarinCommunityToolkit/issues/646)

## Intended Use Case
I.e. Azure Media Services AES DRM support.

## Who Will Do The Work?

- [X] I am willing to take this on myself (I can provide code samples)
- [X] Jus

[2020-12-03 19:09] JohnGalt1717 opened #648 "[Enhancement] MediaElement add DRM support"
## Summary

Please add functionality to enable DRM functionality. That means widevine on Android, Fairplay on iOS/MacOs, and PlayReady on Windows.  Allow us to pass a set of values for each of the 3 DRM standards and have the video player use those to decode and playback.

## API Changes

This will need to be part of changes that are consistent with: https://github.com/xamarin/XamarinCommunityTool

[2020-12-03 19:11] JohnGalt1717 opened #649 "[Enhancement] MediaElement - Add Playback Speed Controls"
## Summary

Please add playback speed controls as optional on the toolbar for every platform

## API Changes

.ShowPlaybackSpeed = true/false

## Intended Use Case
Anyone using the video player would find this valuable.

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [X] Just putting this out there for someone to pick up

[2020-12-03 19:13] JohnGalt1717 opened #650 "[Enhancement] MediaElement - Full Screen Support"
## Summary

Please implement transparent full screen functionality from button and also the ability to enable full screen on landscape flip.

## API Changes

Each platform is different.

.AllowFullScreen = true/false
.AutomaticFullScreen = true/false
.FullScreen()

## Intended Use Case
Anyone using video will expect this basic functionality.

## Who Will Do The Work?

- [ ] I am willing to take th

[2020-12-03 22:42] #635 closed

[2020-12-03 22:43] pictos commented on #635
The user can delete the MaciOS target inside the `Xamarin.CommunityToolkit.csproj`

[2020-12-03 22:51] AndreiMisiukevich commented on #642
Please wait for a new pre-release or use the latest nightly

[2020-12-03 22:51] #642 closed

[2020-12-05 23:43] #638 closed

[2020-12-06 10:43] AndreiMisiukevich commented on #526
I know the reason and I will prepare a fix today

[2020-12-06 12:45] Tommigun1980 commented on #607
Hi. I tested with the latest version and everything seemed to work, except the font size was extremely tiny on Android (like just a couple of pixels tall). It looks like the font size units between iOS and Android are probably not the same?

[2020-12-06 17:24] #558 closed

[2020-12-06 22:34] #526 closed

[2020-12-06 23:11] #596 closed

[2020-12-06 23:20] AndreiMisiukevich commented on #579
@pictos test XAML is attached to the description)

What I noticed: The video that works fine (Xamarin Show) is starting to play in the browser when I copy/paste the link to search input in Google Chrome.

But the second one start the downloading process (downloads the video instead of playing)

It can be the reason...

[2020-12-06 23:27] AndreiMisiukevich commented on #579
@ashlar64 did you test on an emulator or real device?

https://stackoverflow.com/a/59898958/6255544

[2020-12-06 23:30] AndreiMisiukevich commented on #493
duplicated #608

[2020-12-06 23:30] #493 closed

[2020-12-07 07:05] VladislavAntonyuk commented on #607
@Tommigun1980 For Android we use pixels. It was points, but you got a huge text. It should be fixed with the latest build.
I rewrote iOS and macOS implementation. You should have multiple action buttons and all platforms automatically use system colors, until you override them.

[2020-12-07 10:29] jfversluis opened #657 "[CameraView] Add options to give users control over where to save a file and save to gallery"
See my comment on a PR below. I think the way `SavePhotoToFile` is implemented today is not great. To have not any breaking changes I have opted to take out the functionality right now and implement it the right way a little later on.

This implementation, I think, ideally would look like how James does it with the MediaPlugin.

A note for future me, or whoever will work on this: have a good look

[2020-12-07 12:36] #618 closed

[2020-12-07 17:38] sachinkanadia commented on #493
Hi @AndreiMisiukevich

Thanks for looking into this. Whats the update for this bug? Has it been resolved? Does it has to be reallocated to another project?

I agree with you that the expander view works within a stacklayout as a bindable layout control so I think it needs to be looked at by the team responsible for CollectionView.

I achieved this on this app - https://play.google.com/store/apps/d

[2020-12-07 18:08] AndreiMisiukevich commented on #608
Hey folks @PureWeen @hartez
Do you have any idea of how to fix this issue? I'm pretty sure we should resolve it in iOS CollectionViewRenderer

[2020-12-08 03:51] pictos opened #658 "[Bug] Controls missing from intellisense"
### Description
When I try to build a Xamarin app, and try to access the XCT namespace I can't see all the controls in the xaml intellisense
### Steps to Reproduce

1.  Create a new Xamarin.Forms app
2.  Add the XCT nuget
3.  Try to use the XCT on a page in xaml

### Expected Behavior
See all features that XCT has.
### Actual Behavior
I can see just a feel of features provided by the XCT
### Basic

[2020-12-08 03:52] pictos commented on #658
@dansiegel do you know if this can be related to the custom XAML scheme?

[2020-12-08 06:41] dansiegel commented on #658
What's the namespace of the API that you're missing? Is the namespace included in the XmlnsDefinition's?

[2020-12-08 09:25] jfversluis commented on #658
If you install the pre-release or nightly on a project you can see it.

The XCT.UI.Views namespace is in fact part of the XmlnsDefinition, but odd enough not all views/controls are there. Some are, which makes it even weirder.

[2020-12-08 10:56] GiampaoloGabba opened #659 "[Bug] [TabView]: Updating TabItemsSource Binding doesnt properly reset the TabStrip (tabs keep shrinking at every update)"
### Description
When using `TabItemsSource` with Binding, the `Tabstrip` doesnt get properly resetted when updating the `TabItemSource` collection.

The tabs keep shrinking ad every update, this is because the TabStrip's ColumnDefinition collection get constantly updated with new items without a proper reset first.
In the `UpdateTabItemsSource()` method, we should reset the tabStripContent `Grid.C

[2020-12-08 10:57] AndreiMisiukevich commented on #658
Maybe we should put all of our classes inside single namespace (views, effects, behaviors etc.)

[2020-12-08 10:59] GiampaoloGabba commented on #659
just to be clear, the tabs at the botton of the image are a standard TabbedPage, dont watch them but the tabs just above the title-bar.
I'm creating a "Tab-inception" page with TabView inside TabbedPage :)

[2020-12-08 11:37] KevinAnass opened #660 "Effect Not compatible With the rounded Image ff:CachedImage"
when I want to use touch effect in ff: CachedImage not showing the  native animation

[2020-12-08 11:42] AndreiMisiukevich commented on #660
Hi, what effect would you like to show?

[2020-12-08 11:49] GiampaoloGabba commented on #659
if you want to test it, just use the `UpdateDataCommand` in your demo ("Using TabItemSource" page: TabItemsSourcePage.xaml)

You will se that the tabstrip goes crazy :)

[2020-12-08 13:06] KevinAnass commented on #660
just the native animation press

[2020-12-08 13:08] AndreiMisiukevich commented on #660
@KevinAnass can you please build a small sample?

[2020-12-08 13:59] dansiegel commented on #658
@jfversluis Can you give me a snippet or example. Like which control were you trying to use that wasn't available? What's the XAML context around it? It's hard for me to diagnose without specifics.

[2020-12-08 14:14] jfversluis commented on #658
See this screencast [here](https://1drv.ms/v/s!Anrk6U9nRknzg6FChPKXnpmbvKc3ew?e=lQvDRS), just a File > New Xamarin.Forms app where I install the toolkit on (pre5) which shows only a couple of views, but now Expander for instance. If I just ignore IntelliSense and put in Expander it does know its there with all its properties, but just not showing directly which seems weird.

[2020-12-08 14:45] dansiegel commented on #658
this seems like a potential bug in XAML Intellisense. I was thinking that you might be referring to the context filtering that occurs, which would be why you won't see a Behavior or ImageSource when your context is a child element of a StackLayout.

perhaps @maddyleger1 can help us out here.

[2020-12-08 16:57] KevinAnass commented on #660
https://github.com/KevinAnass/SampleTest
I test and the native animation not show

[2020-12-08 19:37] AndreiMisiukevich commented on #660
First of all you should use XamarinCommunityToolkit (TouchView migrated to XCT)
![image](https://user-images.githubusercontent.com/10124814/101532698-f6ec4b00-39a5-11eb-82d5-f4dfcbdc57a7.png)

[2020-12-09 00:07] pictos commented on #658
@dansiegel I don't know if I get your point correctly, but I tried here, and this happens in any control level (Entry > StackLayout > ContentPage). So is this can be a bug on XAML Intellisense? If it's should the XF has the same problem?

[2020-12-09 09:40] KevinAnass commented on #660
so we can't use just the touch view ?

[2020-12-09 09:44] roubachof commented on #660
TouchView is now embedded in the XamarinCommunityToolkit nuget package.
Add the XamarinCommunityToolkit nuget to your solution, not TouchView.

[2020-12-09 11:14] thomasgalliker commented on #509
@AndreiMisiukevich will Expander still be part of Xamarin Forms in future releases? As I understand, Expander will be moved to some 3rd party library.

[2020-12-09 11:35] AndreiMisiukevich commented on #509
Expander now is a part of XamarinCommunityToolkit (As you can see this ticket was moved to this project).
So, it's out of Xamarin.Forms box, but still under Microsoft's attention (it's hosted on official Xamarin GitHub account)

[2020-12-09 11:56] KevinAnass commented on #660
but I don't know how I can use the touch view embedded in XamarinCommunityToolkit because no docs show how I can get that?

[2020-12-09 12:31] AndreiMisiukevich commented on #660
it's in progress.
But they are almost the same (TouchEffect instead of TouchEff)
TouchEffect is not released yet (even in pre-release of XCT), but I believe it should be available in nightly nuget (here more info https://github.com/xamarin/XamarinCommunityToolkit)

[2020-12-09 13:45] thomasgalliker commented on #509
@AndreiMisiukevich okay, I'm not sure if this is the best decision. Some time ago they summarized a huge bunch of Xamarin plugins into Xamarin.Essentials. One of the reasons was to reduce app startup time (by having fewer dlls referenced?!). Now, we split parts of Xamarin.Forms off to another library. I just hope this ends up well 👍

[2020-12-09 13:50] thomasgalliker commented on #509
@Softtinn I'm having the same issue with Expander when I use a CarouselView as Content. When I set the animation length and duration to 0, the CarouselView works as expected:

[code]
It's just a workaround; I'd love to have the animations back.

[2020-12-09 14:32] peterfoot opened #665 "[Bug] Android MediaElement Video not centered when using AspectFit"
### Description
If the control is wider than the video aspect allows for the video is left aligned leaving a larger border on the right. The video should be centered within the control bounds while still respecting AspectFit.

### Steps to Reproduce

1. Create a wide but vertically short MediaElement and play a "standard" video with AspectFit Aspect. The video is left aligned within the control.
2

[2020-12-09 14:41] peterfoot opened #666 "[Bug] MediaElement - Issues with GetMetaData for Uri sources"
### Description
Because FormsVideoView overrides both SetVideoURI overloads the GetMetaData method is called twice. Loading metadata is slow and this has a negative effect on the startup of the control. The simple solution is to remove the SetVideoURI(Uri) overload as this calls the SetVideoURI(Uri,Headers) one itself.

GetMetaData calls SetDataSource(Context,Uri) for Uris with no custom headers a

[2020-12-09 15:41] peterfoot commented on #406
I think this may be related to the Metadata bug I've recorded in #666

[2020-12-09 18:09] IeuanWalker commented on #510
@pictos I needed life-cycle event for a custom control created for work. Found this solution that works really well _(not had an issue with it, was implemented a few years back, can't remember where I got it from)_ -

Solution
[code]

Usage _(based on a ContentView)_ -
[code]

[2020-12-09 19:20] #659 closed

[2020-12-09 22:54] AndreiMisiukevich commented on #660
@KevinAnass I think NativeAnimation of TouchEffect doesn't work for regular Image as well

[2020-12-09 23:12] pictos commented on #510
@IeuanWalker thanks for the suggestions and code snippets but we will follow another approach for LifeCycle events. Will be better to rely on native APIs, I'll open a PR sooner for it, you can see the current progress in [this branch](https://github.com/xamarin/XamarinCommunityToolkit/tree/pj/Lifecycle-events)

[2020-12-10 00:36] AndreiMisiukevich commented on #660
@KevinAnass issue resolved here https://github.com/xamarin/XamarinCommunityToolkit/pull/668
You can test it :)

[2020-12-10 08:48] #660 closed

[2020-12-10 09:14] sreejithsree139 opened #669 "Xamarin Forms: MediaElement: Feature Request: Stick the control bar always on top of the screen"
I am using `MediaElement` for playing audio. My problem is the controls(Play, pause, and duration bar) are not showing always. If I tap on the `MediaElement` the controls are showing else only a black screen. I need to keep the controls always there at the whole time of audio play.

**Currently audios are playing like below:**

[![enter image description here][1]][1]

I tried true value for `KeepS

[2020-12-10 09:34] jfversluis commented on #669
I think this issue was fixed. @sreejithsree139 could you please install the latest pre-release of the Xamarin.CommunityToolkit and verify this works for you?

[2020-12-10 09:48] IeuanWalker commented on #510
@pictos ahh awesome, thanks.

[2020-12-10 10:39] Jearom opened #670 "MediaElement crash when add new item to collectionview (Xamarin Forms- IOS) [Bug]"
### Description

### Steps to Reproduce

1. Create Xamarin Forms Project
2. Create a Page with collectionView
3. Iniitialize with mutliple items (at least one media element)
4. Insert new item to collectionview

### Expected Behavior
add New item to collectionview.

### Actual Behavior
Crash media element with error.

Unhandled managed exception: Objective-C exception thrown.  Name: NSRangeExcepti

[2020-12-10 13:26] Cfun1 commented on #545
It will nice if it will be possible to override by keeping the existing/current app bar (let say generated by Shell) and appending elements to it above/below? Maybe supported by a coming custom renderer/handler? could be helpful to achieve something like https://stackoverflow.com/questions/64397674/append-a-control-above-upper-to-the-shell-app-bar-without-altering-it

[2020-12-10 14:50] #665 closed

[2020-12-10 14:50] #666 closed

[2020-12-10 16:58] #640 closed

[2020-12-10 17:00] Cfun1 commented on #641
@jfversluis #639 does not resolve this issue, resolves #640 only.

[2020-12-10 23:32] AndreiMisiukevich commented on #670
Seems it duplicates #558 and it was fixed in #651

Can you try the package published in #651?

[2020-12-10 23:32] AndreiMisiukevich commented on #670
https://github.com/xamarin/XamarinCommunityToolkit/pull/651#issuecomment-739442077

[2020-12-10 23:37] AndreiMisiukevich commented on #528
You should call ForceUpdateSizeCommand or ForceUpdateSize method once your stack layout changes size in this case.

[2020-12-10 23:37] #528 closed

[2020-12-10 23:40] AndreiMisiukevich commented on #581
I presume this bug is fixed (at least because now we don't override Dispose method for iOS MediaElement renderer)

[2020-12-10 23:40] #581 closed

[2020-12-10 23:41] AndreiMisiukevich commented on #475
@VladislavAntonyuk @jfversluis any ideas about this issue?)

[2020-12-11 05:11] Cfun1 commented on #630
You have specified versin with issue for Xamarin.Forms only, could you specify XamarinCommunityToolkit version as well ?

[2020-12-11 05:22] VladislavAntonyuk commented on #475
@AndreiMisiukevich It is the only Android issue, because it only supports 1 action button.

[2020-12-11 07:04] Jearom commented on #670
Hi @AndreiMisiukevich ,
    yes it fixes the issue but  xamarin.forms "5.0.0.1791-pre5" is necesssary.  Is there any chance to apply this fix in XF 4.8 ?

Thank you.

[2020-12-11 09:30] jfversluis commented on #658
OK so, the cause is not that exciting it seems :D

I've checked with someone from the XAML tooling and they pointed out.. Here it comes.. 🤦  We're setting the `EditorBrowsable` to never. I.e. the Expander, inherits from `BaseTemplatedView` which has [that attribute](https://github.com/xamarin/XamarinCommunityToolkit/blob/c57959085051784d7c4fdeefe936447186d5fdf6/src/CommunityToolkit/Xamarin.Communi

[2020-12-11 10:03] AndreiMisiukevich commented on #670
I think, no. I guess XCT will require XF 5.0

CC @jfversluis @jsuarezruiz

[2020-12-11 10:06] jfversluis commented on #670
Yep we decided for now that we will depend on Forms 5. Even if we would decide otherwise, the controls will still need Forms 5 simply because Forms 5 has a lot of fixes that we depend on. Sorry about that :(

Closing this one as it seems fixed then!

[2020-12-11 10:06] #670 closed

[2020-12-11 13:06] #658 closed

[2020-12-11 21:48] AndreiMisiukevich commented on #669
@jfversluis not fixed yet

The request is keeping playback controls always visible, as I understand

[2020-12-11 21:54] AndreiMisiukevich commented on #669
https://stackoverflow.com/questions/4458529/mediacontroller-always-show-on-android

[2020-12-11 21:57] AndreiMisiukevich commented on #669
Well, seems it's hard to achieve it on iOS

https://stackoverflow.com/questions/53944561/avplayerviewcontroller-how-to-display-always-playback-controls#:~:text=There%20is%20not%20any%20Public,%2C%20seekbar%2C%20duration%20label%20etc.

@jfversluis are we going to implement it then?

[2020-12-12 01:14] #241 closed

[2020-12-12 01:14] #457 closed

[2020-12-12 12:04] #398 closed

[2020-12-12 12:11] AndreiMisiukevich commented on #669
It seems the "always visible" control bar supposed to be a custom-built solution.

Put media element inside absolute layout, then put custom controls above (buttons, slider etc.)

[2020-12-12 14:52] JohnGalt1717 opened #675 "[Enhancement] Flex Grid (Bootstrap style grid for adaptive UI)"
## Summary

Xamarin forms is severely hamstrung when it comes to doing adaptive UI.  It doens't even have the same power as UWP xaml to solve these issues, and honeslyt UWP isn't nice about it either.

It would go a long way to both Xamarin Forms and Maui being a best of breed cross platform environment if it had better declaritive markup to be able to have content flow intelligently similar to ho

[2020-12-13 00:44] VladislavAntonyuk commented on #671
I think it should be an enhancement for existing PopupControl.

[2020-12-13 09:43] sarthak1995-26 commented on #671
@martijn00 Is this possible for Rg Popup Somehow ?

[2020-12-13 09:44] sarthak1995-26 commented on #671
Closing this since it might not possible to have a separate popup control in toolkit for this

[2020-12-13 11:11] VladislavAntonyuk commented on #675
FlexLayout should give you enough power for it

[2020-12-13 14:29] ahoefling commented on #671
This is a great idea in app development especially for internal or pre-production scenarios. It won't work with the current popup specification as each platform handles popups very differently. For example, this could work with the Dialog (Android) and Popover (iOS) but not the Flyout (UWP). That is because the Flyout dismisses when clicked outside or to a different screen. As of right now you can

[2020-12-13 14:50] Cfun1 opened #677 "[Enhacement] IconTintColorEffect is not working with ImageSource"
### Description
IconTintColorEffect is not supporting `ImageSource`, (FileImageSource, UriImageSource, StreamImageSource) some examples where it can be used:

### Steps to Reproduce

1.     <ShellContent Title="Test" ContentTemplate="{DataTemplate local:Test}">
              <ShellContent.Icon>
                  <FileImageSource File="icon-name.png" xct:IconTintColorEffect.TintColor="Red"/>

[2020-12-13 15:03] Cfun1 commented on #677
Ignore for now. I will properly edit this issue later.

[2020-12-13 15:42] sarthak1995-26 commented on #671
Yes dismissal of popup on click outside might be a problem. I was thinking of a control that could allow us to achieve something like a below gif without going on a native stuff.Since developer might want customise ListView template or show completely different content(like showing some tooltip info contentview) which might be a time taking process if it comes to customise spinner and other native

[2020-12-13 15:48] sarthak1995-26 commented on #671
Entry would be present on a content page while we are showing and hiding overlay control on some specific x,y position without making entry to be unfocused while writing which would happen if we use Rg.Plugin.Popup for this.

[2020-12-13 19:07] AndreiMisiukevich commented on #671
@sarthak1995-26 duplicate of https://github.com/xamarin/XamarinCommunityToolkit/issues/294

[2020-12-13 19:08] #671 closed

[2020-12-13 21:56] #407 closed

[2020-12-14 11:38] Brosten opened #678 "[Bug][Uwp] TextValidationBehavior inconsistent when not setting ValidStyle"
### Description
I implemented email validation, following [this example](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit.Sample/Pages/Behaviors/EmailValidationBehaviorPage.xaml),

However, on UWP it isn't really consistent, as long as a "ValidStyle" isn't added. Shoulden't the "Valid" style default to whatever style the control had without

[2020-12-14 13:25] jBijsterboschNL commented on #677
@Cfun1 it is correct that the IconTintColorEffect doesn't work on ShellContent, as it just hasn't been implemented for this (yet). But for Images, Buttons and ImageButtons it should work! Could you try setting the `xct:IconTintColorEffect.TintColor="Red"` on the Button element itself, instead of on the ImageSource element? As that's where it should be set. Please let me know if this works for you!

[2020-12-14 13:30] Cfun1 commented on #677
@jBijsterboschNL You are correct it does work for Button I am going to edit my post.

[2020-12-14 13:41] JohnGalt1717 commented on #675
@VladislavAntonyuk That's fine, I'm asking if it should be part of this suite. It would make sense to do so, and would be highly beneficial to the community as tablet and desktop become more important into the maui world.

[2020-12-14 14:30] sreejithsree139 commented on #669
@jfversluis and @AndreiMisiukevich  I have installed the latest xamarin forms pre-release.

Getting below error for MediaElement:

	Severity	Code	Description	Project	File	Line	Suppression State	Suppression State
	Error		 : XamlC error XFC0000 : Cannot resolve type "MediaElement"

[![enter image description here][1]][1]

  [1]: https://i.stack.imgur.com/FlU7E.png

[2020-12-14 15:10] berhir opened #679 "[Enhancement] Mark PreserveXamarinCommunityToolkit.cs file as auto-generated"
## Summary

The Xamarin Community Toolkit package automatically references the PreserveXamarinCommunityToolkit.cs file. We are using StyleCop and it analyzes all code files that are not recognized as auto-generated.

To solve possible analyzer warnings, it's enough to add a comment at the top of the file:
[code]

I know it's not really auto-generated, but as far as I know, it's the only way to exc

[2020-12-14 15:26] AndreiMisiukevich commented on #678
Hi @Brosten Thanks for this report!

Does it work as expected on other platforms (Android / iOS)?

[2020-12-14 15:34] AndreiMisiukevich commented on #669
@sreejithsree139 MediaElement migrated to XamarinCommunityToolkit

[2020-12-14 15:38] AndreiMisiukevich commented on #679
Hello) Do you add XCT as a project (source code) instead of nuget/dll?

[2020-12-14 15:39] AndreiMisiukevich commented on #678
Also, I wonder, is "Focused" event raised on step 6

[2020-12-14 16:22] berhir commented on #679
We add it as nuget package. But the `Xamarin.CommunityToolkit.targets` file adds the `PreserveXamarinCommunityToolkit.cs` file.

https://github.com/xamarin/XamarinCommunityToolkit/blob/c57959085051784d7c4fdeefe936447186d5fdf6/src/CommunityToolkit/Xamarin.CommunityToolkit/build/Xamarin.CommunityToolkit.targets:
[code]

[2020-12-14 16:26] Brosten commented on #678
Yes, it does work fine on android and ios.
Yes, Focused event is triggered on the Entry control on step 6.

[2020-12-14 22:56] AndreiMisiukevich commented on #678
@pictos would you like to debug this issue on UWP?

[2020-12-14 23:03] AndreiMisiukevich commented on #679
CC @jfversluis

[2020-12-14 23:31] AndreiMisiukevich commented on #530
@jfversluis

Tested on iOS simulator: works pretty fine
Tested on Android emulator: **issue exists**

[2020-12-15 00:13] AndreiMisiukevich commented on #530
After hours of investigations
It seems impossible to fix this issue for android with the current implementation https://stackoverflow.com/a/33328785/6255544

[2020-12-15 00:14] AndreiMisiukevich commented on #530
CC @pictos @jfversluis @jsuarezruiz

[2020-12-15 00:28] pictos commented on #678
I'll do it asap

[2020-12-15 00:54] pictos commented on #530
@AndreiMisiukevich I don't think that just ignore the opacity will be a good fix, because we should keep the control similar on all platforms for common properties. I can see two solutions.

1. Removing this property;
2. Refactor this property into a platform-specific one.

[2020-12-15 01:24] AndreiMisiukevich commented on #530
But MediaElement inherits  **Opacity** property from VisualElement

[2020-12-15 03:04] pictos commented on #530
Oh, I forgot about that... Maybe I need some sleep haha. In that case.

1. Ignoring for all platforms;
2. Ignoring for just android.

[2020-12-15 09:38] jfversluis commented on #679
@pictos you know if this is (still) necessary to include this file at all like that?

[2020-12-15 09:44] #530 closed

[2020-12-15 10:05] AndreiMisiukevich commented on #678
if it becomes red, it means that "IsValid = False" for some reason

[2020-12-15 10:37] pictos commented on #679
@jfversluis yes, we still need this file to be able to use the custom scheme for xaml.
I believe that we can add that comment line, suggested by the PR's author, and see if that works

[2020-12-15 10:40] roubachof commented on #679
yup it's the standard way to ignore a file with stylecop you can merge this.

[2020-12-15 10:46] jfversluis commented on #679
If only it was a PR :P

[2020-12-15 11:09] #679 closed

[2020-12-16 00:21] pictos commented on #678
I'm able to reproduce the behavior

[2020-12-16 00:24] pictos commented on #678
For some reason, the ValidStyle is null, any thought @AndreiMisiukevich ?
![image](https://user-images.githubusercontent.com/20712372/102288744-e2670000-3f1b-11eb-9c4a-bfd03ae786d7.png)

[2020-12-16 00:58] AndreiMisiukevich commented on #678
Yes, ValidStyle should be null (Because we don't set it)

But why UWP entry applies "InvalidStyle" when **Null** is set

[2020-12-16 00:59] AndreiMisiukevich commented on #678
I do not understand why it works fine on step number 5?

[2020-12-16 01:01] AndreiMisiukevich commented on #678
Can you try to clear style somehow?
Maybe even set new empty style (new Style())

[2020-12-16 02:09] pictos commented on #678
@AndreiMisiukevich even with an empty style, I can see the issue. Also, the `Focused` event doesn't trigger (I don't know if we use it at some point)

[2020-12-16 05:03] Brosten commented on #678
iOS and Android doesn't seem to need the ValidStyle in order to work as "expected".

[2020-12-16 09:40] AndreiMisiukevich commented on #678
I am pretty sure it's an XF bug (since it works fine on iOS and Android)
But maybe we can find a workaround

[2020-12-16 10:04] sreejithsree139 opened #684 "Xamarin Forms: Issue with MediaElement audio playing"
I am using `MediaElement` for playing audio. I have a list of items and I need to play audio one after another. When playing audio I will change the background color of that list item. Also If I tap an item, the audio of that selected item starts playing, also the color of that item is modifying. These features are working fine in android and ios. I have added a video of the android [here][1].

Be

[2020-12-16 10:12] AndreiMisiukevich commented on #684
Hi, can you reproduce the native crash on the latest pre-release XamarinCommunityToolkit version?

Also, you take a renderer from the wrong place (from Xamarin.Forms) when the MediaElement is in XamarinCommunityToolkit

https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs

[2020-12-16 10:14] AndreiMisiukevich commented on #684
Well, as I see you try to use MediaElement from the wrong places (From Xamarin.Forms)

You should

1) Install the latest pre-release version of XCT https://www.nuget.org/packages/Xamarin.CommunityToolkit/
2) Use MediaElement from this nuget ```xct:MediaElement```

[2020-12-16 10:15] AndreiMisiukevich commented on #684
CC @jfversluis

[2020-12-16 15:13] jfversluis commented on #684
Hi there @sreejithsree139 thanks for the report!

As already pointed out by Andrei, the MediaElement moved from Forms to the Toolkit. This is a bit confusing, I totally get that. Could you try installing the Xamarin.CommunityToolkit package on your project and see if you can make it work with that?

If not, please open another issue, reference this one and we'll be happy to look at it. Thanks!

[2020-12-16 15:13] #684 closed

[2020-12-16 16:55] gabsterdev1 commented on #362
@ahoefling hi there noticed that you now have added your popup control can you do bottomsheet with your popup? Will have any of the standard bottom sheet feature as highlighted here
[https://material.io/components/sheets-bottom/#bottom-sheets-persistent-bottom-sheets](url)

Thanks

[2020-12-16 17:09] ahoefling commented on #362
My company has been dogfooding the popup control for almost 2 years now and we have been using it with a bottom sheet for Android. I know you can implement a bottom sheet for UWP, but there is still a little bit of work that needs to be done for iOS to fully support bottom sheet as the styling has some issues. I am hoping that once it is merged we can identify these and can get some PRs submitted

[2020-12-17 00:05] tocnar opened #687 "[Bug] TouchEffect is disabling existing Command when applied to a Button"
### Description
When I add TouchEffect to a Button, existing Command does not work anymore and I have to use TouchEffect.Command.
This makes it time consuming to rewrite all Command bindings to TouchEffect.Command on buttons.
TouchEffect works OK when applied to other controls with TapGestureRecognizers, but not Buttons with Comand.

### Steps to Reproduce
1. Create Button in XAML with any TouchEf

[2020-12-17 02:15] MauricioCodeguez commented on #630
@Cfun1
The XamarinCommunityToolkit version is **1.0.0-pre5**

[2020-12-17 09:47] jfversluis commented on #669
I'm kind of confused what is all going on in this issue :D The title speaks of a feature request, but in the issue I see bugs.

Anyhow, as per your latest comment @sreejithsree139 you will need to import the Xamarin.CommunityToolkit namespace first and use that. For example:

[code]

Also see the example page here: https://github.com/xamarin/XamarinCommunityToolkit/blob/main/samples/XCT.Sample/Pag

[2020-12-17 09:52] jfversluis commented on #669
For now I would say we're not going to implement this. The MediaElement works as expected on the native platforms and I think you have all the events, methods and properties to create your own playback controls, see the Docs [here](https://github.com/MicrosoftDocs/xamarin-communitytoolkit/blob/master/docs/views/mediaelement.md#implement-custom-transport-controls). It might be something nice to add

[2020-12-17 09:52] #669 closed

[2020-12-17 10:02] jfversluis commented on #630
@MauricioCodeguez would you be so kind to try pre6 that has been released this week and verify this is still an issue?

cc: @jsuarezruiz

[2020-12-17 11:37] AndreiMisiukevich commented on #687
Hi @tocnar, thanks for the report.

I wonder, is there any specific reason you apply the touch effect to buttons?
Buttons support Pressed/Released states from the box.

[2020-12-17 12:22] tocnar commented on #687
Hi @AndreiMisiukevich, thanks for the response and the lib :)

The intention of adding this to Button was using animations provided by the lib in streamlined fashion.
There are areas in app when simple "ContentView with GestureRecognizer" is used as a button and there are also proper Buttons.
What I tried to achieve is same animation playing on 'Boxes' and 'Buttons'.
NativeAnimation provided in ex

[2020-12-17 12:32] jfversluis commented on #646
Looks like a no-brainer to me! How much will change in regard to iOS?

What would the API look like for Forms developers? I have no clue how captions work. Is it built-in, so just a matter of setting: show captions == true && captions language == nl-NL? Do we/can we also supply a file?

I am totally in favor of adding this, but I do want to think about _how_ before we rush into it :)

[2020-12-17 12:33] jfversluis commented on #647
I'm not sure what this means. What do we gain with this? Be able to play DRM content? What will our developers notice about this change?

[2020-12-17 12:34] jfversluis commented on #648
How is this different from #647 ?

[2020-12-17 12:34] jfversluis commented on #649
Is this supported on every platform? I guess it is? Is it as simple as just toggling a boolean to show that right control?

[2020-12-17 12:36] jfversluis commented on #650
Then our challenge is how to unify this. My proposal would be a boolean people can bind to to make it fullscreen yes/no and a method so you can also call it from code-behind... Thoughts?

[2020-12-17 12:44] jfversluis commented on #606
Still happening with all the latest code on main today

[2020-12-17 12:46] jfversluis commented on #595
Thanks for the report @kazo0 ! Would you maybe be willing and able to try pre6? I think changes are small, but who knows! Maybe we fixed it :D

If not, did you try on all platforms? I'm guessing this is in shared code so it will affect all platforms. Thanks!

[2020-12-17 12:48] jfversluis commented on #633
Also see #595

[2020-12-17 12:58] JohnGalt1717 commented on #646
@jfversluis  Basically you have to write an interceptor that will take the URIs for the captions and update the m3u file (or create one) that lists the caption files in it and then pass that to the video player.

The same interceptor is required for HTTP Header support (bearer auth for Azure etc) and for DRM.

I would expect that the captions support on Forms would just be an array of a class with

[2020-12-17 13:01] JohnGalt1717 commented on #647
@jfversluis Right now you can't use AES encrypted video streams like Azure Media Services with Xamarin Forms. By adding Http header support you can pass the Authortization Bearer {token} header information to the stream that is required to be able to use AES encrypted streams for Azure (and others)

On Android again this is trivial, it already has a property that can be mapped.

On iOS it requires

[2020-12-17 13:04] JohnGalt1717 commented on #648
@jfversluis  #647 is for header support which gives you amoung other things (you can pass any header you want so you can do other stuff too) AES encrypted video with jwt tokens for Azure AES Media Services.

This is to support Widevine, Playready and Fairplay which requires different functionality as far as I'm aware (we haven't looked deeply into how this works)

Here's sample code for UWP Playre

[2020-12-17 13:06] JohnGalt1717 commented on #649
@jfversluis  It's supported on all 4 platforms (and macos too).  On Android and uwp it's as easy as just toggling the option and it automatically shows up. On iOS you have to create a custom button overlay for it and wire up a popup menu to it to show the options for playback speed.  In general I'd guess that there would be a double property for playback speed and then an array of doubles for Play

[2020-12-17 13:10] JohnGalt1717 commented on #650
@jfversluis  That would be a good start to have the boolean property. But each platform also has a button that can be displayed for users to tap on to initiate it which should also be available in the playback controls.

Further, I would suggest a property "FullScreenOnLandscape" that would allow people to just set it, and have the player switch to full screen if the person turns the phone.

Andro

[2020-12-17 13:18] JohnGalt1717 commented on #647
@jfversluis Note that while there is a non-public call for this on iOS it both breaks external caption support and will get you blocked from publishing to the store. React Native tried this and people failed to publish.  So It's important to do it with the interceptor and build up the m3u file in your interceptor.

By interceptor I mean AVAssetResourceLoaderDelegate. Basically you create a custom

[2020-12-17 13:24] 9mrcookie9 commented on #608
Hello,
I can confirm that the problem occurs on emulators and physical devices. (iOS)

It seems to me that the problem here is how Expander is reused by CollectionView. Try to add a (Bindable property) "expanded" to your data model, and bind it to "IsExpanded" field with two way binding.
Probably fields like height are also copied. So there is no problem with Expander control itself.

I personally

[2020-12-17 13:36] sreejithsree139 commented on #684
@jfversluis and @AndreiMisiukevich

I have installed Xamarin.CommunityToolkit(**1.0.0-pre6**) and updated xamarin forms version to **5.0.0.1791-pre5**.

After that, I need to update the target framework version to Android 10.0(Q) and downloaded the 10.0 SDK. Since it is showing as an error.

In android, the audio playing is working fine like previous but in ios no changes in the issue. I tried to

[2020-12-17 13:37] JohnGalt1717 commented on #675
@VladislavAntonyuk et al. I have this written and working pretty well. Need confirmation that this is something desirable for the toolkit and I'm happy to contribute it or just provide you the code and you can put it in if you want.

[2020-12-17 13:48] jfversluis commented on #675
Hey @JohnGalt1717 I appreciate your enthusiasm and asking! We're always happy for any contributions :)

As for your concrete question: it seems that @VladislavAntonyuk is saying (in not many words :D) that this can also be done with `FlexLayout`? What would this bring as an advantage over `FlexLayout`? Why are people going to use this over the other one? Is this just `FlexLayout` with a different

[2020-12-17 13:58] JohnGalt1717 commented on #675
So using FlexLayout you'd have to do a ton of code behind to do what my does automatically.

The power of bootstrap is that it isn't just a floating set of content. It's a row system that if there is more than 12 cols of content will wrap downwards on the single row instead of just flowing. And then the next row breaks and starts new.

And it has a break system for each xs, s, md, l, xl, xxl that

[2020-12-17 20:24] RadoslawKubas opened #688 "[Bug] [Regression] After update from pre5 to pre6 MediaElement.Source binding to string stops working."
### Description

After update from pre5 to pre6 MediaElement.Source binding to string stop working in Release on device. In debug it works fine. The problem appears on iOS and Android.

### Steps to Reproduce

1. Create page with `<MediaElement Source="{Binding UriAsString}"/>`

### Expected Behavior

Media is playing in Release and Debug

### Actual Behaviour

Media is playing only in Debug

###

[2020-12-18 00:49] pictos commented on #688
@RadoslawKubas can you attach a sample reproduction? That helps us to find the issue faster

[2020-12-18 00:50] pictos commented on #687
@tocnar can you use the `Command` on TouchEffect?

[2020-12-18 02:45] MauricioCodeguez commented on #630
@jfversluis I have tested on the the latest version of the XamarinCommunityToolkit (pre6) and XF (5.0.0.1791-pre5). Unfortunately I am still having the same issue as before

[2020-12-18 03:33] PrajeetShrestha opened #690 "Wiki link to sample app broken."
The link to sample app is broken. Also I can't find enough documentations in the wiki. Where can I view all the features provided by XamarinCommunityToolkit?

[2020-12-18 03:34] #690 closed

[2020-12-18 06:11] developer9969 opened #692 "[Bug] BadgeView should be round"
### Description
Trying to use the badge view but noticed that the badgeview is not round but stretches vertically.
Also I think the badge positions should be more internal, it looks too detached.

    <StackLayout Orientation="Vertical">
            <xct:BadgeView
                BackgroundColor="Gainsboro"
                FontAttributes="Bold"
                FontSize="Medium"
                Bor

[2020-12-18 07:44] RadoslawKubas commented on #688
@pictos After update to pre6 only 2nd MediaElement works in Release (in Debug both are fine), before pre6 both are fine in Debug and Release. I use "Link All" in Release, but same problem appears when changed to "Link Frameworks SDKs only".

[MediaElementProblem.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/5714311/MediaElementProblem.zip)

[2020-12-18 08:17] sthewissen opened #693 "[Enhancement] StateLayout Template enhancements"
## Summary
Currently there's a few shortcomings in `StateLayout`:

- You can't use a `RepeatTemplate` while defining a `RepeatCount` of 1. This makes it harder to create a re-usable e.g. loading view that can be applied across your app.
- Sizing of the views within a `StateView` is not always correct because of the `StackLayout` we wrap it with to do the repeating.

## API Changes

In order to fix

[2020-12-18 10:25] Cfun1 commented on #692
Could be related to https://github.com/xamarin/XamarinCommunityToolkit/issues/641

[2020-12-18 11:37] jsuarezruiz commented on #630
@MauricioCodeguez Thanks for the feedback. Will review the issue.

[2020-12-18 12:47] #693 closed

[2020-12-18 13:33] kazo0 commented on #595
Hi @jfversluis! Confirmed that it is still happening in pre6

[2020-12-18 14:05] tocnar commented on #687
@pictos Yes, this is what I've described as a workaround. But this is not optimal if I'm including TouchEffect on app with hundreds of buttons. Need to rewrite each xaml then.

[2020-12-18 16:50] samir-dahal opened #696 "[Bug] TabView header doesn't scroll when adding more TabView."
### Description

### Steps to Reproduce

1.  Create a tab view
2.  Add content view to it
3. Copy paste that tabview few more times

### Expected Behavior
Should scroll the tabview header if there are more tabviews
### Actual Behavior
Doesn't scroll when there are many tabviews
### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  -

[2020-12-18 22:14] pictos commented on #688
@RadoslawKubas

That occurs because XCT is linker safe, in other words, we take care to remove unused code for you so `Link All` and `SDks Only` will have the same effect on this lib.

Thank you for the sample, I'll take a look over the weekend and hopefully bring a solution asap.

[2020-12-18 23:00] pictos commented on #510
@GalaxiaGuy, first of all thanks for your proposal, we really appreciate any idea that can improve our work as a mobile developer. Talking with the XCT team we decided to closed this issue now as `not-on-roadmap` label. Maybe in the future we can revisit this proposal.

[2020-12-18 23:00] #510 closed

[2020-12-19 01:43] pictos commented on #688
@RadoslawKubas I tested here using the `develop` for android and your sample for ios.

Your sample works fine
![image](https://user-images.githubusercontent.com/20712372/102677667-3bd06880-4182-11eb-8ae1-1016ae8be3b0.png)

but for android don't... If I change the URL, using the same that we use on our sample works

![image](https://user-images.githubusercontent.com/20712372/102677704-59053700-4182

[2020-12-19 07:40] RadoslawKubas commented on #688
Hello, I noticed this problem both on Android and iOS for sure (actually, I tested it more on iOS, so I missed this problem with metadata on Android). Did you check it on the real device? I don't understand the reason, but it works fine in simulator in any configuration (also Release), but when I published Release version builded in Microsoft App Center to Test Flight / Google Play Beta problem ap

[2020-12-19 15:09] pictos commented on #688
For iOS I just have the simulator... Android was on a physical device. I trying to track what changed between pre5 and pre6 that could cause this issue. If you try any other link works? Can you try this one https://sec.ch9.ms/ch9/5d93/a1eab4bf-3288-4faf-81c4-294402a85d93/XamarinShow_mid.mp4

[2020-12-19 21:05] RadoslawKubas commented on #688
I tested with your link and in my solution problem appears on iOS and Android with pre6, it seems that string to MediaSource TypeConverter not working in Release on device. I will try to do more tests tomorrow and let you know results.

[2020-12-20 15:04] RadoslawKubas commented on #688
@pictos Hello, I tested more today. It seems reproduction of the problem is harder than I expect, it is perfectly reproducible in my original solution (with exactly same page code as in the example) but in the new solution with same build settings everything works fine. I modified my original solution where I noticed the problem to just open at the beginning page from the example (but keeps all nu

[2020-12-20 17:14] pictos commented on #688
@RadoslawKubas thank you so much for your help. Meanwhile, I'll try to reproduce it and hopefully find a fix before you return back. Enjoy your free time (:

[2020-12-20 17:36] RadoslawKubas commented on #688
@pictos Thx, and have a great holidays too! :)

In case maybe it will be useful, my problematic solution is using Prism and following nuggets:

[code]

[2020-12-21 01:55] AndreiMisiukevich commented on #687
It causes another UI glitch on iOS with a button (the pressed state is stuck)

Well, I am not sure that this is a good idea using TouchEffect with Button
How about using Button's events for your purpose (Pressed/Released) ?

[2020-12-21 10:33] sreejithsree139 opened #697 "Xamarin Forms: Issue with MediaElement audio playing in IOS"
Reference: https://github.com/xamarin/XamarinCommunityToolkit/issues/684

I am using MediaElement for playing audio. I have a list of items and I need to play audio one after another. When playing audio I will change the background color of that list item. Also If I tap an item, the audio of that selected item starts playing, also the color of that item is modifying. These features are working fin

[2020-12-22 11:29] petrofahed commented on #630
I am having the same issue here.
It could be easily reproduced on the xct.Sample / CustomTabsPage.xaml

- Add new  <xct:TabViewItem Text="Tab5" ....>
- If you select the last Tab then tab index-1 cannot be selected directly, you need to select other tabs to reenable it
- Add more tabs on the right side, all index-1 tap as an issue

So the issue is after adding tabs the FAB  on the right side.

[2020-12-25 00:28] #687 closed

[2020-12-25 12:00] Cfun1 opened #701 "[Enhancement] Add an effect for Entry to change the cursor color"
## Summary

Currently it is relatively hard to change the cursor color of an Entry, either needs custom renderer or digging into platform styles. It would be nice to have an effect (applied in xaml as in code) that enables the users to change the cursor color inside an Entry on all target platforms.

## API Changes
Something like `xct:CursorEffect.Color="red"`

## Intended Use Case
Ability to cont

[2020-12-25 21:32] sthewissen commented on #701
This is already built into Xamarin itself:
https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.platformconfiguration.iosspecific.entry.setcursorcolor?view=xamarin-forms

[2020-12-25 21:45] Cfun1 commented on #701
@sthewissen  It is only available for iOS and seems there is no xaml way to set it.

[2020-12-27 00:31] pictos commented on #688
I did more test on my end, and I could see the bug
![image](https://user-images.githubusercontent.com/20712372/103161497-61342680-47c1-11eb-947d-ca9834e903f9.png)

When the linker is on, for some reason we can't convert the String to MediaSource. The Converter isn't called even when the linker is off. I don't know when I can fix it, so I'll let this `up-for-grabs` for now.
THe workaround is bindin

[2020-12-27 19:24] krdmllr opened #702 "[Enhancement] Entry autofill effect"
## Summary

Xamarin.Forms `Entry` views seem to lack the ability to allow autofill from a password manager (Tested on Android).

## API Changes

We could follow this tutorial https://mikalaidaronin.info/blog/posts/xamarin-forms-password-autofill/

This would add an effect for entries

[code]

## Intended Use Case

Allows the OS to prompt using the default password manager to fill in credentials.

[2020-12-27 20:47] pictos commented on #702
@krdmllr this is a great idea. I read the article as well and looks ok to me, but there's one part that I don't like too much. Is about the `ICrossAutofillManager` where the user needs to call this method manually at the end of the process. Do you know a way to avoid this?

[2020-12-27 21:01] jBijsterboschNL commented on #702
Perhaps also adding the effect to the login button and handle inside the effect this logic to call the dependency commit method (at the click event handler of that button)? @krdmllr if you need any help with this, I will be happy to assist you in any way possible :) good luck on implementing this! Looks like a proper addition to the XCT! :)

[2020-12-27 21:13] pictos commented on #702
@jBijsterboschNL this is an option, but that wasn't too clear to me. Like, if the login process fails, should we call that method? if not we can't handle it on our side, because there's no way to know if the login was successful.

[2020-12-27 22:40] jBijsterboschNL commented on #702
@pictos but does that mind? As the password managers are mostly not smart enough to only store succesfull logins, right? F.e. the Google Chrome extensions just saves any username and password, without knowing if it is a successfull login or not. And also, in the mean time the password could change, making it no longer work. So does it mind if it also stores unsuccesfull logins?

@krdmllr one thing

[2020-12-27 22:51] pictos commented on #702
@jBijsterboschNL yes, I think that matters, reading again we need to call the `commit` method when the user leaves the Login Page. And I'm not comfortable handling that on our side in the dark... There's a lot of ways to implement a login flow

[2020-12-27 23:41] pictos commented on #701
@Cfun1 it's feasible on Android, iOS, and UWP, at least? Can you update your first comment with a spec?

[2020-12-28 11:15] nodoid opened #703 "[Bug] Video sound still playing while volume set to 0 on video"
### Description
In my XAML, I have set the volume property to 0  for a video stored on the device. The sound still plays.

### Steps to Reproduce

1. Add a video clip to either the android or iOS project
2.  Set the steam source to the video file
3. Set the Volume property to 0

### Expected Behavior
Video will be silent

### Actual Behavior
Video sound plays

### Basic Information

- Version with

[2020-12-28 15:43] #696 closed

[2020-12-29 03:08] davidortinau opened #704 "[Bug] No padding around text in a Toast or Snackbar"
### Description

@VladislavAntonyuk how can I set some padding around my text? I see layout options in the platform code, but I don't see how I should influence the margins, padding, etc.

![image](https://user-images.githubusercontent.com/41873/103255784-48a64680-4950-11eb-935c-c0a4b396504e.png)

### Basic Information

- Version with issue: 1.0.0-pre6
  - iOS: 14.3

### Reproduction Link

[code]

[2020-12-29 05:37] VladislavAntonyuk commented on #704
@davidortinau I will check if it is allowed on Android, because all platforms except Android use custom drawing, but Android uses native toast and snackbar.

[2020-12-29 14:23] Cfun1 commented on #701
@pictos for UWP and iOS I don't know, but for Android I know it is feasible but no sure if it is a more of  hack than an exposed property/method from Google.

[2020-12-29 18:23] davidortinau commented on #704
If my Toast or Snackbar on iOS was displayed consistently with Android, I would be ok with that too. As you can see from my screenshot the iOS is using no padding at all.

The order of options from best to worst IMO are:
* all xplat customization in Xamarin.Forms code
* customization via platform specifics or setting platform defaults
* consistent look/feel across platforms with available customiz

[2020-12-29 21:55] maxkoshevoi opened #706 "[Bug] TouchEff. Native animation doesn't work with images"
Copy of: https://github.com/AndreiMisiukevich/TouchEffect/issues/89

### Description
I'm using icon font in my app and have several clickable images like this:
[code]
But `NativeAnimation` doesn't do anything for them (there is no animation on click).

### Steps to Reproduce

1. Create Xamarin.Forms project
2. Add any image with font image as source to the page and add `TouchEff.NativeAnimation="T

[2020-12-29 23:25] ghost opened #707 "[Bug] Shell flyout menu not selected item with ripple effect"
### Description
Hi, I would like to ask if it is possible to apply the ripple effect to Shell FlyoutItem. The ripple effect works, but the menu item does not work, you cannot change the page. Without ripple effect, the transition to the page works. Advise if I'm making a mistake somewhere. I will be happy for any advice.

### Steps to Reproduce

1. Create a Shell project
2. Create ItemTemplate in

[2020-12-29 23:52] pictos commented on #707
@ORRNY66 I think that you want to report this bug on XF repo, right?

[2020-12-30 00:01] ORRNY66 commented on #707
#https://github.com/xamarin/Xamarin.Forms/issues/13253#issue-776136472

[2020-12-30 09:34] AndreiMisiukevich commented on #706
Hi, can you check the NuGet package published there https://github.com/xamarin/XamarinCommunityToolkit/pull/668?

[2020-12-30 09:36] AndreiMisiukevich commented on #706
Feel free to reopen this ticket if that nuget doesn't work

[2020-12-30 09:36] #706 closed

[2020-12-30 18:56] maxkoshevoi opened #708 "[Enhancement] Add BarStyleManager to manage navigation and status bar color"
## Summary

Add methods to change status and navigation bar color and appearance (white or dark text color).

## API Changes

Here is the interface that I use:
[code]

Android implementation (modified [SO answer](https://stackoverflow.com/questions/58441077/xamarin-forms-how-to-change-the-status-bar-color-without-a-navigation-page/)):
<details><summary>Show/Hide code</summary>

[code]

</details>

[2020-12-30 19:08] MauricioCodeguez commented on #630
@jsuarezruiz Is there any news about this issue or a workaround that could be used to avoid the problem?

[2020-12-30 20:12] maxkoshevoi commented on #706
@AndreiMisiukevich It does work, thank you! But there is one more issue: animation is contained within image control border. That's great for other controls, but not for image since content of the image takes up 100% of the image and animation doesn't look good:
![image](https://user-images.githubusercontent.com/6609929/103378629-9f945300-4aeb-11eb-9645-2b652d04da46.png)
And here is animation with

[2020-12-30 23:06] AndreiMisiukevich commented on #706
Hi
I guess you should put the image inside content view or frame

On Wed, Dec 30, 2020 at 23:13 Maksym Koshovyi <notifications@github.com>
wrote:

--

*Andrei Misiukevich*

*Lead Software Engineer at ISsoft Solutions*

*mobile: *+375 29 <+375%2017%20389%200100>303 40 07   Email:
andrei.misiukevich@gmail.com Skype: csi.andreymisyukevich

*Minsk,* *Belarus *(GMT+3)

[2021-01-01 02:29] davidbuckleyni opened #710 "[Bug] Installed Xamarin forms 4.8.0.1451 but community toolkit not installing"
Hi I am trying to install the community toolkit where i have xamrain forms 4.8.0.14541 installed but i am getting the following error. Any ideas how i install the toolkit
 NU1605: Detected package downgrade: Xamarin.Forms from 5.0.0.1791-pre5 to 4.8.0.1451. Reference the package directly from the project to select a different version.
 MSFSAddonsHub.Forms.Android -> Xamarin.CommunityToolkit.Markup

[2021-01-01 02:31] davidbuckleyni commented on #710
Never mind found i had to be on 5.0 pre

[2021-01-01 02:31] #710 closed

[2021-01-01 19:30] pictos commented on #707
Thanks @ORRNY66, I'll close this so.

[2021-01-01 19:39] pictos commented on #708
@maxkoshevoi thanks a lot for this submission. Will be possible to instead of having a DI service, do it with AttachedProperties? This way we can set the values in xaml also. I think that could be a `Page` Attached property for `StatusBarColor` and a `NavigationPage` Attached property for the `NavigationBarColor`.

[code]

For the NavigationBarColor you can use [my PR](https://github.com/xamarin/X

[2021-01-02 13:03] nodoid opened #711 "[Bug]"
### Description
Latest nuget for X.Toolkit.Effects requires X.A.Support.v7.AppCompat.

I've updated my forms project to use AndroidX and have updated my project to use the latest preview versions of XF and Xam.Toolkit (5.0.0.1829-pre6 and 1.0.0-pre6 respectively)
### Steps to Reproduce

1. update to latest XF and X-toolkit
2. move the android project to AndroidX
3.

### Expected Behavior
The X.Too

[2021-01-02 13:07] nodoid commented on #711
Downdrading to 1.0.0-pre5 fixes the problem - it can then be upraded to 1.0.0-pre6

[2021-01-02 13:57] AndreiMisiukevich commented on #711
This nuget is outdated https://www.nuget.org/packages/Xamarin.Toolkit.Effects/
We do not support it. CC @pictos @jfversluis

[2021-01-02 14:19] jfversluis commented on #711
As mentioned by Andrei the Effects package is not ours. I will see if we can get it removed to avoids confusion.

Our packages are the Xamarin.CommunityToolkit and Xamarin.CommunityToolkit.Markup.

If you have issues with one of those, please open a new issue, thanks!

[2021-01-02 14:19] #711 closed

[2021-01-03 13:41] VladislavAntonyuk commented on #704
Work in progress

[2021-01-03 14:51] maxkoshevoi commented on #708
@pictos Thanks for the answer. So there is already a PR for this? Why isn't it merged yet?
I think there is a little misunderstanding with terminology. Here's what I mean by `status` (blue) `navigation` (red) bars:

![image](https://user-images.githubusercontent.com/6609929/103481321-e384a200-4de2-11eb-8e88-079983561bb0.png)

I think they should both be Page attached properties or both be static A

[2021-01-03 17:37] pictos commented on #708
@maxkoshevoi

Yes, there's a PR, but for XF project.

I don't know, but I can guess that's because the team didn't have time to make those features feat in 5.0 release. After this release, the XF will not have new features added just bug fixes and improvements, said that this project is the right place to add those kinds of features. Actually, a good amount of XF PRs that didn't get merged will be

[2021-01-03 17:42] #688 closed

[2021-01-03 18:25] maxkoshevoi commented on #708
@pictos I see the benefits of implementing them as attached properties, I just don't have experience implementing any (I mean, I use MVVM, but that's about it). Page is defined inside XF, so how can I extend it from XCT? Will it look something like this?
[code]
1) It there some documentation on how to do this? I'll use PRs you provided as references, but if there are some docs, that would be great

[2021-01-03 20:07] Cfun1 commented on #545
A very important point is scroll behavior, another property `ScrollBehavior` ?
@jsuarezruiz
https://material.io/components/app-bars-top#behavior
https://developer.android.com/reference/com/google/android/material/appbar/AppBarLayout.LayoutParams

[2021-01-03 23:43] pictos commented on #708
@maxkoshevoi

https://docs.microsoft.com/en-us/xamarin/xamarin-forms/xaml/attached-properties

As far as I know isn't a PR for that. Since this feature just makes sense on Android we need to think about how to add that on XCT. Probably using the PlatformSpecific API.

On my tests for Android implementation of the PopUp control I could get the Context using this line:
`var ctx = Android.App.Applica

[2021-01-04 01:29] AndreiMisiukevich commented on #703
Android is fixed as a PR for #398

[2021-01-04 11:17] Cfun1 opened #716 "[Enhancement] Provide scroll behavior for navigation bar/upper tab bar/bottom tab bar"
## Summary
Give developers control over the scrolling behavior of the navigation bar for all platforms at Xamarin.Forms level, either page-wis or app-global.

The most required (I suppose) scroll behavior is when a user scrolls down, the navigation bar disappears giving more space to the content, wherever/whenever scrolls up the navigation bar appears again, this can be achieved on Android with co

[2021-01-04 14:02] Cfun1 opened #718 "[Enhancement] Provide an option to hide/unhide the status bar"
## Summary

Provide an option to hide/unhide the status bar on some pages only, at Xamarin.Forms level, currently on Android one needs to use a `DependencyService` to achieve this.

## API Changes
New effect to be used with `ContentPage` type?  `xct:StatusBarEffect.IsVisible="False"`

## Intended Use Case
My initial goal is to set a page in full screen with an attached effect to it.
Used besides `

[2021-01-04 22:01] #703 closed

[2021-01-04 23:33] bitclicker opened #721 "[Enhancement] SearchBar text changed command behavior"
## Summary

In a previous project, I had a desire to execute a search bar command as the text was being typed into the search bar. I ended up coming up with a behavior that will execute the command that is bound to the search bar as the text is typed

## API Changes

I will create a new class in the Behaviors directory to implement the feature. I will also provider a sample of how to use it. There

[2021-01-04 23:54] pictos commented on #721
@bitclicker, thank you for your idea! Can you provide a spec for this? That way we can discuss it better.

[2021-01-05 00:16] bitclicker commented on #721
@pictos Sure I will work on that tonight. Should I just reference this issue in the spec issue?

[2021-01-05 00:22] pictos commented on #721
You can create the spec on this issue. Also, can you explain how this can be better than using the EventToCommandBehavior on the `TextChanged`? My question is to make sure that this proposal has an advantage above a feature that we already have in the lib.

[2021-01-05 01:02] bitclicker commented on #721
Oh that's a good point you have there. Now that I think about it there really wouldn't be much of a benefit of having my implementation. Feel free to close out this issue, sorry about that

[2021-01-05 01:23] Cfun1 opened #722 "[Enhacement] Better organization with a better usage of GitHub Projects board"
### Description
I am just opening this here to draw some attention and possibly avoid things get messy. By Keeping a proper tracking of issues with appropriate Labels and projects assignment, we will have a better overview of what is going on and where are we.

A reference would be [Xamarin.forms repo projects](https://github.com/xamarin/Xamarin.Forms/projects).

Some suggestions:

- [ ] Adding ne

[2021-01-05 01:32] #721 closed

[2021-01-05 01:32] bitclicker commented on #721
This brings no added benefit over using EventToCommandBehavior

[2021-01-05 07:14] WebDucer opened #723 "[Bug] Camera initialization fails on Google Pixel 2XL"
### Description

### Steps to Reproduce

1. Create an Xamarin.Froms App with `CameraView`
2. Execute the app on Pixel 2 XL (real) device
3. Camera will be never initialized

### Expected Behavior

Camera is initialized and ready to to use (with preview).

### Actual Behavior

Blank screen. `Shutter` action ends in an exception.

### Basic Information

- Version with issue: 1.0.0-pre6
- Last known

[2021-01-05 11:44] jfversluis commented on #722
Hi @Cfun1 thank you for being so committed to our project.

That is definitely something I would like to do. I think the first priority though is getting everything ready for our v1. Since Forms 5 will lack a couple of things that have been moved to us, we need to be ready (and as stable as possible) when Forms 5 launches. This also means; having the Docs ready as much as possible, a blog post, so

[2021-01-05 13:56] RadoslawKubas opened #724 "[Bug] [Android] MediaElement works unstable inside CarouselView / SfRotator"
### Description
If page contains MediaElement inside CarouselView / SfRotator strange things happen on Android (on iOS everything works perfect).

1. When CarouselView is scrolled (or just created for the first time) it is possible to see exception:
[code]
2. If page contains standalone MediaElement and CarouselView with MediaElements inside, scrolling CarouselView sometimes rewinds the video back

[2021-01-05 14:17] jfversluis commented on #402
While this issue was there first, the other one has a bit more detail already. In either case, it doesn't make much sense to have duplicate error :)

@LegendaryB @mrvancor sorry for the long wait! This is on our radar, simply not implemented yet, sorry.

[2021-01-05 14:20] jfversluis commented on #723
Thanks for the report @WebDucer !

You mention Google Pixel 2XL specifically, have you been able to test it on other devices besides the emulator? Is this indeed very specific to this device? Or is this simply the device you have tested on?

From the error messages it seems something is. wrong with something we try to configure?

[2021-01-05 15:12] WebDucer commented on #723
@jfversluis Currently I have only access to my personal Pixel 2 XL as a real device. Next week I will be able to test the behaviour with some other devices if needed.

I found only on StackOverflow (https://stackoverflow.com/a/47041696/1271756) that this happen, if the preview resolution is too big (4k) and not sized correctly to the canvas size.

[2021-01-05 15:41] gresolio commented on #630
The issue can be easily reproduced if the TabItems[0] has no content:

[code]

Log with customItemNoContent at index 0:
[code]

Log without customItemNoContent, all items have content, everything works as expected:
[code]

My use case: two custom elements on the sides without content (status + button) and the regular tab items in the middle:
x Tab1 Tab2 Tab3 x

At the moment I cannot implement thi

[2021-01-05 16:52] #722 closed

[2021-01-06 01:05] NebulaSleuth opened #727 "[Bug] MediaElement property KeepScreenOn=false not working on android when playing video"
### Description
When using KeepScreenOn property of MediaElement on android and playing video the device will never sleep during playback.

### Steps to Reproduce

1.  Play a video using MediaElement on android and set the KeepScreenOn=false property.

### Expected Behavior
Device will go to sleep just like if video is not playing

### Actual Behavior
Device does not sleep during playback

### Bas

[2021-01-06 01:10] pictos commented on #727
@NebulaSleuth can you try to use the media element on XCT?

[2021-01-06 09:55] gresolio commented on #595
I can also confirm that it is still happening in v1.0.0-pre6.

[2021-01-06 09:58] jfversluis commented on #595
Alrighty, sorry about that! But thanks for letting us know and verifying!

[2021-01-06 13:44] jdarjona commented on #723
The maximum preview size allowed by Camera2 must be taken into account, especially in the ChooseOptimalSize method
// Max preview width that is guaranteed by Camera2 API
     public static readonly int MAX_PREVIEW_WIDTH = 1920;
// Max preview height that is guaranteed by Camera2 API
        public static readonly int MAX_PREVIEW_HEIGHT = 1080;

I leave you a part of my implementation that works, I

[2021-01-06 13:47] jdarjona commented on #723
Basically the error is in the "else", the maximum resolution is returned if the appropriate one is not found. " return choices[0];"

`else
			{
				LogError("Couldn't find any suitable preview size");
				return choices[0];
			}`

[2021-01-06 14:51] oscarjaergren commented on #504
It's so strange that the Snackbar was built in with a page from that start when other controls such as toast did not.

[2021-01-06 14:55] oscarjaergren commented on #467
@pictos AND @VladislavAntonyuk  how's it going with this feature?

I'm a big fan of this one and if you need any assistance I would gladly help ensure it gets shipped

[2021-01-06 14:58] WebDucer commented on #723
@jdarjona Thanks. Will test this tomorrow and prepare a PR, if everything is working as expected. Need to read the Camera2 API documentation first, to make a clear implementation.

[2021-01-06 15:29] jfversluis commented on #723
Thanks for the teamwork here folks! Appreciate it! :) Let me know how it goes and if you need any help from us.

[2021-01-06 19:22] richp582 commented on #647
For Azure Media Services, when using AES Encryption, you can apparently supply the token as a query parameter... though I haven't tried it personally it looks like that could be a work-around for this...

https://docs.microsoft.com/en-us/azure/media-services/previous/media-services-pass-authentication-tokens

I'm using a home grown XF media player and have been watching the new media element with

[2021-01-06 19:32] JohnGalt1717 commented on #647
@richp582  1. It doesn't actually work. 2. That doesn't solve the need to be able to send other headers through.

This is actually trivial once the other functionality is done that puts the interceptor in on iOS and on android it's just a feature of exoPlayer or the standard mediaPlayer anyhow.

[2021-01-07 16:40] Cfun1 commented on #718
@jfversluis @pictos Any initial thoughts?

[2021-01-07 17:07] #723 closed

[2021-01-07 22:36] trossellcullenm opened #733 "hover touch effect not working in Xamarin ios sample"
Hi Hover example works on uwp but not ios

[2021-01-07 23:03] AndreiMisiukevich commented on #733
Hi @trossellcullenm
Thank you for the report.

Does iOS support Hover?

[2021-01-07 23:11] pictos commented on #467
@oscarjaergren thanks for your interest. I merged that one into a separate branch to work on it, but I didn't find time so far. I'll try to set everything up until the end of the month and open a PR for that.

[2021-01-08 00:46] Cfun1 opened #735 "[Enhancement] Provide ability to customize different material textfield/Entry properties"
## Summary

Currently it is relatively hard to change the cursor color of an Entry, either needs custom renderer or digging into platform styles. It would be nice to have an effect (applied in xaml as in code) that enables the users to change the cursor color inside an Entry on all target platforms.

Also provide the ability to customize different properties that material `textfield` offers direct

[2021-01-08 00:50] jingliancui commented on #545
Hello , any progress or dev plan about appbar ?

[2021-01-08 01:27] jpd21122012 commented on #289
I'm having the same issue trying to Record Video on Xiaomi Mi Note 10

[2021-01-08 01:54] pictos commented on #289
@jpd21122012 can you provide a repro? This will help us a ton to find a solution.

[2021-01-08 02:24] jpd21122012 commented on #289
Sure. I'm working on the XFT Sample specifically on CameraViewPage.xaml, first of all the example doesn't work if you dont put on line 69 of the button the Clicked Event pointing to "DoCameraThings_Clicked", then trying to record (Start Recording) on button, on Android says something like the next image[
![MicrosoftTeams-image](https://user-images.githubusercontent.com/25286017/103966777-308baf80-

[2021-01-08 02:57] pictos commented on #289
@jpd21122012 can you confirm if your branch is sync with our main branch?

[2021-01-08 02:59] jpd21122012 commented on #289
Yes it has the latest commit from 8 hours ago on Main Branch

[2021-01-08 03:08] pictos commented on #289
@jpd21122012 yeah... I have an idea of what is the trouble. To don't leave you without an answer I can try to resume. As far as I know, when we select a wrong resolution (in other words a resolution that the device doesn't support) for the Camera it just throws an exception. In our case, our last commit fixed an issue with Pixel 2 because of that but breaks devices that don't support FullHD resolu

[2021-01-08 03:13] pictos commented on #289
BTW, @jpd21122012 are you using the video function, right?

[2021-01-08 03:14] jpd21122012 commented on #289
Yes, on camera view i'm using the vídeo function to récord something

[2021-01-08 04:06] UKDeveloper99 commented on #289
I'm also experiencing the same issue, on a Moto G4 device using the same sample camera view from the Camera sample as mentioned above.

[2021-01-08 04:33] pictos commented on #289
@UKDeveloper99 can you share the log?

[2021-01-08 04:44] UKDeveloper99 commented on #289
[Mono] Requesting loading reference 10 (of 11) of /storage/emulated/0/Android/data/com.cameratest/files/.__override__/Xamarin.CommunityToolkit.dll
[Mono] Loading reference 10 of /storage/emulated/0/Android/data/com.cameratest/files/.__override__/Xamarin.CommunityToolkit.dll asmctx DEFAULT, looking for Xamarin.AndroidX.Core, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
[Mono] Assembly Ref

[2021-01-08 05:39] trossellcullenm commented on #733
Hi Andre,
I was using your toucheffect sample and I have been trying code using this nugget and also  the xamarin.community toolkit.effects sample with the hover function which is not working. Is there no way of making this work? -- it  does work perfectly on uwp.

[2021-01-08 07:04] VladislavAntonyuk commented on #467
You can also use my fork of the original Signature Pad. I added support for all platforms: https://github.com/VladislavAntonyuk/SignaturePad

[2021-01-08 09:46] jfversluis commented on #467
Yes! This is still a very awesome control! @pictos @VladislavAntonyuk how can we arrange this that you can both work on it? That is, if @VladislavAntonyuk is open to that of course :) Not sure what still needs to happen for this?

[2021-01-08 09:47] jfversluis commented on #733
@trossellcullenm how do you expect the hover to work? Are you using iOS with a pointer device like a mouse?

I don't think hover is supported with touch input

[2021-01-08 10:30] VladislavAntonyuk commented on #467
@jfversluis I recently created a PR in XCT. Petro merged it into his branch and made some improvements. As he told, we is going to create a PR to the main branch in the end of the month.
As for my fork, it is based on the old SignaturePad control and I created it just for people who needs it right now for macOS and WPF.

[2021-01-08 10:37] jfversluis commented on #467
That makes total sense :)

Yeah, I just want to make sure we're not blocking by waiting for one person if you are willing to help out with adding some new things right now. If that is the case, we need to find a solution for that. I guess, if you want to add GTK and Tizen you could get Pedro's branch and do some work on that as well? If you open a PR, just make sure that you check the box that mai

[2021-01-08 10:37] trossellcullenm commented on #733
Hi Gerald,
On UWP hover works with a mouse or track pad and also with a touch screen holding a finger over an image triggers an event. On the sample app on the hover event the label should rotate. I use the hover event to provide information about the image which is underneath. Hover does not do anything on xamarin.ios.

[2021-01-08 12:27] jfversluis commented on #733
I'm suspecting iOS does not expose any states like hover, but not sure. We might need to investigate on that.

[2021-01-08 12:39] RadoslawKubas commented on #724
Same problem still exists in 1.0.0 version.

[2021-01-08 12:44] jfversluis commented on #724
Thanks for letting us know! We'll do our best to look into it. To be honest I'm not sure if using a MediaElement in controls like these is the best idea to begin with, so you might want to look into other ways of doing the thing you want to achieve. But we'll see what we can do.

Thanks!

[2021-01-08 12:58] pictos commented on #467
I'll find a time this weekend to hook up everything and open a PR to the main.

[2021-01-08 13:07] RadoslawKubas commented on #724
@jfversluis Thank you! Yeah, I'm considering using different approach (at least on Android, on iOS it works really nice), but before, I was using XamarinMediaManager and it was working fairly nice on Android also, so I believe it is possible.

[2021-01-08 15:32] jpd21122012 commented on #289
Do you refer to Version 1.0.0-pre6? I'll try with that one

[2021-01-08 15:43] jpd21122012 commented on #289
I've added the MediaCaptureFailed, and the **e** parameter says "Unexpected error: MediaRecorder is not initialized."

![MediaRecorderNotInit](https://user-images.githubusercontent.com/25286017/104033968-e2ae9000-5195-11eb-8c98-a871684d2fae.png)

[2021-01-08 17:36] Cfun1 commented on #701
https://github.com/xamarin/XamarinCommunityToolkit/issues/735

[2021-01-08 17:36] #701 closed

[2021-01-08 17:38] Cfun1 commented on #76
@jfversluis is this in progress ?

[2021-01-08 17:41] Cfun1 commented on #110
@jfversluis should this be moved to a discussions rather than issues?

[2021-01-08 17:47] Cfun1 commented on #131
@roubachof  @jfversluis Any agreement on how this will be implemented since then?  any update about this issue?

[2021-01-08 17:51] Cfun1 commented on #171
@jfversluis it seems it is blocked, not in progress anymore https://github.com/xamarin/XamarinCommunityToolkit/pull/172#issuecomment-708280037, also it is not properly linked to PR https://github.com/xamarin/XamarinCommunityToolkit/pull/172

[2021-01-08 17:56] Cfun1 commented on #178
@jfversluis it seems it is blocked at least for now, any proper label to put? https://github.com/xamarin/XamarinCommunityToolkit/pull/172#issuecomment-708280037.

[2021-01-08 17:59] Cfun1 commented on #190
@jamesmontemagno ,@jfversluis How are we tracking when this done? Maybe a Task list of Items that will be integrated will be helpful.

[2021-01-08 18:10] Cfun1 commented on #240
@jfversluis , @pictos confirmed that this is out of scope or still some discussion needed ?

[2021-01-08 19:05] jfversluis commented on #110
In fact I'm closing this for now. Let's see how development progresses first. If we set a release schedule to every 6 weeks but we only have a handful of minor things that are fixed than pushing out releases makes no sense. For now I think we'll roll with how we feel about a new release. If that turns out to be problematic in the future we can reevaluate.

[2021-01-08 19:05] #110 closed

[2021-01-08 19:08] jfversluis commented on #178
I don't think it's blocked. The previous PR that was opened for this was not feasible due to a bug in Xamarin.Forms. Either that bug is fixed and we can revive that PR or someone can come in and take this in a new PR with a different approach

[2021-01-08 19:09] jfversluis commented on #240
I still think this is out of scope. Also have a look at the Windows Community Toolkit. They might have something to better fit these needs.

[2021-01-08 19:09] #240 closed

[2021-01-08 20:09] IeuanWalker commented on #110
@jfversluis could you automate the releases? i.e. whenever something is committed to the main branch it will build and release a beta or a preview version.

That way if a feature is added or a bug is fixed, it can be used straight away rather than waiting for a release.

[2021-01-08 20:18] Cfun1 commented on #110
@IeuanWalker Maybe it already implemented check this bot message for example https://github.com/xamarin/XamarinCommunityToolkit/pull/725#issuecomment-756275004 also take a look at https://github.com/xamarin/XamarinCommunityToolkit/issues/507

[2021-01-08 20:24] IeuanWalker commented on #110
@Cfun1 thanks but the issue with that it's hard to use a package locally in a team, everyone will need to know to set up a new package source pointing to a local folder.

But most importantly it brakes automated builds, as it tries to pull the NuGet package from NuGet rather than the local folder.

![image](https://user-images.githubusercontent.com/6544051/104060845-6d6fa900-51ef-11eb-97f3-33d739f

[2021-01-08 21:42] hartez commented on #707
@pictos

I whipped up a repro for this - one of the flyout items (About) has the touch effect applied, and the other (Browse) does not. The flyout item without the touch effect works fine; the one with the touch effect does not work. Is there something special I need to do so that the touch effect passes the tapped event through? If not, I think this is a bug with the touch effect.

[_13253 Repro.

[2021-01-08 22:07] pictos commented on #707
@hartez I'm sorry I didn't see that xct effect :/ I'll reopen this and you can close the opened one on XF repo.

[2021-01-09 02:43] maxkoshevoi opened #737 "[Bug] TouchEffect.NativeAnimation on Image crashes app on Android 5"
### Description
App crashes when opening the page that contains `Image` with `xct:TouchEffect.NativeAnimation="True"` on Android 5

Error details:
[code]

### Steps to Reproduce

1. Add image with native animation to the page `<Image xct:TouchEffect.NativeAnimation="True" />`
2. Open the page

### Expected Behavior
Page opens

### Actual Behavior
App crashes

### Basic Information

- Version with

[2021-01-09 08:28] jfversluis commented on #110
Each PR already builds a nuget and a bot comments a link to that nuget on said PR so you can try it.

Also there is a nightly feed that builds every night when there are changes

[2021-01-09 17:23] petrofahed opened #739 "[Bug] Snackbar"
### Description

### Steps to Reproduce

1.  Device is English
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue: 1.0
- Last known good version: NA
- IDE: VS2019 version 16.8.3
- Platform Target Frameworks:

### Workaround

### Reproduction imagery

### Reproduction Link

[2021-01-10 20:36] PrajeetShrestha commented on #630
Just tried the TabView from, Xamarin.CommunityToolkit (1.0.0) Stable. This issue still exists. When we select the last TabViewItem, we can't select the second last TabViewItem. Even in the demo given by @davidortinau
here: https://github.com/davidortinau/LosGatos this issue exists. Hoping for the fix soon :) @jsuarezruiz.

[2021-01-10 23:12] pictos commented on #475
@VladislavAntonyuk so this is a limitation on the platform that we can't handle?

[2021-01-10 23:37] VladislavAntonyuk commented on #475
If we are talking about native Android Snackbar then yes.
But we can implement it with custom layout like other platforms.

[2021-01-11 00:34] albertt425 opened #742 "[Bug] MediaElement won't update if <= 300ms from current Position"
MediaElement is hard-coded to ignore small position updates (<= 300ms).

[https://github.com/xamarin/XamarinCommunityToolkit/blob/21bec3e669a78ea4c55f25985001cd73f8498db9/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/MediaElement.shared.cs#L99](url)

This works in the Xamarin.Forms experimental MediaElement. This is useful on platforms that support frame by frame Position change

[2021-01-11 00:42] pictos commented on #475
@VladislavAntonyuk thanks for the answer, so I'll let this open and this should be an enhancement and not a bug. So if you or any one that wants to work this should target the `develop` branch.

[2021-01-11 00:48] pictos commented on #742
@peterfoot can you share the historical context of this implementation?

[2021-01-11 00:56] AndreiMisiukevich commented on #737
Seems it's related https://stackoverflow.com/questions/33201712/cant-use-setforeground-method-on-imageview/33201753#33201753

[2021-01-11 00:59] maxkoshevoi commented on #737
But app does crash. Maybe Xamarin creates some invalid mappings to Android API

[2021-01-11 01:21] AndreiMisiukevich commented on #737
Yes, because actually this method "setForeground" was introduced in API 23

[2021-01-11 01:31] maxkoshevoi commented on #737
Read that answer wrong. Is it possible to to native animation on images in android 5? If not, could you please just ignore `NativeAnimation="True"` on images on API < 23?

[2021-01-11 01:46] AndreiMisiukevich commented on #737
I am afraid it's impossible for ImageView.

Yes, let's ignore native animation for Images with API lower that 23

[2021-01-11 01:54] AndreiMisiukevich commented on #737
BTW, try to wrap your image by ContentView or Frame, or StackLayout. It should help

[2021-01-11 02:25] Necrolis commented on #560
I ran into this same issue, and found a possible work around for anyone thats stuck with this:

Create a top level `ContentView` in the `TabItemView` and then alter the `Content` of that top level `ContentView`. For some reason this seems to correctly update, even though setting the Content of the `TabItemView` does not.

So far there don't seem to be any noticeable downsides to this.

[2021-01-11 04:33] maxkoshevoi opened #745 "[Bug] {xct:Translate String} works only for currently open pages"
### Description
If user changes language with `LocalizationResourceManager.Current.SetCulture()`, all strings localized with `{xct:Translate String}` on **currency open** pages get updated to new language, but if user opens new page it will be localized with old language.

### Steps to Reproduce

1. Open some page (page has language A)
2. Change culture to language B with `LocalizationResourceMana

[2021-01-11 06:29] RadoslawKubas opened #746 "[Bug] MediaElement exception when fast changing Source few times"
### Description

If fast changing MediaElement.Source value on iOS it is possible to see exception (on device and simulator)

`System.ArgumentException: TimeSpan does not accept floating point Not-a-Number values.`

[code]

### Steps to Reproduce

1. Create page with MediaElement.Source binded to string property (web hosted video).
2. Change fast binded property value to the new video few times.

[2021-01-11 09:19] peterfoot commented on #742
@pictos I remember there being an issue when events from the native control could cause the code to try and set the new position again causing a jump. I don't know if this still applies now the way the Position events are managed has changed.

[2021-01-11 10:53] joehanna opened #747 "[Bug] [CameraView] [iOS] Flash does not work"
### Description

On iOS the CameraView does not trigger a flashlight even though Flash is on.

This is similar in nature to https://github.com/xamarin/XamarinCommunityToolkit/issues/301

### Steps to Reproduce

1. Add a CameraView to a page.
2. Set FlashMode to On in XAML
3. Run and trigger shutter

### Expected Behavior

The flash light works.

### Actual Behavior

The flash light does not work.

[2021-01-11 23:08] #737 closed

[2021-01-11 23:35] #733 closed

[2021-01-12 08:39] SeRgI1982 commented on #630
Hi,
I have noticed that this bug is related with TabViewItem without content (FAB from Sample).
When you enable indicator, you will notice that after tapping on FAB item and items on the right side of FAB item, indicator shows in different position.
Sometimes you need to tap the same item twice to sync indicator with currently selected TabViewItem and when it happens, you are able to navigate to a

[2021-01-12 09:23] sthewissen commented on #745
I have seen this behavior in my own app too and have been working on a fix there. I will have to look at how I can implement this the easiest within the current XCT API without breaking it.

[2021-01-12 09:30] maxkoshevoi commented on #745
I thinks I found the cause for this issue. `Thread.CurrentThread.CurrenUICulture` is not persisted between pages. To fix it just for your app, you can store culture yourself and set `Thread.CurrentThread.CurrenUICulture` manually in constructor for each page.

I think it should work

[2021-01-12 09:33] sthewissen commented on #507
This exists and runs like a charm!

[2021-01-12 09:33] #507 closed

[2021-01-12 09:47] sthewissen commented on #225
Since the sample app will only demonstrate the concept of i18n on the sample page for it and we have a base set of languages in there to prove the concept; do we need to add more? To me, if the sample demonstrates the concept we shouldn't, meaning we could close this issue.

[2021-01-12 09:50] jfversluis commented on #225
As mentioned earlier; translating all of the sample app is not really feasible as much as I'd love to.

We now have the concept of the localization in there to show how that works, for now that's going to be it. Closing this one for now.

[2021-01-12 09:50] #225 closed

[2021-01-12 09:53] jfversluis commented on #226
Since #225 is out of scope we can close this one as well

[2021-01-12 09:53] #226 closed

[2021-01-12 11:06] sthewissen commented on #411
Could we easily verify that this bug is fixed by the referenced PR?

[2021-01-12 11:07] sthewissen commented on #417
Could we easily verify that this bug is fixed by the referenced PR?

[2021-01-12 11:07] sthewissen commented on #403
Could we easily verify that this bug is fixed by the referenced PR?

[2021-01-12 11:09] sthewissen commented on #413
As the `MainPage` goes from not visible to visible I would personally expect the `Appearing` event to be triggered.

[2021-01-12 11:28] nhinze commented on #413
Shouldn't it call the `Appearing` event of the open TapPage instead? I have since then upgraded to AppShell and it has fixed this issue.

[2021-01-12 15:38] UKDeveloper99 opened #751 "[Bug] [CameraView] Camera media capture (photo) orientation incorrect on Android"
### Description

From what I can tell this looks to be a known issue, I've seen the same code used in other Camera2 implementations. The capture output orientation is incorrect from what I can tell on some devices. You can reproduce this with your camera view Android sample. The media capture is rotated 90 degrees to the right.

I found this stack overflow post that could be helpful. The guy posti

[2021-01-12 22:53] jpd21122012 opened #752 "[Bug] CameraView Stop VideoRecording Error"
### Description
Using CameraView on latest version, when "START RECORDING" button is clicked it changes to "STOP RECORDING", the just click on Stop and the error will come on the output.
### Steps to Reproduce

1. Download Repo
2. Enter to Samples and open it on Visual Studio
3. Deploy android project to your device
4. Enter to Views/CameraView
5. Click on Start Recording
6. Wait a few seconds
7.

[2021-01-12 23:26] roubachof opened #753 "[Enhancement] CoordinatorLayout"
## Summary

Merge @mariusmuntean CoordinatorLayout in XamarinCommunityToolkit.
I know he was interested in merging it (https://twitter.com/MunteanMarius/status/1298368313551093761?s=20)
It's such a brilliant component I just open this feature as a reminder.
Of course there is no rush :)

https://user-images.githubusercontent.com/596903/104386633-db8cd680-5535-11eb-8d7f-1f3e2adf2e22.mp4

## API Cha

[2021-01-13 01:38] AndreiMisiukevich commented on #753
@davidortinau did something similar for xappy https://twitter.com/davidortinau/status/1349016071404199936

[2021-01-13 03:18] John0King commented on #517
It's unbelievable that current Xamarin doesn't support it.
just look at the Wechat mini program
- navigation   https://developers.weixin.qq.com/miniprogram/en/dev/api/route/wx.switchTab.html
- ability      https://developers.weixin.qq.com/miniprogram/en/dev/api/ui/tab-bar/wx.showTabBarRedDot.html

[2021-01-13 07:12] roubachof commented on #753
Indeed this is how I remember the coordinator layout :)

[2021-01-13 07:29] jfversluis commented on #517
@John0King you're referencing things in a tab bar. Badges are supported in the TabView that is available in this Toolkit. Did you see that one?

I think there is some exploration going on about integrating that into Shell so that it's also available there

[2021-01-13 07:35] sthewissen commented on #413
I'm not sure if that is actually fixing your issue, or if an open bug in Shell is causing it to work as you expected:

https://github.com/xamarin/xamarin.forms/issues/6486

[2021-01-13 07:38] John0King commented on #517
@jfversluis   is there any document about how to using that ?

[2021-01-13 07:41] jfversluis commented on #517
Not published yet. We have some minimal info here: https://github.com/MicrosoftDocs/xamarin-communitytoolkit/blob/master/docs/views/tabview.md

And you can always check out the sample app: https://github.com/xamarin/XamarinCommunityToolkit/tree/main/samples/XCT.Sample/Pages/Views/TabView

[2021-01-13 08:20] angelru commented on #517
TabView is fine but not lazy loading yet. Let's see if Badge comes out soon in Shell

[2021-01-13 09:59] decv86 commented on #517
I think never ... Probably all efforts are directed to the new MAUI

[2021-01-13 10:31] nhinze commented on #413
I guess I'm missing some fundamentals on how to deal with a user exiting full-screen mode. I expected it to behave in a similar fashion as when one hits the back button to return to a previous page on the stack. What am I missing?

[2021-01-13 14:29] jfversluis commented on #517
@decv86 this project won't do anything on regard to .NET MAUI, all efforts will target Forms 5 and that includes Shell

[2021-01-13 17:28] leo-mck commented on #625
Just found out that there is similar problem on iOS too. I am not sure if would be better to create a separate issue but I created another project with a reprodution of the problem. I have a main grid with 3 rows (Auto,*,Auto) and on the bottom row a expander. When the expander change size, the TabView does too but the content do not "redraw". On android, changing tabs corrects it but on iOS, it d

[2021-01-13 18:31] albertt425 commented on #742
Suggestions on how to proceed? @peterfoot, do you recall the platform that had the problem? I can poke around on UWP or Android, but do not have a Mac.

[2021-01-13 19:48] peterfoot commented on #742
@albertt425 I don't have any bandwidth to look into this but I'd suggest you could test it with that check removed e.g. change to:-

if (!isSeeking)

And see if there are any side effects.

[2021-01-13 20:36] albertt425 commented on #742
@peterfoot thanks, will do. I've actually already done that with my app (works fine), but I'll see if I can try some broader scenarios.

[2021-01-13 21:32] Cfun1 commented on #4
@jfversluis , is the bot messages above (in an issue) a normal thing ?

[2021-01-13 22:43] tommy-elliott-awh commented on #608
As stated in previous comments, Expander works fine with Scroll + Stack.  Here I give more specifics about how to apply that as a workaround, when not requiring CollectionView or ListView specific functionality.  Change the container from
[code]
to
[code]
This workaround resolves all expand/collapse issues on iOS and Android for me in this scenario (and also on Xamarin Forms 5.0), including the ex

[2021-01-14 09:25] maxkoshevoi opened #756 "[Enhancement] Add "Add(IEnumerable<T> collection)" to ObservableRangeCollection<T>"
## Summary

`ObservableRangeCollection<T>` is a great class it allows it's instances to be readonly and updated though `..Range` methods (without the need to backing field and `SetProperty` in setter).

But there is one minor problem if collection is readonly it cannot be easily initialized in object initializer.

## API Changes

[code]

## Intended Use Case

[code]

## Who Will Do The Work?

- [x

[2021-01-14 10:09] maxkoshevoi opened #757 "[Spec] Deprecate LocalizationResourceManager.SetCulture method in favor of CurrentCulture property"
# [The feature]

Add setter to `CurrentCulture` and deprecate `SetCulture()`.

Culture is handled via properties everywhere (`CultureInfo.CurrentCulture`, `Thread.CurrentThread.CurrentUICulture`, `AppResources.Culture`), so it feels like `LocalizationResourceManager.CurrentCulture` should have setter too.
Especially accounting for when #749 will be merged culture will be stored in the backing fiel

[2021-01-14 11:02] AndreiMisiukevich commented on #757
I guess, anyway we should add a check

[code]

[2021-01-14 11:19] maxkoshevoi commented on #757
@AndreiMisiukevich Even better! We can do this:

[code]

[2021-01-14 14:25] JoelPickin opened #758 "[Bug] CameraView not showing/working on UWP"
### Description
I have been trying to use the CameraView in my app. It shows in Android & iOS but not in UWP. To make sure it wasn't by app I setup a new solution, copy & pasted the sample code and ran it. It still didn't show

### Steps to Reproduce

1. Create a new empty Xamarin project with Android, iOS & UWP selected.
2. Update to Xamarin.Forms 5.0
3. Install the Xamarin.CommunityToolkit nuget

[2021-01-14 14:25] JoelPickin opened #759 "[Bug]"
### Description
I have been trying to use the CameraView in my app. It shows in Android & iOS but not in UWP. To make sure it wasn't by app I setup a new solution, copy & pasted the sample code and ran it. It still didn't show

### Steps to Reproduce

1. Create a new empty Xamarin project with Android, iOS & UWP selected.
2. Update to Xamarin.Forms 5.0
3. Install the Xamarin.CommunityToolkit nuget

[2021-01-14 14:25] #759 closed

[2021-01-14 21:44] davidortinau opened #760 "[Bug] Long Press blocks CollectionView selection"
### Description

When I add TouchEffect to any element inside my CollectionView ItemTemplate I lose the selection from CollectionView itself.

My goal is to have a long press on the item, and still allow multiple selection. See the video:

https://www.screencast.com/t/TMYYOopoTFQ

[code]

### Basic Information

- Version with issue: 1.0.0
  - Android: 10

- XF 5

### Reproduction Link

https://git

[2021-01-14 22:02] davidortinau commented on #760
Looks like this may be a CollectionView issue and not related to Touch effect at all.

[2021-01-14 23:15] AndreiMisiukevich commented on #760
I lean towards agreeing with you.
We set ```e.Handled = false``` when handling Touch in Android effect's implementation.
It should pass the event forward, I guess.

[2021-01-15 03:08] #745 closed

[2021-01-15 09:00] AlleSchonWeg opened #761 "[Bug] Linking with Sdk and UserAssemblies"
### Description

Hi,

i tried to build in release mode with the linker set to "Linking with Sdk and UserAssemblies". We use a couple of converters (InvertedBoolConverter, ListIsNullOrEmptyConverter etc). Starting the App results in a crash.

### Expected Behavior

Should not crash

### Actual Behavior
![Unbenannt](https://user-images.githubusercontent.com/6727366/104703998-5d3c5a00-5718-11eb-8926-

[2021-01-15 10:21] JoacimWall opened #762 "[Enhancement] Add TextCaseTypeLocal.FirstUpperRestLower to TextCaseConverter"
## Summary

Wi use the converters in toolkit but we are missing one feature in the TextCaseConverter. We using many string in Resource files and somtime this need to me Lower,Upper and somtime First upper the rest lower.

if we could add this feture to the TextCaseConverter

Regards Joacim Wall

## API Changes

[code]

add one line of code to the
[code]

## Intended Use Case
We using many string i

[2021-01-15 10:53] AndreiMisiukevich commented on #762
@JoacimWall feature approve)

[2021-01-15 10:58] JoacimWall commented on #762
Hi
Shoud i now make a PR request for brach Develop?

[2021-01-15 11:00] AndreiMisiukevich commented on #762
Yes please

[2021-01-15 11:11] pictos commented on #761
@AlleSchonWeg if you add this line inside the ctor of App.xaml.cs

`_ = new InvertBoolConverter();`

Does the error disappear?

[2021-01-15 11:52] pictos commented on #756
@maxkoshevoi thanks for you suggestion, I know that will make devs life easier, but TBH I'm not sold to add that just to allow ctor initialization since the user can do it by himself with minimum effort.

[code]

For more info see [chapter 10.2.2 of this book](https://livebook.manning.com/book/c-sharp-in-depth-fourth-edition/chapter-10/89)

[2021-01-15 11:59] JoacimWall commented on #762
has created a PR #763

[2021-01-15 12:02] maxkoshevoi commented on #756
@pictos That's exactly what I've done in my project, but the point of this NuGet is to minimize amount of code that user needs to write when working with Xamarin.Forms app. And duplication this extension method across projects doesn't seems as a good solution. This method wouldn't we visible in IntelliSense.

[2021-01-15 12:16] AlleSchonWeg commented on #761
Yes, it fixes the issue. I think the problem is, that the linker removes all code which isn't referenced in c#. Only register the converters in xaml is not enough.
I had a the same problem with my own converters. Adding Preserve Attribute to the classes helps.

[2021-01-15 17:01] davidortinau commented on #760
I've got both tap, long press, and multi-select working now by ignoring the ColV built-in selection and doing the selection myself.

[code]

The VM then adds/removes items from the ObservableCollection of selected items which is bound to my ColV.

Closing this, just wanted to share what I did to achieve my UX.

[2021-01-15 17:04] AndreiMisiukevich commented on #760
Oh) I've already started to add a workaround

[code]

[2021-01-16 06:20] Gelo-V commented on #751
This happened in my app too in version 1.0.1 , running on Android 10 device.

[2021-01-16 10:45] AndreiMisiukevich commented on #4
@jfversluis hmmm... what's wrong with this ticket?))

[2021-01-16 10:50] AndreiMisiukevich commented on #751
Hey folks, thank you very much for the report.
Please, feel free to submit a PRs resolving this issue, if you know what exactly should be changed.

[2021-01-16 18:49] pictos commented on #549
@Agredo thanks for your suggestion, but this out of the scope of this project.

[2021-01-16 18:49] #549 closed

[2021-01-16 19:19] #131 closed

[2021-01-16 19:21] pictos commented on #570
@AdamDiament can you confirm if this issue still happens?

[2021-01-16 20:03] maxkoshevoi opened #768 "[Bug] ListIsNullOrEmptyConverter doesn't respect ObservableCollection updates"
### Description

`ListIsNullOrEmptyConverter` (and `ListIsNotNullOrEmptyConverter`, and `ListToStringConverter`) doesn't update its value when `ObservableCollection.Add()` is called.

### Steps to Reproduce

1. Create a page with empty `ObservableCollection`, `ListIsNullOrEmptyConverter` tied to that collection and `IsVisible` attribute of some control, and button that adds one item to the collect

[2021-01-16 20:19] AndreiMisiukevich commented on #768
Actually, I don't think it's possible to fix this issue.
And calling ```OnPropertyChanged``` is mandatory in this case.

CC @sthewissen

[2021-01-16 21:17] maxkoshevoi commented on #768
Could this be solved if `ListIsNullOrEmptyConverter` were a markup extension, for example? I think this limitation makes this convertor dangerous to use (especially in combination with `ObservableRangeCollection` that supports replacing all items in collection without creating new instance)

[2021-01-16 21:51] pictos opened #769 "[Bug] We can create new instances of the LocalizationManager"
### Description

### Steps to Reproduce

1.  Create a new XF app with XCT
2. try `var p = new LocalizationResourceManager();`
3. You can create new instaces

### Expected Behavior
Compiler doesn't let me create new instances
### Actual Behavior
I can create new instances
### Basic Information

### Workaround
none

### Reproduction imagery

none

### Reproduction Link

none

[2021-01-17 00:25] AmrAlSayed0 commented on #769
What is wrong with creating a new resource manager? I'm working on app with multiple modules (projects) and each with its own string resources and the main app project (the one the has the App.xaml.cs) references all of them and is the one responsible for changing the culture if the user requests it. This change will mean I can only use one ResourceManager class which is not the case for moderatel

[2021-01-17 00:59] pictos commented on #769
@AmrAlSayed0, you don't need to create one instance per `.resx` file. The LRM can handle all `.resx` that you have with one instance.

[2021-01-17 03:20] pictos commented on #762
closed by #763

[2021-01-17 03:20] #762 closed

[2021-01-17 03:21] pictos commented on #758
@JoelPickin can you provide a repro?

[2021-01-17 05:26] Gelo-V commented on #751
Hi @AndreiMisiukevich, cool I'll give it a look during this Sunday by downloading the repo and if I'm able to solve it I'll submit the PR. I have never made any contributions before (but I'm wanting to) so I'll explore it first.

[2021-01-17 16:23] pictos commented on #751
@Gelo-V if you need any help, please let us know.

[2021-01-17 18:14] AdamDiament commented on #555
@Cfun1 I think this belongs in the main xamarin forms repo

[2021-01-17 18:39] Cfun1 commented on #555
I think you are right, but we will probably have to wait long to see this ready. https://github.com/xamarin/Xamarin.Forms/issues/6033

[2021-01-17 18:50] pictos commented on #555
@Cfun1 I'll reopen this issue since @PureWeen wants to implement a lot of cool features for Shell here. Since Forms 5.0 is released we will not see any new features there, just bug fixes and improvements.

[2021-01-17 19:02] Cfun1 commented on #555
@pictos oh nice, I was pessimiste even whan I have opened it that maybe it is not possible to achieve such feature from xct.

[2021-01-17 19:06] pictos commented on #555
@Cfun1 TBH I don't know if we can do it here with the opened APIs from Shell, but we should try it (:

[2021-01-17 22:36] AmrAlSayed0 commented on #769
@pictos How is that possible? There is only one instance and the Init takes only one ResourceManager which handles only one ```.resx``. Also the Translate extension also uses ```.Current`` which limits it to one ResourceManager too.

[2021-01-17 22:39] pictos commented on #769
@AmrAlSayed0
If you run our sample App you can see it, we just use the Current instance. I'm not an expert on that area, to explain how that works in deep, but the ResourceManager uses the CultureInfo to select what translation file it will pick.

[2021-01-17 22:54] AmrAlSayed0 commented on #769
@pictos No. I may have not made myself clear. I will explain my situation so it is clear what my use case is. My app has several ```csproj```s. For example
```Common.Forms.csproj``` // Has some stuff that any app I will work on will use (Converters, Common Interfaces, etc..) + ```Common.Form.AppResource.resx```
```App.Payment.csproj``` // Has pages and controls and services regarding the payment s

[2021-01-17 23:39] pictos commented on #769
Probably when you access the `Current` property the XCT will create one per assembly. In any case, the XCT should be able to handle that. Can you try [this nugget](https://github.com/xamarin/XamarinCommunityToolkit/pull/770#issuecomment-761856481) on your project and let me know if that works?

[2021-01-18 01:34] maxkoshevoi commented on #769
@AmrAlSayed0 You should create one common place to store all your translations, and put it somewhere where all projects would have access to it (I assume in your case it's App.Common). If you need to separate them, you can prefix each resource name with project name for example.

@pictos I believe, `Current` localization manager is created ones per process, not per assembly. So if user has multipl

[2021-01-18 01:55] maxkoshevoi opened #771 "[Enhancement] Update AsyncCommand constructor parameters to match Command ones"
## Summary

Related to #709

This repository has `AsyncCommand` class that accompanies Xamarin's `Command` class, but for `async` methods.
It's great, but has two issues:
1) Sometimes it accepts `object` as parameter. This is not ideal. We should use static typing whenever we can (that's why generics were created). And we can do this here with little API change.
2) `AsyncCommand` and `Command` sho

[2021-01-18 08:52] Gelo-V commented on #751
Hey @pictos thanks for offering your help (I'll need it jajaja)

I got familiar with the solution and tried to dig into this issue, here it is what I found and concluded:

- In the function `TakePhoto()` of the Camera Fragment script the line `sessionBuilder.Set(CaptureRequest.JpegOrientation, GetJpegOrientation());` had no effect on the orientation of the image in my device. If I understood corre

[2021-01-18 09:35] GalaxiaGuy commented on #769
There are quite a few situations where that is not possible, or at least a lot more work.

[2021-01-18 12:26] pictos commented on #771
@maxkoshevoi. I friendly suggest you wait we take a look at the issue before submitting a PR, this can avoid you wast your time and effort on an issue that can be refused.

[2021-01-18 12:28] redeaglekiller opened #774 "[Bug] Fix naming convention for CamtureMode in CameraView"
### Description
Hi.

When you try to Bind CaptureMode in CameraView using MVVM, following compiler error shows up:
`XFC0009	No property, BindableProperty, or event found for "CaptureMode"`

This is due to a missing naming convention of the BindableProperty `CaptureOptionsProperty` in  CameraView.shared.cs (sorry i don't know how to link the file, it's my first time) which should be `CaptureModePro

[2021-01-18 12:41] pictos commented on #751
@Gelo-V yeah I know about that article, I used for my studies on `CameraView`. Yeah, you can try to implement that snippet on docs and see how it goes. Hopping that fixed the issue. Please let me know when you can try it.

This is the bad part of the Camera2 API, is very fragmented and you don't have good error handling for that. So we always need to add more cases and checks on the fly.

[2021-01-18 12:45] maxkoshevoi commented on #771
@pictos Just wanted to take this one off my chest while I had some time. I already use `CommandHelper` in my projects, and `AsyncCommand` changes were minimal, so this wasn't a big effort.
I feel like description and implementation complement each this one. You need to see both to make up your mind.

For example, I already caught as error in our tests (`command` was used instead of `command2`):
![

[2021-01-18 14:38] JoelPickin commented on #758
@pictos Repo of the issue
https://github.com/JoelPickin/CameraViewBug

Thanks for the response

[2021-01-18 14:46] meJevin opened #776 "[Bug] Entries inside TabView with HorizontalTextAlignment set to Center or End when clicked change TabView selection to first index on Android"
### Description
In my Xamarin.Forms project I have a MainPage  (Content page inside of a Navigation page) which has a grid with a TabView.

TabView is populated with TabViewItems, containing a ContentView inside.

In those ContentViews I have a few Entry controls with HorizontalTextAlignment set to Center (or End).

When I am inside of, say, TabItemView with index != 0, and I click on those entrie

[2021-01-18 15:24] jsuarezruiz commented on #753
@mariusmuntean Would you be interested in porting this functionality? Let me know if we can help in any way.

[2021-01-18 15:38] MitchBomcanhao commented on #643
Also to note, the tab strip will not resize either.
I did see parts of the tab strip resize once or twice, but different elements like the selected bar and the text/icons etc did not resize at the same rate.

[2021-01-18 17:45] brminnick commented on #771
Maksym,

Ten days ago, in the [Discussions tab of this repo](https://github.com/xamarin/XamarinCommunityToolkit/discussions/709), we discussed these changes and why they are not recommended.

**tl;dr** This is a breaking change that removes & duplicates existing functionality and violates the [`ICommand` spec](https://docs.microsoft.com/dotnet/api/system.windows.input.icommand?view=netcore-3.1&WT.

[2021-01-18 17:46] #771 closed

[2021-01-18 17:54] maxkoshevoi commented on #771
@brminnick Could you please take a closer look at `AsyncCommad` implementation in this PR.
1) It still allows to pass parameters with different types to `Execute` and `CanExecute`, but now user need to explicitly specify those types, so it doesn't break `ICommand Specification`.
2) No `AsyncCommad` constructor parameters default to `object`. If user needs to pass `object` in `Execute` or `CanExecu

[2021-01-18 20:15] vtkachen111 opened #777 "[Bug] [CameraView] When capturing video, MediaCaptured event video file is empty (android at least)"
### Description
When capturing video on android, the media captured event has a file path to video, but looking at that file, its length is 0
### Steps to Reproduce

1. Create cameraview
2. Subscribe to mediacaptured
3. Try to capture video
4. open file at path: MediaCapturedEventArgs.Video.File
### Expected Behavior
The video file to be there and to not be empty
### Actual Behavior
File exists bu

[2021-01-19 08:38] #774 closed

[2021-01-19 09:45] sthewissen commented on #768
I would also not really be sure how that could be fixed generically as it originates somewhere in the MVVM layer 🤔

Also, @maxkoshevoi all of our converters already inherit from `ValueConverterExtension` which makes them a markup extension if I'm not mistaking.

[2021-01-19 10:19] maxkoshevoi commented on #768
@sthewissen can we make it like `Translate` extension? So that this converter would return `Binding` with source `collection` that is passed, and value `is null` or something. And then this Binding would update when collection updates.

[2021-01-19 10:38] maxkoshevoi commented on #768
@sthewissen something like this, but without compiler errors:

[code]

[2021-01-19 12:14] Zubairhanif06 opened #779 "Image rotation"
i'm using camera view in my page. after capturing image it rotes the image in android .
i'm testing this on real device . Samsung SM J400F (Android 10.0 API 29)

![processed](https://user-images.githubusercontent.com/61466735/105032187-49765800-5a78-11eb-8a6e-ecd54380c23e.jpeg)
![c1](https://user-images.githubusercontent.com/61466735/105032386-85a9b880-5a78-11eb-9256-aa9bd82ae9ae.jpeg)

here is my

[2021-01-19 12:29] Cfun1 commented on #779
@pictos, @AndreiMisiukevich  or @jfversluis  is it normal that this issue has no default labels attached to it ?

[2021-01-19 12:34] jfversluis commented on #779
Looks like the template wasn't used :)

Thanks for the report @Zubairhanif06 this seems like a duplicate of #751 please add further details there, and for a next issue please use the appropriate template. Thank you!

[2021-01-19 12:34] jfversluis commented on #779
Duplicate of #751

[2021-01-19 12:34] #779 closed

[2021-01-19 12:36] Zubairhanif06 commented on #779
thanks , i will let you know .

[2021-01-19 12:43] Zubairhanif06 commented on #751
here is my demo test project . from the above discussion i did not under stand how to fix it .
[CameraViewDemo.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/5835874/CameraViewDemo.zip)
Thanks

[2021-01-19 15:54] jfversluis commented on #413
To be fair I find it kind of making sense like Steven mentions. In addition, but this is mostly personal taste I guess, I don't think executing logic that makes up that kind of UI should be in the OnAppearing (or similar). For now I'm closing this one.

[2021-01-19 15:54] #413 closed

[2021-01-19 18:35] maxkoshevoi commented on #768
Created PR where this converter can return `Binding`, but turns out convertors can only return simple values.
Code in PR throws `Object must implement IConvertible`.

[2021-01-19 18:52] ignatiucnetinfo opened #781 "[Bug] The UIHoverGestureRecognizer availability starts with ios 13"
### Description

The usage of xct:TouchEffect will crash on iOS version less than 13

### Basic Information

- XCT Version 1.0.1

[2021-01-19 19:11] jfversluis commented on #400
This is still happening with the Toolkit version. There is a couple of workarounds already mentioned.

- It seems to work if you use `FillAndExpand`
- Specify a width- or heightrequest
- Do the little scale trick

Still good to take a look what is going on and hopefully fix it :)

[2021-01-19 19:19] jfversluis commented on #406
As Peter mentioned I think this is fixed. Tried the reproduction and I see Opening and Playing. Please try the current Toolkit version, if you think otherwise please open a new issue. Thanks!

[2021-01-19 19:19] #406 closed

[2021-01-19 21:48] Axemasta opened #784 "[Bug] StateLayout: Collection was modified"
### Description

I thought I'd use `StateLayout` in a tutorial page, the first time you see the page it shows some information, every subsequent load you dont see the info. This page is my root of my `FlyoutPage`, if you navigate to a page you leave it, if you deselect that page you go back to this page (its a background page).

When navigating back to this page after changing my code over from a

[2021-01-20 09:14] tranb3r opened #786 "[Enhancement] Merge Grouping class from MvvmHelpers"
## Summary

ObservableRangeCollection from MvvmHelpers has already been merged into Xamarin.CommunityToolkit.
I would be interested in merging the Grouping class as well.

It's basically an ObservableRangeCollection with a Key to identify the group.
It's very useful when using a grouped CollectionView.

What do you think ?

## API Changes

Simply take the class and add it to the ObjectModel namesp

[2021-01-20 19:51] #769 closed

[2021-01-20 19:55] jfversluis commented on #76
We have a repo setup here: https://github.com/MicrosoftDocs/xamarin-community-toolkit-api-docs

Now deciding on how to generate the docs and get them there as part of our builds/releases

[2021-01-20 23:22] AndreiMisiukevich commented on #784
@Axemasta can you validate the fix from https://github.com/xamarin/XamarinCommunityToolkit/pull/787

[2021-01-21 00:44] #781 closed

[2021-01-21 08:49] jfversluis commented on #786
We're looking carefully with these things to not have too much overlap with other libraries, especially the Windows Toolkit. But I don't think their MVVM bits already have this do they?

[2021-01-21 10:18] jfversluis commented on #784
You can download a nupkg with this fix from [here](https://dev.azure.com/xamarin/_apis/resources/Containers/8941246/nuget?itemPath=nuget%2FXamarin.CommunityToolkit.1.0.0-preview2909.nupkg) :)

[2021-01-21 10:24] Axemasta commented on #784
Let me give it a go, I'll have to do it in a sample because the app with the crash is not on form 5.0 😅

[2021-01-21 10:25] jfversluis commented on #784
Hold on... Not on Forms 5? Then what packages and versions are you using exactly? There is no (stable) Toolkit version that is not using Forms 5

[2021-01-21 10:26] Axemasta commented on #784
Forms 4.8.0.1821 & Community Toolkit 1.0.0-pre5

[2021-01-21 10:27] Axemasta commented on #784
I'm not planning on updating to Forms 5 until Prism has a stable release 😁

[2021-01-21 10:31] jfversluis commented on #784
Ah OK, understandable, but that is a good thing to mention in your next bug report then :)

Because this might have all kinds of causes then: maybe Prism, maybe Forms 4.8, maybe Toolkit. Again, I understand your position, but I hope you'll also understand this is not something we can fix if we don't know this is happening in the latest bits of our code as well. Maybe this is something that is alre

[2021-01-21 11:46] Axemasta commented on #784
Sure the crash itself is coming from the toolkit:
[code]

But i think im going to have to make the reproduction with prism included since I can't replicate with purely vanilla forms. I imagine how prism is holding onto references of the detail pages is partly what is causing the issue!

[2021-01-21 11:51] jfversluis commented on #784
Not looking to put the blame on someone else in this case. It might as well be us.

But this is why the template is pretty important. The version numbers, other products involved and reproduction showing all that can be very important not just for us, but also for yourself to be able to identify the root cause. There might still be something for us (or the other products) to fix, but at the very l

[2021-01-21 16:27] tranb3r commented on #786
But ObservableRangeCollection isn't in the Windows Toolkit, right ?

[2021-01-21 17:49] StapSoft opened #788 "[Bug] MediaElement UWP Release build not working"
### Description
The MediaElement is not working in the UWP release mode

### Steps to Reproduce

1. Build the Xamarin.CommunityToolkit.Sample.UWP sample in Release mode (with "Compile with .NET Native tool chain" enabled)
2. Run the sample program and navigate to Views-MediaElement

### Expected Behavior
The sample should play the video of James Montemagno
### Actual Behavior
Empty screen, no vide

[2021-01-21 23:58] AndreiMisiukevich commented on #768
Thanks :)
Since the PR with the sample is merged, I think we can close this issue. (because, as it was mentioned, it is impossible to implement).

[2021-01-21 23:58] #768 closed

[2021-01-22 04:00] jingliancui opened #790 "[Enhancement] Place the docs' hyperlink to the docs page."
It seem like the [xct_docs](https://docs.microsoft.com/en-us/xamarin/community-toolkit/) not have a hyperlink in this [page](https://docs.microsoft.com/en-us/xamarin/)

[2021-01-22 10:14] jamsoft opened #791 "[Bug]"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Workaround

### Reproduction imagery

### Reproduction Link

[2021-01-22 10:20] jamsoft opened #792 "[Bug] MediaElement Fails To Display When Behaviors EventToCommandBehavior Added To XAML"
### Description

Using the media element works as expected until I add in the EventToCommandBehavior into the behaviors collection.

### Steps to Reproduce

1. Add MediaElement to Xaml Page
2. Add EventToCommandBehavior to the media elements Behaviors collection.

[code]

### Expected Behavior

Should render MediaElement and attach behaviors

### Actual Behavior

MediaElement control doesn't rende

[2021-01-22 11:26] jamsoft commented on #792
I had made the exemplary rookie mistake. The Prism library was hiding a XAML exception from me.

The EventToCommandBehavior could not resolve the event name because I had added Onxxx to the name. Rookie  spelling mistake.

[2021-01-22 11:26] #792 closed

[2021-01-22 11:28] JoacimWall opened #793 "[Bug] Linker error "Link Framework SDKs Only" when only using converters from CommunityToolkit"
### Description
Hi not sure if this is the right place to share this information. We have started to migrate functions in our project to instead use the community Toolkit and we started with converters.

When we build with the setting "Link SDKs Only", the app stops working. Attach is an sample project where we recreated the error on the physics Iphone in debug mode. We also get the error when we

[2021-01-22 12:32] sjorsmiltenburg opened #794 "[Bug] Is MediaElement supported on Xamarin.Forms.UWP?"
### Description

Is MediaElement supported on Xamarin.Forms.UWP?

I can't find any special setup required in the documentation for UWP and I can't get it working
(v1.0.2 in combination with XF 5.0.0.1905)
The uwp version of the sample application also does not work for me.

[2021-01-22 12:34] sjorsmiltenburg commented on #788
i think i just created a duplicate of this bug

[2021-01-22 13:10] Keflon commented on #570
I have a similar issue that is not related to Shell (I'm not using Shell) that looks like it may have the same root cause, so I'm sharing my investigations in the hope it will help the team find and fix it. ...

Environment:
XF 4.8.0.1821. VS, PC, Mac, Xcode all up to date at time of writing.
iOS only. Android works as expected.

Cause:
For a ContentPage containing an Expander, the Expander Conten

[2021-01-22 13:20] jfversluis commented on #791
Not sure what the intention was, but this doesn't look right :)

[2021-01-22 13:20] #791 closed

[2021-01-22 13:21] jfversluis commented on #790
I think that is being worked on, @davidbritch ?

[2021-01-22 13:22] jfversluis commented on #793
@pictos thoughts?

[2021-01-22 13:23] jfversluis commented on #794
Lets merge this one with #788

[2021-01-22 13:23] #794 closed

[2021-01-22 15:10] Cfun1 commented on #790
I believe this should be on https://github.com/MicrosoftDocs/xamarin-communitytoolkit am I wrong ?

[2021-01-22 15:12] davidbritch commented on #790
@cfun1 Kinda. Really it should be in https://github.com/MicrosoftDocs/xamarin-docs as that's the repo where the issue will be actioned.

[2021-01-22 15:56] PureWeen commented on #570
@AdamDiament is this still happening on 5.0? @pictos and I did a good amount of work to make sure Flyout Items respond to size changes 🤞

[2021-01-22 17:40] HausBJB opened #795 "MediaElement in Silent mode (iPhone)"
### Description

Hello everyone, I have a question about MediaElement if the silent mode is on on my Iphone, the soundtrack is still played loudly. Is there a way not to ignore the silent mode?

thanks

### Steps to Reproduce

1. Create MedialElement set Volume="1"
2. ON the Silent mode
3. audio can be heard

### Basic Information

- Version with issue:  1.0.2
- IDE: Visual Studio 2019 Win 16.8.4

[2021-01-22 17:55] Keflon commented on #570
Hi @pureween. I perhaps should have said I think my issue may be related because AdamDiament noted that

'...  and clicks sink through to the other flyout items below it.'

and

'... the revealed buttons are still not clickable.'.

Both statements are consistent with my Expander Content becoming transparent with regard to input.

Additional info:
1. If my Expander is 'expanded' when I swap my Deta

[2021-01-22 21:41] jamsoft commented on #791
Ooops! Sorry all!

[2021-01-23 00:53] pictos commented on #793
@jfversluis looks like that's duplicated from #761 I'll give some love on this tomorrow

[2021-01-23 05:54] pictos commented on #793
@JoacimWall  I could not run your sample on my machine, I tried to create a repro and I coudn't reproduce the error. Can you send another repo, if you can generate one without any thirdparty software would be great!
@AlleSchonWeg  can you provide a repo as well

[App2.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/5859752/App2.zip)

[2021-01-23 22:08] maxkoshevoi opened #798 "[Enhancement] Add CommandFactory class"
## Summary

Add `CommandFactory.Create()` that automatically resolves what command (sync or async) user is trying to create and returns an instance of it.
This is helpful because if some method will become async or sync, `Create()` would automatically return command of needed type. And in general, when creating a command user wouldn't need to think what type it would be, they just need to call `Cr

[2021-01-24 14:33] redeaglekiller commented on #758
@JoelPickin Hi, you need to add `Microphone `and `Webcam `in the `Package.appxmanifest` as a capability for this to work properly (same as Manifest permissions on Android).
And you need to set the minVersion under target settings in the UWP project to 19.03 (build 18362)

cheers

[2021-01-24 14:42] JoacimWall commented on #793
Hi @pictos  I have only used
 <PackageReference Include="Xamarin.Forms" Version="5.0.0.1905" />
    <PackageReference Include="Xamarin.Essentials" Version="1.6.0" />
    <PackageReference Include="Xamarin.CommunityToolkit" Version="1.0.2" />

that should be ok. The only thing i have changed from the standard xamarin.froms template is that i change target version for Andriod to sdk 30.

regards Joa

[2021-01-24 19:15] AdamDiament commented on #570
@PureWeen @pictos Thanks for looking into this. I'm struggling to get hot restart working to test this. It might be something to do with the account holder at our apple developer account needing to accept the latest licenses. Hopefully I'll be able to test later this week.

[2021-01-24 22:12] AdamDiament commented on #570
@PureWeen @pictos i managed to get an iOS simulator up and running. There has definitely been some improvement, as the expander opens and closes and moves the other items out the way now, and the individual items can be touched. However, the expander click seems to "fall through" to the "close fly out" method. I am setting FlyoutIsPresented = true in the click handler to override this so you can s

[2021-01-25 01:40] jingliancui opened #799 "[Enhancement] "Merge" xct viewmodel to vs' tool"
Description in [preview release note](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#16.9.0.pre.3.0),
`Improved MVVM Support: In this release, we introduced a new dialog that allows you to quickly create a view-model and declare it as the DataContext for the XAML page. Setting the DataContext will enhance IntelliSense when working with data bindings – such as the

[2021-01-25 11:37] YZahringer opened #800 "[Enhancement] Support ObservableRangeCollection operations by Index"
## Summary
Add support of `InsertRange/RemoveRange/ReplaceRange` by `Index` on `ObservableRangeCollection`.

These API methods are approved in .NET: https://github.com/dotnet/runtime/issues/18087

## API Changes
[code]

## Intended Use Case
Edit collection ranges by index.

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [x] Just putting this out there for someone to pick up

[2021-01-25 14:33] CliffAgius opened #802 "[Bug] UWP Sample app not working."
### Description

Built and ran the Sample app with UWP as the target and it runs but on selecting a page it shows nothing but a blank page rather than the controls it shoud.

### Steps to Reproduce

1. Clone and build the Sample App targeting UWP
2. Open the App and select a page to see it empty/blank.

### Expected Behavior

Should show the controls for that are of the sample app so that the user

[2021-01-25 23:33] redeaglekiller commented on #802
The same happens to me. If you resize the window it shows content again....maybe something is broken with the navigation onready event. I'll look at it tomorrow.

Cheers

[2021-01-26 00:04] pictos commented on #802
Duplicate of #606

[2021-01-26 00:04] #802 closed

[2021-01-26 00:09] pictos commented on #799
@jingliancui I didn't follow your idea, can you rephrase that?

[2021-01-26 00:10] pictos commented on #793
@JoacimWall thanks for your reply, I'll take a look during this week.

[2021-01-26 00:49] jingliancui commented on #799
@pictos ,The vs' preview MVVM support feature like the "prop tab tab", the viewmodel it create by the operation maybe is created from vs , and I know xct support DelegateWeakEventManager, so is it possible to "embedded" the DelegateWeakEventManager feature to the vs' mvvm feature?

[2021-01-26 01:47] pictos commented on #799
I see now, well I believe that we can't do that on this project, that should be something done by VS team. @jfversluis @jsuarezruiz thoughts?

[2021-01-26 02:11] jingliancui commented on #799
Maybe it like the vs `code snippet` feature , or the aspnetmvc controller create dialog etc...

[2021-01-26 02:19] jingliancui commented on #799
And I suddenly remember the` .net 5 code generator` feature.

[2021-01-26 07:33] AlleSchonWeg commented on #761
Hi,

setting Linking to "Sdk Assemblies Only" works for us. The apk size increases only a bit. So no problem for us. You can close this issue if you want.

[2021-01-26 10:20] jfversluis commented on #790
OK, trusting this will be taken care of and is outside of our influence atm. Closing this one here

[2021-01-26 10:20] #790 closed

[2021-01-26 10:24] jfversluis commented on #799
Yeah I think this is more of a tooling thing than anything we can do :)

If I understand your idea correctly a number of things need to happen. First, the Toolkit needs to become a part of the templates to be installed whenever someone creates a new project and then they need to add the logic to generate this code.

I highly doubt that we will ever get that far with this project, but I appreciate

[2021-01-26 10:24] #799 closed

[2021-01-26 10:25] jfversluis commented on #802
Oh I thought we had an issue for that already, good catch @pictos :D

Let us know if you get to work on this @redeaglekiller would be good to get this fixed. Same happens on UWP and macOS. Although the latter is not fixed by a resize which could indicate it is another issue or macOS just draws their windows different :)

[2021-01-26 12:57] taenito opened #804 "[Bug] [Android] TouchEffect NativeAnimation triggered twice"
### Description

Using TouchEffect with  `xct:TouchEffect.NativeAnimation="True"` will trigger the animation twice during a quick click.

### Basic Information

- Version with issue:
- Last known good version:
- IDE: Visual Studio Enterprise 2019 (16.8.4)
- Platform Target Frameworks:
  - iOS:
  - Android: Android SDK 29
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devi

[2021-01-26 14:35] AndreiMisiukevich commented on #804
It seems StartRipple and EndRipple methods are redundant now

[2021-01-26 23:41] Agredo commented on #643
Scrolling with fingers are not possible. TabView simply does not work on UWP

[2021-01-27 01:58] mtsrdr opened #805 "[Bug] AvatarView - Valid source images dont load for the first time they are created"
### Description

AvatarView images are not loaded the first time they are created and may never load if Caching is disabled.

### Steps to Reproduce

1. Run the Attached Project with the Switch "Enable caching" set to true in the first launch of the app on the device:

2. Click the "Load avatar images" button and see that avatar images won't load the first time.

3. Click again and you'll see that

[2021-01-27 10:24] jfversluis commented on #761
Closing this one in favor of the other linked issue. Glad it worked out for you @AlleSchonWeg !

[2021-01-27 10:24] #761 closed

[2021-01-27 11:00] Axemasta commented on #784
@AndreiMisiukevich Can confirm this issue is not happing in the latest versions of all packages (XCT 1.0.3, XF 5.0.0.1931) 😄

I'm happy to close this issue if thats alright with everyone

[2021-01-27 17:42] angelru opened #806 "[Enhancement] PINVIEW"
this feature would be nice
https://github.com/MGohil/XFPINView

[2021-01-27 20:56] #784 closed

[2021-01-27 20:59] gaetanonou commented on #289
I had the same issue. Just enable the RECORD_AUDIO permission and it should be fine. Hope this helps.

![image](https://user-images.githubusercontent.com/31685244/106053289-eecda380-60ea-11eb-90ff-97a20dcdf164.png)

[2021-01-27 23:30] pictos commented on #806
if @MGohil wants to bring his control to this awesome package, that will be very welcome!

[2021-01-28 18:44] Cfun1 opened #807 "[Bug] Apply an explicit style to an Entry using TextValidationBehavior with InvalidStyle"
### Description
from https://github.com/xamarin/XamarinCommunityToolkit/discussions/748

It seems impossible to apply an explicit style on an `Entry` which is using the `InvalidStyle` of `TextValidationBehavior`, you may say just append/add the explicit style to the `InvalidStyle` definition, but the issue is that the latter is only triggered upon text changed event I believe, thus the style won't

[2021-01-28 23:23] njsokalski opened #808 "[Enhancement] Add VisualStates & Events for Expanding & Collapsing"
## Summary
I would like to see VisualState(s) for Expanded & Collapsed, along with events for Expanding, Expanded, Collapsing, & Collapsed

## API Changes
public event EventHandler Expanding;
public event EventHandler Expanded;
public event EventHandler Collapsing;
public event EventHandler Collapsed;
//These may or may not have the standard EventArgs or a custom inherited class, this may be deter

[2021-01-29 01:09] mtsrdr commented on #805
After investigating the AvatarView source code, I found out what is causing the issue.

You are trying to update the source of the image twice during its startup, which generates an error:

Android log:
[code]

There are two places where this happens:

1. In the propagation of the 'propertyChanged' event from SourceProperty.
2. In the propagation of the event 'Image.BindingContextChanged'.

We can

[2021-01-29 13:09] wagenheimer opened #809 "[Enhancement] Please keep a compiled APK version of the Samples available to Download"
## Summary

I would live to test the samples from Xamarin Community! But I downloaded it from GitHub and was not able to compile it. It would be interesting to always have an updated version of apk form the samples available for download or published on the Google Play Store.

## API Changes

No API Changes

## Intended Use Case
Teste the samples to be able to know the full power of Xamarin Toolki

[2021-01-29 13:33] OwenCross289 opened #810 "[Bug] [Android] Slider and CarouselView don't work in SideMenuView"
### Description
Sliders and CarouselViews don't scroll or swipe within a SideMenuView on Android. No issue on iOS. I assume this would also be the case for all controls that use a drag effect?

Setting  xct:SideMenuView.MenuGestureEnabled to false does not fix this either.

Downgrading from latest Xamarin.Forms package to 5.0.0.1829-pre6 gave expected behaviour back.

### Steps to Reproduce

1. Cr

[2021-01-29 22:06] AndreiMisiukevich commented on #807
Hi
The problem is that **InvalidStyle** overrides **Style**, right?

you can set **Valid** style instead of setting **Style** property

[2021-01-30 02:38] Cfun1 commented on #807
@AndreiMisiukevich it will not work because only one style will be applied at a time either valid or invalid.
In my example I want that PlaceholderColor, BackgroundColor and Visual properties are always applied from SomeEntryStyle weather is it valid or no.

It will be nice if invalidstyle will only override concerned properties (in example TextColor) not overwrite the whole style. A solution woul

[2021-01-30 14:38] edsulaiman opened #816 "[Enhancement] Markup HotReload"
## Summary
is there a hot reload feature in the xamarin community toolkit markup? if there is, how to use it.

also please improve documentation about xct markup, I spent hours searching on google to get started using this library.

[2021-01-30 15:14] Cfun1 commented on #816
Maybe you need to wait for the coming c# hot reload

[2021-01-30 15:45] Cfun1 commented on #677
@pictos have you been able to verify this as an issue ?

[2021-01-31 06:43] jfversluis commented on #816
All the documentation that we have right now is here: https://aka.ms/xct-docs

With a specific section on the C# Markup things: https://docs.microsoft.com/en-gb/xamarin/community-toolkit/markup

And the sample in our sample app: https://github.com/xamarin/XamarinCommunityToolkit/tree/main/samples/XCT.Sample/Pages/Markup

As for the reload, I think that's something that is being investigated/develo

[2021-01-31 06:43] #816 closed

[2021-01-31 08:51] znelson32 opened #818 "[Bug] MediaElement broken on iOS in Release mode - "Default constructor not found""
### Description
When running on an iOS device in Release, the following exception is thrown:
_Default constructor not found for type Xamarin.CommunityToolkit.UI.Views.MediaElement_
This doesn't happen on the device in Debug, only Release.

### Steps to Reproduce

1. Build and deploy to iPhone in Release
2. Navigate to screen with MediaElement pointed to network location
3. Exception occurs on scre

[2021-01-31 11:04] AndreiMisiukevich commented on #818
The same problem was in Xamarin.Forms
https://github.com/xamarin/Xamarin.Forms/issues/9752

It seems you need to preserve this class from linking.

You can use linker config file for achieving it.
Or just call somewhere in code this constructor.

[code]

[2021-01-31 11:12] AndreiMisiukevich commented on #810
@PureWeen @jsuarezruiz Hey folks

Is anything related to touch-management changed from 5.0.0.1829-pre6 to 5.0.0.1874 that might cause this issue?

[2021-01-31 17:26] pictos commented on #818
@znelson32 can you provide your release configuration? You can find it on your csproj

[2021-01-31 19:51] jfversluis commented on #806
I'd love to have it! I do want to see some proposal for a spec first with all the APIs but I like the idea :)

[2021-01-31 22:30] AndreiMisiukevich commented on #804
@taenito can you verify that the issue is gone in this PR: https://github.com/xamarin/XamarinCommunityToolkit/pull/817

[2021-02-01 01:01] znelson32 commented on #818
This fixed the issue, it's akin to: _--linkskip=Xamarin.CommunityToolkit_

Would be nice to have [Xamarin.iOS.Foundation.Preserve] in the source so we never run into this, but no big deal.

[2021-02-01 01:01] #818 closed

[2021-02-01 02:00] pictos commented on #818
@znelson32 yeah, but to add that we need to know better in what situation the linker is removing the ctor. Since XCT is linker safe so we can't add Preserve in all, we need to do it conditionally. So if you can share your release config or provide a repro that will be great to us

[2021-02-01 02:03] znelson32 commented on #818
Here's what I have:

<PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|iPhone' ">
    <DebugType>none</DebugType>
    <Optimize>true</Optimize>
    <OutputPath>bin\iPhone\Release</OutputPath>
    <ErrorReport>prompt</ErrorReport>
    <WarningLevel>4</WarningLevel>
    <CodesignEntitlements>Entitlements.plist</CodesignEntitlements>
    <MtouchArch>ARM64</MtouchArch>
    <Codesig

[2021-02-01 06:41] gpatok opened #819 "[Bug] CameraFlashMoode.Auto created massive overexposure on Android"
### Description
I use the CameraFlashMode.Auto in my app but on some devices it creates a massive overexposure which results in an almost complete white image.

### Steps to Reproduce

1. Open CameraView
2. Set CameraFlashMode to Auto
3. Trigger the Shutter Command

### Expected Behavior
CameraView takes a picture under usage of the flash and i get a image with decent lighting, just like in the re

[2021-02-01 07:55] acaliaro opened #820 "[Bug] Binding: 'Xamarin.CommunityToolkit.ObjectModel.AsyncCommand' cannot be converted to type 'Xamarin.Forms.Command'"
### Description
I have a CustomControl with a Button.
[code]
I use this in my view (two times):

[code]

Then I use CustomCommand and CustomAsyncCommand

[code]
With @jamesmontemagno 's AsyncCommand, I have the warning  **Binding: 'Xamarin.CommunityToolkit.ObjectModel.AsyncCommand' cannot be converted to type 'Xamarin.Forms.Command'**

### Steps to Reproduce

as described above

### Expected Behav

[2021-02-01 10:36] taenito commented on #804
@AndreiMisiukevich
The issue is gone with your PR.
I tested in your sample app and my app.

[2021-02-01 12:17] jingliancui opened #821 "[Enhancement] HybridWebview(Invoke C# from JavaScript)"
## Summary

[docs here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/custom-renderer/hybridwebview#create-the-hybridwebview) , like MediaElement , HybridWebview maybe will be made as an Control in XCT.

[2021-02-01 13:53] #804 closed

[2021-02-01 15:27] acaliaro opened #822 "[Bug] SideView does not open if Bind State property in XAML"
### Description
I am uning SideView.

If I use

[code]
and convert the boolean IsMenuVisibile with something like this:

[code]

When I change IsMenuVisible, the SideView does not appear.

If I use

`        <xct:SideMenuView x:Name="sidemenu" x:DataType="viewmodel:InventarioViewModel">
`

and in then codebehind

            if (((InventarioViewModel)BindingContext).IsMenuVisible)

[2021-02-01 23:05] mtsrdr commented on #820
The issue seems to be in your own code.

You cannot bind AsyncCommand to a Xamarin.Forms.Command. Instead, you can use the System.Windows.Input.ICommand interface in your custom view as the return type of your BindableProperty:

[code]

[2021-02-02 06:46] acaliaro commented on #820
Excellent @mtsrdr it works! Thanks

[2021-02-02 06:46] #820 closed

[2021-02-02 11:12] JoelPickin commented on #758
@redeaglekiller That has worked. Thank you very much for your help.

[2021-02-02 11:12] #758 closed

[2021-02-02 20:32] angelru opened #823 "[Bug] StateLayout DataTemplate"
The code below works correctly, but if I put a template it is no longer centered on the screen
[code]

is not centered
App.xaml:

[code]

StateLayout:
`<xct:StateView StateKey="Error" VerticalOptions="FillAndExpand" Template="{StaticResource ErrorTemplate}">`

Tested on Android

[2021-02-02 23:08] AndreiMisiukevich commented on #823
Hi, try ```VerticalOptions="CenterAndExpand" HorizontalOptions="CenterAndExpand"```

[2021-02-03 02:17] AndreiMisiukevich commented on #822
@acaliaro thanks for the report)

Can you please clarify the issue:

Do you assume the issue that the SideMenuView doesn't open the menu **on start** (e.g. if you set the State = LeftMenuShow in xaml).

[2021-02-03 02:23] AndreiMisiukevich commented on #822
If the issue is that **bool to state converter not working**, then you should check your code and verify you raise PropertyChanged after bool value. (I mean If you open the page and SideMenuView is **CLOSED** by default)

[2021-02-03 06:30] acaliaro commented on #822
<xct:SideMenuView x:Name="sidemenu" x:DataType="viewmodel:InventarioViewModel" State="LeftMenuShown">

If I set the State directly, I think I should see the menu, but there is not:

![image](https://user-images.githubusercontent.com/5759350/106707491-9407e080-65f1-11eb-8840-2acc7c0ba728.png)

But if I swipe, it appears:

![image](https://user-images.githubusercontent.com/5759350/106707519-a2ee9300

[2021-02-03 06:30] acaliaro commented on #822
I use Binding and converters everywhere, and I don't rise PropertyChanged directly because I use Fody

[2021-02-03 07:30] angelru commented on #823
thanks

[2021-02-03 07:30] #823 closed

[2021-02-03 09:24] WebDucer opened #825 "[Bug] AsyncCommand is not testable"
### Description

Priviously we used `DelegateCommand` from Prism library but want to switch to AsyncCommands now. One of the reasons was, to be able to  test easier commands with async actions behind them (most of them).

If we try to unit test our view models with `AsyncCommand`, the executeion fails due to hard dependecy on `Device.BeginInvokeOnMainThread` method.

### Steps to Reproduce

1. Cre

[2021-02-03 09:40] roubachof commented on #825
Maybe it's the answer you're looking for:

https://brianlagunas.com/mocking-and-unit-testing-the-xamarin-forms-application-class/

"If you follow that up the chain, you’ll see that for each platform in the Forms.Init() call, these values are being set based on the platform.  So this means we need to create our own Init() call for our unit tests!"

We should maybe add a "using XCT in test projects"

[2021-02-03 10:03] WebDucer commented on #825
@roubachof This could be a workaround, but not my prefered solution. A view model has only two parts visible and testable. This are properties (backed with `INotifyPropertyChanged` and Commands. I expect to be able to test a view model, without framework initialization.

If I want to test controls, this is other playground. There I would expect prlatform initialization.

[2021-02-03 10:11] roubachof commented on #825
I understand you separation of concerns :)
However if `RaiseCanExecuteChanged` does not raise the events on the main thread, it means that the async code passed as arguments **must** be run on the main thread. With this line, it's up to the user to decide whether or not he wants its async code to be on a different thread. So yeah it's not perfect but I guess it's an acceptable tradeoff.

[2021-02-03 10:17] WebDucer commented on #825
Brian Lagunas in Prism.Core library uses own synchronization context in commands, so there is no dependency on Device-Singleton.

Singletons is something that I don't like in tests 😉 .

https://github.com/PrismLibrary/Prism/blob/0fc56abbea733a319c9734c65d1110db07f7ebd4/src/Prism.Core/Commands/DelegateCommandBase.cs#L37-L47

[code]

[2021-02-03 10:35] roubachof commented on #825
I was afraid that using `SynchronizationContext.Current` would be different from using `Device.BeginInvokeOnMainThread` cause it won't use native Android looper:

https://github.com/xamarin/Xamarin.Forms/blob/80a4dbfb1cd897f478c38d0aafa6a5d67940d2f3/Xamarin.Forms.Platform.Android/Forms.cs#L637-L651

But I did some digging and found out that `SynchronizationContext.Current` use looper on mono andro

[2021-02-03 11:12] WebDucer commented on #825
@roubachof Should I make a PR for this? As I can see, the change would only happen in the base class `BaseCommand`.

[2021-02-03 11:47] roubachof commented on #825
I would personally be ok with a PR, but since it is mostly @brminnick code, it's a gentleman agreement to have its opinion on the subject first.

[2021-02-03 12:35] Cfun1 commented on #807
@AndreiMisiukevich is this to be considered as a verified bug or an enhacement ?

[2021-02-03 16:04] JoacimWall commented on #404
If you add support for m3u8 it woul be nice if you can add support to add Headers to the native render functions.So the the player are able to use with azure media service with Authorization.
Below is sample an implementation.

Android
in your protected virtual void UpdateSource():
Dictionary<string, string> RequestHeaders = new Dictionary<string, string>();
                        RequestHeaders.

[2021-02-03 16:40] vniehues commented on #476
@Tommigun1980 I'm currently facing the same problem (positioning).
Did you find a solution to this? I'm kinda at my witts end :D

[2021-02-03 17:02] acaliaro opened #827 "[Bug] EventToCommandBehavior not raised with ContentPage Appearing event"
### Description
It seems that is not possible to have the Appearing event as a Command. Am I doing something wrong?

[code]

### Steps to Reproduce

See above

### Expected Behavior
I would like to have the OnAppearingCommand executed when Appearing event raise

### Actual Behavior
OnAppearingCommand is not executed

### Basic Information

- Version with issue: 1.0.2
- Last known good version: unk

[2021-02-03 17:22] brminnick commented on #825
## Workaround

The workaround provided in the Issue submission is invalid.

The correct workaround is to create `MockDeviceInfo.cs`, and `MockPlatformServices.cs`, and initialize both in `[Setup]`.

### `[Setup]`

We can use the `[Setup]` attribute to run code before each test.

Here is the code for `[Setup]` that I use to Unit Test my [GitTrends](https://gittrends.com) app: https://github.com/brm

[2021-02-03 17:27] brminnick commented on #825
Now that we have the workaround out of the way (hopefully it helps fellow devs hitting the same problem!), @WebDucer yes a PR to replace `Device.BeginInvokeOnMainThread` with `SynchronizationContext.Post` is a great idea!

Feel free to assign me as the reviewer to your PR once it's open!

[2021-02-03 20:56] GuidoNeele commented on #265
Any word on this? Looks like a very useful control!

[2021-02-03 22:39] AndreiMisiukevich commented on #807
Actually, I am not sure that such behavior can be implemented at all...

[2021-02-04 02:13] njsokalski opened #829 "StringFormatConverter as an IValueConverter"
I would like to see an IValueConverter in the Xamarin.CommunityToolkit.Converters section. This would be similar to the String.Format function, only for use in XAML rather than codebehind. The following is C# of a version I created and use:
public class StringFormatConverter : IValueConverter
{
	public object Convert(object value, Type targetType, object parameter, CultureInfo culture)
	{ return s

[2021-02-04 02:36] pictos commented on #829
@njsokalski, thanks for your suggestion!
 If I understood correctly what you are asking already exist in xaml bindings, [here is the doc](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/data-binding/string-formatting) for it, can you confirm if your proposal is different?

[2021-02-04 05:13] WebDucer commented on #825
@roubachof @brminnick OK. Then I will take this and make a PR in the next days.

[2021-02-04 10:13] AndreiMisiukevich commented on #822
Well, it means that the problem is only with the initial load, right?
It doesn't show the menu on the initial View's load (if the ShowMenu option selected).

[2021-02-04 10:21] vniehues commented on #517
@Dresel Do you have an update on this for us? :)

[2021-02-04 10:36] domagojmedo commented on #809
I managed to create Android APK with App center

https://install.appcenter.ms/users/medo.moberg/apps/xct/distribution_groups/public

I'm not sure if sharing links is ok since anything could be in the APK, I'm sorry if it breaks any rules

[2021-02-04 10:55] acaliaro commented on #822
The problem is when State is binded but also when State is set directly to LeftMenuShown. Maybe I have another property to set?( I see that you talk about a ShowMenu option...)

[2021-02-04 13:48] BenBtg opened #833 "[Bug] Expander causes exception in Embedded ContentPage"
### Description
Get System.InvalidOperationException thrown when using Expander in an Embedded ContentPage in a Xamarin NativeApp
### Steps to Reproduce

1. Create Xamarin Android App
2. Add Embedded Content Page
3. Add Expander and enable flag Forms.SetFlags("Expander_Experimental");

### Expected Behavior
Expander can be used in embedded page

### Actual Behavior
System.InvalidOperationException

[2021-02-04 13:53] acaliaro opened #831 "[Bug] CollectionView inside SideView's "MainView" does not scroll"
### Description

I have a CollectionView inside the SideView's MainView.
This does not scroll.
If I swipe the LeftMenu, after the swipe the CollectionView can scroll

### Steps to Reproduce

See the attached project:
1- Do login without username and password
2- Select a voice on the popup tapping on the list
3- Press "Inventario", Appears a page WITHOUT SideView. The CollectionView scroll
4- Press

[2021-02-04 14:39] acaliaro commented on #822
@AndreiMisiukevich with datatrigger it works:

[code]

For me, it's ok. If you want to close the issue, no problem, but I'd be very curious to know why databinding doesn't work

[2021-02-04 15:06] WebDucer opened #832 "[Enhancement] Localization manager with more than one resource manager"
## Summary

Currently the localization manager (singleton) can be initialized only with one resource manager. This is often not enough.

We ceurrently use own implementation for this purpose, that accept a list of resource managers (form common library, different app modules).

## API Changes

Non breaking changes:

https://github.com/xamarin/XamarinCommunityToolkit/blob/f62c078146a05ef92e548f71d6

[2021-02-04 15:23] jfversluis commented on #809
I'm thinking I might publish one at some point, not sure, but especially for iOS I don't think we'll get through the store.

Let's not fragment and have a discussion here if needed: https://github.com/xamarin/XamarinCommunityToolkit/discussions/241

I think the trouble was, and also why this issue was opened because it was hard to compile the sample app on Windows, this should be easier with this

[2021-02-04 15:23] #809 closed

[2021-02-04 15:24] jfversluis commented on #827
It would be super helpful if you could attach a reproduction project, thanks!

[2021-02-04 15:27] jfversluis commented on #819
Very interesting. I do see you're using 1.0.0-pre5 is there a reason you didn't update yet? Could you confirm this also happens on the latest stable package?

Also I think I see you mentioning "certain devices" what are devices that this is happening on and what are devices where it doesn't happen on? What is the difference between these two? Is there any code involved that might be of influence?

[2021-02-04 15:29] acaliaro commented on #827
[TesiDemo.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/5926733/TesiDemo.zip)

LoginPage and LoginViewModel

Thanks @jfversluis

[2021-02-04 15:34] jfversluis commented on #833
This isn't needed anymore, this was a Forms thing. Chances are that this now works with the Xamarin Community Toolkit. Please update Forms to the latest version, install the latest stable XCT and try again. If it still not works please open a new issue.

Thanks!

[2021-02-04 15:34] #833 closed

[2021-02-04 15:47] #760 closed

[2021-02-04 17:12] njsokalski commented on #829
You're right, it does exist! I don't know how I missed that, I think I was looking for a Converter (since that is what I always used in the past), so I guess I never noticed this. Thank you for letting me know about it, it will definitely save me time by not needing to include code that just replicates an existing feature!

[2021-02-04 17:12] #829 closed

[2021-02-04 20:52] AndreiMisiukevich commented on #831
This PR https://github.com/xamarin/XamarinCommunityToolkit/pull/824 can fix your issue as well

[2021-02-04 22:01] Tiberiusva opened #835 "[Bug] UniformGrid binding not all controls displayed when loaded"
### Description
When I load a page that contains the following uniformGrid the bound objects display but the Switch control is not visible until I resize the App with a UWP app. On Android it works fine.

<comm:UniformGrid BindableLayout.ItemsSource="{Binding Path=Answer.SelectAnswersList}"
                                              Padding="10"
                                              Gri

[2021-02-04 23:45] #810 closed

[2021-02-05 03:40] mtsrdr commented on #827
@acaliaro There is a typo in the command name of your reproduction project. It won't work.

`OnAppearingCommand != OnApperingCommand`

<img width="500" src="https://user-images.githubusercontent.com/33626789/106986417-11deff80-674a-11eb-9ac9-223b0ea3e4a9.png" />

<img width="800" src="https://user-images.githubusercontent.com/33626789/106986603-75692d00-674a-11eb-8805-f8437486211c.png" />

[2021-02-05 05:54] acaliaro commented on #827
@mtsrdr I am a stupid. Thanks!

[2021-02-05 05:54] #827 closed

[2021-02-05 10:10] IeuanWalker opened #838 "[Enhancement] Support iOS Accessibility Traits"
## Summary

Create an effect to support setting iOS 14 accessibility traits - https://developer.apple.com/documentation/objectivec/nsobject/uiaccessibility/accessibility_traits

An article was written on how to create the effect - https://stu.dev/xamarin-forms-accessible-headings/

## Intended Use Case
Improve app accessibility.

For example, in my case, there is a home button that's an SVG the vo

[2021-02-05 21:42] Cfun1 opened #840 "[Enhancement] On Android DisplayToastAsync should use Toast not SnackBar"
## Summary

I am confused to see that `DisplayToastAsync()` is in fact using `SnackBar` and not `Toast` on Android, I don't know about the other platforms but for Android this is confusing. I suggest we introduce/use [https://developer.android.com/guide/topics/ui/notifiers/toasts](toasts) when it is possible.

## Intended Use Case
To follow what a developer expect from a Toast in Android.

## Who

[2021-02-05 23:30] roubachof commented on #840
I don't know what is it called DisplayToastAsync(), should be called DisplaySnackbarAsync()...

[2021-02-05 23:35] Cfun1 commented on #840
Guess what!? [DisplaySnackBarAsync](https://github.com/xamarin/XamarinCommunityToolkit/blob/c57959085051784d7c4fdeefe936447186d5fdf6/src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/PageExtension.shared.cs#L46) already exists beside `DisplayToastAsync()`. I don't know what is the difference?
Good to know I was not aware that toast has been deprecated  👍🏻 .

[2021-02-05 23:41] roubachof commented on #840
MMhh must be some kind of confusion about the semantic.
DisplayToastAsync seem to display a snackbar without an action associated
DisplaySnackBarAsync for a snackbar associated with an action

[2021-02-05 23:42] roubachof commented on #840
Should be both called DisplaySnackbarAsync() with method overload from my point of view

[2021-02-05 23:48] pictos commented on #840
@VladislavAntonyuk can you answer this question?

[2021-02-05 23:54] VladislavAntonyuk commented on #840
It is by design: https://github.com/xamarin/XamarinCommunityToolkit/issues/260

[2021-02-05 23:58] roubachof commented on #840
Yup, that's what I thought: it's semantic misunderstanding.
Snackbar can have action attached or not.
Snackbar without action is not a toast, it's a Snackbar without action :-)
It's true that it's confusing but eeeeeh....

[2021-02-06 00:05] Cfun1 commented on #840
so it will be kept with Toast name or changed to something else (the snack bar without action) ?

[2021-02-06 00:11] roubachof commented on #840
The issue is that it would be a breaking change... I guess you'll have to live with this x)

[2021-02-06 00:14] #840 closed

[2021-02-06 00:17] VladislavAntonyuk commented on #840
I can add that it happens only on Android. Because only Android has native Snackbar and toast.
Further more Snackbar on Android unfortunately has only 1 button, but other platforms supports multiple buttons.
I think we need to discuss if we want to use native implementation or we can customize it with "StackLayout"

[2021-02-06 00:22] jmegner opened #841 "[Enhancement] add SetFocusOnEntryCompletedBehavior"
## Summary
Add SetFocusOnEntryCompletedBehavior, which is a compact way of getting another control to get focus when user completes an entry.

See this blog post: https://adenearnshaw.com/focus-next-element-on-enter/

Just for reference, a bit of Twitter discussion where original author approves: https://twitter.com/jacobegner/status/1357767010206298112

## API Changes
Add a Xamarin.CommunityToolk

[2021-02-06 00:34] jmegner commented on #841
@adenearnshaw Just in case you're interested.

[2021-02-06 02:04] pictos commented on #841
@jmegner can you provide a spec for this feature?

[2021-02-06 08:06] Tommigun1980 opened #842 "[Enhancement] More control for xct:TouchEffect"
## Summary

xct:TouchEffect is awesome so thanks for that! However there's two features I am sorely missing:

1) Ability to route the animation to another view. Ponder for example the following "button" consisting of a frame, label and image:
<img width="334" alt="Screenshot 2021-02-06 at 9 55 54" src="https://user-images.githubusercontent.com/60286968/107112615-a0927000-6861-11eb-9f04-2e07d75157e

[2021-02-06 08:21] Tommigun1980 opened #843 "[Bug] xct:TouchEffect doesn't work on Spans"
### Description

### Steps to Reproduce

xct:TouchEffect doesn't seem to work on Spans. See for example the following scenario:

<img width="332" alt="Screenshot 2021-02-06 at 10 15 51" src="https://user-images.githubusercontent.com/60286968/107113008-72625f80-6864-11eb-9171-776b89848afd.png">

[code]

`xct:TouchEffect.NativeAnimation` and `xct:TouchEffect.Command` do nothing on the above Spans.

[2021-02-06 09:01] Tommigun1980 opened #844 "[Bug] xct:TouchEffect breaks button events"
### Description

### Steps to Reproduce

xct:TouchEffect breaks button events:

[code]

The button's event is never fired.

### Expected Behavior

xct:TouchEffect shouldn't break events.

### Actual Behavior

xct:TouchEffect breaks events.

### Basic Information

- Version with issue: 1.0.2
- Last known good version: None?
- IDE:
- Platform Target Frameworks:
  - iOS:  14.2
- Android Support Libra

[2021-02-06 09:36] Tommigun1980 commented on #842
The lack of event support is quite effectively preventing me from really starting to use xct:TouchEffect. Could someone maybe instruct me as I'm thinking I'm missing something?
Thank you so much!

[2021-02-06 10:49] Cfun1 commented on #294
@techduggu any update on the spec ?

[2021-02-06 11:15] Cfun1 commented on #273
@jfversluis, @jsuarezruiz any update on this ?

[2021-02-06 11:18] Cfun1 commented on #268
@jfversluis has this been approved? or it was using an old GitHub feature-template that why it is missing the "needs-approval " label?

[2021-02-06 11:21] Cfun1 commented on #265
@bmacombe any update regarding the spec ?

[2021-02-06 11:25] Cfun1 commented on #190
@jamesmontemagno ,@jfversluis How are we tracking when this done? Maybe a Task list of Items that will be integrated will be helpful.

[2021-02-06 11:28] Cfun1 commented on #509
@pictos  you moved this issue to done (not sure if it was intended to move it or mistake), shouldn't be closed? (don't know the context)

[2021-02-06 12:08] Tommigun1980 opened #845 "[Bug] xct:TouchEffect: 'NativeAnimation' doesn't revert if used with 'Command'"
### Description

### Steps to Reproduce

1. Turn on `xct:TouchEffect.NativeAnimation="True"`.
2. Also add `xct:TouchEffect.Command="{Binding SomeCommand}"` to the same element.

### Expected Behavior

When releasing the finger over the element and after the command has invoked, the native effect should go away.

### Actual Behavior

When releasing the finger over the element and after the command

[2021-02-06 16:21] AndreiMisiukevich commented on #843
Unfortunately, TouchEffect is not supposed to work with Spans (cuz Span is not inherited from VisualElement)

[2021-02-06 16:21] #843 closed

[2021-02-06 16:49] Cfun1 commented on #456
Maybe https://github.com/xamarin/XamarinCommunityToolkit/issues/294 needs to be implemented first.

[2021-02-06 16:51] Cfun1 commented on #292
@ahoefling is this issue supposed to remain open after the linked pr got merged ?

[2021-02-06 17:04] techduggu commented on #294
@Cfun1 With reference to my previous comment, it is open to pick up for implementation.
For details around implementation/spec, you can refer: https://github.com/xamarin/Xamarin.Forms/issues/1775

@jfversluis / @AndreiMisiukevich / @pictos : As the initial idea of porting has been dropped now, I'd need some experts help here to define the initial architecture/design of this control (the way we wan

[2021-02-06 17:13] Cfun1 commented on #608
This issue needs to have iOS label, right ?

[2021-02-06 17:41] pictos commented on #294
@techduggu someday next week I can take a look at this and provide some spec.

[2021-02-06 17:43] pictos commented on #844
@Tommigun1980 if you use the Commands and events provided by TouchEffect, that works?

[2021-02-06 17:46] sachinkanadia commented on #608
@Cfun1 Yes I should think so

@tommy-elliott-awh Using bindable layout with expander view does not work well on Android. Scrolling is glitchy and not smooth.

My workaround for this issue has been to implement a Bindable Layout for iOS and Collectionview for Android. The user will experience the same UX based on this implementation however the underlying code becomes platform specific and difficul

[2021-02-06 17:52] pictos commented on #268
@Cfun1 this was opened using the old template. Thanks

[2021-02-06 17:58] Cfun1 commented on #348
Could someone add in-progress ready-to-implement Labels?

[2021-02-06 18:01] Cfun1 commented on #358
This issue needs the Label "needs-approval" if it has not yet been approved.

[2021-02-06 18:04] Cfun1 commented on #366
This issue needs the Label "needs-approval" if it has not yet been approved. (probably was opened using the old GitHub feature-request template)

[2021-02-06 18:04] Cfun1 commented on #375
This issue needs the Label "needs-approval" if it has not been approved yet. (probably was opened using the old GitHub feature-request template)

[2021-02-06 18:07] Cfun1 commented on #385
@pictos  This issue needs the Label "in-progress".

[2021-02-06 18:11] Cfun1 commented on #390
This issue needs the Label "needs-approval" if it has not been approved yet. (probably was opened using the old GitHub feature-request template).

[2021-02-06 18:14] Cfun1 commented on #461
@AndreiMisiukevich does this issue needs to be closed ?

[2021-02-06 18:15] AndreiMisiukevich commented on #842
Hi, maybe the "State" property will be helpful for you. You can observe its value (Normal or Pressed) and change other views appearance

[2021-02-06 18:16] AndreiMisiukevich commented on #842
Why don't you want to use commands?

[2021-02-06 18:18] AndreiMisiukevich commented on #845
@Tommigun1980 could you please build a sample app?

[2021-02-06 18:29] YZahringer opened #847 "[Enhancement] Support ShadowEffect on UWP"
## Summary
Support `ShadowEffect` on UWP platform. Currently only supported by `Android/iOS/macOS` on #725.

## API Changes
No API change, add UWP implementation of `ShadowEffect`. Maybe using [DropShadow](https://docs.microsoft.com/en-us/uwp/api/windows.ui.composition.dropshadow).

## Intended Use Case
Use `ShadowEffect` on UWP platform.

## Who Will Do The Work?
- [ ] I am willing to take this o

[2021-02-06 19:01] AndreiMisiukevich commented on #844
Try to set ShouldMakeChildrenInputTransparent="False"

[2021-02-06 19:02] AndreiMisiukevich commented on #461
Implemented in #725

[2021-02-06 19:02] #461 closed

[2021-02-06 20:04] Softtinn opened #848 "[Enhancement] Calendar Control"
## Summary

It would have been really cool with a Calendar control that supports selecting multiple dates (and/or date ranges). I think this control would have been a great addition to the toolkit.

I'm not sure about how to implement it, but maybe a grid could be used as a base to it?

Here's a couple of examples:
![image](https://user-images.githubusercontent.com/7129814/107128506-876bdc80-68be-

[2021-02-06 20:10] Cfun1 commented on #848
Could you please include the **Intended Use Case** section ? Selecting discontinuous dates or selecting a period of time (successive days)

[2021-02-06 21:50] Tommigun1980 commented on #842
Hi and thanks for the reply.

Why would it matter tbh? Legacy, stubbornness, technical reasons, inherited projects, preference, whatever. Events are a concept in Xamarin.

(In this particular case it has to do with separation of concerns, where views handle presentation and view models logic only; and in certain cases it makes sense to handle it this way. But it shouldn’t really matter from an API