[2021-02-06 21:52] Tommigun1980 commented on #842
Thank you, I’ll look into it.

[2021-02-06 21:52] jmegner commented on #841
Is the code in the linked blog post not enough? https://adenearnshaw.com/focus-next-element-on-enter/

[2021-02-06 21:58] Tommigun1980 commented on #845
Hi. I will do that.

In my case the command invokes a native photo picker, so the issue may only appear if the entire app’s focus changes in the command, in case someone runs into this before it’s fixed.

[2021-02-06 21:59] Tommigun1980 commented on #844
Hi and thanks for the reply.
Unfortunately I can’t.

[2021-02-06 22:01] Tommigun1980 commented on #844
Hi Andrei. I do in fact have it there.

I didn’t investigate this more than just noticing it broke the logic and proceeded to revert back, but I think it only happens with events.

[2021-02-06 22:08] AndreiMisiukevich commented on #805
For some reason iOS UriImageSourceHandler doesn't load image if CachingEnabled = false
CC @jfversluis @jsuarezruiz

[2021-02-06 22:10] ahoefling commented on #292
I believe we should close this and open new issues for any bugs. But we should defer to @jfversluis for how he wants to manage the work items

[2021-02-06 22:54] AndreiMisiukevich commented on #842
Got it, thanks for the explanation.

You can use "Completed" event in TouchEffect, but you will have to add TouchEffect manually.

[code]

[2021-02-06 23:03] Tommigun1980 commented on #842
Ah thank you!
Could ‘Completed’ (and presumably ‘LongCompleted

[2021-02-06 23:08] Tommigun1980 commented on #842
Accidentally clicked close, reopening :P

Ah thank you!
Could ‘Completed’ (and presumably ‘LongCompleted’ or whatever it’s called) be upped to same first citizen status as the Commands? Ie add them as attachable properties?

I’m thinking that Xamarin APIs usually expose both command and event properties so it was unexpected not to find the event variants, and I’d love to use them as attachable pro

[2021-02-07 00:25] AndreiMisiukevich commented on #842
@Tommigun1980 I don't think it's possible to convert "events" to attachable properties.

[2021-02-07 00:40] Tommigun1980 commented on #842
Oh gotcha! I had no idea, well then it would be hard to implement I guess :D
I will follow through with your suggestion of adding it as a separate block then, thank you for the info!

[2021-02-07 00:45] Tommigun1980 commented on #844
Let me clarify on the previous,

[code]

only broke _some_ listeners, but not all. I didn't look into it further but I think `ShouldMakeChildrenInputTransparent="False"` worked properly with Commands inside the children, but not with events.

So

[code]

I will try to find the time to verify this later today, but that was the impression I got on a quick cursory look (I reverted my code back as som

[2021-02-07 01:29] AndreiMisiukevich commented on #844
Hm, https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs#L219-L220

[2021-02-07 03:25] Tommigun1980 opened #850 "[Bug] xct:TouchEffect.NativeAnimation incompatible with VisualStateManager"
### Description

### Steps to Reproduce

Hi and thanks again for a great component!

I noticed that if you have a control that gets coloured via the VisualStateManager, something like this:

[code]

... where 'SelectedStyle' and 'NormalStyle' assign a background color, and you add the following to the control's root:

[code]

... then, when the control is interacted with, it never gets the 'Select

[2021-02-07 03:44] Tommigun1980 commented on #842
Hi. I'd like to test this but I'm not sure exactly how to do it.

The only thing I could come up with is a 'DataTrigger' on the inner elements that should be affected, but DataTriggers can't bind to attached properties (`xct:TouchEffect.State` in this case).

So I'm not sure how to accomplish this - i.e. opting out certain elements from the native effect, while the handler is on the root element (

[2021-02-07 03:54] Tommigun1980 opened #851 "[Enhancement] TouchEffect is lacking event for LongPress"
### Description

### Steps to Reproduce

TouchEffect doesn't expose events as attachable properties (see https://github.com/xamarin/XamarinCommunityToolkit/issues/842#issuecomment-774565593), so one has to do:

[code]

However, there is no event for 'LongPress', so you can't do:

[code]

This results in a situation where long presses can only be handled via a Command, and there doesn't seem to be

[2021-02-07 03:55] Tommigun1980 commented on #845
I wonder if this is a similar situation to https://github.com/xamarin/XamarinCommunityToolkit/issues/850.

[2021-02-07 04:17] Tommigun1980 opened #852 "[Enhancement] Invert default value of xct:TouchEffect.ShouldMakeChildrenInputTransparent"
## Summary

Adding an `xct:TouchEffect.NativeAnimation="True"` in your visual hierarchy prevents touch events from working inside said element. This forces one to also always add an `xct:TouchEffect.ShouldMakeChildrenInputTransparent="False"` statement when a 'NativeAnimation' statement is added.

This is error prone, cumbersome, and may scare off new users as their app's logic will break without

[2021-02-07 07:36] Tommigun1980 opened #853 "[Bug] FATAL: xct:TouchEffect crashes on Android"
### Description

### Steps to Reproduce

I added `xct:TouchEffect.NativeAnimation="True"` to my app to spruce up the UI and it works well on iOS, but after having finished my work and testing it on Android it constantly crashes with:

[code]

Not 100% of the `xct:TouchEffect.NativeAnimation="True"` crash the app, but most do.
For example an FFImageLoading.CachedImage inside a bindable layout crash

[2021-02-07 07:38] Tommigun1980 commented on #853
My lead development platform is iOS and I am not gearing up for a release right now, so I'll just leave the Android build hanging until this is fixed (instead of reverting all the changes). So please let me know if you need anything from me, otherwise I'll just wait for an XCT update.

Thank you.

[2021-02-07 10:37] jfversluis commented on #851
It a bug, everything works as intended and this is something wished to be added.

This is probably useful for a lot of people

[2021-02-07 10:38] jfversluis commented on #292
Yep we probably didn't use the right syntax in the pr or something. This can be closed and for new requests or bugs new issues can be opened.

[2021-02-07 10:38] #292 closed

[2021-02-07 15:15] pictos commented on #853
could you provide a small repro? That will help us to debug and fix thig bug.

[2021-02-07 15:22] pictos commented on #841
@jmegner I would say to add this here to be documented. At any time this blog post can be edited or deleted.

[2021-02-07 15:29] jmegner commented on #841
Implementation from blog (similar to his GitHub [SetFocusOnEntryCompletedBehavior](https://github.com/adenearnshaw/xam-focus-next-element/blob/98f1e24e6f29d54423bcd77da28e1b562196af22/NextFormFieldSample.Forms/NextFormFieldSample.Forms/Behaviors/SetFocusOnEntryCompletedBehavior.cs)):
[code]

Example use in xaml (similar to his GitHub's [MainPage.xaml](https://github.com/adenearnshaw/xam-focus-next

[2021-02-07 15:40] pictos commented on #841
@jmegner thank you. Do you if it's possible to use an Attached property instead of a behavior. That way devs will type less to use this feature, which will look like...

[code]

[2021-02-07 16:05] jmegner commented on #841
@pictos that seems like a great idea.  I don't do much attached property stuff, so I'll have to try it out to see if there are any obstacles.

@adenearnshaw do you know off the top of your head any obstacle to SetFocusOnEntryCompletedBehavior using an attached property?

[2021-02-07 16:20] Cfun1 commented on #504
According to Android documentation [Make() method](https://developer.android.com/reference/com/google/android/material/snackbar/Snackbar#make) requires a View, since xct is using the native on, not sure we can do much with the native implementation, although we can extend from Page to other Views .

[2021-02-07 16:21] Cfun1 commented on #476
In order for Swipe dismiss to work:

[Source](https://developer.android.com/reference/com/google/android/material/snackbar/Snackbar#make)

[2021-02-07 16:29] pictos commented on #841
@jmegner Let me know what you find.

[2021-02-07 16:44] VladislavAntonyuk commented on #476
As for Android as it was mentioned it is possible with native implementation. As for other platforms I think we can use gesture recognizes.

[2021-02-07 16:52] hnabbasi commented on #385
Hello world! I finally got back to this. I am making some changes to the API and will close the PR currently open in favor of a new one, when ready. I have added `Normal Text Color` and `Selected Text Color` to both iOS and Android. Currently running in to Background Color issue on Android that I am working on.

Stay tuned.

[2021-02-07 17:21] adenearnshaw commented on #841
Nothing comes to mind immediately. I knocked up a very [quick poc ](https://github.com/adenearnshaw/xam-focus-next-element/tree/attached-property-poc) and it seems feasible.

[2021-02-07 17:23] Cfun1 commented on #476
@VladislavAntonyuk  I meant that even if that the feature already exist in native Android, it is not working in the sample probably we don't have a `CoordinatorLayout` in the tree, hence was my question "can we do something about that ?", should we wrap somehow inside a `CoordinatorLayout`?

[2021-02-07 17:25] VladislavAntonyuk commented on #476
This feature needs to be enabled in Snackbar. It is disabled by default. I used the base call to show Snackbar.

[2021-02-07 18:45] Cfun1 commented on #476
@VladislavAntonyuk I was searching on Android official documentation I didn't find anything regarding explicitly enabling/disabling it (or disabled by default)  also was and playing with [setBehavior()](https://developer.android.com/reference/com/google/android/material/snackbar/BaseTransientBottomBar#setBehavior(com.google.android.material.snackbar.BaseTransientBottomBar.Behavior)) without succes

[2021-02-07 20:45] geskill opened #855 "[Bug] Popup has arrow if anchor isn't set on iOS"
### Description
The popover has an arrow, even if no anchor is set.

### Steps to Reproduce

Use samples app for popups.

### Expected Behavior
(changes in popup sizes are related to another pr)
![Simulator Screen Shot - iPhone 12 - 2021-02-08 at 19 31 31](https://user-images.githubusercontent.com/6826752/107266075-4eaa3f80-6a45-11eb-8ee9-79d515077ae1.png) | ![Simulator Screen Shot - iPhone 12 - 2

[2021-02-07 20:57] EmilAlipiev commented on #292
@ahoefling this is really nice. thanks for that. is it already published as Nuget we can test. Have you made any performance, memory leak testing? Popups cause usually memory leaks if they aren't disposed correctly. I know from rg popup had/ has this problem on uwp especially.

[2021-02-07 21:09] ahoefling commented on #292
@EmilAlipiev

This should be available on the nightly NuGet build for XCT and is ready in preview releases to use. As far as I know, it will be released with version 1.1.0 of the toolkit.

Thanks for sharing concern about memory leaks. I have not stress tested it, but have been dog fooding it since July of 2019 and in production environments since September of 2019. We have not seen any memory lea

[2021-02-08 02:01] AndreiMisiukevich commented on #853
``` var group = (ViewGroup)sender; ```

Yeah, it can be a problem indeed.
this line looks suspiciously

[2021-02-08 02:28] AndreiMisiukevich commented on #850
Hi, thanks for asking

But it seems you use the wrong name "Selected".
States have names "Normal", "Pressed" and "Hovered".

[2021-02-08 02:38] Tommigun1980 commented on #850
Hi. It’s my own custom component, and it has a selected state.
I added the TouchEffect to it and it broke the state visualization.

[2021-02-08 02:40] AndreiMisiukevich opened #857 "[Enhancement] ValidationBehavior should support async mode."
## Summary

## API Changes
I propose to replace **protected** method **bool Validate(object value)** by **Task<bool> ValidateAsync(object value)**

## Intended Use Case
Allow to create custom validators that work in async mode (e.g. send requests to the server)

## Who Will Do The Work?

- [X] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-02-08 02:42] AndreiMisiukevich commented on #850
Well, then it happened because of names conflicts, I guess.

[2021-02-08 05:56] danielmeza opened #858 "[Enhancement] SVG Support"
Add SVG support

This is the original issue at Xamarin Forms reprository:
https://github.com/xamarin/Xamarin.Forms/issues/8078

And this a good starting point: http://www.pshul.com/2018/01/25/xamarin-forms-using-svg-images-with-skiasharp/
Implemented with Skia Sharp

[2021-02-08 08:57] jfversluis commented on #858
I think this is exactly why it isn't implemented in Forms and I'm not a big fan of taking on the dependency on Skia for the Toolkit as well. If we want to do this it would be in a separate package I guess.

Is this possible without Skia, just native bits?

[2021-02-08 09:05] roubachof commented on #858
Yup, a skia sharp dep is a no go. Could be an idea to have a XCT skiasharp drawn controls later...

It could be possible with wrapping native libs or decoding svg with shapes on respectives platforms.
But it's costly and I would recommend to use something like: https://github.com/Redth/ResizetizerNT
You will have both flexibility and performance.

[2021-02-08 09:24] themronion commented on #853
Doesn't crash for me, but i have a question about UWP, @AndreiMisiukevich does the native animation work on uwp?

[2021-02-08 10:02] jfversluis commented on #848
I'd love to have a more extensive calendar control for sure! But before anyone gets started on this I'd love to see a more detailed specification on how we would want to implement that.

[2021-02-08 10:05] jfversluis commented on #852
That makes sense. @AndreiMisiukevich what do you think? Was this done with a certain reason behind it?

This is a breaking change though, so we should definitely target our vNext version.

[2021-02-08 10:06] jfversluis commented on #847
We already have this for other platforms, we definitely need this for UWP

[2021-02-08 11:01] acaliaro opened #859 "[Bug] SideMenu does not visualize left and right menu correctly"
### Description
I have this xaml

[code]
It should visualize a blu left menu and a red right menu, but it seems is always red

### Steps to Reproduce

se above
### Expected Behavior

blue side menu on left, red on right

### Actual Behavior
red on left and right

### Basic Information

- Version with issue: 1.0.2
- Last known good version: unknown
- IDE: Visual studio 2019 16.8.4
- Platform Target

[2021-02-08 14:38] vardansargsyan92 commented on #643
![image](https://user-images.githubusercontent.com/19687305/107234224-dfc8e880-6a3c-11eb-9dc1-9f50d5b0d64d.png)

[2021-02-08 14:47] ahoefling commented on #848
I built a calendar control a long time ago that used 100% shared code. It was highly customizable where every day square was just another `ContentView` or `DataTemplate` (it has been a long time since I looked at it). I would be willing to contribute it to a branch as a starting point. It isn't fully featured as the focus was just the grid of days.

[2021-02-08 14:49] angelru opened #860 "[Enhancement] ImageResourceExtension with cache"
[code]
- [ ] I am willing to take this on myself
- [x] Just putting this out there for someone to pick up

[2021-02-08 14:55] themronion commented on #858
+1 with @roubachof on the https://github.com/Redth/ResizetizerNT, soon it will support app icons as well, i guess, so i dont see any reasons not to use it

[2021-02-08 16:32] Cfun1 commented on #848
@ahoefling "highly customizable" this must be nice, under the hood it is using the native Pickers or no?

[2021-02-08 16:39] 1grzyb1 opened #861 "[Bug] TouchView on Item in BindableLayout"
### Description
When TouchView is on element inside BindableLayout and it emits command that reload this list then app crashes. This was working in previous versions of original TouchView repo (Last working 4.1.77).
### Steps to Reproduce

1.  Create StackLayout and bind OC to it through BindableLayout
2.  In ItemTemplate add TouchView Command
3. In Command clear list

### Expected Behavior
After

[2021-02-08 16:42] Cfun1 opened #862 "[Enhancement] Make shield Subject part BackGroundColor customizable"
## Summary

Right now there is no property to set the `BackGroundColor` for the subject part of `ShieldView`. We probably need to customize TextColor separately also. What about font, size, attribues and family? maybe we want to put the subject in Bold 😉.

Idea from @jfversluis https://youtu.be/-02fFAyhRoY?t=193
## API Changes
### Added

<div align="left">

| Property| Description |
| :-----------

[2021-02-08 18:48] #825 closed

[2021-02-08 18:51] ionixjunior commented on #848
Hi guys! I am developing a calendar view component for Xamarin.Forms. It is still in development and at this moment I am working in the component layout.

I am customizing the layout using styles classes, so I believe that this will be easy to create many kinds of layout for the calendar.

What features does the calendar view have so far?
- Navigate to previous and next months using buttons
- High

[2021-02-08 19:00] brminnick opened #863 "[Bug] Replace `BaseCommand.IsMainThread` + `BaseCommand. BeginInvokeOnMainThread` with .NET MAUI MainThread Implementations"
### Description

[Link to Original Discussion](https://github.com/xamarin/XamarinCommunityToolkit/pull/830#discussion_r570593791)

After Xamarin.CommunityToolkit migrates its dependency from Xamarin.Forms to .NET MAUI, we should remove both `BaseCommand.IsMainThread` and `BaseCommand. BeginInvokeOnMainThread`, replacing them with [.NET MAUI's MainThread implementation](https://github.com/dotnet/ma

[2021-02-08 21:16] AndreiMisiukevich commented on #853
Yes, they should work

[2021-02-08 21:42] AndreiMisiukevich commented on #852
I definitely did it for some reason :)
But I don't remember it LoL

[2021-02-08 21:43] AndreiMisiukevich commented on #852
Found it.
I did it because of the Android issue. (I will make a recording)

[2021-02-08 21:46] AndreiMisiukevich commented on #852
https://user-images.githubusercontent.com/10124814/107285408-668ebd00-6a5f-11eb-9da1-b6b18d6aa96d.mp4

[2021-02-08 21:47] AndreiMisiukevich commented on #852
@Tommigun1980 if you wish, I can add ```bool? DefaultShouldMakeChildrenInputTransparent``` property for setting this value only once.

[2021-02-08 22:01] AndreiMisiukevich commented on #860
Hi @angelru and thanks for your interest in this project)

Unfortunately, I don't think this extension will be helpful.

1) ImageSource (FileImageSource in this case) doesn't contain content. It contains only info (Path) about the image resource.
2) This extension will cause memory leaks cuz it retains objects but doesn't release them.

CC @jfversluis @pictos

[2021-02-08 22:07] AndreiMisiukevich commented on #861
Hello, @1grzyb1 thanks for your question and your interest in this project.

You are asking about the TouchView NuGet package that is not supported anymore. (it's obsolete/deprecated)
Please pay attention to https://github.com/AndreiMisiukevich/TouchEffect (This project is **archived**).

"Responsive touches" migrated to XamarinCommunityToolkit as **TouchEffect**.

Check the Readme: https://github

[2021-02-08 22:11] 1grzyb1 commented on #861
Yes I know that it has been moved here but I wanted to mention that it was working on currently deprecated package and now in xct this problem occures

[2021-02-08 22:14] AndreiMisiukevich commented on #861
But **TouchView** doesn't exist in XCT.
Can you please clarify what do you mean?

[2021-02-08 22:15] AndreiMisiukevich commented on #861
@1grzyb1 can you please build a small sample with reproduction?

[2021-02-08 22:15] AndreiMisiukevich commented on #861
@1grzyb1 can you please build a small sample with reproduction?

[2021-02-08 22:16] 1grzyb1 commented on #861
@AndreiMisiukevich yes tomorrow I will send you

[2021-02-08 22:17] AndreiMisiukevich commented on #861
Thanks a lot :)

[2021-02-08 22:19] themronion commented on #853
Ok, i'll open an issue then soon

[2021-02-08 22:20] AndreiMisiukevich commented on #859
Reproduced as described.

[2021-02-08 22:25] AndreiMisiukevich commented on #853
please attach sample)

[2021-02-08 22:27] AndreiMisiukevich commented on #853
also please make sure that the UWP version is the latest

[2021-02-08 22:27] AndreiMisiukevich commented on #853
@themronion https://github.com/xamarin/XamarinCommunityToolkit/issues/624

[2021-02-08 22:28] AndreiMisiukevich commented on #853
please verify UWP version

[2021-02-09 04:44] jmegner commented on #841
@pictos that seems like a great idea.  I'll try the attached property way.

@adenearnshaw thanks for the proof-of-concept.

[2021-02-09 04:49] VPRoss commented on #657
Is there a working sample anywhere of a Xamarin.Forms app using CameraView and saving an image .. at all? execution currently just seems to dead-end in CameraView.Shutter()  - the toolkit sample itself just crashes shortly after attempting to take a photo.

[2021-02-09 06:38] kdbhalala opened #866 "[Bug] IsTabStripVisible is not working when using DataTemplate for tabs"
### Description

### Steps to Reproduce

1.  in sample page -> views -> TabItemsSourcePage
2. set IsTabStripVisible="False"

### Expected Behavior

TabView Should Not be visible

### Actual Behavior

TabView is visible
![Screenshot 2021-02-09 at 12 07 56 PM](https://user-images.githubusercontent.com/20184673/107325244-73e39000-6acf-11eb-8cec-fb9a01c9b369.png)

[2021-02-09 07:43] angelru commented on #860
thanks!

[2021-02-09 07:43] #860 closed

[2021-02-09 08:10] ColeXm opened #868 "[Bug] Strange Expander behaviour"
### Description

Trying to use Expander in our app and have strange issue - content view shrinks with each expand/collapse. So when expanded first time it shows content properly and then with each collapse/expand content height gets smaller until completely disappears.

Expander is inside StackLayout, so there is Expander and ListView controls. If I remove ListView then it works fine. Even if List

[2021-02-09 08:21] themronion commented on #853
@AndreiMisiukevich yeap, that was the problem, thanks

[2021-02-09 08:34] jfversluis commented on #866
Thanks for the report @kdbhalala but unfortunately you left out some important details from the template.

Specifically; what platform did you test this on? Did you test this on iOS, Android, both? Was the problem on both?

[2021-02-09 08:35] jfversluis commented on #868
@ColeXm as mentioned by Javier, the Expander lives with us now. Could you please install the Xamarin Community Toolkit and check if this is still an issue as there has some work been done in the meanwhile?

[2021-02-09 08:39] jfversluis commented on #862
To be fair this was a suggestion by [Hendrik](https://github.com/xamarin/XamarinCommunityToolkit/pull/338#issuecomment-758594717) I just repeated it! Sounds like a good thing to me.

Also about the renaming of things. The way I'd like to go about it though is not delete the old properties just yet. Mark them as obsolete first, add the new ones and we'll remove them in a later version, just to make

[2021-02-09 08:55] gpatok commented on #819
Our Project is on Xamarin Forms 4.8, so we used the 1.0.0-pre5. Nonetheless I updated XF and the CommunityToolkit to the latest stable version, but the images still look the same.

I habe two devices for testing:
- Samsung SM-A605N with Android 10 (API 29): Error doesn't occure here
- Samsung Galaxy S7 edge (Samsung SM-G935F) with Android 8 (API 26): Error occures here

I'm not sure about the diff

[2021-02-09 08:57] #859 closed

[2021-02-09 09:24] gpatok commented on #819
Unfortunately I am not able to share the actual project, but I just deployed the latest sample project to the device and got the same results:

Flash on:
![Screenshot_20210209-102107](https://user-images.githubusercontent.com/78340172/107342688-d1bcab80-6ac0-11eb-8c0b-2a576a174bb0.jpg)

Flash off:
![Screenshot_20210209-102058](https://user-images.githubusercontent.com/78340172/107342715-d97c5000-6

[2021-02-09 11:08] Cfun1 commented on #862
@jfversluis Does `[Obsolete("..")]` attribute be noticeable in xaml also or only if it being used from code?

[2021-02-09 11:10] jfversluis commented on #862
Obsolete is also marked in XAML. Please also add that [EditorVisible(false)] or whatever it's called so it doesn't come up in IntelliSense anymore

[2021-02-09 12:22] CliffAgius opened #869 "[Enhancement] Add Min/Max Labels to RangeSlider"
## Summary

For the RangeSlider add Min/Max Labels so that the User can see what the range is, also allow the Disabling of one/both of the Slider handles so have an IsEnabledLow and High for example.

## API Changes

Add MinLabel and MaxLabel as Strings/Color etc.

Add IsEnabledLow and IsEnabledHigh for them to be independantly enabled as Bool.

## Intended Use Case

This will allow the Slider to

[2021-02-09 12:24] acaliaro opened #870 "[Bug] TabView SelectedIndex Binding does not work"
### Description
[code]

I have a TabView with 2 TabViewItem. I set a SelectedTabViewIndex binding with SelectedIndex, and SelectionChanged event.

I see that TabView_SelectionChanged is called and NewValue and OldValue change, but SelectedTabViewIndex is always 1:

[0:] MainPage: TabView_SelectionChanged new: 1 - old: 0
[0:] MainPage: TabView_SelectionChanged: SelectedTabViewIndex: 1
[0:] MainPage

[2021-02-09 13:34] Cfun1 opened #871 "[Enhancement] Fix fake build errors"
## Description

The build of the Library and Sample is successful but generates a bunch of fake persistent errors:
[code]
Can we do something about it like to silence/ignore it? solve it? or it is a VS/tooling issue?

[2021-02-09 14:25] Cfun1 commented on #862
@jfversluis what about fonts ?

[2021-02-09 15:34] jfversluis commented on #871
Tooling issue, if you upgrade to the latest Visual Studio Preview in Windows they should be gone.

[2021-02-09 15:34] #871 closed

[2021-02-09 17:34] WillAutioItrax opened #872 "[Bug] In UWP, Tab results are missing"
### Description
When I run the samples on UWP, the Tabs appear but when I tap/click on them the resulting page has nothing (except for C# markup).

### Steps to Reproduce

1. Download current code from github.
2. Run the Samples in Android
3. Run the Samples in UWP
4. Compare the two

### Expected Behavior
Both would look fairly similar.
### Actual Behavior
1) In Android, when a tab is tapped, sev

[2021-02-09 19:40] jfversluis commented on #872
Hey @WillAutioItrax thanks for the report! Yeah, we're aware, sorry about that :( It's actually #606
Good news, for now, is that you can work around it by resizing the window to make it show up so you can still try it

[2021-02-09 19:40] jfversluis commented on #872
Duplicate of #606

[2021-02-09 19:40] #872 closed

[2021-02-09 20:56] jfversluis commented on #862
Yeah I guess we could make those separate too, but we can also do that in a follow-up :)

[2021-02-09 21:28] angelru opened #875 "[Bug] StateLayout with shell bottom tabs"
I am noticing strange behavior with shell tabs. I am using StateLayout and the first tab loads the states and their content fine, but the second tab shows the content "None" first and then it loads the content "Loading" and again the content "None".
You have to look closely because it happens fast. Or should I put the content I want to show as "Success"?

here I leave a sample.

[App1.zip](https:/

[2021-02-09 22:02] cabal95 opened #876 "[Bug] Unit Test projects now reference Xamarin.Forms.Platform.WPF"
### Description

I'm not sure if this is a bug per-se, but I couldn't find any previous discussion of it so thought I would mention it as it doesn't "feel right". For our Xamarin Forms project, we have some unit tests that verify some of the business logic works and doesn't break between various upgrades. These are not UI tests. Just a standard netcoreapp3.1 project type for unit testing.

Today I

[2021-02-09 23:40] AndreiMisiukevich commented on #868
I guess, the issue resolved :) right? No need to use greed as ```<Grid></Grid>``` without specifying rows/cols.

[2021-02-10 01:30] AndreiMisiukevich commented on #822
I fixed setting State from xaml (so you can make the side menu opened by default)

[2021-02-10 01:54] AndreiMisiukevich commented on #822
@acaliaro you need to implement ConvertBack as well (because State property works in two-way binding mode)

[code]

[2021-02-10 01:54] #822 closed

[2021-02-10 08:24] #805 closed

[2021-02-10 09:03] angelru commented on #875
I can confirm that it works by putting the content in "Success"

[2021-02-10 09:03] #875 closed

[2021-02-10 09:05] ColeXm commented on #868
@jfversluis  Yes, problem persists,  actually I'm testing this based on the sample : https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/userinterface-expanderdemos/.

[2021-02-10 09:16] angelru commented on #517
I don't know if they will leave it for MAUI or what will happen...

[2021-02-10 09:37] jamsoft commented on #405
I'm hitting the same issue. I can't get it to stream anything from Azure Media services. I get the same java.io.FileNotFoundException.

[2021-02-10 12:46] angelru opened #878 "[Bug] AvatarView with CollectionView with Shell tabs"
When I use shell tabs with CollectionView and AvatarView when returning to tab the images are "reloaded", this does not happen if AavatarView has no CollectionView, sample attached.

I have tested on android on xiaomi

https://user-images.githubusercontent.com/11645585/107512565-4cf88d00-6ba7-11eb-8e46-8464c5a42ecf.mp4

[AppAvatarView.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/5

[2021-02-10 12:54] Symxn opened #879 "[Bug] TouchEffect.NativeAnimation fires twice on Android"
### Description

On Android, the ripple effect is carried out twice in a row when you briefly tap an element.
I cannot currently check whether the problem also exists with iOS.

### Steps to Reproduce

1. Add a grid to your page
2. Set on the grid TouchEffect.NativeAnimation="True"
3. Run the app and briefly tap the grid

### Expected Behavior

The ripple effect is displayed once.

### Actual Beha

[2021-02-10 13:01] Cfun1 commented on #879
Duplicate of already fixed https://github.com/xamarin/XamarinCommunityToolkit/issues/804
@Symxn please check https://github.com/xamarin/XamarinCommunityToolkit/pull/817 it will be fixed in the next release
cc @AndreiMisiukevich

[2021-02-10 14:01] jfversluis commented on #879
Duplicate of #804

[2021-02-10 14:01] #879 closed

[2021-02-10 14:07] jfversluis commented on #876
Hey @cabal95 that is definitely not behavior I would want to force upon anyone.

We need to check our dependencies here. Thanks for letting us know!

[2021-02-10 15:12] ValonK opened #880 "[Bug] StateView System.InvalidOperationException: Collection was modified; enumeration operation may not execute."
### Description

Im getting this Crash when using StateLayout like this

[code]

[code]

[code]

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks: 11
- iOS:  12
- Android: 11

[2021-02-10 15:37] Cfun1 commented on #718
@jfversluis @pictos @AndreiMisiukevich Any initial thoughts?

[2021-02-10 17:37] johnshardman opened #881 "[Enhancement] DurationPicker"
## Summary

Implement a DurationPicker View, that allows a duration to be specified using pickers. Should support options that specify which of hours, minutes and seconds are to be shown, as well as minimum and maximum TimeSpan values (e.g. I typically want the user to just be able to specify hours and minutes, not seconds, and to have a minimum TimeSpan allowed of 1 minute and a maximum of 23 hou

[2021-02-10 19:06] #798 closed

[2021-02-10 19:06] #757 closed

[2021-02-10 19:09] maxkoshevoi commented on #756
@pictos Just to be clear, are you rejecting this proposal and issue should be closed, is another opinion needed on this, or can I create a PR?

[2021-02-10 19:21] AndreiMisiukevich commented on #878
@angelru can you reproduce this issue if you replace AvatarView by Image?

[2021-02-10 19:49] AndreiMisiukevich commented on #880
@ValonK https://github.com/xamarin/XamarinCommunityToolkit/issues/784

[2021-02-10 21:59] pictos commented on #756
@maxkoshevoi you can open a PR for that, but instead of adding the add code into the ObservableRangeCollection class as you propose, create a class in the same namespace and create an extension method for that. I can remember that works for me.

[2021-02-10 22:01] AndreiMisiukevich commented on #704
Fixed in #714

[2021-02-10 22:01] #704 closed

[2021-02-10 22:07] pictos commented on #718
@Cfun1 on Android we have different ways to hide the statusbar as you can see [here](https://developer.android.com/training/system-ui/immersive), do you plan to manage that on android? Do you have any implementation spec?

[2021-02-10 23:50] Cfun1 commented on #718
@pictos I was thinking about the `SYSTEM_UI_FLAG_FULLSCREEN` only but if you think it better with all so yea.
The only spec I have so far is the one described in the issue, still some questions pending. Also still not clear if such feature will be approved from the usage case point of view.

[2021-02-11 01:10] pictos commented on #718
@Cfun1 I'm ok with this feature, I think that will be a great addition to the lib. Let me see your questions and try to answer them in next hour

[2021-02-11 01:23] Cfun1 commented on #718
1- Should we trigger `Shell.NavBarIsVisible="False"`/ `NavigationPage.HasNavigationBar="False"` along when is applied ?
2- Should I follow the same shared effect design in xct, or using platform specific API (will have to take a look on how it works)?

[2021-02-11 01:57] pictos commented on #718
1. TBH makes sense to hide the navigationBar when the user enters this full-screen mode. We can do for both Shell and NavigationPage, I believe that will be very straight forward to implement;
2. In this case we can implement this on all platforms (Android, iOS, and UWP)? If yes we can move with the normal effect, if not we need to discuss a little bit more if makes senses to use it as Platform Sp

[2021-02-11 04:14] pictos commented on #718
@Cfun1 since you want to work on this, I already added `in-progress` label. Please let me know if you can work on this

[2021-02-11 07:14] AlfonChitoSalano opened #885 "[Bug] MediaElement doesn't play to the new position if we change the Position property via code in Android"
### Description
MediaElement doesn't play to the new position if we change the Position property via code like this one
  var seconds = TimeSpan.FromSeconds(newValue);

### Steps to Reproduce

1. Run the reproduction project.
2. Slide the XF Slider to get new position or value to the end of video.
3. Issue occured.

### Expected Behavior
The mediaelement will play to the new position

### Actual B

[2021-02-11 07:41] abdul-wasey commented on #418
It's only causing on Android in my case.
Expander content is not collapsing/expanding smoothly, when Expander content has BindableLayout in it.

[2021-02-11 08:15] angelru commented on #878
with Image also happens! with ffimageloading it does not happen

[2021-02-11 08:26] tranb3r commented on #786
@jfversluis What's your opinion ? Should we merge more code from MvvmHelpers ? Or just close this issue as "won't be done" ?
This relates to https://github.com/xamarin/XamarinCommunityToolkit/issues/190 which is still open.

[2021-02-11 08:32] jfversluis commented on #786
Sorry for the lack of reply!

Since this is not in the MVVM things of the Windows Toolkit yet and the code is already there I would say we can take this on. Or, if you feel this belong better in the Windows Toolkit and you don't mind the dependency, please feel free to add it there. What is your thoughts about this?

As you might've gotten from above, I don't really have any recommendation here. W

[2021-02-11 08:48] tranb3r commented on #786
Honestly, I didn't know about WCT before you mentionned it.
For sure, I'd rather not depend on one more package. The only reason I would do that would be if all the mvvm stuff was extracted from xct AND from xamarin.forms. I think it would make sense in terms of responsabilities, but I don't think the timing is good for this plan to be realistic.
Also, I'd like to remove my dependency on Refractor

[2021-02-11 09:12] ValonK commented on #784
Can you post the Fix again?

[2021-02-11 09:14] Axemasta commented on #784
@ValonK I was able to verify the fix on the latest publicly available version of the toolkit, is your app using the latest version?

[2021-02-11 09:16] ValonK commented on #784
@Axemasta yes I'm using the latest version 1.0.2

[2021-02-11 09:17] Axemasta commented on #784
Have you been able to reproduce the issue in a separate project?

[2021-02-11 09:19] ValonK commented on #784
I will try to reproduce it, thx

[2021-02-11 15:50] mgierlasinski opened #887 "[Bug] TabView does not switch tabs on UWP"
### Description
Tapping on other tab does not switch current tab. Looks like indicator is trying to move into other tab but it goes back, `CarouselView` tries to move content but goes back too.

### Steps to Reproduce

1. Open Xamarin Community Toolkit sample app.
2. Go to Views -> TabView -> Getting Started.
3. Tap on `Tab 2`.

### Expected Behavior
`TabView` is switching tab.

### Actual Behavio

[2021-02-11 19:15] bmacombe opened #889 "[Bug] Popup on UWP throws an exception when accessed from the nightly nuget"
### Description
![image](https://user-images.githubusercontent.com/15127788/107686230-8fcf6900-6c6a-11eb-9502-87f9708e9c4b.png)

Acts as if the UWP dll isn't being referenced or it's not package correctly.  Works fine in the sample app at the develop branch head at time of report.

Android and iOS work as expected.

### Steps to Reproduce

1. Run the sample app and click the button.

### Expected

[2021-02-11 19:16] bmacombe commented on #889
@ahoefling @pictos FYI

[2021-02-11 19:19] Cfun1 commented on #866
I can reproduce, strange tabStripContainer is visually visible even that tabStripContainer.Width = -1 and tabStripContainer.IsVisible= false

[2021-02-11 20:17] WillAutioItrax opened #890 "[Bug] Sort Code: prompt does not agree with behavior"
### Description
The Mask for Sort code is "AA-AA-AA" and when used, a numeric keyboard is given to do the entry with.
Everywhere else that a Numeric keyboard is used, the prompt/mask uses XXXX...
I think to be consistent, For Sort code, either the Mask should be changed to "XX-XX-XX" or the Keyboard should be changed to Text or Default.

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

###

[2021-02-11 20:49] Cfun1 commented on #718
@pictos sure when i gather the basic bits for this i will send a pr

[2021-02-11 21:21] Cfun1 commented on #870
@acaliaro I have tested your repo, I believe your are not raising the `INotifyPropertyChnaged` for your `SelectedTabViewIndex` property in your `StudentViewModel.cs` that why it is always with the default initial value that you gave it (1), could you please confirm if it is the case ?

[2021-02-12 02:39] pictos commented on #889
I can confirm it, using the NuGet I can't open the popUp on UWP, but if I reference the XCT source code everything works fine.

[2021-02-12 02:39] pictos commented on #889
@jfversluis any thought?

[2021-02-12 03:05] pictos opened #892 "♻ Fix sourcelink"
For some reason looks like that our project doesn't produce a source link for nightly builds and for stable ones. Having this enabled will help us investigate issues in the released packages more easily. Just like in #889.

[2021-02-12 07:30] AndreiMisiukevich commented on #890
@WillAutioItrax could you please build a sample showing what are you talking about?)

[2021-02-12 08:41] acaliaro commented on #870
@Cfun1 it should be raised automatically because of PropertyChanged.Fody, but I take a look

[2021-02-12 10:22] jfversluis commented on #890
Like Andrei I'm not really sure what you mean, so could you please clarify :)

[2021-02-12 10:25] jfversluis commented on #889
Well that's interesting. That looks like a rather custom message that is thrown in that exception, but I can't seem to find it.

[2021-02-12 10:37] acaliaro commented on #870
it semms that with

`                    SelectedIndex="{Binding SelectedTabViewIndex, Mode=TwoWay}"
`

it works

[2021-02-12 11:51] JoelPickin opened #894 "[Feature Request] [CameraView] [iOS] Allow photos to be taken in landscape."
### Description
I want to be able to take landscape photos and view them in landscape. I have tried two different routes to achieve this. Locking the iOS device orientation in portrait and rotating the phone to landscape causes the photo to be taken as a landscape photo but orientated as portrait.

I have also tried creating a separate view for landscape so it uses this when the phone rotates but

[2021-02-12 18:06] Cfun1 commented on #862
@jfversluis Could you please link this issue to #874 and close it.

[2021-02-12 18:06] #862 closed

[2021-02-12 19:57] AndreiMisiukevich commented on #870
@jsuarezruiz is it a bug and SelectedIndexProperty should have TwoWay binding mode by default?

[2021-02-12 21:12] IeuanWalker commented on #890
@WillAutioItrax the pattern can use any character. The default character is 'X'.
The sample just shows that you can override the masked character, i.e. in the sample it's overridden to 'A'

The sample shows the defualt and overriden version -
[code]

There is no issue here.

[2021-02-13 03:27] Cfun1 opened #896 "[Housekeeping] cleaning sample project from [XamlCompilation(XamlCompilationOptions.Compile)]"
## Summary

Remove all `[XamlCompilation(XamlCompilationOptions.Compile)]` from Sample project code-behind pages, and keep only `[assembly: XamlCompilation(XamlCompilationOptions.Compile)]` in AssemblyInfo.cs

## Who Will Do The Work?

- [x] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-02-13 06:11] PrajeetShrestha commented on #630
Is it fixed already?

[2021-02-13 06:29] jfversluis commented on #862
It already linked from the pr to this. It's not automatically closed because it wasn't merged to the default branch. When that happens it should close. But this works too :)

[2021-02-13 08:08] HarryLobster commented on #862
I really appreciate the new Properties !! Thanks in advance !

[2021-02-13 11:15] gresolio commented on #630
I'm using the following workaround:

[code]

[2021-02-13 14:47] jfversluis commented on #896
Makes sense, let's do it

[2021-02-13 18:00] #892 closed

[2021-02-13 18:30] #896 closed

[2021-02-14 17:50] #855 closed

[2021-02-14 18:06] jmegner commented on #841
@pictos What preference do you have for where it goes and what it is named?  Existing XCT usage of attached properties seems to be mostly Effect and View stuff, and this is no longer a Behavior. Maybe it should go in the Helpers folder and simply be called SetFocusOnEntryCompleted?

[2021-02-14 18:10] pictos commented on #841
@jmegner I don't have too many ideas on it, since this will be the first time that we implement such a thing. I think that we can create a folder named `Attached` and inside of it another folder called `Entry` inside this folder add your class with the attached property. I believe that away we can have an organized structure for this and future features provided by AttachedProperties. What do you

[2021-02-14 18:45] jmegner commented on #841
Overall, sounds good; I'd change `Attached` to `AttachedProperties`; experts on attached properties might think it overly obvious, but someone like me would benefit from the clarity.

I was thinking it'd be bad if people have to have many `xmlns` statements for all the various namespaces, but this would still be accessible via `xmlns:xct="http://xamarin.com/schemas/2020/toolkit`, right?

[2021-02-14 18:53] pictos commented on #841
go for it!

Yes, all will be in that custom schema. For C# I don't know if makes sense to reuse some existing namespace.

[2021-02-14 19:37] pictos commented on #793
@JoacimWall can you try it again with the new XCT package? I tested here with the latest versions of XF and XCT I couldn't reproduce this behavior.

[2021-02-15 00:55] AndreiMisiukevich commented on #784
Or maybe we should merge my fix as well https://github.com/xamarin/XamarinCommunityToolkit/pull/787

[2021-02-15 00:56] AndreiMisiukevich commented on #852
Closing this issue because otherwise, unfortunately, it won't work fine on Android (at least on Android)

[2021-02-15 00:56] #852 closed

[2021-02-15 00:58] AndreiMisiukevich commented on #861
@1grzyb1 can you please provide a sample app :) ?

[2021-02-15 01:58] Tommigun1980 commented on #852
@AndreiMisiukevich Does this mean that Android isn’t compatible with the effect then?
I mean you have to set the flag to False in order not to break input, and you’re saying setting it to False doesn’t work on Android?
Shouldn’t this be fixed?
Thank you.

[2021-02-15 02:38] AndreiMisiukevich commented on #852
@Tommigun1980 I don't think that Android isn’t compatible with the effect.

This effect allows creating complex touchable layouts.

Of course, it would be great if we could fix it, but I am not sure that it's possible. (By default XF views on an android intercept gestures as you can see on the video).

[2021-02-15 02:48] Redth commented on #858
Perhaps with system graphics there’s a case to use it for svg images at runtime which is definitely sometimes a different use case than resizetizer.  I’d wait until we get a bit further in Maui to look at this.

[2021-02-15 02:50] Tommigun1980 commented on #852
Any reason the default can't be not to block child input if it works on
Android? I'm not sure I'm seeing the point.
The default to block input breaks most controls. If it can be turned off on
Android why not make it the default? If it can't be turned off on Android
it's going to be very hard to use, no?
All I want to use it for is to add a touch highlight on arbitrary controls.
Thank you again.

O

[2021-02-15 03:48] pictos commented on #894
This looks like more an `enhancement` than a `bug`.

[2021-02-15 07:56] themronion commented on #858
@Redth btw, can we expect app icons coming out for resizetizer any time soon?

[2021-02-15 08:25] jfversluis commented on #858
And with that we will close this one here for now :)

[2021-02-15 08:25] #858 closed

[2021-02-15 08:41] jfversluis commented on #880
So, this is not a bug? Or what is going on with this one?

[2021-02-15 08:43] jfversluis commented on #841
Another thing that might be useful here is to use the [`TabIndex`](https://docs.microsoft.com/dotnet/api/xamarin.forms.visualelement.tabindex?view=xamarin-forms) for navigating through elements?

[2021-02-15 08:54] themronion commented on #858
@jfversluis noooooo, i want an answer from Jonathannn!!))

[2021-02-15 09:50] michaldivis commented on #894
This would be useful

[2021-02-15 09:56] michaldivis commented on #657
I've been working on a `CameraView` sample, however, I wasn't able to make it wok on iOS yet (the preview works but the `ShutterCommand` doesn't fire the `MediaCaptured` event and I have no idea why). Works fine on Android.

[2021-02-15 10:20] michaldivis opened #901 "[Bug] [CameraView] [iOS] Taking photos doesn't work on iOS using Hot Restart"
### Description
I'm using Hot Restart in Windows to debug my Xamarin.Forms app on iOS. Whenever I take a photo (trigger the `ShutterCommand`), the app UI freezes and the `MediaCaptured` event never gets called.

I also get this lovely exception:
[code]

### Steps to Reproduce

1. CameraPage.xaml
[code]
2. CameraPage.xaml.cs
[code]
3. MainViewModel.cs
[code]

4. Launch app on an iOS device using Ho

[2021-02-15 10:46] michaldivis commented on #445
@LBally all you need to do is wrap the `CameraView` in a `Grid`. Then you can place whatever controls on top of it.

[2021-02-15 10:52] sjorsmiltenburg opened #902 "[Enhancement] Expand MediaElement with support for adaptive streams like HLS / MPEG-Dash"
## Summary

The MediaElement supports loading content from an url but this method is not adequate yet for playing urls of adaptive streams like created with Azure Media Services.

Each platform does seem to have support for playback of these type of media streams.

The Xamarin.Forms.UWP code could for instance be expanded with the following code:

[code]

## API Changes

## Intended Use Case

Play

[2021-02-15 11:28] 1grzyb1 commented on #861
I created a repo with a recreation of bug. Sorry for the delay my pc broke down.
https://github.com/1grzyb1/XctBug

[2021-02-15 12:46] jfversluis commented on #902
Looks like something we should support! Thanks :)

[2021-02-15 13:19] Redth commented on #858
Yup app icons are basically ready now. I just need to push an update.

[2021-02-15 13:38] #870 closed

[2021-02-15 13:47] AlfonChitoSalano opened #904 "Show Playback Controls in MediaElement has a bug in Seeking Position in Android"
### Description
Show Playback Controls in MediaElement has a bug in Seeking Position in Android

### Steps to Reproduce
Step 1
1. Run the reproducible project
2. Tap on the video so that the playback controls will show
3. Slide the video to the last seconds
4. The bug will show

Step 2
1. Run the reproducible project
2. Tap on the video so that the playback controls will show
3. Slide the video to

[2021-02-15 15:04] Axemasta opened #906 "[Enhancement] Better Background Image Source For Content Pages"
## Summary

I think the ability to set a background image on your `ContentPage` is a core feature. Xamarin Forms does support this with `BackgroundImageSource` however there is very little you can do in the way of customising how that image is displayed.

The current implementation is considered a bug by forms users ([XF #8863](https://github.com/xamarin/Xamarin.Forms/issues/8863)). I would call i

[2021-02-15 15:54] VPRoss commented on #657
That was my experience as well ... except since I was working exclusively in iOS I never saw it work at all. Good to know it works on Android since I could maybe progress the development there, but I *really* need it on iOS. I was excited to see the CameraView addition to the toolkit but I'm at a bit of a stone wall right now.

[2021-02-15 15:56] ajtruckle opened #908 "[Enhancement] Add support for TabView for MacOS platform"
## Summary

The `TabView `does not render properly on a MacOS. In-fact - you can't see anything - only the tab bar at the top.

## API Changes

I don't know. :)

## Intended Use Case
The app I am making is intended for MacOS and iOS. It would have been simpler with `TabView`. Although I have now learnt an easy workaround with `TabbedPage `and using `MessageCenter`.

## Who Will Do The Work?

- Jus

[2021-02-15 16:43] pictos commented on #841
@jfversluis not sure, because TabIndex can mess with a11y. I believe that's better to have a prop. called `NextElement` (or something like that)

[2021-02-15 16:58] pictos commented on #901
@michaldivis can you test using the event handler? If you can attach a repro that would be great, thanks!

[2021-02-15 17:12] UKDeveloper99 commented on #901
I've found the shutter command to be pretty unreliable on iOS. It's one of the issues I've been meaning to raise. Sometimes it just fails without explanation and the media capture event handler never returns. Could be related to linking maybe I noticed it has a Linker attribute. @jfversluis  any ideas?

[2021-02-15 17:51] jmegner commented on #841
I was able to build XCT and add SetFocusOnEntryCompleted class.  I'm guessing I should some pages to the XCT.Sample app? Specifically: an AttachedPropertiesGalleryPage, a SetFocusOnEntryCompletedPage, and add to WelcomeViewModel.CreateItems.

[2021-02-15 18:09] pictos commented on #841
@jmegner yes, that sounds great!

[2021-02-15 18:10] pictos commented on #901
@UKDeveloper99 can you provide a repro? That way I can look into it.

[2021-02-15 18:17] jmegner commented on #841
Also, having a namespace named "Entry" causes ambiguity between the type and the namespace.  It's possible to get around it by specifying Xamarin.Forms.Entry vs Xamarin.CommunityToolkit.AttachedProperties.Entry, but I think it's not worth the pain for users.  I'm going to drop the "Entry" part of the namespace.  Maybe when there's more attached properties in XCT, it should be refactored for what m

[2021-02-15 18:20] pictos commented on #841
@jmegner what's the full namespace? Also, if you want we have a discord channel in the dotnet server, if you want we can chat there. https://discord.gg/CaBu97xy

[2021-02-15 19:05] jmegner commented on #841
`Xamarin.CommunityToolkit.AttachedProperties.Entry` was the full namespace I was putting `SetFocusOnEntryCompleted` in.

The discord sounds cool; I've joined; hopefully my phone's internet will cooperate (winter storm took down my main internet connection).

[2021-02-15 19:14] brminnick opened #910 "[Housekeeping] Wrap Linker-Specific Code in a `#region`, adding explaination"
## Problem

The Xamarin.CommunityToolkit contains a few work-arounds to prevent the Linker from accidentally removing platform-specific code. One example can be found here: https://github.com/xamarin/XamarinCommunityToolkit/pull/674/files/492d4f0908e84b9141deeb05dc19e3e5878ea105#r576375815

Typically, this code looks like it can be removed because it is "not used", but it is indeed required to tel

[2021-02-15 22:09] AndreiMisiukevich commented on #852
@Tommigun1980 please check the video I attached above.
The problem is that it doesn't work on Android if we don't block children's input.

As you can see on the video, the control's state remains "pressed" even if touch is released in case the touch was started on some child inside the "touchable" view.

[2021-02-15 22:11] AndreiMisiukevich commented on #880
@ValonK can you reproduce this issue on the latest nuget version?
If yes, then please attach a sample project. Thanks!

[2021-02-15 23:05] Cfun1 commented on #878
@AndreiMisiukevich could be the same thing happening in sample about page? when scrolling away from already loaded avatars and then coming back the images reload again.

[2021-02-15 23:54] AndreiMisiukevich commented on #878
@Cfun1 as was mentioned by @angelru the same problem occurs with raw Image.
AvatarView is based on Image, so the root cause is inside Xamarin.Forms, I believe.
I don't know how can we work around it :(

Only one way, we can add the "ImageFactory" property. So it will be possible to replace Image by CachedImage from FFImageLoading plugin

[2021-02-16 06:12] michaldivis commented on #657
@VPRoss same here. I was really excited about the CameraView, because I could finally ditch the old way of opening a camera intent every time user wants to take a photo (which is about 5 times per user in my app). I've been tinkering with the CameraView some more yesterday getting mixed results. For example:
The `imageSource` you get via the `MediaCaptured` event displays correctly on an Android e

[2021-02-16 06:14] michaldivis commented on #901
@pictos I've also tried using the event handler (instead of the `EventToCommandBehavior`) with no success. I'll attach a repo later today. Thanks!

[2021-02-16 07:16] michaldivis commented on #901
@pictos I've attached a reproduction repo. You can find it here: https://github.com/michaldivis/camera-view-app

[2021-02-16 09:41] acaliaro opened #914 "Add CommandParameter to UserStoppedTypingBehavior"
### Description
[code]

If I use this code inside a CollectionView, how can I pass the object to the Command? Is CommandParameter missing?
### Steps to Reproduce

Use a CollectionView with an entry as ItemTemplate

[code]

### Expected Behavior
I would like to pass the object I am setting the property to the Command
### Actual Behavior
I don't know how
### Basic Information

- Version with issue:

[2021-02-16 10:00] jfversluis commented on #914
Yep, looks like that one is missing! Technically would be a feature request though. @jBijsterboschNL might be interested in adding it to his own contribution and marking it up for grabs otherwise

[2021-02-16 10:01] jfversluis commented on #910
Yeah sounds definitely like a good idea. The code might look confusion so a bit of hiding/explaining is probably a good idea

[2021-02-16 10:04] jfversluis commented on #254
Should we plan a moment to get this in?

[2021-02-16 10:06] jfversluis commented on #268
I'm going to close this one for now, I would like us to push more for using CollectionView over promoting ListView. I also don't see very many people that seem to have interest in this (right now).

Thank you @djordje200179 for the suggestion! Not adding this right now doesn't mean we don't appreciate your suggestion. I hope you will have more to add in the future!

[2021-02-16 10:06] #268 closed

[2021-02-16 10:07] jBijsterboschNL commented on #914
That indeed hasn't been implemented yet. If it is okay with you guys I'll have a look at it in the next few days :)

[2021-02-16 10:08] jfversluis commented on #430
@Hackavist I think we still have converters that are not in there? You still want to do this?

[2021-02-16 10:10] jfversluis commented on #371
OK so where are we with this? @AndreiMisiukevich @pictos ? You have any more input?

I like the idea, could be useful!

[2021-02-16 10:13] jfversluis commented on #637
@pictos I see you're assigned. We've merged `LazyView` can we make it easier to use with `TabView`? Or should we just tell people to wrap it in a `LazyView`? Maybe we can have that boolean `IsLazy` and do the wrapping for people?

[2021-02-16 10:16] jfversluis commented on #595
I think this is solved by #903

[2021-02-16 10:17] jfversluis commented on #633
@jsuarezruiz any objection to doing this?

[2021-02-16 11:12] gresolio commented on #595
I think this is not solved by #903 yet (BindingMode.TwoWay fixes #870).

This issue is related to [Bug] TabView - Tab is not being selected #630.
Just a little bit different test case scenario, but the same reason.

[2021-02-16 11:52] jfversluis commented on #595
Hmm maybe I was too quick on this 😬

[2021-02-16 11:54] jfversluis commented on #914
No rush! I'll assign you for now, let us know how it goes or... not goes!

[2021-02-16 12:05] jfversluis commented on #657
If its something that you have knowledge about and need there is of course always the possibility to start fixing some things yourself :)

I really love CameraView myself as well so I'll see if we can give it some more love

[2021-02-16 12:12] pictos commented on #254
I think that will be great!

[2021-02-16 12:18] pictos commented on #637
@jfversluis not sure if we can do that by ourselves because the LazyView needs a type instead of a concrete View. I can try to do some experiments here and see if that's feasible. But for now, we should say to people to use the LazyView instead of a ContentView.

[2021-02-16 14:12] michaldivis commented on #657
@jfversluis I'm not very familiar with the platform specific side of Xamarin, but I'll take a look and see if I can give it love.

[2021-02-16 14:45] VPRoss commented on #657
@jfversluis I'm also almost entirely a "Forms" developer - have done _some_ "Classic" back in the day on iOS. Still, it's a good opportunity to stretch those learning muscles and maybe help fix something for the community at the same time :)

[2021-02-16 14:47] jfversluis commented on #657
No worries, it's no obligation at all, but indeed a good way to see what's going on under the hood and help yourself and the community at the same time. Let us know if you need anything!

[2021-02-16 14:49] VPRoss commented on #657
@jfversluis just more of your awesome YouTube vids :)

[2021-02-16 14:50] jfversluis commented on #657
Awww thank you! :D Very much appreciate it! Those will definitely come!

[2021-02-16 15:41] bmacombe commented on #889
Hey @jfversluis, sorry been a bit busy.  But here is where the custom error comes from.

https://github.com/xamarin/XamarinCommunityToolkit/blob/3f7bc8c05f75c979342f1c3cc204e6da9ec363d7/src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/Navigation/NavigationExtensions.netstandard.macos.tvos.watchos.tizen.wpf.gtk.cs#L1-L16

My un-educated guess is somehow that file is being built for UWP inst

[2021-02-16 17:16] AndreiMisiukevich commented on #371
@WebDucer are you interested in contributing this converter?

[2021-02-16 17:18] WebDucer commented on #371
@AndreiMisiukevich Yes. Wait only for a "GO" 😉

[2021-02-16 17:26] WillAutioItrax commented on #890
I find it confusing that sometimes that mask is "X" and sometimes (once) it is "A" and mostly there is a Numeric keyboard. I've been in places where "X" would mean any character can go here; "A" for alpha; "N" for numeric. I get that the "A" is a placeholder. It seemed odd that there are all these Behaviors with "X" and then one with "A". That's my 2 cents.
BTW, I appreciate the work that you all

[2021-02-16 17:51] WebDucer commented on #371
@AndreiMisiukevich We use such a converter internally since 3 years. So I have only to cleanup and make a PR (incl. 100% tests).

[2021-02-16 18:47] pictos commented on #371
@WebDucer so go for it! I'll set this issue as `in-progress`, please us know if something happens and you can't work on it anymore.

[2021-02-16 19:53] maxkoshevoi opened #916 "[Bug] LocalizationResourceManager.Init(ResourceManager, CultureInfo) doesn't trigger property changed"
### Description

When calling `LocalizationResourceManager.Init(ResourceManager, CultureInfo)` `CurrentCulture` gets set, but `PropertyChanged` event doesn't get triggered.

### Steps to Reproduce

[code]

### Expected Behavior
`LN.Culture` is set to `culture`

### Actual Behavior
`LN.Culture` is set to it's default value

### Basic Information

- Version with issue:
- Last known good version:
- I

[2021-02-16 20:01] maxkoshevoi opened #917 "[Bug] WeakSubscribe<T>(this INotifyPropertyChanged target..) has incorrect EventArgs parameter type"
### Description

`WeakSubscribe<T>(this INotifyPropertyChanged target, T subscriber, Action<T, object, EventArgs> action)`
should be
`WeakSubscribe<T>(this INotifyPropertyChanged target, T subscriber, Action<T, object, PropertyChangedEventArgs> action)`

since it explicitly extends `INotifyPropertyChanged` and `PropertyChangedEventHandler` provides subscribers with `PropertyChangedEventArgs`.

###

[2021-02-16 20:31] pictos commented on #917
@maxkoshevoi instead of doing it to be more specific what do you think to make it more generic? That way we can use it everywhere and maybe expose this as a lib feature?

[2021-02-16 20:32] AndreiMisiukevich commented on #890
@WillAutioItrax can this issue be closed then? :)

[2021-02-16 20:36] maxkoshevoi commented on #917
@pictos `EventArgs` is a return value. We only helping user by making it more specific.

- `WeakSubscribe` explicetly extends `INotifyPropertyChanged`, so event arguments always will be `PropertyChangedEventArgs`. We cannot make `WeakSubscribe` more generic unfortunately.
- This is already a lib feature! `WeakSubscribe` is public and can be called on anything that implements `INotifyPropertyChange

[2021-02-16 20:43] pictos commented on #917
@maxkoshevoi we can do it more general, just following the original implementation (that you share the article), that way we can use it for any type and event not just for `INPC` types. No need to do it on this PR, but if you are interested in giving it a try let me know.

[2021-02-16 20:45] #916 closed

[2021-02-16 21:02] maxkoshevoi commented on #917
@pictos Ah, you are talking about [original article](https://faithlife.codes/blog/2008/08/event_subscription_using_weak_references/), not about this method in particular. That implementation is not entirely generic either. The issue is "what to extend?". You cannot extend `IHasEvent` or something like that, so as I understand in that article wrapper `EventInfo` was created that needs to encapsulat

[2021-02-16 21:08] AndreiMisiukevich commented on #756
Fixed in #891

[2021-02-16 21:08] #756 closed

[2021-02-16 22:04] pictos commented on #917
@maxkoshevoi we can use generics for that, also we can pass the name of the event and using a light reflection to get it. I can say that's feasible, and that article provides the initial steps to do it. But no pressure, if can't see a way I can try to implement it later.

[2021-02-16 22:10] maxkoshevoi commented on #917
@pictos Didn't quite get you. What type are you planning to write `WeakSubscribe` extension method for? If it's generic, what constraints does that generic type have?

[2021-02-16 22:25] pictos commented on #917
@maxkoshevoi

Let's pick 2 classes, the `Button` and the `ContentPage`, both objects have events to subscribe to, right? So for the `button`, we have the `Clicked` and for `ContentPage` we have the `OnAppearing`, for example.

Said that I want to use the WeakSubscribe to subscribe to these events. To do that I need the object instance (we can do it by a generic TSource), we need the event name tha

[2021-02-16 22:38] maxkoshevoi commented on #917
@pictos You also need event args type as a generic argument, but yes, this could work.

What I'm asking is what type does first parameter of WeakSubscribe have? Is it generic without constraints? Than this method will appear for everything (even for string instances).

[2021-02-16 22:42] pictos commented on #917
Yeah, you're right, that will appears for every type. The solution is not implemented as an extension method.

[2021-02-16 23:37] WillAutioItrax commented on #890
@AndreiMisiukevich Yeah - sure.

[2021-02-16 23:37] #890 closed

[2021-02-17 04:19] JRallee opened #921 "TabView with badges - When header text is long with badges, it overlaps and looks a bit messed up"
### Description
Create tabviewitems with longer texts and show badges also. The tab header does not consider the Badge space and kind of overlaps with one another.

![image](https://user-images.githubusercontent.com/16042739/108155567-22f21e00-7105-11eb-917b-94a92a794f55.png)

### Expected Behavior
It should have proper spaces around itself

### Actual Behavior
It overlaps and gets messed up

###

[2021-02-17 05:07] ahoefling commented on #889
As others posted, I am confirming this is happening with the sample project. I added the XCT as a submodule and the latest code in the `develop` branch appears to work.

My initial investigation points to a NuGet packaging issue. I copied the dll from my packages directory for `uap10.0.19041` and then added it as a direct dll reference to the UWP app. When I ran the application the popup displayed

[2021-02-17 08:10] Alex-Witkowski opened #922 "[Enhancement] Provide UWP implementation for RemoveBorderEffect"
## Summary

For the RemoveBorderEffect there is currently no implementation for UWP.

## API Changes

No real changes. Implementation can be done by setting BorderWidth to zero on attached, and reset on detached.

## Intended Use Case

If you have a design that specifies a borderless entry you can use the effect from XCT except you need to support UWP. This would add a litte ❤️ to UWP.

## Who Wil

[2021-02-17 08:37] WebDucer commented on #371
@AndreiMisiukevich Hello. I try to execute the unit tests locally, but get always the following compilation error:

Schweregrad | Code | Beschreibung | Projekt | Datei | Zeile | Unterdrückungszustand
-- | -- | -- | -- | -- | -- | --
Fehler | CS0229 | Mehrdeutigkeit zwischen "Resource.Id.snackbar_text" und "Resource.Id.snackbar_text" | Xamarin.CommunityToolkit (MonoAndroid10.0) | c:\src\CommunityTo

[2021-02-17 08:47] WebDucer commented on #371
@AndreiMisiukevich Switching to English version of VS helped :/ Don't know why.

[2021-02-17 09:41] michaldivis commented on #901
I've inspected the iOS FormsCameraView class and I've found the problem. The thing is I don't know what's causing it.

When debugging, the `PhotoCaptureDelegate`'s `OnFinishCapture` callback never gets called.
It's on this [line](https://github.com/xamarin/XamarinCommunityToolkit/blob/12ee0d01d66adf2c97f96d977773832edec88002/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/CameraView/iOS/FormsC

[2021-02-17 10:09] acaliaro commented on #708
could be useful to have also the possibility to set the "accent" color?

[2021-02-17 10:15] acaliaro opened #924 "[Bug] SideMenuView not work fine switching from portrait to landscape"
### Description
I have a Page with a SideMenuView
It has a MainView and a RightMenu

![image](https://user-images.githubusercontent.com/5759350/108189382-f512d680-7110-11eb-845b-7b07d26d1f32.png)

When I tap on the item (it's a CollectioView) I open the Menu

![image](https://user-images.githubusercontent.com/5759350/108189431-05c34c80-7111-11eb-8238-892b5e4455ff.png)

If I move the device in land

[2021-02-17 10:22] maxkoshevoi commented on #708
Could you please explain what do you mean by "accent" color and how is it related to status bar style?
You can already create a color resource named `AccentColor` and use it in you r application where it's needed.
If you mean "accent" color that is specified in `styles.xml` in Android project, I don't think it can be changed without restarting activity with different theme.

[2021-02-17 11:00] acaliaro commented on #708
Hi.
It's not related to StatusBar but I think it's a "style" that could be useful to have with StatusBar color. Now, to change the Accent color, i think the only way is to change it in the Android platform specific project, correct? or there is a way to change it in XF?

[2021-02-17 12:05] maxkoshevoi commented on #708
@acaliaro If it's not related to StatusBar, could you please open a separate issue for it.

[2021-02-17 14:06] janosfekete opened #926 "Expander cuts off part of CollectionView [Bug]"
### Description
Portions of CollectionView are not visible in expander body after expanding
### Steps to Reproduce

1. Create XAML view with expander with horizontal CollctionView in body
`<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:xct="http://xamarin.com/s

[2021-02-17 14:44] Huaba93 opened #927 "[Bug][iOS][MediaElement] NSInternalInconsistencyException"
### Description
A `MediaElement` can't be deallocated on older iOS versions (<13). It leads to an `NSInternalInconsistencyException`. I don't know why it is working on newer iOS versions, maybe they handle this kind of errors more gracefully now. The problem is, that Observers are added more often than they are disposed.

### Steps to Reproduce

1. Add a `MediaElement` to any Page
2. Deploy to an

[2021-02-17 20:01] georgegoudie commented on #777
I've ben running a few tests, sometimes multiple files are created one or more of which are empty. Occasionally a good video is recorded, but normally alongside a few zero length files

[2021-02-17 21:00] jBijsterboschNL commented on #914
@acaliaro @jfversluis, currently the `InputView.Text` value is send as `CommandParameter`. How should we implement this additional `CommandParameter`? If a `CommandParameter` is given, it should send this parameter instead of the `InputView.Text` value? And when the `CommandParameter` is not set, we send the `InputView.Text` value?

[2021-02-17 22:22] vtkachen111 commented on #777
In mediacaptured create a filestream to that path that it gives you, the file size is always 0 for me.

[2021-02-17 23:45] AndreiMisiukevich commented on #922
@Alex-Witkowski approved :)
I assigned this task to you.

Please tell us if you decide to not send PR for some reason)

[2021-02-17 23:47] pictos commented on #922
@Alex-Witkowski friendly reminder to implement this lovely feature on top of `develop` branch

[2021-02-18 00:40] AndreiMisiukevich commented on #924
@acaliaro this issue was fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/877

[2021-02-18 00:41] AndreiMisiukevich commented on #924
Please wait for a new release.

Feel free to reopen this issue if you think that the issue wasn't fixed in the PR I referenced above.

[2021-02-18 00:41] #924 closed

[2021-02-18 09:07] jfversluis commented on #914
I think that implementation makes sense! That way we still have the current way of working but people can override it if they want with the new `CommandParameter`

[2021-02-18 09:18] acaliaro commented on #924
Are you sure? I am using the last nightly build

[2021-02-18 09:31] #917 closed

[2021-02-18 09:37] Hackavist commented on #430
@jfversluis I am so sorry for the delay , yes i still want to do them and i will have them done this weekend

[2021-02-18 13:42] Luiz-Franco commented on #848
Hi! I think a good feature would be the ability to disable specific days based on a list of DateTime or DayOfWeek enum.

[2021-02-18 15:08] HeikkiDev commented on #876
Similar issue here. Build error in my Unit Tests project which TargetFramework is netcoreapp3.1.

`NETSDK1073: The FrameworkReference 'Microsoft.WindowsDesktop.App' was not recognized`

This workaround worked for me:
https://github.com/rotorgames/Rg.Plugins.Popup/issues/568#issuecomment-707134962

[2021-02-18 18:16] ahoefling commented on #848
@ionixjunior I took a look at your Xalendar control and that looks much better than my control. Maybe you can share the specification for it so we can discuss what it would look like in the XCT?

[2021-02-18 19:24] jamiekeefer opened #933 "[Bug] [iOS Only] Expander: when first header is expanded, a second header selected expands incorrect header and content"
### Description

When Item 1 is already expanded, selecting another expander header will not open the correct item in the CollectionView list.

### Steps to Reproduce

1. Create Expander with 5 expandable elements in a CollectionView
2. Expand first element
3. Select expandable element 2-5
4. Observe element 5 (or other) will expand.
5. Observe if element 2 (or any other than 1) is expanded, selec

[2021-02-18 19:29] jamiekeefer commented on #933
Expander Header Markup

`<xct:Expander Tapped="OnExpanderTapped">
                                <xct:Expander.Header>
                                    <Grid>
                                        <StackLayout>
                                            <Label Text="Tote Id #:"/>
                                            <Label Text="{Binding Id}"

[2021-02-18 20:29] azapatac opened #934 "[Bug] IconTintColorEffect does not work when the image is in Shared project as EmbeddeResource"
### Description
An added image in the shared project as EmbeddeResource does not change TintColor

### Steps to Reproduce

1. Create Xamarin project
2. Create ImageResourceExtension : IMarkupExtension
3. Add image the shared project and set up Build Action = EmbeddeResource
4. Add image in content page and apply IconTintColorEffect

### Expected Behavior
The image color must change the color

###

[2021-02-18 20:57] maxkoshevoi opened #936 "[Refactoring] Remove redundant logic from "Not" converters"
### Description

We have several pairs of convertors like `IsNullOrEmptyConverter` and `IsNotNullOrEmptyConverter`. One is simply inverted version of another. But both convertors contain duplicate version of the same logic.

[2021-02-18 21:29] AndreiMisiukevich commented on #933
https://github.com/xamarin/XamarinCommunityToolkit/issues?q=is%3Aissue+is%3Aopen+expander

Can you please check if this is bug already reported?

[2021-02-18 22:11] acaliaro opened #937 "[Enhancement] Automatically resize the popup depending on the content"
## Summary

Currently the Popup has its own dimension independent of the content; for example, on Android the popup almost completely fills the height of the screen. It would be useful if the popup could resize according to the content so as to take up as little space as possible on the display.

## API Changes

I am not sure which APIs to use for this request. In my opinion, what I requested coul

[2021-02-19 11:50] vecalion commented on #591
We're also experiencing this usability issue on Android. Users have to be very precise to be able to scroll vertically the content of the selected tab.

[2021-02-19 14:02] mobiledpr opened #940 "Shield [Bug]"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Workaround

### Reproduction imagery

### Reproduction Link

[2021-02-19 14:02] #940 closed

[2021-02-19 14:02] jamiekeefer commented on #933
@AndreiMisiukevich Looks like my issue is similar to this one here:  https://github.com/xamarin/XamarinCommunityToolkit/issues/608 albeit a little more specific.

Question: In your opinion, Is this more an issue with the toolkit or Mono Framework?

[2021-02-19 14:42] jamiekeefer commented on #608
@tommy-elliott-awh suggestion worked for the time being. Did not experience the scrolling glitches mentioned by @sachinkanadia however the page does appear to take longer to load in both android and iOS. This has pluses and minuses in that with the page and all the content loaded, I find the subsequent navigation smoother than having to wait for lazy loaded content - which can cause some unrespons

[2021-02-19 15:07] jamiekeefer commented on #933
Suggested fix by @tommy-elliot-awh seems to be an interim solution: https://github.com/xamarin/XamarinCommunityToolkit/issues/608#issuecomment-759784901

[2021-02-19 18:20] inforithmics commented on #889
I had the same problem. The reason was that it didnt work is that my project UWP Project targeted 17763 / 1809
But Xamarin Toolkit was retargeted with the Popup Changes to 19031 / 2004
Which means wen the MinVersion is not 19031 / 2004 it won't work. And it takes the .NET Standard implmentation which is not implemented.

I tried to do a pull request (but I made it of the wrong branch maybe i'll tr

[2021-02-19 18:31] inforithmics commented on #889
Another possibility would be to MultiTarget the UWP Version;

changed following line in the Xamarin.CommunityToolkit.csproj

[code]

to

[code]
Meaning compiling it for
 19031 / 2004 and 17763 / 1809

[2021-02-19 18:47] #914 closed

[2021-02-19 19:40] bmacombe commented on #265
No sorry, I got really busy at work and haven't been able to make progress on this.

If you need something right now, feel free to go use this code I posted in the XF repo.
https://github.com/xamarin/Xamarin.Forms/issues/6052#issuecomment-488032370

[2021-02-19 21:17] maxkoshevoi opened #944 "[Enhancement] Add null checks to first extension method argument"
## Summary

It's more of a preference thing, but since extension methods are intended to be called on an object, this object should never be null. It's better to always check for that.

Additional benefit is that `ArgumentNullException` provides argument name.

Didn't find a lot of articles on this, but there is a great guideline proposed in [related SO answer](https://stackoverflow.com/a/16484231

[2021-02-20 11:07] shaun-h opened #947 "[Bug] TabView Tab Indicator width reverts to item width on selected tab change"
### Description

When TabIndicatorWidth is set the indicator does  get given the width requested, but when a different tab is selected to the current tab the indicator width gets set the tab item width.

### Steps to Reproduce

1. Create a TabView with 2 or more tabs
2. Set the tabview to have a TabIndicatorWidth="10"
3. Run the application and change the selected tab

### Expected Behavior

 TabI

[2021-02-20 12:22] jBijsterboschNL commented on #934
I've had a quick look at this issue and is seems te be an iOS only issue. On Android embedded images are being tinted properly. Will try to get it fixed, but need to investigate it a bit further.

@azapatac, just curious. Why have you created your own ImageResourceExtension? You could also use the XCT version of this :)

[2021-02-20 14:15] tranb3r commented on #786
@jfversluis Hi Gerald,
Any thoughts ?

[2021-02-20 20:51] pictos opened #948 "♻ Provide the base implementation for PlatformSpecific APIs"
With PopUp control, we have our first PlatformSpecificAPI (e.g. `PopoverArrowDirection`), and we already have specs that want to support features in only one platform. So we need to think in a way to keep it organized. The Forms implementation for that. Forms team made [this API public](https://github.com/xamarin/Xamarin.Forms/pull/12278) for us, so let's use it!

[2021-02-21 07:41] jfversluis commented on #786
Let's add this one!

[2021-02-21 16:11] srikrishnan83 opened #951 "[Bug]"
### Description
As mentioned in the web page https://docs.microsoft.com/en-us/xamarin/community-toolkit/views/shield
Shield have StatusTextColor property. But the property not present in the current nuget 1.0.2.
### Steps to Reproduce

1.  Create a new xamarin app.
2.  Add Xamarin community toolkit nuget in the application. Add shield in the page
3.  <xct:Shield
                Subject="chat"

[2021-02-21 16:31] Cfun1 commented on #951
It will be available on the next release, for now you can use TextColor which will be deprecated in future

[2021-02-21 17:35] YZahringer opened #952 "[Enhancement] ValidationBehavior VisualStates"
## Summary
Support validation `VisualStates` with `ValidationBehavior`.

## API Changes
| VisualState Name | VisualStateGroup Name | Description                      |
|------------------|-----------------------|----------------------------------|
| Valid         | ValidationStates       | The value is valid.     |
| Invalid       | ValidationStates       | The value is not valid. |

## Intended U

[2021-02-21 18:49] jfversluis commented on #951
Yeah it was merged a bit too early :) 1.1 should be released soon. Sorry for the confusion

[2021-02-21 18:49] #951 closed

[2021-02-21 20:45] AndreiMisiukevich commented on #952
Sounds good

[2021-02-21 21:06] pictos commented on #952
@AndreiMisiukevich will you work on this or can we mark this as `up-for-grabs`?

[2021-02-21 21:36] pictos opened #953 "[Enhancement] Generic EventToCommandBehavior"
## Summary

Today with our current EventToCommandBehavior implementation we can see some issue using strongly type arguments with `Command<T>` the workaround today is using `T` as `object` and that's a kinda bad-sh thing to do.
If we have an `EventToCommandBehavior<TType>` that inherits from our `EventToCommandBehavior` we will be able to force the `parameter` to be the `TType` and doesn't crash t

[2021-02-21 21:36] Cfun1 commented on #952
I would love to contribute with this if you guys don't mind :)

[2021-02-21 21:38] pictos commented on #953
@jamesmontemagno I went out to cycle I came up with this implementation, and it works very well so far. Let me know what do you think.

Also, @AndreiMisiukevich , @sthewissen, and @jsuarezruiz can you share your thoughts on this?

[2021-02-21 21:55] AndreiMisiukevich commented on #952
@Cfun1 I assign it to you with pleasure )

[2021-02-21 21:58] AndreiMisiukevich commented on #857
Implemented in #912

[2021-02-21 21:58] #857 closed

[2021-02-21 22:03] AndreiMisiukevich commented on #953
@pictos I think you did a good job on the investigation) And I like this solution

[2021-02-21 23:11] Hackavist commented on #430
@jfversluis  as promised sorry for being late

[2021-02-22 07:54] angelru opened #956 "[Enhancement] TouchEffect Command"
I have noticed that if you add the command effect and press fast, the command can be executed more than 1 time, could an improvement be added so that this does not happen? Or do we have to manage it 1 to 1 in our application? with CanExecute it could be solved, am I correct?

[2021-02-22 12:09] #944 closed

[2021-02-22 12:21] #634 closed

[2021-02-22 12:37] akamud commented on #876
I have this same issue in any project referencing XCT on Mac. It just won't compile due to the `Microsoft.WindowsDesktop.App` reference.

[2021-02-22 12:41] #927 closed

[2021-02-22 12:48] pictos commented on #876
@akamud what version of XCT are you running? The `any project` includes xamarin.forms projects?

[2021-02-22 12:58] #910 closed

[2021-02-22 13:05] akamud commented on #876
Yes, the build fails on my unit test projects and my Xamarin.Forms project referencing XCT.
I'm using 1.0.2.

[2021-02-22 13:11] #595 closed

[2021-02-22 13:11] #630 closed

[2021-02-22 15:06] maxkoshevoi opened #959 "[Bug] NullReferenceException when displaying Toast or SnackBar"
### Description

It's a bit tricky to reproduce, but I think it happens when you display toast and change page at the same time.

Here's how ViewModel displays the toast:
[code]

And here's exception stack:
[code]

`Shell.Current.CurrentPage` is not null before (since method gets called) and after (checked in `catch` block) `DisplayToastAsync` execution.

**Update**: It crashes on this line:
![ima

[2021-02-22 16:15] maxkoshevoi opened #960 "[Bug] App crashes on tap of control with NativeAnimation"
### Description

There is a bug in code introduced in #764 (not released yet)

### Reproduction imagery

![xct1](https://user-images.githubusercontent.com/6609929/108736058-e6c22180-7539-11eb-85dc-9316c8d86948.gif)

[2021-02-22 16:32] WilliamV-Info opened #962 "[Bug] EventToCommandBehavior - When a converter returns null the command is called with original EventArgs instead of null"
### Description
When a converter returns null the command is called with original EventArgs instead of null.
Say you have a converter for a model and a command that expects that model.
If the converter results in null the command is not called with null.

I believe the null check [here](https://github.com/xamarin/XamarinCommunityToolkit/blob/8e1e29744776e2c3675282f832a9eb25a5bd01f8/src/CommunityTo

[2021-02-22 19:41] #960 closed

[2021-02-22 22:18] jamesmontemagno commented on #953
I guess if `eventArgs` are null then just pass it null to Execute?

[2021-02-22 22:21] pictos commented on #953
@jamesmontemagno

But the `eventArgs` isn't null, it will be the event EventArgs, in that case, will be `ItemSelectedEventArgs`. If was the Tapped event the `eventArgs` will be `ItemTappedEventArgs`

[2021-02-22 23:10] AndreiMisiukevich commented on #956
Hi @angelru and thanks for your interest in this project :)
I don't except that it's possible, but I presume you can get the same behavior with regular TapGestureRecognizer or Button, don't you?)

I guess, yes. It should be handled on Command's level.
But also we can add a property on TouchEffect's side for preventing it (CommandDelay or smth similar)

CC @pictos @jfversluis

[2021-02-22 23:24] pictos commented on #956
Normally this is handle on ViewModel, like if you tap very fast in a button, that performs navigation, you can do the same navigations more than once. The most famous pattern to handle that is the `IsBusy`. So not sure if it makes sense to add this handle inside the control.

[2021-02-22 23:30] brminnick opened #964 "[Bug] System.TypeLoadException thrown when Unit Testing AsyncCommand and AsyncValueCommand"
### Description

When unit testing `AsyncCommand` and `AsyncValueCommand` using .NET Core on a non-windows operating system, `System.TypeLoadException` is thrown:

[code]

`TypeLoadException` is thrown for a combination of the following reasons:
-  `BaseCommand.wpf.cs` uses `System.Windows.Threading.Dispatcher` which is only available on Windows
- .NET Core dependencies for the NuGet package assum

[2021-02-22 23:56] brminnick commented on #876
This is a bug caused by the Xamarin.Forms NuGet Package.

The current workaround is to add the following line to the Unit Test CSPROJ file:

[code]

Here an example of how I use it in my app GitTrends:
https://github.com/brminnick/GitTrends/blob/efe0f6e06c1e22c444b2fa35646797c64e82f235/GitTrends.UnitTests/GitTrends.UnitTests.csproj#L9

[2021-02-23 00:02] brminnick commented on #876
I recommend closing this issue because it is not a problem in Xamarin.CommunityToolkit, rather it is caused by Xamarin.Forms and inherited by Xamarin.CommunityToolkit.

Alternatively, @jfversluis or @jsuarezruiz may be able to transfer it to the Xamarin.Forms repo.

<img width="333" alt="Screen Shot 2021-02-22 at 4 01 40 PM" src="https://user-images.githubusercontent.com/13558917/108785918-4c58e28

[2021-02-23 02:58] ionixjunior commented on #848
@ahoefling Initially, I thought to develop a simple calendar view with the following features:

- Show days of the current month
- Highlight the current day
- Highlight the selected day
- Choose the start day of the week (Sunday, Monday, Tuesday, etc)
- Add events to a calendar to see some indicator in the days that contains events
- Navigate to previous and next month using buttons
- Invoke an ac

[2021-02-23 07:29] angelru commented on #956
With prism framework I solve it with DelegateCommand with ObservesCanExecute with the IsBusy property in the ViewModel in the case of calls to the Api. I understand that we have to do it one by one. If you see that this does not proceed, feel free to close this issue.

[2021-02-23 08:46] jfversluis commented on #876
I lost my rights to the Forms repo so @jsuarezruiz is now our only hope!

[2021-02-23 09:44] domagojmedo opened #967 "[Bug] TabItemsSource throws exception"
### Description
An exception is thrown if you change TabItemSource and have less item than the current tab you are on

### Steps to Reproduce

1. Open sample app
2. Go to "Using TabItemSource" sample page for TabView
3. Scroll to 3rd tab
4. Press "Update data"

### Expected Behavior
You should be moved to first or last tab

### Actual Behavior
Exception is thrown

### Basic Information

- Version

[2021-02-23 10:55] AlleSchonWeg commented on #362
This is also a good component: https://github.com/DIPSAS/DIPS.Xamarin.UI/wiki/Sheet

[2021-02-23 15:30] #964 closed

[2021-02-23 16:01] rikbosch opened #968 "[Bug] nuget package target .netcoreapp 3.1 has dependency on Xamarin.Forms.Platform.WPF which breaks on mac buildagent"
### Description

The Xamarin.CommunityToolkit has a dependency on Xamarin.Forms.Platform.WPF when targetting .netcoreapp3.1. Xamarin.Forms.Platform.WPF in turn is dependent on OpenTK, which is not compatible with .netcoreapp3.1

from our build logs:

[code]

Our testproject does have a FrameworkReference to Microsoft.WindowsDesktop.App

### Steps to Reproduce

1. Create an XUnit test project, targ

[2021-02-23 18:52] brminnick commented on #968
Duplicate of https://github.com/xamarin/XamarinCommunityToolkit/issues/876

[2021-02-23 18:52] #968 closed

[2021-02-23 18:52] brminnick commented on #968
### Workaround

The current workaround is to add the following line to the Unit Test CSPROJ file:

[code]

Here an example of I implement this workaround in my app GitTrends:
https://github.com/brminnick/GitTrends/blob/efe0f6e06c1e22c444b2fa35646797c64e82f235/GitTrends.UnitTests/GitTrends.UnitTests.csproj#L9

[2021-02-23 19:22] rikbosch commented on #968
@brminnick thanks! I've searched open issues but did not see the duplicate.

Thanks for quick response.

[2021-02-23 22:18] ahoefling commented on #889
After further research, I believe this is working as expected and the problem isn't with XCT but the downstream usage in the sample code.

I have updated the `TargetPlatformMinVersion` to `10.0.19041.0` and everything started working with the latest NuGet. See the new XML below:
[code]

@bmacombe can you try applying that change and see if it fixes the problem? If not you can look at the attached

[2021-02-23 22:47] #956 closed

[2021-02-24 00:30] elaurentin commented on #501
What about the TapCommandParameter?
in TabViewItem.shared.cs
[code]

[2021-02-24 00:31] pictos commented on #637
Closing this one, since we merged LazyView

[2021-02-24 00:31] #637 closed

[2021-02-24 06:13] maxkoshevoi opened #969 "[Bug] Java.Lang.NoSuchMethodError in TouchEffect and Rg.Plugins.Popup on Android 5 after updatiog to XCT 1.0.3"
### Description

`PlatformTouchEffect.OnDetached` began throwing `Java.Lang.NoSuchMethodError: 'no non-static method "Lcom/xamarin/forms/platform/android/FormsViewGroup;.getForeground()Landroid/graphics/drawable/Drawable;"'` on android 5 after updating to XCT 1.0.3.

Also updating to XCT 1.0.3 breaks [Rg.Plugins.Popup](https://github.com/rotorgames/Rg.Plugins.Popup) NuGet for some reason (same exc

[2021-02-24 06:13] maxkoshevoi commented on #969
@AndreiMisiukevich Could you take a look at this please?

[2021-02-24 08:30] ederbond opened #970 "[Bug] SafeAreaTypeConverter broken on iOS in Release mode - "Default constructor not found""
### Description
When running on an iOS device in Release, the following exception is thrown:
Default constructor not found for type `Xamarin.CommunityToolkit.Helpers.SafeAreaTypeConverter
`
This doesn't happen on the device in Debug, only Release.

### Steps to Reproduce
Build and deploy to iPad in Release
Navigate to screen with that uses `SafeAreaTypeConverter`
Exception occurs on screen load

#

[2021-02-24 09:30] AndreiMisiukevich commented on #970
Hi @ederbond
Can you please attach a small sample with a reproduction of the crash?

[2021-02-24 09:51] AndreiMisiukevich commented on #969
@maxkoshevoi please verify #971

[2021-02-24 10:04] maxkoshevoi commented on #969
Thank you! Issue is fixed via your PR

@jfversluis Any chance of 1.0.4 in the near future? 😄

[2021-02-24 12:00] JunkyXL86 commented on #562
So why does the DelegateWeakEventManager the same and keep the subscriptions private? I'm working on a project that needs to do some actions when the last handler has been removed. Thus I need to know the subscription count. For now I have to count the registrations by myself.

[2021-02-24 13:52] maxkoshevoi opened #972 "[Bug] DisplayToastAsync throws exception even if not awaited"
### Description
Currently displaying toast or snackbar throws `NullReference` sometimes  #959
Issue is that exception is still thrown even if `DisplayXxx` is used as ["fire and forget"](https://www.meziantou.net/fire-and-forget-a-task-in-dotnet.htm)

`MyPage.DisplayToastAsync("Some string").Forget();`

This is happening because we never actually use `await` inside `DisplayXxx` so state machine is

[2021-02-24 14:02] maxkoshevoi commented on #972
As I understand best practices right now, async methods should throw immediate exceptions only for parameter validation. Exceptions from actual logic on such methods shouldn't be visible until method is awaited (or result of the task is checked in some other way).

[2021-02-24 14:36] bmacombe commented on #889
Appears I can't test it right now as my dev machine still has Win 10 1909, not 2004.  Does it really require 2004 as the min target?  I try to keep my UWP min target to the first version released in the previous year.  Not sure why my machine hasn't bumped up yet, I'll update it and try again.

[2021-02-24 17:25] maxkoshevoi commented on #959
@pictos
- Created app that reproduces the error (zip is in the issue description)
- This appears to be shell only and when switching between tabs. Tested it with `Navigation.Pop`, issue didn't happen.

[2021-02-24 20:21] ahoefling commented on #889
@bmacombe

This was a discussion and point of concern during the original pull request. The unfortunate answer is yes it is a hard dependency to upgrade to support 19041. You can see some of the discussion in the original thread
* https://github.com/xamarin/XamarinCommunityToolkit/pull/653#discussion_r537581216

This is because the shadow property is not exposed until version 19041. If you try and

[2021-02-24 20:27] Cfun1 commented on #677
@pictos, @AndreiMisiukevich could someone verify this as a bug ? (or an enhancement?) I  have recently updated the issue by adding the third scenario where it doesn't work with shell Tab, in relation of XF issue mentioned just above it is not possible to change the Shell Tab font icon tint with neither of the ways (XF, xct).

[2021-02-24 21:07] bmacombe commented on #889
@ahoefling

I just got my machine on 20H2 and I can confirm it works as expected now.

I normally keep my machines up to date (not sure why my main machine didn't at least have 2004 yet).  But I can say it's lucky if my users always have a windows release that is less than a year old.  I know most should be forced to update it, but my machine wasn't.

Probably going to keep me from adopting XCT in

[2021-02-24 21:14] bmacombe commented on #889
Is it possible to change that in the ControlTemplate also?  EZ on the forms team showed me that trick.  The ability to change that stuff often exists there even if they haven't added a property to the control.  No idea if that will work in this case, just tossing out the option.

https://github.com/xamarin/Xamarin.Forms/pull/8107#issuecomment-545138683

[2021-02-24 23:49] gaurakshay opened #974 "[Bug] TouchEffect causes View's stuck if PressedAnimationDuration is set, but NormalAnimationDuration isn't"
Hi!

I am trying to understand the difference between `TouchEffect.AnimationDuration` and `TouchEffect.PressedAnimationDuration`.

The markup below works fine:
[code]

However, the markup below causes the animation to be "stuck"
[code]

https://user-images.githubusercontent.com/17280428/109081675-42bab080-76c8-11eb-9a41-c80c56b91acc.mp4

Please see the attached screen capture where the button look

[2021-02-24 23:53] gaurakshay commented on #974
Forgot to mention setup details:
Xamarin Forms : 5.0.0.2012
Community Toolkit version : 1.0.3
Android OS : 8.0

[2021-02-24 23:55] AndreiMisiukevich commented on #974
AnimationDuration is applied to both Pressed and Normal state at the same time (if you want the same animation duriation for pressing and releasing transitions)

PressedAnimationDuration is applied only to pressing
NormalAnimationDuration is applied only to releasing

(if you want to have different animation durations)

[2021-02-24 23:58] gaurakshay commented on #974
@AndreiMisiukevich Thanks I understand a little better now. Why does the `Frame` (on which the `TouchEffect` is applied) look like it is stuck? Shouldn't it return to its normal state?

[2021-02-25 00:02] AndreiMisiukevich commented on #974
That's a bug)

[2021-02-25 00:09] gaurakshay commented on #974
@AndreiMisiukevich what I have noticed is that if I keep the element pressed until the pressed animation is over, the element returns back to its normal state. If I press and let go before the animation is over, it stays stuck.

[2021-02-25 00:15] AndreiMisiukevich commented on #974
Yep) It's fixed. You may verify my PR

[2021-02-25 01:41] pictos commented on #959
Looks like that's a Shell issue because the GoToAsync returns but the Page Renderer isn't created yet. So the issue isn't with our code and with Shell navigation, I suppose.
When I add that `Task.Delay` everything works as expected. I saw that before in some Shell Navigation areas. I'm very tempted to close this issue, but first I would like to have a @PureWeen input here.
[code]

[2021-02-25 02:32] gaurakshay commented on #974
Sorry, I want to try the fix but I am getting error building the project on my system (I have never built XamarinCommunityToolkit before so my system configuration might be incorrect)
![image](https://user-images.githubusercontent.com/17280428/109094322-5faeae00-76df-11eb-8dba-b6f3b0f8e8f1.png)

[2021-02-25 02:59] pictos commented on #974
@gaurakshay probably you're missing some UWP SDK to be able to run our project. Instead of that, you can try [this NuGet](https://dev.azure.com/xamarin/6fd3d886-57a5-4e31-8db7-52a1b47c07a8/_apis/build/builds/35800/artifacts?artifactName=nuget&api-version=6.0&%24format=zip), which has the bits of Andrei's PR.

[2021-02-25 03:20] Cfun1 commented on #807
@AndreiMisiukevich I believe the VSM approach will be a solution to this issue.

[2021-02-25 03:45] #556 closed

[2021-02-25 03:51] pictos commented on #970
@ederbond I couldn't see anything related to XCT on your stack-trace, so we will really need a repro to move this issue forward.

[2021-02-25 03:57] pictos commented on #430
@Hackavist just double-checking here, did you implement all converters listed on this issue?

[2021-02-25 04:51] azapatac opened #976 "[Bug] Media element cash when navigate back"
### Description
Some times MediaElement render lunch Null Reference Exception
### Steps to Reproduce

1. Create Xamarin forms App
2. MainPage = new NavigationPage(new VideoPage)
3. Add in MainPage one button and navigate to VideoPage
4. In VideoPage add MediaElement and set up in the source "https://sec.ch9.ms/ch9/5d93/a1eab4bf-3288-4faf-81c4-294402a85d93/XamarinShow_mid.mp4"
5.
![image](https://u

[2021-02-25 07:07] mgierlasinski opened #978 "[Enhancement] ViewBox control"
## Summary

`ViewBox` control similar to WPF/UWP. It always provides desired size for wrapped content and applies scaling according to available space.

[Spec for UWP](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.viewbox?view=winrt-19041)

## API Changes

[code]

Implemented in Xamarin.Forms, no custom renderers.

## Intended Use Case
For complex UI sometimes we need to provid

[2021-02-25 07:26] Hackavist commented on #430
Yes i have implemented them all

[2021-02-25 09:27] #853 closed

[2021-02-25 09:27] #969 closed

[2021-02-25 09:28] jfversluis commented on #969
I'm thinking 1.1 somewhere next week :)

[2021-02-25 10:10] AmrAlSayed0 commented on #832
I don't think this would work correctly in case of multiple string resources with the same name but in different resource files. What I suggest it modify the ```LocalizationResourceManager``` to take either one ```ResourceManager``` or multiple and modify the current ```GetValue``` to check if there is only one ```ResourceManager``` registered, otherwise throw and exception. Also, add another ```G

[2021-02-25 10:36] maxkoshevoi commented on #974
@gaurakshay Remove all the targets that you don't need. If you only want to test fix on android, do this:

![image](https://user-images.githubusercontent.com/6609929/109141164-18b7cb80-7766-11eb-8e55-d54c9dc8cb69.png)

[2021-02-25 10:50] maxkoshevoi commented on #976
Possibly null check is missing [here](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/iOS/MediaElementRenderer.ios.cs#L354).

[2021-02-25 11:18] SeRgI1982 opened #979 "[Bug][iOS] Binding to TabView.SelectedIndex cause that TabView doesn't work"
### Description

I would like to have a chance preselect different TabItem than the first on when navigate to page with TabView.
Unfortunately, it doesn't work when you bind SelectedIndex to your ViewModel and set a proper index inside ViewModel.
The control stops working - there is no chance to navigate to different TabItems when this Binding exists.

### Steps to Reproduce

1. Create Page with T

[2021-02-25 11:25] SeRgI1982 opened #980 "[Bug] [Android] TabIndicator doesn't follow selected TabViewItem"
### Description

I would like to have a chance preselect different TabItem than the first on when navigate to page with TabView.
It works on Android when you bind SelectedIndex to your ViewModel and set a proper index inside ViewModel,
but indicator behaves strange when you try change to another tab.

### Steps to Reproduce

1. Create Page with TabView and a few TabViewItem's
2. Bind TabView.Selec

[2021-02-25 11:38] SeRgI1982 opened #981 "[Bug]"
### Description

Because TabViewItem content can be heavy and it can be related with very thick ViewModel, I would like to delegate (separate) this data management to another ViewModel's which are injected into my MainPageViewModel.

### Steps to Reproduce

1. Create Page with TabView and a few TabViewItem's
2. Create ViewModel for that Page with property referenced to another ViewModel
3. Bind Bi

[2021-02-25 13:25] Cfun1 commented on #979
Seems the same issue as https://github.com/xamarin/XamarinCommunityToolkit/issues/870 isn't supposed to be fixed @jfversluis ?

[2021-02-25 13:30] jfversluis commented on #979
@jsuarezruiz

[2021-02-25 13:31] Cfun1 commented on #980
Could be caused by the same issue in https://github.com/xamarin/XamarinCommunityToolkit/issues/979#issuecomment-785892672

[2021-02-25 14:21] maxkoshevoi opened #983 "[Bug] ResourceManager ignores culture in XCT 1.1.0-pre1"
### Description

For some strange reason, calling `GetString(text, CurrentCulture);` on `ResourceManager` from `AppResources` always returns string in default culture (no matter what culture you provide in the second argument).

This seemingly has nothing to do with XCT, but it only happens after update from XCT 1.0.3 to 1.1.0

### Steps to Reproduce

0. Localization doesn't work even in XCT sampl

[2021-02-25 14:40] gaurakshay commented on #974
@pictos Thanks!! I tested the NuGet and the fix works like a charm at my end!

@maxkoshevoi Thanks for the the tip! This didn't work for me unfortunately as VS was not able to resolve TouchEffect for some reason. I am not going to work on fixing my setup for the time being but appreciate the suggestion :)

[2021-02-25 14:40] #974 closed

[2021-02-25 17:45] acaliaro opened #984 "[Bug]"
### Description
I would like to know the width and height of a StackLayout when is rendered.
I know there is `xct:LifecycleEffect` that could help but I don't understand how it works

I use

[code]

and

[code]

But I have these logs:

[0:] loaded width=-1 height=-1
[0:] unloaded width=332 height=142

So, I receive the Width and height when the layout is unloaded. Is it possible to know its widht

[2021-02-25 18:26] maxkoshevoi commented on #983
Oh, it might be that I updated my Android build tools in Visual Studio..

[2021-02-25 18:26] #983 closed

[2021-02-25 19:34] cabal95 opened #985 "[Bug] Unit Test projects now reference Xamarin.Forms.Platform.WPF"
### Description

I'm not sure if this is a bug per-se, but I couldn't find any previous discussion of it so thought I would mention it as it doesn't "feel right". For our Xamarin Forms project, we have some unit tests that verify some of the business logic works and doesn't break between various upgrades. These are not UI tests. Just a standard netcoreapp3.1 project type for unit testing.

Today I

[2021-02-25 20:08] maxkoshevoi commented on #983
Yep. Don't install [Commercial Xamarin.Android 11.2 (d16-9) Preview for Windows+Visual Studio 2019 Preview](https://github.com/xamarin/xamarin-android#current)

[2021-02-25 20:26] SeRgI1982 commented on #980
It is hard to tell if it is the same issue because #979 says about TabView.SelectedIndex on iOS where nothing is working and here we have Android where this property works <- a proper content of tapped TabViewItem is visible but indicator is showing something else.

[2021-02-25 21:25] maxkoshevoi opened #986 "[Bug] 1.1.0-pre1 LocalizedString gets unsubscribed while still in use"
### Description

`LocalizationResourceManager` inherits `ObservableObject` that uses `DelegateWeakEventManager`
`LocalizedString` WeekSubscribe. Turns out week events don't mix together with with week subscriptions  😄

### Steps to Reproduce

See new test in PR

### Expected Behavior
`LocalizedString` is always subscribed while in use

### Actual Behavior
`LocalizedString` gets unsubscribed

### B

[2021-02-25 22:23] pictos commented on #986
@maxkoshevoi could you provide a repro? I want to see this deeper, to make sure that the root cause of this issue isn't in another place.

[2021-02-25 22:33] maxkoshevoi commented on #986
@pictos The problem is that `WeakEventManager` works by unsubscribing dead subscribers. And if subscriber is subscribed using `WeekSubscribe`, nothing will reference it (it's the whole point of `WeekSubscribe`), so `WeakEventManager` will unsubscribe it.

It has nothing to do with `LocalizationResourceManager` being disposed. It won't be since `Current` property always references it.

Flow of the

[2021-02-25 23:08] maxkoshevoi opened #988 "[Bug] ShadowEffect on button adds shadow to text on the button"
### Description

1. ShadowEffect on button adds shadow to text on the button instead of button itself
`<Button Text="Hi" xct:ShadowEffect.Color="Black" />`
![image](https://user-images.githubusercontent.com/6609929/109230990-74b63a80-77ce-11eb-8987-3f0875aab0b3.png)

2. ShadowEffect.Offset on button changes size of the button
`<Button Text="Hi" xct:ShadowEffect.Color="Black" xct:ShadowEffect.Offse

[2021-02-25 23:08] maxkoshevoi commented on #988
CC: @AndreiMisiukevich

[2021-02-25 23:50] Cfun1 opened #989 "[Bug] IconTintColorEffect apply Tint to all different instances of the same image resource in a page"
### Description
IconTintColorEffect doesn't apply the tint to the control where it attached but to all other controls that have as image the same image resource

### Steps to Reproduce

1. Run the repo.

### Expected Behavior
Only the View where the effect is attached got their image tinted
### Actual Behavior
All Views which are having the same image resource, got tinted even the ones without eff

[2021-02-25 23:50] maxkoshevoi opened #990 "[Enhancement] Popup to autosize based on the content"
## Summary

Right now when I open a popup that contain one label, it looks like this:
![image](https://user-images.githubusercontent.com/6609929/109234532-8dc1ea00-77d4-11eb-9ef9-6e0ceeb82200.png)

I don't need it that high. Please provide an option to autozise it based on the content.

## API Changes

`bool Autozise`

## Intended Use Case
User don't need to calculate the size manually

## Who Wil

[2021-02-25 23:54] maxkoshevoi opened #991 "[Enhancement] Navigation extension method to DIsmiss popup"
## Summary

Provide some way to `Dismiss` from within ViewModel (for example another `Navigation` extension). Right now I need to pass the whole page into view model to be able to dismiss it

## API Changes

`Dismiss(this Navigation)`

## Intended Use Case
To be able to easier use Popup in MVVM

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [x] Just putting this out there f

[2021-02-26 00:28] maxkoshevoi commented on #986
@pictos Are you able to reproduce the issue?

[2021-02-26 01:18] pictos commented on #986
@maxkoshevoi I didn't look yet, I'll look ASAP, try to solve this until tomorrow (:

[2021-02-26 08:04] acaliaro commented on #990
#937

[2021-02-26 08:06] acaliaro commented on #937
#990

[2021-02-26 08:23] #990 closed

[2021-02-26 12:06] maxkoshevoi opened #993 "[Bug] 1.1.0-pre1 Popup blinks when Alert is displayed on top of it"
### Description

### Steps to Reproduce

1. Create popup with bottom that opens an alert or prompt
2. Open the popup and press the button

### Expected Behavior
Popup becomes darker and page behind it becomes even darker

### Actual Behavior
![xct7](https://user-images.githubusercontent.com/6609929/109298021-9d284e00-783b-11eb-8d08-a8ce8617f6f4.gif)

### Basic Information

- Version with issue: 1.

[2021-02-26 12:37] #976 closed

[2021-02-26 14:49] Cfun1 opened #994 "[Bug] [Android] IconTintColorEffect may crash due to ImgeButtonRenderer disposed exception"
### Description
When using IconTintColorEffect with an `ImageButton`  inside of a `ControlTemplate` I was able to reproduce under Shell only.
If used with `Image` or `Button` it works fine. Not sure if the root cause is a bug in XF but it seems so.

### Steps to Reproduce
1. Run the repo.
2. Navigate to the second bottom tab and return to the first one.

### Expected Behavior
No Crash.

### Actual

[2021-02-26 14:53] Cfun1 commented on #994
Even if it is a XF issue we may avoid the crash, as discussed with @pictos earlier we may avoid the crash, either by testing the private property IsDisposed using reflection or by catching and ignoring the exception:

https://github.com/Cfun1/XamarinCommunityToolkit/blob/68d899bec0aea90f0b386d4ae0f4346d104c6f96/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/IconTintColor/IconTintColorEffect

[2021-02-27 04:41] pictos commented on #984
@acaliaro this may be because of the way how XF handles controls. The loaded event tells you when the controls are loaded on memory, and probably, the StackLayout didn't measure itself. I suggest you listen to the `SizeChanged` event.

[2021-02-27 04:56] pictos commented on #978
@mgierlasinski thanks for your proposal. I have a question, how this one can be different from the current `BoxView` control?

[2021-02-27 13:15] mgierlasinski commented on #978
`BoxView` is for drawing colored box with optional corner radius, that's it. `ViewBox` wraps some content giving any space it needs, then it applies scale to fit available bounds. It behaves like `Aspect` in `Image` but for piece of child XAML. Name of control is taken from WPF/UWP but it may be confusing when we already have `BoxView` which is something totally different.

Let say you need a `Gri

[2021-02-27 17:36] pictos commented on #978
You can create empty rows/columns to archive that

[2021-02-27 20:31] Julianh9 opened #995 "TabView - add on TabViewItem BackgroundColorSelected"
So:
in  TabView
on TabViewItem allow for the background color to change based on the selection of the item.

so there is a BadgeBackgroundColorSelected and BadgeBackGroundColor
why not a BackGroundColor and BackGroundColorSelected

Keep up the good work.

[2021-02-27 20:56] Cfun1 commented on #995
I think this can be done using https://github.com/xamarin/XamarinCommunityToolkit/pull/803/files could you confirm ?

[2021-02-27 20:57] pictos commented on #994
@Cfun1 will you implement this fix?

[2021-02-27 21:03] Cfun1 commented on #994
@pictos if you guys verify this bug and validate the fix then yes of course , remains two questions:
1- What is the situation in iOS could someone test it?
2- Which approach to go with, reflection or catch ignore exception ?

[2021-02-27 21:12] pictos commented on #994
tbh I didn't look at the sample yet, doing some code review right now, but if I confirm the bug I would say that solution will be to use the catch and ignore that exception, just show it in the debug.WriteLine. But let me check if first, I'll ping you right after I look it

[2021-02-27 21:25] pictos commented on #972
@maxkoshevoi can you provide a small repro?

[2021-02-27 22:10] pictos commented on #934
@azapatac can you provide a small repro?

[2021-02-27 22:31] maxkoshevoi commented on #972
@pictos Sure. Click "Show Toast" on SnackBar/Toast view here: https://github.com/maxkoshevoi/XamarinCommunityToolkit/tree/972-demo

[2021-02-27 22:58] pictos commented on #994
@Cfun1 we can add the catch and ignore the exception or we can verify if the `Element` is null. If the `Element` there's no more a `View` attached to that `Control` so we can infer that object is disposed of. Here I prefer to check for `Element == null` because exceptions are expensive. Thoughts?

[2021-02-27 22:59] pictos commented on #994
OnAttached:
![image](https://user-images.githubusercontent.com/20712372/109402665-4fdcd700-7936-11eb-886b-f811ea5fb5d9.png)

OnDetached:

![image](https://user-images.githubusercontent.com/20712372/109402653-3d629d80-7936-11eb-9819-1bb7fbd01c7a.png)

[2021-02-27 23:49] Cfun1 commented on #994
@pictos when I checked earlier `Element` (of type ImageButton) is not null in this specific case, if you meant Control.Element (Unknown member) not sure how we access to it, if we try a cast `(ImageButtonRenderer) Control`, again we are going to hit the exception.

[2021-02-28 00:20] pictos commented on #994
@Cfun1 I see now, we can't access those properties easily from code, because the Effect just call the `TControl Control`  as class. Yeah, let's keep the plan of just discard the exception.

[2021-02-28 00:21] pictos commented on #994
FYI, I update your repro on my sandbox project, you can find it [here](https://github.com/pictos/XCT.SandBox/tree/icontint-disposed-exception)

[2021-02-28 08:59] mgierlasinski commented on #978
@pictos OK forget about the `Grid`, more general example - you have some XAML content that is bigger than `Page`. You can put this into `ScrollView`. You could also use `ViewBox` instead that will scale down your content which sometimes may be useful.

`ViewBox` and it's Content can be compared to `Image` and Bitmap source. If you want to stretch bitmap inside `Image` to fit it's bounds, you use `

[2021-02-28 11:57] mknotzer opened #997 "[Bug] Android NullReferenceException GetMetaData"
On Startup MediaElement (Source not set) causes an unhandled Exception:

{System.NullReferenceException: Object reference not set to an instance of an object.   at Xamarin.CommunityToolkit.UI.Views.FormsVideoView+<>c__DisplayClass7_0.<GetMetaData>b__0 () [0x00006] in <08abc6c084af4622851290c7f2f974ff>:0    at System.Threading.Tasks.…}

at Xamarin.CommunityToolkit.UI.Views.FormsVideoView+<>c__Displ

[2021-02-28 17:12] AmrAlSayed0 commented on #997
The only thing that _can_ be null in this function is the Uri itself https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Android/FormsVideoView.android.cs#L59-L78

[2021-02-28 17:38] ssbssb-cmd commented on #901
Hi - I'm having the same issue when calling cameraView.Shutter() the MediaCapture event isn't being hit. I'm seeing this in Debug mode as well as Release mode.
MediaCaptureFailed also doesn't get hit

[2021-02-28 17:46] brminnick commented on #972
This is not accurate

[2021-02-28 17:50] brminnick commented on #972
Closing this because the current behavior and implementation is correct.

`DisplayToastAsync` _should_ throw an `ArgumentNullException` regardless of whether or not it is `await`ed.

[2021-02-28 17:50] #972 closed

[2021-02-28 17:58] maxkoshevoi commented on #972
@brminnick I'm not talking about `ArgumentNullException`. Because of a bug in the Shell those methods can throw `NullReferenceException` when all arguments are valid (#959)

[2021-02-28 18:05] brminnick commented on #972
The solution is the same: use a try/catch block.

[code]

As Pedro pointed out, [this is a bug in Xamarin.Forms.Shell](https://github.com/xamarin/XamarinCommunityToolkit/issues/959#issuecomment-785513008), not in Xamarin.CommunityToolkit. I recommend fixing the bug where it exists, in the Xamarin.Forms repository.

[2021-02-28 18:11] maxkoshevoi commented on #972
But this method returns `Task` methods that return task shouldn't throw exceptions (maybe except argument validation once) until result is awaited.

[2021-02-28 20:25] #936 closed

[2021-02-28 20:57] pictos commented on #978
@mgierlasinski I see now. Thanks for explaining it to me. Could you provide a spec for this API? And this will be a xaml control or do you need to use the platform-specific APIs?

[2021-02-28 21:11] #986 closed

[2021-02-28 21:25] mknotzer commented on #997
the source is not set in the XAML, so why would MediaElement call GetMediaData?

<toolkit:MediaElement
    x:Name="xVideo"
    AutoPlay="false"
    BackgroundColor="Black"
    HeightRequest="300"
    HorizontalOptions="Center"
    ShowsPlaybackControls="False"
    WidthRequest="500" />

[2021-02-28 22:42] AmrAlSayed0 commented on #997
It's probably this
https://github.com/xamarin/XamarinCommunityToolkit/blob/0db93526c5c973044c282aa6d14657fcc13e48ea/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/MediaElement/Android/MediaElementRenderer.android.cs#L345
Bind Source to a dummy value before switching it to the real value and see if that fixes the issue.

[2021-03-01 08:27] ryanharding opened #998 "[Bug] TouchEffect is no longer firing on UWP"
### Description

In pre release 1.1.0 pre1, TouchEffect is no longer firing on UWP in ListView ViewCell's.

No error or warning is fired when tapping.

### Steps to Reproduce

1.  Create ListView and ListView ItemTemplate
2.  Add Grid to ItemTemplate with xct:TouchEffect.Command
3.  Run and tap item with debug on Command

### Expected Behavior

Expected to hit debug point on command

### Actual Be

[2021-03-01 08:33] acaliaro commented on #984
Yes @pictos , with `SizeChanged` it works, but in your opinion it shouldn't work with LifecycleEffect too? When the "Loaded" event arrives the layout should be fully rendered and therefore the dimensions should also be correct

[2021-03-01 09:10] omghb commented on #985
Please fix this. I run into the same issue. Workaround `<GenerateErrorForMissingTargetingPacks>false</GenerateErrorForMissingTargetingPacks>` helped.

[2021-03-01 11:43] danielmeza commented on #858
@jfversluis Since we leverage the support of SVG to  https://github.com/Redth/ResizetizerNT, we shall include this on the repository or point user to use it on the readme?

[2021-03-01 13:55] eyalvayness commented on #901
Hi all,

I am also having the same issue.
Wether using the _ShutterCommand_ or the _Shutter_ method, both _MediaCaptured_ and _MediaCaptureFailed_ Events are not get called.

I tried disabling **Hot Restart** but the issue persists.

[2021-03-01 14:41] jfversluis commented on #858
@danielmeza I'm not sure I understand your comment :)

[2021-03-01 14:50] danielmeza commented on #858
Sorry for that, I wonder if the Resizetizer should be included in the Xamarin Community Toolkit in some way, ir order to give it more visibility. Maybe including it at the readme file or bring the code to this repository, (@Redth what do you think?), as we have chosen it as a solution for SVG on Xamarin.

[2021-03-01 15:20] themronion commented on #858
@danielmeza i dont think there is a need for it here. Resizetizer is already merged in MAUI, so wait a little bit and just use it from there built in) Untill then use it separately

[2021-03-01 15:23] danielmeza commented on #858
@themronion oh I see, glad to her that is already merged in MAUI.

[2021-03-01 15:29] themronion commented on #858
https://github.com/xamarin/Xamarin.Forms/pull/13784

[2021-03-01 15:45] mknotzer commented on #997
issue still exists on Android.

<toolkit:MediaElement
    x:Name="xVideo"
    AutoPlay="false"
    BackgroundColor="Black"
    HeightRequest="300"
    HorizontalOptions="Center"
    ShowsPlaybackControls="False"
    Source="{Binding Source, Source={x:Reference xThis}}"
    WidthRequest="500" />

Later use of

Source = new Uri(...)

not successful either (iOS and Android), have to use

xVideo.Sourc

[2021-03-01 20:08] tranb3r opened #999 "[Bug] 1.1.0-pre1 Popup binding does not work on iOS"
### Description

In XCT 1.1.0-pre1, binding in a popup does not work on iOS (but it does work on Android).

### Steps to Reproduce

1. Open sample app on iOS
2. Go to the XamlBindingPopup demo
3. Open the popup

### Expected Behavior

The popup should contain a title and a message.

### Actual Behavior

On iOS, the popup is empty. The bindings do not work.

### Basic Information

- Version with is

[2021-03-01 22:27] inforithmics commented on #998
I think the reason that it doesn't work is that Xamarin Community Toolkit was retarget to use at least UWP Version 10.0.19041
when you look at the nuget package version you see (UAP 10.0.19041 / 2004)

https://www.nuget.org/packages/Xamarin.CommunityToolkit/1.1.0-pre1

Here is a pull request where I try to fix that.

https://github.com/xamarin/XamarinCommunityToolkit/pull/942

Here is some discuss

[2021-03-01 22:46] pictos commented on #999
@tranb3r can you please provide a repro?

[2021-03-01 22:49] pictos commented on #984
@acaliaro that depends, for all platforms but iOS I use the native events to know when the control/container is allocated on memory. We have the Forms layer that does calculations and initialization of the renderer, so there's a time between the control is allocated and the control is measured.

[2021-03-01 22:57] CliffAgius commented on #868
I can confirm this bug still exists and both the suggested fixes work so either use a StackLayout or set the Grid.Rowdefinitions to Auto for both the Header and the ContentTemplate and the bug disappears.

[2021-03-02 08:51] willtam commented on #788
I was able to resolve this by adding the following line into the UWP's app.xaml.cs file:

assembliesToInclude.Add(typeof(Xamarin.CommunityToolkit.UI.Views.MediaElementRenderer).GetTypeInfo().Assembly);

[2021-03-02 11:30] kerberosargos opened #1021 "[Enhancement] Extend XAMLmarkup for CurrentVisualState"
Hello,
I have defined a style in my App.cs.xaml and I am using it as following example.

is it possible to extend builtin XAML markup for example as  **CurrentVisualState** Thank you in advance.

[code]

**HomePage.xaml**

[code]
**CurrentVisualStateBehavior.cs**

[code]

[2021-03-02 18:21] saiganeshls2504 opened #1000 "[Bug] Expander content as webview which is not scrolling in android when Expander placed inside Scrollview"
### Expander content as webview which is not scrolling in android when Expander placed inside Scrollview

### Steps to Reproduce

1. Run the sample in Android.
2. open the Expander content and scroll the content
3. It does not scrolled.

### Expected Behavior
It should scroll
### Actual Behavior
It is not scrolling
### Basic Information
UWP and iOS is working fine.
- Version with issue: 4.8.0.1687

[2021-03-02 18:35] geskill commented on #999
Can confirm. Until a proper fix is available you can use this as workaround:

Remove BindingContext from popup, add to inner root view element.

e.g. **XamlBindingPopup.xaml**
[code]

[2021-03-02 20:59] brminnick commented on #832
Thanks Eugen!

Before approving this, I'm going to play around with `LocalizationResourceManager` to see if there's a way we can utilize RESX to do this for us.

If we can leverage RESX, we might be able to save ourselves a bunch code 🤞

[2021-03-02 22:05] AndreiMisiukevich commented on #371
Implemented in #925

[2021-03-02 22:05] #371 closed

[2021-03-02 22:06] #994 closed

[2021-03-03 00:11] pictos commented on #999
cc: @ahoefling

[2021-03-03 06:07] WebDucer commented on #832
@AmrAlSayed0 The possibility of _ovveriding_ translations, is feature that we already use. E.g. we override some translations from core library in our RESX in the application. During the initialization we put the most relevant resource manager first (Application) and least relevant as last (Core).

[2021-03-03 06:10] WebDucer commented on #832
@brminnick This would be fine. I also miss now the possibility to set the culture on all resources in one place. Now we need to set the culture to all resource managers used in the application, if user set new culture.

[2021-03-03 13:36] Cfun1 opened #1002 "[Enhancement] Add Bindings support for ImageResourceExtension"
## Summary
With the actual ImageResource xaml extension [ImageResourceExtension.shared.cs](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Extensions/ImageResourceExtension.shared.cs) it is not possible to use Bindings.

What do you guys think about implementing a converter for this extension like it is already done for some of the convert

[2021-03-03 14:05] Cfun1 commented on #807
Closed in https://github.com/xamarin/XamarinCommunityToolkit/pull/955

[2021-03-03 14:05] #807 closed

[2021-03-03 14:07] Cfun1 commented on #952
https://github.com/xamarin/XamarinCommunityToolkit/pull/955 has been merged, thus this issue needs to be closed

[2021-03-03 16:12] StapSoft commented on #788
I tried it and it works fine.
Thanks.

[2021-03-03 16:29] hnabbasi commented on #947
I am seeing the same issue in v1.0.3

[2021-03-03 18:57] Cfun1 opened #1004 "[Enhancement] Implement more of EventArgsConverter"
## Summary
This proposal can be divided into two points:
- Implement the remaining most used types of events arguments converters to be used with `EventToCommandBehavior`.
- Merge those converters (plus existing `ItemTappedEventArgsConverter`, `ItemSelectedEventArgsConverter`) into one converter `EventArgsConverter`.

## API Changes
Initial proposal:
Initially I just gathered some events in the be

[2021-03-03 19:00] bmacombe commented on #889
@ahoefling I was looking at this again and reading the comments in the PR.  I'm confused why the min needs to be 19041 and not 18362 which is when the shadow property was added?  If the min version was pushed back to 1903 vs 2004 I think that would help with a lot.

[2021-03-03 22:14] j-fritsch commented on #981
Unfortunately, it looks like every time the binding context of the TabView changes, it sets each of the TabViewItems to the same BindingContext as the TabView.

https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs#L430

[2021-03-03 22:45] AndreiMisiukevich commented on #952
Fixed in #955

[2021-03-03 22:45] #952 closed

[2021-03-03 23:09] dersia opened #1006 "[Enhancement] Let's Fix Snackbar"
## Summary

First of all, I am not sure if this should be issued as a Bug or Feature Request, but I think since the original Spec of Snckbar designed it this way, it's not really a bug and since there is no better issue template like "Refine feature" or so, I'm going with the Feature Request issue Template.
I did use the search and couldn't find any issue on this Topic, so I started this one.

IMH

[2021-03-03 23:15] Cfun1 commented on #1006
Hi @dersia thanks for the proposal, could you please read https://github.com/xamarin/XamarinCommunityToolkit/issues/504 and check whether it is the same as this or no ?

[2021-03-03 23:18] dersia opened #1007 "[Enhancement] Add Scale support for SideMenuView"
## Summary

The `SideMenuView` is a nice View and I think we can make it a bit more Fancy by adding a scale animation to the main-view.
I'd like to get something like what @ahoefling shows in this BlogPost: https://www.andrewhoefling.com/Blog/Post/xamarin-forms-fancy-flyout-menu

![Fancy Flyout](https://www.andrewhoefling.com/Portals/2/adam/Image%20&%20Lightbox/ZwoCOjUggEeMV168OpX1zQ/Image/fancy-m

[2021-03-03 23:22] dersia commented on #1006
@Cfun1 thanks! Yeah, looks like a duplicate. Will close this one and put my thoughts into the other issue, becuase I think we should be discussing Multi-Window and `TwoPaneView` as part of this

[2021-03-03 23:22] #1006 closed

[2021-03-03 23:23] AndreiMisiukevich commented on #1007
@dersia that's a great idea)
I thought about this enhancement. And definitely, we should implement it (it shouldn't be super difficult, I believe)

[2021-03-03 23:24] dersia commented on #504
MHO the Snackbar is broken, because it requires the page to be called and especially for MVVM flows this won't allow the user to Display a Snackbar or Toast.
While thinking about it, I couldn't come up with a reason, why the page is needed for it. A Snackbar or Toast is going to always be displayed on the CurrentPage. I can't think of a reason why one would like to display a Snackbar on any other

[2021-03-03 23:27] dersia commented on #1007
Ok, can I also then just throw this into the pool: honestly we need this for pages not just views. Having a fancy flyout that supports pages makes the app look so much better.
I know this is a different proposal, but I wasn't sure if that's something that within the responsibility of the toolkit, so far there are no pages, just views ;)

[2021-03-03 23:29] AndreiMisiukevich commented on #504
@dersia just wonder how do you usually display Alerts and ActionSheets?) They require Page as well

[2021-03-03 23:35] ahoefling commented on #1007
I am more than happy to contribute the fancy menu for this. Is the goal to implement this as an option on SideMenuView or make a new control for the toolkit?

[2021-03-03 23:42] dersia commented on #504
@AndreiMisiukevich well you could say the same about popups. I really think there were some design flaws when those where speced (I often have the feeling, that those who worked on the original specs at xamarin just weren't MVVM users and didn't think about the implications), but maybe I am missing something and don't know all the reasons why Alerts and ActionSheets where desgined this way.

For a

[2021-03-03 23:43] AndreiMisiukevich commented on #1007
Hmm, what the difference?)

[2021-03-03 23:44] AndreiMisiukevich commented on #1007
I'll be happy to assign this enhancement to you :)
But I think that we should enhance the existing SideMenuView.

[2021-03-03 23:47] ahoefling commented on #1007
@AndreiMisiukevich go ahead and assign this to me. I'll look at how I can upgrade the current SideMenuView to include scaling.

I have a few things on my priority list so I may not start this for a few weeks or longer.

[2021-03-03 23:53] dersia commented on #1007
@ahoefling thanks!

@AndreiMisiukevich the difference is, that a Page can be a NavigationPage and I can have a better FlyoutPage (Master-Detail-Page) with all the nice features on the SideMenuView. Sure we could make MainView bindable and get a similar behavior, but a) it still does not support pages and b) you can't use navigation with it.
If it's a Page on the other hand, we could just easily us

[2021-03-03 23:55] AndreiMisiukevich commented on #504
@dersia if we speak about **strict** MVVM, then you cannot call the snack bar directly from your ViewModel (because it belongs to the Presentation Layer).

As for the CurrentPage.

If I use TabbedPage, for example, the Application.CurrentPage is "TabbedPage", not TabbedPage.Current.

And I can show snack bar above the root (TabbedPage), but also can put it over ContentPage that is inside TabbedPag

[2021-03-03 23:57] AndreiMisiukevich commented on #1007
@dersia yep, it makes sense.

[2021-03-04 01:11] AndreiMisiukevich commented on #1007
if you don't mind I will implement it then)

[2021-03-04 02:23] LeoJHarris opened #1012 "TabIndicatorColor not showing when landing on page - iOS Only"
Appears like a bug that when landing on a page with the TabView that the TabIndicatorColor is not showing initially, when I select another tab then the color changes.

### Expected Behavior

Color of the TabIndicatorColor should show when page appeared

### Actual Behavior

The TabIndicatorColor does not show when page appear and only shows when selecting a new tab then the TabIndicatorColor indic

[2021-03-04 10:38] JoelPickin commented on #894
I have created a pull request for this feature on iOS

https://github.com/xamarin/XamarinCommunityToolkit/pull/1017

Thanks

[2021-03-04 12:17] angelru opened #1018 "[Enhancement] TabView Icon center"
If TabViewItem has no text, the icon is not centered vertically, how can I do it? I do not see anything in the documentation, I have achieved it with `pading="16"` and with the size of `TabStripHeight `to 60.

but in the case of sliding eyelashes the line also moves

[2021-03-04 12:35] Kapusch commented on #981
I also have this requirement, and I have been able to find a workaround.

Initially, I was assigning BindingContext property directly in my MainView XAML file, for each TabViewItem component:
[code]

But instead, I assign BindingContext property for each in "OnAppearing" method of my MainView:
[code]

[2021-03-04 12:59] themronion commented on #988
Yeap, can confirm this one

[2021-03-04 13:37] AswinPG commented on #1018
I think you can use a custom control template with just an image to achieve that

[2021-03-04 13:40] AswinPG commented on #591
Has anyone found any workarounds to this ..?

[2021-03-04 15:12] angelru opened #1019 "[Enhancement] TabView TabStripBorderColor bottom"
Currently with TabStripBorderColor the border is placed on top of the tabs, it would be nice if it could be chosen (top or bottom). I want to get this design:

![Instagram-search-bar-tags-587x1024](https://user-images.githubusercontent.com/11645585/109984510-23dd9f00-7d04-11eb-837d-908cc5909638.jpg)

you will see a border at the bottom and tabs with your TabIndicatorView overlaid.

[2021-03-04 15:22] janispa opened #1020 "[Bug] Torch in CameraView turns on only by the first photo"
### Description
When I set `FlashMode` to `Torch` in `CameraView`, the flash light does not turn on immedietaly. It turns on only by taking the first photo. Then it stays on.

### Steps to Reproduce

1. Insert `CameraView` on a page
2. <views:CameraView CameraOptions="{Binding CameraOptions}"
                              FlashMode="Torch"/>
3. Set `FlashMode` to `Torch` (either as a hard-coded va

[2021-03-04 15:28] sact1909 commented on #399
Any progress with this issue?

[2021-03-04 21:11] kerberosargos commented on #1021
@PureWeen Hello. Actually I did not know to use **StyleClass** before have opened issue. I were using this approach for multiple styles. Sorry for keeping you busy. I think this approach may be useful anyway.

[2021-03-04 21:20] Kapusch commented on #1012
I also have noticed this bug many times, but I cannot say why...

Actually, anytime I sign out / sign in again to my app, then I'm able to the the TabIndicatorColor once landing on page !

I guess it could be something related to events ordering, BindingContext initializations...
I'll comment more in case I get it.

[2021-03-04 21:32] Kapusch commented on #979
Actually, I can provide the same comment as for #1012

I also have noticed this bug many times, but I cannot say why exactly.
Anytime I sign out / sign in again to my app, then I can see my tab well positioned on the value I have initialized in the ViewModel.

In my XAML file, the property binding is set as followed :
[code]
And the value is configured in the ViewModel as followed :
[code]

I gues

[2021-03-04 22:05] AndreiMisiukevich commented on #1007
Implementer in https://github.com/xamarin/XamarinCommunityToolkit/pull/1011

[2021-03-04 22:05] #1007 closed

[2021-03-04 22:28] pictos commented on #1021
@kerberosargos I'm sorry, I didn't get the idea. Are you asking to add that behavior? Or is it something else?

[2021-03-04 22:35] AndreiMisiukevich commented on #988
Feel free to grab this issue and submit a PR :)

[2021-03-04 22:39] kerberosargos commented on #1021
All codes are working. I do not need help about that. I have wrote codes for giving you idea. May be xamarin team can add this feature for next version.

[2021-03-05 00:39] Cfun1 opened #1022 "[Enhancement] Replace Exception approach used to avoid bug #994"
## Summary

Replace the exception approach introduced in https://github.com/xamarin/XamarinCommunityToolkit/pull/996 by the extension  suggested by Shane in https://github.com/xamarin/Xamarin.Forms/issues/13889#issuecomment-790112941

## Who Will Do The Work?

- [x] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-03-05 00:40] pictos commented on #1021
@kerberosargos that will not be added on Forms, can be added here, on XamarinCommunityToolkit (XCT), but for that, we need to understand what's that about if you can expand that

[2021-03-05 01:28] jingliancui commented on #289
@gaetanonou awesome

[2021-03-05 08:07] themronion commented on #988
Nah, too lazy) gonna stay on Sharpnado.Shadows for now)

[2021-03-05 08:56] angelru commented on #1018
Thank you very much, if that is the solution, you can close this issue without problem.

[2021-03-05 08:58] vipul386 opened #1024 "[Bug] Can't set style for TabIndicatorColor"
### Steps to Reproduce
Set the style given below in App.xaml
[code]

### Expected Behavior
It was supposed to change tab indicator color.

### Actual Behavior
returns error System.NullReferenceException: 'Object reference not set to an instance of an object.'

### Basic Information

- Version with issue: 1.0.3
- Last known good version: Dont know
- IDE: Visual Studio 2019
- Platform Target Framewo

[2021-03-05 10:20] QwertyyD opened #1025 "[Bug] Local Image is not working in AvatarView"
### Description
When AvatarView is used with LocalImage it displays Text value instead of image, while the same image is displayed in Xamarin.Forms.Image control.
### Steps to Reproduce

Sample :
[code]

### Expected Behavior
Image should be displayed.
### Actual Behavior
Text value is displayed.
### Basic Information

- Version with issue: 1.0.3
- Last known good version:
- IDE: VS 16.7.8

[2021-03-05 10:37] mfranc28 commented on #402
Any workaround for make this possible on Android?

[2021-03-05 12:56] Senso4sLab opened #1029 "LazyView"
I tried to use ControlTemplate inside LazyView control. Unfortunately, it does not work.  Can someone explain what I have to change in class BaseLazyView.

Thanks in advance

[2021-03-05 12:58] pictos commented on #1029
@Senso4sLab you can't use ControlTemplate with LazyView, you need to pass the view's type. You can take a look at our sample to have a better idea of how to use it.

https://github.com/xamarin/XamarinCommunityToolkit/blob/develop/samples/XCT.Sample/Pages/Views/TabView/LazyTabPage.xaml

[2021-03-05 12:58] #1029 closed

[2021-03-05 13:06] henda79 opened #1032 "[Bug] StateLayout does not load initial state other than None"
### Description
When StateLayout is presented it always defaults to the None View regardless what is set in CurrentState. I maybe using this wrong but surely if I set CurrentState to Success, it would default to that view.

### Steps to Reproduce

1.  Create a basic StateLayout, with 1 or more Views and add something to the "None" View
2.  Set StateLayout.CurrentState="Success" or whatever Views w

[2021-03-05 14:33] Cfun1 commented on #1032
Hi @henda79 thanks for reporting, could you please attach a reproduction repo? I have tried reproduce it in the sample App without success.

[2021-03-05 14:43] henda79 commented on #1032
Hey Cfun, I thought it would have been easy to replicate as I had the issue pretty much OOB.

I've added it in my demo app which I use to report bugs to Syncfusion, so just ignore most of it. You'll see it loads to the 'None' View State Despite been explicitly set in the XAML.

Here's a link to it on my GitHub: [https://github.com/henda79/ListViewDemo](url)

[2021-03-05 15:07] maxkoshevoi commented on #988
Looks like it's not that easy to add shadow to a button: https://stackoverflow.com/questions/62966078/to-drop-color-shadow-to-a-button-in-xamarin

[2021-03-05 15:46] themronion commented on #988
@maxkoshevoi the most optimal solution for shadows in Xamarin.Forms is @roubachof's Sharpnado.Shadows, so i think we can kindly ask him and blend in his hard work here. But he has an absolutely different approach there. Or we can wait untill Maui...

[2021-03-05 16:09] j-fritsch opened #1034 "[Bug] TabView TabStrip Overlaps Content"
### Description

When giving the TabView a TabStripHeight, the TabStrip overlaps the content below.

### Steps to Reproduce

1. Create a TabView
2. Give the TabView a TabStripHeight larger than the default
    `<views:TabView TabStripBackgroundColor="DarkGray" TabStripHeight="57">`
3. Observe the TabStrip overlapping the content

### Expected Behavior

It should not overlap the content.

### Actua

[2021-03-05 23:54] themarwik opened #1037 "TabView UWP"
The TabView is awsome but it is broken on Windows UWP but it works on Android and iOS but in Windows UWP the tabView buttons not working fine. lots of times clicking on a tab page it not showing right, just shows the the page you had and sometimes it show 2 pages insted of the one that you have clicked on

[2021-03-06 20:44] AndreiMisiukevich commented on #1025
@QwertyyD can you specify the platform?

[2021-03-06 20:49] AndreiMisiukevich commented on #999
Fixed in #1003

[2021-03-06 20:49] #999 closed

[2021-03-06 22:07] Kapusch commented on #979
### TL;DR;
_Check about your async methods which occured before your BindingContext is initialized !_
______
I know that's not a concrete indication, but I guess this could help to understand the source of this issue.

In my case, it was clearly about async methods.
Indeed, I have a NavigationService which navigates from page to page thanks to async method.
And actually, once I sign in to my app,

[2021-03-07 03:40] goh-chunlin opened #1043 "[Bug] Blank Pages in the Sample UWP App"
### Description

### Steps to Reproduce

1. Clone the project to local machine;
2. Set UWP as the Startup Project;
3. Run;
4. Click on the Behaviors button;
5. The page is shown blank.

A detailed demo can be found on this video recording: https://youtu.be/CzxaT_GJiGg

As you can see in the video, the pages only displayed after the window is resized.

### Expected Behavior
The pages are shown succ

[2021-03-07 08:13] paradisehuman opened #1044 "[Enhancement] Expand MaskedBehavior to include MaskMoney."
## Summary

Hello. The masks provided by MaskBehavior are for stable patterns only. If we want to use a complicated pattern such as decimal currency format, nothing can be done. I suggest you check out the javascript example. It works exactly as we need it.

[javascript example](https://jsfiddle.net/msilvalopes/n0sz74qu/)

## API Changes
## Intended Use Case
MaskMoney masks input text as money.
##

[2021-03-07 12:00] teymur371 opened #1046 "[Bug] AvatarView Image Uri"
### Image is not being displayed from Uri

### Steps to Reproduce

1. AvatarView with the source from Uri
2. On first navigation to the page with AvatarView, everything is fine
3. On the second navigation, application throws an exception

### Expected Behavior
Display image properly

### Actual Behavior
Applciation throws "cannot access a closed Stream"

### Basic Information
Xamarin.Forms v5.0.0.

[2021-03-07 12:44] maxkoshevoi commented on #769
@AmrAlSayed0 there is a separate issue to support multiple resource managers #832

[2021-03-07 14:08] maxkoshevoi commented on #832
@WebDucer In your implementation you are searching through all resource managers until you find string with needed key.
So each key is unique across all resource managers? I don't think this is the case for all users that use several resource managers.
In your use case what is the point of having multiple resource managers if you are searching though all of them anyway?

Could you please take a lo

[2021-03-07 20:31] matsydoodles commented on #504
It is a tough one, because out of the box someone new to Xamarin with no MVVM experience probably can hit the ground running with this. However someone who is new to Xamarin but not to MVVM it is not as obvious. It took longer than I care to admit to realise it was done off of a `PageExtension`. Once I did it was fairly straightforward what I had to do. Someone who is new to Xamarin and MVVM might

[2021-03-07 22:17] AndreiMisiukevich commented on #1046
Hi @teymur371, could you please specify the platform?

[2021-03-07 22:34] AndreiMisiukevich commented on #1046
Also, could you please check if the issue exists on v1.0.2
And would be great if you could add a reproductions sample.

Thanks)

[2021-03-08 01:13] AndreiMisiukevich commented on #844
It seems it doesn't work well even with Command.

[2021-03-08 01:48] AndreiMisiukevich commented on #844
Unfortunately, it isn't designed to be working this way.
You can
1) Add effect directly to Button
OR
2) Move Command/Clicked to be bound to effect's Command/Completed event.

[2021-03-08 01:53] AndreiMisiukevich commented on #844
Sorry, but I am closing this issue since this effect is not supposed to cover this case.

[2021-03-08 01:53] #844 closed

[2021-03-08 08:35] teymur371 commented on #1046
Hi @AndreiMisiukevich , the platform is Android.
Checked with v1.0.2 , no issues there :)
And here is the sample for v1.0.3: https://github.com/teymur371/AvatarViewDemo
Steps to reproduce:
Navigate to ImagePage, then navigate to About, and then back to ImagePage )

[2021-03-08 09:40] WebDucer commented on #832
@maxkoshevoi No, the key is not unique. #1047 could match our needs.

[2021-03-08 10:26] maxkoshevoi commented on #832
@WebDucer Thank you for validating #1047

If key is not unique, then LRM would always return first value it finds (and never any others). How do you deal with that in your project? I don't use multiple resource managers, so would be happy to hear how people deal with them in the real world.

Benefits of your approach is that you don't need to provide `TranslateExtesnion` with resource manager ever

[2021-03-08 12:09] WebDucer commented on #832
@maxkoshevoi We explicitly use the possibility for everriding translations.

To prevent unwanted overriding, we use prefixes for translation keys, dependent on origin RESX project, e.g.:
- Common library
    - `COM_ButtonCancel`
    - `COM_ButtonAccept`
    - `COM_LabelCompany`
- App module 1
    - `MODA_LabelServer`
    - `MODA_LabelUrl`
    - `COM_LabelCompanny` (override the common library tran

[2021-03-08 13:04] maxkoshevoi commented on #832
@WebDucer Got it, thank you.
I can sill add this override logic in #1047 by making `DefaultResourceManager`(s) a collection.
- This would allow users to provide multiple resource managers as default ones, so they don't need to provide RM to `TranslateExtension` every time,
- or they can provide RM every time to avoid possibility of unwanted override, and to not need to add prefixes to the keys
- o

[2021-03-08 13:05] SPTutorial commented on #297
how to fix this issue? I am also getting the rotate image after capture

[2021-03-08 20:21] AndreiMisiukevich commented on #1046
awesome, thank you)

[2021-03-09 00:54] waltersh790824 commented on #776
Can confirm.  I have a standard picker inside of a tabview showing the same behavior.  Similar environment except no Refractored.MvvmHelpers 1.6.2

[2021-03-09 06:28] bbhxwl opened #1049 "How to set the text center of tabviewitem"
How to set the text center of tabviewitem

[2021-03-09 08:31] Cfun1 commented on #1049
Hi, it seems more of a question, if so you please close the issue and open a question in the [discussion section](https://github.com/xamarin/XamarinCommunityToolkit/discussions) instead. If it is a feature request could you please check if it isn't a duplicate of https://github.com/xamarin/XamarinCommunityToolkit/issues/776 ?

[2021-03-09 20:08] maxkoshevoi commented on #832
I think this needs to be a separate issue. Let's add basic support for multiple resource managers first, and add our custom override logic later.

My concerns are that this logic
- Will be used only for XAML, there is no alternative for C#
- Isn't present in vanilla resource manager, and might be confusing to the users
- I'm not sure how widely it is used/needed

But I don't have strong opinion ei

[2021-03-09 21:01] dansiegel opened #1051 "[Enhancement] Make TextCaseConverter support ANY type"
## Summary

Currently the TextCaseConverter is pretty explicit about requiring that the value passed in must be null, a string, or a char... This is pretty silly as you may be passing in an Enum or a custom type with an overridden ToString.

https://github.com/xamarin/XamarinCommunityToolkit/blob/caa3ebc71335d68e4a69758def542b322ccdbf90/src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/Text

[2021-03-09 22:18] AndreiMisiukevich commented on #1051
@dansiegel hmm, sounds good to me :)

[2021-03-09 23:51] AndreiMisiukevich commented on #1046
You can verify the fix here https://github.com/xamarin/XamarinCommunityToolkit/pull/1052

[2021-03-10 00:33] dansiegel commented on #1051
@AndreiMisiukevich should this target main or develop?

[2021-03-10 00:39] pictos commented on #1051
@dansiegel develop

[2021-03-10 12:49] #1024 closed

[2021-03-10 21:25] Kapusch opened #1055 "[Bug][Android] TabViewItem icons are very small with default TabStripHeight"
### Description
Icon and IconSelected specified in TabViewItem are rendered very small if I don't set a high value for TabStripHeight (> 60).
Note : this only occurs on Android.

### Steps to Reproduce

1. Run the repo on Android
2. Verify that icons are not correctly rendered
3. Click on "Workaround demo" button (Icons are rendered via a ControlTemplate)
4. Verify that icons are correctly rendere

[2021-03-11 00:39] AndreiMisiukevich commented on #1025
Fixed in #1042 will be available in the next major release (v1.1)

[2021-03-11 00:39] #1025 closed

[2021-03-11 00:39] AndreiMisiukevich commented on #1046
Fixed in #1052 will be available in the next major release (v1.1)

[2021-03-11 00:39] #1046 closed

[2021-03-11 01:05] AndreiMisiukevich commented on #845
@Tommigun1980 any updates regarding the sample app :)?

[2021-03-11 01:18] AndreiMisiukevich commented on #845
I guess it happens because the animation stops when the app goes to the background.

[2021-03-11 01:46] AndreiMisiukevich commented on #850
@Tommigun1980 posted PR

[2021-03-11 08:15] teymur371 commented on #1046
Great, Thank you!

[2021-03-11 08:19] angelru commented on #1018
Muchas gracias a los 2 :+1:

[2021-03-11 08:35] angelru opened #1057 "[QUESTION] TabView + LazyView"
I'm looking at the develop sample:
The  LazyView  ViewModel

`public static LazyTestViewModel Current { get; } = new LazyTestViewModel();`

It's already initialized, but shouldn't it be created when the view is also created?

[2021-03-11 12:06] aniruthg opened #1058 "[Bug][Android] TabView in RTL with Entries in content, changes tab when entry is focused"
Description
I have a need to have form based items in multiple tabs, and each tab has controls like Entry, Picker, Editor & button.
When the app is switched to RTL langusge (arabic), and the focus on the Entry forces the tabview to different (left-most) tab

Steps to Reproduce
1. Create multiple tab with entries.
2. Add support in Android RTL.
3. Change the app or page to RTL flow direction.
4. Ch

[2021-03-11 14:10] janispa opened #1059 "[Bug] CameraView does not take photos for iOS"
### Description
`CameraView` does not take photo under iOS. Android is not affected.

### Steps to Reproduce

1. Put `CameraView` on a page
2. Trigger `ShutterCommand`

### Expected Behavior
1. `MediaCaptured` event __is__ triggered

### Actual Behavior
1. `MediaCaptured` event __is not__ triggered

### Basic Information

https://github.com/xamarin/XamarinCommunityToolkit/blob/caa3ebc71335d68e4a69

[2021-03-11 16:10] Kapusch commented on #871
I have the same problem with the last release of VS for Mac.
But installing the last preview version did not help :(

This seems to be a recurrent issue, sadly...

[2021-03-11 18:59] stephenhauck opened #1061 "Decorate NumericValidationBehavior value"
### Description
I am using a NumericValidationBehavior
![image](https://user-images.githubusercontent.com/12648793/110839442-8d642d00-8271-11eb-9b5b-2dbb0eea5db4.png)

And a converter to format the display ...
`  public object Convert(object value, Type targetType, object parameter, CultureInfo culture)
        {
            return Decimal.Parse(value.ToString()).ToString("C");
        }`

![image

[2021-03-11 19:43] jinbatsu commented on #995
Thanks,.. it can also applied into style, I did it and it work.

[code]

Then, we can apply to TabView..
[code]

[code]

[2021-03-12 00:09] AndreiMisiukevich commented on #1061
Hi @stephenhauck
that's a VERY good question :)

You will have to extend NumericValidationBehavior.

[code]

And use MoneyValidationBehavior )

[2021-03-12 00:11] #1061 closed

[2021-03-12 02:54] sandesh-interserv commented on #980
IsTabTransitionEnabled="False" is a workaround for me. Although there is no transition, the indicator behaves properly.

[2021-03-12 08:34] maxkoshevoi opened #1065 "[Bug] XCT unit tests run for an hour and timing out sometimes"
### Description

Take a look at pipeline history here: https://dev.azure.com/xamarin/public/_build?definitionId=55&_a=summary

Almost all of the failed runs simply timed out. Build and unit tests for .Net Core 2 and 3 are passing, but tests for .Net Framework run for an hour and time out the pipeline:
https://dev.azure.com/xamarin/public/_build/results?buildId=36944&view=results
https://dev.azure.

[2021-03-12 12:36] Huaba93 opened #1066 "[Bug][TouchEffect] Resetting Application.MainPage leads to ArgumentNullException"
### Description
Resetting Application.MainPage leads to ArgumentNullException. I have also seen this with back navigation, but cannot reproduce it there on a regular basis.

Setting a new MainPage occurs frequently when using Prism. Absolute navigation sets a new MainPage.
For more infos about relative/absolute navigation see [Prisms documentation.](https://prismlibrary.com/docs/xamarin-forms/navi

[2021-03-12 20:08] themronion opened #1069 "[Bug] LocalizedString not displaying in Release mode"
### Description
@maxkoshevoi, i encountered a strange bug. Before the LocalizedString was added to the nuget package i added it to my project and it worked well. But now i've updated to the latest pre, replaced it with the implementation from the nuget and my strings stopped displaying at all (ONLY IN RELEASE MODE). So then, again i copy pasted the LocalizedString from the source code (i assume it

[2021-03-12 20:10] maxkoshevoi commented on #1069
Are you using 1.1.0-pre1 or pre2? There is a bug in pre1 that is fixed in pre2.

[2021-03-12 20:12] maxkoshevoi commented on #1069
Oh, it's only in release mode? That might be something new. Thanks for the report I'll take a look at it

[2021-03-12 20:18] themronion commented on #1069
@maxkoshevoi as i remember i tried both pre-releases. Yeap, the bug is indeed very strange

[2021-03-12 20:21] maxkoshevoi commented on #1069
Not that strange. I think linker just removed `Localized` property since it thinks that it's not used.

[2021-03-12 20:27] themronion commented on #1069
Ah, yeah, forgot about the linker. I think so too

[2021-03-12 20:31] maxkoshevoi commented on #1069
Strange. I cannot reproduce it. Could you please share release configuration of your app? Also, is it Android or iOS?

[2021-03-12 20:41] themronion commented on #1069
Tried on android only, i am using r8+d8, sdk assemblies only

[2021-03-12 20:55] maxkoshevoi commented on #1069
Used those settings and everything still works.
Here's what I've tried: https://github.com/maxkoshevoi/XamarinCommunityToolkit/tree/1069-repro (demo app has `LocalizedString` on settings page)

Could you provide a repro steps / code please?

[2021-03-12 20:57] themronion commented on #1069
I'll provide a repro then - tomorrow or on monday, thanks for a quick reply

[2021-03-13 01:01] woutervanoorschot opened #1070 "TouchEffect iOS command fires when scrolling"
### Description

The TouchEffect command fires when a user scrolls or flicks a scrollable view, starting the gesture on an item with a command. This results in the command firing (navigation in my case), while also scrolling the list. This only happens on iOS. The effect used is the native effect.

### Steps to Reproduce

1. Create listview/scrollview/collectionview with TouchEffect on the itemtem

[2021-03-13 10:40] themronion commented on #1069
@maxkoshevoi  Here u are mate. As we thought, its a linker problem. Adding somewhere in code
[code]
is a quickfix for now
[LocalizedStringBug.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6134572/LocalizedStringBug.zip)

[2021-03-13 13:26] maxkoshevoi commented on #1069
Thanks for the pepro app! Yep, it's linker:
![image](https://user-images.githubusercontent.com/6609929/111028101-1cea1700-83fd-11eb-82e7-5dc971c43a1e.png)

https://github.com/xamarin/XamarinCommunityToolkit/pull/1071 might fix it, but I was unable to verify it locally. When I created XCT NuGet locally and added it to the app, everything worked even without the fix.

Also I failed to figure out why

[2021-03-13 17:09] AndreiMisiukevich commented on #1066
Hello @Huaba93 and thanks for the report :) I will take a look

[2021-03-13 17:13] angelru opened #1072 "[QUESTION] SideMenuView - Collapse Left or Right Menu"
Let's say that in any of the side menus I have options, how do I collapse the menu when I click on any of them?

[2021-03-13 17:14] #1072 closed

[2021-03-13 17:21] AndreiMisiukevich commented on #922
Fixed in #1048

[2021-03-13 17:21] #922 closed

[2021-03-13 17:23] AndreiMisiukevich commented on #851
Fixed in #1064

[2021-03-13 17:23] #851 closed

[2021-03-13 17:27] #1057 closed

[2021-03-13 17:42] AndreiMisiukevich commented on #1070
If anybody knows how to fix it, feel free to leave a comment and submit a PR 👍

[2021-03-13 17:46] AndreiMisiukevich commented on #1069
Possibly fixed in #1071

[2021-03-13 17:46] #1069 closed

[2021-03-13 19:39] IeuanWalker commented on #1070
@AndreiMisiukevich a few years back when I was building a button control for an internal project I ran into this issue. This is the Commit that fixed it, can't remember much about it sorry - https://github.com/IeuanWalker/Xamarin.Forms.FlexButton/commit/b2088dfe86e75da58ee09ad0288cd1df5c93fa89

[2021-03-13 20:31] AndreiMisiukevich commented on #1070
@woutervanoorschot can you try to set DisallowTouchThreshold="1" and see if the issue still exists

[2021-03-13 21:53] maxkoshevoi commented on #1043
Issue exists for both `develop` and `main` branches.

[2021-03-13 22:04] Cfun1 commented on #1043
@goh-chunlin thanks for reporting but I believe it is a duplicate of https://github.com/xamarin/XamarinCommunityToolkit/issues/606, it also includes the resizing of he window as a workaround in comments.
cc @AndreiMisiukevich @pictos

[2021-03-13 22:13] pictos commented on #1043
@goh-chunlin this is a known issue and it's on Forms side. So I'm closing this one.

[2021-03-13 22:13] #1043 closed

[2021-03-14 00:17] brminnick opened #1075 "[Bug] ICommand Unit Test Race Condition"
### Description

There exists a race condition in the `IAsyncCommand` and `IAsyncValueCommand` unit tests that is causing the the tests to timeout.

The timeout happens in [tests like these](https://github.com/xamarin/XamarinCommunityToolkit/blob/b19a3fda461ef691b7a94da87a47088d530383e4/src/CommunityToolkit/Xamarin.CommunityToolkit.UnitTests/ObjectModel/ICommandTests/AsyncCommandTests/AsyncCommand

[2021-03-14 00:54] pictos commented on #677
@Cfun1 I would say that is an enhancement

[2021-03-14 01:29] Cfun1 commented on #1002
Closed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1068

[2021-03-14 01:29] #1002 closed

[2021-03-14 02:43] AndreiMisiukevich commented on #1024
@vipul386 hi) did you solve this issue? Or why you decided to close this one) Thanks

[2021-03-14 03:31] vipul386 commented on #1024
I closed this issue because I decided to stop using xamarin.

[2021-03-14 07:29] onlyargon opened #1077 "[Bug] Continues tab switching in tab view"
### When clicking on tabs very quickly, it's starting to switching tabs back and forth and not stoping

### Steps to Reproduce

1. Create a Xamarin.Forms project with XF 5.0.0.2012
2. Install xct and add tabs more than 2
3. Tap on tabs very quickly

### Expected Behavior
Switch tabs accordingly
### Actual Behavior
Continualsy switching tabs
### Basic Information

- Version with issue: -
- Last kno

[2021-03-14 13:06] maxkoshevoi commented on #1065
Duplicate of #1075

[2021-03-14 13:06] #1065 closed

[2021-03-15 06:45] sunkerGit opened #1079 "[Bug] adding x:name="[some name here]" - TabView cause error CS0103 on CS xaml"
### Description
adding x:name="{some name here}" or element  <xct:TabView on TABVIEW can cause error CS0103 and InitializeComponent() doesn't exist in the current context.
i.e:  <xct:TabView
                x:Name="cfView"
cfView got an error CS0103 as well and all x;Name on stacklayout,grid etc got an error CS0103

I was trying to
1. Close VS 2019 Community
2. delete BIN and OBJ folder on the ios

[2021-03-15 08:49] shyunMin opened #1080 "[Bug] BadgeView.BackgroundColor is not changed"
### Description

BadgeView.BackgroundColor is not changed after app is launched.

### Steps to Reproduce

1. Launch app which contains BadgeView
2. Change the BackgroundColor of the BadgeView

### Expected Behavior
The background color of the BadgeView is changed to the color I set.

### Actual Behavior
There was no changes on the app when I changed the BackgroundColor.
However that was applied wh

[2021-03-15 21:34] killer-frog commented on #1059
I can confirm that this is an issue and downgraded to v1.0.2 is a workaround.  It is an issue in v1.1.0-pre2 too.

[2021-03-16 00:29] AndreiMisiukevich commented on #365
@pictos @roubachof @aguevara716 @jfversluis where do we stand with this issue )

[2021-03-16 00:31] AndreiMisiukevich commented on #365
Do you folks think that using property builder has advantages over using named parameters?

[code]

[2021-03-16 00:40] brminnick commented on #1075
Keeping this Issue open after merging #1076 after seeing the race condition reappear in this test run: https://dev.azure.com/xamarin/public/_build/results?buildId=37226&view=logs&jobId=7868e7c0-c859-51b7-c3be-08c48f6833d0&j=7868e7c0-c859-51b7-c3be-08c48f6833d0&t=774b7b69-0550-5cc8-416b-64d3f6dd2c9a

[2021-03-16 00:41] AndreiMisiukevich commented on #1066
Closed in #1078

[2021-03-16 00:41] #1066 closed

[2021-03-16 00:41] AndreiMisiukevich commented on #861
Closed in #1078

[2021-03-16 00:41] #861 closed

[2021-03-16 01:18] jingliancui commented on #821
Mark [cordova-ios](https://github.com/apache/cordova-ios) and [cordova-android](https://github.com/apache/cordova-android), Maybe we can move the logic from these model to xct's controls.

[2021-03-16 01:21] jingliancui commented on #821
What's the challenge is how to dynamic map/register the customize js method to the c# code.

[2021-03-16 01:23] jingliancui commented on #821
After work above are finished. Then we can plan the work about use blazor.

[2021-03-16 01:35] brminnick opened #1083 "[Enhancement] Migrate Xamarin.CommunityToolkit.UnitTests to NUnit"
## Summary

This enhancement will migrate `Xamarin.CommunityToolkit.UnitTests` from xUnit (which it currently uses) to NUnit.

The reason for migrating to NUnit is two fold:
1. `Xamarin.CommunityToolkit.Markup.UnitTests` currently uses NUnit
  - Keeping the unit testing framework consistent will allow for a consistent experience for contributors and maintainers
2. [xUnit doesn't support the comman

[2021-03-16 01:36] brminnick commented on #1083
Currently on-hold until we merge v1.1.0 to `main`

[2021-03-16 01:47] brminnick commented on #254
Closed via #1009

[2021-03-16 01:47] #254 closed

[2021-03-16 01:50] brminnick opened #1084 "[Enhancement] Enable Nullable for Xamarin.CommunityToolkit.Markup.UnitTests"
## Summary

This enhancement will enable [Nullability](https://docs.microsoft.com/dotnet/csharp/nullable-references#nullable-contexts&WT.mc_id=mobile-0000-bramin) for `Xamarin.CommunityToolkit.Markup.UnitTests`:
- Add `<Nullable>enable</Nullable>` to each CSPROJ
- Add [`<WarningsAsErrors>nullable</WarningsAsErrors>`](https://stackoverflow.com/a/62116924/5953643) to each CSPROJ

We enabled Nullable

[2021-03-16 06:42] nor0x commented on #1066
i have tried the NuGets from #1078 but i'm still having this issue - on UWP however where it leads to the following exception

[code]

[2021-03-16 08:52] jfversluis commented on #821
Hey there, thanks for the suggestion. Can we, instead of only mentioning the Docs, talk about why you want to use this? What benefit will it bring you? How do you want to use this and what scenarios?

To be honest, and that's my personal opinion, I feel that WebViews are great to just show some webpage or thing, but nothing more beyond that. I don't like working on hybrid apps or even with hybrid

[2021-03-16 09:14] jingliancui commented on #821
@jfversluis Yep, Of course scenarios:
1.My Some clients have a WebUI + .net Server team , not have the mobile team but want the native mobile api like location、contact info etc ...... So they want use the WebUI team to fast build UI and let my team to help implement the native mobile feature.
2.Blazor feature just the new idea I thought.While .net 5 have the powerful blazor feature , it help lots

[2021-03-16 09:39] HeikkiDev commented on #821
I found Hybrid WebView requirement more than once in my projects, so I guess it may be usual.

But my opinion is to not add this control because Microsoft docs about Hybrid WebView is clear and easy enough to implement.

[2021-03-16 09:39] IeuanWalker commented on #821
@jfversluis @jingliancui
We've been using this for a few years and been perfect - https://github.com/SKLn-Rad/Xam.Plugin.Webview

We use it because we have an internal mapping system that is only web based. So using this webview I'm able to pass the GPS location on page load to centre the map, and when the user selects a location the javascript calls the C# method to pass the location info back to

[2021-03-16 12:11] jingliancui commented on #821
@HeikkiDev Yep , but docs' register method is easy, now I use the method string + parameters string to deal. So maybe  https://github.com/SKLn-Rad/Xam.Plugin.Webview or Cordova have good solution for this situation.

[2021-03-16 16:37] PureWeen commented on #1083
Just an FYI

We're migrating everything to xunit on the .NET MAUI side of things

[2021-03-16 16:49] brminnick commented on #1083
Thanks Shayne! Good to know!

We'll be chatting about the Community Toolkit's .NET MAUI migration soon (we're still in the early planning stage for .NET MAUI support), and I'll make sure we factor this in 👍

[2021-03-16 17:17] PureWeen opened #1087 "[Spec] SemanticOrderView"
# SemanticOrderView

Currently TabIndex and IsTabStop are problematic APIs with Xamarin.Forms.
https://github.com/xamarin/Xamarin.Forms/issues/13962#issuecomment-796031737

Because we are not adding any new APIs to XF and .NET MAUI is still a few months out it would be useful if XCT could help provide a way for users to implement Focus Ordering

I have a basic implementation here
https://github.co

[2021-03-16 18:59] jfversluis commented on #1087
And if this can somehow be integrated with #841 that would be amazing?! 😱

[2021-03-16 21:24] AndreiMisiukevich commented on #1080
Fixed in #1081

[2021-03-16 21:24] #1080 closed

[2021-03-16 21:26] AndreiMisiukevich commented on #1066
Hey @nor0x, it seems it's a different issue (at least because I applied fixes to shared logic).
Could you please share more info about reproducing this crash. What was the scenario? (changing Application.MainPage or something else?)

Thanks

[2021-03-16 21:30] AndreiMisiukevich commented on #821
iOS: https://github.com/AndreiMisiukevich/Xamarin.HybridWebView/blob/master/iOSRenderer.cs
Android: https://github.com/AndreiMisiukevich/Xamarin.HybridWebView/blob/master/AndroidRenderer.cs

[2021-03-16 22:54] pictos commented on #1079
@sunkerGit could you attach a repro?

[2021-03-16 23:02] #1049 closed

[2021-03-16 23:06] #1022 closed

[2021-03-16 23:08] pictos commented on #1077
@onlyargon could you attach a small repro?

[2021-03-16 23:23] pictos commented on #997
@mknotzer
Could you attach a small repro?

[2021-03-16 23:25] pictos commented on #993
@maxkoshevoi
Could you attach a small repro?

[2021-03-16 23:26] pictos commented on #962
Duplicate of #953

[2021-03-16 23:26] #962 closed

[2021-03-17 01:26] brminnick commented on #1075
Currently investigating known issues with xUnit's implementation of SynchronizationContext:
https://github.com/xunit/xunit/issues/883

[2021-03-17 03:09] mtsrdr opened #1091 "[Bug] TabView does not respect the BindingContext the user manually assigns to TabViewItems"
### Stackoverflow question
[Prism View is being assigned parent page ViewModel inside XCT tabview](https://stackoverflow.com/questions/66625126/prism-view-is-being-assigned-parent-page-viewmodel-inside-xct-tabview/66666292#66666292)

### Description
TabView overwrites the BindingContext value of TabViewItems content views.

https://github.com/xamarin/XamarinCommunityToolkit/blob/3abf5fa7eeaa29e76e

[2021-03-17 07:55] sunkerGit commented on #1079
please on the attached fies above

[2021-03-17 08:28] jingliancui commented on #821
So , Do you consider make it to xct ? If yes I could  prepare the work : ) @jfversluis @AndreiMisiukevich @IeuanWalker

[2021-03-17 08:48] sunkerGit commented on #1079
When I remove the XAML files that included <xct:TabView, all XAML cs was working normal, no error and red highlighted for iOS, see file: HospitalPage.xaml.cs
<img width="1440" alt="Screen Shot 2021-03-17 at 16 36 04" src="https://user-images.githubusercontent.com/3633650/111439343-3ca47680-8740-11eb-998f-12bc630c35e0.png">
<img width="1440" alt="Screen Shot 2021-03-17 at 16 32 29" src="https://use

[2021-03-17 10:46] pictos commented on #1079
@sunkerGit thanks for the screenshots, that helps but I insist on you sending a small repro. Let me explain why. Most of the contributors here are community members, which means that we triage issues, review code, test code, fix bugs in our spare time. So it's a lot of stuff to do, and try to create a repro demands time as well, so if the person that opens the issue can attach a bug that makes our

[2021-03-17 11:12] nor0x commented on #1066
Hi @AndreiMisiukevich i have replied directly in the PR - in my case i'm also replacing the MainPage at some point of the application lifecycle

[2021-03-17 23:56] AndreiMisiukevich commented on #821
CC @jfversluis

[2021-03-18 00:01] AndreiMisiukevich commented on #850
Fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1056

[2021-03-18 00:01] #850 closed

[2021-03-18 00:01] AndreiMisiukevich commented on #845
possibly fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1056
Please review and feel free to reopen :)

[2021-03-18 00:01] #845 closed

[2021-03-18 00:16] sunkerGit commented on #1079
Thanks for the feedback!.
Please see the attached file repo and also screenshot below
<img width="1440" alt="Screen Shot 2021-03-18 at 08 11 17" src="https://user-images.githubusercontent.com/3633650/111554834-132c2f00-87c2-11eb-8d04-9e41c635d58f.png">
[TabViewBugs.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6160457/TabViewBugs.zip)

[2021-03-18 00:30] AndreiMisiukevich commented on #869
Hi @CliffAgius thanks for your feedback.

if you wish to hide some of thumbs, you have two options
1) Use regular Slider from Xamarin.Forms box
2) Set LowerThumbSize="0" if you wish to hide lower thumb and UpperThumbSize="0" if you need to hide upperthumb

[2021-03-18 00:47] Immons opened #1095 "[Bug] TouchEffect LongPress doesn't work on iOS device"
### Description
TouchEffect LongPress on ListView cell template doesn't fire on iOS device. Work well on iOS simulator.

### Steps to Reproduce

1. Create listview and its item template
2. Add longPress effect
3. Run on iOS device and Simulator

### Expected Behavior
LongPress effect should trigger on device same as on simulator

### Actual Behavior
LongPress efect is not triggered

### Basic Info

[2021-03-18 01:54] pictos commented on #1079
@sunkerGit thank you for it, I'll take a look asap

[2021-03-18 01:55] pictos commented on #1095
@Immons
Could you attach a small repro?

[2021-03-18 05:14] bbhxwl commented on #788
1.0.3   MediaElementRenderer does not exist

[2021-03-18 08:59] CliffAgius commented on #869
@AndreiMisiukevich Yes I have it working great with setting the ThumbSize to Zero but be great to have as part of the control so that it's obvious.  Also means that if the value is set to non-zero in the Model you can still have it turned off in the view.

The main reason for the Issue though is the Fixed position Min/Max labels rather than having to carefully position separate Labels above the co

[2021-03-18 16:07] #1083 closed

[2021-03-18 16:09] brminnick commented on #1075
Confirmed xUnit’s implementation of SynchronizationContext was causing the race condition.

Migrating to NUnit resolved the errors https://github.com/xamarin/XamarinCommunityToolkit/pull/1090

[2021-03-18 16:09] #1075 closed

[2021-03-18 19:09] #1084 closed

[2021-03-18 20:48] mavispuford opened #1096 "[Enhancement] [CameraView] Allow access to the live camera feed in CameraView"
## Summary

With on-device machine learning libraries like Google's ML Kit becoming popular, it's important that we have a way to access the live camera feed so that image processing can happen in real time.

## API Changes

### **Shared Code Changes:**

This would require that a new CameraCaptureMode value be added:

[code]

### **Android Changes:**

**NOTE: For Android, this is no longer the pro

[2021-03-18 22:32] AndreiMisiukevich commented on #1095
Hello, thanks for the report. Please provide a sample :)

That's a very odd bug though. At least because long press is detected in shared code...

[2021-03-19 04:08] #953 closed

[2021-03-19 06:57] mhrastegary77 opened #1097 "[Enhancement] Transparent background for Popup"
### Summary
Hi! i know it's still in preview but i have a popup in my pet project that has UWP(sadly it's not implemented yet) and iOS and Android versions and i really wanted to replace the ...... popup with XCT's (because i love how XCT puts native popup into the projects) and i have a issue with **setting background of popup to transparent**.

also i just found out in iOS we have a padding and

[2021-03-19 07:28] ManuLin commented on #777
I'm facing the very same issue when recording videos on Android. Is there any solution / fix for this yet?

[2021-03-19 07:52] FM1973 commented on #793
Hello.
I got the same problem using the camera view.
In debug mode everything works fine. In release mode the app crashes.
Setting the linker option from "Link SDKs Only" to "none" solves the problem.

[2021-03-19 08:36] mhrastegary77 opened #1098 "[Enhancement] Context menu"
## Summary
can we expect a simplified (using it in xaml) of [this](https://github.com/SKLn-Rad/Xam.Plugin.PopupMenu) POPUP MENU?
 i saw it in many native apps and it's a very handy feature!!!

## API Changes
I found a repo that did this but it's old and buggy!

https://github.com/SKLn-Rad/Xam.Plugin.PopupMenu

## Example Screenshot
i used it a year ago when I started using Xamarin.forms in my play

[2021-03-19 08:58] andreybel opened #1099 "AnimationBehavior in Android fires event twice."
Here is the code sample:

[code]

Target command fires twice.

Xamarin Frorms Version="5.0.0.2012"
Prism MVVM Version="7.2.0.1422"
VS 2019 Version="16.8.3"

[2021-03-19 10:37] woutervanoorschot commented on #1070
Hello,

DisallowTouchThreshold=1 fixes the problem! I am trying to understand the implmentation code, but do not fully understand what it does yet. For now my problem is solved though, maybe '1' should be the default? But I don't know if that hinders usage elsewhere.

Thanks!

[2021-03-19 12:19] pictos commented on #1098
@mhrastegary77 please see the pop-up view control. We have the anchor feature that I believe do what you want.

[2021-03-19 12:21] pictos commented on #793
@FM1973 could you use the same linker behavior for debug and share the exception and logs with us? Thanks

[2021-03-19 14:57] MaxFmi opened #1100 "[Enhancement] Simple implementation of NotifyPropertyChanged"
## Summary

I'm just wondering why we've to implement NotifyPropertyChanged ourselves?

## API Changes

[code]

## Intended Use Case
Properties of any ViewModel.

## Who Will Do The Work?

- [X] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-03-19 16:51] Cfun1 commented on #1100
@MaxFmi have you take a look at [ObservableObject](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/ObservableObject.shared.cs) ?

[2021-03-19 21:15] AndreiMisiukevich commented on #1070
@woutervanoorschot thanks for the feedback :) no problem I will explain what is it.

DisallowTouchThreshold manages how many points you may drag your finger overview before the touch will be canceled.

Usually, you can press the view and move your finger (view will be preserved as "pressed"), but when you set DisallowTouchThreshold=1 it means that the touch will be canceled as soon as you try to m

[2021-03-19 21:16] #1070 closed

[2021-03-19 21:19] AndreiMisiukevich commented on #1097
Hey @ahoefling any chance to take a look at this?

[2021-03-19 21:20] AndreiMisiukevich commented on #1099
@jsuarezruiz any chance to take a look?

[2021-03-19 21:28] AndreiMisiukevich commented on #1100
Hey @MaxFmi thanks for the interest in this project)
As @Cfun1 mentioned, give a chance to ObservableObject that is pretty similar to what you posted and let us know about your experience. Feel free to reopen this issue if you have any concerns

[2021-03-19 21:28] #1100 closed

[2021-03-19 21:31] ahoefling commented on #1097
I'm more than happy to look at this. Can you share a sample project or the popup XAML/c#.

[2021-03-19 22:27] pablogupi commented on #1095
I have same issue.
 This is my XAML code:

[code]
Nuget versions:
        Xamarin Forms 5.0.0.2012
        Xamarin Community Toolkit 1.0.3

I have other plugins like Refit, Akavache, Users dialogs, FFImageDialogs or Essentials.

I try to set commands in Frame or add only LongPressCommand whiteout other options. The code is same to XamarinToolkit sample. In sample work correctly.

[2021-03-20 05:56] mhrastegary77 commented on #1097
Yeah sure!
[issue1097.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6174977/issue1097.zip)

[2021-03-20 08:09] MaxFmi commented on #1100
ObservableObject looks good. Thanks :-)

[2021-03-20 09:55] MaxFmi opened #1101 "[Enhancement] Simple thread safe ObservableRangeCollection"
## Summary

We have a contract for ListViewItems. This contract gets implemented from multiple modules. To avoid thread issues we're using our own thread safe implementation of ObservableRangeCollection. Would be great to have a thread safe variant in the XCT.

## API Changes
[code]
## Intended Use Case
Everywhere where adding and removing can be triggered from multiple areas at the same time.

##

[2021-03-20 16:26] ahoefling commented on #1097
@mhrastegary77 I downloaded your sample code and made some changes to it to help get you a little further with XCT Popups.

You need to add the following property to your XAML `Color="Transparent"`. This will set the color of popup independent of the content control. In your example you use the `sh:MaterialFrame` with rounded corners, which is your main control. The native popup will need to have

[2021-03-20 16:52] mhrastegary77 commented on #1097
WOW! this is amazing Andrew, i don't know what to say! thanks!!!❤
btw i tried with BackgroundColor and Background and didn't work. i didn't know about that Color property, sorry :(

[2021-03-20 16:59] pictos commented on #1097
@mhrastegary77 if the property name was `BackgroundColor` or `PopUpBackgroundColor` do you think that you could found it easier?

[2021-03-20 17:03] mhrastegary77 commented on #1097
well, i didn't.

[2021-03-20 17:09] pictos commented on #1097
The current name is `Color` and not `BackgroundColor`, I'm asking because if you feel that another name would be more intuitive we can see if we can change the name

[2021-03-20 18:27] ahoefling commented on #1097
@pictos I think our biggest problem is we don't have the documentation put together for this. People have to guess on the API or read the implementation details. The XML docs don't really work in the XAML editor. It should be a slightly better dev experience for C# views.

This is mainly my fault as I haven't had the time to write the docs yet 😞

[2021-03-20 18:45] pictos commented on #1097
IF you feel that the prop. the name will not make it easier to discover let's keep at it's. @mhrastegary77  Can we close this issue?

[2021-03-20 19:23] mhrastegary77 commented on #1097
No @ahoefling  it's not your fault ❤

ok i will @pictos 👀

[2021-03-20 19:23] #1097 closed

[2021-03-20 21:35] pictos commented on #1097
Thanks @mhrastegary77

[2021-03-20 23:29] AndreiMisiukevich commented on #1095
Hey @pablogupi, you mean you cannot reproduce this issue on XCT repo?
Can you reproduce it on iOS simulator?

[2021-03-21 11:13] Kapusch commented on #947
Same in 1.1.0-pre2

[2021-03-21 16:16] PureWeen commented on #841
What are the thoughts around this behavior as it relates to Accessibility?

Would this behavior be considered surprising? or helpful? to a user navigating with Talkback/Voiceover.

[2021-03-21 16:26] pictos commented on #841
@PureWeen this behavior is already merged on develop. We can use it with a11y to pass the focus to another control. For now, this just works on Entry, but we can try to make it more generic. TBH I don't if Forms allows to set focus in any `VisualElement`, if so that can be easy to do, if not can take more 10 minutes xP

[2021-03-21 16:31] pictos commented on #841
Closing this issue since we already have this merged.

[2021-03-21 16:31] #841 closed

[2021-03-22 05:31] FM1973 commented on #793
Sure...
That´s the exception:

[mono] Unhandled Exception:
[mono] System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.ArgumentException: EventToCommandBehavior: Couldn't resolve the event.
[mono] Parameter name: EventName
[mono]   at Xamarin.Forms.Behavior.Xama03-22 01:29:02.559 E/mono    ( 4958):   at Xamarin.CommunityToolkit.Behavior

[2021-03-22 10:03] AswinPG opened #1104 "When using an indicatorview with a custom indicatortemplate inside the tabview, App crashes after changing tabs [Bug]"
### Description
When using an indicatorview with a custom indicatortemplate inside the tabview, App crashes after changing tabs.
Error - The specified child already has a parent. You must call removeView() on the child's parent first (Android)

### Steps to Reproduce

1. Create a tabview with 5 tabs
2. Add an indicatorview with custom indicatortemplate
3. change tabs from view that contain the ind

[2021-03-22 13:01] geskill opened #1105 "[Bug] Save area does not update on orientation and status bar changes"
### Description

### Steps to Reproduce

1. Open sample app with safe area effect demo
2. Rotate phone while effect is enabled

### Expected Behavior

![Simulator Screen Shot - iPhone 12 - 2021-03-22 at 13 53 39](https://user-images.githubusercontent.com/6826752/111993315-c3799a80-8b16-11eb-9549-fb2e1ec31a9d.png)
![Simulator Screen Shot - iPhone 12 - 2021-03-22 at 13 54 18](https://user-images.git

[2021-03-22 13:16] Cfun1 commented on #1004
@pictos please assign me I have started working on this.

[2021-03-22 18:02] sylendra7 opened #1107 "Change the CenterButton Image with Functionality"
I have the tab strip as mentioned in the below screenshot. On clicking on centerbar I want to navigate to the tabview item and need to update that center image with the rounded plus image. (Rounded plus image will open the camera or gallery). How we can do this using the TabView

<img width="317" alt="Screenshot 2021-03-22 at 11 23 13 PM" src="https://user-images.githubusercontent.com/15817571/112

[2021-03-22 20:00] #948 closed

[2021-03-22 20:26] pablogupi commented on #1095
the XCT sample project works correctly. In my project it does not work in simulator or in iPhone. I have tests pending on Android

[2021-03-22 23:40] AndreiMisiukevich commented on #1095
Can you build a small sample?

[2021-03-23 01:20] AndreiMisiukevich commented on #1095
Make sure you added XCT nuget to all porjects

[2021-03-23 06:40] WiproSarthak commented on #1107
@sylendra7 You can create your own template and assign it to 3rd tab item. And you can change Icon source based on IsSelected property each tab item is having.
This functionality is also implemented in Sample app you can take reference from there as well.

[2021-03-23 08:19] gianluigi1961 opened #1110 "Video problem"
Hi,
I try to use the CameraView to record a video but most of the time I get the file path back but the file is not present and sometimes it creates me 1 file with zero bytes

Thanks for your help
Gianluigi

[2021-03-23 12:02] jamsoft commented on #417
I'm seeing this issue on Android on all the latest versions of XF and the Toolkit.

[2021-03-23 14:02] IeuanWalker opened #1111 "[Bug] Lifecycle events Loaded event triggered twice"
### Description

- When **Loaded** + **unloaded** added
	- loaded event triggered twice (android + iOS)
- Just **loaded** added
	- Behave as expected and only 1 loaded event is triggered (android + iOS
- Not sure how to trigger **unloaded** on either platform

### Steps to Reproduce
Here is a repo -
[LifeCycleEventsRepo.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6190168/LifeCycl

[2021-03-23 14:28] PaulP92 opened #1112 "[Bug] StateLayout never go back to normal state"
StateLayoutController does not store the original content, because previousState is now nullable:

https://github.com/xamarin/XamarinCommunityToolkit/blob/aba6205274a7fb8c8a55eaedb8001e3a693ed5f1/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/StateLayout/StateLayoutController.shared.cs#L14

When switching to a template the if statement is wrong:
https://github.com/xamarin/XamarinCommunityTool

[2021-03-23 15:12] #1110 closed

[2021-03-23 15:13] gianluigi1961 commented on #1110
it's a duplicare issue

[2021-03-23 16:47] jamsoft commented on #396
I'm seeing exactly this issue too. In fact everything I've needed to do or tried with this control has failed to the point where I'm looking for an alternative.

[2021-03-23 18:53] peterfoot commented on #727
The whole purpose of that property is to prevent the device from sleeping. What is behaving incorrectly? Is it not resetting when the video has stopped?

[2021-03-23 18:56] peterfoot commented on #411
@sthewissen yes, the whole point of that PR was to make the property bindable for this exact scenario

[2021-03-23 19:00] peterfoot commented on #417
The reference PR re-wrote how Position is handled. However there is an outstanding issue where you can't seek increments smaller than 300ms. Another user was investigating whether this limitation is still required with the new implementation.

[2021-03-23 19:03] peterfoot commented on #412
This was resolved in PR  #381

[2021-03-23 19:10] peterfoot commented on #396
Can you share the sequence of steps you are using with Xamarin forms and those with the Android native media player? Trying to setup a repro scenario

[2021-03-23 20:48] NebulaSleuth commented on #727
Well, it does prevent sleeping.  Only that is ALWAYS prevents sleeping regardless of the setting.  So the device will never sleep even if set as KeepScreenOn=false.  So if you are playing a video, the device will stay awake until the video, however long, is playing.

I would expect that if the setting is off/false, the device would be allowed to go to sleep.

[2021-03-24 04:52] MichaelStgt commented on #847
Have a look at the Windows Community Toolkit. They have a shadow for windows UWP and I implemented it in my Controls Toolbox, but only in a Custom Frame Control.

[2021-03-24 12:21] JoacimWall commented on #1112
I have this issue also.

[2021-03-24 20:24] maxkoshevoi commented on #1101
IMHO: Better name would be `ConcurrentObservableRangeCollection` to be more inline with other thread safe collections already present in .Net

[2021-03-24 21:12] cabal95 opened #1116 "[Bug] Documentation for Delegate Weak Event Manager seems wrong."
### Description

The documentation markdown file for the Helpers directory seems to have incorrect information regarding DelegateWeakEventManager. More specifically, it seems like the exact same code as the section above. I think this section is supposed to use `DelegateWeakEventManager` instead of just `WeakEventManager`.

https://github.com/xamarin/XamarinCommunityToolkit/tree/main/src/Community

[2021-03-24 22:26] TravyDale opened #1118 "[Enhancement] Allow TabItem's text to not always be uppercase on Android"
## Summary

Currently, TabItem's on Android default to the Material Design template. That template will always use uppercase to follow Android's Material Design. To be flexible, it would be nice for developers to be able to override this and choose how the text would be displayed.

## API Changes

To solve this change, a new binding of type 'TextCaseType' would be added to the TabViewItem class. I

[2021-03-24 23:53] sattew commented on #847
Did you mean this [shadow](https://github.com/windows-toolkit/WindowsCommunityToolkit/blob/master/Microsoft.Toolkit.Uwp.UI.Controls.Core/DropShadowPanel/DropShadowPanel.cs)?

[2021-03-25 08:15] #76 closed

[2021-03-25 08:24] vecalion commented on #979
We're also experiencing this bug. Here is a minimal repro changes: https://github.com/vecalion/XamarinCommunityToolkit/commit/829479e01a2a568b8f81488976f824b7fad88623
(Start the sample project -> Views -> TabView -> Getting Started)

Here is a video demonstration:
https://1drv.ms/v/s!AvwfTJGXo3Kxg5oX-HRPnqZKynvh-g?e=AchHNL notice that the index is indefinitely changed from 0 to 1 and back to 0

@j

[2021-03-25 09:37] jslachta opened #1120 "[Bug] AvatarView does not load Initials on UriImageSource with HTTP 204 (no content)"
### Description
I am not sure whether this should go for Xamarin.Forms or XCT.

Let's say we have a list of persons. Some of them have a picture, and some of them do not have a picture.

In the case of HTTP status code 204 (HTTP status code for no content), the AvatarView shows empty AvatarView instead of showing Initials. In the case of HTTP status codes higher than 400, the AvatarView loads init

[2021-03-25 10:33] sattew opened #1121 "[Enhancement] SwitchConverter"
## Summary

Implement SwitchConverter that allows to set values for the bindning depends on some state. I think it's a good idea to allows the IfElse, IfElseIf conditions in XAML.

## API Changes

[code]
[code]

## Intended Use Case
Picture, we have collection of Orders with Property "State" (Created, Paid, Canceled) and we need to change BackgroundColor

- white — Created
- green — Paid
- red — C

[2021-03-25 16:50] jpmirfcb commented on #1112
Me too...

[2021-03-25 19:24] Cfun1 commented on #1112
I believe it is cleaner to initialize the previousState field with LayoutState.None value instead of doing a null check.

[2021-03-25 20:01] Cfun1 opened #1123 "[Enhancement] Extend SetFocusOnEntryCompleted behavior to Layout<View>"
## Summary
Extend current implementation of `SetFocusOnEntryCompleted` to layouts, provide auto focus on a next Entry child of the layout attached to it, based on:
- Visual tree order.
- Or custom order (not sure about usefulness of this compared to the current implementation)

## API Changes
[code]
[code]
PS: Please don't mind naming initially.

## Intended Use Case
Automatically focus on next vi

[2021-03-25 22:00] AndreiMisiukevich commented on #1120
@jslachta hm, we definitely need a sample of such image.

[2021-03-25 22:06] twop opened #1124 "[Bug] Cannot build F# project after installing xamarin.communitytoolkit NuGet package"
### Description
After I add xamarin.communitytoolkit package I can no longer build F# project due to .cs file.

Build error:
[code]

### Steps to Reproduce

1. Install xamarin.communitytoolkit NuGet package to F# project (.netstandard 2.0)
2. Build

### Expected Behavior
I can build the project

### Actual Behavior
There is a build error

### Basic Information

- Version with issue: 1.1
- Last kno

[2021-03-25 22:29] IeuanWalker commented on #1121
Isn't this just a data trigger? https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/triggers#data-triggers

[2021-03-25 22:56] sattew commented on #1121
Oh, sorry, I haven't seen it ...or forgot 😄 . So it's looks like what I described... And it works fine. Closed)

[2021-03-25 22:56] #1121 closed

[2021-03-26 08:41] rubiktubik commented on #1112
Is there a workaround to prevent a blank screen?

[2021-03-26 09:12] PaulP92 commented on #1112
Maybe if you use another LayoutState for your normal State, like LayoutState.Success.

[2021-03-26 13:04] GUOLDEV opened #1128 "[Enhancement] Add ListCountConverter"
## Summary

I have just created a [PR](https://github.com/xamarin/XamarinCommunityToolkit/pull/1127) adding a converter that returns the number of elements in a collection, even if the collection is null for example, reducing unnecessary null checks and returns what I want, just the number of elements.

## API Changes

Create a converter In order to facilitate getting the number of elements in a c

[2021-03-26 13:35] GeorgeVelikov commented on #300
This still happens I'm afraid

[2021-03-26 15:06] maxkoshevoi commented on #1128
Thanks for contribution, but I have some doubts regarding it's usefulness.

All this convertor does is removes `null` checks, but if you use `ObservableRangeCollection` (like you do on the sample page), it will never be null. Additionally `null` and `empty collection` doesn't always mean the same thing. If they do, you can just initialize your collection property with empty collection to begin wit

[2021-03-26 16:29] sunil12345678910 opened #1129 "AvatarView doesn't displays image"
We are using AvatarView in our Xamarin project. Previous version-1.0.3 works as expected on all platforms. Upgrading to latest version- 1.1.0 doesn't display source image only on UWP,  works on IOS and Android.

[2021-03-26 17:48] jslachta commented on #1120
@AndreiMisiukevich, I have some troubles with providing a repro. I have currently so little time to debug it.

- I have created sample WebApi project with ASP.NET Core. This provides 2 methods, one returns Xamarin logo, and the second one returns No content.
- There is also a Xamarin Forms project with two avatarviews, one pointing to the method providing an image, and the second one to no-content

[2021-03-26 20:46] cuethenoise commented on #777
I call Camera.Shutter() to start the video and Camera.Shutter() to stop.

I'm seeing 2 files created one is always empty and the empty one is the path given to the MediaCaptured event.

[2021-03-26 21:26] GUOLDEV commented on #1128
@maxkoshevoi thank you very much for your feedback. What type of collection `Items` that you refer to that is not going to working with the converter `{Binding Items, Converter={xct:ListCountConverter}` but works with `{Binding Items.Count}` approach?

Another thing is that I don't think it is a good idea to bind nested objects as`{Binding Items.Count}`, I prefer binding flat objects.

[2021-03-27 00:50] #1120 closed

[2021-03-27 10:31] maxkoshevoi commented on #1129
Related to: https://github.com/xamarin/XamarinCommunityToolkit/issues/998

[2021-03-27 12:25] GUOLDEV opened #1134 "[Enhancement] Add StringToListConverter"
## Summary

I have created a [PR](https://github.com/xamarin/XamarinCommunityToolkit/pull/1132) adding a converter that returns an array whose elements contain the substrings in this string that are delimited by a separator, based on the converter ListToStringConverter.

![image](https://user-images.githubusercontent.com/22019245/112720903-cb896e00-8f4c-11eb-898e-13c2f64a16b5.png)

## API Changes

[2021-03-27 12:34] AndreiMisiukevich commented on #1128
@GUOLDEV is there any case when a converter cannot be replaced by ```Items.Count```?
I don't think it's a bad practice to use "nested" bindings. We usually use them for x:Reference bindings when one control binds to another one)

[2021-03-27 12:42] GUOLDEV commented on #1128
@AndreiMisiukevich, thanks for your feedback. I think the intent of having a converter is to help active something avoiding extra coding, simplifying things. Answering your question, I believe it is case by case, I didn't say `Items.Count` is wrong or bad, but I do prefer flat objects in the bindings.

[2021-03-27 12:59] maxkoshevoi commented on #1128
I didn't say that it's not going to work, just that value wouldn't update without additional code (in case of `ObsevableCollection` or `ObservableRangeCollection`).

I just don't see much value in this convertor. `{Binding Items.Count}` will work just fine, or even better (considering that it would autoupdate its value).

Regarding the null check:
- Creating a whole new convertor just to avoid nul

[2021-03-27 13:05] GUOLDEV commented on #1128
@maxkoshevoi the reason that I am asking about the type of collection that you refer is that my sample for this converter is using `ObservableRangeCollection` and it works without any extra code.

[2021-03-27 13:10] maxkoshevoi commented on #1128
Try removing this line from you sample page:
`Items.CollectionChanged += (sender, e) => OnPropertyChanged(nameof(Items));`

This is extra code that is not needed for `{Binding Items.Count}`