[2021-09-08 23:01] pictos commented on #1572
@JunkyXL86 I tried to reproduce it and everything works as expected. This error is very odd, since our package has a dependency on .netstandard 2.0. So this should be something in your environment.

[2021-09-09 03:44] GUOLDEV commented on #1587
Hey @pictos could you please close this issue? Thanks 🙏

[2021-09-09 03:45] #1587 closed

[2021-09-09 05:29] michaldivis commented on #901
@ShinichiHezemansCortegs Yes, I am having the same problem. **It still doesn't work**. I get the exact same error when I run the app.

Upon tapping the "Take photo" button, the camera becomes busy, but nothing else happens, except for a crash report in the output.

I'm using my [reproduction app](https://github.com/michaldivis/camera-view-app) and I've updated the nuget packages.

### Nuget packag

[2021-09-09 09:50] ShinichiHezemansCortegs commented on #901
When not using hot restart (using the mac) the app no longer crashes. But the MediaCaptured and MediaCaptureFailed still don't get called.
The fix doesn't work for me.

### Nuget packages

- Xamarin.CommunityToolkit 1.3.0-pre2
- Xamarin.Essentials 1.7.0
- Xamarin.Forms 5.0.0.2083

### hardware

- IPad Air 4th generation

[2021-09-09 10:56] ShinichiHezemansCortegs commented on #901
I get the same behavior when using version 1.2.0 1.1.0 1.0.3 and 1.0.0
In what version dit it work? The CameraView plays a core role in my application so I am looking for a working version.
Are there any alternatives to CameraView?

[2021-09-09 11:48] michaldivis commented on #1394
A good workaround would be to not use the `Icon` property and use a font icon in the `Label` instead. That approach is working for me, especially since the font icon can adapt to a theme change, whereas the image can't.

[2021-09-09 12:02] michaldivis opened #1613 "[Enhancement] Add a TextColorDisabled to TabViewItem"
## Summary

Add a `TextColorDisabled` to `TabViewItem` that would control what color the text is when the `IsEnabled` property is set to `False`. The text on an enabled and a disabled `TabViewItem` currently looks the same.

The disabled tab could then look like this:

![tabs](https://user-images.githubusercontent.com/45868547/132682146-903f4845-4e8b-457b-a5a6-30ee74d0d806.jpg)

## API Changes

Ad

[2021-09-09 12:09] michaldivis commented on #901
I didn't get it to work in any version, at least not when using Hot Restart.

I never tried it when connected to a Mac (my setup doesn't allow that), so I have no idea whether that works or not. And sadly, the iOS simulator doesn't support a camera, so that's not an option.

@ShinichiHezemansCortegs I'm not aware of any alternative to the `CameraView`. I've found many example implementations of a

[2021-09-09 13:41] stephenhauck commented on #1470
Can someone provide an example / confirm  how to use popup in Xamarin Shell ?

[2021-09-09 15:16] ShinichiHezemansCortegs commented on #901
@jfversluis can this issue be reopened since the hot restart was not fixed?

[2021-09-09 19:01] maxchu92 commented on #1590
I am having this same problem as well. The Popup page is overlapping the toast. You can notice the toast is there if you close the pop up page fast enough.

[2021-09-10 07:20] maxchu92 commented on #1525
I am having the same issue as well on iOS, but it works for me on Android
Xamarin.Forms v5.0.0.2012
XCT v1.2.0

[2021-09-10 09:04] ShinichiHezemansCortegs commented on #901
I made a mistake, I put the breakpoint on the methode and not the code block. That is why MediaCaptured and MediaCaptureFailed were not called. This was not using hot restart but with a mac. With hot restart the app still crashes as motioned before.

[2021-09-10 14:35] stephenhauck commented on #1470
ok well I built an example .... enjoy
https://github.com/stephenhauck/ZXingPopup

[2021-09-11 00:53] pictos commented on #1470
@stephenhauck did you try to use the Navigation object in Shell? I mentioned in this issue

[2021-09-11 11:40] stephenhauck commented on #1470
The code is there for you ....
![image](https://user-images.githubusercontent.com/12648793/132946699-47ca5436-6775-44da-9996-35acf7950e9b.png)

[2021-09-11 17:57] pictos commented on #1470
@stephenhauck can you confirm that works? If so I'll close this issue. Thanks

[2021-09-11 20:50] stephenhauck commented on #1470
Download my sample and run it …

[2021-09-12 08:54] michelmoorlag commented on #793
I am using the EventToCommandBehavior on a RangeSlider which works perfectly fine in debug. But when I build in release with link behavior "Link Framework SDKs Only" i get the same error as FM1973: EventToCommandBehavior: Couldn't resolve the event. Parameter name: EventName

[2021-09-12 20:09] pictos commented on #793
@michelmoorlag can you share how you are using the behavior?

[2021-09-13 00:26] GUOLDEV commented on #1612
@thecuong064 how are you comparing the images? Based on the "Reproduction imagery"?

[2021-09-13 00:31] GUOLDEV commented on #1610
Hi @Jose-Develaw I have created a [Converter](https://github.com/xamarin/XamarinCommunityToolkit/issues/1449) just for that, it is waiting for approval, please have a look and let me know if it covers your use case 👍

[2021-09-13 01:26] thecuong064 commented on #1612
Hi @GUOLDEV,

As you can see the camera preview and the image preview is not the same. This is the screen after I finished taking a photo. Let me highlight the image preview for you.
![image](https://user-images.githubusercontent.com/23501058/133010923-78b893a9-ccb1-48c6-ba50-0e4d530639d9.png)

[2021-09-13 03:14] GUOLDEV commented on #1612
Hi @thecuong064, the preview image is not the same proportion as the screen, and you are probably using `Aspect="AspectFit"`, so the image zooms to fit the control size. Does that make sense?

[2021-09-13 03:55] GUOLDEV commented on #1449
@pictos any chance to consider this feature?

[2021-09-13 03:56] GUOLDEV commented on #1450
@pictos any chance to consider this feature?

[2021-09-13 04:29] thecuong064 commented on #1612
I'm using that AspectFit property actually. You can get more details from my above attached project.
![image](https://user-images.githubusercontent.com/23501058/133024120-16ba97d7-c3c2-4c86-bd5a-bee242f0a506.png)

[2021-09-13 04:44] GUOLDEV commented on #1612
So, AspectFit is going to change the size of the image to fit it to the size of the control, so it is not going to look exactly like the real image. For example, if you set the HeightRequest and WidthRequest as 100, it is going to show a squared image, cropping part of the image, the top, and button. Even the default camera app in the device does not show exactly the same image on the preview, but

[2021-09-13 06:11] michelmoorlag commented on #793
@pictos I definitly can. This is the code that cause the issue:

            <xct:RangeSlider
                MinimumValue="{Binding SearchFilterControlSetData.MinDistance}"
                MaximumValue="{Binding SearchFilterControlSetData.MaxDistance}"
                LowerValue="{Binding SearchFilterControlSetData.LowerDistance}"
                UpperValue="{Binding SearchFilterControlSetData.Up

[2021-09-13 06:24] thecuong064 commented on #1612
Yeah, it's slightly different. But I just want to correct a litte bit about the AspectFit, referring to this [link ](https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.aspect?view=xamarin-forms)from Microsoft

 **AspectFit does not clip/crop** any parts of the image. It will left the space empty if the width or height does not fit enough to the container and showing the full image with corr

[2021-09-13 09:15] Jose-Develaw commented on #1610
Hi, @GUOLDEV . Maybe I am missing something (correct me if so) but I think your converter only makes half of the work., which is creating the Source for the picker from the Enum.

My behavior also binds the Picker and the Enum's instance, so if the pickers selection changes, the enum's intances in the view model is updated as well. So its not just creating the list, but also binding the picker to

[2021-09-14 08:14] jantanis commented on #1598
It could be triggering the samen behavior, but it's triggered in a different manner. So I can't say it's a duplicate.

[2021-09-14 14:50] gsgou opened #1614 "[Bug] IconTintColorEffect is not working with DynamicResource in iOS release mode with ImageButton"
### Description

IconTintColorEffect is not applying with DynamicResource in iOS release mode for an ImageButton.
In iOS debug the effect applies and in Android as well.

### Steps to Reproduce

<ImageButton
  Padding="17,17,17,17"
  xcteffects:IconTintColorEffect.TintColor="{DynamicResource SomeColor}"
  HeightRequest="58"
  InputTransparent="True"
  Source="isome_icon"
  WidthRequest="58" />

##

[2021-09-14 22:00] AndreiMisiukevich commented on #1598
@jantanis can you try the latest build from the nightly package? (you can check Readme to get the nuget source where it can be installed from)

[2021-09-14 23:42] gsgou commented on #1614
probably relates to this https://github.com/xamarin/Xamarin.Forms/issues/11069

[2021-09-15 08:51] Andreas0xffff opened #1615 "[Bug][iOS] TouchEffect does not work anymore, if compiled for iPhone|Release and Expander is also used"
### Description
xct:TouchEffect commands are no longer triggered when the Xamarin Forms project is compiled and deployed in iOS physical device release mode. This only occurs if the 'xct:Expander' view is also deployed somewhere in the app. Running the app compiled in Debug mode on the physical device the TouchEffect is okay. When compiling in 'iPhone Simulator' mode (Debug or Release behaves the

[2021-09-15 10:15] aodpi opened #1616 "[Bug] [UWP] TouchEffect Press/LongPress not working at all"
### Description
TouchEffect gestures (Press, LongPress) do not work on UWP platform (Tested PC with mouse and keyboard and Simulator with touch gestures). Android and iOS version are working as expected with no issues.

### Steps to Reproduce

1. Create a Blank Xamarin.Forms app.
2. Attach Xamarin Community Toolkit TouchEffect Commands (Command, LongPressCommand)
3. Run the app on UWP platform.
3.

[2021-09-15 10:59] sattasundar opened #1617 "[Bug] [Android] Unable play video using MediaElement"
### Description
**VideoView.xaml**

`<?xml version="1.0" encoding="UTF-8" ?>
<ContentPage
    xmlns="http://xamarin.com/schemas/2014/forms"
    xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
    xmlns:xct="http://xamarin.com/schemas/2020/toolkit"
    x:Class="EleAnt.Views.VideoView">
    <ContentPage.Content>
        <StackLayout HorizontalOptions="FillAndExpand" VerticalOptions="FillAndEx

[2021-09-15 18:26] AndreiMisiukevich commented on #1616
Add this to UWP project (where XF is initialized)
[code]

[2021-09-15 18:27] AndreiMisiukevich commented on #1616
let us know if it doesn't help

[2021-09-15 18:46] aodpi commented on #1616
@AndreiMisiukevich I've tried your suggestion but it still does nothing, neither on PC nor on Simulator. Android works well, I presume iOS works well too. Update project sample:

[App28.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/7172539/App28.zip)

[2021-09-15 22:07] AndreiMisiukevich commented on #1616
@pictos do you have any idea why it doesn't work?
Is that UWP target version issue?

[2021-09-15 23:03] pictos commented on #1616
@AndreiMisiukevich @aodpi I'll try on my end and update the issue ASAP

[2021-09-16 15:21] IhabSaeed commented on #1592
you may try to use **http protocol in the URL passed to the source property** of the MediaElement , if that true
go to android project  -> AssemblyInfo.cs  then add this line      [assembly: Application(UsesCleartextTraffic = true)]

to be able to use http traffic only https is allowed ( by default starting from android 9 http traffic is disabled ) so the above line will enabled

[2021-09-16 17:29] Painwraith commented on #724
Does anyone have a good solution / substitute to help the community? I am investigating and will try to share if I have any headway.

[2021-09-16 18:59] stephenhauck opened #1619 "[Bug] Popup Dismiss passing an object back crashes unless invoked on main thread iOS only"
Dismiss will crash with a UI View error on  iOS, android seems to work fine
`Dismiss(result);`

### Steps to Reproduce
1.  Download my example app here https://github.com/stephenhauck/ZXingPopup
2. Change this code  `MainThread.BeginInvokeOnMainThread(() =>
                {
                    Dismiss(result);
                });`

To          `Dismiss(result);`

3.  Run app on iOS device

Runnin

[2021-09-16 19:09] stephenhauck commented on #1619
When they cancel I pass back null and all is well ...

[2021-09-17 01:19] pictos commented on #793
@michelmoorlag if you can do a small sample will be awesome!!! Sorry for the late reply

[2021-09-17 03:22] bbhxwl opened #1620 "About xamarin playing m3u8 video."
Libvlcsharp can play m3u8, but some MP4 will get stuck. It's good to play MP4 with MediaElement, but m3u8 can't be played. Can anyone let MediaElement play m3u8 or libvlcsharp play specific MP4 without getting stuck?

I play some specific videos, using computer players, and browsers, but there is no problem, but using libvlc will freeze. And every time I went to the place where it was stuck, it ha

[2021-09-17 07:21] michelmoorlag commented on #793
[EventToCommandBehaviorBug.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/7183495/EventToCommandBehaviorBug.zip)
I have added a very basic example to demonstrate the issue. You can run on an iOS simulator. If you go to properties of the iOS project and set Linker Behavior to  "Don't link" it runs fine, but if you set it to "Link Framework SDKs Only" it wil throw the  "Couldn't resol

[2021-09-18 20:50] 420tech commented on #1311
The workaround did not work for me. Sigh - when will next tooling update happen for VS for Mac?

[2021-09-20 06:11] jantanis commented on #1598
@AndreiMisiukevich I did with 1.1.0-preview1096, but no luck:

e.Action: Reset
e.Action: Add
e.Action: Reset
e.Action: Add
e.Action: Add
e.Action: Reset
e.Action: Add

[2021-09-20 15:08] ThanhNg commented on #1571
@jfversluis Can you please help prioritize this? This crashes my video-player app so often.

[2021-09-20 23:07] AndreiMisiukevich commented on #1616
@pictos any update? :)

[2021-09-20 23:14] pictos commented on #1616
@AndreiMisiukevich just looked here, and it's a target issue, the sample doesn't change the min version UWP version 2004, after this the touch effect work as expected.
![image](https://user-images.githubusercontent.com/20712372/134088626-4b20fc6a-559a-4a67-8f79-c7b7aaaae92f.png)

[2021-09-20 23:28] pictos commented on #793
@michelmoorlag I could confirm the issue. Thanks for the repro, I'll work on a fix

[2021-09-20 23:52] #1567 closed

[2021-09-20 23:58] #1608 closed

[2021-09-21 00:03] AndreiMisiukevich commented on #1616
@aodpi 🔝

[2021-09-21 00:03] #1616 closed

[2021-09-21 03:48] samir-dahal opened #1624 "null reference exception when setting up BindingContext = new TheViewModel();"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Workaround

### Reproduction imagery

### Reproduction Link

[2021-09-21 03:57] samir-dahal opened #1625 "null reference exception when setting up BindingContext = new TheViewModel(); when badge view is used on the same page (ContentPage)"
### Description
Ok this is weird but when you use a **badge view** in your page (Content Page) and try to set the binding context for that page
You get **"Object reference not set to an instance of an object"** exception
But when I comment the badgeview control it does not throw the exception.
`
[code]
`
### Steps to Reproduce

1.  Create a xaml file and add BadgeView control from XCT (Xamarin Com

[2021-09-21 06:01] michelmoorlag commented on #793
@pictos I am glad I could help. A fix would be really nice.

[2021-09-21 10:30] fredericoregateiro opened #1629 "Popup with unusable top section on Android 4.4"
### Description
Using the popup on android 4.4 there is a top section that is just white space

### Steps to Reproduce

1. Using the attached code, using a android 4.4 device, click on the "Open popup with hiding button" button

### Expected Behavior

The popup should display a grid with blue background with a row definition * and a button in the bottom with a row definition of 70px

### Actual Be

[2021-09-21 18:14] gdang commented on #1615
I think I have a similar issue.

I have a few `Frame`s inside a `StackLayout` and they have the XCT Command and NativeAnimation properties set:
[code]

On Android, it works just fine. On iOS, in Debug|iPhone config it works as well. However, in Release|iPhone config (IPA ad-hoc distribution), the commands are not executed...

I have only recently started testing the iOS app so I cannot say if this

[2021-09-21 22:09] vhugogarcia commented on #1620
@bbhxwl I recommend you for live streaming applications to use https://github.com/Baseflow/XamarinMediaManager, due to it provides the best video player on Android and the native for each platform on iOS.

Xamarin community toolkit has a media manager for the basic only, which is awesome if you want to create a store app where you have previews (VoD) of certain products, etc.

BaseFlow media manag

[2021-09-22 20:20] ahoefling commented on #1619
The title of this bug says it only works on the main UI thread for iOS. The popups are required to operate on the main UI thread, any exceptions caused because it is not operating on the main UI thread is an expected behavior. There is no trick or workaround to this as the popup operation will need to be marshaled from a background thread to the main UI thread. Blindly marshaling all threads to th

[2021-09-22 20:45] stephenhauck commented on #1619
ok but it's not our job to call "invoke on main thread" right ?
That should be handled in the "Dismiss" ?
When I "invoke on main thread" a blink occurs and it's just not right

[2021-09-23 01:27] pictos commented on #1619
@ahoefling this is a tricky one... Normally frameworks don't do the work to invoke things in the UI thread. Is the responsibility of the mobile dev to make sure the UI changes are happening in the UI thread. CollectionView had an issue because [of that](https://github.com/xamarin/Xamarin.Forms/issues/12080)

I would say that is not the job of the lib to force it to be on the UI thread because doin

[2021-09-23 02:07] ahoefling commented on #1619
I agree with @pictos evaluation, I don't believe this is a bug. The popup control is built tightly around the native implementations and it is expected to used from the main UI thread. Your application code can perform processing off the main thread, but when it is time to perform UI operations you will need to go back to the main UI thread.

[2021-09-23 16:40] redek91 opened #1631 "[Enhancement] CameraView: add more control over the behaviour of the Cameraview"
## Summary

Hi everyone,

I would like to add some control on the CameraView control (already started):
- Add binding for enabling the Preview of the CameraView: this could come in handy, when the CameraView is in a TabbedView and it would release the camera when its not used
- Add an event that triggers if the CameraView is Recording to handle a change in the page that is using the Cameraview

##

[2021-09-24 10:33] john-technegol opened #1632 "[Bug]"
### Description
xct CameraView works when testing with Debug Build (Visual Studio 2019) when 'Release Build' CameraView page won't load. Narrowed it down to Release config having Linker properties set to 'SDK Assemblies Only' when changed to 'None' the Camera works as expected.

It Appears the linker is removing the code required to use CameraView.

### Expected Behavior
Page to open with CameraVi

[2021-09-24 14:16] taenito opened #1633 "[Bug] TouchEffect Command and LongPressCommand not triggered"
### Description

TouchEffect will not trigger Command and LongPressCommand in some case

### Native (IsAccessibilityMode = false)

\# | Double tap | Double tap and holding
----- | ---- | -----
Command | Trigger Command :heavy_check_mark: | Trigger Command :heavy_check_mark:
LongPressCommand | Trigger nothing :heavy_check_mark: | Trigger LongPressCommand :heavy_check_mark:
Command and LongPressComm

[2021-09-24 15:22] Robbert-jansen opened #1634 "[Enhancement][Converter] Add InvertedIntToBoolConverter"
## Summary

Combines the functionality of [InvertedBoolConverter](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/InvertedBoolConverter.shared.cs) and and [IntToBoolConverter](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/IntToBoolConverter.shared.cs)

## AP

[2021-09-27 07:10] 1c3f0x84 opened #1636 "Popup background is not dimmed on iOS"
### Description

Hello,

the Popup in Xamarin iOS is not dimmed like in Xamarin Android.

Is there a way to do it? So that both feels the same?

### Steps to Reproduce

1. Start Xamarin.CommunityToolkit.Sample in Android and in iOS
2. Open Popups
3. Background is dimmed in Android but not in iOS

### Expected Behavior

Xamarin iOS Popup should behave like Xamarin Android Popup

### Actual Behavior

[2021-09-27 12:30] dennisstromberg opened #1637 "[Bug] ShadowEffect not working on Entry on Android"
### Description

Shadow effect not working on Entry on android, only the text gets shadow.

### Steps to Reproduce

1.  Add a Entry
2.  Add ShadowEffect to Entry

### Expected Behavior
Entry gets Shadow
![image](https://user-images.githubusercontent.com/22226357/134907972-5050c32f-a827-4ff9-9faf-ee73d67c3691.png)

### Actual Behavior
Entry does not get Shadow
![image](https://user-images.githubuse

[2021-09-27 12:31] dennisstromberg commented on #1637
https://github.com/dennisstromberg/XamarinCommunityToolkit/commit/cb55559f06ff67a55c33fbc537470ac6499ba0cd

[2021-09-28 10:16] bijington opened #1638 "[Bug] StatusBarEffect leaves bar rendered when an iOS device rotates"
### Description

When using the `StatusBarEffect` and allowing rotation on iOS it appears that landscape renders an invalid status bar.

https://user-images.githubusercontent.com/17139988/135068427-7fdd8b23-b5fb-42fc-9d2b-bcd252ff371b.mov

### Link to Reproduction Sample

The current XCT sample application reproduces this.

### Steps to Reproduce

1. Start iOS sample
2. Rotate the device

### Expe

[2021-09-28 16:04] sbs-surendhar-kabilan opened #1641 "[Bug] In Xamarin forms (Android) System.ArgumentException occurs in ImageService.SetTaskForTarget (FFImageLoading.Work.IImageLoaderTask currentTask)"
### Description

We are facing a crash in our application due to this error "System.ArgumentException: Key already in the list Parameter name: key" occurred in ImageService.SetTaskForTarget (FFImageLoading.Work.IImageLoaderTask currentTask). And It was logged in the App Center.

### Stack Trace

ConditionalWeakTable`2[TKey,TValue].Add (TKey key, TValue value)
ImageService.SetTaskForTarget (FFImage

[2021-09-29 02:16] justinlee0516 commented on #297
If I take a video in the sample app on my Android phone (in portrait position), the output file show the video rotated by 90 degrees.

[2021-09-29 13:22] jfversluis commented on #1641
Hey there, I appreciate the ask for help. As you have already discovered yourself, this is an issue with FFImageLoading and/or somewhere in your code. We can't really support you with that.

The error seems to originate [here](https://github.com/luberda-molinet/FFImageLoading/blob/bb675c6011b39ddccecbe6125d1853de81e6396a/source/FFImageLoading.Droid/ImageService.cs#L86).

Hope you'll figure it out!

[2021-09-29 13:22] #1641 closed

[2021-09-29 13:29] jfversluis commented on #1620
The linked media manager is indeed pretty epic :) I hope we get our MediaElement up to par at some point in the future. For now this is a duplicate of #404

Thanks for the suggestion @bbhxwl and helping out @vhugogarcia

[2021-09-29 13:29] #1620 closed

[2021-09-30 01:42] alexanderdibenedetto commented on #1431
@MaximilianLloyd  sorry for just now getting back to you, was on vacation in Germany! You can implement a custom renderer of the mediaelement and use my code as above in the appropriate functions. That said, I am actively working on this and hopefully it will be accepted and merged soon.

[2021-09-30 12:17] kerberosargos commented on #1614
Same problem is for me too

[2021-10-01 11:03] kerberosargos opened #1643 "[Bug] AvatarView and Expander not found error in iOS Release Mode"
Hello I am getting as following error in iOS Relase Mode. I guest problem source is about Linker Behavior. When I set that to "**Dont' Link"** I am not getting error

`Xamarin.Forms.Xaml.XamlParseException: 'Position 72:37. Type Expander not found in xmlns http://xamarin.com/schemas/2020/toolkit'`

XCT version is: **1.2.0**

My Release Settings as below

![image](https://user-images.githubusercont

[2021-10-01 13:28] kerberosargos commented on #1643
I have solved this issue by adding mtouch arguments as following [link ](https://github.com/xamarin/XamarinCommunityToolkit/issues/793)

[2021-10-04 01:39] AndreiMisiukevich commented on #1637
@dennisstromberg I think, `FormEditText` should be replaced by `EditText`.
Do you want to submit a PR or should I do it?

[2021-10-04 06:29] Rardd1997 commented on #1632
Try to add
[code]
in **LinkerSettings.xml** file

[2021-10-04 08:13] AndreiMisiukevich commented on #1632
@Rardd1997 small typo, should be ```assembly``` I think :)

[2021-10-04 08:16] Rardd1997 commented on #1632
Yep, updated. Thanks

[2021-10-04 09:33] john-technegol commented on #1632
Thanks for the I info.

I’m on a different project at the moment but will give it a try when I can.

Thanks

Sent from my iPhone

[2021-10-04 12:40] kerberosargos opened #1644 "[Bug] I am getting "Mono.Linker.MarkException" error on Adroid Release Mode"
**My release mode setting as below**

![image](https://user-images.githubusercontent.com/11364304/135852897-b33f4570-fe6f-46c5-9022-914b6f8ad3f6.png)

**My LinkerSettings.xml**
[code]

**Error**
[code]

[2021-10-04 12:57] kerberosargos commented on #1643
Same error has Android Release mode too. But settings as below does not work

![resim](https://user-images.githubusercontent.com/11364304/135855381-38e3deed-a8d7-425a-86bb-2d0f0aa1742a.png)

[2021-10-04 13:52] jfversluis commented on #1644
Any reason you're ignoring our bug template? :) Now I'm missing some valuable information like which version of Forms you are using or which version of the Toolkit.

Could you add that? Thanks!

[2021-10-04 14:05] kerberosargos commented on #1644
Hi @jfversluis

[2021-10-04 14:17] Jose-Develaw commented on #1610
@GUOLDEV @jfversluis Any comments? Thx

[2021-10-04 18:01] PureWeen commented on #1644
@kerberosargos This is something that was fixed in version 1.3.2.2 of AndroidX.Core and 1.1.0.7 of Recycler View

You most likely need to clean your obj/bin or see if any of your projects are referencing AndroidX libraries explicitly

You can also try explicitly referencing the latest version of this https://www.nuget.org/packages/Xamarin.AndroidX.Core

I'm going to close this for now. If you are

[2021-10-04 18:01] #1644 closed

[2021-10-05 07:12] kerberosargos commented on #1644
Hello @PureWeen and @jfversluis  again

My whole confugarion as below

![image](https://user-images.githubusercontent.com/11364304/135976383-191b08a1-b4a6-49c1-9ed1-ea06c75dba12.png)

![image](https://user-images.githubusercontent.com/11364304/135976503-2fd7ac96-2149-46db-a7bd-ea22b4b2fd59.png)

![image](https://user-images.githubusercontent.com/11364304/135976560-5e884b0a-776f-4e54-88c4-7acd60d73

[2021-10-05 07:40] maxkoshevoi opened #1645 "[MauiCompat] Add `.net6` support"
Related to: https://github.com/CommunityToolkit/Maui/issues/23

Could you please also add `.net6` target to `Xamarin.CommunityToolkit.MauiCompat`?

[2021-10-05 13:37] kerberosargos opened #1646 "[Bug] StatusBarEffect is giving error on iOS"
Hello,

**XAML**
[code]

**info.plist**
[code]

**Error**

[code]

[2021-10-05 14:26] Rardd1997 opened #1647 "[Bug] Android : CameraView doesn't work on Samsung M11"
CameraView control in CaptureMode="Photo" doesn't work on several devices

### Description

CameraView control in CaptureMode="Photo" and default camera options doesn't work on several devices. So it doesn't work for the main camera on the device

### Stack Trace

[CameraManagerGlobal] Connecting to camera service
[VendorTagDescriptor] addVendorDescriptor: vendor tag id 3854507339 added
[CameraMan

[2021-10-05 14:54] Rardd1997 commented on #1647
Quick fix for this it adds the next piece of code:
**CameraFragment.adnroid.cs**

[code]

[2021-10-06 16:40] tpitman opened #1650 "[Bug] Video Displays on iOS, but not Android"
### Description
I am embedding a mp4 video into my Xamarin Forms app. It plays fine on iOS, but not on Android. I am using the MediaElement and have the video in the iOS Resources folder and Android Resources/raw folder. I have set the permissions according to the documentation for the MediaElement shown on this page:

[https://docs.microsoft.com/en-us/xamarin/community-toolkit/views/mediaelement]

[2021-10-07 02:39] DanielGlick45 commented on #1382
Any update on this issue?

[2021-10-07 19:33] lorismich opened #1651 "[Bug] Video recorded in portraid mode it's 90 degrees rotated"
### Description

When recording a video or photo in portrait mode, the image is reversed at 90 degrees.
Image recording is done as a landscape mode.

### Steps to Reproduce

1.  CameraPage.cs

[code]

2.
CAMERA PAGE XAML

`<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"

[2021-10-08 10:36] circa94 opened #1652 "[Bug] DrawingView Android clear lines"
### Description

When clearing the DrawingView on Android, the lines are still visible until a new drawing has started. Only then previous lines will be removed.

### Steps to Reproduce

1. Open Android Sample App
2. Open DrawingView Sample
3. Draw some lines
4. Click "DISPLAY HIDDEN LABELS"
5. Click "CLEAR ALL LINES"

### Expected Behavior

Drawn lines should be removed.

### Actual Behavior

Lin

[2021-10-08 18:35] tamnguyen98 opened #1653 "[Bug] Perfect Popup thick border only on iOS"
### Description
In my app, I have a button that when tapped, it shows a popup. In that popup there is a stack view with a color wheel and some buttons. The popup looks fine on my Samsung Galaxy s21 ultra, but when I test it and view it on my iPhone X using iOS 14, it  has a thick border around the stack view. It seems like the popup has a padding (not sure where) that causes the border, but there

[2021-10-11 11:37] SUDALV92 opened #1658 "[Bug] Popup doesn't support "FillAndExpand" for HorizontalOptions?"
### Description

I want to expand Popup to the full width of the screen, but HorizontalOptions can't do it for some reason. It can be moved to the left or to the right, but not expand.
The only working way to expand Popup is Size property, but i can't figure out how to make it work on any screen.

### Steps to Reproduce

1. Just add any helloworld Popup and try to expand it to full screen.

### Ba

[2021-10-11 22:18] robotjatek opened #1659 "[Bug] NotSupportedException when removing element from a Grid using TouchEffect.Command"
### Description

Removing models from an `ObservableCollection` in the viewmodel, crashes the application in some cases when using `TouchEffect.Command`. I can remove any random items from the collection except the very same which fired the delete command itself.

See [GridPage.xaml](https://github.com/robotjatek/XamarinGridBugRepro/blob/master/XamarinGridBug/XamarinGridBug/Pages/GridPage.xaml) in

[2021-10-12 07:59] RemcoDEV opened #1662 "[Bug] XCT warns about not having a compatible XF version, despite the latest XF version is used"
### Description

NU1608	Detected package version outside of dependency constraint: Xamarin.CommunityToolkit 1.2.0 requires Xamarin.Forms (>= 5.0.0.1874 && <= 5.0.0.2012) but version Xamarin.Forms 5.0.0.2125 was resolved.

### Stack Trace

Not applicable.

### Link to Reproduction Sample

Works with any project using the latest stable XCT and latest stable XF. Make sure warnings are visible in the

[2021-10-12 16:39] #1662 closed, assigned to nobody

[2021-10-13 19:00] JohnBurke4 opened #1665 "[Bug] MediaElement Crash - System.ArgumentException 'An item with the same key has already been added. Key: Xamarin.Forms.BindableProperty'"
### Description

The MediaElement on android occasionally crashes with a System.ArgumentException.

This seems to occur very randomly when you change the source of a MediaElement from the code behind.

I've only found this to occur on Android and not iOS.
### Stack Trace
**System.ArgumentException:** 'An item with the same key has already been added. Key: Xamarin.Forms.BindableProperty'

[MediaPla

[2021-10-15 07:27] Jopnert opened #1666 "[Bug] CameraFragment.DisposeImageReader (): System.NullReferenceException: Object reference not set to an instance of an object"
### Description

One the tablets crashed today after taking a picture with the CameraView. With the following error:

CameraFragment.DisposeImageReader (): System.NullReferenceException: Object reference not set to an instance of an object

### Stack Trace

System.NullReferenceException: Object reference not set to an instance of an object
  at Xamarin.CommunityToolkit.UI.Views.CameraFragment.Disp

[2021-10-15 20:42] dansiegel commented on #1311
A couple of notes on this issue.

1) If you're getting this error please add something in code from the Toolkit like:
[code]
This assumes that you are NOT already using anything from XCT in code.

2) If you're still getting this error then the problem is **NOT** with the XCT. Please file an issue with the Visual Studio team by going to Help -> Report a Problem (on Mac) or Help -> Send Feedback ->

[2021-10-18 14:36] ChoyWingLun opened #1669 "[Bug] Lazy View Crash using Fresh MVVM"
### Description
I am using fresh mvvm as framework for development, using xct lazy view inside my xct tab item makes my app crash. Tried removed it and just using normal tab view and tab item. It works. So suspects the issue come from xct lazy view.

### Stack Trace

 System.TypeLoadException: Invalid generic instantiation
[mono-rt]   at Aicon.Page.MainTabbedPage..ctor () [0x00008] in E:\Pintech S

[2021-10-18 22:48] DaviBittencourt commented on #650
Any news about this?

[2021-10-19 14:13] maxkoshevoi opened #1670 "[Bug] Unable to build `MauiCompat` project with MAUI Preview 9"
### Description

Unable to build `MauiCompat` project from `Xamarin.CommunityToolkit.MauiCompat-1.3.0-pre2` branch

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Open `MauiCompat` project in VS2022 Preview 5 with MAUI Preview 9 installed
2. Build it

### Expected Behavior

Project builds

### Actual Behavior

![image](https://user-images.githubusercontent.com/6609929

[2021-10-20 11:27] IeuanWalker opened #1671 "[Bug] SemanticEffect Description 'VTable setup.... failed'"
### Description

Added SemanticEffect.Description to a content view and get the following error -

[code]
![image](https://user-images.githubusercontent.com/6544051/138083655-1ef992a5-38d5-41a8-ae3b-c216597672d7.png)

[code]

Same thing happens when I try and use Semantic heading, raised a bug a while ago about it #1543.

I saw PureWeen comment on #1644 about it being fixed in  `AndroidX.Core /Rec

[2021-10-20 22:25] VladislavAntonyuk opened #1675 "[Bug] Snackbar/Toast doesn't work in MauiCompat"
### Description

Application crashes when using snackbar/toast

### Link to Reproduction Sample

https://github.com/VladislavAntonyuk/KanbanBoard/tree/community-toolkit

### Steps to Reproduce

1. await Applciation.Current.MainPage.DisplayToastAsync("toast");

### Expected Behavior

Snackbar/toast is displayed

### Actual Behavior
Application crashes

### Basic Information

- Version with issue:
-

[2021-10-21 01:33] #777 closed

[2021-10-21 01:33] vtkachen111 commented on #777
Seems to be resolved with 1.2.0

[2021-10-21 03:15] pictos commented on #297
Please if you're still facing this issue open a new one with a repro attached. Thanks

[2021-10-21 07:05] jantanis commented on #1598
Create a new one. I don't think this is de same issue as yours. Perhaps related, but a different issue.

[2021-10-22 05:43] VladislavAntonyuk opened #1678 "[Bug] Snackbar invalid action button color"
### Description

Action button color is the same as the background color on Android

### Expected Behavior
Action button color is the same as the background color on Android

### Actual Behavior
Action button color should have its own background-color

### Basic Information

- Version with issue: 1.3.-pre2, 1.2
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:

[2021-10-22 11:35] circa94 opened #1679 "[Bug] [DrawingView] [Android] draw outside of control"
### Description

When drawing something on the DrawingView Control and moving out of the control, the lines are still drawn

### Steps to Reproduce

1. Open Android Sample App
2. Open DrawingView Sample
3. Draw a line starting from inside the DrawingView
4. Draw the line outside of the control

### Expected Behavior
Lines outside of the control should not be visible/drawn

### Actual Behavior
Line

[2021-10-22 12:55] LorAle opened #1681 "[Bug] On iOS - Animation stops double tap from being registered."
### Description
On iOS the animation will block other touch effects from occuring, despite UserInteractionEnabled being true.
In our case this occured in combination with a Grid, but it happens with other elements as well.
On Android both taps are registered like one would expect.

### Steps to Reproduce
1. Add a command to the main label
`<Label
Margin="20,32,20,0"
Style="{StaticResource label_we

[2021-10-22 21:40] brakonier946 opened #1682 "[Bug] Access to disposable object on Android ShadowEffect"
Hello, I catch exception when using ShadowEffect.

[mono-rt] [ERROR] FATAL UNHANDLED EXCEPTION: System.ObjectDisposedException: Cannot access a disposed object.
[mono-rt] Object name: 'Xamarin.Forms.Platform.Android.ImageButtonRenderer'.
[mono-rt]   at Java.Interop.JniPeerMembers.AssertSelf (Java.Interop.IJavaPeerable self) [0x00029] in <1959115d56f8444789986cf39185638c>:0
[mono-rt]   at Java.Inte

[2021-10-28 03:32] kyletran407 opened #1685 "[Bug] ResetValidationTokenSource method in ValidationBehavior class crashes"
### Description

The method ValidationBehavior.ResetValidationTokenSource() crashes occasionally. Please consider to handle unexpected exception when calling CancellationTokenSource.Cancel() in this method.

### Stack Trace

android.runtime.JavaProxyThrowable: at System.Threading.CancellationTokenSource.Cancel (System.Boolean throwOnFirstException) [0x00000] in <8d34d9a1a420416dabbbbfa2aa662639>:0

[2021-10-29 20:30] GUOLDEV commented on #1632
@john-technegol it would be good to know the property that Linker is removing for your case. A simple sample could help as well 👍

[2021-10-29 20:33] GUOLDEV commented on #1651
Hi @lorismich I think #1524 fixes the issue that you are experiencing. It would be great if you could test and let me know if works or not for your use case 👍

[2021-10-29 20:37] GUOLDEV commented on #1651
@pictos @jfversluis I think it is the same error fixed on #1524, but just in case could you please add `CameraView` label?

[2021-10-29 20:40] GUOLDEV commented on #1585
Hi @vd3d, I think the issue is already fixed on the latest Main branch, it would be great if you could confirm 👍

[2021-10-29 20:41] GUOLDEV commented on #1585
@jfversluis @pictos could you please add `CameraView` label to this issue as well?

[2021-11-01 02:30] kyletran407 commented on #1685
I have fixed this issue by moving the line validationTokenSource = null up to right under this line var isValid = await ValidateAsync...

Trying to contribute this fix but couldn't push changes to this repo.

[2021-11-01 08:39] TommiGustafsson-HMP opened #1696 "[Bug] MediaElement Portrait Video stutters on Android 12"
### Description
We have a background video in our Xamarin.Forms application. It actually has two files: portrait video (1080x2304) for portait mode and landscape video (2304x1080) for landscape mode. They are both MP4 24 fps 4000 kbps. They video is played using Community Toolkit's MediaElement.

On Android 12, the portrait video stutters (plays for 0.5 s and then stops for 0.5 s and so on). Howev

[2021-11-01 08:43] john-technegol commented on #1632
Hi @GUOLDEV I have since left the company where I was working on this and no longer have access to the code also returned all my laptops etc.
I will try and create a simple project and re-create the issue on an old laptop I have here. Not sure how it will run Visual Studio but I'll give it a go 👍

[2021-11-01 12:28] lassana opened #1695 "[Bug] [CameraView] [Android] Taken photos are rotated incorrectly"
### Description

When taking a photo with CameraView on Android, photos are rotated incorrectly.

Previously reported in #297, #751, #779. PRs #307, #886 claim to fix this but they don't.

### Stack Trace

### Link to Reproduction Sample

[CameraBug.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/7453194/CameraBug.zip)

### Steps to Reproduce

Confirmed on Pixel 3a XL Android 12 and

[2021-11-01 19:39] ajramos27 commented on #1525
I have the same issue only in iOS. I'm using XCT v1.2.0. Any workaround?

[2021-11-02 02:11] #1447 closed

[2021-11-02 08:22] jfversluis commented on #1696
@TommiGustafsson-HMP moved this to the Xamarin Community Toolkit repo as that is where the MediaElement lives now :)

[2021-11-02 09:02] #1678 closed

[2021-11-02 09:25] jfversluis commented on #1685
Fixed with #1694

[2021-11-02 09:25] #1685 closed

[2021-11-03 15:24] ajramos27 commented on #921
Is there any fix or workaround for this issue? I'm using XCT 1.2.0 and the problem still persists. I'm trying to use badges in iOS, my tabs do not have icons but the badge still appearing in the center

[2021-11-04 00:23] LewisEKay commented on #1525
I fixed the issue on mine for Android, haven't checked iOS yet.
If you name your TabView component and manually set its index on load it will work. Seems to be that the tab view doesnt know what index it's on or something?

`
        public MyPageView()
        {
            InitializeComponent();
            tabs.SelectedIndex = 0; // For first item selected
        }`

[2021-11-04 15:42] donatellijl commented on #1525
It always worked for me on Android. iOS is the one that doesn't work.

[2021-11-04 17:43] lassana commented on #1695
A better workaround is to write EXIF data into the image using [AndroidX ExifInterface](https://developer.android.com/jetpack/androidx/releases/exifinterface):

[code]

[2021-11-04 18:46] kainaalmeida commented on #1525
![workaround](https://user-images.githubusercontent.com/7945253/140400978-b9476e3c-f2c4-4a3a-9329-f87a3f440b63.png)
I was going through the same problem and I built this workaround. Hope it helps guys :)

`<xct:TabView.TabIndicatorView>
                    <BoxView
                        BackgroundColor="#0CB498"
                        HeightRequest="3"
                        WidthRequest="{Bin

[2021-11-04 19:55] john-technegol commented on #1632
I have created a sample project and all works as expected, Debug & Release.

The main differences are this time I used the shell template and added the view in there (all in one project). When I was having the issue I was using Prism and the Camera View was in a separate Module/Project. The issue was probably to do with my setup/solution rather than an issue with the control.

[2021-11-05 09:05] minhsu12113 commented on #1525
@kainaalmeida It's working for me, but Animation not good :)
My Devices: Samsung s8+ and IPhone XS MAX.

Thanks for comment.

[2021-11-05 13:34] swsquire opened #1701 "BadgeView always inititally aligns at top left"
### Discussed in https://github.com/xamarin/XamarinCommunityToolkit/discussions/1700

<div type='discussions-op-text'>

<sup>Originally posted by **swsquire** November  3, 2021</sup>
Does anyone else have this issue that when my app is opened, despite having my BadgeView/BadgePosition set to TopRight, I get the badge stuck up in the TopLeft of my screen. Only after using Hot Reload to change the B

[2021-11-05 14:38] donatellijl commented on #1525
Thanks! This worked for me. I don't see an animation issue. I tried on iPhone 12 Pro, iPhone 8 and Samsung S8.

[2021-11-05 14:42] lee-m commented on #1309
I have an implementation of a floating label entry that I created for the app I work on. Is there still interest in having this part of XCT? If so I can see about trying to get it in shape to get a PR submitted.

[2021-11-05 14:53] kainaalmeida commented on #1525
@minhsu12113 Here everything is normally, I tested it on the iphone if and on the redmi note 8

[2021-11-05 16:44] gpsaliola opened #1702 "[Bug] SideMenuView with a map (Mapsui) in MainView"
Hello,
I've a form with a SideMenuView.
In the main view there is a map (Mapsui map) and I've implemented only the right side menu.
If I don't use the SideMenuView all works fine but, if I insert the SideMenuView control, the map in the main view frezees after few movements.
This behavior is present even if I omit the right menu and leave only the main layout.
Version used: 1.3.0
Environment: Xama

[2021-11-06 10:40] trumdongnat commented on #969
This issue still occur on the latest version v1.3.0.

[2021-11-06 11:09] maxkoshevoi commented on #969
@trumdongnat While error message might be the same, root cause is likely different (I don't see the issue in my app, where it occurred previously).

Could you provide a repro project?

[2021-11-06 11:49] trumdongnat commented on #969
@maxkoshevoi
I found the issue on firebase crashlytic after using the xamarin community toolkit instead of TouchView.
Based on the report on firebase, the issue only happen on Android 5.
I will check my app and create a repo project.

[2021-11-06 23:59] breenbob commented on #1615
Still not working in 1.3.0 release version. @ThomasAdrian - your fix worked great for me, thanks. Worth a PR?

[2021-11-08 10:38] bijington opened #1705 "[Bug] Allow handling of null for Convert of BaseConverterOneWay<TFrom, TTo>"
In order to match a bug fixing coming to the MAUI Toolkit we should aim to solve it here also. The issue in question is:
https://github.com/CommunityToolkit/Maui/issues/184

### Description

Currently it is not possible to pass in a `null` value to the `BaseConverterOneWay<TFrom, TTo>` converter or any implementations of it due to checks within the base class.

Most important details from the disc

[2021-11-09 00:13] GUOLDEV commented on #1695
Hi @lassana, could you please confirm if it is still happening in the latest XCT version?

[2021-11-09 00:15] GUOLDEV commented on #1695
@pictos @bijington could you please add `CameraView` label to this issue? Thanks

[2021-11-09 09:21] lassana commented on #1695
Hi @GUOLDEV , it's still happening in 1.3.0:

<img width="737" alt="Screen Shot 2021-11-09 at 12 21 04" src="https://user-images.githubusercontent.com/2004960/140897187-d8b957a0-70e9-476c-8c50-edaea68e6252.png">

[2021-11-09 09:24] GUOLDEV commented on #1695
Hi @lassana thanks for testing! If possible, could you please test it using XCT sample app as well?

[2021-11-09 11:34] GUOLDEV commented on #1695
@lassana I think I understand what you mean. You are talking about how the CameraView currently works. And yes, you have to handle the rotation by yourself based on the Rotation argument. So it's not a bug. It's more a behaviour change request, right? @jfversluis what do you think?

[2021-11-09 12:04] lassana commented on #1695
Yep that what my workaround does, but the question is why would you have to to deal with additional properties at all? Isn't it the library's job to generate a properly rotated image so developers wouldn't have to copy-paste the same workaround? I guess rotating the whole image might be quite time-consuming, but writing the EXIF data works rather quickly. BTW it seems it's been planned at some poi

[2021-11-09 17:51] rachelkang opened #1711 "[Spec] Add SetSemanticFocus and Announce methods for accessibility"
### Description

Add SetSemanticFocus and Announce methods for accessibility. Both APIs have been introduce in .NET MAUI, and we want to make sure folks on Xamarin.Forms can leverage these new APIs as well.

`SetSemanticFocus` enables developers to indicate where they'd like the semantic focus (screen reader focus) to be sent.
`Announce` enables developers to indicate what they'd like the screen r

[2021-11-10 08:16] VolodaUa commented on #1257
I have the same problem. Not settings the HorizontalTextAlignment property helps to fix this issue!

[2021-11-10 08:24] pulmuone commented on #1311
same issue

[2021-11-10 09:11] willtam commented on #1665
I have the exact same issue, also happened randomly from time to time. After the app crashed, the video will play fine without any issue.

Xamarin Forms 5.0.0.2125
Xamarin CommunityToolkit 1.3.0-pre2
Android 10

[2021-11-10 10:31] rxDietel opened #1712 "[Bug] UWP PopUp LightDissmis disable not working as expected"
### Description

When using a PopUp on UWP `IsLightDismissEnabled = false` won't disable lightdismiss, but only disable the propper reaction.

### Steps to Reproduce

1. Create Xamarin UWP App with PopUp
2. Disable lightdismiss `IsLightDismissEnabled = false`
3. Show Popup in App
4. Click outside Popup

### Expected Behavior
Popup won't close.

### Actual Behavior
Popup will close, but following c

[2021-11-11 01:34] #1251 closed

[2021-11-11 01:57] brminnick commented on #1634
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 01:57] #1634 closed

[2021-11-11 01:57] brminnick commented on #1631
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 01:57] #1631 closed

[2021-11-11 01:57] brminnick commented on #1613
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 01:57] #1613 closed

[2021-11-11 01:58] brminnick commented on #1282
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 01:58] #1282 closed

[2021-11-11 01:59] brminnick commented on #1309
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 01:59] #1309 closed

[2021-11-11 02:01] brminnick commented on #1320
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:01] #1320 closed

[2021-11-11 02:03] brminnick commented on #1327
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:03] #1327 closed

[2021-11-11 02:03] brminnick commented on #1334
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:03] #1334 closed

[2021-11-11 02:04] brminnick commented on #1337
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

I've posted more information about the Future Of Xamarin Community Toolkit here: https://devblogs.microsoft.com/xamarin/the-future-of-xamarin-community-toolkit/?WT.mc_id=mobile-0000-bramin

[2021-11-11 02:04] #1337 closed

[2021-11-11 02:04] brminnick commented on #1353
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:04] #1353 closed

[2021-11-11 02:04] brminnick commented on #1370
Thanks Damien!

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community Toolkit here: https://devblogs.microsoft.com/xamarin/the-future-of-xamarin-community-toolkit/?WT.mc_id=mobile-0000-bramin

[2021-11-11 02:04] #1370 closed

[2021-11-11 02:06] brminnick commented on #1425
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:06] #1425 closed

[2021-11-11 02:07] brminnick commented on #1431
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:07] #1431 closed

[2021-11-11 02:07] brminnick commented on #1449
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:07] #1449 closed

[2021-11-11 02:07] brminnick commented on #1450
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:07] #1450 closed

[2021-11-11 02:07] brminnick commented on #1461
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:07] #1461 closed

[2021-11-11 02:07] brminnick commented on #1466
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:07] #1466 closed

[2021-11-11 02:08] brminnick commented on #1470
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:08] #1470 closed

[2021-11-11 02:09] GUOLDEV commented on #1334
@brminnick Far enough 👍 I have already created a discussion for Community Toolkit Maui 😅

[2021-11-11 02:09] brminnick commented on #1472
Pinging our resident GitHub Issue Forms expert for this one! @jfversluis 😄

[2021-11-11 02:09] brminnick commented on #1514
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:09] #1514 closed

[2021-11-11 02:10] brminnick commented on #1536
Thanks! Please open a PR on the docs repo: https://github.com/MicrosoftDocs/xamarin-communitytoolkit

[2021-11-11 02:10] #1536 closed

[2021-11-11 02:11] brminnick commented on #1541
Thanks @KrizCologne! Is this a bug fix or an enhancement?

We are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

However, we are still merging Bug Fix PRs.

I've posted more information about the Future Of Xamarin Community Toolkit here: https://devblogs.microsoft.com/xamarin/the-future-of-xamari

[2021-11-11 02:12] brminnick commented on #1566
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:12] #1566 closed

[2021-11-11 02:12] brminnick commented on #1579
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:12] #1579 closed

[2021-11-11 02:12] brminnick commented on #1582
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:12] #1582 closed

[2021-11-11 02:13] brminnick commented on #1601
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

I've posted more information about the Future Of Xamarin Community Toolkit here: https://devblogs.microsoft.com/xamarin/the-future-of-xamarin-community-toolkit/?WT.mc_id=mobile-0000-bramin

[2021-11-11 02:13] #1601 closed

[2021-11-11 02:13] brminnick commented on #265
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:13] #265 closed

[2021-11-11 02:13] #224 closed

[2021-11-11 02:13] #215 closed

[2021-11-11 02:14] brminnick commented on #178
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:14] #178 closed

[2021-11-11 02:14] brminnick commented on #580
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:14] #580 closed

[2021-11-11 02:14] brminnick commented on #574
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:14] #574 closed

[2021-11-11 02:16] brminnick commented on #636
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:16] #636 closed

[2021-11-11 02:16] brminnick commented on #633
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:16] #633 closed

[2021-11-11 02:16] brminnick commented on #593
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:16] #593 closed

[2021-11-11 02:16] brminnick commented on #555
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:16] #555 closed

[2021-11-11 02:17] brminnick commented on #548
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:17] #548 closed

[2021-11-11 02:17] #547 closed

[2021-11-11 02:17] brminnick commented on #504
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:17] #504 closed

[2021-11-11 02:17] brminnick commented on #498
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:17] #498 closed

[2021-11-11 02:17] brminnick commented on #475
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:17] #475 closed

[2021-11-11 02:17] brminnick commented on #488
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:17] #488 closed

[2021-11-11 02:18] #467 closed

[2021-11-11 02:18] brminnick commented on #456
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:18] #456 closed

[2021-11-11 02:18] brminnick commented on #452
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:18] #452 closed

[2021-11-11 02:18] brminnick commented on #390
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:18] #390 closed

[2021-11-11 02:19] brminnick commented on #385
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:20] brminnick commented on #385
Reopening because it looks like this was approved and a PR was opened before the new feature deadline

[2021-11-11 02:21] brminnick commented on #383
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:21] #383 closed

[2021-11-11 02:22] brminnick commented on #375
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:22] #375 closed

[2021-11-11 02:22] brminnick commented on #366
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:22] #366 closed

[2021-11-11 02:22] brminnick commented on #365
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:22] #365 closed

[2021-11-11 02:23] #362 closed

[2021-11-11 02:23] brminnick commented on #358
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:23] #358 closed

[2021-11-11 02:23] brminnick commented on #308
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:23] brminnick commented on #294
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:23] #294 closed

[2021-11-11 02:24] brminnick commented on #290
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:24] #290 closed

[2021-11-11 02:25] brminnick commented on #937
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:25] #937 closed

[2021-11-11 02:25] brminnick commented on #908
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:25] #908 closed

[2021-11-11 02:26] pictos commented on #385
Closing this one. If anyone wants this feature please open a proposal in MCT

[2021-11-11 02:26] #385 closed

[2021-11-11 02:27] brminnick commented on #906
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:27] #906 closed

[2021-11-11 02:27] brminnick commented on #902
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:27] #902 closed

[2021-11-11 02:27] brminnick commented on #894
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:27] #894 closed

[2021-11-11 02:27] brminnick commented on #881
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:27] #881 closed

[2021-11-11 02:27] brminnick commented on #869
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:27] #869 closed

[2021-11-11 02:28] brminnick commented on #838
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:28] #838 closed

[2021-11-11 02:28] #832 closed

[2021-11-11 02:28] brminnick commented on #832
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

I've posted more information about the Future Of Xamarin Community Toolkit here: https://devblogs.microsoft.com/xamarin/the-future-of-xamarin-community-toolkit/?WT.mc_id=mobile-0000-bramin

[2021-11-11 02:29] brminnick commented on #808
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:29] #808 closed

[2021-11-11 02:29] brminnick commented on #806
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:29] #806 closed

[2021-11-11 02:29] brminnick commented on #800
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

I've posted more information about the Future Of Xamarin Community Toolkit here: https://devblogs.microsoft.com/xamarin/the-future-of-xamarin-community-toolkit/?WT.mc_id=mobile-0000-bramin

[2021-11-11 02:29] #800 closed

[2021-11-11 02:30] #786 closed

[2021-11-11 02:30] brminnick commented on #753
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:30] #753 closed

[2021-11-11 02:30] brminnick commented on #735
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:30] #735 closed

[2021-11-11 02:32] brminnick commented on #716
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:32] #716 closed

[2021-11-11 02:32] brminnick commented on #702
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:32] #702 closed

[2021-11-11 02:32] #677 closed

[2021-11-11 02:33] brminnick commented on #675
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:33] #675 closed

[2021-11-11 02:33] brminnick commented on #650
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:33] #650 closed

[2021-11-11 02:33] brminnick commented on #648
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:33] #648 closed

[2021-11-11 02:33] brminnick commented on #647
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:33] #647 closed

[2021-11-11 02:33] brminnick commented on #646
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:33] #646 closed

[2021-11-11 02:33] brminnick commented on #380
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:33] #380 closed

[2021-11-11 02:34] brminnick commented on #1281
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:34] #1281 closed

[2021-11-11 02:34] brminnick commented on #1280
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:34] #1280 closed

[2021-11-11 02:35] brminnick commented on #1256
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:35] #1256 closed

[2021-11-11 02:36] brminnick commented on #1225
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:36] #1225 closed

[2021-11-11 02:36] brminnick commented on #1217
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:36] #1217 closed

[2021-11-11 02:36] brminnick commented on #1201
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

I've posted more information about the Future Of Xamarin Community Toolkit here: https://devblogs.microsoft.com/xamarin/the-future-of-xamarin-community-toolkit/?WT.mc_id=mobile-0000-bramin

[2021-11-11 02:36] #1201 closed

[2021-11-11 02:37] brminnick commented on #1178
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:37] #1178 closed

[2021-11-11 02:37] brminnick commented on #1177
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:37] #1177 closed

[2021-11-11 02:37] brminnick commented on #1169
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:37] #1169 closed

[2021-11-11 02:37] brminnick commented on #1136
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:37] #1136 closed

[2021-11-11 02:38] GUOLDEV commented on #385
Hi @brminnick , @pictos closed this PR again, it would be great to have it in XCT 🙏

[2021-11-11 02:38] brminnick commented on #1135
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:38] #1135 closed

[2021-11-11 02:38] brminnick commented on #1123
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:38] #1123 closed

[2021-11-11 02:39] brminnick commented on #1101
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

I've posted more information about the Future Of Xamarin Community Toolkit here: https://devblogs.microsoft.com/xamarin/the-future-of-xamarin-community-toolkit/?WT.mc_id=mobile-0000-bramin

[2021-11-11 02:39] #1101 closed

[2021-11-11 02:39] brminnick commented on #1098
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:39] #1098 closed

[2021-11-11 02:39] brminnick commented on #1096
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:39] #1096 closed

[2021-11-11 02:39] brminnick commented on #1044
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:39] #1044 closed

[2021-11-11 02:39] brminnick commented on #1019
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:39] #1019 closed

[2021-11-11 02:40] brminnick commented on #1004
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:40] #1004 closed

[2021-11-11 02:40] brminnick commented on #1021
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:40] #1021 closed

[2021-11-11 02:40] brminnick commented on #991
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:40] #991 closed

[2021-11-11 02:40] brminnick commented on #978
Thanks! However, we are no longer adding new features to Xamarin Community Toolkit, focusing on the [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

Please open a [New Feature Discussion](https://github.com/CommunityToolkit/Maui/discussions/new) to implement this feature in the .NET MAUI Community Toolkit.

I've posted more information about the Future Of Xamarin Community

[2021-11-11 02:40] #978 closed

[2021-11-11 02:49] #1315 closed

[2021-11-11 07:04] JoacimWall opened #1715 "[Bug] MediaElement AutoPlay even if property set to false on Android"
### Description

See attached project

### Stack Trace

The are no stacktrace

### Link to Reproduction Sample

### Steps to Reproduce

1.  Run the attached project target Android device
2. Video autoplay when Autoplay set to false.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:Visual studio for Mac 8.10.13 (Build 11)

[2021-11-11 13:13] hnabbasi commented on #385
I will resume working on this for MAUI. Please leave it open if possible 🙏

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Gustavo Oliveira ***@***.***>
Sent: Wednesday, November 10, 2021 8:38:14 PM
To: xamarin/XamarinCommunityToolkit ***@***.***>
Cc: Hussain N. Abbasi ***@***.***>; Mention ***@***.***>
Subject: Re: [xamarin/XamarinCommunityToolkit] [Enhancem

[2021-11-11 13:48] bijington commented on #385
@hnabbasi it would be great if this made it to the MAUI toolkit but if you are planning on implementing this for the MAUI toolkit that will need to be done in another repo as mentioned by @brminnick here:

[2021-11-11 20:49] bijington commented on #1410
@pictos or @brminnick is this covered by the `WeakEventManager` implementation?

[2021-11-11 20:52] brminnick commented on #1410
Yup! Closing

[2021-11-11 20:52] #1410 closed

[2021-11-11 21:45] vhugogarcia commented on #1294
I'm experiencing this issue exactly. @jfversluis I'm wondering if there is a workaround for this 👍🏻 .

Thanks in advance.

[2021-11-12 06:40] Dirwaz commented on #1058
Any update on this regards ?

[2021-11-12 12:19] DonovanVZ commented on #1311
In the end, the solution for me was to delete the obj and bin folders of the project. I then reopened visual studio and did a rebuild and the errors were gone.

Please see the following link:

https://weblog.west-wind.com/posts/2018/Aug/07/Fixing-Visual-Studio-Intellisense-Errors

[2021-11-13 02:35] codeanees commented on #1682
Do you have any sample repo to reproduce it easily? Diagnosing the issue with only exception is bit hard.

[2021-11-13 02:39] codeanees commented on #1658
Are you talking about Xamarin Page Display Alert or XCT Pop-ups (Xamarin Community Toolkit)?

[2021-11-14 11:32] Flying--Dutchman commented on #1592
Facing the same issue, with local video files.
We've got multiple devices here, but the issue only occurs on a Samsung S7.

[2021-11-15 10:03] jcdup commented on #1294
Is anyone looking into this or would it be better to look for a different tabview?

[2021-11-15 12:27] rxDietel opened #1719 "[Bug] UWP PopUp Disappears upon changing window and Returning again"
### Description

Popups will disapear if you bring another window infront of your app and then return to your app.
No Events will be triggered.

### Link to Reproduction Sample

You can reproduce this with the Samples provided with xct

### Steps to Reproduce

1. Open a Popup Sample
2. Switch to another Window
3. Switch back to the sample window

### Expected Behavior
Popup will still be there.

#

[2021-11-15 13:44] bijington commented on #1659
I have had a quick look in to this. I haven't been able to work out where the faulting code exists however I have noticed that if the `TouchEffect.Command` approach in the `GridRemoveLast.xaml` is replaced with a `TapGestureRecognizer` on the `Label` then it behaves as expected. This alone makes me think there is something the toolkit is setting up which ultimately causes things to go wrong.

It i

[2021-11-15 20:48] stefanbogaard86 opened #1720 "[Bug] TouchEffect.LongPressCommand causes System.ArgumentNullException when page is popped"
### Desciption

Hello,

I've been experiencing a bug with the LongPressCommand TouchEffect.

I have a page with the LongPressCommand on a button. When I navigate to that page with PushModalAsync and then dismiss the page by calling PopModalAsync(**false**), my app crashes with a System.ArgumentNullException.

When calling PopModalAsync(true), it will work.

### Stack Trace

**System.ArgumentNullEx

[2021-11-16 11:57] kerberosargos opened #1721 "[Question] is there any way to merge 2 info.plist in 1 project?"
Hello folks,

I have 2 project, One of them is a plugin project. Plugin project has a permission settings for using camera. I would like to create a info.plist in plugin project. My question is about merging two info.plist in my main iOS project in building time. My other similar question is for Android. I have searched much more in internet but I did not find anything about that. I am wondering i

[2021-11-16 13:34] sabant commented on #292
Hello,
Where can I find the iOS code sample (the one with an indicator on top). I have issue reproducing it on iOS only,..

[2021-11-16 14:19] Countryen commented on #1705
I am currently trying to fix this. Please see the conversation in the MAUI issue, too.

[2021-11-16 14:25] jfversluis commented on #606
WPF has support for ControlTemplates as of the next service release for Forms 🎉

[2021-11-16 21:27] bijington commented on #1294
A quick investigation points to it likely being the underlying `CarouselView` that is not resizing its contents correctly after the orientation change.

[2021-11-17 06:26] jcdup commented on #1294
Thanks for looking into the problem

[2021-11-17 13:04] roswer13 opened #1722 "MediaElement doesn't work with Behaviors for iOS"
I am using MediaElement and I am adding a Behaviors to it to control the events with EventToCommandBehavior and work with a MVVM structure. But for iOS it doesn't work correctly but in Android it does.

Example:

[code]

Version of Xamarin Community Toolkit: 1.3.0

[2021-11-17 14:07] parameshgolla commented on #289
I face the same issue with video on samsung SMT595 tablet

[CameraDevice-0-LE] Surface with size (w=1920, h=1080) and format 0x22 is not valid, size not in valid set: [1472x1104, 1088x1088, 1280x720, 1024x768, 960x720, 832x500, 720x480, 640x480, 352x288, 320x240, 176x144]
[.malacontrolle] Explicit concurrent copying GC freed 53180(2173KB) AllocSpace objects, 1(20KB) LOS objects, 57% free, 4614KB/1

[2021-11-17 19:38] mikemiller-tawmrm opened #1723 "Xamarin Community Toolkit – MediaElement not playing mp4 file with a single frame."
I have two .mp4 files downloaded from a server.  Both play using:
Windows Media Player,
Photos,
Movies and TV,
A C# desktop app using MediaViewer, and
MediaElement in iOS

On Android, one plays well, the other displays a black screen.
I had recently updated to:
Xamarin Community Toolkit: 1.3
Xamarin Forms 5.0.0.2244
VS IDE 16.11.7 prior version 16.11.6

Prior to implementing updates both files pla

[2021-11-18 15:07] parameshgolla opened #1724 "[Bug] CameraView [Android] - video orientation fails to set to Landscape on start"
### Description

When making application that is forced to landscape orientation, camera video preview is broken - it is rotated 90 degrees and also saves the video file in 90 degrees.

### Steps to Reproduce

1. Create a blank Xamarin.Forms application.
2. Set default orientation of android app to Landscape
3. Add XCT package.
4. Add CameraView on sample page.

### Expected Behavior
Camera previe

[2021-11-18 19:53] lartisanetsonmobile-admin opened #1725 "[Bug] [iOS] ShadowEffect disappearing when coming back to the app (only with the Frame view)"
### Description
I have added a shadow effect to a Frame

`<Frame WidthRequest="200" HeightRequest="100"
               xct:ShadowEffect.Color="Red"
               xct:ShadowEffect.OffsetY="5"
               xct:ShadowEffect.Radius="10"
               CornerRadius="10"
               HorizontalOptions="Center"
               BackgroundColor="Gray"/>`

The shadow effect is disappearing when coming b

[2021-11-18 23:26] jrahma commented on #894
I would consider this is a bug because a main function is not working which is a landscape pic

[2021-11-19 05:41] SarthakGz commented on #1182
@Chris-Marassovich unfortunately I had to move StateLayout from outside to inside the each TabView so TabView will be visibile when page loads

[2021-11-19 07:23] bijington commented on #894
This issue has been resolved as part of PR #1524 and this is available in release `1.3.0`. Therefore I am closing this down.

[2021-11-19 07:27] bijington commented on #1182
I suspect this issue relates to #1294

It appears that the underlying CarouselView in the TabView does not correctly update its child views

[2021-11-19 10:13] SarthakGz commented on #1725
@lartisanetsonmobile-admin are you having the same issue with other layout then frame like for StackLayout. As Frame has it's own shadow that might be interfering with shadow effect

[2021-11-19 10:38] lartisanetsonmobile-admin commented on #1725
@SarthakGz No, only with Frame layout. It works fine with StackLayout, Grid, Button etc.. But i use Frame because it has the CornerRadius property

[2021-11-19 13:33] jrahma opened #1726 "[Bug] Photo not fitting inside the area"
### Description

When taking a photo using a mobile with CameraView and it's fitting the area when I use the camera but when I capture it reduce the space and make it portrait.

### Stack Trace

No Error

### Link to Reproduction Sample

Video is attached

### Steps to Reproduce

Here is the XAML code:

[code]

and this is my backend:

[code]

### Basic Information

The problem is with all iOS and

[2021-11-19 13:39] mikemiller-tawmrm commented on #1723
Removed VS 2019.  Cleaned and built using VS 2022 Version 17.0.1.  It appears there were conflicts and issues within my VS 2019.

[2021-11-19 13:39] #1723 closed

[2021-11-19 14:06] SarthakGz commented on #1725
@lartisanetsonmobile-admin  For corner radius you can use CornerRadius effect provided by XCT or Clipping api by Xamarin forms you can apply that on any Layout for now at-least as a workaround

[2021-11-19 20:50] mgramley commented on #985
Has there been an update to this? The workaround everyone has mentioned doesn't work for me.

[2021-11-19 20:59] brminnick commented on #985
@mgramley Ensure your Unit Test project is targeting .NET Core 3.1 and that the Unit Test CSPROJ includes `<GenerateErrorForMissingTargetingPacks>false</GenerateErrorForMissingTargetingPacks>`.

We do not have a known way to fix this without removing Xamarin Community Toolkit support for WPF.

We are open to pull requests.

[2021-11-19 21:30] mgramley commented on #985
I already had the GenerateErrorForMissingTargetingPacks flag in my project, it did not resolve the issue for me.

For now, since I only need a single view from the toolkit I will pul the latest source files into my project.

[2021-11-21 03:45] AdrianJakubcik commented on #1546
I have the same problem, setting TabStripHeight doesn't change the row height but instead if resizing overlaps my content. Is there a workaround? On the screenshot below the bug is very easy to spot... the red tab is unselected and the gray box behind it is the actual row that is referenced to calculate the size of each element.

![Screenshot_20211121-044301](https://user-images.githubusercontent.

[2021-11-22 00:33] AdrianJakubcik opened #1729 "[Bug] TabView TabStripHeight Resizing Incorrectly"
### Description

Creating a new TabView and using FontImageSource for Icon, renders the icons very tiny as can be seen in the pictures attached below. So, I tried setting the TabStripHeight property to make the TabStrip bigger and allow the icon to scale up, worked perfectly as intended. However, shortly after I noticed that the TabStrip container did resize but not in the main container so it end

[2021-11-22 08:23] h1nson commented on #969
i face the same issue on Android 5. May be caused by TouchEffect

[2021-11-22 15:02] ahoke-cr commented on #1546
I suspect this will need to be moved to the MAUI repo unless this is a critical enough bug that it could be fixed in a support release, but no word from the Xamarin team in over months for this issue, so I am not hopeful.

[2021-11-22 16:24] bijington commented on #1546
@ahoke-cr We are still accepting bug fixes to the community toolkit so it's entirely possible this could get fixed.

We are completely community driven and actually not linked to the Xamarin team.

If this is a blocker would you be willing to look in to the issue?

[2021-11-22 16:28] ahoke-cr commented on #1546
@bijington Apologies, I forgot this was in the Essentials repo and not Forms. I ended up hacking around it by defaulting it to visible and hiding it until setup has finished, but I don't know if I can convince my manager to let me spend time on this and I don't have the free time to do so.

[2021-11-22 16:36] bijington commented on #1546
@ahoke-cr no need to apologise 😃 it is confusing given it is under the Xamarin repo.

Sadly we all understand the difficulties of persuading managers to approve OSS contributions despite it benefiting the company. I'm always on the hunt to seek other contributors so if you do manage to get some time then please do let us know as we are always happy to assist in getting up to speed.

Your steps to

[2021-11-22 16:49] ahoke-cr commented on #1546
@bijington my hack is probably less than ideal for most developers. I simply chose to hide the page behind a loading state until the tab view has been updated to show or hide the tab strip based on the user's privileges. Unfortunately my company is quite small so the budget to work on OSS is probably not there since I am also currently the only mobile app developer. :)

[2021-11-22 18:12] AdrianJakubcik commented on #1546
@bijington I inspected the source and it actually seems like the TabStrip row is never set to `auto` as the BindableProperty sets the default value of TabStripHeight to `(double)48`

#### Setting the `RowDefinitions` in constructor of `TabView`
[code]

#### Here is the `TabStripHeight`
[code]

Furthermore the `OnTabStripHeightChanged()` method only sets the height requested to the `TabStripBackgro

[2021-11-22 23:04] bijington commented on #1546
@AdrianJakubcik it sounds like you could be on to something there 😃 good work!

For being able to modify the source and test the changes there are a number of options broken down in to multiple steps:

# 1. Get the code

You only need to follow one of the following options:

## 1.1 Download the code

I have to initially point out that this is possibly slightly easier than forking but it won't allo

[2021-11-22 23:19] ahoke-cr commented on #1546
@AdrianJakubcik great find. I actually did the same thing and tried to look at the source to understand what was going on, but missed that default value assignment on the bindable property declaration.

[2021-11-23 17:37] AdrianJakubcik commented on #1546
@bijington I thought I could do it the fastest way of using the Sample App in the solution. However, it is putting up a hell of a fight with Nuget packages.

![image](https://user-images.githubusercontent.com/45712887/143074862-187b60a4-ac59-4791-a184-4651857e4d34.png)

I can remove/uninstall nor update any Nuget Packages in the solution and I have tons of errors saying I should run Nuget package

[2021-11-23 17:45] AdrianJakubcik commented on #1546
Never mind, after nearly 2 hours of constant pain I finally got it working. All I had to do is, load the `XCT.Sample` solution once, close it down and load it up once more.

[2021-11-23 21:10] bijington commented on #1546
@AdrianJakubcik sorry you went through that pain. I am not entirely sure why that happened but I am glad you made it through!

Best of luck looking in to this issue.

[2021-11-23 21:25] AdrianJakubcik commented on #1546
@bijington Also I've encountered another issue but that is probably the fault of VS, that when trying to deploy on to the Sample App. I got `Error ADB0020: Android ABI mismatch` even though I had all the architectures included and marked as supported. If anyone encounters this mysterious situation, checking the `Fast Deployment (Debug mode only)` option fixed the problem or if we would really like

[2021-11-25 06:04] #1670 closed

[2021-11-25 10:15] scastiello commented on #1091
Already released? I´m using the last 1.3.0 version and it is still failing, anyway the workaround is working fine.

[2021-11-25 12:40] VladislavAntonyuk commented on #1675
Fixed in https://www.nuget.org/packages/Xamarin.CommunityToolkit.MauiCompat/1.3.0-compat-alpha3

[2021-11-25 12:40] #1675 closed

[2021-11-25 12:52] #1340 closed

[2021-11-25 12:52] #1341 closed

[2021-11-25 13:33] perdomoeudis opened #1735 "[Bug] The camera, shadow and command effects do not work when the application is published"
### Description

In my application I use the camera component, the shadow and command effects that it provides
XamarinCommunityToolkit. In development mode when I run the application on my phone debugging from the VS for Mac IT WORKS WELL. But when I post it to TestFlight or Ad-Hoc they stop working. the buttons do nothing, the shadow is not visible and the camera does not open it remains black.

[2021-11-25 13:55] lartisanetsonmobile-admin commented on #1725
@SarthakGz I will try this workaround, thank you for helping :)

[2021-11-25 21:29] maxkoshevoi commented on #1645
@brminnick @VladislavAntonyuk Hi, [`1.3.0-compat-alpha3`](https://www.nuget.org/packages/Xamarin.CommunityToolkit.MauiCompat/1.3.0-compat-alpha3) still doesn't target `.net6.0`.
Could you reopen this please?

[2021-11-25 22:13] #1712 closed

[2021-11-26 13:04] bijington commented on #1546
@AdrianJakubcik sorry to hear that, I haven't seen the Android issue before but I can now say thanks for the reloading of the XCT.Sample solution, I just suffered the same problem on a new VM that I recently setup so you saved me some time 😄

[2021-11-26 16:21] lartisanetsonmobile-admin commented on #1725
@SarthakGz I can't find any CornerRadius effect in XCT. And i think the ShadowEffect is overriding corner radius effects on Android

[2021-11-26 17:51] IeuanWalker opened #1741 "[Bug] MauiCompact not working in new Maui project"
See discussion for more details - https://github.com/xamarin/XamarinCommunityToolkit/discussions/1740

Here is the repo project -
[repo.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/7610188/repo.zip)

I'm using the latest VS2022 preview

[2021-11-26 17:54] brminnick commented on #1741
@VladislavAntonyuk Could you take a look?

[2021-11-26 19:00] VladislavAntonyuk commented on #1741
yes

[2021-11-26 21:04] VladislavAntonyuk commented on #1741
@IeuanWalker
![image](https://user-images.githubusercontent.com/33021114/143645161-792ccaaf-f91f-419a-a290-eb198e013226.png)
you added lib only for android.
Also MauiCompat works only with iOS and Android. you have to remove net6.0-maccatalyst target framework
![image](https://user-images.githubusercontent.com/33021114/143647499-c8a954aa-185c-4622-ab97-df33712bee81.png)

[2021-11-26 21:04] #1741 closed

[2021-11-26 22:29] gdang opened #1742 "[Bug] IsNullOrEmptyConverter checks with string.IsNullOrWhiteSpace()"
### Description
I'm using the IsNullOrEmptyConverter in my project to show a UI element when an input string is null or empty, but when I enter whitespace characters only, the UI element is still visible.

Looking at the source code, the converter is implemented using **string.IsNullOrWhiteSpace()**:
https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.Communit

[2021-11-27 00:14] IeuanWalker commented on #1741
thanks @VladislavAntonyuk, nice spot, VS installed it like that

[2021-11-29 02:45] bbhxwl opened #1743 "[Bug] cameraView I want to do face recognition. Can't I hide and redraw the image?"
If cameraview is set to display, call shutter to get the picture. But there's no way to reset the screen. If I set cameraview to hide, I can't get the picture by calling shutter. No response. I want to get pictures in real time, face recognition and redraw the image

[2021-11-29 03:26] bbhxwl commented on #1724
So do I. So do I when I use 1.2.0.

[2021-11-29 03:27] bbhxwl commented on #1695
So do I. So do I when I use 1.2.0.

[2021-11-29 04:07] bbhxwl commented on #1651
For Android, I haven't solved it

[2021-11-29 12:51] TommiGustafsson-HMP commented on #1696
This seems to have been fixed by itself over time.

[2021-11-29 12:51] #1696 closed

[2021-11-29 20:14] Countryen opened #1744 "[Bug] Red Unit Tests on German IDE for DateTimeOffsetConverter_Tests"
### Description

Contributing some unit tests I've noticed that some of the tests already fail for my system, they are related to DateTime/Locale.
I don't know whether this is because the tests are wrong or the system under test is wrong.

This is bad for contributers for they want to ensure their changes don't break anything and all tests run green.

### Steps to Reproduce

1. Checkout the main b

[2021-11-29 20:27] Countryen commented on #1744
After some issue browsing I found this which could be related, same issue is mentioned. https://github.com/xamarin/XamarinCommunityToolkit/pull/935#issuecomment-784636566

[2021-11-29 20:50] MhAllan opened #1745 "[Bug] MediaElement not playing simplest example"
Here is the file

<img width="300" src="https://user-images.githubusercontent.com/13087546/143940415-9a63d370-3455-489c-9d24-66d56c220147.png"/>

and here is the code
[code]

I hear nothing. And I guess this whole MediaElement thing is wrongly designed, it doesn't play streams and require files to put in given location, the right design should be playing steams and with maybe better name like Medi

[2021-11-30 11:07] Miksier opened #1746 "[Bug] TabView goes into SelectedItem changed loop after quickly switching tabs."
### Description

After creating tabView with some tabs, if the tabs are heavy or there is some calculation between switching them, and the switching is not super smooth - propably takes longer then animation consider - pressing another tab is making TabView go into loop of selecting tabs.

### Link to Reproduction Sample
[https://github.com/Miksier/tabview_bug_sample]
### Steps to Reproduce

1. Cr

[2021-11-30 13:58] jm-parent opened #1747 "[Bug] DrawingView In Expander (Android :☠️/ iOS : 🙈 )"
### Description

Use a DrawingView in Expander is not stable.

Crash on Android
NotVisible at first openning on iOS

### Link to Reproduction Sample

Works alone 👍
[code]
Crash/NotShow on "openning" Expander
[code]
### Steps to Reproduce

1. Tap on Expander
2. App Crash :) // DrawingView not showing

### Expected Behavior

Android : No Crash
iOS : Show on openning

### Actual Behavior

### Android

[2021-11-30 14:59] KlaasTroost commented on #1396
We too, is there any chance someone get fixing this annoying bug?

[2021-11-30 17:38] SarthakGz commented on #1725
@lartisanetsonmobile-admin check this PR I think this is merged though couldn't find it either
https://github.com/xamarin/XamarinCommunityToolkit/pull/1316

[2021-11-30 17:44] bijington commented on #1725
That PR has been merged but it's currently only on the `develop` branch which means it hasn't officially been released yet.

[2021-11-30 18:17] pictos commented on #1747
@jm-parent
Could you attach a small repro?

[2021-11-30 20:33] Hackmodford commented on #625
I also have this issue in an app I'm working on.

[2021-11-30 21:46] vhugogarcia commented on #746
I'm facing the same issue. I'm wondering if you found a workaround @RadoslawKubas ?

[2021-11-30 22:12] thaihuydang opened #1750 "[Bug MauiCompat] Popup can't open in Maui Application!"
### Description

I use Xamarin community toolkit MauiCompat to implement popup for .net Maui but when I call to open the popup, it had an error  like the image below
![image](https://user-images.githubusercontent.com/17990989/144109992-bb747b32-4f82-411e-8f1f-6c35263375a7.png)

### Stack Trace

     at Xamarin.CommunityToolkit.Helpers.XCT.get_Context()
   at Xamarin.CommunityToolkit.Extensions.Nav

[2021-12-01 07:57] alex3326 opened #1751 "[Bug] PopUp looks different on iOS"
**Description**
Simple popup looks different on Android and iOS devices. The background shadow is on the inside on iOS not on the outside. See images to compare results.

**Basic Information**

IDE: Visual Studio 2019 v.16.11.7
Xamarin.Forms: 5.0.0.2244
Xamarin.CommunityToolkit: 1.3.1
Android TestDevice: Android 11.0
iPhone TestDevice: iOS 15.0.2

**XML Code**
![popUpXml](https://user-images.githu

[2021-12-01 16:52] Greg-Neumann commented on #1311
Clearing the bin & obj folders resolved this for me (Windows)

[2021-12-01 19:05] rezo12 commented on #1750
I am getting the same issue
![image](https://user-images.githubusercontent.com/33411469/144297430-13b11f9e-6286-4dde-822e-c9059bd86d47.png)

[2021-12-02 06:41] alex3326 opened #1753 "[Bug] PopUp looks different on iOS"
**Description**
Simple popup looks different on Android and iOS devices. The background shadow is on the inside on iOS not on the outside. See images to compare results.

**Basic Information**

IDE: Visual Studio 2019 v.16.11.7
Xamarin.Forms: 5.0.0.2244
Xamarin.CommunityToolkit: 1.3.1
Android TestDevice: Android 11.0
iPhone TestDevice: iOS 15.0.2

**XML Code**
![popUpXml](https://user-images.githu

[2021-12-02 06:41] #1751 closed

[2021-12-02 06:52] bijington commented on #1721
Closing this as it doesn't directly relate to XCT and it has also been raised here with some actual discussion https://github.com/xamarin/Xamarin.Forms/issues/14889

[2021-12-02 06:52] #1721 closed

[2021-12-02 06:53] bijington commented on #1753
@alex3326 are you using Dark mode on the iOS device?

[2021-12-02 07:06] SarthakGz commented on #1746
I also encountered this issue.will debug soon to find the issue in codebase

[2021-12-02 07:35] alex3326 commented on #1753
Yes but the dark background is still missing on the light mode. Or is there never a dark background like on Android?

Thanks for the hint ^^.

[2021-12-02 07:39] rxDietel commented on #1719
The underlying Flyout from UWP has an event Closed. By connecting it to dismiss with some result it's at least detectable that the popup disappeared.
Otherwise there is currently no way to detect if the Popup is still there or if it has disappeared.

[2021-12-02 15:14] rezo12 commented on #1750
I looked further into this and got past this error when creating a simple shell renderer, because my main page is a AppShell.
![image](https://user-images.githubusercontent.com/33411469/144448607-ce8e788e-7be8-460c-8d3a-93f648ca6d75.png)
I then registered it in the startup:
![image](https://user-images.githubusercontent.com/33411469/144448803-858bca06-3efb-439b-995b-4ebbf8c04c78.png)

Now I am get

[2021-12-02 15:16] gkarabin opened #1754 "[Bug] [MauiCompat] No net6.0 TFM support, breaks upgrade for netstandard assemblies"
### Description

I am attempting to upgrade a solution that has .NET Standard projects that reference Xamarin.CommunityToolkit. I would like to update the .NET Standard projects to .net 6.0 and have them reference Xamarin.CommunityToolkit.MauiCompat, so that they can be referenced in other projects that do not run on iOS or Android (unit tests, console apps, etc.) but still contain views for the A

[2021-12-02 18:08] bijington commented on #1753
Sorry I don't know too much around Popups by my initial thoughts are that it is down to the appearance set on the phone.

The below shows the same popup being rendered on the same device with just changing the appearance setting on iOS.

There should be a similar setting on Android, have you got that set to light or dark?

Light mode
![image](https://user-images.githubusercontent.com/17139988/1444

[2021-12-03 14:37] #1705 closed

[2021-12-03 14:40] brminnick commented on #1744
@Countryen Could you confirm that #1733 solved this Issue now that it has been merged?

[2021-12-03 15:48] VladislavAntonyuk commented on #1750
@thaihuydang Could you please attach a small app to reproduce?

I created a small sample and reproduced it, but that is because I used ContentPage with handler architecture.
If I switch to Renderer implementation, I receive NRE in MAUI (during renderer creation).

[2021-12-03 15:56] VladislavAntonyuk commented on #1754
duplicate of https://github.com/xamarin/XamarinCommunityToolkit/issues/1645

[2021-12-03 16:13] VladislavAntonyuk commented on #1750
@thaihuydang it is an expected error. The app tries to receive Page renderer (Application.Current.MainPage.GetRenderer()), but it is not registered.
also, it is not a scenario where MauiCompat should be used. MaiCompat is for apps with custom controls and renderers. it won't work if you use it with Handler architecture.
Please use CommunityToolkit.Maui. (But Popup implementation is in progress). Y

[2021-12-03 16:14] #1754 closed

[2021-12-04 06:41] thaihuydang commented on #1750
@VladislavAntonyuk thank you reply. I will happy to use Maui Community Toolkit when it included Popup.

[2021-12-05 20:45] follesoe opened #1758 "NullReferenceException thrown in PopupRenderer.SetViewController when using in embedded forms scenario"
### Description

I am trying to use the Popup View in a Xamarin.iOS application embedding some Xamarin.Forms views, a technique described in the Xamarin.Forms documentation here: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/native-forms

When calling `Xamarin.Forms.Application.Current.MainPage.Navigation.ShowPopup(popup);` I get a null reference exception, as shown in the stack

[2021-12-05 22:56] pictos commented on #1758
@follesoe probably the NRE is from here
https://github.com/xamarin/XamarinCommunityToolkit/blob/35d7d5f7620110a55de9ec8a1afd0397e64b4d10/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Popup/iOS/PopupRenderer.ios.cs#L134~L149

since you don't have a `MainPage` that will be null. That said I believe that our pop-up doesn't support embedded forms scenarios

[2021-12-06 06:45] bijington commented on #1758
I was going to ask whether:
1. We need to set the Parent for the ContentPage
1. And it has to be `Application.Current.MainPage`

I have noticed that we look for `Application.Current.MainPage` throughout the code but I suspect this is to gain access to an `INavigation` implementation. If we only need an implementation could we allow developers to provide their own?

[code]

Then a consumer could wr

[2021-12-06 09:37] Countryen commented on #1744
@brminnick Yes, I've tested it just now. All tests pass and run green ✔️

[2021-12-06 09:37] #1744 closed

[2021-12-06 11:19] Ed156 commented on #1615
My toucheffects also were not working in Ios release mode with version 1.3.0. Just upgraded to 1.3.1 which fixes it. Thanks!!!

[2021-12-06 14:11] Hackmodford opened #1759 "[Bug] AnimationBehavior has unintended tap gesture recognizer"
### Description

The description of the AnimationBehavior is that you can trigger an animation via a bindable command. But I noticed that there is a tap gesture recognizer that cannot be disabled. It seems like this should be removed or at the very least have a way to disable this gesture recognizer.

In my scenario, I wanted to trigger a shake animation via a command bound to my view model. But t

[2021-12-06 15:10] Hackmodford commented on #1759
Yeah... I'm just not clear why it needs to be there in the first place. But if there's a way to not animate on a clicked event I would be fine.

[2021-12-06 15:36] bijington commented on #1759
So originally the only way to animate was by interacting with the control like this, it would then fire the `Command` down to a view model. We only recently added the `AnimateCommand` to allow the triggering from the view model.

We will need to keep the original way but can provide a way to disable the addition of the `TapGestureRecognizer`.

[2021-12-06 17:53] ahoefling commented on #1758
Thanks @follesoe for logging the issue so we can get more eyes on it. To the best of my understanding the Xamarin.Forms navigation pipeline isn't being created in the embedded scenario even though you are creating a `MainPage` object. I wasn't 100% sure when I originally made the recommendation on twitter.

The exception is thrown when the renderer is attempting to gain access to the nearest `View

[2021-12-08 01:27] LeoJHarris commented on #1525
@kainaalmeida Worked for me. Thanks!

[2021-12-08 08:53] TheDude1604 commented on #934
We are facing the same issue like @azapatac , @jBijsterboschNL were you able to find a solution? I have tried to add an Observer to the Image Property of UIImageView but it was not triggered for new values, maybe I did something wrong there.

[2021-12-08 20:20] bondarenkod opened #1761 "[Bug] [iOS] Unable to chain display Popup calls or to display two popup simultaneously"
### Description
It is impossible to display the second popup after awaiting the result from the first one on the iOS platform.
It's happening due to the next logic in the iOS Popup's renderer:
[code]

The result is returned before the controller is removed (dismissed) from the stack (iOS's ViewController).
### Stack Trace

[Presentation] Attempt to present <Xamarin_CommunityToolkit_UI_Views_PopupR

[2021-12-09 10:29] Ed156 commented on #1615
Bummer, have to take that back. Made a release version for testing in Testflight, after two days waiting for approval: the toucheffects do not work anywhere in the app. No response.

Anyone have an idea why this works fine in Debug mode and not in Release mode on a device? I use the latest releases.

[2021-12-09 12:20] pictos commented on #1615
If you release a version with linker marked as `Don't link`, does it work?

[2021-12-09 13:21] Ed156 commented on #1615
Hi @pictos,

Yes that makes the difference!

I just did some testing with releasing to a device:

- Linker Behaviour 'Link Framework SDK's only': Toucheffects DO NOT work

- Linker Behaviour 'Dont' Link': : Toucheffects work

[2021-12-09 14:20] pictos commented on #1615
@Ed156 can you create a small repro and attach it here? That would help us to fix or find a workaround

[2021-12-09 15:17] Ed156 commented on #1615
I tried to reproduce it with a new app with one toucheffect but there it keeps working fine in release mode on the device.

Is there anything else I could try, or share?

[2021-12-09 15:55] pictos commented on #1615
@Ed156  If it's possible can you share the XAML code that you're using the effect?

[2021-12-09 16:07] Ed156 commented on #1615
[sample1.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/7686651/sample1.zip)

It is used in 6 different xaml files, this is a typical example.

[2021-12-10 06:46] ravi-simrun commented on #1294
Hi
we have the same issue, while rotating the device the tab view messed up and overlapped the content of tabs.
it happens in the case of using xamarin community toolkit in ios. it works fine in the case of android.
any solution?

[2021-12-10 12:44] Ed156 commented on #1615
On my end I tried with an added a subclass of some related ios code from the toolkit, in order to influence the linker, but this did not make a difference.

[2021-12-10 16:19] pictos commented on #1615
@Ed156 I believe that if you use the effect in code-behind the linker will keep the reference... XAML uses too much reflection and Linker doesn't handle that very well. You can also create a `linkerpreserve.xml` file and add the TouchEffect's namespace there. I hope that linker for .net 6 is better and more cleaver.

[2021-12-10 20:29] VladislavAntonyuk commented on #1758
By setting ViewController I've made it work.
But you shouldn't use Navigation.ShowPopup. Navigation is from Xamarin.Forms and Xamarin set their own Window.RootController (from MainPage renderer).
I propose such usage:
[code]
![image](https://user-images.githubusercontent.com/33021114/145636302-649078dc-983d-4d2f-9276-8bf97c415199.png)

[2021-12-11 09:12] Ed156 commented on #1615
Thanks Pedro I will try that monday when I am near my remote build host to be able to put a release version on my test device.

[2021-12-13 09:01] TanishqThakral commented on #517
@samhouts @Dresel  Any updates??

[2021-12-13 13:34] Ed156 commented on #1615
Hi Pedro i tried to influence the linker by using the linkersettings.xml that was already present (for prism). But anything I tried there did not seem to work:

For example:
  <assembly fullname="Xamarin.CommunityToolkit">
    <namespace  fullname="Xamarin.CommunityToolkit.iOS.Effects"/>
    <namespace  fullname="Xamarin.CommunityToolkit.Effects"/>
  </assembly>

Or even on assembly level:
 <assem

[2021-12-13 14:39] bricefriha commented on #1311
it doesn't solve #1562 though

[2021-12-13 18:48] bricefriha commented on #1562
I truly feel that it's not related to #1311.
I solved it by downgrading the package to 1.3.0

[2021-12-13 18:54] marcelohazuma commented on #1575
I've found the same behavior described as the second issue, where music playing in background stops when we use MediaElements to play a video file without audio track and Volume set to 0.

[2021-12-13 20:04] pictos commented on #1311
@bricefriha @pulmuone and others, can you please try this nuget and let me know if that works for you? Please make sure to delete the current XCT package, clean up everything (deleting bin/obj) and the install this package
https://dev.azure.com/xamarin/6fd3d886-57a5-4e31-8db7-52a1b47c07a8/_apis/build/builds/51212/artifacts?artifactName=nuget&api-version=6.0&%24format=zip

[2021-12-13 21:34] pictos commented on #1669
Closing this issue, since there's no activity.

[2021-12-13 21:34] #1669 closed

[2021-12-14 15:59] Ruddy2007 commented on #1171
Same issue here. Any update on this?

[2021-12-14 18:12] bondarenkod opened #1764 "[Bug] [iOS] Unable to open second level popup (e.g. to open popup B from popup A)"
**TBD**

### Description

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Workaround

### Reproduction

[2021-12-15 21:15] #1645 closed

[2021-12-16 02:27] WaldemarCichon opened #1766 "[Bug]"
### Description
Apple iOS-Devices allows also to have a zoom factor below 1f. It means, that the zoom factor could be also 0.6 or similar which is a wide angle. 1.0 is related to the standard lens. So if you start with 1.0 the camera shows not the broadest view.
There is also an array called ZoomFactors which return an array of standard zoom factors for the lenses built in. These factors should al

[2021-12-16 13:27] pictos commented on #1766
@WaldemarCichon
Could you attach a small repro? And add a title to the issue?

Thanks in advance.

[2021-12-16 19:19] #1711 closed

[2021-12-17 12:20] smilingjack10 commented on #1311
For me it solved the "Cannot Relove type "TouchEffect"" error. Thx!

[2021-12-17 17:18] Axemasta commented on #1259
We are experiencing this crash on Redmi Note 7 - Android 10, no other device.

Looking at the android docs ([here](https://developer.android.com/reference/android/hardware/camera2/CameraCaptureSession.StateCallback#onConfigureFailed(android.hardware.camera2.CameraCaptureSession))):

I'll have a play with the surfaces being passed in, since its possible that one of the paths used to setup the surfa

[2021-12-19 22:59] #1720 closed

[2021-12-20 18:47] #1758 closed

[2021-12-22 13:09] yunusefendi52 opened #1769 "[Bug] MediaElement URI source throws ObjectDisposedException if return to previous page too early"
### Description

On Android, when using MediaElement URI source, there is a possibility that extracting metadata is taking a little longer, when it did taking a little longer and the MediaElementRenderer is already disposed by navigating to the previous page there will be ObjectDisposedException thrown

### Stack Trace

[code]

### Link to Reproduction Sample

https://github.com/yunusefendi52/AppF

[2021-12-22 14:05] #1761 closed

[2021-12-22 20:40] varyamereon opened #1770 "[Bug] GravatarImageSource throws exception when offline"
### Description

If a GravatarImageSource is used when the app is offline, such as in flight mode, and it has no cached image to display, it throws the exception: `Java.Net.UnknownHostException: 'Unable to resolve host "www.gravatar.com": No address associated with hostname'`. If the image has already been cached then this problem does not occur.

### Stack Trace

No stack trace.

### Link to Repr

[2021-12-23 15:04] TheDude1604 commented on #934
@azapatac @jBijsterboschNL @jfversluis
I could resolve this issue by changing SetUIImageViewTintColor to something like that:

[code]

[2021-12-24 06:35] bradlak commented on #1746
I have the same issue.
Do you have any fix or workaround for it ?

[2021-12-24 18:24] vishnupadakath1 opened #1771 "AsyncCommand throwing exception in UWP release version"
Hi

Using AsyncCommand in .net standard library causes UWP project  to break in release mode. The debug mode works fine .

I am  using  the following code

 this.Button.Command = new AsyncCommand(this.OnButtonClicked, allowsMultipleExecutions: false);

I tried to add the assembly  in the App.xaml.cs before Init() in the UWP project  , but did not help.

  typeof(Xamarin.CommunityToolkit.ObjectMode

[2021-12-26 09:46] ilin61 commented on #1729
Same issue

[2021-12-27 08:04] g-sharat opened #1772 "[Bug] [iOS] Lifecycle Effect Loaded doesn't return proper sender"
### Description

Lifecycle Effect Loaded on iOS doesn't return proper sender. It gives default value of view instead of giving the proper view.

### Steps to Reproduce

1. Create any sample app
2. Add this snippet to the view `<Grid x:Name="BottomGrid" RowSpacing="0">
                <Grid.RowDefinitions>
                    <RowDefinition Height="*" />
                    <RowDefinition Height="A

[2021-12-27 10:55] czmirek opened #1773 "[Bug] StateLayout doesn't work with ContentView"
### Description

StateLayout works just with Grid or StackLayout...it doesn't work with ContentView, ScrollView, Frame and any [other layout](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/controls/layouts). [Or the documentation is not very clear](https://docs.microsoft.com/en-us/xamarin/community-toolkit/views/statelayout) on how to use StateLayout with those layouts. Just

[2021-12-27 15:07] maxkoshevoi opened #1774 "[Bug] TouchEffect on Image crashes on Android 5.1"
### Description

1.2.0 broke TouchEffect on Android 5 again..
See #969 for more details. This seems to be the same issue.

Error message is still
[code]
### Steps to Reproduce

1. Run this app on Android 5 emulator (or real device): https://github.com/maxkoshevoi/NureTimetable
2. Add a timetable
3. Click on setting icon on the right of the added timetable

<details>

![image](https://user-images.g

[2021-12-27 15:08] maxkoshevoi commented on #1774
@AndreiMisiukevich, could you please take a look at that?

[2021-12-27 21:26] VladislavAntonyuk commented on #1774
@maxkoshevoi , @AndreiMisiukevich I think the issue is on this line: https://github.com/xamarin/XamarinCommunityToolkit/blob/0db5b1925555c58100f96dfd8df57e7e47cc296d/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs#L81
should be: ```if (XCT.SdkInt < (int)BuildVersionCodes.M || !effect.NativeAnimation)```

[2021-12-29 00:06] maxkoshevoi opened #1776 "[Bug] TouchEffect.NativeAnimation prevent tap to be passed to child elements"
### Description

`TouchEffect.NativeAnimation` prevent tap to be passed to child elements (see gifs bellow)

### Stack Trace

N/A

### Link to Reproduction Sample

### Steps to Reproduce

1. Add `NativeAnimation` to `StackLayout` and add a button inside it
2. Press a button

### Expected Behavior
ButtonPressed command is executed

### Actual Behavior
Nothing happens

### Basic Information

- Versi

[2021-12-29 00:08] maxkoshevoi commented on #1776
@AndreiMisiukevich, found another one 😅
Trying to use `CollectionView` instead of `ListView`, and this bug really prevents me from doing that

[2021-12-29 03:12] luwei888 commented on #979
same problem，how to fix ？

[2021-12-29 16:42] DamienDoumer opened #1777 "[Bug] The iOS Snack bar is not showing action button when the message's text is long"
### Description

The snackbar control on iOS, doesn't show action buttons when the message text is of a certain length.

### Link to Reproduction Sample
Here is a sample to reproduce.

`
             Shell.Current.DisplaySnackBarAsync(new SnackBarOptions
              {
                MessageOptions = new MessageOptions
                {
                    Foreground = Color.White,

[2021-12-29 19:35] pictos commented on #1777
@DamienDoumer
Could you attach a small repro?

[2021-12-29 21:06] axeldietz commented on #1311
Same prob with xct:eventtocommandbehavior.

Applying: xmlns:xct="clr-namespace:Xamarin.CommunityToolkit.Behaviors;assembly=Xamarin.CommunityToolkit" instead of "xmlns:xct="http://xamarin.com/schemas/2020/toolkit" worked for me.

Microsoft Visual Studio Professional 2022 (64-bit) Version 17.0.4

[2021-12-29 21:21] pictos commented on #1311
@axeldietz do you mind trying this package and seeing if it works for you?

https://dev.azure.com/xamarin/6fd3d886-57a5-4e31-8db7-52a1b47c07a8/_apis/build/builds/51212/artifacts?artifactName=nuget&api-version=6.0&%24format=zip

[2021-12-29 22:00] axeldietz commented on #1311
Hi Pictos,

Thanks for your prompt reply.

Yes, this package works!

Thanks a lot.

[2021-12-29 22:30] FrozDark commented on #1773
Looking though the sourcecode of StateLayout it works with layouts that derives from Layout<View> like StackLayout, Grid and others.. Not working with layouts with single view like ContentView as you described.

From the doc

So it's seems the doc is not very clear to understand cause of words `any layout` but clarified the type of layouts

[2021-12-29 22:38] FrozDark opened #1778 "[Bug] [Expander] Invoke method ForceUpdateSize on Content MeasureInvalidated"
Seems like expander is caching the last size of content and expanding to that size. But there is no change when content size changed if add some views to layouts like StackLayout, Grid inside an expander

### Description
Need to clear cache of last content holder size and force measure of the content on it's measure change

### Steps to Reproduce
1. Create expander with content like grid
2. Expand

[2021-12-29 22:47] bijington commented on #1773
@czmirek that exception doesn't provide much help. Was there an InnerException and possibly a stack trace pointing to where the issue might lie?

[2021-12-30 01:52] pictos commented on #1778
@FrozDark
Could you attach a small repro?

[2021-12-30 10:24] FrozDark commented on #1778
@pictos
Yep
[ExpanderSizeIssueRepro.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/7792508/ExpanderSizeIssueRepro.zip)

[2021-12-30 14:07] DamienDoumer commented on #1777
@pictos Yeah, I just did.

[2021-12-30 23:25] jachanaka commented on #1382
Confirmed it doesn't work. Tab swapping is working but when tap on tab it doesn't work on ios. android is fine

[2021-12-31 01:55] #1311 closed

[2021-12-31 02:12] #1679 closed

[2021-12-31 23:47] Dirwaz commented on #1058
Any update here please ?

[2022-01-02 15:59] Axemasta commented on #1259
Hi guys, I've raised a PR to address this issue. Please if you get the chance could you run my branch & verify the camera is functioning on your Xiaomi devices 😇

@andrecostanunes @kainaalmeida

[2022-01-04 21:51] #1259 closed

[2022-01-05 09:09] chowarth commented on #1171
Also seeing the same problem with our UWP project:

- Target Version: `Windows 10, version 2004 (10.0; Build 19041)`
- Min Version: `Windows 10, version 1809 (10.0; Build 17763)`
- Xamarin.Forms: `v5.0.0.2125`
- Xamarin.CommunityToolkit: `v1.3.0`

[2022-01-06 16:45] michelmoorlag commented on #793
@pictos Any progress in this issue? I now see the same issue on Android too.

[2022-01-07 11:55] jtorvald commented on #1592
Same here with local files

[2022-01-07 16:57] pictos commented on #1777
@VladislavAntonyuk can you take a look on this one?

[2022-01-07 20:14] Tornadocraver commented on #1715
I had the same issue when using an online video source. `AutoPlay` and `IsLooping` are both set to false, but for some reason, as soon as the media loads, it decides to autoplay.

My workaround is _extremely_ hacky - call this method from the `MediaOpened` event:

    private void VideoElement_MediaOpened(object sender, EventArgs e)
    {
        /// ...

        Task.Run(() =>
        {

[2022-01-08 18:45] pictos commented on #793
Hey, @michelmoorlag I didn't find a solution to add on the lib yet, all my tries end up with a solution on the client-side... Also, with the maui release so close I'm not sure if makes sense to investigate a way to work around the linker on Xamarin, I'm saying that because on MAUI the linker that we will use will be from the .net 6 and it's a complete different implementation.

Right now the easy

[2022-01-08 18:51] #1777 closed

[2022-01-09 10:33] michelmoorlag commented on #793
@pictos That makes sense. Thank you for the effort anyway.

[2022-01-09 11:38] darrenlattin commented on #1294
Any update on this or workaround?

[2022-01-09 13:19] proudust commented on #1317
https://github.com/xamarin/XamarinCommunityToolkit/blob/bb147a47ba82ae546e37b72704ca21ad7b256c3f/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/BadgeView/BadgeView.shared.cs#L262-L266

The cause of this issue is probably this method.
However, changing this to `LayoutOptions.Fill` caused a SIGSEGV error on Android 12, so you'll need to figure out a workaround.

[2022-01-09 13:46] yonkahlon commented on #1294
@darrenlattin I wasn't able to find a workaround. The toolkit is awesome, but for tabs I found Sharpnado.Tabs library to be quite impressive.

[https://github.com/roubachof/Sharpnado.Tabs](url)

[2022-01-09 19:56] hasan81 commented on #1389
{System.InvalidCastException: Specified cast is not valid.
  at Xamarin.CommunityToolkit.UI.Views.PopupRenderer.SetSize (Xamarin.CommunityToolkit.UI.Views.BasePopup& basePopup) [0x00058] in <02b905ca3ffa455cac421108e4db551a>:0
  at Xamarin.CommunityToolkit.UI.Views.PopupRenderer.OnElementChanged (Xamarin.Forms.Platform.Android.ElementChangedEventArgs`1[TElement] e) [0x0002a] in <02b905ca3ffa455cac

[2022-01-11 09:09] #889 closed

[2022-01-11 19:02] FrozDark commented on #887
It seems to be bug of CarouselView as it is placed inside TabView for transition switch tabs

[2022-01-12 10:17] DevarajSekar commented on #301
Hi Team / @jfversluis ,

Greetings, Any update/help on this issue much appreciated.

[2022-01-12 11:28] darrenlattin commented on #1294
no worries. i'll have to fix the orientation for now to portrait.

Cheers

[2022-01-13 00:32] mtbriderca commented on #1614
Tint effect on iOS is an issue for me as well.  Works correctly in 1.2.0 but no longer works with updated releases including 1.3.2.  This only occurs on iOS,  Android works fine.

[2022-01-14 08:11] Dirwaz commented on #1058
Ok apparently for me it was a design issue in the XAML file. i had a ScrollView with Horizontal options that causes the issue. when i removed the ScrollView, the tabs are working fine now and the content are working fine also.

[2022-01-14 12:55] planyazilim commented on #1764
Will there be any fixes about this issue?
Android works good but iOS cant open Popup from a Popup.

[2022-01-15 20:40] bondarenkod commented on #1764
Not yet, my solution is poc only, more work is required.

[2022-01-16 18:22] Cfun1 commented on #545
I see that this spec is still opened here and not moved to any of https://github.com/CommunityToolkit/Maui or https://github.com/dotnet/maui. @jfversluis @brminnick what is the fate of this spec?

[2022-01-16 18:39] DevarajSekar commented on #301
Hi @jfversluis ,

Any help on the request.

Regards,
Devaraj S

[2022-01-16 23:45] davidbuckleyni commented on #400
Same Issue in 2022 as this not been fixed yet? Even with this am getting nothing display though am using https://github.com/Tyrrrz/YoutubeExplode  to covert to stream  might be causing a dealy possilby will youtube stream support come in eventually

        <xct:MediaElement x:Name="mediaElement"
                          Grid.Row="0"
                          HeightRequest="500"

[2022-01-17 00:06] davidbuckleyni opened #1785 "[Bug] How does one get background audio to work Xamrian Forms Media Element"
I am trying to get media element to play in background on android in ios i done this using the video on line by
Gerald Versluis

(https://www.youtube.com/watch?v=1XVjsUO-Ayw)

But he didn't show how to do this in android can documentation be updated please.

[2022-01-17 00:24] davidbuckleyni commented on #576
Still needs to be a andriod documented verison of this @jfversluis trying to do same on both platforms thanks

[2022-01-17 13:45] tranb3r opened #1786 "[Bug] v1.3.2 - Found duplicated type 'Xamarin.CommunityToolkit.Initializer.XCTInitCaller' in merged assembly"
### Description

When using XCT 1.3.2, I now have this warning when I merge assemblies of my app:
`Found duplicated type 'Xamarin.CommunityToolkit.Initializer.XCTInitCaller' in merged assembly`

No issue with the previous version of XCT. This is probably caused by PR #1714.

Assemblies are merged by Babel (https://www.babelfor.net/) during the obfuscation of my app.

This is similar to an issue I

[2022-01-17 13:50] davidbuckleyni opened #1787 "[Bug] Trying to Compile in VS2022 To work on an Item"
I was wanting to add in a BackgroundPlaying Boolean In MediaElement so that we as xamrain forms users only need to set it once for ios and driod. I am using windows 10 and lattest vs2022 build

But for some reason am having the following errors do U have any idea what I may have missing installed to allow sucessfull compliation

[code]

[2022-01-18 10:13] vplife1 opened #1788 "System.Exception: 'Handler not found for view Xamarin.CommunityToolkit.UI.Views.Expander"
I have used Visual studio 2022 preview 2.0 MAUI.I want to used a expander using Community toolkit ,But right now i am facing a exception " System.Exception: 'Handler not found for view Xamarin.CommunityToolkit.UI.Views.Expander.'" How can i resolve this issue please Guide me .

Also I have download the nuget.
1)Xamarin Community Toolkit Markup MauiCompat
2)Xamarin.CommunityToolkit.MauiCompat
NOTE:

[2022-01-18 11:10] pictos commented on #1788
@vplife1
Could you attach a small repro?

[2022-01-18 12:14] vplife1 commented on #1788
@pictos I have create a small project . used Visual studio 2022 preview 2.0 MAUI.
Now the Expander UI is not display please check .Download my source.

https://github.com/vplife1/MauiApp3.git

[2022-01-18 18:21] Kapusch commented on #408
I have experienced this as well, on iOS, the default "Closed" state surprised me a little bit.

[2022-01-19 09:29] eduardoagr opened #1789 "Navigation stack layout error"
I am trying to navigate to another page and I am getting this error

System.NotSupportedException: 'Unable to activate instance of type Xamarin.Forms.Platform.Android.Platform+DefaultRenderer from native handle 0x7fff145c7444 (key_handle 0x32500df).

This is what I tried to do

[code]

[2022-01-19 15:47] pictos commented on #1789
I believe this isn't related to XCT, maybe is an XF issue?
Anyway, @eduardoagr
Could you attach a small repro?

[2022-01-19 15:49] bijington commented on #1771
@vishnupadakath1 to confirm from our chat earlier I am closing this issue down as it is unrelated to the toolkit

[2022-01-19 15:49] #1771 closed

[2022-01-19 17:54] eduardoagr commented on #1789
here @pictos https://github.com/eduardoagr/Error

[2022-01-19 18:13] #692 closed

[2022-01-20 17:15] nacompllo commented on #1753
Exactly the same thing happens to me in iOS, the dark background does not appear, is it a bug? or is it the expected behavior in iOS? On Android, however, it works correctly and shows the background darkened. I have prepared a repository on GitHub to be able to reproduce it :
https://github.com/nacompllo/PopupBackgroundTransparent

If anyone can shed any information on this I would appreciate it.

[2022-01-21 13:36] VladislavAntonyuk commented on #1788
https://github.com/xamarin/XamarinCommunityToolkit/issues/1750#issuecomment-985645536

[2022-01-21 13:39] vplife1 commented on #1788
@pictos  Have you check??

[2022-01-21 14:27] pictos commented on #1788
@vplife1 didn't have a chance yet, I was working on other tasks. As mentioned by @VladislavAntonyuk if you're using a MAUI application you shouldn't use our MauiCompat packages use [this](https://www.nuget.org/packages/CommunityToolkit.Maui/1.0.0-pre4) instead. Be aware that this version was built on top of Maui p11, so it may fail on p12

[2022-01-21 14:33] vplife1 commented on #1788
@pictos  Thank you reply. I will happy to use Maui Community Toolki.

[2022-01-22 17:19] brminnick commented on #545
We will be focusing on bug fixes for Xamarin Community Toolkit going forward and won't be adding new features.

We will be only adding new features to the .NET MAUI Community Toolkit.

I recommend starting a New Feature Discussion for the .NET MAUI Community Toolkit: https://github.com/CommunityToolkit/Maui/discussions/new

[2022-01-22 17:19] #545 closed

[2022-01-23 05:06] brettnguyen commented on #1695
can someone explain the work around to me

[2022-01-23 11:01] bbhxwl commented on #1695
Maybe they are waiting for Maui. This bug is hard to maintain, isn't it?

[2022-01-24 12:33] TryToNotWorkAround commented on #1665
Hi, did you find a solution ? I have the exact  same issue. I created a custom MediaElement with a MediaSource.FromFile directly dowloaded in app ressources, but also happened from time to time. I observed that the problem happened maybe once every ten attempts. And it's happened more often on the first MediaElement initialization. But if I restart the app and open the exact same video, this issue

[2022-01-24 18:17] bijington commented on #1665
@TryToNotWorkAround there really is no value added by using that language. It would have taken less effort to delete the statement than apologise for making it.

[2022-01-24 21:07] Kapusch commented on #746
@vhugogarcia , your issue sounds to be related to #1769

[2022-01-24 21:14] Kapusch commented on #409
Hi, I am actually facing this issue as well.
Just after I have changed the Source property, then the position is not updating anymore, only when I stop and play the media.

[2022-01-25 13:21] #1774 closed

[2022-01-25 14:01] #1681 closed, assigned to nobody

[2022-01-25 19:19] algostax commented on #1294
Are there any chances this problem will be corrected in near future ?
I have to decide - wait for fix or switch to another tabview component ,,,

[2022-01-26 06:24] bijington commented on #1294
I would say it's unlikely this is going to get fixed any time soon. Sadly the underlying control appears to be causing these issues so without a big bit of work it won't be fixed.

Of course if someone from the community wanted to take a look that would certainly help 😃

[2022-01-26 09:03] TryToNotWorkAround commented on #1665
@bijington sorry you're right. It's okay, frustration is my own concern...
Is this a recurrent issue ? That's the only topic I found about it.

[2022-01-26 12:13] vhugogarcia commented on #1294
However, somebody said that the issue is not the tabview but the carouselview control from Xamarin.Forms.

Maybe it is already fixed on the service pack 9. @jfversluis I am wondering if you have heard about a fix for the carousel view resizing when changing from portrait to landscape.

😀

[2022-01-26 14:47] EmilienDup opened #1798 "[Bug] iOS: CameraView do not raise media capture event when a video capture stops"
### Description

On iOS, the `CameraView` do not raise the `MediaCaptured` event once the video recording stops.

### Steps to Reproduce

1. Build and run `XCT.Sample` app on an iOS device
2. Navigate to the `CameraView` testing page: `Views --> CameraView`
3. Toogle the `Video` switch to activate video capture mode
4. Press `Start recording` button
5. Press `Stop recording` button

### Expected B

[2022-01-26 22:45] algostax commented on #1294
@bijington @vhugogarcia @jfversluis
If the carouselview (ios) is responsible for this error I wonder how do people use that very popular component on ios ?
Is this connected to this issue: https://github.com/xamarin/Xamarin.Forms/issues/8902 ?
(closed but some problems persist ...)
I really like xct:TabView which allowed me for extensive customizations of the tabbar. But now my customer requires t

[2022-01-28 13:11] pictos commented on #863
@inforithmics we don't want to reference Essentials on this project.

[2022-01-28 13:27] inforithmics commented on #863
Thanks for the info, I saw that the UWP Implmentation in uses the same implementation as Xamarin.Essentials so this wouldn't improve the situation.

[2022-01-28 15:58] brminnick commented on #863
Yup! Closing 👍

[2022-01-28 15:59] #863 closed

[2022-01-28 17:26] jastorgac commented on #1651
I just updated to 2.0.0 and this bugs still seems to be around on Android.

[2022-01-28 19:10] jgold6 opened #1802 "[Bug] on iOS 15, CameraView fails to capture audio with video if a MediaElement starts to play after camera.Shutter() is called the first time."
### Description

With a MediaElement and a CameraView on the same page, if you call CameraView.Shutter() to start the video recording, and then call MediaElement.Play(), the video will get recorded with no Audio.

If instead MediaElement.Play() is called and then CaeraView.Shutter(), then the video will get recorded with audio, but the MediaElement playback will stop when CameraView.Shutter() is c

[2022-01-31 04:23] brettnguyen opened #1803 "[Bug] pictures and videos taken by cameraview on android appear rotated at 90 degrees. Only images can be fixed with bitmap not videos."
### Description

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Workaround

### Reproduction imagery

[2022-01-31 15:55] SchindlerFlorian commented on #746
Hi, I am facing a similar issue. I have the MediaElement contained in a Carousel View. The carousel view has 5 "pages" in total, two of which have a MediaElement inside. The Source for the MediaElement is set via a Binding to a UriMediaSource. The first page with the video is working fine, but after swiping away from the second "page" of the Carousel view I am getting the same exception:

`System.

[2022-02-01 19:08] Axemasta opened #1805 "[Bug] Cannot Build Solution On Visual Studio For Mac 2019 After 1.3.1"
### Description

This isn't really a bug but it has affected me all the same so I thought it would be best to ask here.

Since version 1.3.1 of the library I cannot build the project locally using visual studio for mac. I have confirmed by running the 1.3.1 commit (35d7d5f7620110a55de9ec8a1afd0397e64b4d10) without issue:
![1.3.1 working locally](https://user-images.githubusercontent.com/33064621/1

[2022-02-01 21:59] Axemasta commented on #1805
Deleting `global.json` seemed to fix the issue, what can we do to make this backwards compatible? I have VS2022 installed on this machine but not all of the Maui workloads so I can't confirm if they are mandatory.

[2022-02-02 09:37] Axemasta commented on #1311
I'm getting this error on an azure pipeline agent.
Manually specifying the namespace does resolve the issue:
[code]

Although I'd say its quite hacky, I've tried with the latest version of the toolkit (`2.0.0`) and the issue exists. Interestingly we only started to get this issue after upgrading from `1.2.0` to `2.0.0`, so I wonder if there is an issue with the toolkit itself?

The solution is har

[2022-02-02 13:52] cris-m commented on #1805
I am still getting the issue after deleting the ``global.json`` file.
<img width="1792" alt="Screen Shot 2022-02-02 at 22 51 17" src="https://user-images.githubusercontent.com/29815096/152166704-dbc15d90-5bd2-4715-a9bc-ea586ff65069.png">

[2022-02-02 19:01] mhrastegary77 commented on #1715
Same issue :(

[2022-02-02 22:19] bijington commented on #1759
@Hackmodford apologies for the delayed updates on this. Do you have a sample of XAML in which you saw this issue? It looks like the code checks to see if an `EventName` is set before clearing/adding a new gesture recogniser. Do you recall if you had set an `EventName`?

[2022-02-03 08:52] bijington commented on #1805
@Axemasta interestingly I don't even have .NET Core 2.0 installed on my Mac.

[code]

It may well be that 2022 and 2019 are not playing nicely as I don't have 2022 installed and I can compile fine.

I know recently I had issues when installing a version of .NET 6.0 preview, it broke many things like PowerShell core and other things. Sadly the fix there was to completely remove all versions of .NET

[2022-02-03 10:03] Axemasta commented on #1805
@bijington I will have a go at uninstalling all of the different versions on my mac and see if that makes a difference. If this does help might I suggest we create a development guide, akin to the ones seen in [forms](https://github.com/xamarin/Xamarin.Forms#getting-started) & [maui](https://github.com/dotnet/maui/blob/main/.github/DEVELOPMENT.md)?

[2022-02-03 10:37] bijington commented on #1805
I am all for any documentation to aid the development process :) good idea!

[2022-02-04 08:13] bijington commented on #1294
@algostax I certainly don't have the bandwidth to look at this issue right now. Would you be able to look at whether CarouselView really is the cause and whether there might be a solution?

[2022-02-04 20:13] #1236 closed

[2022-02-05 00:38] jgold6 commented on #1715
Setting the Speed to 0  seems to workaround this.

[2022-02-05 03:38] AlphaPy commented on #576
Another request for the mentioned feature cross-platform (listen to audio in background from MediaElement) in Android, iOS.

[2022-02-05 06:32] AlphaPy commented on #576
@jfversluis @davidbuckleyni This can be achieved by running the audio url as a url in a webview. It should autoplay, and even when the app is out of focus, the audio will still play. You can make the webview very small, maybe even not even visible, as long as it plays, with the caveat that the user won't be able to stop the audio without exiting the app completely, but if the webview is visible, t

[2022-02-06 18:11] davidbuckleyni commented on #576
@AlphaPy while true we are talking about using the andriod audio service to achieve this as standard without a messy hack.

[2022-02-07 07:29] SarthakGz commented on #1182
This might have fixed by this
https://github.com/xamarin/Xamarin.Forms/pull/13370
need to verify though

[2022-02-07 12:00] KevinAnass opened #1807 "[Bug] popup throw exception when page Appearing"
hi everyone, i have issue with popup in **UWP** when page apearing the popup throw exception
App.Current.MainPage.Navigation.ShowPopup(new Searching()); => System.ArgumentException: 'The parameter is incorrect.
element'
that happen just when command come from Appearing

xamarin forms version 5.0.0.2337
xamarin community toolkit version 2.0.0

this exception throw just in the UWP and when page on a

[2022-02-07 12:39] bijington commented on #1807
@KevinAnass please in future use our templates as it asks for a bit more detail, they can be found at: https://github.com/xamarin/XamarinCommunityToolkit/issues/new/choose or when clicking on New issue.

Are you able to provide some more details:

- The full stack trace of the exception
- A sample that reproduces the issue

[2022-02-07 13:57] KevinAnass commented on #1807
thank you i fix it buy using the lifecycle
but still the background color of the popup transparent

[2022-02-07 13:57] #1807 closed

[2022-02-08 16:35] gsgou opened #1809 "[Bug] MediaElement throws on some devices Java.Lang.ClassNotFoundException: Didn't find class "android.media.PlaybackParams""
### Description

MediaElement throws Java.Lang.ClassNotFoundException: Didn't find class "android.media.PlaybackParams"

### Stack Trace

JniEnvironment+Types.FindClass (System.String classname)
Java.Interop.JniType..ctor (System.String classname) [0x00006] in <8b88d9f4da164ead9096e67e03e6def4>:0
JniType.GetCachedJniType (Java.Interop.JniType& cachedType, System.String classname)
JniPeerMembers.ge

[2022-02-08 16:42] gsgou commented on #1809
relates to this https://github.com/google/ExoPlayer/issues/1977. Maybe catch it internally?

[2022-02-09 15:21] ThomasAdrian opened #1810 "[Bug] [iOS] TouchEffect conflicts with InteractivePopGestureRecognizer and kills page gestures"
IOS only
scenario: using a toucheffect on a view in a non-root page in the navigation stack (ie one that is subject to the NavigationController.InteractivePopGestureRecognizer = swipe to the right from the left hand side to pop the page)

Having a scrollable control (scrollview, listview, collectionview etc) and scrolling along the left hand side.

### Description

Once the toucheffect has been ac

[2022-02-10 12:39] KevinAnass opened #1811 "[Bug] UWP the scrollview not scroll inside the PopUp"
when i add this code as an exemple
` <ScrollView>
        <StackLayout>
            <Label
                BackgroundColor="Red"
                HeightRequest="60"
                Text="title just " />
            <Label
                BackgroundColor="Blue"
                HeightRequest="60"
                Text="title just " />
            <Label
                BackgroundColor="Red"

[2022-02-10 23:23] ivanrlg commented on #292
Hello, I am having problems opening the popup in IOs, in android it works perfect, even in the emulator in IOs it also works, but not in the physical device, any suggestions? I am using version 2.0.0

[2022-02-11 00:13] pictos commented on #292
@ivanrlg please open a new issue following the template and with a small project that reproduces the issue (:

[2022-02-13 07:05] esamk commented on #1196
@[jsuarezruiz](https://github.com/jsuarezruiz)

Agreed. In fact, hiding / showing tabs dynamically is not only interesting but, IMO, an essential feature. I'd like to see it implemented as soon as possible.

(As for now, I've used an ugly hack and put two TabViews with different number tabs on to a page and make one of them visible depending on a condition. This is so annoying, ugly, inefficient,

[2022-02-13 11:38] Kapusch commented on #1012
Hi @LeoJHarris , I'm facing this issue once again, and I may have found a workaround.
Could you try to **set the SelectedIndex in the view "OnAppearing" event** ? (not working if set in the view constructor)

Of course, this supposes to work on ContentPage views, I'm still trying to find a way to make it work for my ContentView views.

[2022-02-13 19:44] LeoJHarris commented on #979
@Kapusch

Try this as a work around

[code]

[2022-02-15 04:43] Bonalogic commented on #1809
Can it be related to API level? My Huawei 5.1.1 app crashes but Samsung 6 is working.

[2022-02-15 07:35] bijington commented on #1809
I think you have spotted the issue!

From Google's [documentation](https://developer.android.com/reference/android/media/PlaybackParams):

And API level 23 is Android 6.0

[2022-02-15 08:27] bijington commented on #1809
Interestingly when I run the sample app up on an API 22 device I see this logged out to the console a lot:

I haven't worked out what it relates to yet though

[2022-02-15 12:51] kerberosargos commented on #859
Issue still continues.

[2022-02-15 21:04] solomonfried commented on #1171
Using Xamarin.Forms 5.0.0.2337
Xamarin Community Toolkit 2.0.0

The Media player using a URL (did not test with files) only works with Windows min version = Window 10 1903

[2022-02-16 04:31] huyvuskedulo commented on #1221
Any news from this one? I'm having the same issue

[2022-02-16 06:39] XamarinInfo commented on #400
The same issue I am facing here, no issue with the URL video but facing issue with the video that is added in resource.
Issue with android version also,We dont have any issue with android 9 but isssue with version 10

[2022-02-16 06:42] XamarinInfo commented on #400
The same issue I am facing here, no issue with the URL video but facing issue with the video that is added in the resource.
Issue with Android version also, We don't have any issue with android 9 but issue with version 10

[2022-02-17 17:10] mrbelk opened #1813 "[Bug] missing AppResources key causes Translate XAML extension to crash the app"
### Description

when using the Translate XAML extension and the resource key is missing from the resources file, the extension will throw an exception that causes the app to crash

### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. set up a Xamarin.Forms project using the LocalizationResourceManager and add some resources to AppResources.resx
2. in the main page's XAML,

[2022-02-18 15:36] Hottemax commented on #1253
This is still happening for me - will this ever be addressed?

[2022-02-19 04:16] timjamwoo commented on #1725
@lartisanetsonmobile-admin did you ever find a solution or workaround for this? I'm experiencing the same issue on XCT 2.0.0.

[2022-02-19 08:20] bijington commented on #1813
@mrbelk thanks for the report. Out of interest do you get a meaningful exception message as part of the crash?

[2022-02-19 13:33] mrbelk commented on #1813
Yes, it’s a NullReferenceException that includes the resource key name, but Xamarin Forms, so it’s easy to identify the offender, but obviously it’s after the fact.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Shaun Lawrence ***@***.***>
Sent: Saturday, February 19, 2022 3:20:46 AM
To: xamarin/XamarinCommunityToolkit ***@***.***>
Cc: Matthew R. Belk ***@***.**

[2022-02-20 06:47] Juanoxt890 commented on #1803
Same here!

[2022-02-21 14:14] VladislavAntonyuk commented on #1813
![image](https://user-images.githubusercontent.com/33021114/154971634-316ff30e-2503-4033-b8de-73227a9ce1eb.png)
NRE is expected here. The error message should contain missed text

[2022-02-21 14:20] mrbelk commented on #1813
The compile-time checking captures this very well in code; but it's "rude" to throw an exception rendering an entire page because of a missing resource key (when that's not really a "fatal" type of condition that warrants a response like that, IMO). Simply informing the UI in a kinder, gentler way that the resource key is missing, while telling the viewer which key was actually missing, makes more

[2022-02-21 14:33] pictos commented on #1813
What about throwing the exception on Debug and in Release we just return the Key? I used this approach in several of my apps.

[2022-02-21 14:51] Countryen opened #1815 "[Bug] VS2019 Syntax/Code Highlighting for Custom Types (since v1.3.2)"
### Description

Since upgrading our NuGet packages over the years all our team member have the same issue: Sometimes our Visual Studio Code/Syntax highlighting isn't working. I've finally managed to reproduce this and track down what causes this: The NuGet package Xamarin.CommunityToolkit.

If I create a completely new (console) application everything works fine. I add a custom type and see that

[2022-02-21 14:52] #1809 closed

[2022-02-21 14:52] vppetrov commented on #625
Same issue here. Easiest way to simulate:

1. Create a new empty Xamarin app, add Community Toolkit
2. In the MainPage copy the sample code from https://docs.microsoft.com/en-us/xamarin/community-toolkit/views/tabview
3. Change the TabContentBackgroundColor on the MainPage to Cyan
4. On the MainPage set NavigationPage.HasNavigationBar="false"
5. In the app make the MainPage a NavigationPage: MainP

[2022-02-21 15:18] VladislavAntonyuk commented on #1813
Sounds reasonable to me

[2022-02-21 22:43] #1770 closed

[2022-02-22 07:29] VladislavAntonyuk commented on #1805
@Axemasta could you please pull the latest changes? I removed netcoreapp2.0 dependency

[2022-02-22 10:46] RemcoDEV commented on #1598
This happens to more than just collectionviews. We add a longpress touch effect to all labels.
All other (short tap / xamarins default tap) gesture recognizers earlier in the tree are not fired when you click on a label with a long press effect.
If you need a reproduction scenario, please let me know.

[2022-02-23 07:00] Juanoxt890 commented on #1803
@jfversluis @sthewissen @jsuarezruiz
 Any update planned to fix this bug in android?
 It's a stopper to create powerful components

[2022-02-23 14:34] GeethuVinod95 opened #1818 "Tab View Content Height Issue in iOS"
### Description

TabView inside a Grid Layout doesn't auto fit the content in iOS, few items are cutting off from beginning off the content as well.

### Steps to Reproduce

1. Use TabView Inside a GridLayout
[code]
### Expected Behavior
I should be able to see the list inside tab view

### Actual Behavior
The list/content is cutting off and content height is not auto fitting into Grid Row Remaini

[2022-02-23 21:10] #1747 closed

[2022-02-24 05:23] AndreiMisiukevich commented on #1776
@maxkoshevoi feel free to fix that ;)

[2022-02-24 05:25] AndreiMisiukevich commented on #1776
but actually you can try to set `ShouldMakeChildrenInputTransparent` equal `False`

[2022-02-24 11:57] danielkraut commented on #1815
Youi are right, I though I had broken some configuration when syntax highlighting worked differently between two of my projects. Downgrading XCT to 1.3.1 helped. Thank you!

[2022-02-25 11:23] tranb3r opened #1820 "[Bug] TabViewItem.IsSelected is never set when using TabView with TabItemsSource"
### Description

When using a TabView with TabItemsSource, several TabViewItem properties are never used, for example TextColorSelected.
The reason for this issue seems to be that `TabViewItem.IsSelected` is never set (in a TabItemsSource scenario).
No issue when defining the TabViewItems in the xaml page (instead of using a TabItemsSource).

### Steps to Reproduce

In the sample project, in file

[2022-02-25 18:42] brminnick commented on #1221
Hi @huyvuskedulo! Apologies, this issue completely slipped my mind.

I'm still unable to reproduce this.

The link provided throws a 404 Not Found error.

Looking at the screenshots provided, it appears to be a problem when using Prism.

[2022-02-25 19:24] bijington commented on #1815
@Countryen does it only show this behaviour after installing the package? If you close visual studio and reopen does it behave?

@pictos is there anyway the source generator could be upsetting VS? I know it struggles with new files being added like this sometimes

[2022-02-25 19:35] pictos commented on #1815
On the repro project used that shouldn't work (?) because Xamarin doesn't support net5, if you target netstandard do you get the same behavior?

Maybe... Could be some bug on VS tooling, I would say if that's the case this is more a VS or SourceGenerator bug than XCT bug.

@Countryen or @danielkraut could you attach a small repro?

[2022-02-26 20:59] Countryen commented on #1815
@bijington @pictos Thanks for the replies. I want to add, that I don't think that not using the latest version should be promoted but currently that's just what is working (for both of us, it seems).

Yes, but this is the only package that is affected and I can check but think some of our other packages already use SourceGenerators, too. I thought it's best to start here, but if you point me to th

[2022-02-28 13:36] gsgou commented on #1809
When is planned a new release including this and few other MediaElement fixes:
https://github.com/xamarin/XamarinCommunityToolkit/projects/2

Currently nightly build does not include it yet being on v1.4.0-preview1006 right?
We had a lot of crashes and the quickest fix was so far to increase the min API.

[2022-03-01 08:59] bijington commented on #1809
@gsgou I don't know when the next release will be out but the current version is 2.0.0 so I would expect the nightly build to be from that version+.

@jfversluis do you know much about the nightly feed? It does appear our latest version is v1.4.0-preview1006 which doesn't seem right to me:
![Screenshot 2022-03-01 at 08 59 12](https://user-images.githubusercontent.com/17139988/156137759-a08c2e9b-7b

[2022-03-01 10:34] BuiNhatQuang commented on #1397
@gutosys I have experienced the same issue. If the element containing the MediaElement is hidden at initialization, it will not show any video. My workaround at the moment is to let the element be visible at initialization and quickly hide it OnAppearing(). You may need some delay before hiding it so that the MediaElement will properly load the video.

One more thing I have tried is inside the ele

[2022-03-01 10:46] yurkinh opened #1822 "[Bug] [ios] DrawingView freezes when more than 5 lines"
### Description

When drawing more than 5 lines on the ios component stops responding.
Ios - only. On Android, it works fine.

### Link to Reproduction Sample
[Compress.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/8160865/Compress.zip)

### Steps to Reproduce

1. Draw 5 separate lines

### Expected Behavior
Not freezing
### Actual Behavior
Freeze

- Version with issue:2.0
- Platfo

[2022-03-01 13:54] haavamoa opened #1823 "[Bug] [iOS] Touch effect does not work unless you have enabled Mono Interpreter (both mtouch args and checkbox in VS4Mac)"
### Description

In our iOS production app we noticed that our touch effects did not work from XamarinCommunityToolKit. The production app is using Release buildconfiguraiton, which has not enabled "--interpreter" mtouch arguments and have not checked the "Enable Mono Interpreter". When checking "Enable Mono Interpreter" and adding "--interpreter" as a mtouch argument (which most do when they want

[2022-03-01 16:24] Countryen commented on #1815
Attached please find the reproducing sample.
[ConsoleApp2.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/8163123/ConsoleApp2.zip)
(SHA-256: 49421ee9be551a64453ba71ab3f793a8b39521b3780f1cf43f574501e3275039)

1. Download, extract and open the solution with Visual Studio 2019 (16.11.10).
2. Go to Program.cs and make sure that the type name for "CustomEnum" is coloured correctly (depend

[2022-03-01 18:42] bijington commented on #1815
@Countryen as @pictos suggested this is expected to not work in a Console app. In fact I am surprised you are even allowed to add the package. Although I have tested and can confirm that VS/NuGet don't stop you. Admittedly it does report some issues though.

Following the behaviour you have mentioned in a clean Xamarin Forms application works fine here for me. I did hit some issues initially thoug

[2022-03-02 19:48] PrezSkroob commented on #1815
I also encountered this issue with an existing project (just posted something in the discussion section on this very topic).

I already had the latest Xamarin.Forms (5.0.0.2337) when I installed the latest Xamarin.Community.Toolkit package (V2.0.0) when I noticed this issue as well. The project I have was building an app for Android as a target.

I'm running Visual Studio 2019 Professional (V16.11

[2022-03-03 11:06] gsgou opened #1825 "[Bug] Nightly build is stuck on v1.4.0-preview1006"
### Description

Current version of XCT is 2.0.0 so the nightly build should derive from that version.
It does appear latest nightly build to be v1.4.0-preview1006 from 23.01.2022.

![156137759-a08c2e9b-7b0d-4621-bf27-a181377a4473](https://user-images.githubusercontent.com/911534/156552756-9ef7d0c9-dbce-472d-ae75-169e02f47b90.png)

[2022-03-03 11:08] gsgou commented on #1809
@bijington , @jfversluis i opened a ticket for the deprecated nightly build in case it helps prioritizing.
https://github.com/xamarin/XamarinCommunityToolkit/issues/1825

[2022-03-03 18:11] Countryen commented on #1815
@bijington I understand that it should not work in a console app project, that was just a simple example.

The behavior is the same when I add a new Xamarin.Forms project (blank app, only Android and UWP).
- I upgraded Xamarin.Forms to 5.0.0.2291 via NuGet Package Manager
- Added my CustomEnum.cs from before to the new shared project.
- Created the property as before in MainPage.xaml.cs instead of

[2022-03-03 18:33] Countryen commented on #1815
I've now also tried using a different packages online, and I can't reproduce the error with other projects.
I've tried this one: https://www.nuget.org/packages/AnyOf which uses a SourceGenerator, too.

[2022-03-03 19:19] Countryen commented on #1815
When I checkout the tag 2.0.0 of this project and compile that on my machine, then use the compiled (Debug/Release) DLL file as reference instead of the NuGet Package everything is fine, it's only when I use the NuGet package.

Maybe it's related to installing MAUI and some weird conflict between the different Visual Studio versions, I will try with a machine that has not installed any MAUI previe

[2022-03-03 21:54] PrezSkroob commented on #1815
It seems that it might be related to installing this toolkit package through the NuGet Package manager and having the preview version of MAUI installed, as that was my setup.

I'm in the process of getting a new SSD installed on my machine, and once I get Visual Studio re-installed, I will check the project I'm working with to see if the issue is still present.

[2022-03-03 21:58] PrezSkroob commented on #1815
The project I'm working on also uses netstandard2.0, if that helps with duplicating/tracking this.

[2022-03-04 17:01] victordscott commented on #1764
I am having this issue also. Hopefully, a fix is in the pipeline.

[2022-03-04 19:00] PrezSkroob commented on #1815
New SSD installed. Installed fresh installation of Visual Studio (first was Visual Studio 2022 due to having issues finding the 2019 installer, but that was eventually found and installed). Same issue occurs. Uninstalled Visual Studio 2022 and issue remains.

Really wish Visual Studio 2019 was found earlier because that may have helped more for finding the root cause of this issue.

[2022-03-04 19:02] PrezSkroob commented on #1815
Do we know if the binary image of the tagged V2.0.0 matches the binary image available through the NuGet package? I've encountered issues where changes were inadvertently made between tagged and released binaries.

[2022-03-04 19:07] jmichas commented on #906
@Axemasta Did you ever work up an Android version of this? I created a custom renderer to do it on iOS but I have been unable to get it to work on Android. If you have something I'd love to get a peak at how you did it so I can complete my android renderer.

[2022-03-04 19:14] Axemasta commented on #906
@jmichas I never got the android version fully working, I did have my work in progress up in my PR, you can see that here #1373

Maybe some bits in there help you out 😀

[2022-03-04 19:33] jmichas commented on #906
@Axemasta  Thanks a bunch!

[2022-03-05 11:51] Countryen commented on #1815
I've also managed to install the repro on a device without VS 2022 ever installed - same issue.

But, I first tried with my old version of VS 2019 (16.10.4) which worked!
Then I update to the current version (16.11.10) and it stopped working.

So it could be a mix between XCT package and VS2021 new versions. I am not sure how to install/downgrade older versions of VS to test which version works an

[2022-03-05 16:09] PrezSkroob commented on #1815
Very interesting. I will have to download an older version of Visual Studio and give it a try. If I can figure out how. During my reinstall, I was able to get the latest version (available here:  https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes), however, I haven't been successful in trying an older version.

I will look around and see if I can figure out how, and I'll pos

[2022-03-05 17:23] VladislavAntonyuk commented on #1825
I believe nightly build was set to the develop branch, which is not used right now.
@jfversluis do we plan to have nightly builds?

[2022-03-07 15:48] jfversluis commented on #1825
I'll look into it!

[2022-03-08 02:36] AndreiMisiukevich commented on #1725
@timjamwoo I've submitted a PR with the fix

[2022-03-08 08:41] jfversluis commented on #1825
It should work again! There is a version pushed right now with all the latest changes from main. You can find it under 2.0.0-*.

Technically this wasn't correct, so I also updated the version number now to be 2.1.0-* so now we'll just have to wait and see if it also works when it's triggered at night automatically :)

You should be able to use the package that I released just now for what you want

[2022-03-08 08:41] #1825 closed

[2022-03-08 09:42] gsgou commented on #1825
Thanks for the quick resolution. Curious to see on next build what time night falls in Xamarinland :)

[2022-03-09 19:57] #1725 closed

[2022-03-11 22:58] PrezSkroob commented on #1815
I haven't gotten around to trying to downgrade my version of Visual Studio, I did notice something interesting when using the pre-processor. (I'm using Visual Studio 2019 V16.11.11 now by the way)

In one of my source files, if I declare something like:
[code]

Then the syntax/code highlighting works again. So somehow the pre-processor is affecting it.

[2022-03-13 04:47] eduardoagr opened #1829 "[Bug] Cannot use Touch effect on a NavigationPage.TitleView"
### Description

I have a <TitleView>

[code]
### Stack Trace

### Link to Reproduction Sample

### Steps to Reproduce

1. Create a xaml page
2. Put an `<NavigationPage.TitleView>`
3. Create  `<Label>` inside of the `<NavigationPage.TitleView>`
`
### Expected Behavior

Be able to touch and execute the command

### Actual Behavior

System.NotSupportedException: 'Unable to activate instance of type

[2022-03-13 14:17] Dirwaz commented on #1058
Any update on this bug please ?

[2022-03-14 15:27] kofanov opened #1830 "[Bug] Expander shrinks content on Android when system animations are disabled"
### Description

Expander shrinks content that overflows device screen on Android when system animations are disabled.

[2022-03-15 02:41] #1822 closed

[2022-03-16 04:12] AndreiMisiukevich commented on #1778
@FrozDark hi
Yes, this is the limitation of Expander

You should call `ForceUpdateSize` or `ForceUpdateSizeCommand` on your own after any content changes.

[2022-03-16 06:53] sachinerandecapita opened #1832 "Tab view crashes with error "System.ArgumentException" Delegate to an instance method cannot have null this."
I have a content view with very simple tab view in it, with single tab. it just crashes with following error.

![image](https://user-images.githubusercontent.com/98037345/158532622-2c1f3468-9443-4851-8009-8b24b026cec2.png)

TabView code
[code]
### Description
Nuget versions  details as below
"Xamarin.CommunityToolkit" Version="2.0.0"
"Xamarin.Forms" Version="5.0.0.2337"
"Xamarin.Essentials" Versio

[2022-03-16 17:21] AmirMahdiNassiri opened #1833 "[Bug] Android back button doesn't work when MediaElement's PlaybackControls are shown"
### Description

If the `PlaybackControls` are enabled for `MediaElement`, clicking on the `MediaElement` will show them for a few seconds. During the time that the `PlaybackControls` are visible, clicking the Android back button does nothing.

### Link to Reproduction Sample

The [sample app included in the repo](https://github.com/xamarin/XamarinCommunityToolkit/tree/2.0.0/samples) can be used t

[2022-03-16 22:48] AndreiMisiukevich commented on #1830
@kofanov could you please provide a small sample and images/video showing this problem?

[2022-03-17 19:29] pasteusernamehere commented on #985
@brminnick  <GenerateErrorForMissingTargetingPacks>false</GenerateErrorForMissingTargetingPacks> and test project targeting .NET Core 3.1 does not work.

[2022-03-18 17:20] rokenbuzz commented on #1829
I just encountered this issue.
My Command will ultimately call INavigation.PushAsync to change pages.

A workaround for me, and perhaps clue to the issue, was to wrap my Command's functionality in Device.BeginInvokeOnMainThread:

`Device.BeginInvokeOnMainThread(() => { // my code });`

[2022-03-18 22:13] eduardoagr commented on #1829
Well if you use a gesture recognizer, it will work

[2022-03-19 13:05] ilsur-dev111 commented on #1571
Hello everyone, I also have this problem, everything works fine on iOS, but it breaks on Android, I haven’t found workarounds yet, the player is on one of the TabbedPage pages, and switching to another page randomly breaks the application.

[2022-03-20 00:38] mike-rowley commented on #934
I have this exact issue and it seems there is little to no work being done on the Xamarin version of anything anymore, if it isn't MAUI no one at MS seems to care to fix bugs so I think were on our own.

Does anyone know how to override the CommunityToolkit version of IconTintColorEffectRouter in IOS to update this method and fix the issue without spinning off an entire new CommunityToolkit just t

[2022-03-20 19:43] bijington commented on #934
Hey @mike-rowley it's true that we are spending more time getting the toolkit ready for MAUI but this toolkit is not maintained by Microsoft. There are some employees working in this but as the name suggests it's community based and they work on it in their spare time.

To answer your question, you could copy over the code to your project and fix the issue in your application. You will need to cop

[2022-03-21 12:42] VladislavAntonyuk commented on #1805
@Axemasta we did get feedback from you. I am closing the issue for now. If the issue is still reproduced, please reopen it again.

[2022-03-21 12:43] #1805 closed

[2022-03-21 12:49] VladislavAntonyuk commented on #1541
Because in Xamarin Community Toolkit we use Snackbar for both Toast and Snackbar, the message is displayed according to Snackbar behavior (aligned to the left).
It is fixed in [.NET MAUI Community Toolkit](https://github.com/communitytoolkit/maui).

[2022-03-21 12:49] #1541 closed

[2022-03-23 04:08] ghuynguyen opened #1835 "[Bug]"
### Description
When using ListView in TabViewItem, after change tab, it's hard to select ListView's items

### Link to Reproduction Sample
https://github.com/ghuynguyen/tabview_bug

### Steps to Reproduce

1. Switch to Tab 2
2. Switch back to Tab 1
3. Select an item in ListView

### Expected Behavior
Item selected by 1 tap
### Actual Behavior
Item selected by multi tap
### Basic Information

- Ve

[2022-03-23 19:39] VladislavAntonyuk commented on #1787
Install Windows SDK 18362 and later.
Restore nuget packages.

[2022-03-23 19:43] VladislavAntonyuk commented on #1750
@thaihuydang You can use popup from CommunityToolkit.Maui.

[2022-03-23 23:02] pictos commented on #1764
@bondarenkod are you using .NET MAIU already? If so I would like to know if you are able to try the Popup on CommunityToolkit.MAUI, I know this issue lives there as well, but I'm wondering if your fix will work there, if so let me know and I can make an effort to implement it on GA

[2022-03-24 07:26] SarthakGz commented on #671
This is what actually I was asking for https://github.com/jsuarezruiz/netmaui-overlay-playground actually
still I am not sure how can I add MAUI controls to overlay view yet but its a start :)

[2022-03-25 17:51] mike-rowley commented on #934
Thanks @bijington, you are 100% correct, I forgot this is in XCT and not Xamarin proper.  I have taken your advice and created a PR based on the solution provided by @TheDude1604

[2022-03-25 19:39] bijington commented on #934
Thank you so much for the contribution! I think @pictos has already taken a look, at least I've seen some notifications about it.

[2022-03-25 21:14] pictos commented on #934
Yes, I'm. I'll test on my end ASAP (:

[2022-03-27 20:49] StonedHackerman opened #1837 "[Bug] CameraView not avaiable in UWP MauiCompat, even though the code is here"
### Description

When I create a new MAUI project, and add the latest Xamarin.CommunityToolkit.MauiCompat NuGet package, and then try to use a CameraView, the project refuses to compile on Windows, saying that it's "not avaiable", which must be the mistake, because I can see the code right here: https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityTool

[2022-03-27 21:52] pictos commented on #1837
@StonedHackerman can you confirm that you're targeting an UWP app? Because .NET MAUI doesn't support UWP but WinUI3

[2022-03-29 08:09] bondarenkod commented on #1764
Will try in a few days.

[2022-03-29 09:06] dungngo27696 commented on #1835
i have same issue, any update on this ?

[2022-03-29 15:05] StonedHackerman commented on #1837
Yes, I am targeting an UWP app

[2022-03-29 16:53] pictos commented on #1837
@StonedHackerman not sure if we still have an issue with the Windows target, but in your scenario, it shouldn't work, since .NET MAUI doesn't support UWP applications.

So I'll close this issue. If you change your project to be a WinUI3 project and still see the error comment here and we'll reopen this issue or you can create a new issue with more info and a sample project (:

[2022-03-29 18:33] StonedHackerman commented on #1837
sorry, I'm actually confused, I thought UWP and WinUI3 mean the same thing in this context, and I always read that MAUI supports Android, IOS and Windows, and when you create the project, under the Platforms directory, there is a Windows subdirectory, so I meant whatever "Windows" means in this context. Sorry for my ignorance 😅.
I just created an empty MAUI app, switched target framework to net6.0

[2022-03-29 20:09] xmak commented on #1715
For me, it worked without `Task.Run()` and the many redundant calls, just like this:

`        private void OnMediaOpened(object sender, EventArgs e)
        {
            ((MediaElement) sender).Stop();
        }
`

[2022-03-29 20:35] VictorKochetkov commented on #934
Hello!

`IconTintColorEffect` is very useful and we were tried to attach it to `SvgCachedImage` from [FFImageLoading](https://github.com/luberda-molinet/FFImageLoading) library.
But now it crashing right here - https://github.com/xamarin/XamarinCommunityToolkit/commit/6b6a02ec9c3135b1da472e7165a5faef2befc44a#r69840142

Is it possible to make something like that?
This code not crashing and tint ico

[2022-03-29 20:46] bijington commented on #934
@VictorKochetkov this toolkit won't provide support for tinting other libraries image controls. I do believe that FFImageLoading provides it's own mechanism for tinting images in their own controls though.

[2022-03-29 20:47] bijington commented on #934
@pictos and @mike-rowley can this issue be closed? I think the PR went in that solves this issue?

[2022-03-29 20:52] mike-rowley commented on #934
@bijington yes I think it can be closed, the PR solves this issue as far as I am concerned

[2022-03-29 21:10] #934 closed

[2022-03-30 07:38] kerberosargos commented on #1646
Hello I have updated XCT to 2.0.1 but this bug still is here.

![image](https://user-images.githubusercontent.com/11364304/160777535-e2e64553-8ffb-4ca1-b77d-eddb283329e3.png)

[2022-03-30 07:46] bijington commented on #1646
To confirm this issue occurs on older iOS versions (12) but not on newer ones? It sounds like whatever API is being used might not be available on the older version. We should crash though just guard around the usage.

[2022-04-02 10:03] Shunmugathangam opened #1839 "[Bug] Default constructor not found for type Xamarin.CommunityToolkit.UI.Views.Expander"
Xamarin.Forms.Xaml.XamlParseException
  Message=Position 42:34. Default constructor not found for type Xamarin.CommunityToolkit.UI.Views.Expander
  Source=Xamarin.Forms.Xaml
  StackTrace:
  at Xamarin.Forms.Xaml.CreateValuesVisitor.Visit (Xamarin.Forms.Xaml.ElementNode node, Xamarin.Forms.Xaml.INode parentNode) [0x00363] in D:\a\1\s\Xamarin.Forms.Xaml\CreateValuesVisitor.cs:119
  at Xamarin.Forms.

[2022-04-02 20:22] VladislavAntonyuk commented on #1839
could you please attach a small sample to reproduce the issue?

[2022-04-02 20:24] VladislavAntonyuk commented on #1837
@pictos MauiCompat doesn't support UWP apps, so we do not migrate and build the project. I think this won't be fixed

[2022-04-02 21:06] pictos commented on #1837
@VladislavAntonyuk I know, but he's using WinUI. He should got confused by names

[2022-04-02 22:25] VladislavAntonyuk commented on #1837
that is why it doesn't work. We didn't migrate XCT UWP to XCT MauiCompat WinUI, because WinUI doesn't have the all features which are available for the UWP.

[2022-04-03 00:44] pictos commented on #1837
Oh I see now! Good to know, well closing this again.

[2022-04-03 00:44] #1837 closed

[2022-04-03 05:43] Shunmugathangam commented on #1839
Hi Antony

Note: Issue only exists in release build, but in debug build it works fine.

Step 1:
Added **Xamarin.CommunityToolkit 2.0.1** reference in main, android and ios project.

Step2:
<?xml version="1.0" encoding="utf-8" ?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             xmlns:xct="clr-namespace:Xamari

[2022-04-03 18:53] CanEker-Backend commented on #1311
You can install XCT version 1.1.0 and its done :))

[2022-04-03 18:55] bondarenkod commented on #1764
@pictos
Hello! I'm sorry for the delay, I had to wait till the weekend. Also, I'm struggling with testing the project due to issues with my copy of VS2022. The VS randomly display target devices in the window, in 3 hours I've seen full set of attached devices only one time.  That allowed me to complete the test on the Android device. So, the iOS part will be added a bit later, I'm going to reinsta

[2022-04-03 19:48] pictos commented on #1764
@bondarenkod relax, take your time (: and thanks for looking into this.

I'm afraid that windows doesn't support this scenario, maybe we can block the `LightDismiss` feature and only allow the removal of popups when the user clicks on something inside the presented popup.

[2022-04-04 09:31] udde commented on #595
This still does not work on iOS!

Any ideas?

[2022-04-04 09:48] sp-sabik commented on #595
@udde As far as I know, this bug is already fixed. Try to update Xamarin.CommunityToolkit nuget package, maybe you are using some old TabView version. Alternatively, you can check [TabViewIndexWorkaround](https://github.com/xamarin/XamarinCommunityToolkit/issues/630#issuecomment-778601734) (works for old versions with a bug).

[2022-04-04 10:00] udde commented on #595
Hi, thanks for the response!

I am using the latest version. It is not fixed there.

I am using the workaround presented.
And i just realized this...

My issue was that i wanted the view to start on another tab index. So i put Selected index = 1; After InitializeComponent(); was called in the constrctor.
Doing so, the Tabview_SelectionChanged was actually called twice (only on iOS), and i think th

[2022-04-04 11:40] udde commented on #1382
Hi!

I just ran in to this. Used a workaround described here https://github.com/xamarin/XamarinCommunityToolkit/issues/595

Hope it helps!

[2022-04-04 13:03] karimElJed commented on #1753
As normal system popups have a darkened background I would assume this is a bug or at least a missing feature. @VladislavAntonyuk is the behaviour the same for the MAUI version?

[2022-04-04 16:07] jtorvald commented on #1839
@Shunmugathangam probably a linker issue when building for release mode.
Here you can see examples on how to keep the constructor while linking.
https://docs.microsoft.com/en-us/xamarin/cross-platform/deploy-test/linker

[2022-04-04 16:17] jtorvald opened #1840 "[Bug] LocalizationResourceManager.Current.CurrentCulture crashes app"
### Description

When using XCT with LocalizationResourceManager I get weird crashes when I set a new culture on language switch in the settings page:
LocalizationResourceManager.Current.CurrentCulture = cult;

When I restart the app, the same line is used on App startup and then I see the correct language. This worked before.

All the latest libraries and iOS version. Will test later on Android a

[2022-04-04 19:23] jtorvald commented on #1840
A bit more info: after the crash I directly see this in de device output:
[code]

This was posted 2 days ago by someone else about something iOS native, so maybe it has to do with some iOS change in recent version?
https://developer.apple.com/forums/thread/703309

[2022-04-04 19:57] pictos commented on #1840
@jtorvald,
Could you attach a small repro?

[2022-04-04 19:59] bondarenkod commented on #1764
I did a clean setup for win & vs 2022 preview on virtual machine.
I am still not able to see any targets except local 'Windows machine'.
Will wait till the next update, maybe it will help.