[2021-03-27 13:23] GUOLDEV commented on #1128
@maxkoshevoi I see, thanks for pointing the issue, I missed that part.

[2021-03-27 13:43] #1128 closed

[2021-03-27 16:23] StapSoft commented on #788
Version 1.0.3 MediaElementRenderer does exist  in "Xamarin.CommunityToolkit.UI.Views" (this solved the issue)
Version 1.1.0 MediaElementRenderer does NOT exist anymore

[2021-03-27 16:37] DamianAntonowicz opened #1135 "[Spec] Calendar"
# Calendar

Calendar control that displays calendar ;) Spec is based on working solution from my GitHub: https://github.com/DamianAntonowicz/XamarinForms.CalendarControl

Calendar is using CalendarDay control to display specific days. Calendar is also using CalendarWeekDayHeader control to display at the top week day headers: Monday, Tuesday, etc.

# API

## Calendar : ContentView

### Properties

[2021-03-27 21:43] felipebaltazar opened #1136 "[Enhancement] Autofit Label"
## Summary
A label that grows/shrinks the font size to fit entire bounds

For Android we have [this native API](https://developer.android.com/guide/topics/ui/look-and-feel/autosizing-textview)
For IOS we have [this native API](https://developer.apple.com/documentation/uikit/uilabel/1620546-adjustsfontsizetofitwidth)
For UWP we have [this example](https://github.com/baskren/Forms9Patch/blob/5818380

[2021-03-27 21:52] AndreiMisiukevich commented on #1136
@felipebaltazar awesome) I like it! would you like to submit a pull request to XCT?

[2021-03-27 21:56] #1112 closed

[2021-03-27 21:59] AndreiMisiukevich commented on #1112
only by using reflection that is not good.
I merged a fix, it will be available in the next release

[2021-03-27 22:16] felipebaltazar commented on #1136
Yeah! I just need to adapt my PR to XCT

[2021-03-27 23:15] Cfun1 opened #1137 "[Bug] Markup extension doesn't support c# mitting type in the new expression"
### Description
When using the new c# 9 feature that allows to omit the type in a `new` expression when the created object's type is already known, markup extension doesn't support it.

https://docs.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-9#fit-and-finish-features

### Steps to Reproduce
Works:
[code]
[code]

Doesn't work:

[code]
### Basic Information
- Version with issue: v1.1.0
- Las

[2021-03-28 01:11] AmrAlSayed0 commented on #1137
Open an issue at [dotnet/roslyn](https://github.com/dotnet/roslyn/issues) because I don't think there is a solution from the library's side. This is a compiler issue/bug.

[2021-03-28 07:57] dersia commented on #275
I know this in closed since october 2020, but am I missing something? Can't find the `SkeletonView`. @sthewissen where can I find it?

[2021-03-28 10:41] Cfun1 commented on #275
@dersia from the linked pr

The initial implementation could be fond in [sthewissen/../SkeletonView.cs](https://github.com/sthewissen/Xamarin.Forms.StateSquid/blob/master/src/Xamarin.Forms.StateSquid.Multi/Platforms/Shared/SkeletonView.cs)

[2021-03-28 16:55] 333fred commented on #1137
This isn't a bug. `new()` needs a target type, and none is provided here. There is no way for the compiler to insert what you mean.

[2021-03-28 17:25] maxkoshevoi commented on #1137
@333fred This compiles without any issues

[code]

![image](https://user-images.githubusercontent.com/6609929/112761389-c63b2a80-9003-11eb-9ecf-d22affe06a90.png)

[2021-03-28 17:36] Cfun1 commented on #1137
I am confused could someone confirm if this bug/issue belongs to xct or roslyn?

Cc @jfversluis @pictos @AndreiMisiukevich

[2021-03-28 17:58] maxkoshevoi commented on #1137
@Cfun1 It's not a bug. As mentioned by @333fred, compiler has no way of knowing what type do you mean when writing `new().Something`.
`new List<T> { new() }` works since type of the `new()` can be resolved from the type of the collection that it should be added in.

Here is the same code, but written differently:
[code]

[2021-03-28 18:04] #1137 closed

[2021-03-28 18:11] 333fred commented on #1137
Perfect explanation @maxkoshevoi.

[2021-03-28 21:24] Kapusch opened #1138 "[Bug] StateView not displayed if StateKey property is matched to "None" value"
### Description
Given a StateView "A" with StateKey property defined to "Loading"
and another StateView "B" with StateKey property defined to "None"
and the binded value for CurrentState is defined to "Loading"
When CurrentState value becomes "None"
Then StateView "A" disappears
But StateView "B" does not show up

### Steps to Reproduce

1. Run XCT.Sample on iOS
2. Go to the StateLayout example pa

[2021-03-28 23:50] LeoJHarris opened #1139 "Cannot FillAndExpand to center contents on page nested in StateView"
Unless my Xaml is incorrect it would appear there is an issue centering the content in a `StateLayout` on the page. or rather filling the screen view so that things can be centered. When I put views that previously filled the entire screen and put them inside `StateView` then it doesn't occupy the entire screen real-estate like it should and previously when placed outside a `StateView.`.

For exam

[2021-03-29 00:36] AndreiMisiukevich commented on #1138
Is it the same with #1112

if yes, it was fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1122

can you please validate that PR?

[2021-03-29 07:48] AdamDiament commented on #570
@PureWeen @pictos @AndreiMisiukevich

An update for this, the behaviour where expanding or closing the expander on iOS closes the flyout unexpectedly, that I mentioned in my comment from 25th Jan, still happens on XF 5.0.0.2012. I have got a workaround for this, it's a bit ugly but it works ok-ish.

1. Remove the expander.header entirely
2. In a grid, have a stack layout containing the ui from the

[2021-03-29 08:02] GUOLDEV commented on #553
Hi @VladislavAntonyuk, I believe this issue can be closed?

[2021-03-29 09:34] VladislavAntonyuk commented on #553
@GUOLDEV It's up to you. Has any progress been made on this issue?

[2021-03-29 11:38] GUOLDEV commented on #553
@VladislavAntonyuk, I thought the issue was already solved, I misunderstood the issue. I have created a [PR](https://github.com/xamarin/XamarinCommunityToolkit/pull/1141) to address this issue. Please let me know if it helps.

[2021-03-29 12:01] GUOLDEV commented on #430
Hi @Hackavist, I think this issue was addressed and good to be closed, is that right?

[2021-03-29 12:09] Hackavist commented on #430
Yes please do

[2021-03-29 12:17] GUOLDEV commented on #430
Sorry @Hackavist, I am not able to close an issue : (

[2021-03-29 15:11] aherrick opened #1143 "Programmatically Add Animation Behavior to Button"
I'm trying to programmatically add Animation Behavior (Shake) to a Button in the code behind.

I've tried something like this but it never seems to fire. Is there something more I need to do to have this execute?

[code]

[2021-03-29 16:09] kevin68 opened #1144 "[Bug] [Expander] InvalidOperationException: Header not initialized"
### Description
Since updating from XCT 1.0.3 to 1.1.0 the application throws an exception when displaying the main page that contains an Expander.
I found out that the crash happens when I set the property `Direction` to a value other than `Down` and whether or not I define a `Header`. After some digging it seems to come from [this line](https://github.com/xamarin/XamarinCommunityToolkit/blob/mai

[2021-03-29 19:52] Kapusch commented on #1138
Hi @AndreiMisiukevich , it looks like the same, indeed... but I have created my repro example from the XCT main branch yesterday, and your fix has been merged 2 days ago.

Otherwise, how could I directly validate the fix provided in the PR please ?

[2021-03-29 19:56] Kapusch commented on #1138
I confirm, your fix is already included in the repro sample:
[code]

[2021-03-29 21:49] Cfun1 commented on #1032
I can confirm the described issue.

[2021-03-29 22:30] pictos commented on #570
@PureWeen taking in consideration the workaround, this is still a bug or this is the expected way that devs should implement it?

[2021-03-29 22:33] pictos commented on #430
Closing the issue since the author agreed with that

[2021-03-29 22:33] #430 closed

[2021-03-29 23:03] pictos commented on #1134
@GUOLDEV Thanks for your interest in contributing to the XCT project. Just a friendly reminder, please wait for us to review the issue/proposal before submitting a PR. Could be cases that the feature will not be approved and we will need to close your PR and we don't want you to work in things that can't be accepted.

[2021-03-29 23:06] pictos commented on #1135
@DamianAntonowicz thanks for this spec, looks great! I'll give it a try to your control this week and let you know about it.

Also, this is related to #848

[2021-03-29 23:22] AndreiMisiukevich commented on #1144
Should be
```void SetHeader(View? oldHeader)```

And the line you mentioned should be dropped.

Great report!

[2021-03-29 23:34] AndreiMisiukevich commented on #1138
Duplicate of #1122

[2021-03-29 23:36] AndreiMisiukevich commented on #1032
@Cfun1 not the same with #1122?

[2021-03-29 23:48] #1144 closed

[2021-03-29 23:52] Cfun1 commented on #1032
@AndreiMisiukevich no not the same, in this issue when State="Success" (other than the default one None)
following [OnCurrentStateChanged](https://github.com/xamarin/XamarinCommunityToolkit/blob/f52349cebb3db02d695028e05cd295de73951426/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/StateLayout/StateLayout.shared.cs#L60) oldValue = None, newValue = Success, up to here good but in StateViews is

[2021-03-30 01:37] Cfun1 opened #1149 "[Enhancement] Add ConditionalDoubleConverter"
## Summary

Add `ConditionalDoubleConverter` which seem to have similar name as existing `IntToBoolConverter` but the aim is totally different.

Input is a double and output is a bool, the difference with `IntToBoolConverter` is that the value of this bool depends on a condition set by the dev, <, >, ==, <=, >=, !=.

## API Changes
[code]
or better we could extend to more generic than `bool` like

[2021-03-30 03:34] GUOLDEV commented on #1149
What about using a [ConditionOperator](https://docs.microsoft.com/en-us/dotnet/api/microsoft.xrm.sdk.query.conditionoperator?view=dynamics-general-ce-9) enum?

[2021-03-30 03:37] GUOLDEV commented on #1134
@pictos  thanks!

[2021-03-30 03:42] Cfun1 commented on #1149
@GUOLDEV Thanks I didn't know about  ConditionOperator, it seems interesting, we'll check what better for this implementation   a classic switch statement or ConditionOperator.

[2021-03-30 03:56] GUOLDEV commented on #385
@hnabbasi very nice! I cannot wait to use it in my next project.

[2021-03-30 04:41] jBijsterboschNL commented on #1149
This ConditionOoerator is part of the Microsoft.Xrm.Sdk namespace, which is used for developing with Microsoft Dynamics. Not sure if you would want to use that one in this scenario.

[2021-03-30 04:47] GUOLDEV commented on #1149
Actually, I was thinking about something very simple as the sample code below:

[code]

[2021-03-30 09:25] Kapusch commented on #1138
Sorry @AndreiMisiukevich , what I meant is that your fix was included in my repro sample, and even with that, the bug I have captured in the Gif is still valid.

Am I possibly wrongly using the None state ?

[2021-03-30 12:43] singhavinash108 opened #1150 "cameraView.Shutter(); Is not working on IOS on latest package(1.0.3 and 1.1.0)"
cameraView.Shutter(); Is not working on IOS on latest package(1.0.3 and 1.1.0)

[2021-03-30 13:51] Cfun1 commented on #1149
Thanks @GUOLDEV it seems a nice readable approach.

[2021-03-30 15:19] #1059 closed

[2021-03-30 15:23] MattiaDurli commented on #1096
I tested your fork in my android app instead of the main XCT, and made it work using the CameraPreviewProcessor.

I found that it works as expected in CaptureMode="Preview" mode, but if I want to use the standard CaptureMode="Photo", it displays just black.
You can reproduce it in the standard XTC Sample app.

The bitmap preview is 960*720, is there a setting for an higher resolution?

Thanks

[2021-03-30 19:55] GUOLDEV commented on #1150
Hi @singhavinash108, I believe the issue reported was already fixed in this [PR](https://github.com/xamarin/XamarinCommunityToolkit/pull/1119).

[2021-03-30 20:37] GUOLDEV commented on #1059
Hi @jfversluis, nice work fixing the issue, any idea when 1.1.1 is going to be released?

[2021-03-30 23:07] mavispuford commented on #1096
Hi @MattiaDurli, I can try to take a look at the black photo thing when I get some time in the next week.

Regarding the resolution, this is just pulling from the live camera preview that is rendered on screen.  The main purpose of this mode would be for on-device live camera processing with ML Kit etc.  For text recognition, [Google's input image guidelines](https://developers.google.com/ml-kit/v

[2021-03-30 23:11] AndreiMisiukevich commented on #1138
@Kapusch ah, sorry for the misunderstanding.

is your issue the same with https://github.com/xamarin/XamarinCommunityToolkit/issues/1032 ?

[2021-03-31 02:20] pictos commented on #1135
@DamianAntonowicz I looked at your code and ran the app on my end (android emulator), it seems ok to me, I found some "issues", that we can improve it I believe.

First of all the code looks good, you will need to perform some changes to it to adequate to our pattern, and also I saw some places that we can refactor to avoid code duplication.

From the control itself, I saw some points to improveme

[2021-03-31 06:22] DamianAntonowicz commented on #1135
@pictos thanks for the feedback. I'll investigate how to improve performance. About selecting 10th day of the month, this is made on purpose in code behind of MainPage.xaml.cs (https://github.com/DamianAntonowicz/XamarinForms.CalendarControl/blob/9c7cc6419be8aa62aa92b7da728b3621c061e45d/XamarinForms.CalendarComponent/MainPage.xaml.cs#L30) to show how to disable selection for specific days ;) Perha

[2021-03-31 06:55] kaniosm opened #1151 "[Bug] Application crashes after updating from 1.03 to 1.1.0. The view that crashes uses the Expander control"
The error report reported is :android.content.res.Resources$NotFoundException: Unable to find resource ID #0xffffffff

The Platform is Android 8.1

[2021-03-31 08:16] Cfun1 commented on #1151
Hi @kaniosm thanks for the report, could please attach a repo?

[2021-03-31 09:56] kaniosm commented on #1151
It seems that the issue is caused by the direction property (Direction="Up").
Steps to reproduce:
1. Create a new Xamarin Forms project
2. Add reference to Community toolkit
3. Add a new Expander in any page and set the Direction="Up"

Sample project attached
[App5.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6235650/App5.zip)

[2021-03-31 10:00] Cfun1 commented on #1151
@kaniosm this merged pr https://github.com/xamarin/XamarinCommunityToolkit/pull/1147 has probably fixed the issue, could you please confirm it?

[2021-03-31 10:31] ekjuanrejon opened #1152 "[Bug] Button loses style"
### Description
I have a button that I am using the CommandFactory.Create with allowsMultipleExecutions. After the button is clicked it loses its style

[code]

[2021-03-31 11:25] kaniosm commented on #1151
Yes I can confirm it.
#1147 fixes this issue

[2021-03-31 11:25] #1151 closed

[2021-03-31 13:11] bakerhillpins opened #1153 "MultiValidationBehavior overwrites external BindingContext bindings"
### Description
MultiValidationBehavior doesn't respect bindings made on the BindingContext of children, it overwrites them. [`BaseBehavior<T>` only applies a binding if one doesn't exist](https://github.com/xamarin/XamarinCommunityToolkit/blob/6ff1724cd0f8d0126650d1d6cd897283aa0a6a76/src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/BaseBehavior.shared.cs#L34), while [`MultiValidationBehavi

[2021-03-31 14:24] MicheleOT commented on #289
I'm facing the same issue, the exception is thrown when the component tries to render the preview (and shows only a black surface).
Full StackTrace:
[code]
Device is a Sony G3311 with Android 7.0, RECORD_AUDIO permission is present in manifest and is given by the user.

[2021-03-31 15:56] Kapusch commented on #1138
No problem !

I had a look at the issue you are mentioning but no, mine is more about "none stateview never shows up"

But maybe I am not using it right.

[2021-03-31 16:17] ionixjunior commented on #1135
@DamianAntonowicz in the [Xalendar](https://github.com/ionixjunior/Xalendar), the big problem to navigate between months was to inflate the view again to render the new days, that was slow. Fortunately, this was easy to solve. We create a "cache" for the day element. Instead of clear all elements of the view and add new references, the approach was to recycle the current elements to show new data.

[2021-03-31 19:57] AndreiMisiukevich commented on #1152
@ekjuanrejon hi)

If you want to have a circle button, then your CornerRadius should be half of Width/Height.

[code]

Maybe it will solve your issue

[2021-03-31 19:58] AndreiMisiukevich commented on #1151
@Cfun1 Thank you!)

[2021-03-31 20:08] Cfun1 commented on #1151
@AndreiMisiukevich Anytime :)

[2021-03-31 20:09] AndreiMisiukevich commented on #1138
CC @sthewissen

[2021-03-31 20:35] mavispuford commented on #1096
Looking into it more, it seems like the more appropriate solution for Android might be to add another Surface/ImageReader to read in the frames that way.  Then we could set our own width/height etc.

[2021-03-31 21:04] pictos commented on #848
Since we have a spec proposal I'll close this issue and we should move any further comment to #1135

[2021-03-31 21:04] #848 closed

[2021-03-31 22:35] MattiaDurli commented on #1096
Hello @mavispuford , the issue, when CaptureMode="Photo", is that the onscreen preview is black, I havent't tried to take a photo.
I'll do some other test tomorrow, with my Pixel 3a using the XTC Sample for reference.

For now what I'm trying to do is to evaluate the preview frame bitmap to be sure that the text/barcode is focused.
Only when in focus the user will be allowed to take a photo.
So it

[2021-03-31 22:50] brminnick commented on #1152
@ekjuanrejon Can you share the code for `ExecuteGenerateQrCodeCommand`?

[2021-03-31 22:59] Dreamescaper commented on #591
Interestingly enough, it behaves more or less fine with ScrollView.
But with CollectionView it's mostly unusable.

[2021-04-01 01:36] LeoJHarris commented on #1139
bump... can somebody please confirm with me if this is a bug or something wrong with my XAML or this is by design.

[2021-04-01 01:39] samir-dahal opened #1154 "[Bug] TabView SelectionChangedEvent returns the same value on both Old and New position."
### Title
TabView SelectionChangedEvent returns the same value on both Old and New position.

### Description
Please follow the steps to reproduce the issue.
### Steps to Reproduce

1. Create a file new Xamarin Forms application.
2. Install Xamarin Communit Toolkit
3. Create a simple layout using TabView
4. Set SelectionChanged Event on TabView
5. Change the selection on TabView
6. You'll see that

[2021-04-01 02:07] pictos commented on #1154
@samir-dahal could you update your issue by adding a title and a description? Thanks

[2021-04-01 08:12] ekjuanrejon commented on #1152
@brminnick

Thanks for taking a look. It is very weird I removed all the code from the method and as soon as the button is pressed it loses the circular style

[code]

[2021-04-01 08:22] AndreiMisiukevich commented on #553
Hey folks, let's discuss whether we want to merge several converters (Regular and Inverted) into a single one.

Personally, I'd prefer to go ahead with our current approach. **xct:IsNullOrEmptyConverter** and **xct:IsNotNullOrEmptyConverter**. So you needn't have to specify any properties.

Let's bring more people into this conversation

Hey folks, can you please take a look @jfversluis @jsuarezru

[2021-04-01 08:26] AndreiMisiukevich commented on #1139
Hello, have you tried to set CenterAndExpand?

[2021-04-01 08:28] AndreiMisiukevich commented on #1139
Also, does it work fine if you put just ContentView there instead of StateLayout?

[2021-04-01 08:55] LeoJHarris commented on #1139
@AndreiMisiukevich

I tested that and took out the `StateLayout` from the Xaml and place in the `EmptyView` the `ContentView` as per the following, it then displays as the screenshot attached and shows it correctly Expanding to the page and allowing the text to center which is what I need to achieve but the `StateLayout` will not expand.

[code]

![Screenshot_1617267236](https://user-images.github

[2021-04-01 12:19] meJevin opened #1157 "[Bug] iOS Touch Effects cause weird behavior with multiple selection enabled in CollectionView items"
### Description
In my project I have the following scenario: I have a CollectionView with a custom ItemTemplate. My custom ItemTemplate has TouchEffects applied on it. There is an option to disable those touch effects via a binding. I create a BindableProperty for my custom ItemTemplate and set a binding on it which can be controlled from outside. When that property changes I remove/add the TouchE

[2021-04-01 12:31] meJevin commented on #1157
Update:
the following commit fixed this issue

[2021-04-01 12:49] meJevin commented on #1157
Ok. So I've isolated the problem a little too much. The stuff I was complaining about was fixed via https://github.com/meJevin/TouchEffectBug/commit/a098a5ab138e4bcff98b017a0acec3e04389a5fd

However. There is one more issue. When changing selection mode of the CollectionView with my custom ItemTemplate. Multiple selection is behaving weird on iOS.

I've updated the repo. Check it out.

# Steps to

[2021-04-01 13:00] meJevin commented on #1157
https://user-images.githubusercontent.com/16974717/113297444-4bc02280-9303-11eb-932c-36a5a91fde96.mp4

[2021-04-01 14:09] rnguye2 commented on #297
This is still a bug

[2021-04-01 14:12] meJevin commented on #1157
Note: this doesn't happen on Android.

[2021-04-01 17:54] mavispuford commented on #1096
@MattiaDurli - [I've created a new branch](https://github.com/mavispuford/XamarinCommunityToolkit/tree/LiveCameraFeed-Surface) that approaches this differently for Android.

Instead of piggybacking off of the on-screen preview texture in OnSurfaceTextureUpdated(), I'm using a separate ImageReader with its own IOnImageAvailableListener implementation.  This seems to work in my initial testing, but

[2021-04-01 18:30] pictos commented on #553
I agree with this. This change doesn't make any tec. improvement (perf, stability, etc) but adds more work to maintain it, since we need to obsolete the old way (we need to await one major release after obsolete something to remove it) and can add confusion in our users. So I would say to keep our current approach for `Is` and `IsNot` converters

[2021-04-01 20:45] CZEMacLeod commented on #980
Not sure if this is the same problem, but I have a tabview with bound tabitemssource, and it works and shows the correct indicator icon when tapping to change tab. However if you swipe to move between tabs, the indicator does not update.

[2021-04-01 22:00] AndreiMisiukevich commented on #1157
@meJevin hello.
Frankly speaking, I don't think it's related to TouchEffect.
Can you try to remove "TouchEffect" from another template.
Does the issue remain?

[2021-04-01 22:06] meJevin commented on #1157
@AndreiMisiukevich, removed everything related to TouchEffect in my code. Issue is not present anymore. Check out this branch of my repo for yourself https://github.com/meJevin/TouchEffectBug/tree/no-touch-effect (I commented out the parts in `TestTemplate.xaml.cs` related to TouchEffect and everything works as expected)

[2021-04-01 22:08] meJevin commented on #1157
So I'm pretty positive that this issue has something to do with TouchEffect. Maybe the way it intercepts OnTouchBegin on iOS or however it's implemented.. I think I saw an issue about this and people were discussing something along those lines.

[2021-04-01 22:09] meJevin commented on #1157
Ну и вообще да.... на андроиде то работает елы палы

[2021-04-01 22:14] AndreiMisiukevich commented on #1157
Then just remove the touch effect when it's not needed.

```view.Effects.Clear();```

[2021-04-01 22:17] meJevin commented on #1157
That's almost exactly what I'm doing in my code. No luck though. Multi selection is still broken.

[2021-04-01 22:17] meJevin commented on #1157
@AndreiMisiukevich https://github.com/meJevin/TouchEffectBug/blob/320cd64f803b51eaf7637d2ce7c3d4f3f8a44067/TouchEffectBug/TouchEffectBug/Controls/TestTemplate.xaml.cs#L44

[2021-04-01 22:19] AndreiMisiukevich commented on #1157
Спасибо, Миша) Филл фри кидать PR если знаешь, как пофиксить

Thanks Michael, feel free to submit PR if you know how to fix it)

[2021-04-01 22:21] meJevin commented on #1157
I'll try to dig my way in and figure this out, if I can. But multi selection is actually broken in a really peculiar way too.. When I remove the effect, I am able to select (or deselect if its already selected) an item once, but no  further interaction is possible with it afterwards, the item seems to ignore the clicks somehow.

[2021-04-01 22:29] GUOLDEV opened #1159 "[Converter] Implement IsBetweenConverter"
## Summary

## API Changes

## Intended Use Case

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-04-01 23:07] AndreiMisiukevich commented on #1159
IsInRangeConverter?

[2021-04-01 23:08] GUOLDEV commented on #1159
@AndreiMisiukevich great name idea! I like that.

[2021-04-01 23:09] GUOLDEV commented on #1159
If we need type-specific converters, it can be, for example, IsDateTimeInRangeConverter...

[2021-04-01 23:13] AndreiMisiukevich commented on #1159
I guess a single converter can be implemented for all IComparable types

[2021-04-01 23:15] Cfun1 commented on #1149
@AndreiMisiukevich what do you think about this feature request ?

[2021-04-01 23:31] GUOLDEV commented on #1149
@Cfun1 if the CompareConverter idea is ok and if you don't mind, I can create a PR for this issue.

[2021-04-01 23:35] Cfun1 opened #1160 "[Bug] Hot reload not woking on ShadowEffectPage"
### Description
Hot reload not working on [ShadowEffectPage](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/samples/XCT.Sample/Pages/Effects/ShadowEffectPage.xaml).

### Steps to Reproduce

1. Run the sample
2. Navigate to ShadowEffectPage
3. Make a change and save

### Expected Behavior
Hot reload updates the page.
### Actual Behavior
Page not updated even that in the console:

###

[2021-04-01 23:46] AndreiMisiukevich commented on #1149
CompareConverter sounds good

[2021-04-01 23:46] Cfun1 commented on #1149
@GUOLDEV I have already [an implementation](https://github.com/Cfun1/XamsungHealth/blob/master/XamsungHealth.Lib/Converters/ConditionalDoubleConverter.cs) but I believe we can merge the best of both, I was just waiting for the [approval process](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/CONTRIBUTING.md#opening-a-pr-process) feedback and thoughts before sending a pr.

[2021-04-02 00:08] pictos commented on #1149
@GUOLDEV, @Cfun1 marked this issue as his want to work on it, so I ask you to let him do the implementation. Thanks

[2021-04-02 01:28] GUOLDEV commented on #1149
That's great @Cfun1 and thanks for considering merging the ideas, let me know if you need any help 👍

[2021-04-02 07:21] sattew commented on #1149
Also I think I can implement it in MathExpressionConverter (#1117)

[2021-04-02 12:33] Cfun1 commented on #1149
@sattew I don't think `MathExpressionConverter`  serves the same purpose, this converter will **returns a boolean or an object** defined by the dev while `MathExpressionConverter` calculate a math expression and returns the result, IMHO better we don't mix up those two converters.
@AndreiMisiukevich @pictos What are your thoughts?

[2021-04-02 13:05] sattew commented on #1149
Yeah, is it right too. I think MathExpressionConverter can include this logic because the Math includes inequalities.

[2021-04-02 15:25] MattiaDurli commented on #1096
@mavispuford - First of all thanks because with some mods to your previous branch I've been able to accomplish what I needed.
I can process the livefeed frames (Android.Graphics.Bitmap) in real time, and when process is ok I can take the high res picture.

I now updated eveything to your latest branch, and had to just move the initializer of _cameraPreviewProcessor to the second constructor, becau

[2021-04-02 17:41] mavispuford commented on #1096
@MattiaDurli - That's really good to hear that you were able to get that piece working.  And good call on the initializer thing, I wasn't able to test an implementation of `ICameraPreviewProcessor` yet.  I think I meant to put `: this()` in that second constructor instead of `: base()`.  Oops.

Any hint on how to do it?

I'm not quite sure, actually.  For my use case, I've been able to pass either

[2021-04-02 22:40] mavispuford commented on #1096
I updated the [LiveCameraFeed-Surface](https://github.com/mavispuford/XamarinCommunityToolkit/tree/LiveCameraFeed-Surface) branch. `CameraView` now has a `PreviewFrameQuality` bindable property.  This allows you to choose between **Quality** and **Performance** from the Xaml side.  I'm not quite sure what the different resolutions for those should be, but for now, **Performance** sets the minimum

[2021-04-03 03:01] AndreiMisiukevich commented on #1153
Please verify fix
Thanks!

[2021-04-03 03:16] AndreiMisiukevich commented on #878
Closing this issue since it should be done on XF side.
If you'd like to have "ImageFactory" for being possible to switch Image to CachedImage, then please open a new "feature-request" ticket.

Thank you!

[2021-04-03 03:16] #878 closed

[2021-04-03 08:11] alex-relov opened #1165 "[Enhancement] add more states for LayoutState"
## Summary

add more states for Xamarin.CommunityToolkit.UI.Views.ayoutState:  NoInternet, Unauthorized

## Who Will Do The Work?

- [x] I am willing to take this on myself

[2021-04-03 09:23] Kapusch commented on #1012
Hi @LeoJHarris ,

Did you try just setting "SelectedIndex" property with a default value ?
                    `SelectedIndex="0"`

[2021-04-03 09:25] samir-dahal commented on #1154
Please have a look now.

[2021-04-03 11:07] Cfun1 commented on #1165
Hi thanks for the contribution, but IMHO this two states doesn't need to be added as it can be used with Custom states like in [the sample app, ](https://github.com/xamarin/XamarinCommunityToolkit/blob/8f2975254ddca1ff920e6e805afc421c67975c64/samples/XCT.Sample/ViewModels/Views/StateLayoutViewModel.cs#L57-L61) and here's the [xaml part](https://github.com/xamarin/XamarinCommunityToolkit/blob/8f297

[2021-04-03 11:32] alex-relov commented on #1165
@Cfun1 perhaps, but I believe that these two states are typical and exist in almost every application

[2021-04-03 13:27] MattiaDurli commented on #1096
Thanks @mavispuford but I'm still stuck with Android.Media.Image instead of Android. Graphics.Bitmap as result of CameraProcess. It can't be that hard, there must be something I'm obviusly missing.
With Bitmap, I was able to process the frame with Emgu/OpenCV,  to save it to disk, to send it to server as bytearray/jpg/png.
Can't find a way to process the Image.
I tried to convert Image to Bitmap w

[2021-04-03 14:27] AndreiMisiukevich commented on #1165
@jfversluis @pictos and especially @sthewissen what do you think about this enhancement?

[2021-04-03 18:02] Siphonophora opened #1167 "[Bug] Unit Tests can't build in new Shell App with CommunityToolkit"
### Description

When adding XCTK to a fresh shell project (so no UWP support), an existing unit test project will fail to build. This seems like it might be the same underlying issue as #985 but I'm getting a build failure instead of a warning.

### Steps to Reproduce

See sample repo for steps: https://github.com/Siphonophora/XCTC_TargetWindowsBug/commits/main

### Expected Behavior

No error.

[2021-04-03 21:16] sylendra7 opened #1168 "How to remove slide animation while switching between the tabs"
How to remove slide animation while switching between the tabs in tabview ?

[2021-04-03 21:25] Cfun1 commented on #1168
Have you tried `<xct:TabView IsTabTransitionEnabled="False"` ?
I suppose this should be moved to a discussion

[2021-04-03 21:57] justadaniel opened #1169 "[Enhancement] Apple's SFSymbols w/ Fallback for Unsupported Platforms"
## Summary

This feature creates an easy way to use Apple's 2,400+ *SF Symbols* on supported devices. If we want to add it to macOS, it's as simple as swapping a few declartions for AppKit instead of UIKit. The icons are provided by the system itself saving on app size and helping developers get instant access to a large quantity of artwork. This is especially great for those who only plan on rele

[2021-04-03 23:17] pictos commented on #1165
I'm with @Cfun1 on this one, it's very easy to add a new custom state

[2021-04-03 23:19] #1168 closed

[2021-04-03 23:30] #1099 closed

[2021-04-04 00:06] #1153 closed

[2021-04-04 17:14] coquilanka opened #1171 "[Bug] MediaElement for UWP is broken in Xamarin Community Toolkit 1.1"
### Description
[Bug] MediaElement for UWP is broken in Xamarin Community Toolkit 1.1

### Steps to Reproduce
1. Try the below MainPage.xaml file that contains a MediaElement Tag (set the UWP project as startup, and start debugging). You will only get the "red background" set in "BackgroundColor" in XAML below, but not the player interface, and playback does not work

<?xml version="1.0" encoding=

[2021-04-05 16:13] mavispuford commented on #1096
@MattiaDurli Sorry to hear you're still having issues with the format conversion.  Have you [come across this article](https://blog.minhazav.dev/how-to-convert-yuv-420-sp-android.media.Image-to-Bitmap-or-jpeg/) in your research?  It looks pretty well put together (including benchmarks for each solution).  It's crazy that Google doesn't have any convenient APIs for doing this conversion.

[2021-04-05 20:46] pictos commented on #1167
@Siphonophora if your unit test target the netCore version, does this error happens?

[2021-04-05 20:47] pictos commented on #1160
@BretJohnson, since you're a hot reload expert, can you tell us if we can fix this here?

[2021-04-05 21:01] Siphonophora commented on #1167
Apparently netCore 3.1 builds fine. Added that to the repo link

[2021-04-06 01:30] pictos commented on #1154
@samir-dahal thanks for that, can you upload a small repro? That will help us to triage faster the issue. Do you tried on our sample app?

[2021-04-06 01:32] pictos commented on #1152
@ekjuanrejon Can you attach a small repro of this issue?

[2021-04-06 01:33] pictos commented on #1150
@singhavinash108 Can you try our nightly build and see if it fixed your issue?

[2021-04-06 08:31] ekjuanrejon commented on #1152
@pictos I am attaching a small example.

I think the issue is with the style. I have a global style for the button the app.xaml... If I remove the extra styles I added to app.xaml then it works perfectly.

[code]

[2021-04-06 11:58] jfversluis commented on #1171
I've tried it with the sample app and that seems to work fine.

Could you maybe add a little reproduction project to show the issue? That would really help tracking this down. Thanks!

[2021-04-06 12:01] jfversluis commented on #1169
Hey @justadaniel good to see that here!

Is there a way we could implement it as a iOS Specific thing, i.e. like this: https://github.com/xamarin/XamarinCommunityToolkit/tree/main/src/CommunityToolkit/Xamarin.CommunityToolkit/PlatformConfiguration/iOSSpecific

Then we don't need the fallback and things :)

[2021-04-06 12:05] MattiaDurli commented on #1096
Hi @mavispuford yes I've already been thorugh that article, converted everything to C#, but resulting image is garbage.
I've posted here [ https://stackoverflow.com/questions/66968240/convert-from-android-media-image-to-android-graphics-bitmap-possibily-with-xama](https://stackoverflow.com/questions/66968240/convert-from-android-media-image-to-android-graphics-bitmap-possibily-with-xama) to ask fo

[2021-04-06 12:19] jfversluis commented on #1160
So it seems there is something wrong in Forms and not so much the Toolkit then? Opened #1174 to update the dependencies. I don't think there is much else we can do here.

[2021-04-06 12:21] jfversluis commented on #1116
@cabal95 I'll keep it here for now, but to make sure the right people look at it, please open Docs related issue on the repo you've linked :)

Thanks!

[2021-04-06 12:24] jfversluis commented on #1165
Yep, custom states are to be added yourself else we can go to infinity with this.

However, @alex-relov we really appreciate your input so thank you for that, but we're not going to move forward on this one. Looking forward to your next proposal!

[2021-04-06 12:24] #1165 closed

[2021-04-06 12:27] jfversluis commented on #1118
Thank you for your suggestion @TravyDale however, you are already able to do this.

The default template indeed mimics how Android does things, including the uppercasing, but you can override the whole template and implement something custom.

You can see that here for example: https://github.com/xamarin/XamarinCommunityToolkit/blob/main/samples/XCT.Sample/Pages/Views/TabView/CustomTabsPage.xaml#L

[2021-04-06 12:31] jfversluis commented on #1096
Yes! I would love to have this and looks like you already have a great piece of the work done. Love that :)

I'll let some other team members chime in a little on this. Since you already have something working, you might put it in a PR targeting develop so we can test it for a bit too. Only if that is not too much trouble

[2021-04-06 12:32] jfversluis commented on #1018
Yep, this can be done, look at the samples. Thanks everyone for helping out here, great community effort! <3

[2021-04-06 12:32] #1018 closed

[2021-04-06 12:35] jfversluis commented on #1019
Sorry, I'm not quite sure what you mean? You can already set the `TabIndicatorPlacement` is that not what you mean?

[2021-04-06 12:42] jfversluis commented on #1107
Have a look at the sample app where something like this is done. Also, please use Stack Overflow, [Microsoft Q&A](https://docs.microsoft.com/answers/products/dotnet?WT.mc_id=xamarinforumsredirect-web-xamarin) or other appropriate channels for questions and guidance.

We try to keep the repo for issues and bugs in the library, thanks!

[2021-04-06 12:42] #1107 closed

[2021-04-06 12:44] jfversluis commented on #1129
Thanks for reporting this @sunil12345678910 is there any specific reason you did not use the issue template for report a bug? That would really help us get all the information we need, please use it next time, thanks!

[2021-04-06 12:46] jfversluis commented on #1020
Also see #301 and #819

[2021-04-06 12:47] bijington opened #1175 "[Enhancement] Provide ability to start Animations from a Command"
## Summary

Provide the ability to start an Animation from something other than a View. Ideally I want to drive it when deciding whether a page is valid and the user is pressing the submit/save/create button.

## API Changes

Add `AnimateCommand` to `AnimationBehavior` which will be an `ICommand` with a `OneWayToSource` binding.

## Intended Use Case

Rather than disabling a Button based on whethe

[2021-04-06 12:48] bijington commented on #1175
Update this was initiated from discussion #1156

[2021-04-06 12:48] jfversluis commented on #751
This one is fixed by #886

[2021-04-06 12:48] #751 closed

[2021-04-06 13:47] TravyDale commented on #1118
Yes it does. I was just trying to avoid doing a custom template. This works just fine though. Thanks for the reply!

[2021-04-06 13:47] #1118 closed

[2021-04-06 15:04] brminnick commented on #1116
Ah, yes this was done before [the official documentation website](https://docs.microsoft.com/xamarin/community-toolkit/?WT.mc_id=mobile-0000-bramin) was created.

I'll remove the markdown from the repo 👍

[2021-04-06 15:12] brminnick commented on #1116
Fixed in https://github.com/xamarin/XamarinCommunityToolkit/commit/0ffd51a099e7472ff6101119e1c0a734687dc394

[2021-04-06 15:12] #1116 closed

[2021-04-06 15:32] #1160 closed

[2021-04-06 16:29] ArunPrakashG opened #1176 "[Enhancement] Implement `IDisposable` on `Popup`"
## Summary

Currently, it's a little bit hard to control when to close the popup.
Implementing `IDisposable` Interface would introduce a `Dispose()` method which makes handling the popup easier.

## API Changes

Sample:
[code]
here, `PopupView` is a class which inherits `Popup` from XCT, With some added construct parameters on the base class and exposing of the `Message` property which Binded to t

[2021-04-06 16:38] pictos commented on #1096
@mavispuford do you think if we use the CameraX this will be easier to implement/handle/maintain?

[2021-04-06 16:39] pictos commented on #1176
@ahoefling what do you think about this? TBH, I'm not sure if Forms handle that, just like he does for other xaml controls

[2021-04-06 16:53] ahoefling commented on #1176
Currently Popup support several techniques for closing the popup
* Dismiss()
* LightDismiss()
* Async/Await pattern

As this specification is written if we implement `IDisposable` the popup will open and close immediately unless we do something to instruct it to dispose once the popup closes. This would create a blocking thread and prevent code from running until the object is disposed.

Could you

[2021-04-06 17:18] pictos commented on #1176
@ahoefling we can use `IAsyncDisposable` to avoid it (?), but yeah, I'm curious to see what's the intent use case

[2021-04-06 17:23] mavispuford commented on #1096
@MattiaDurli - The main reason I chose Yuv420888 is because Google [says that's the most efficient format](https://developers.google.com/android/reference/com/google/mlkit/vision/common/InputImage#public-static-inputimage-frommediaimage-image-image,-int-rotationdegrees) (see the `image` parameter under `fromMediaImage()`) to use for ML Kit.  I suppose we could make it configurable somehow.  We def

[2021-04-06 17:40] ArunPrakashG commented on #1176
To better explain it, i will add the following example:
## PopupControl.xaml
[code]

## PopupControl.xaml.cs
[code]
To display the popup, i call like so:
[code]

once the `using` block finishes execution, `Dispose()` is called and which then dismisses the popup.
here the use case would be to display some quick information to the user, or a loading screen which indicates there is an activity going

[2021-04-06 17:41] MattiaDurli commented on #1096
@mavispuford I searched through that same doc and all other sources says that Yuv420888 is the way to go for both performance and reliability (other formats are not guaranteed to be supported on all cameras). So that's ok.
Probably MLKit takes care of all the conversion stuff, but there definetely should be a helper to convert the YUV to a easier to manage format, for other processing libraries.

[2021-04-06 18:10] singhavinash108 commented on #1150
@pictos ok, i will try, but is there any ETA for latest version? just asking because i need to deliver the functionality.

[2021-04-06 18:47] pictos commented on #1150
@singhavinash108, since that PR was merged into main branch, we should have a new release in a couple weeks

[2021-04-06 19:04] justadaniel commented on #1169
Sounds good to me @jfversluis!

[2021-04-06 19:47] ahoefling commented on #1176
Thank you for providing a detailed explanation of what you are thinking. My biggest area of concern is what is the expectation of the using block? By design popups have to wait until some action dismisses them. Adding a using block like this doesn't provide anyway to notify the popup of when to close.

If we implement `IDisosable` or `IAsyncDisposable` the popup would dismiss when the using block

[2021-04-06 19:56] pictos commented on #1176
@ArunPrakashG thanks for your sample, I agree with @ahoefling here, And this isn't a good case scenario for using the Disposable pattern, I was thinking that you do something _heavier_ on your PopUp and need to clean up some resources at the end. For this scenario you can call the Dismiss method on your popUp and close it, does that works for you?

[2021-04-06 20:03] ArunPrakashG commented on #1176
I understand the flaws in this.
so far, i only used the popups to display some activities like requesting REST api and indicate the request progress via popup to the user. I understand the mistake. I am closing this issue.

[2021-04-06 20:04] #1176 closed

[2021-04-06 21:25] bijington commented on #1175
I have actually completed the development work for this and just need to test it out in the sample app.

[2021-04-06 21:47] pictos commented on #1176
@ArunPrakashG, thanks for bringing that up! And feel free to open any issue asking for features in the future :D

[2021-04-06 21:52] pictos commented on #1175
@bijington thank you for your proposal. Can you expand how it will work? And a code sample?

[2021-04-06 22:11] InquisitorJax commented on #979
... just to mention a work-around: I am still able to use swiping to access the tabs, but the tab selection for a particular tab becomes unresponsive.

[2021-04-06 22:24] IeuanWalker commented on #1176
@pictos @ArunPrakashG
This sounds like what I'm looking for.

Being able to use the popup control as a loading indicator/ overlay.

Currently, we are using [ACR.UserDialogs](https://github.com/aritchie/userdialogs/blob/95e121b17b9391728d2b8948ced4fa6b6637b949/src/Samples/Samples/ViewModels/ProgressViewModel.cs#L79), but as that control is no longer supported we are looking for a new solution.

Cur

[2021-04-06 22:26] pictos commented on #1176
@IeuanWalker extract that part of the code in another method wrapped by a try/finally block and calling the dismiss method doesn't solve the problem?

[2021-04-06 22:35] pictos commented on #1079
@sunkerGit, thanks for sharing the repro. I can't reproduce the issue on my end. I'm using Windows. Also, I noticed that in your sample you use a `shared project` structure, that's deprecated, trying to that project into a netStandard lib.

[2021-04-06 22:38] IeuanWalker commented on #1176
@pictos Ye, just looks cleaner using a 'using' imo

[2021-04-06 22:57] AndreiMisiukevich commented on #1175
I believe, the Command will trigger animation to run (how it's working now when an event is triggered).

[2021-04-07 04:06] GUOLDEV commented on #1134
@pictos @AndreiMisiukevich is there anything else that I need to do for this issue?

[2021-04-07 04:07] pictos commented on #1134
@GUOLDEV I'll review it tomorrow and let you know if we need anything else. Thanks (:

[2021-04-07 05:55] ArunPrakashG commented on #1176
This is what i was trying to say as this is the same use case for me, To display activity to the user.

[2021-04-07 05:58] DamianAntonowicz commented on #1135
@pictos just a quick update from my side: I've working solution with performance improvements (switching between months is now faster). Now I need to clean the code and fix some minor bugs. Hope I will push final code to my repo this week.

[2021-04-07 06:50] ArunPrakashG opened #1177 "[Enhancement] CancellationToken for Popups"
## Summary

The CancellationToken can be passed to the popup from the constructor or through the the INavigation extension overload
`Shell.Current.Navigation.ShowPopup(popup, cancellationToken);`
This way, if the popup only has to be displayed for a specific amount of time, there is no need to handle closing of the popup as it will be handled by the cancellation token internally.

## API Changes

[2021-04-07 07:19] bijington commented on #1175
@pictos of course I can. It is as @AndreiMisiukevich suggested, I would like to trigger the animation by executing a command.

Here is an example based on my previous screenshot. Apologies if it isn't completely syntactically correct.

## The view

[code]

## The ViewModel

[code]

[2021-04-07 09:38] haavamoa commented on #1150
@pictos I don't see a 1.1.1-pre version out on Nuget.org. [Also the PR you linked to failed it's builds.](https://dev.azure.com/xamarin/public/_build/results?buildId=38077&view=results) How can we download and see if it resolved the issue? @jfversluis

[2021-04-07 13:44] Cfun1 opened #1178 "[Enhancement] Allow BaseTemplatedView to conditionally select the ControlTemplate"
## Summary
Currently I don't see a straightforward way using `BaseTemplatedView` to select the `ControlTemplate` conditionally (I could be missing something). Basically the suggested implementation will pass whatever dev sent as parameter to the `BaseTemplatedView`  constructor, to the `TControl` constructor, where the dev will evaluate conditions based on `parameters` and returns the appropriate

[2021-04-07 17:44] pictos commented on #1150
@haavamoa can you try this one?
https://dev.azure.com/xamarin/6fd3d886-57a5-4e31-8db7-52a1b47c07a8/_apis/build/builds/38378/artifacts?artifactName=nuget&api-version=6.0&%24format=zip

[2021-04-07 17:48] pictos commented on #1175
@bijington I'll also mark this as `in-progress` since you will work on this, if anything happens and you can't work on this anymore, please let us know commenting here on this issue. If you need any help don't hesitate to ping us as well.

[2021-04-07 17:51] bijington commented on #1175
@pictos great thank you for the update and pointers. I followed @AndreiMisiukevich s approach from Expander.

I hope to submit a PR in the next day or so as soon as I have been able to test it out in the sample app. I'm just having some issues connecting a device to my VM.

[2021-04-07 20:14] AndreiMisiukevich commented on #1178
Hey @Cfun1
BaseTemplatedView is a base class for building "cross-platform" controls (like Expander, RangeSlider, AvatarView etc.)
It's not supposed to be used for selecting control templates.

And maybe it makes sense to hide ControlTemplate property somehow

[2021-04-07 20:19] AndreiMisiukevich commented on #1175
@bijington yeah, I agree that BindableProperty.CreateReadOnly makes more sense here. Great suggestion @pictos )

[2021-04-07 20:20] Cfun1 commented on #1178
Exactly what I was using it for, don't you think that building a modular "cross-platform" control may require more than one ControlTemplate depending on some conditions ?

[2021-04-07 20:20] bijington commented on #1175
@AndreiMisiukevich I completely agree too :). I hadn't; realise that option existed until now so I have definitely learned something new today, thanks.

[2021-04-07 20:23] bijington commented on #1175
@AndreiMisiukevich / @pictos  Quick question: do I need to update any form of documentation to cover this change?

[2021-04-07 20:24] AndreiMisiukevich commented on #1175
I don't think that the documentation exists for this class, but you are welcome to add it if you wish :)
This is appreciated.

https://github.com/MicrosoftDocs/xamarin-communitytoolkit/tree/master/docs/effects

[2021-04-07 20:27] AndreiMisiukevich commented on #1178
I haven't faced with this scenario yet) So idk

[2021-04-07 20:31] bijington commented on #1175
@AndreiMisiukevich great thanks. I will try and fork that repo and see if I can add some valuable documentation 😄

[2021-04-07 20:36] pictos commented on #1178
@Cfun1 does not the DataTemplateSelector solves your issue?

[2021-04-07 20:46] Cfun1 commented on #1178
@pictos I am not sure since I have based my control on `BaseTempaltedView` class from beginning you could take a look at the scenario I am talking about in https://github.com/Cfun1/XamsungHealth/tree/temp/XamsungHealth/Controls/MainCardView https://github.com/Cfun1/XamsungHealth/blob/temp/XamsungHealth.Lib/BaseTemplatedView.cs

[2021-04-07 20:47] Cfun1 commented on #1178
@pictos I am not sure since I have based my control on `BaseTempaltedView` class from beginning you could take a look at the scenario I am talking about in https://github.com/Cfun1/XamsungHealth/tree/temp/XamsungHealth/Controls/MainCardView https://github.com/Cfun1/XamsungHealth/blob/temp/XamsungHealth.Lib/BaseTemplatedView.cs

[2021-04-07 21:27] brminnick commented on #847
Fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1102

[2021-04-07 21:27] #847 closed

[2021-04-07 21:32] pictos commented on #1178
At the end of the day, if we want to customize the `InitControlTemplate` we need to sub-class the BaseTemplated view as you did, so I think there isn't too much value in adding that on our end. Is that makes sense for you?

[2021-04-07 21:50] Cfun1 commented on #1178
BadgeView, AvatarView, ShieldView are already sub classing `BaseTemplatedView` but they are using built-in types as TControl and I guess they have a single `ControlTemplate`, personally I found it helpful in my case (custom TControl  with conditional ControlTemplate) so thought to share it here in case it could be useful for someone else, again I might be missing something.

[2021-04-07 22:29] AndreiMisiukevich commented on #1178
Just a side note, in your solutions, if I understand it correctly, you should override OnChildRemoved and perform de-initialization as well cuz you change control templates and, I believe, old views are removed when new ones added.

But it's not supposed by XCT BaseTemplatedView...

[2021-04-07 22:39] Cfun1 commented on #1178
@AndreiMisiukevich I didn't get your point regarding overriding `OnChildRemoved` when when is it supposed to be triggered in my case, and what do you mean by "de-initialization".
If you guys are sure it won't be useful to add, then please feel free to close this issue.

[2021-04-07 22:48] AndreiMisiukevich commented on #1178
@Cfun1 ah, sorry. I guess I didn't get your solution.
So, your proposal is to make it possible to pass parameters to TControl ctor?

[2021-04-07 22:51] AndreiMisiukevich commented on #1178
I guess for this purpose developers should initialize a "raw" control with parameterless ctor and then override OnControlInitialized and perform any tweaks they want.

I don't insist that my point of view is 100 percent right, but unfortunately, I don't see where/how can I apply it (That's my personal opinion).

[2021-04-07 23:00] Cfun1 commented on #1178
Exactly, yes because I have a special card where the property `IsPersistent = true` (means no close button for it) but at the moment when the `ControlTemplate` is assigned, that property which is set in ctor initializer won't be assigned yet, and I don't want to load the button (it's a custom control) anyway and just bind it `IsVisible` property  since I don't need it, in that case. I believe by d

[2021-04-08 00:37] Cfun1 commented on #831
@acaliaro could you please confirm if the pr mentioned by @AndreiMisiukevich fixed this issue?

[2021-04-08 00:42] AndreiMisiukevich commented on #831
@acaliaro please try the latest version of NuGet. If the issue still exists, please reopen this ticket.
Thanks

[2021-04-08 00:42] #831 closed

[2021-04-08 01:40] Cfun1 commented on #1178
I think i have an idea by changing  the current structure where indeed this is not required..i will update tomorrow.

[2021-04-08 04:41] WiproSarthak opened #1182 "[Bug] Tabview does not show content when used with StateLayout"
### Tabview do not load each tabItem content when used with statelayout.When the page loads for the first time tabview is hidden due to loading state of statelayout once statelayout currentstate becomes succes only TabView Header shows its content didn't show up

### Steps to Reproduce

1. Put TabView insisde StateLayout success state
2. Open page with any other state then success.
3. Wait for few

[2021-04-08 05:36] acaliaro commented on #831
It works

[2021-04-08 05:52] WiproSarthak commented on #1182
Reproduction Issue code
[TabViewStateLayoutIssueRepo.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6276344/TabViewStateLayoutIssueRepo.zip)

Steps:
1. MainPage opens with Empty state for StateLayout
2. Click on LoadTabView
3. Current state becomes succes only tabview headers show each tab items content remains still hidden

[2021-04-08 08:01] Cfun1 commented on #1178
I tried to sub-class from `BaseTemplatedView<Grid>` and then instantiate `MainCardViewTemplate` inside `OnControlInitialized()`, but I encounter the issue where at that point properties that are used as a condition on how to build the ControlTemplate are not initialized yet, also parameters sent through ctor won't be helpful in that case.

[2021-04-08 10:22] coquilanka commented on #1171
Thanks a lot for your help Versluis. After patient investigation, I think I found the origin of the problem. It does not seem to be directly related to the MediaElement

The problem seems to be in the combination of the Xamarin Community Toolkit version being used and the "Targeting Min Version" setting in the properties of the UWP project in the Xamarin Solution
'
If I use Xamarin Community Toolk

[2021-04-08 15:49] sattasundar opened #1183 "[Bug]"
### Description
Unable to find similar tabbar design in XCTSample code.
### Steps to Reproduce
![image](https://user-images.githubusercontent.com/62828724/114055560-818a7b80-98ae-11eb-8842-e6b81479089f.png)

### Basic Information
Need to design navbar like below image;
![WhatsApp Image 2021-04-08 at 9 18 19 PM](https://user-images.githubusercontent.com/62828724/114057197-fca06180-98af-11eb-8bce-cb

[2021-04-08 18:11] Cfun1 commented on #1183
Hi, thanks for your suggestion but this doesn't looks like a bug it's either an enhancement or a question ([discussion](https://github.com/xamarin/XamarinCommunityToolkit/discussions) section).
Could you please provide the link to the "xct blog" you mentioned ?

[2021-04-09 01:53] pictos commented on #1079
on your print, you're using the netStandard style

[2021-04-09 02:53] singhavinash108 commented on #1150
Getting incorrect  rotation value on samsung s21

[2021-04-09 12:37] sunkerGit commented on #1079
In my perception, VS 2019 created 4 basic structures from Xamarin Forms project:
1. Shared project (this is the presentation layer for Droid and iOS)
2. Android project
3. iOS project
4. UITest

sorry i don't get it what do you mean about netStandard style / lib for Xamarin Forms App. in my assumption are you refer to Library project?

![image](https://user-images.githubusercontent.com/3633650/114

[2021-04-09 17:59] pictos commented on #553
We will close this issue for now, since we will not implement this change. Thanks for your proposal.

[2021-04-09 17:59] #553 closed

[2021-04-09 18:07] pictos commented on #1079
@sunkerGit I'm saying that in the repro that you sent, your shared code is a shared project structure. As you can see in the screenshot below
![image](https://user-images.githubusercontent.com/20712372/114222684-3ff8df80-9945-11eb-9f5f-1102797a891a.png)

the extension is `shproj` and not `csproj`. So my guess is that is the cause of the issue, that you can't use the `x:Name` notation. I couldn't r

[2021-04-09 19:50] Kapusch commented on #1118
Just in case it helps somebody, I'd like to give an example about what I have implemented to avoid uppercase on Android :

[code]

@jfversluis , you may have noticed that I'm not using the [XCT TextCaseConverter](https://github.com/xamarin/XamarinCommunityToolkit/blob/c138f205148f544f398703e943222d0930f73125/src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/TextCaseConverter.shared.cs) 😄
I

[2021-04-09 19:57] Kapusch commented on #1079
Hi @pictos , I actually also encounter this problem almost all the time (also in VS For Mac), and I don't have any share projects.

Though it would be great if you know how to investigate about this error, I'm not sure this is tightly related to the XCT.

As you can see [here](https://forums.xamarin.com/discussion/25409/problem-with-xaml-x-name-and-access-from-code-behind), this error has been occ

[2021-04-09 20:47] pictos commented on #1079
@Kapusch try to clean bin/obj folders and rebuild your solution. Let me know if that fixes

[2021-04-10 08:01] PrayagMisal opened #1187 "Setting Direction property to Up in Expander crashes the app."
### Description
After I updated Xamarin.Community.Toolkit to latest 1.1.0 Setting Direction property to Up in Expander crashes the app

Exception message : Header not initialized
Stack trace : at Xamarin.CommunityToolkit.UI.Views.Expander.SetDirection (Xamarin.CommunityToolkit.UI.Views.ExpandDirection oldDirection) [0x00008] in <5265966be8d2407fb7a4c3b38c6441d7>:0
  at Xamarin.CommunityToolkit.UI.

[2021-04-10 08:06] roughiain commented on #871
27 build errors for tabview :(

```/.../Introduction.xaml: Error:  : XamlC error XFC0000 : Cannot resolve type "TabView". ()```

plus this lovely one

[code]

[2021-04-10 08:11] Cfun1 commented on #1187
Hi and thanks for reporting, I believe this issue is duplicate of https://github.com/xamarin/XamarinCommunityToolkit/issues/1144 and was solved in https://github.com/xamarin/XamarinCommunityToolkit/pull/1147. Could you please confirm ?
cc @AndreiMisiukevich

[2021-04-10 08:24] PrayagMisal commented on #1187
Yes, it is. thank you

[2021-04-10 08:24] #1187 closed

[2021-04-10 09:14] roughiain commented on #871
Adding `[assembly: PreserveToolkit]` on the app.xaml seems to have fixed this.

There does not seem to be anything mentioned in the docs

https://github.com/MicrosoftDocs/xamarin-communitytoolkit/issues/114

[2021-04-10 11:13] michaelb-yambay opened #1189 "[Bug] iOS - can't show Popup from a modal page"
### Description

On iOS, Navigation.ShowPopup() fails when called from a modally presented Page.  The same scenario works fine on Android.

### Steps to Reproduce

1. Call Navigation.PushModalAsync(new ModalPage()) to show ModalPage
2. On ModalPage, call Navigation.ShowPopup(new CustomPopup()) so show CustomPopup.

### Expected Behavior
Popup should display on iOS as it does on Android

### Actual

[2021-04-10 19:56] pablogupi commented on #1095
Finally, I have found my mistake. I bind the command to the viewmodel and in the repository example they bind the commands to the page. Like this:

StartPageView

`
[code]

`

Thanks for your work

[2021-04-10 20:50] pictos commented on #1095
@pablogupi I'll close this issue since the problem isn't related to the project. Thanks for your report and feel free to open a new issue if needed.

[2021-04-10 20:50] #1095 closed

[2021-04-11 00:38] KnoxCameron opened #1190 "[Bug]"
### Description

I am writing an app which generates audio files in the app temp folder and plays them using MediaElement. I am currently working only on the Android version. It is a port of a UWP app which uses the native media player on that platform.

I have found it unstable - sometimes the audio doesn't play or stutters. Sometimes it works fine. Behaviour seems the same on emulator and physic

[2021-04-11 02:59] pictos commented on #1190
@KnoxCameron could you please update the issue's title and attach a small repro? Thanks in advance

[2021-04-11 03:17] KnoxCameron commented on #1190
@pictos sure will do (may take a few days to put a repro together)

[2021-04-11 05:54] KnoxCameron commented on #1190
@pictos  I have created a small solution that demonstrates the issue at https://github.com/KnoxCameron/MediaElementTest. Does this give you what you need for a repro? Thanks!

[2021-04-11 05:56] pictos commented on #1190
@KnoxCameron Thanks for the quick reply, I'll take a look tomorrow or Monday and let you know if I can reproduce the issue

[2021-04-11 18:06] kerberosargos commented on #1138
Same thing is for me.

[2021-04-11 18:11] kerberosargos commented on #1091
Same issue is here for me.

[2021-04-11 22:33] #1175 closed

[2021-04-11 23:57] AndreiMisiukevich opened #1191 "[Enhancement] SideMenuView: New types of appearance | Parallax effect | Scale factor"
## Summary
SideMenuView should be more than just a left/right menu selector with one type of menu appearance. We should provide a highly customizable and flexible solution for various types of applications and users' wishes.

As a user, I want to choose how will the menu appear (under the main view or above. Or maybe it will push the main view out).

## API Changes
It will require adding several n

[2021-04-12 05:42] LeoJHarris commented on #1139
@AndreiMisiukevich I was going to have a look into trying to resolve this issue myself but having an issue even trying to compile the source code... any ideas? I did a simple download zip and extracted and opened the project then this:

Also tried a clean and rebuild and no luck.

[code]

[2021-04-12 06:15] DawidBester opened #1193 "Popup crash on Android API 21/22, **System.InvalidCastException:** 'Specified cast is not valid.' [Bug]"
### Description

Popup crash on Android API 21/22, **System.InvalidCastException:** 'Specified cast is not valid.'

### Steps to Reproduce

1. Open Xamarin Community sample app, XCT.Sample
2. Create an Emulator running Android API 21 or API 22
2. Update Xamarin Forms to 5.0.0.2012
3. Run the Xamarin Community sample app, and under Views/Popup click Show Popup under Popup Anchors
4. app crash; I'm

[2021-04-12 13:17] chowarth opened #1194 "[Bug] UWP Popup dismiss triggers light dismiss"
### Description

When closing a popup on UWP using the `Dismiss` method the `LightDismiss` method is also invoked.

### Steps to Reproduce

1. Open Xamarin.Community.Toolkit.Sample solution
2. Open the `PopupRenderer.uwp.cs` file and add a breakpoint at line 263: `Element.LightDismiss();`
3. Set the UWP project as the startup project
4. Run the sample app
5. Under **Views** > **Popup**, select **P

[2021-04-12 14:23] sunkerGit commented on #1079
Hi @pictos & @Kapusch, from my issues above when I was trying to clean the bin/obj folder, reopen VS, Rebuild All my solution, the problem still exist! but when I take out the XCT, the problem disappears.

[2021-04-12 16:25] mavispuford commented on #1096
@jfversluis, @pictos, @MattiaDurli

Alrighty, I'm kind of in a dilemma here.  [As mentioned above](https://github.com/xamarin/XamarinCommunityToolkit/issues/1096#issuecomment-812072276), I went down the path of using an `ImageReader`/`IOnImageAvailableListener` combo which is much better than my first approach.  However, in my testing with ML Kit, it was having a ton of performance issues (lots of

[2021-04-12 17:08] jsuarezruiz commented on #1193
Thanks for the feedback, can reproduce the issue.

[2021-04-12 17:13] jsuarezruiz commented on #1193
The DecorView child is not a `FrameLayout` in that API Level, is a `LinearLayout`.

[2021-04-12 18:08] pictos commented on #1079
@sunkerGit If you remove the XCT you shouldn't be able to compile, because the Tabview control will not exist.

[2021-04-12 19:33] pictos commented on #1096
@mavispuford your CameraX implementation is even with our Camera2 implementation? If so, you can send a PR using CameraX. If not we need to first migrate our code to use CameraX and accept your PR right after.
Even in beta we think that CameraX could bring more value to the control

[2021-04-12 21:07] MattiaDurli commented on #1096
@mavispuford some updates on my part: my primary issue was how to deal with the YUV420888 image produced by Camera2.
It can be passed to MLKit, but if you want to use it with other libraries like OpenCV or just save it as Bitmap, you have to convert it, and all the examples I found, even Emgu conversion, was producing garbage. Then I changed camera preview resolution, and it worked.
The answer is

[2021-04-12 21:09] pictos commented on #1096
@qz2rg4 do you have something to add to this discussion?

[2021-04-12 22:08] sunkerGit commented on #1079
XCT here, I mean <xct:tabview /> at XAML file, not the nuget package.

[2021-04-12 22:19] pictos commented on #1079
@sunkerGit the project that you're seeing this issue is/can be open source?

[2021-04-12 22:20] LeoJHarris opened #1195 "Cannot compile source code after download"
Having a problem trying to compile the latest version of this library. Getting an issue as per the below after I did a download of the source code and attempt to build project. I am going to guess there is an easy fix but not sure what that is. I am planning to look into the source code to try fix this ticket I created https://github.com/xamarin/XamarinCommunityToolkit/issues/1139 I've added the p

[2021-04-12 22:32] pictos commented on #1195
@LeoJHarris can you provide more info about your environment?

[2021-04-12 22:38] LeoJHarris commented on #1195
@pictos See below, let me know if you need anything else:

I have Xamarin. Forms Version 5.0.0.2012 installed in my project consuming project

.NET Framework 4.7.2 installed as is Windows 10 SDK (10.0.19041.0).

Visual Studio environment below:

Microsoft Visual Studio Community 2019 Preview
Version 16.10.0 Preview 1.0
VisualStudio.16.Preview/16.10.0-pre.1.0+31025.218
Microsoft .NET Framework
Vers

[2021-04-12 22:53] sunkerGit commented on #1079
I'm using VS 2019 Community for creating this project

Visual Studio Community 2019 for Mac
Version 8.9.5 (build 4)
Installation UUID: dcd706f9-57a0-4c9f-8ba5-b32003030237
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 6.18.0.23 (d16-6 / 088c73638)

	Package version: 612000125

Mono Framework MDK
Runtime:
	Mono 6.12.0.125 (2020-02/8c552e98bd6) (64-bit)
	Package version: 612000125

[2021-04-13 04:24] HarryLobster opened #1196 "TabView: Disable Tab"
I would like to Enable/Disable certain Tabs I mean not their Content but that the user is not allowed to switch to this Tab at all.

[2021-04-13 07:20] Hottemax opened #1197 "[Enhancement] EnumToIntConverter"
## Summary

Such a converter would be useful when binding an enum property and a collection of valid enum values to a control with a SelectedIndex, such as a Picker control

## API

Add new class `EnumToIntConverter : IValueConverter` in the _Xamarin.CommunityToolkit.Converters_ namespace
Conversion would work along the lines of
[code]

## Intended Use Case
`<Picker ItemsSource="{Binding Collectio

[2021-04-13 07:25] JoacimWall commented on #793
Hi have now tested this in version 1.1.0 and the bug is still there.

//Regards Joacim

[2021-04-13 11:18] Kapusch commented on #1079
Maybe related to #871 ?

[2021-04-13 12:24] Hottemax commented on #1167
Same problem here

[2021-04-13 16:31] mavispuford commented on #1096
@pictos My CameraX implementation doesn't have feature parity with the current Camera2 code since I only set up image analysis, but image capture could easily be added.  The biggest problem would be video capture, as that's not an official feature of CameraX at the moment.  I'm not even sure if those classes are fully exposed through the bindings.

@MattiaDurli Interesting find.  It's possible tha

[2021-04-13 16:59] jpacov commented on #1189
Experiencing same issue in iOS:
Here my error in console:
................. [Presentation] Attempt to present <Xamarin_CommunityToolkit_UI_Views_PopupRenderer: 0x7fbfb036dfc0> on <Xamarin_Forms_Platform_iOS_PlatformRenderer: 0x7fbfa9c3de80> (from <Xamarin_Forms_Platform_iOS_PageRenderer: 0x7fbfac02f160>) which is already presenting <Xamarin_Forms_Platform_iOS_ModalWrapper: 0x7fbfb151beb0>.

Hopefu

[2021-04-13 17:27] pictos commented on #793
@JoacimWall thanks for the report.

[2021-04-13 17:29] jsuarezruiz commented on #1196
I like the idea. Also, hide/show tabs is probably a scenario that would be interesting to cover in the future.

[2021-04-13 17:35] pictos commented on #1167
@Hottemax what's the dotnet version that you're using?

[2021-04-13 18:18] pictos commented on #1189
@ahoefling FYI

[2021-04-13 18:56] Hottemax commented on #1167
Also net5.0

[2021-04-13 19:16] pictos commented on #1167
Can you try netCore and see if it works for you?

[2021-04-13 19:41] pictos commented on #1197
@Hottemax can you update your last comment with a spec?

[2021-04-13 19:50] Hottemax commented on #1197
Sorry, my first PR here in XCR, can you clarify what you mean by "update with a spec")?

[2021-04-13 21:47] pictos commented on #1197
@Hottemax I want to see how you're thinking about the API

something like this
https://github.com/xamarin/XamarinCommunityToolkit/issues/556

[2021-04-13 23:04] #237 closed

[2021-04-13 23:04] AndreiMisiukevich commented on #237
Implemented in #1117

[2021-04-14 00:14] AndreiMisiukevich commented on #1191
Implemented in #1192

[2021-04-14 00:14] #1191 closed

[2021-04-14 00:25] AndreiMisiukevich commented on #1134
Implemented in https://github.com/xamarin/XamarinCommunityToolkit/pull/1132

[2021-04-14 00:25] #1134 closed

[2021-04-14 01:18] maxkoshevoi commented on #1195
Looks like some files are imported twice. Could you check git for changed files? Maybe project file got updated in a way that imported the same files multiple times.

[2021-04-14 03:22] yyeiei opened #1198 "[Enhancement] using BoolToObjectConverter and VariableMultiValueConverter at the same time"
## Summary

hello,  I'm using XamarinCommunityToolkit's converter, and need to use BoolToObjectConverter and VariableMultiValueConverter at the same time

## Intended Use Case
i am working in a view with list, the model in this view like this:
[code]
i need the set the special color for the item's name when (item.isSys && isEditable), so i found the converter `VariableMultiValueConverter`, but how

[2021-04-14 05:13] LeoJHarris commented on #1195
@maxkoshevoi that might be the case, I was using a visual studio extension that's meant to import multiple projects in one go https://marketplace.visualstudio.com/items?itemName=MaciejGudanowicz.AddMultipleProjectsToSolution plus I was ton the preview channel of VS so something might have gone wrong but I'm guessing this extension didn't work properly as I removed and re-added the project without

[2021-04-14 05:13] #1195 closed

[2021-04-14 08:32] Hottemax commented on #1167
Well, I am using C#9 language features (record etc), so I can't easily use .NET Core 3.1 ...

[2021-04-14 08:56] Hottemax commented on #1197
I have updated the description to provide a little more detail, not quite sure what more to specify.

[2021-04-14 16:06] JKennedy24 commented on #1171
I can also replicate this issue with V1.1.0 of community toolkit.

Downgrading to V1.0.3 fixed the issue

In terms of my target version and min versions are as follows:

Target Version: Windows 10 Version 2004 (10.0 build 19041)
Min Version: Windows 10 Version 1809 (10.0 build 17763)

[2021-04-14 16:40] pictos commented on #1171
@JKennedy24 just for science, could you upgrade your min. version to build 19041 and see if that works?

[2021-04-14 16:45] coquilanka commented on #1171
@pictos: as per my original message, yes XCT 1.1.0 works OK if you set the min version to build 19041. In my tests, as per my original report:

"If I use Xamarin Community Toolkit 1.0.3 with "Min Targeting Version" setting on Windows 10 Version 1809 Build 17763 or above, the UWP project with the Xamarin Community Toolkit MediaElement renders correctly on screen
If I use Xamarin Community Toolkit 1

[2021-04-14 16:46] pictos commented on #1171
@coquilanka thanks, didn't see all comments, sorry for that hehe

[2021-04-14 19:25] Kapusch commented on #776
I've just noticed the same described behaviour on Android, with the last release of XCT.
And as soon as I update the HorizontalTextAlignment to Start, it works.

[2021-04-14 19:59] AndreiMisiukevich commented on #1198
[code]

[2021-04-14 19:59] #1198 closed

[2021-04-14 20:41] maxkoshevoi opened #1201 "[Enhancement] Add a way to get device's currently selected language"
## Summary

XCT provides some great localization features that allow to change app language in runtime, but there is one gap.
If user changes devise language while app is running, there is no easy way to update app's language accordingly.

If user changes device language while app is running, `CultureInfo.CurrentCulture` and other ways to see current culture won't be updated, and continue to retur

[2021-04-15 00:23] sunkerGit commented on #1079
@Kapusch when i'm adding [assembly: PreserveToolkit] based on #871 compile error and saying "Duplicate".

NB: There were no compile error when adding xct elements into XAML file but we got error on editor for iOS platform CS0103

[2021-04-15 09:07] Hottemax commented on #1197
Not sure how to "link" the pull request to the issue (apart from mentioning it in the description) - it does not show up under "linked pull requests"

[2021-04-15 16:55] nhinze opened #1207 "iOS Crash on production version when using Link Framework SDKs Only"
When using the InvertedBoolConverter or MediaElement, my app crashes on iOS release mode if I use "Link Framework SDKs Only". Using "Don't Link" fixes the issue. However, this doubles my app bundle size.

**Error messages:**
MarkupExtension not found for xct:InvertedBoolConverter
Default constructor not found for type Xamarin.CommunityToolkit.UI.Views.MediaElement

This only happens on iOS. No pro

[2021-04-15 17:01] Cfun1 commented on #1207
Hi thanks for reporting, could you please include the information required in the [bug/issue template](https://github.com/xamarin/XamarinCommunityToolkit/issues/new?assignees=&labels=bug%2C+s%2Funverified&template=bug-report.md&title=%5BBug%5D+)

[2021-04-15 17:17] nhinze commented on #1207
The fix is to add "--linkskip=Xamarin.CommunityToolkit" to the build options.

![screen](https://user-images.githubusercontent.com/1156143/114911387-f567df00-9dec-11eb-89d1-4fc7aa6b56e7.jpg)

[2021-04-15 19:38] pictos commented on #1207
@nhinze this isn't a good fix, because you will ship the entire XCT on your release app, the _best_ solution is to add this line in any part of your application

`_ = new Xamarin.CommunityToolkit.Converters.IntToBoolConverter ();`

and any other member missing, I'll investigate this issue, looks like there's more devs with this issue

[2021-04-15 19:41] nhinze commented on #1207
I'm having this problem for any member that I only specify in XAML.

[2021-04-15 20:10] pictos commented on #1207
This is very odd, do you have other apps with XCT? If yes, those other apps also have this issue?

[2021-04-15 20:38] nhinze commented on #1207
That's my only app.

[2021-04-16 19:58] AndreiMisiukevich commented on #1105
Fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1092

[2021-04-16 19:58] #1105 closed

[2021-04-16 20:34] justadaniel commented on #1169
We could, however it doesn't use static classes and is an ImageSource with an IImageSourceHandler. The question I have is would we have a standard OnPlatform specific static class, or just have an ImageSource? Is there a way to have static class platform specific with an ImageSource?

[2021-04-17 06:11] GUOLDEV commented on #1159
@AndreiMisiukevich @jfversluis I have created a PR for this issue, once it is approved I will finalize the missing parts, such as documentation, etc.

[2021-04-17 10:23] Kapusch commented on #1079
It's been an entire day (fingers crossed) where I can see no more CS0103 error, what has changed since then is the two following actions :
- Updating VS for Mac to 8.9.6 (build 6)
- Removing all temp files and folders (bin, obj, packages with `git clean -fxd` (you will need to restore packages)
- Debugging on Android physical device instead of iOS Simulator (I put it here just in case)

Could you

[2021-04-17 18:09] pictos commented on #1079
@jfversluis @AndreiMisiukevich can some of you test it on MAC? I couldn't reproduce it on Windows

[2021-04-18 02:06] AndreiMisiukevich commented on #1079
project builds successfully for me

[2021-04-18 02:07] AndreiMisiukevich commented on #1079
I see this, but when I build project it builds w/out errors
![image](https://user-images.githubusercontent.com/10124814/115131867-95935300-9ffb-11eb-8be9-1c6417b8574f.png)

[2021-04-18 02:09] AndreiMisiukevich commented on #1079
Please follow https://github.com/xamarin/XamarinCommunityToolkit/issues/1079#issuecomment-821801654 comment and let  us know if it doesn't help

[2021-04-18 02:09] #1079 closed

[2021-04-18 11:21] sunkerGit commented on #1079
Hi Guys,

Thanks for the feedback.
it seems the problem still exist when I was followed instructions from @Kapusch.
Compile / Build no error (for ios or android) but when editing code behind from the XAML file on **iOS as start-up** project I got this error (CS0103), and this is very annoying. It does not happen when I set the startup project to **Android**, no any CS0103 appears when I edit code

[2021-04-18 17:41] Cfun1 commented on #1149
Implemented in https://github.com/xamarin/XamarinCommunityToolkit/pull/1172

[2021-04-18 17:41] #1149 closed

[2021-04-18 18:14] joergpichler opened #1208 "[Bug] TabView OnSelectionChanged TabSelectionChangedEventArgs OldPosition is incorrect"
### Description

The Property `OldPosition` in the `TabSelectionChangedEventArgs` is always incorrect as it is always the same value as `NewPosition`.

### Steps to Reproduce

1.  Create TabView with at least 2 items
2.  Subscribe to OnSelectionChanged
3.  Switch Tab

### Expected Behavior

`OldPosition` is reported correctly

### Actual Behavior

`OldPosition` is reported incorrectly. Has always

[2021-04-19 04:52] Tommigun1980 opened #1209 "[Bug] [Fatal regression] 1.1.0 crashes when styles are applied"
### Description

### Steps to Reproduce

This regression happens when updating XCT from 1.0.3 to 1.1.0:
_Implicit styles break XCT components._

I have not investigated if this applies to other XCT components other than the RangeSlider, and I have not investigated if this crash is limited to just implicit styles. But the following snippet crashes with XCT 1.1.0, which works with 1.0.3:

[code]

Re

[2021-04-19 05:08] Tommigun1980 commented on #1209
BaseTemplatedView.shared.cs:
[code]

RangeSlider.shared.cs
[code]

[2021-04-19 06:09] albilaga commented on #1208
I also have this issue. And also the problem also coming when there is tab that don't have the content. For the repro can see in here https://github.com/albilaga/tabview. When navigating to first tab, `OldPosition` and `NewPosition` will always be 0. When navigating to last tab it will show `OldPosition` = 2 and `NewPosition` to 1 which also incorrect because `NewPosition` should be 2.

[2021-04-19 06:14] Huaba93 commented on #1208
As contentContainer a CarouselView is used. So maybe related to

[2021-04-19 06:27] Huaba93 commented on #1208
https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs#L823

instead of
`OldPosition = SelectedIndex
`

should be
`OldPosition = oldposition
`

[2021-04-19 06:54] sylendra7 opened #1210 "Navigate to pages inside TabView"
Is there a way to navigate to another pages inside the tabview ? We already know TabView items accepts only  views, but whenever we navigate to another page we need to show the tab control in the bottom of the page for few screens/pages .

[2021-04-19 07:43] WiproSarthak commented on #1210
You should use Shell tabs for this scenario
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/shell/tabs
You can show/Hide tabs on any page as per you requirements

[2021-04-19 10:27] sylendra7 commented on #1210
@WiproSarthak  Thing is , my tab is very customizable with fab. So I have used Community toolkit tabview.  If I go for shell I will not get FAB and as well that much customization

[2021-04-19 17:54] pictos commented on #1210
@sylendra7, right now we can't use Pages with TabView, you can use the [Content Template](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/templates/control-template#substitute-content-into-a-contentpresenter) for this , navigate to other pages, and present the TabView there.

Since this looks like more a question than a feature request I'll convert this to discussion. If yo

[2021-04-19 17:57] #959 closed

[2021-04-20 00:14] jpacov commented on #1189
Did you find a workaround yet @michaelb-yambay  or anybody?

[2021-04-20 05:26] michaelb-yambay commented on #1189
@jpacov - I've not found a workaround yet

[2021-04-20 05:46] albilaga opened #1213 "[Bug] LazyView With Tab And Complex View Not Working Properly"
### Description

### Steps to Reproduce

1. Run https://github.com/albilaga/Nomadic-Lazy-View
2. Go to Tab View and go to Settings Tab.
3. The view is broken

### Expected Behavior
1. Run https://github.com/albilaga/Nomadic-Lazy-View
2. Go to Tab Page and go to Settings Tab.
3. The view showing correctly

### Actual Behavior
The view is broken

### Basic Information

- Version with issue: v1.1.0
-

[2021-04-20 06:31] albilaga commented on #1213
I think the issue with BindingContext not with LazyView itself. My bad.

[2021-04-20 06:31] #1213 closed

[2021-04-20 13:26] Huaba93 commented on #1066
Works now. Thank you!

[2021-04-20 15:43] Huaba93 opened #1216 "[Bug] [TouchEffect] GetIsAvailable --> System.ArgumentNullException: Value cannot be null."
### Description
If you put a frame inside another frame and apply TouchEffect to both, it causes a null reference exception and crashes the app.

I have only seen this on android and with frames. But I haven't tried much else in that direction either.

[code]

### Steps to Reproduce

[code]

Or see attached repo

### Basic Information

- Version with issue: 1.1.0
- Last known good version: -
- IDE

[2021-04-20 15:44] Huaba93 commented on #1216
@AndreiMisiukevich I hope you could help with this.

[2021-04-20 16:01] Cfun1 commented on #1216
I believe adding ` effects:TouchEffect.ShouldMakeChildrenInputTransparent="False"` to the first Frame won't crash the app and avoid this issue:
[code]

more context https://github.com/xamarin/XamarinCommunityToolkit/discussions/1146 https://github.com/xamarin/XamarinCommunityToolkit/issues/852

[2021-04-20 16:29] albilaga commented on #559
Any update on this @jsuarezruiz ? I also have this issue. If need more repro here it is https://github.com/albilaga/XamarinIssues/blob/main/XamarinIssues/TabViews/MainTabCreatePage.xaml.cs. Note is if adding `TabItems` in constructor is working fine but not in `OnAppearing`

[2021-04-20 19:08] AndreiMisiukevich commented on #1216
Hey @Huaba93 could you please try to set ShouldMakeChildrenInputTransparent to false as proposed by @Cfun1

P.S. Thanks both for feedback and help :)

[2021-04-20 22:28] MichaelStgt commented on #606
The easiest workaround for this issue I found is to replace the CollectionView with a ListView in the App.xaml Control Template:

        \<ControlTemplate x:Key="GalleryPageTemplate">
           \<StackLayout Spacing="0">
               \<ListView ItemsSource="{TemplateBinding BindingContext.FilteredItems}">
                   \<ListView.Header>...

This issue looks for me like the same I encount

[2021-04-20 22:53] Cfun1 opened #1217 "[Enhancement] Provide a possibility to use VariableMultiValueConverter inside MultiConverter"
## Summary
With the current implementation it's not possible to use a `VariableMultiValueConverter` inside a `MultiConverter`, since the latter requires an object (converter) implementing `IValueConverter` while `VariableMultiValueConverter` does implement `IMultiValueConverter`.

## API Changes
For now I don't see how this could be implemented. I guess it needs some discussion whether the current

[2021-04-21 06:45] Huaba93 commented on #1216
Thanks for your help, it works now. But couldn't we make it failsafe somehow?

Is always setting `xct:TouchEffect.ShouldMakeChildrenInputTransparent="False"` only error prone for custom animations or for the native animation as well? Because on android I do not have any issue like #852 when using the native ripple effect.

[2021-04-21 07:41] albilaga opened #1218 "[Bug] When TabView Used With DataTemplate, LazyView can't be used"
### Description

### Steps to Reproduce

1. Create TabView with ItemsSource and for `TabContentDataTemplate` use `LazyView`

### Expected Behavior
When navigating to selected tab with `DataTemplate` contains `LazyView`, `LazyView` will be loaded.

### Actual Behavior
When navigating to selected tab with `DataTemplate` contains `LazyView`, `LazyView` is notloaded.

### Basic Information

- Version

[2021-04-21 08:14] albilaga opened #1219 "[Bug] TabView Can't Be Added Or Removed After Created"
### Description

### Steps to Reproduce

Remove TabViewItem:
1. Create TabView in XAML with many TabViews (example TabViewItem1, TabViewItem2, TabViewItem3, TabViewItem4, TabViewItem5)
2. Now when in `OnAppearing` try remove TabViewItem. Example `TabView.TabViewItems.RemoveAt(2)`. It will remove `TabViewItem3`
3. Now tab in the middle will be gone. Try select the tab next to it which is `TabViewIt

[2021-04-21 08:59] RubenDobbels opened #1220 "[Bug] LifecycleEffect Loaded event not firing on UWP"
### Description
The LifecycleEffect does not seem to work on UWP outside of the sample app.
When tested on android it seems to work fine.
### Steps to Reproduce

1. Create an empty xamarin app
2. Add a lifecycle event to the MainPage xaml and bind the Loaded event
[code]

[code]

### Expected Behavior
The Loaded event gets fired.
### Actual Behavior
The loaded event does not get fire.
### Basic In

[2021-04-21 13:52] tabachuk opened #1221 "[Bug] iOS app crashes after navigating back from page with MediaElement"
### Description
iOS app crashes after navigating back from page that contains MediaElement.
Stack trace:
EXCEPTION Application.Main(System.String[]).
Cannot destroy Neuro.Mobile.Common.Pages.VideoPlayerPage.
  at Prism.Common.PageUtilities.DestroyPage (Xamarin.Forms.Page page) [0x00046] in /_/src/Forms/Prism.Forms/Common/PageUtilities.cs:55
  at Prism.Common.PageUtilities.HandleSystemGoBack (Xamar

[2021-04-21 16:31] bricefriha commented on #979
Hi everyone,
If this can helps, I'm facing the same issue. However, I'm not binding TabView.SelectedIndex.
It works perfectly with Android but not for iOS.

I hope this will help you 😉

[2021-04-21 17:36] IeuanWalker commented on #383
@levelfivecoder @AndreiMisiukevich @pictos
I know there is already a PR for this in progress (#386), just wanted to share my solution -
https://github.com/IeuanWalker/Xamarin.Forms.StateButton

Feel free to copy stuff if you need to for the existing PR.

[2021-04-21 21:02] IeuanWalker commented on #383
Here an example of what the control can do.
This shows the `StateButton` as the wrapper for a card. When the card is pressed or clicked then the title is set to bold and the border goes darker.

The card also shakes when clicked, this shows that it works with the animation behaviour stuff from this NuGet.

It also shows that it works with nested TapGestureRecognizer, XF native button and nested `S

[2021-04-21 23:02] pictos commented on #1221
@tabachuk thanks for this report.
Could you attach a small repro?

[2021-04-21 23:04] pictos commented on #1220
@RubenDobbels If you change your min target version to 2004 that solves your issue? Yeah, that isn't ideal and we are working to fix that, but I just want to make sure that his bug is caused by this detail.

[2021-04-21 23:05] pictos commented on #1219
Not sure if it's a bug or a known limitation. @jsuarezruiz could you tell us about it?

[2021-04-21 23:11] AndreiMisiukevich commented on #1216
I believe you don't see any issues because your touchable views are not inside of ScrollView.
As for preventing crash -- totally agree. Need to fix that.

[2021-04-22 02:24] LeoJHarris commented on #1139
Solved this with setting `VerticalOptions="FillAndExpand"` on the statelayout... wow that was easy. Its just a content view so yeah dont know why I didnt see that earlier.

[2021-04-22 02:24] #1139 closed

[2021-04-22 03:46] Saleh-Software opened #1222 "[Bug] Shadow Effect"
Hello When i want Use Shadow Effect will show on Label of button!

![image](https://user-images.githubusercontent.com/48956033/115652740-0cee1d00-a343-11eb-9966-b5871518342b.png)

[2021-04-22 03:47] Saleh-Software commented on #1222
and can i round textbox?

[2021-04-22 04:55] RubenDobbels commented on #1220
@pictos Changing the min target to 2004 does work indeed.

[2021-04-22 05:09] Huaba93 commented on #1216
Sure I have tested it inside
* CarouselViews
* SwipeViews
* CollectionViews
* ScrollViews

No Problem at all on Android. But some on iOS. I hope I will soon find the time to create for each one an issue. I have rolled ou toucheffect for all our tapgesturerecognizers. That was a few hundred.
Unfortunately, the ripple effect noticeably affects the performance. This is probably due to additionally ad

[2021-04-22 14:15] Cfun1 commented on #1217
The presented use case for me was solved by enhancing `VariableMultiValueConverter` to accept `TrueObject` `FalseObject` (instead of the suggestion in the issue) like in [CompareConverter](https://github.com/xamarin/XamarinCommunityToolkit/blob/develop/src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/CompareConverter.shared.cs) , would love to contribute with that approach if this will be

[2021-04-22 18:20] themronion commented on #1222
Duplicate #988

[2021-04-22 21:36] AndreiMisiukevich commented on #476
@VladislavAntonyuk is this task closed by https://github.com/xamarin/XamarinCommunityToolkit/pull/1005 ?

[2021-04-22 21:37] #476 closed

[2021-04-22 21:40] AndreiMisiukevich commented on #1220
Same as #889 and #998
Closing this one since the reason is the same

[2021-04-22 21:40] #1220 closed

[2021-04-22 21:44] AndreiMisiukevich commented on #1217
@pictos @jfversluis @brminnick ?

[2021-04-22 21:45] AndreiMisiukevich commented on #1222
Closing in favor of #988

[2021-04-22 21:45] #1222 closed

[2021-04-22 21:48] VladislavAntonyuk commented on #476
@AndreiMisiukevich The discussion describes 2 issues. The first issue is about Swipe to dismiss. I think it is not implemented.
The second issue is about position of the Snackbar. And it is fixed by the PR

[2021-04-22 22:07] AndreiMisiukevich commented on #476
@Tommigun1980 could you please fill the separate ticket? It will be more convenient to follow the discussion :)
Thanks

[2021-04-22 22:45] Tommigun1980 opened #1225 "[Enhancement] Swipe-to-dismiss for notifications"
## Summary

Hi.

Currently there is no way for a user to prematurely dismiss SnackBar notifications. This is a very important feature as users are conditioned to swipe away lingering notifications, and it's impossible to select a time to display that is long enough for the users to read the contents but short enough that the notification won't become bothersome.

Furthermore, no matter how well th

[2021-04-22 22:45] Tommigun1980 commented on #476
https://github.com/xamarin/XamarinCommunityToolkit/issues/1225

[2021-04-22 23:02] AndreiMisiukevich commented on #1225
@VladislavAntonyuk would you like to implement it?)

[2021-04-22 23:06] Cfun1 commented on #1178
@AndreiMisiukevich , @pictos any update ?

[2021-04-22 23:07] Cfun1 commented on #1123
@AndreiMisiukevich @pictos any thoughts ?

[2021-04-22 23:20] AndreiMisiukevich commented on #1178
[code]

How about this approach? You cannot create a view and then initialize it?

[2021-04-22 23:22] AndreiMisiukevich commented on #1178
Since Activator uses reflection, I'd prefer to avoid using it (Due to performance issues)

[2021-04-22 23:24] AndreiMisiukevich commented on #1123
@brminnick @jfversluis

[2021-04-23 01:20] Cfun1 commented on #1178
@AndreiMisiukevich
- On your first comment: I am confused it seems to me a reverse way to do things, should I then create an instance of `YourTemplatedView` when I want to create an instance of `YourView`? knowing that bindable properties are living in `YourView`. I mean what I do expect from the design is to instantiate a `CustomView` and according to the initial values you assign to its bindable

[2021-04-23 01:25] Cfun1 commented on #989
Have anyone been able to verify this ?

[2021-04-23 02:02] sunkerGit commented on #1079
please see my comment above

[2021-04-23 05:53] developer9969 opened #1226 "[Bug] Expander x:Name Is not visible in code behind when a control is inside an expander"
### Description
Hi unless I am missing the obvious I cannot make use of x:Name when I have a control inside an expander, outside it just works.
This is a big problem for us as we need to be able to access the control from the code behind.

### Steps to Reproduce
    1. Create a new xamarin form project and copy and paste code below
    2. Go to the page code behind and try to access the xname, and

[2021-04-23 07:05] mkanyo commented on #1138
Just wanted to note that this used to work fine with version 1.1.0-pre1

[2021-04-23 07:16] VladislavAntonyuk commented on #1225
Ok, I will take a look.
At least for Android and iOS.

[2021-04-23 09:46] developer9969 opened #1227 "Touch effect command . Do I have to replace all commands with touch effect one?"
Hi
Love this feature!!..
I was planning to add a baseStyle in the appxaml so that all the buttons in the app could have the same touch effect!
However I discovered that the existing command of a button/or any other control no longer works and you have to use the touchEffect.Command.

Is this the case?
this prevents me for having just a single style but I have to apply the touch effect to all the c

[2021-04-23 10:09] tabachuk commented on #1221
I have already solved this problem by adding Source binding for MediaElement in XAML instead of assigning Source value in code behind. Now it works fine for me.

@pictos I can create a repo with a small test project if you still need it.

[2021-04-23 10:30] AlleSchonWeg opened #1228 "[Bug] Compiling Release Crash (Android)"
### Description

Hi,

we have problems with our Release. We link the project with "Sdk Assemblies Only" and using some Converters. In my ReproApp i only added the IsNotNullOrEmptyConverter. I'm not sure if this is the only converter which crashes and if only android affected.
Debug Configuration works. Release crashes.

### Steps to Reproduce

1. Open ReproApp
2. Use Release Configuration
3. Start

[2021-04-23 12:24] Cfun1 commented on #1226
This is not a bug and has nothing to do with Expander, you cannot access controls which are inside a DataTemplate you should use binding instead of trying to do that..there is a lot of questions on stackoverflow about this topic.

[2021-04-23 12:29] Cfun1 commented on #1227
Hi, for question or general discussion, please opt for the discussion section instead of creating an issue thanks.
Cc @AndreiMisiukevich

[2021-04-23 12:54] developer9969 commented on #1227
will do didnt know

[2021-04-23 13:12] developer9969 commented on #1226
oh I see I needed to set a Datapicker.Focus when a user tapped on a Image. Not if I can achieve that using MVVM and databinding as it was totally a View thingy... let me think of alternatives now that you say that

[2021-04-23 13:17] GuidoNeele commented on #998
Built app using min target UAP 10.0.19041 / 2004 and it somewhat (not always) works in Debug mode but it doesn't work in release mode.

Created a sample project which demonstrates the problem https://github.com/GuidoNeele/XctTouchEffectBug

[2021-04-23 13:25] developer9969 commented on #1227
I will close this issue here

[2021-04-23 13:25] #1227 closed

[2021-04-23 14:01] GuidoNeele commented on #998
With "Compile with .NET Native toolchain" disabled it works.
![image](https://user-images.githubusercontent.com/1301586/115882443-0a77ea00-a44d-11eb-8848-190c9a75e88b.png)

[2021-04-23 14:17] bmacombe commented on #998
@GuidoNeele That likely could be a linking issue.

I need to do something like this to most third-party dlls in my UWP project that it doesn't reference directly in the app.cs

var assembliesToInclude = new List<Assembly>();
assembliesToInclude.Add(typeof(Microsoft.IO.RecyclableMemoryStream).GetTypeInfo().Assembly);
Xamarin.Forms.Forms.Init(e, assembliesToInclude);

Keeps them from being linked aw

[2021-04-23 14:55] GuidoNeele commented on #998
Thanks @bmacombe! Why didn't I think of that. Added the following code to the sample and it worked.

[code]

[2021-04-23 15:42] bmacombe commented on #998
@GuidoNeele Your welcome!  Glad it helped you.  I banged my head on that same issue a few years ago too!

[2021-04-23 20:30] jamesmontemagno commented on #1087
I will take this on and have a PR next week.

[2021-04-23 22:09] AndreiMisiukevich commented on #1123
https://github.com/xamarin/XamarinCommunityToolkit/issues/1087
Is it the same?

[2021-04-23 22:23] Cfun1 commented on #1123
@AndreiMisiukevich I am not sure 100% but I don't think so, since the issue you have linked is about

but I see @jfversluis https://github.com/xamarin/XamarinCommunityToolkit/issues/1087#issuecomment-800525365 aiming to make the link with SetFocusOnEntryCompleted, so it's quite difficult to say at this stage.

[2021-04-23 22:31] #998 closed

[2021-04-23 22:44] AndreiMisiukevich commented on #1178
Frankly speaking, it's never been supposed that BaseTemplatedView will be used outside of XCT (it's not internal because of inheritance issue only).

If other folks think that it's a good idea, then we can accept this proposal though.

@pictos @brminnick @jsuarezruiz please add your input here)

[2021-04-23 22:45] AndreiMisiukevich commented on #1138
Feel free to grab this issue, debug and submit a PR :)
I'll be happy to review it

[2021-04-24 00:48] pictos commented on #1221
@tabachuk if you can do it will be great, that way we can see if this behavior is a bug.

[2021-04-24 04:33] Saleh-Software opened #1229 "[Enhancement] Entry Arrow Color"
Hello Xamarin Toolkit

There is Any Effect or anything about change Entry Arrow Color?
![Capture](https://user-images.githubusercontent.com/48956033/115947277-e57e8800-a4db-11eb-93b5-9062c010464e.PNG)

[2021-04-24 04:53] Saleh-Software opened #1230 "[Bug] TabView Item When Using External View"
hello xamarin toolkit team.

when im using like:

 <xct:TabViewItem >

                    <Entry  Margin="5,0"  Placeholder="Data"     Text="Test">
                    </Entry>

</xct:TabViewItem>

its ok not problem .

but when im coding like:

  <xct:TabViewItem

                    <Pages:Account></Pages:Account>
                </xct:TabViewItem>

and in Account View Using Entry its will swit

[2021-04-24 04:55] mkanyo commented on #1138
Well... it does sound tempting... I'll have a look if I can this weekend and see what happens

[2021-04-24 04:57] Saleh-Software opened #1231 "[Bug] TabView SelectedIndex"
hello im coding this:

` <xct:TabView x:Name="tbView"  Style="{StaticResource CustomTabStyle}" SelectedIndex="1" >

          <xct:TabViewItem />
           <xct:TabViewItem />
           <xct:TabViewItem />

</xct:TabView>
`
i didnt show tabitem content its just example.

and when i will run getting this error!:

System.ArgumentOutOfRangeException: 'Index was out of range. Must be non-negative an

[2021-04-24 05:15] Saleh-Software commented on #1230
I Found Problem Its not about external view!

when u using empty Entry its ok!

like this:

  <Entry></Entry>

but if u fill any property its will switch to index 0!

please Give me feedback what i must to do?

[2021-04-24 05:22] Saleh-Software commented on #1230
I found problem its for HorizontalTextAlignment please fix it for new update thanks xamarin forms :)

[2021-04-24 05:23] #1230 closed

[2021-04-24 10:32] Cfun1 commented on #1229
Duplicate of #735?

[2021-04-24 13:42] mkanyo commented on #1138
Good news everyone! Running the code on develop branch with PR #1122 it works for me: `LayoutState.None` displays again after a state of `LayoutState.Loading`.

I also undid the PR locally (the 1 line change in `Views\StateLayout\StateLayoutController.shared.cs`) and as expected it broke again. Brilliant!

I hope this will make it to be to be a nuget soon!

Grin grin, wink wink, nudge nudge :) Mik

[2021-04-24 14:59] mhrastegary77 opened #1232 "[Question] MediaElement MKV Support"
can we have mkv support for MediaElement?
or is there a way to support MKV formats with MediaElement that i don't know?

[2021-04-24 15:00] Kapusch commented on #1138
Hi @mkanyo , except if I'm misunderstanding, the fix you're talking about is already part of my repro sample.
And even with that, the bug I have captured in the Gif is still valid.

Could you try applying your fix in my repro sample please ?
Or am I possibly using the None state incorrectly ?

Thanks for your investigation 👍

[2021-04-24 17:28] #1232 closed

[2021-04-24 17:31] pictos commented on #1229
@Saleh-Software, not sure if you asking if we have this feature on this project or if there's a way to do it. So I'll answer both.

We don't have this feature implemented yet. There's a way to change the cursor color using the platform-specific APIs, on Android you can do it on `styles.xml` and I don't know how to do it on iOS.

[2021-04-24 17:32] pictos commented on #1229
Closing this issue because is
Duplicate of #735

[2021-04-24 17:32] #1229 closed

[2021-04-24 17:34] pictos commented on #1228
@AlleSchonWeg can you try to instantiate this converter in C#? you can do it on the App.xaml.cs ctor. Something like this:

[code]

[2021-04-24 17:35] pictos commented on #1231
@Saleh-Software
Could you attach a small repro?

[2021-04-24 17:49] mkanyo commented on #1138
Hello @Kapusch

Right, I've downloaded your sample zip file and ran it. Yes, I think you need to use it differently:

![image](https://user-images.githubusercontent.com/51201132/115967867-50a87880-a535-11eb-9423-5784d2890ad6.png)

You should not define "None" separately as stateview, rather it should be next to the StateViews collections:

![image](https://user-images.githubusercontent.com/5120113

[2021-04-24 18:29] pictos commented on #989
@Cfun1, sorry for the huge delay, can you confirm if this still happens in the latest stable version?

[2021-04-24 18:38] AlleSchonWeg commented on #1228
Hi,
Not tested, but I'm sure that will work. At the moment we use a linker file and reference the converter types: https://docs.microsoft.com/de-de/xamarin/cross-platform/deploy-test/linker
This also works.
Are you able to reproduce the issue with my sample app?

[2021-04-24 18:49] Cfun1 commented on #989
@pictos no issue, yes I conform it is still happeing

[2021-04-24 19:23] pictos commented on #1228
@AlleSchonWeg not yet, I'll have time today night, I just want to have more info to know what I should look for (:
Thanks for the feedback, this is helpful

[2021-04-24 20:19] DamianAntonowicz commented on #1135
@pictos I've pushed performance improvements to my repo https://github.com/DamianAntonowicz/XamarinForms.CalendarControl Switching between months is now faster - I'm attaching gifs below. Let me know if this is fast enough :)

![iOS_Calendar](https://user-images.githubusercontent.com/12022141/115971798-d97ddf00-a54a-11eb-9d9a-69540b50b5f8.gif)
![Android_calendar](https://user-images.githubusercont

[2021-04-24 21:30] #1209 closed

[2021-04-24 22:34] pictos commented on #1135
@DamianAntonowicz I'll take a look and return to you ASAP

[2021-04-25 00:42] pictos commented on #989
I can confirm the bug

[2021-04-25 08:10] Kapusch commented on #1138
Thanks @mkanyo for your help !
I'll give a try soon in my app to verify if this does not break my VisualStates management.

@AndreiMisiukevich , can you please confirm if this is the way you wanted "None" state to be used ?
If so, I'll close current issue and propose that we update the documentation.

[2021-04-25 11:46] Saleh-Software commented on #1231
Sure !

this is small check code behind also

idk how zip my project like you its low size but for me its 50mb
so i uploaded in file upload

link for download: https://ufile.io/fjnhm6ms

[2021-04-25 15:20] mhrastegary77 commented on #402
still waiting for a workaround for this :(

[2021-04-25 16:37] sthewissen commented on #1138
@Kapusch The behavior outlined above is indeed the intended usage. The `None` StateView is ignored and this default content should just be declared as children of your StateLayout aware element (Grid, StackLayout etc). Main reasoning is that it simplifies incorporating StateLayout into existing code without having to rewrite all your views into a `None` StateView. That way you only have to add the

[2021-04-25 17:12] krdmllr commented on #702
I'm currently implementing it and would stick to the explicit commit call. I agree with @pictos that login flows can difference too much to implement a specific flow. Additionally its not only a login but can be any kind of fill.

[2021-04-25 18:23] krdmllr commented on #452
I would combine the implementation with https://github.com/xamarin/XamarinCommunityToolkit/issues/702 and implement it

[2021-04-25 19:49] AndreiMisiukevich commented on #1228
Tested on provided sample "adding new IsNotNullOrEmptyConverter();" fixes the issue.

[2021-04-25 20:27] Kapusch commented on #1138
Thanks for these explanations @sthewissen

I wonder if allowing both implementations could not save time to somebody else who may encounter this:
- StateView with "None" value assigned to StateKey
- And current implementation with "None" content declared as children of the StateLayout

Meanwhile, I close the issue, thanks again.

[2021-04-25 20:27] #1138 closed

[2021-04-25 20:46] pictos commented on #1231
@Saleh-Software I'll take a look during the week. To reduce the size of the sample, delete the obj and bin folders before zip

[2021-04-25 23:05] maxkoshevoi opened #1236 "[Bug] NRE in DelegateWeakEventManager"
### Description

Not sure how, but once in a blue moon `DelegateWeakEventManager` can throw `System.NullReferenceException` with the stack shown bellow when using `ObservableObject`.

### Expected Behavior
`SetProperty` doesn't throw NRE

### Actual Behavior
`SetProperty` throws NRE

### Basic Information

- Version with issue: 1.1.0
- Last known good version: Unknown (possibly 1.0.3)
- IDE:
- Pla

[2021-04-26 02:16] albilaga commented on #1218
@pictos oops. my bad. Added.

[2021-04-26 06:38] tabachuk commented on #1221
@pictos https://github.com/tabachuk/VideoPlayerCrash

[2021-04-26 10:57] pcf78 opened #1237 "[Bug] [UWP] CameraView.Shutter throws Exception if camera is used in other application even if in try/catch"
### Description
CameraView.Shutter throws Exception if camera is used in other application even if CameraView.Shutter is into a try/catch.
There is a way to figure out if I can use the CameraView component or not?
### Steps to Reproduce

1. Create a page with a CameraView control and a button
2. add try/catch with CameraView.Shutter in button click event

### Expected Behavior
Catch intercept exce

[2021-04-26 11:32] jfversluis commented on #1171
@coquilanka and all, would you be able to test this NuGet maybe: https://dev.azure.com/xamarin/public/_build/results?buildId=39270&view=artifacts&pathAsName=false&type=publishedArtifacts

If you don't know how to test one from an artifact, this should help: https://blog.verslu.is/xamarin/xamarin-forms-xamarin/test-xamarin-forms-bugfixes/

Wondering if that fixes it for all scenarios

[2021-04-26 15:38] davidbuckleyni commented on #1135
NO doumentation on how to include the calendar in the header tag.

    <?xml version="1.0" encoding="utf-8" ?>
    <ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
              xmlns:components="clr-namespace:XamarinForms.CalendarComponent;assembly=XamarinForms.CalendarComponent"
             x:Class="App1.Views.Cal">

[2021-04-26 16:43] DamianAntonowicz commented on #1135
@davidbuckleyni thanks, I've updated the spec

[2021-04-26 20:42] dansiegel opened #1239 "[Bug] Specified Cast is not valid - StateLayout"
### Description

As you'll see from the attached demo app, I've been working on a PanelView that should be able to toggle between a fully expanded, default or collapsed state. Part of the issue I run into is probably related to #1032 as no initial state is set.. Regardless of when/where I try to set the Current CustomStateKey, an InvalidCastException is thrown.

### Steps to Reproduce

1. Add a Vi

[2021-04-26 22:38] AndreiMisiukevich commented on #1032
CC @sthewissen

[2021-04-27 00:02] LeoJHarris commented on #1012
@Kapusch yes same issue occurs

[2021-04-27 06:46] AlleSchonWeg commented on #1228
Hi @pictos and @AndreiMisiukevich, 😊
i can confirm, that adding
`
_ = new IsNotNullOrEmptyConverter();
`
fixes the issue. But with this PR, XCT is marked as linkersafe: https://github.com/xamarin/XamarinCommunityToolkit/pull/210.

Which is not true. Thanks for your work

[2021-04-27 08:41] davidbuckleyni commented on #1135
Its very good but @DamianAntonowicz I had trouble in being able to bind to the box view required for the Day Cell when I did calendarDay.Backcolor nothing happened it didnt change the active color of the cell in quesiton maybe if u made a cell color property would make my special day code easier/

[2021-04-27 08:44] DamianAntonowicz commented on #1135
@davidbuckleyni it would be better if we move our discussing to my repo: https://github.com/DamianAntonowicz/XamarinForms.CalendarControl because this thread is only about Spec. Could you open issue in my repo?

[2021-04-27 09:20] pcf78 opened #1241 "[Bug] [CameraView] [uwp] Flash does not work"
### Description
On UWP the CameraView does not trigger a flashlight even though Flash is on.
This is similar in nature to [#301 ](https://github.com/xamarin/XamarinCommunityToolkit/issues/301)  [#747](https://github.com/xamarin/XamarinCommunityToolkit/issues/747)

### Steps to Reproduce
1. Add a CameraView to a page.
2. Set FlashMode to On
3. Run and trigger shutter

### Expected Behavior
The flas

[2021-04-27 10:25] pooran commented on #887
Any update on this?

[2021-04-27 15:50] dansiegel commented on #1239
A little investigation on this uncovers the root issue. The StateLayout expects a Layout<View> not a Layout... the docs make it seem that it can work with any layout. While the error is valid given this, a better experience would be to check what you're getting and throw an exception that it's not a Layout<View>.

[2021-04-27 19:34] Cfun1 commented on #989
cc @jBijsterboschNL

[2021-04-27 20:42] AndreiMisiukevich commented on #1228
Yeah, there are some issues...very strange issues.
Frankly speaking, I am not sure whether it's fixable. Because you use it in xaml and linker cannot understand that this converter should not be removed...

[2021-04-28 05:34] AlleSchonWeg commented on #1228
Hi @AndreiMisiukevich,
i think there are three options. All not verified:
1. Use Preserve Attribute
2. Try xamlC https://github.com/xamarin/Xamarin.Forms/issues/8722
3. Implement an XF.Init(); function. Like Essentials do

Perhaps there other ways to make it linker safe.

[2021-04-28 06:43] ECDev01 opened #1242 "TabViewItem Icon property issue"
### I am trying to use Icons for my TabView. For that purpose I set only the property Icon in the TabViewItem but they were never displayed not even when I click the tabs. On the other hand when I use the property IconSelected and the Icon property together, images ARE displayed ONLY when I click/tap on the Tab.

### Steps to Reproduce
Scenario when Icon property and IconSelected have values:
1. x

[2021-04-28 12:38] AndreiMisiukevich commented on #1228
@AlleSchonWeg could you please check if xamlC resolves you issue?
If yes, then we will update our docs. I think, this is the best solution.

Both other might work, but they are not ideal (because a lot of unused stuff potentially would not be cut off the app, what is not great, I believe)

[2021-04-28 13:48] Axemasta opened #1243 "[Bug] RemoveBorderEffect throws on iOS for Editor elements"
### Description

The `RemoveBorder Effect` will throw a `System.InvalidCastException` when applied to an `Editor` element in iOS. This is a regression as the effect does not error in XCT version 1.0.3 (I just upgraded from 1.0.3 to 1.1.0)

### Steps to Reproduce

1. Add `RemoveBorderEffect` to an `Editor`
2. Run on iOS

### Expected Behavior

Nothing, `Editor` renders down to a `UITextView` which

[2021-04-29 00:06] AndreiMisiukevich commented on #1236
Would be great to have a reproduction sample :) If it happens that you find a way of how to reproduce this issue, please let us know. It will help a lot.
Thank you!

[2021-04-29 00:08] AndreiMisiukevich commented on #1237
Hi @pcf78 and thank you for the report.
Can you please attach a sample app reproducing this issue?
Also, feel free to submit a PR if you know how to fix that.

Thank you!

[2021-04-29 00:10] AndreiMisiukevich commented on #1239
@dansiegel would you like to submit a PR with a better exception message?

[2021-04-29 00:11] dansiegel commented on #1239
Sure I can put something together

[2021-04-29 00:11] #1243 closed

[2021-04-29 07:00] AlleSchonWeg commented on #1228
Hi,

i tested a litte bit and the xamlc was already defined in the AssemblyInfo.cs. So adding XamlC didn't change anything.
But i identified the problem. In the sample i use a separate ResourceDictionary (Converters.xaml) and added the file to the MergedDictionaries list in app.xaml.
The Converters.xaml file has no code behind file. But if i add the converters.xaml with a code behind file the link

[2021-04-29 08:13] AndreiMisiukevich commented on #1228
Interesting. Doesn't it mean that the problem in on XF side? (Code generation level)

I am not a linker expert, I guess need to gather ideas from people whom might have better understanding
CC @jsuarezruiz @jfversluis @StephaneDelcroix

[2021-04-29 08:58] amistry79 commented on #901
@michaldivis  I see PR #923 has been merged however issue is not fixed. May I know which version or build should be used for this fixed? We are using v1.1.0

[2021-04-29 12:57] Jogge opened #1248 "[Bug] Expander does not expand on content size changes"
### Description

Ironically the `Expander` does not expand when content size is changed...

![image](https://user-images.githubusercontent.com/15981279/116547807-a6916d80-a8f3-11eb-9eab-b283f88a935a.png)
![image](https://user-images.githubusercontent.com/15981279/116547841-b446f300-a8f3-11eb-88b3-9ac81a4f1805.png)

### Steps to Reproduce

1. Initialize the `Expander` in a view with some content
2.

[2021-04-29 15:00] acaliaro opened #1249 "[Bug] SideMenuView MainViewScaleFactor does not work correctly"
### Description
MainViewScaleFactor reduce or increment the size of the MainView.
If you use a value less than 0, the size is smaller, otherwise bigger.
When you use a rightMenuView, you have a reversed situation (values > 0 = size is smaller).
@AndreiMisiukevich  knows the problem
### Steps to Reproduce

1. Use a SideMenuView with MainViewScaleFactor and RightMenuView
2.
3.

### Expected Behavior

[2021-04-29 15:07] Cfun1 commented on #1249
You meant when the 0 < value < 1 it's smaller and if >1 it's bigger? (same behavior as Scale property on VisualElements)

[2021-04-29 15:09] AndreiMisiukevich commented on #1249
There is a bug is scale calculation for Right menu (with negative value). It should be fixed
Behavior should be consistent for both Left & Right menus (As it is working for left menu now)

[2021-04-29 15:11] acaliaro commented on #1249
0<x<1 = smaller x>1 = bigger with leftMenuview
0<x<1 = bigger x>1 = smaller with rightMenuview

[2021-04-29 15:13] Cfun1 commented on #1249
@acaliaro Thanks for the clarification :)

[2021-04-29 21:29] AndreiMisiukevich commented on #1248
Hello @Jogge
Please read the documentation before reporting "bug".
https://docs.microsoft.com/en-us/xamarin/community-toolkit/views/expander#resize-an-expander-at-runtime

you should call ```ForceUpdateSizeCommand``` or ```ForceUpdateSize``` metod

[2021-04-29 21:29] #1248 closed

[2021-04-29 23:52] pictos commented on #1228
My guess is because of reflection, if I'm not wrong the XAML parse to C#, is all reflection code, and the linker doesn't handle that very well. But good to know that scenario, thanks @AlleSchonWeg for that.

[2021-04-29 23:53] pictos commented on #1218
@albilaga thanks, I'll look at it this weekend

[2021-04-30 12:07] #1249 closed

[2021-04-30 14:38] inforithmics opened #1251 "[Bug] Compiling XCT-Popups-Samples causes a Invalid Cast Exception in UWP Native Compilation"
### Description

### Steps to Reproduce

1. Get https://github.com/ahoefling/XCT-Popups-Samples
2. Set To Release / x64 and select UWP as startup
3. Start Project (Clicking on the Button causes a crash)

### Expected Behavior

Does not crash in the Native Compiled UWP app

### Actual Behavior

Does crash

### Basic Information

- Xamarin Community Toolkit Version UWP Version 1.1.0

### Workaround

[2021-04-30 15:46] runtimesoftware opened #1252 "DisplayToastAsync crashes on iOS 12.5.2"
Using Application.Current.MainPage.DisplayToastAsync("Message") crashes on iOS 12.5.2 (iPhone 5s) whether awaited or discarded, no difference. Tried using ToastOptions overloaded method also, setting BackgroundColor to Xamarin.Forms.Color.Black but same result.

_Works fine on iOS 14.4.2_

**Error stack trace:**

[code]

[2021-04-30 19:12] Hottemax opened #1253 "[Bug] TabView: BindingContext is not correctly initialized on custom controls"
### Description

TabView does not initialize BindingContext on custom controls correctly.
Weirdly, it works when wrapping it in an additional standard control.
See sample repository: https://github.com/Hottemax/XamarinTabViewBug

[code]

### Steps to Reproduce

1. Clone sample repository
2. Start the app (Android)

### Expected Behavior

Binding should work for the "Buggy" tab

### Actual Behavior

[2021-05-01 09:38] Brosten commented on #937
This would be great to have!

[2021-05-01 18:29] maxkoshevoi commented on #1236
@AndreiMisiukevich I just got one crash report with that stack (out of 5000 users). Have no idea, how to reproduce it.
Feel free to close this issue. Just wanted to bring up a possible problem.

[2021-05-01 23:28] AndreiMisiukevich commented on #1252
Hey, @VladislavAntonyuk could you please check that?

[2021-05-01 23:31] AndreiMisiukevich commented on #1236
I don't think we should close the ticket if the problem exists. But need to find how to reproduce it.

[2021-05-01 23:37] AndreiMisiukevich commented on #1236
Or at least maybe find "suspicious" lines of code.

[2021-05-01 23:38] AndreiMisiukevich commented on #1236
I wonder, can it happen inside event handlers in your app code?

[2021-05-02 06:58] maxkoshevoi commented on #1236
Here is the only subscriber: https://github.com/maxkoshevoi/NureTimetable/blob/main/NureTimetable/NureTimetable/UI/Views/Timetable/TimetablePage.xaml#L76

And here's what triggers the event: https://github.com/maxkoshevoi/NureTimetable/blob/main/NureTimetable/NureTimetable/UI/ViewModels/Timetable/TimetableViewModel.cs#L437

[2021-05-02 21:46] pictos commented on #1135
@DamianAntonowicz I did a quick test here and I liked the perf. improvement when I switch between months! Great job!

There are still some lags, listed in my previous list, I believe that we can help you with them as an enhancement.
For me, this is good to go.

I'll ping other members to see what they think about it as well (:

Thank you for the hard work @DamianAntonowicz <3

[2021-05-03 01:36] sunkerGit opened #1254 "XCT error on VS 2019 - mac ide editor, CS0103 on CS xaml"
Hi Guys,

Thanks for the feedback @pictos, @kapush, @AndreiMisiukevich.
it seems the problem still exist when I was followed instructions from @Kapusch.
Compile / Build no error (for ios or android) but when editing code behind from the XAML file on iOS as start-up project I got this error (CS0103), and this is very annoying. It does not happen when I set the startup project to Android, no any CS0

[2021-05-03 01:56] LeoJHarris commented on #979
Puling the community toolkit and reverting the changes resolves the issue. @jfversluis @jsuarezruiz can we revert these changes? Seems to resolve the issue.

[2021-05-03 05:33] acaliaro opened #1255 "[Bug] AsyncCommand with allowsMultipleExecutions does not disable"
### Description

I have a button "logout"
[code]

With this LogoutCommand
`            LogoutCommand = new AsyncCommand(LogoutAsync, allowsMultipleExecutions: false);
`
and LogoutAsync

[code]

When I press the button to logout, IsLoggedIn is set to false but the button is not disabled.
I think the problem is `allowsMultipleExecutions: false`
If I use `allowsMultipleExecutions: true`, the button i

[2021-05-03 07:35] Jogge commented on #1248
@AndreiMisiukevich Thank you for the link to the workaround. I have successfully implemented the workaround.

I still think it is a bug, since it does not what I was expecting... But it is not up to me to decide how the behavior should be. In my opinion it is not obvious that you must call a method to get the `expander` to expand.

[2021-05-03 08:30] VladislavAntonyuk commented on #1252
It should work with iOS 13 and later. As for iOS 12 I'll check

[2021-05-03 10:06] workgroupengineering commented on #1255
[code]

[code]

[2021-05-03 10:16] acaliaro commented on #1255
Grazie @workgroupengineering
is this the correct way?

[2021-05-03 10:49] workgroupengineering commented on #1255
Yes

[2021-05-03 12:12] jsuarezruiz commented on #1135
Thanks so much for the hard work @DamianAntonowicz. After the performance improvements looks much better. Probably between all us we can improve it a little bit more. I think is good to go and start. Let us know when you have a PR to help you with the code etc.

[2021-05-03 13:57] davidbuckleyni commented on #1135
I agree this is an excellent little calendar, but I think for completeness and esp all things MAUI we will need a win ui version @jsuarezruiz

[2021-05-03 15:13] acaliaro commented on #1255
Thanks!

[2021-05-03 15:13] #1255 closed

[2021-05-03 15:42] davidbuckleyni commented on #1135
@pictos  One thing I did notice was their didnt appear to be back and forward buttons unless am missing something?

[2021-05-03 19:37] DamianAntonowicz commented on #1135
@pictos @jsuarezruiz thanks for your answers! I will start working on PR in next week :)

[2021-05-03 22:22] AndreiMisiukevich commented on #1248
@Jogge thanks for your feedback.

You needn't have to call this method if your expander's content size is not a dynamic value (I believe, it works like that in most cases).

But if you wish to change content size "on the fly", then yes, you should call this method because the expander remains the content size from **1st** expanding and then saves times for recalculation it all next times.

[2021-05-04 05:34] bbenetskyy opened #1256 "[Enhancement] HeaderTemplate in Expander control"
## Summary

Hi, I really miss `HeaderTemplate` in `Expander` control.

`Expander` itself already contains `ContentTemplate` and it would be really nice to have not only `Expander.Header` but to have `Expander.HeaderTemplate` as well.

Thanks 😊

## API Changes

Same as we have `Content` and `ContentTemplate` we need `Header` and `HeaderTemplate` and we can use one of them:

[code]

and

[code]

##

[2021-05-04 10:53] AndreiMisiukevich commented on #1256
Hi @bbenetskyy and thank you for your interest in this project :)

Could you please show a use-case where it can be applied? I mean where it can be useful.

ContentTemplate exists due to lazy loading purpose. If expander is collapsed (by default) then we can "save" time for creating and rendering its content. Instead, we will render content "on the fly" once it is requested. That's why we use Data

[2021-05-04 11:26] KrizCologne opened #1257 "TabView changes tab when enter a entry or selecting a picker"
I have a strange behavior with the TabView.
View:
`<?xml version="1.0" encoding="UTF-8"?>
<ContentPage xmlns="http://xamarin.com/schemas/2014/forms"
             xmlns:x="http://schemas.microsoft.com/winfx/2009/xaml"
             x:Class="PLUTester.Test.View.Home"
             xmlns:view="clr-namespace:PLUTester.Test.View"
             xmlns:controls2="clr-namespace:MarcTron.Plugin.Controls;assemb

[2021-05-04 14:25] angelru commented on #1253
@Hottemax
I am facing the same problem, it doesn't even work if the `ViewModel `is initialized next to the view, it only works if the `ViewModel `is already initialized in the `MainPageViewModel`, as in your sample.

[2021-05-04 17:43] andrecostanunes opened #1259 "[Bug] Error: Failed to create captire sesstion"
I get the error: "Failed to create capture session" when trying to use the front camera on the Xiaomi Redmi note 7 Android 10 device.

[2021-05-04 18:44] jpozo20 commented on #1118
@jfversluis As @TravyDale says, this use case could be implemented by adding a TextCase property to the TabViewItem.
On Android, it can default to TextCaseType.Upper and on the other platforms to TextCaseType.None so the text stays equal as it is currently.

Though it is a pretty edge case I think it could be simple to implement and I'm willing to do it. What do you think?

[2021-05-04 19:08] danardelean commented on #1259
Have you tried the sample application and you encounter the same error?

[2021-05-04 20:12] brminnick commented on #1259
Hi @andrecostanunes! Please upload/link a reproduction sample to help us verify + fix this bug.

[2021-05-04 20:15] brminnick commented on #1254
Is this a Xamarin.CommunityToolkit bug or a Visual Studio for Mac bug?

[2021-05-04 20:18] brminnick commented on #1251
@ahoefling Can you confirm this?

[2021-05-04 20:33] ahoefling commented on #1251
I'm on family leave until June, won't be able to look at this until then

[2021-05-04 23:51] maxkoshevoi commented on #1254
Check `xaml` file for that view. Is `SubTabView` set there as `x:Class`?

[2021-05-05 01:57] LeoJHarris opened #1260 "UtcToLocalDateTimeConverter?"
Do we have a UtcToLocalDateTimeConverter in the library if not is this something we can consider adding?

[2021-05-05 06:58] ninaada commented on #887
We are also facing the same issue. The tab just does not switch.

[2021-05-05 07:25] AlleSchonWeg opened #1261 "[Bug] Toucheffect raised when scrolling"
### Description

The touch effect is raised, when the user only want to scroll the control with the attached effect.
All infos about the issue are in the comments of the Pull Request. Starting at comment: https://github.com/xamarin/XamarinCommunityToolkit/pull/566#issuecomment-790958712

### Expected Behavior
Touch effect should only raised it not scrolling, like ListView or CollectionView items.

[2021-05-05 11:56] AndreiMisiukevich commented on #1261
@AlleSchonWeg hi
Is it on Android, right?

[2021-05-05 11:59] AndreiMisiukevich commented on #1260
Hi @LeoJHarris
Currently we have only such one https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/DateTimeOffsetConverter.shared.cs

I guess we can add UtcToLocalDateTimeConverter (small note: string format parameter should be used for displaying value if passed)

[2021-05-05 12:49] AlleSchonWeg commented on #1261
Hi @AndreiMisiukevich ,

i have only a Simulator for iOS, but it looks like the same problem with scrolling.

And some other thing happens. The item stays in "touched" mode. I created a video. The labels are greyed out sometimes:

https://user-images.githubusercontent.com/6727366/117143260-ed2e0e80-adb0-11eb-8ca3-6f27f6ef0ca2.mp4

[2021-05-05 12:53] Natalia-eng1 opened #1262 "Record and retrieve EXIF data - GPS location in iOS"
I would like to know if there is currently a way to record and retrieve EXIF Data (GPS location and date taken) when capturing the photo.

Thanks

[2021-05-05 14:00] IeuanWalker commented on #1261
@AndreiMisiukevich Might want to take a look at the platform implementation of this - https://github.com/IeuanWalker/Xamarin.Forms.StateButton

I'm not sure how the effects are implemented, but with this control 'Pressed' and 'Released' events are always raised _(even when scrolling)_, but 'Clicked' event is only raised when the user clicks, but doest get raised when scrolling a list.

[2021-05-05 16:28] AndreiMisiukevich commented on #1261
If you know how to fix that, then feel free to submit PR

[2021-05-06 04:51] sunkerGit commented on #1254
it is  Xamarin.CommunityToolkit bug because when i remove the <xct:TabView from the app and add syncfusion tabview, the error CS0103 is disappear.

[2021-05-06 04:53] sunkerGit commented on #1254
yes already set
![image](https://user-images.githubusercontent.com/3633650/117243502-f5965000-ae69-11eb-9c4a-c3113f16dfc4.png)

[2021-05-06 05:18] sunkerGit commented on #1254
Please check REPOSITORY below:
[TabViewBugs.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6431903/TabViewBugs.zip)

please use VS 2019 community - MAC and set the startup project to IOS

[2021-05-06 17:58] Softtinn opened #1265 "Mvvm support for Snackbar"
Hi!
I'm interested in using the XCT snackbar. However, from what I understand when examining the sample app, it's done entirely in the page code behind? Isn't there a built in MVVM support for it? If so; how should it be done? Any docs available?

[2021-05-06 18:01] #1265 closed

[2021-05-06 18:01] #1262 closed

[2021-05-06 18:07] brminnick commented on #1221
Thanks @tabachuk! I'll take a look this week 👍

[2021-05-06 18:13] brminnick commented on #1167
This is a known bug with targeting Windows from a .NET 5.0 project.

The solution is to use .NET Core 3.1 (or lower) for the Unit Test project and set `GenerateErrorForMissingTargetingPacks` to `false` in the Unit Test CSPROJ file.

https://stackoverflow.com/a/65161916/5953643

[code]

[2021-05-06 19:25] Link-SD commented on #1252
I am running into the exact same issue. I have tested it on a iPhone 6 Plus and Ipad Mini 2 both running iOS 12.5.3.

[2021-05-07 06:09] LeoJHarris commented on #1260
I thought something like this might suffice

[code]

Would accept DateTimeOffset and DateTime types.

[2021-05-07 15:11] #1087 closed

[2021-05-07 15:42] Painwraith opened #1268 "[Bug] XCT Media Element Crashes App"
### Description

### Steps to Reproduce

1. Download XCT Sample Application
2. Navigate to any page with Media Element
3. Quickly leave and re-enter that page several times

### Expected Behavior
The application continues to stay active.
### Actual Behavior
The application crashes.
### Basic Information
Tested and easily reproducible on Android.

- Version with issue:  XCT v1.1.0
- Last known good

[2021-05-08 00:28] pictos commented on #1268
@Painwraith
Could you attach a small repro?

[2021-05-08 17:05] themronion commented on #1261
Yeap, +1 here, also noticed this recently

[2021-05-08 17:11] themronion commented on #1255
@acaliaro btw you can use the translation extension from the toolkit instead of x:Static approach to change the language on the fly

[2021-05-08 17:59] krdmllr commented on #452
I have two things to discuss for the android implementation:
* It requires the Xamarin.GooglePlayServices.Auth library, is it okay to add that dependency to XCT?
* The automatic Intent registration seems to fail when the Intent is part of an external library.
[code]
I work around that with a manual registration which is called whenever the effect is added, something like this:
[code]
Is there any

[2021-05-08 21:29] nithinshiriya opened #1272 "[Bug] MarkupExtension not found for xct:ImageResource"
### Description
I am using {xct:ImageResource Id=Evervast.PicPoll.Resx.Images.SilverStar.png}" and it works great in debug mode but in release mode, it crashes.  I have used the toolkit only for image resource conversion nothing else. And android linker is set to "Link SDK Assembly only" in release mode.

### Basic Information

- Version with issue: 1.1.0
- Last known good version: UNKNOWN
- IDE:

[2021-05-08 21:38] pictos commented on #1272
@nithinshiriya can you follow our template for bugs? Your report doesn't have useful information to help us to help you (:
And also if you can add a small repro would be great, thanks in advance

[2021-05-08 22:08] nithinshiriya commented on #1272
@pictos  update the information.

[2021-05-08 23:01] nithinshiriya commented on #1272
After updating this line in App.xmal.cs it started working fine.

_ = new Xamarin.CommunityToolkit.Extensions.ImageResourceExtension().Id = "mages.GoldStar.png";

[2021-05-08 23:06] pictos commented on #1272
@nithinshiriya looks like a linker issue, so when you refer to it in code behind it solves... Are you able to create a small repro?

[2021-05-08 23:15] AndreiMisiukevich commented on #1260
@LeoJHarris
Then this converter should have name "UtcDateTimeToLocalStringConverter" or something similar
Also, we should return a proper value if dateFormat is not provided as well.

[2021-05-08 23:28] nithinshiriya commented on #1272
You still need a repo?  The solution I have already provided is
working fine.

On Sat, 8 May 2021 at 20:06, Pedro Jesus ***@***.***> wrote:

--
*Thanks & Regards,*
{
   name        : *Nitheen Rao T*
   mob         :* +1 902 314 6665 [Canada]*
   email       : ***@***.*** ***@***.***>*
   skype       : *nitheen.rao.t*
   linkedin    : LinkedIn <http://www.linkedin.com/in/nitheenraot>
   blog

[2021-05-09 00:53] pictos commented on #1272
That's a workaround, with the repro I can see what you're doing and try to solve it, if I succeed you and any other developer will need to add that line on project (:

[2021-05-09 08:19] peterfoot opened #1274 "[Enhancement] WPF Renderer for MediaElement"
## Summary

There is currently no WPF renderer for MediaElement in the Community Toolkit so the control will appear blank in WPF projects.

## API Changes

No API changes, just a platform renderer.

## Intended Use Case

Allow media to be played in projects targeting WPF

## Who Will Do The Work?

- [x] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-05-10 06:50] jfversluis commented on #1268
Did you only test this on Android or also iOS by any chance?

[2021-05-10 11:21] nhinze opened #1276 "[Bug] MaskedBehavior prevents input digit"
### Description

I'm using the following Mask and UnMaskedCharacter to handle a phone number in an entry field:

Mask="+1 (AAA) AAA-AAAA" UnMaskedCharacter="A"

This Mask prevents the input of the digit "1". I'm not sure if this is the expected behavior, but I was expected to be able to input any digit.

### Steps to Reproduce

[code]

### Expected Behavior

Able to input "1" digit

### Actual Beh

[2021-05-10 13:12] IeuanWalker commented on #1276
@nhinze Looks to be an issue with the `RemoveMask()` method.

It doesn't take into account the char index when removing the masked character, so as '1' is in the mask it's removing it anywhere in the users input.

Will create a PR with a fix.

[2021-05-10 13:34] Painwraith commented on #1268
I only tested on Android. I could attach a small repo, but this is reproducible in the XCT Sample that is part of this repo.

[2021-05-10 13:59] acaliaro commented on #1255
Thanks I know. this is a single language app... Maybe I will use the toolkit in the future. Thanks!

[2021-05-10 15:46] yunusefendi52 commented on #1118
I also noticed that the template chosen based on the platform it's running, no renderer tho which is a good thing. maybe give an option to not chosen based on the platform and pick the default one @jfversluis?
https://github.com/xamarin/XamarinCommunityToolkit/blob/aba6205274a7fb8c8a55eaedb8001e3a693ed5f1/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/TabView/TabView.shared.cs#L526-L536

[2021-05-10 17:22] jfversluis commented on #1276
Wowza @IeuanWalker thanks for this very quick action! :D

[2021-05-11 04:42] KrizCologne commented on #1257
Update: This strange behavior just occurs, if I set the HorizontalTextAlignment of the entry. If its not set, the entry works as expected.

[2021-05-11 08:26] GalaxiaGuy opened #1280 "[Enhancement] Support for iOS UIAccessibilityCustomActions"
## Summary

Add support for declaring [UIAccessibilityCustomActions](https://developer.apple.com/documentation/uikit/uiaccessibilitycustomaction).

[More info](https://www.raywenderlich.com/4720178-ios-accessibility-tutorial-making-custom-controls-accessible).

## API Changes

The goal is to allow XAML like the following:

[code]

It is to be implemented using some platform specific bindable prope

[2021-05-12 06:56] VladislavAntonyuk opened #1281 "[Enhancement] Kanban Board control"
## Summary

Create new kanban board control.
It should allow
- Add columns
- Delete columns
- Add cards
- Delete cards
- Drag and drop cards between columns
- Support WIP limit

Example: https://vladislavantonyuk.azurewebsites.net/articles/Creating-Kanban-Board-using-Xamarin-Forms-5

## Intended Use Case
- Any task tracking system

## Who Will Do The Work?

- [ ] I am willing to take this on mysel

[2021-05-12 07:06] VladislavAntonyuk opened #1282 "[Enhancement] Diagram control"
## Summary

Create a new control which allows us to build a diagram.
It should allow
- add any shape to the board
- All shapes can be moved
- all shapes should contain connectors
- allow to draw arrow between connectors
- arrow annotations

## Intended Use Case
Flowchart diagram for commands execution.

Blazor example: https://github.com/VladislavAntonyuk/Blazor.Diagrams

## Who Will Do The Work?

[2021-05-12 09:50] jfversluis commented on #396
No reproduction provided and it's been a year, let's close this for now unless someone can provide us with some new info.

[2021-05-12 09:50] #396 closed

[2021-05-12 09:52] jfversluis commented on #576
I have gone over the iOS implementation here: https://www.youtube.com/watch?v=1XVjsUO-Ayw

We might want to add some boolean maybe that says: ContinuePlayingInBackground that will enable this functionality? Provided that it works similar on Android

[2021-05-12 09:56] jfversluis commented on #569
We've added to the [Docs](https://docs.microsoft.com/xamarin/community-toolkit/views/expander): Expander and CollectionView/ListView should not be used together. I'd love to have a solution for this but it’s one of those controls that don’t exist on the native platform. Because of that you will be fighting the OS on getting it right. Closing this one since there won't be any solution on the short-

[2021-05-12 09:56] #569 closed

[2021-05-12 09:57] jfversluis commented on #568
We've added to the [Docs](https://docs.microsoft.com/xamarin/community-toolkit/views/expander): Expander and CollectionView/ListView should not be used together. I'd love to have a solution for this but it’s one of those controls that don’t exist on the native platform. Because of that you will be fighting the OS on getting it right. Closing this one since there won't be any solution on the short-

[2021-05-12 09:57] #568 closed

[2021-05-12 09:57] jfversluis commented on #571
We've added to the [Docs](https://docs.microsoft.com/xamarin/community-toolkit/views/expander): Expander and CollectionView/ListView should not be used together. I'd love to have a solution for this but it’s one of those controls that don’t exist on the native platform. Because of that you will be fighting the OS on getting it right. Closing this one since there won't be any solution on the short-

[2021-05-12 09:57] #571 closed

[2021-05-12 10:00] jfversluis commented on #572
We've added to the [Docs](https://docs.microsoft.com/xamarin/community-toolkit/views/expander): Expander and CollectionView/ListView should not be used together. I'd love to have a solution for this but it’s one of those controls that don’t exist on the native platform. Because of that you will be fighting the OS on getting it right. Closing this one since there won't be any solution on the short-

[2021-05-12 10:00] #572 closed

[2021-05-12 10:03] jfversluis commented on #608
We've added to the [Docs](https://docs.microsoft.com/xamarin/community-toolkit/views/expander): Expander and CollectionView/ListView should not be used together. I'd love to have a solution for this but it’s one of those controls that don’t exist on the native platform. Because of that you will be fighting the OS on getting it right. Closing this one since there won't be any solution on the short-

[2021-05-12 10:03] #608 closed

[2021-05-12 10:04] jfversluis commented on #529
I think this is all done!

[2021-05-12 10:04] #529 closed

[2021-05-12 10:07] jfversluis commented on #838
@IeuanWalker is that what is implemented with #1087 ?

[2021-05-12 10:08] jfversluis commented on #933
We've added to the [Docs](https://docs.microsoft.com/xamarin/community-toolkit/views/expander): Expander and CollectionView/ListView should not be used together. I'd love to have a solution for this but it’s one of those controls that don’t exist on the native platform. Because of that you will be fighting the OS on getting it right. Closing this one since there won't be any solution on the short-

[2021-05-12 10:09] #933 closed

[2021-05-12 10:09] jfversluis commented on #926
We've added to the [Docs](https://docs.microsoft.com/xamarin/community-toolkit/views/expander): Expander and CollectionView/ListView should not be used together. I'd love to have a solution for this but it’s one of those controls that don’t exist on the native platform. Because of that you will be fighting the OS on getting it right. Closing this one since there won't be any solution on the short-

[2021-05-12 10:09] #926 closed

[2021-05-12 10:11] jfversluis commented on #1197
This is implemented in #1203

[2021-05-12 10:11] #1197 closed

[2021-05-12 10:13] jfversluis commented on #1252
These errors mean that the mentioned property is not available on that iOS version. @VladislavAntonyuk you should be able to fix this by adding a check if they're running iOS 13+ then set that property, else we don't set it. We might need to mention it in the Docs too :)

[2021-05-12 10:14] jfversluis opened #1283 "[Bug] Expander and CollectionView/ListView"
There are a lot of reports about the Expander used together with the ListView or CollectionView not working properly.

We've added to the [Docs](https://docs.microsoft.com/xamarin/community-toolkit/views/expander): Expander and CollectionView/ListView should not be used together. I'd love to have a solution for this but we don't have one right now. I'm closing all the separate issues and have a co

[2021-05-12 11:15] jfversluis commented on #1268
If I may ask, what is the use-case of switching a lot back and forth? It seems like you have to do it pretty quickly to encounter this. Still something that might need fixing, but trying to figure out how likely it is someone will encounter this with normal use

[2021-05-12 11:20] jfversluis commented on #1259
Friendly ping to provide us with some more info. If not, I'm inclined to close one soon.

[2021-05-12 12:25] stavroaudi opened #1284 "[Bug] TabView TabStripHeight limited to 60"
When you set the TabStripHeight to anything less than 60, it works fine, but I want my tab strip to be bigger as I can hardly see the icons I have in the strip, but setting the height of the strip to more than 60 does nothing.

[2021-05-12 14:06] VladislavAntonyuk commented on #1252
I'll better fix it for ios12) I am not writing docs very well)

[2021-05-12 15:36] VladislavAntonyuk commented on #504
@AndreiMisiukevich since snackbar uses VisualElement instead of the ContentPage, can we close this bug? I don't think we will fully decouple SnackBar from the UI as described in the bug.
Even if we create `DialogService` and hide the UI elements from the method parameter it will use Application.Current.MainPage inside as the default anchor. I think the customer can implement it as they wish.
[code

[2021-05-12 16:10] Painwraith commented on #1268
Honestly, you can get this to crash an app but clicking on the page once and off the page once. It is pretty severe. Someone just surfing an application casually can crash their app with this bug.

[2021-05-12 16:52] JPZV opened #1286 "[Bug] Tabview explicit/default style with TabStripBackgroundColor generates Null exception"
### Description
If I set an explicit/default style for the TabView in my App.xaml resources, the app will crash when it tries to show the TabView. This only happens if I set the `TabStripBackgroundColor` property.

### Steps to Reproduce

1. Add these lines to the App.xaml file:

[code]

2. Add a TabView to the MainPage.xaml

[code]

3. Run the app

### Expected Behavior

A TabView with a red stri

[2021-05-12 22:05] davidbuckleyni commented on #1135
Do u have ur own code for this now ? Love to use it instead of syncfusion

[2021-05-13 10:51] nacompllo opened #1288 "[Bug] LongPressCommand not working in UWP"
### Description
The LongPressCommand does not work in UWP, however on Android, iOS and macOS it works correctly.

### Steps to Reproduce

1. Add LongPressCommand in some control and bind the property to a command in the view model, it works on Android, iOS, and macOS but not UWP.
[code]

### Expected Behavior
When the user makes a long click on the control, the binded command should be executed.

[2021-05-13 11:51] l0gaw commented on #1091
The same here. The ContentView workaround is working for now.

[2021-05-13 13:06] #1252 closed

[2021-05-13 20:19] TalalYousif commented on #1138
So, just to confirm, this is a known issue and a fix is on the way. The issue is, views outside of StateViews collection will not show up. The workaround is to define a success custom state and add the normal state as a state view with that key

[2021-05-13 22:43] AndreiMisiukevich commented on #1288
Hi @nacompllo thanks for the report
Does regular Command work?

if not, then try to add

[code]

to your UWP code

[2021-05-13 23:26] AndreiMisiukevich commented on #842
Hi @Tommigun1980

Let's summarize this conversation

1) Events support is added, but for using events you should add TouchEffect as a regular Effect to Effects collection.
2) Opt-out & Animation target features seem quite similar to me.
While implementing opt-out is not possible, we still can add animation target and I hope it would be sufficient for both cases

[2021-05-13 23:32] #988 closed

[2021-05-13 23:47] AndreiMisiukevich commented on #842
But I am not sure it's easily to implement for native animations (cuz they are focused on the view with the touch effect).
For your case, I can propose adding a content view inside frame and attaching touch effect to that nested content view (so the frame won't be affected)

[2021-05-13 23:57] auriou opened #1290 "[Bug] Binding error on views inside a TabViewItem if the TabView page itself has a Binding defined"
### Description
Binding error on views inside a TabViewItem if the TabView page itself has a Binding defined

### Steps to Reproduce

1. Binding with ViewModels in TabViewItem works if there is no ViewModel on the view or there is the TabView
2. If you add a ViewModel on the page where there is the TabView, the binding of the TabViewItem views models no longer works.
3. But on the other hand they

[2021-05-14 00:44] #1216 closed

[2021-05-14 07:17] nacompllo commented on #1288
Hi, the normal command doesn't work in UWP either, not even if I include the assemblies in App.xaml.cs.

[2021-05-14 08:48] #1239 closed

[2021-05-14 09:07] jfversluis commented on #1284
Hi @stavroaudi is there any reason why you're not using the issue template as provided? It gives us valuable background information as to which versions you're seeing this behavior on etc.

Please update this issue using [the template](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/.github/ISSUE_TEMPLATE/bug-report.md) and even better; provide a reproduction project that shows the is

[2021-05-14 09:39] Pankajgangwar613 opened #1292 "AvatarView crashes if generic style is defined in App.xml"
### Description

### Steps to Reproduce

1.
[code]
2.
3.
i am using up to date nuget package
AvatarView not working  in android platform app is crash when define xct:Avatar view  in app.xaml for Style

Crash error of my system
System.NullReferenceException: 'Object reference not set to an instance of an object.'

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with iss

[2021-05-14 09:45] jfversluis commented on #1292
Please share some more details as requested by the template, thanks

[2021-05-14 09:49] nacompllo commented on #1171
I just tested the nuget and the MediaElement is still not working in UWP. With the following configuration:
Target version: 1903
Min version: 1809

[2021-05-14 09:55] HeikkiDev commented on #591
Same issue using ListView and TabView on Android.

Only workaround I found is setting
`IsSwipeEnabled="False"`

Notice this way your force users to tap tab headers to switch to another tab content.

[2021-05-14 10:08] nacompllo commented on #1171
I just created a test project where the problem can be reproduced: https://github.com/nacompllo/MediaElementIssue

[2021-05-14 12:46] abhcr opened #1294 "[Bug] iOS: Tabview Item does not update width when switching orientation between portrait and landscape"
### Description
In iOS (iPhone and iPad), tabview contents does not update their width, height, and position when orientation is switched between portrait and landscape.

### Steps to Reproduce

1. Create Tabviews with 2 or more tabview items inside one of the pages in a shell tab.
2. Switch between tabview items in portrait orientation in iOS.
3. Change iOS device orientation to landscape.
4. Now

[2021-05-14 17:09] vhugogarcia commented on #1189
I'm facing the same issue @jpacov and @michaelb-yambay are sharing here.

Is there any workaround?

[2021-05-14 20:06] AustinAHunter commented on #1294
I am also experiencing this same issue on the latest version of Xamarin Forms and Toolkit. The only way it works without redeploying is by navigating away and back to the ContentPage with the TabView in the wanted orientation.

[2021-05-14 23:01] kerberosargos opened #1295 "Lifecycle events does not work in release mode for Android."
Hello, my sample as below. It is working in debug mode but is not working in release mode for Android. Thank you in advance.

[code]

[2021-05-14 23:04] pictos commented on #1295
@kerberosargos
Could you attach a small repro?

[2021-05-14 23:49] kerberosargos commented on #1295
Hello @pictos my project is very complex. But I have wrote my sample snippet in post.

[2021-05-14 23:55] pictos commented on #1295
@kerberosargos I saw it, but since we maintain this project in your free time, isn't that easy to create a project here and try to add your snippet and reproduce the issue. If you can't provide one, it's completely fine but that can take a little bit longer to us to look into it.

Other than that, can you try to add this on your ctor in App.xaml.cs?

`_ = new LifecycleEffect();`

and let me know i

[2021-05-15 00:41] kerberosargos commented on #1295
Hello again I have tried as below but it did not work again.

[code]

[2021-05-15 09:38] maxkoshevoi commented on #988
@AndreiMisiukevich Looks like it's still broken for rounded buttons:
![image](https://user-images.githubusercontent.com/6609929/118355732-4862bc80-b57a-11eb-9b19-88ad0eed95bb.png)

It looks the same as workaround in this bug (appling shadow to the container of the button)

[2021-05-15 10:09] themronion commented on #1288
@nacompllo play with the minimum/target version. There was a problem with that, i don't remember exactly what versions are needed, @AndreiMisiukevich remind please

[2021-05-15 10:49] nacompllo commented on #1288
I have tried several combinations but it seems that it does not work either, at the moment the only solution is to stay in version 1.0.3 which is the last version where it works.

[2021-05-15 11:57] maxkoshevoi commented on #1295
What is your linker configuration for release and debug modes?

[2021-05-15 12:03] kerberosargos commented on #1295
Hello @maxkoshevoi

**Release is**
SDK Assemblies Only

**Debug is**
None

[2021-05-15 12:09] Pankajgangwar613 commented on #1292
define in app.xaml
<Style ApplyToDerivedTypes="True" TargetType="xct:AvatarView">
            <Setter Property="Size" Value="40" />
            <Setter Property="Color" Value="Transparent" />
        </Style>
[code]

[2021-05-15 14:30] maxkoshevoi commented on #1295
Could you set it to SDK assemblies only for Debug and
1) Verify that issue is present in Debug too
2) See if there are any binding failures

[2021-05-15 15:52] pictos commented on #1292
@Pankajgangwar613
Could you attach a small repro? That way we can debug it faster. Thanks in advance

[2021-05-15 16:10] auriou commented on #1290
The bug is here

![image](https://user-images.githubusercontent.com/1873587/118370406-da34ee80-b5a7-11eb-8ce7-b56c43651942.png)

here is a fix, i can do a PR for you

[code]

[2021-05-15 16:19] pictos commented on #1290
@auriou great! Just sent that PR. Since this is a bug fix, please target our `main` branch

[2021-05-15 23:29] AndreiMisiukevich commented on #988
@maxkoshevoi yes, it's not the ideal solution, but it works better now, right?)
Feel free to throw a PR for a rounded button
Also, feel free to open a new issue for rounded button as well (since this issue is about adding shadow to text rather than to entire button)

[2021-05-15 23:30] AndreiMisiukevich commented on #1288
@jfversluis @pictos  what is the minimum required version for UWP?

[2021-05-15 23:33] AndreiMisiukevich commented on #1288
Try to set UWP higher UWP version like described here https://github.com/xamarin/XamarinCommunityToolkit/pull/1247

I am pretty sure it's not TouchEffect issue (just need to set a proper UWP version)

[2021-05-15 23:36] pictos commented on #1288
@AndreiMisiukevich if the issue is the caused by UWP version, that should be fixed in the next stable release.

[2021-05-15 23:38] AndreiMisiukevich commented on #1288
Can anyone check if toucheffect works fine on UWP with our sample app?

[2021-05-15 23:44] pictos commented on #1288
@AndreiMisiukevich yes it's working.

[2021-05-15 23:54] AndreiMisiukevich commented on #1288
@pictos can we advice some workaround for now and close this issue?

[2021-05-15 23:57] pictos commented on #1288
@AndreiMisiukevich may be saying that this is duplicated from #998 or any other UWP target issue and close this one...

IMHO we can close this one since we have other issues tracking this problem.

[2021-05-16 00:00] #1288 closed

[2021-05-16 00:23] AndreiMisiukevich commented on #1292
Verified. The issue exists.
Working on fix

[2021-05-16 00:31] maxkoshevoi opened #1298 "[Bug] ShadowEffect's shadow doesn't follow button's perimeter"
Continuation of: #988

### Description

Shadow effect adds rectangular shadow even to buttons with rounded corners

### Steps to Reproduce

Add shadow effect to any rounded button

### Expected Behavior

Rounded shadows for rounded buttons

### Actual Behavior

Rectangular shadows for rounded buttons

### Basic Information

- Version with issue: 1.2.0-pre2
- Last known good version: -
- IDE: VS201

[2021-05-16 00:31] maxkoshevoi commented on #988
@AndreiMisiukevich Better, but still not as expected.. Created a new bug to track this: #1298

[2021-05-16 00:32] AndreiMisiukevich commented on #1298
@maxkoshevoi Thanks)

[2021-05-16 01:06] #1292 closed

[2021-05-16 02:21] #1298 closed

[2021-05-16 04:17] phandcock commented on #1251
Hi, this is an issue with my UWP store app.  I have put in a workaround to ignore the InvalidCastException until it is fixed.

[2021-05-16 04:29] pictos commented on #1251
@phandcock can you share your workaround?

[2021-05-16 06:51] phandcock commented on #1251
Workaround is too strong a term.  More like, swallow the exception and accept that the popup will not be displayed.  A pain but I am not good enough to fix it myself.

The code is:

 try
                {
                    DataLog.PopupDismissFlag = false;

                    // TODO Ignore exception. See https://github.com/xamarin/XamarinCommunityToolkit/issues/1251
                    var pop

[2021-05-16 07:16] inforithmics commented on #1251
In the pull https://github.com/xamarin/XamarinCommunityToolkit/pull/1247 request I discovered this exact problem

And this commit "fixes" the problem

https://github.com/xamarin/XamarinCommunityToolkit/pull/1247/commits/e85895d4ab1d223d136c4b86ab374267193bcf66

I think the underlaying problem is a Code Optimization Bug in in the Native Compiler.

[2021-05-16 07:40] inforithmics commented on #1251
The nuget with this fix can be downloaded here

https://dev.azure.com/xamarin/public/_build/results?buildId=40249&view=artifacts&pathAsName=false&type=publishedArtifacts

[2021-05-16 09:54] phandcock commented on #1251
It works!  You sir, as my father would have said, are a gentleman and a scholar.

I am setting up a new release now.  Thank you.

[2021-05-16 10:56] maxkoshevoi opened #1304 "[Bug] Regression: TouchEffect NativeAmination doesn't work on images with TapGestureRecognizer"
### Description

`NativeAmination` doesn't work on images. It stopped working after some update (possibly 1.1.0)

### Steps to Reproduce

1. Add native animation to any image
2. Add `TapGestureRecognizer` to the same image
3. Run the app and touch the image

(you can use sample page for testing, there is already an image there)

### Expected Behavior

Native animation works

### Actual Behavior

N

[2021-05-16 10:57] maxkoshevoi commented on #1304
CC: @AndreiMisiukevich

[2021-05-16 12:04] jfversluis commented on #1295
@kerberosargos is there any specific reason you ignored our bug report template? It would be great if you used it, because it gives us a lot of information to work with instead of having to ask you all these questions separately :)

[2021-05-16 12:08] kerberosargos commented on #1295
I am too late for my project. Because of that I did not tried your sdk
suggestion. Because I was finding issuse one week after I found I refactor
my codes. Now I am not going back again. If I will find rest time I will
try. But I think you can try with this discuss.

16 May 2021 Paz 15:04 tarihinde Gerald Versluis ***@***.***>
şunu yazdı:

[2021-05-16 19:23] maxkoshevoi commented on #1304
@AndreiMisiukevich I was able to partially fix the bug. Ripple effect appears one on first touch. On any subsequent touches `OnTouch` just isn't invoked. It's invoked for `MotionEventActions.Down` and `MotionEventActions.Up` of the first touch and that's it.

[2021-05-16 21:42] AndreiMisiukevich commented on #1304
@maxkoshevoi great investingation) reviewing PR

[2021-05-16 21:47] AndreiMisiukevich commented on #1304
Hey @maxkoshevoi what android version do you use for testing?

It works fine for me on Android API 28

![image](https://user-images.githubusercontent.com/10124814/118413704-f6688680-b6a0-11eb-9b95-e7523fed576f.png)

[2021-05-16 21:52] AndreiMisiukevich commented on #1304
@maxkoshevoi unfortunately with your current fix another bug starts to reproduce for me :(
This one https://github.com/xamarin/XamarinCommunityToolkit/pull/817

That's why I didn't set the entire View to rippleView

I presume you test on Android 5, no?

[2021-05-16 22:04] AndreiMisiukevich commented on #1304
Tried Android 11 (works fine w/out proposed changes as well).

Could you please re-test?

[2021-05-16 22:35] maxkoshevoi commented on #1304
Hm, you are correct it does work in sample app, but it doesn't in my app for some reason (during testing I mixed up something and thought that it doesn't work in general).

I'll do some more tests later to investigate what's going on in my case.

Thank you for checking the issue.

[2021-05-16 22:48] AndreiMisiukevich commented on #1304
@maxkoshevoi thank you :)
Hm, interesting. Maybe it's a linker issue... again...

[2021-05-16 22:58] maxkoshevoi commented on #1304
@AndreiMisiukevich Looks like it's `TapGestureRecognizer` that's doing it.

If I remove this
[code]

and add this
[code]

animation magically begins to work

[2021-05-16 22:59] maxkoshevoi commented on #1304
It's definitely not linker this time. I disabled it during my tests

[2021-05-16 23:16] maxkoshevoi commented on #1304
General question. Why does `TouchEffect` needs `Command` anyway? Are there some benefits/drawbacks of using it instead of `TapGestureRecognizer `?

[2021-05-16 23:41] AndreiMisiukevich commented on #1304
@maxkoshevoi well, actually TouchEffect should work with TapGestureRecognizer as well. But in the case of Image (on Android), XF implementation of TapGestureRecognize intercepts gestures (prevents passing touch events to image renderer).

It happens because in the case of Image we don't control ripple animation (we put it to the foreground of view instead of the Group's background like we do for L

[2021-05-16 23:50] maxkoshevoi commented on #1304
So it's better to use `Command`, got it.
Can you add a check when setting ripple to the view itself if there is tap recognizer attached to the view, and throw exception if it is (that says that native animation won't work and user needs to use `Command` instead)?

[2021-05-17 00:50] AndreiMisiukevich commented on #1304
Would be better to work around this issue somehow. Need to think.

[2021-05-17 07:35] ninaada opened #1308 "[Bug] Toast and Snackbar not working in UWP"
### Description
Toast and Snackbar are not working in UWP. But, they seem to be working only in the samples repo/app of the toolkit.
Attaching a repro of the same.

### Steps to Reproduce

Use the zip to download and run the project in Visual Studio

### Expected Behavior
Toast should be displayed after 3 seconds with message "Test notification"

### Actual Behavior
A System.PlatformNotSupportedEx

[2021-05-17 12:05] angelru opened #1309 "[Enhancement] Floating label entry"
It would be nice to have something like this:
https://trailheadtechnology.com/building-a-floating-label-entry-with-xamarin-forms/

[2021-05-17 14:59] webapps-rvcits opened #1310 "[Bug] AvatarView display no image from StreamImage source"
Description
AvatarView display no image from StreamImage source.

Steps to Reproduce
Bind the SteamImage as source to the AvatarView

Expected Behavior
Image will be displayed

Actual Behavior
Display no image

Basic Information

Version with issue: 1.1.0
Last known good version: 1.0.3
IDE: VS19
Platform Target Frameworks: .net 5.0.5
iOS: 14.4
Android: 11
UWP:
Android Support Library Version:
Nuge

[2021-05-17 16:53] rsbepvb opened #1311 "[Bug]Error: : XamlC error XFC0000 : Cannot resolve type "Shield""
### Description.  Error:  : XamlC error XFC0000 : Cannot resolve type "Shield"

### Steps to Reproduce

1.   Installed Xamarin Community Toolkit (v 1.1.0) in All projects (iOS, Android, Main)
2.   Insert xmlns:xct="http://xamarin.com/schemas/2020/toolkit" in xaml page
3.  Insert <xct:Shield x:Name="Shield1"
                Subject="Software Version Number"
                Status="on discord"

[2021-05-17 21:22] TomReemer commented on #1308
Hi There,

The same here as well.
I'm redoing a sample of Gerald Versluis on ToastAsync works just fine on Android, as expected, but on UWP I get a System.PlatformNotSupportedException: 'Operation is not supported on this platform.'

Code-behind:
    async public void OnButton_ClickMe(object sender, EventArgs args)
    {
      await this.DisplayToastAsync("Does it work?", 10000);
    }

[2021-05-18 06:22] VladislavAntonyuk commented on #1308
I will take a look. From the exception I can say that the issue happens because the uwp implementation of the Snackbar is not found. The code is executed from the NetStandard

[2021-05-18 08:41] jfversluis commented on #1311
I've seen this a couple of times...

Any reason you discarded the rest of the report template? Because I would love to know if you're using Visual Studio on Windows or Mac for instance. If you could complete it with the missing info as much as possible that would be great.

Could you try deleting your bin & obj folders from each project folder on the filesystem and see if it still occurs?

Not sur

[2021-05-18 08:42] jfversluis commented on #1310
Could you please add some code or a reproduction project so we know how you are actually assigning the image? Also, you did try 1.2.0-pre2, right? And it still occurs there?

[2021-05-18 08:44] jfversluis commented on #1308
Looks like a problem with the target versions on UWP and the wrong DLL being included when the developer targets the wrong UWP version?

@TomReemer what version are you targeting? Could you try playing with that setting and see if that changes something?

[2021-05-18 08:57] VladislavAntonyuk commented on #1308
At least I expect to see "Anchor Not Supported on UWP"

[2021-05-18 09:45] ninaada commented on #1308
@jfversluis Maybe, but another interesting thing is that this happens when installed via nuget. If I run the sample in  XCT repo, it works. Maybe some kind of dll issue.

[2021-05-18 10:26] AndreiMisiukevich commented on #1310
Hi @webapps-rvcits doesn't it work both on android and iOS?
Also, as Gerald mentioned, can you please try latest **pre**-release version?

[2021-05-18 10:28] AndreiMisiukevich commented on #1310
@webapps-rvcits I hope this issue should be resolved in the last pre-release version.

[2021-05-18 10:33] AndreiMisiukevich commented on #1308
Hi @ninaada ```UWP: 18362``` can you please play with target versions? (try to set the most recent and test if it works)

[2021-05-18 10:35] VladislavAntonyuk commented on #1308
for some reason, the Border (https://github.com/xamarin/Xamarin.Forms/blob/b85c28e530eff581c6fa48742e07cd84cca7dd3e/Xamarin.Forms.Platform.UAP/PageControlStyle.xaml#L48) is not found and we are not able to put the Snackbar

[2021-05-18 10:41] rsbepvb commented on #1311
Thanks JFVerluis.    I deleted the bin and obj folders from each project folder and recompiled but unfortunately, the same error is still present.   As for the additional information, see below:

- Version with issue:   xct 1.1.0
- Last known good version:  none
- IDE:  Visual Studio Community 2019 for Mac
Version 8.9.9 (build 3)
- Platform Target Frameworks:
  - iOS:  xcode 14.5
  - Android:   Ta

[2021-05-18 10:48] ninaada commented on #1308
@AndreiMisiukevich Tried with 17763 and 19041 as well. Cleaned, uninstalled the app before running. Same issue there also.

[2021-05-18 11:07] VladislavAntonyuk commented on #1308
I found the solution, you have to change in App.xaml.cs -> MainPage = *new NavigationPage*(new MainPage());

[2021-05-18 11:25] ninaada commented on #1308
@VladislavAntonyuk Tried that, still getting the same exception.
![image](https://user-images.githubusercontent.com/5279131/118643191-dac4c380-b7f9-11eb-9327-f039606da7fa.png)

[2021-05-18 12:51] VladislavAntonyuk commented on #1308
if you manually add a ProjectReference to the XCT project it should work
@jfversluis looks like the issue with the NuGet package

[2021-05-18 13:01] VladislavAntonyuk commented on #1308
To summarize:
To make it work right now you need 2 things:
1. Add ProjectReference to the Xamarin.CommunityToolkit.csproj (Nuget issue - The code is executed from the netstandard library)
2. Use NavigationPage. ```MainPage = new NavigationPage(new MainPage())```. Probably needs to be added to the documentation.

[2021-05-18 13:33] jfversluis commented on #1309
Looks cool! Not sure if @vecalion is willing and able to talk to us and see what we can do? :)

[2021-05-18 13:35] #1304 closed

[2021-05-18 13:37] jfversluis commented on #937
I think a lot of people want this, not sure how easy it is to implement though

[2021-05-18 14:10] vecalion commented on #1309
@jfversluis I use XCT in all of my projects. If there is a way I can help, I'm all yours :)

[2021-05-18 14:48] webapps-rvcits commented on #1310
Good day Mr. Gerald. I'm Roberto Jr Cantos, one of your YouTube subscriber for Xamarin Community Toolkit. I've already tried it on the latest release of XCT 1.2.0 -pre but still problem exist. I can't post my app repository since it is met for business but I can make an another project and post it here just give me an ample of time because I'm always busy on my business and at the same time I'm al

[2021-05-18 14:50] webapps-rvcits commented on #1310
Good day Mr. Andrei. I've already tried it on XCT 1.2.0 -pre release.

[2021-05-18 16:16] matteovelati opened #1314 "[Bug] CameraView crashing when snapping picture with FlashMode set to Torch"
### Description
When using Torch flash mode in a camera view, I'm unable to snap pictures without crashing.

### Steps to Reproduce

1. Create a CameraView with CaptureMode="Photo", CameraOptions="Back", FlashMode="{Binding CameraFlashMode}"
2. Toggle a button to switch from FlashMode="Off" to FlashMode="Torch"
3. Snap a picture

### Expected Behaviour
I expect to snap a photo having the flash alw

[2021-05-18 17:19] YZahringer opened #1315 "[Enhancement] CornerRadiusEffect"
## Summary
Support `CornerRadius` on any `VisualElement`.

## API Changes
- `CornerRadiusEffect.CornerRadius`

## Intended Use Case
`CornerRadius` everywhere

## Who Will Do The Work?
- [x] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-05-18 18:05] Brosten opened #1317 "BadgeView doesn't work on Horizontal options like FillAndExpand[Bug]"
### Description
The badgeview makes HorizontalOptions of the control it surrounds out of order.

### Steps to Reproduce
Try this
  <xct:BadgeView
            BackgroundColor="Red"
            FontAttributes="Bold"
            FontSize="Medium"
            TextColor="White"
            Text="1">
            <Button
                Text="This label has a badge in the top-right" HorizontalOptions="Fi

[2021-05-18 20:28] matteovelati commented on #1150
Where can we find 1.1.1 that solves this issue?

[2021-05-18 21:36] GUOLDEV commented on #1150
Hi @matteovelati, you can find the fixed version in the latest preview version [here](https://github.com/xamarin/XamarinCommunityToolkit/releases/tag/1.2.0-pre2)

[2021-05-19 10:52] webapps-rvcits commented on #1310
Good day Mr. Gerald and Mr. Andrei. Here the link of my repo
https://github.com/webapps-rvcits/AvatarViewStreamImageSource.git
The installed Xamarin Community Toolkit is version 1.0.3 where AvatarView display the Image from the StreamImage Source. I hope and pray that you could help me regarding this matter. Thank you

[2021-05-19 11:21] kerberosargos commented on #1295
@pictos Hello again

Hello again.

I have tried yet. Yes it is working in release mode with if link settings is "None" but it is not working with "SDK Assemblies Only" in release mode.

Thank you in advance.

[2021-05-19 11:32] maxkoshevoi commented on #1295
@kerberosargos Did you have some time to investigate what bindings are failing?

[2021-05-19 13:57] KeithBoynton opened #1320 "[Enhancement] Add Popup Support for macOS"
When trying to use the new Popup control in XCT 1.1.0 like this:

`Navigation.ShowPopup(new TestPopup());`

The following exception is raised.

`The current platform 'macOS' does not support Xamarin.CommunityToolkit.BasePopup`

I'm aware there was a similar issue for UWP that could be resolved by targeting it correctly at a specific SDK: https://github.com/xamarin/XamarinCommunityToolkit/issues/88

[2021-05-19 17:36] VladislavAntonyuk commented on #1308
as for the first item looks like we have simular issue: https://github.com/xamarin/XamarinCommunityToolkit/issues/889#issuecomment-777930720

[2021-05-19 19:49] kerberosargos commented on #1295
@pictos Hello again

Hello again.

I have tried yet. Yes it is working in release mode with if link settings is "None" but it is not working with "SDK Assemblies Only" in release mode.

Thank you in advance.

[2021-05-19 20:46] AndreiMisiukevich commented on #1320
@VladislavAntonyuk could you please address this question?) :) Thanks

[2021-05-19 20:46] AndreiMisiukevich commented on #1320
@ahoefling could you please address this question?) :) Thanks

[2021-05-19 20:47] AndreiMisiukevich commented on #1320
Yes, as I see, currently we don't have a macOs popup renderer.
Feel free to contribute it 👍

[2021-05-19 20:49] ahoefling commented on #1320
AFAIK macOS is not a supported platform. I believe the APIs are very similar between iOS and macOS so it may be able to use the same renderer.

[2021-05-20 11:23] stavroaudi commented on #947
Any updates? Still doesn't work on 1.2.0-pre2

[2021-05-20 15:25] jfversluis commented on #1320
Like the message (and comments in here) say: not supported atm. Turning this into a feature request, anyone who is up for it can contribute this!

[2021-05-20 22:41] AndreiMisiukevich commented on #1310
I will try to find some time over weekend to check this out

[2021-05-21 01:32] webapps-rvcits commented on #1310
Good day Mr. Andrei,

Thank you for the help. I'm counting on you.

Yours truly,

Roberto V. Cantos Jr
webapps-rvcits

On Fri, May 21, 2021 at 6:41 AM Andrei ***@***.***> wrote:

--
Yours truly,

Roberto V. Cantos Jr
WebApps Developer

Mobile No: 09266762839

[2021-05-21 02:47] pictos commented on #1310
I ran your code sample and works on my end.
![image](https://user-images.githubusercontent.com/20712372/119074641-c46b6300-b9c5-11eb-9fc3-becaa77328ee.png)

[2021-05-21 02:48] pictos commented on #1310
cc: @AndreiMisiukevich

[2021-05-21 03:43] webapps-rvcits commented on #1310
Good day Mr. Pedro Jesus,

Yes it will work because the XCT of my repo is version 1.0.3. Try to update
the XCT to version 1.1.0 and 1.2.0 -pre. You will see the difference. Thank
you

Yours truly,

Roberto V. Cantos Jr
webapps-rvcits

On Fri, May 21, 2021 at 10:49 AM Pedro Jesus ***@***.***>
wrote:

--
Yours truly,

Roberto V. Cantos Jr
WebApps Developer

Mobile No: 09266762839

[2021-05-21 09:20] ignatiucnetinfo opened #1325 "[Bug] Popup is crashing if the Size property is set on Nexus 4, Lollipop 5.0, api 21"
### Description

The title says everything. The Popup view, if has Size property set, is crashing with an:

System.InvalidCastException
  Message=Specified cast is not valid.

XCT version 1.2.0-pre2

[2021-05-21 12:11] jfversluis commented on #1325
Actually it doesn't :)

There is much more info in the bug report template that would be really helpful to is. In the very least: what is the code/XAML you are using that causes this error?

Please update the issue with as much detail as possible and do so for next issues you open. The info in there might look trivial to you, but it is in there for a reason.

Thanks

[2021-05-21 12:28] jfversluis commented on #1310
Hey @webapps-rvcits I've just taken your repository, updated it to 1.2.0-pre2 and it seems to work perfectly

[2021-05-21 12:36] AndreiMisiukevichEmobilitydv commented on #1310
Thanks @pictos and @jfversluis for checking.

@webapps-rvcits please make sure your update the code to 1.2.0-pre**2** (pre-release number 2)

[2021-05-21 12:38] AndreiMisiukevich commented on #1310
Thanks @pictos and @jfversluis for checking.

@webapps-rvcits please make sure your update the package to 1.2.0-pre2 (pre-release number 2)

[2021-05-21 13:02] GuidoNeele opened #1327 "[Enhancement] ValidationGroupBehavior"
## Summary

A behavior to validate multiple validation behaviors. When all validations have passed IsValid on the group validation will be true. Handy for enabling a button only when all validations have passed.

## API Changes

- **Behaviors\Validators\ValidationGroupBehavior.cs** (new file)
Groups all validation behaviors and checks if all validations have passed.
- **Behaviors\Validators\Valida

[2021-05-21 22:27] Cfun1 commented on #1217
@pictos @jfversluis any thoughts ?

[2021-05-21 22:28] Cfun1 commented on #1178
@jfversluis any thoughts ?

[2021-05-22 03:26] pictos commented on #1217
TBH I have no idea about the impact of this chsnfe I'll need to do a spike, for the next release

[2021-05-22 16:47] Orgbrat commented on #887
So folks this is a show stopper on UWP Shell application. The tab just does not switch no matter what you do. Double tapping tab does not make it switch.  And I am using the very latest XCT v1.2.0-pre2.

[2021-05-22 16:51] Orgbrat commented on #1037
This is related to a previous issue  [#887](https://github.com/xamarin/XamarinCommunityToolkit/issues/887). Looks like we have been dealing with this issue since at least February 11 2021.

[2021-05-22 22:07] DamianAntonowicz commented on #1135
Just letting know that I'm working on integrating Calendar control into XCT :) Here is a short video of work in progress:

https://user-images.githubusercontent.com/12022141/119241954-6b810380-bb5a-11eb-96e5-4c73e6a59e82.mp4

What's left is cleaning the code. Hopefully I will submit PR soon :)

[2021-05-23 03:54] monahk commented on #901
Any new update on this fix?

[2021-05-23 18:38] DamianAntonowicz commented on #1135
@pictos @jsuarezruiz I've submitted PR: https://github.com/xamarin/XamarinCommunityToolkit/pull/1331 any comments welcome :)

[2021-05-24 18:55] Midnayt opened #1333 "[Bug] Localization. Picker "Cancel" doen't change after changing other languages."
### Description
If device language is different than that selected it doesn't effect on Picker's "Cancel"
### Steps to Reproduce

1. Run sample
2. Go to Settings and change lang to Spanish
3.  Open picker

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:1.1.0
- Last known good version: unknown
- IDE: VS 19 (Version 16.9.6)
- Platform Target Frameworks:
  - i

[2021-05-25 04:32] LeoJHarris commented on #1012
@Kapusch If this is only occurring on iOS and not on android then how could events ordering, BindingContext initializations be factors are these handled differently on iOS?

[2021-05-25 06:47] GUOLDEV opened #1334 "[Enhancement] [CameraView] Implement camera controls such as focus and exposure"
## Summary

 Implement camera controls such as a focus on tap, exposure, etc, like in the [MediaPlugin](https://github.com/jamesmontemagno/MediaPlugin) TakePhotoAsync or in the [ManualCameraControls](https://github.com/xamarin/ios-samples/tree/main/ManualCameraControls) as a reference.

![image](https://user-images.githubusercontent.com/22019245/119453550-e1fc4c00-bd7a-11eb-95fd-7e1d548e0421.png)

[2021-05-25 07:14] GUOLDEV commented on #1334
Hi @conceptdev, I am happy to work on this issue, but I would like to ask you if it is achievable.

[2021-05-25 08:02] davidbritch commented on #1334
Hi @GUOLDEV

I think you need to speak to @jfversluis

[2021-05-25 08:16] GUOLDEV commented on #1334
Hi @davidbritch , thanks for the prompt reply, I edited the comment adding @jfversluis as well 👍

[2021-05-25 08:58] stavroaudi commented on #947
I noticed that this is related to another issue. I have a TabView, and 2 TabViewItems, and have set IsSwipeEnabled to False. Inside the first TabViewItem I have a SwipeViewItem where you swipe left to delete an item. On the first try, the swipe to delete works, but if I dimiss it and swipe again to show the delete button, the tab indicator width is reset and it swipes to the second TabViewItem ins

[2021-05-25 09:06] Countryen commented on #985
The workaround with `<GenerateErrorForMissingTargetingPacks>false</GenerateErrorForMissingTargetingPacks>` doesn't work for my .NET 5 test projects. Also I don't want to disable all (unknown) errors. You can, however, disable them more specifically, if you include the packages yourself, like this:

Project.Tests.csproj:
[code]

But you should check the status of this issue and remove the workaroun

[2021-05-25 10:23] stavroaudi opened #1335 "[Bug] TabView IsSwipeEnabled is reset after first swipe"
### Description
I have a TabView, and 2 TabViewItems, and have set IsSwipeEnabled to False. Inside the first TabViewItem I have a SwipeViewItem where you swipe left to delete an item. On the first try, the swipe to delete works, but if I dimiss it and swipe again to show the delete button, the tab indicator width is reset and it swipes to the second TabViewItem instead of executing the SwipeViewIt

[2021-05-25 12:16] jfversluis commented on #1333
Thank you for reporting @Midnayt ! However this is not a bug. The cancel button is a button that is translated by the OS, you should do extra configuration on the app to make that work. For the sample app we didn't do that, we only translate a couple of labels to show how our translation mechanism works. :)

[2021-05-25 12:16] #1333 closed

[2021-05-25 15:29] Midnayt commented on #1333
What about other controls which have OS translation(f.e. DatePicker)? Does it mean, that your translation works partially and need extra implementation for full translation(didn't see any warnings about this limitation)?

[2021-05-25 16:28] Kukkimonsuta commented on #1111
You cannot have multiple effects of this type added to same element, see implementation here:

https://github.com/xamarin/XamarinCommunityToolkit/blob/7db4941a02e16dfd8151c3df198954dbc17a0be1/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/LifeCycle/LifeCycleEffectRouter.ios.cs#L21-L22

Following code should work as expected:
[code]
[code]

[2021-05-26 00:35] pictos commented on #1335
@stavroaudi
Could you attach a small repro? That will help us to move faster in the investigation

[2021-05-26 09:25] zeib opened #1337 "[Enhancement] Adding a converter argument on TranslateExtension"
## Summary

Often there is the need to convert the localized text (e.g. changing the text case). Since the TranslateExtension returns a BindableProperty it seems that there is no "pretty" way of doing this.

## API Changes

Example XAML call after the change:
`"{xcmt:Translate key, Converter={StaticResource ExampleConverter}}"`

Changes required on the TranslateExtension class:

Adding the convete

[2021-05-26 11:13] KeithBoynton commented on #582
The documentation at https://docs.microsoft.com/en-us/xamarin/community-toolkit/views/mediaelement states:
![image](https://user-images.githubusercontent.com/39023169/119647944-ca73a080-be18-11eb-9b0a-579ec5a8c0d9.png)

However, it hasn't been working on macOS for me, so I downloaded the MediaElementSample and added a macOS head project. That doesn't work either (just basic video play from a URL).

[2021-05-26 11:40] justforfun-98 commented on #776
I am experiencing the same behavior and created a [minimal example project](https://github.com/justforfun-98/xct-tabview-bug) in hope to aid the resolving of this bug.
It would be great if someone could verify the bug as it is still unverified.

[2021-05-27 08:28] themarwik commented on #1037
then i just have to wait until it is fixed

[2021-05-27 19:59] davidbuckleyni commented on #1135
Dont forget to let it handle null dates at the start ie non selected or place holders @DamianAntonowicz  one of the failings of the normal date pickers

[2021-05-27 21:52] Dreamescaper opened #1340 "[Bug] DisplaySnackBarAsync does not wait for action task"
### Steps to Reproduce

Debug the following code, and tap on "Retry" button.
[code]

### Expected Behavior
Retry action is awaited, Breakpoint2 is hit after Breakpoint1.

### Actual Behavior
Retry action is not awaited, Breakpoint1 is hit after Breakpoint2.

### Basic Information

- Version with issue: 1.1.0
- Platform Target Frameworks:
  - Android

### Workaround
I did something like that:
[code

[2021-05-27 22:08] meJevin commented on #776
@justforfun-98, @Kapusch, @jsuarezruiz, @waltersh790824.

Update: this is actually a deeper issue. I've tested this on Android in Xamarin.Forms.

The issue is with CarouselView. When CarouselView has an Entry with HorizontalTetxAlignment set to something other than Start, upon focus it does something really weird to CarouselView, which causes it to spin out of control and scrolls to start.

No ide

[2021-05-27 22:09] meJevin commented on #776
@jsuarezruiz, I'll provide a reproduction project shortly.

[2021-05-27 23:04] Dreamescaper opened #1341 "[Bug] DisplaySnackBarAsync Task never completes if another SnackBar appears"
### Steps to Reproduce

Execute the following:
[code]

### Expected Behavior
Both tasks are completed, res1 and res2 are false;

### Actual Behavior
task1 never completes, therefore execution is stuck.

### Basic Information

- Version with issue: 1.1.0
- Platform Target Frameworks:
  - Android

[2021-05-27 23:42] technololy commented on #1196
@HarryLobster  i wanted this too. what i came up with is a conditional input transparent logic in code behind

[2021-05-28 13:42] samafshari commented on #901
I also have this problem. Calling Shutter, expecting MediaCaptured to be called, but it's not. Works fine on Android, doesn't work on iOS. Using v1.1.0

[2021-05-28 18:13] ankitgupta2oct commented on #1309
New to the contribution world but I want to help here.

[2021-05-28 22:55] pictos commented on #1309
I believe that we can do it using the XF.Material package... Or am I missing something here?

[2021-05-29 08:09] angelru commented on #1309
@pictos  any example?

[2021-05-30 00:31] pictos commented on #1309
@angelru
https://youtu.be/9ZAaffkSZ1Q

[2021-05-30 00:50] pictos commented on #1341
@Dreamescaper
Could you attach a small repro?

[2021-05-30 00:50] pictos commented on #1340
@Dreamescaper
Could you attach a small repro?

[2021-05-30 00:52] pictos commented on #1337
I believe that we can do it without a Converter... We can just add a new Property on the Markup Extension that will control it. What do you think @zeib ?

[2021-05-30 00:54] pictos commented on #1334
@GUOLDEV  Do we have references for this feature across other platforms?

[2021-05-30 04:23] GUOLDEV commented on #1334
@pictos it's available for iOS and Android, I will need to confirm for other platforms

[2021-05-30 09:06] zeib commented on #1337
Yes, that is possible as well, but I do believe that exposing the Converter of the BindableBase that is returned is much more versatile. For example, I always have to use a custom uppercase converter to take care of capitalizing some special Greek characters, that almost no converter seems to handle. So using the converter included in the community toolkit is rather limiting and will still call fo

[2021-05-30 12:58] RenegadeVile opened #1342 "[Bug] TouchEffect does not revert Button State from Pressed to Normal"
### Description

I am using TouchEffect from the Xamarin Community Toolkit to add Pressed animations to my buttons. However, I noticed there was no option to animate TextColor so I used the VisualStateManager to switch the TextColor when Pressed instead. However, it appears that using TouchEffect and Visual States together causes some issues. After clicking the button, the TextColor changes in acc

[2021-05-30 13:09] RenegadeVile commented on #1261
This occurs with ScrollViews as well. Any View I add TouchEffect.NativeAnimation to will have that animation triggered when scrolling and I happen to start the scroll with a tap over said View.

[2021-05-30 13:15] Dreamescaper commented on #1340
Sure!
I've attached sample project. Start the project, click on "Show SnackBar" button, then click on "Action" button on snackbar.

Expected:
actionTask.Status should be `RanToCompletion` when execution continues after `await this.DisplaySnackBarAsync`.

Actual:
actionTask.Status is `WaitingForActivation` when execution continues after `await this.DisplaySnackBarAsync`.

[Repro.zip](https://github

[2021-05-30 13:27] Dreamescaper commented on #1341
Sure!
I've attached a sample project. Start the project, click on "Show multiple SnackBars" button.

Expected:
When all snackbars are hidden (due to timeout), button handler completes, and prints 'Completed';

Actual:
Execution is stuck on `await snackbarTask1` line, it never completes.

[Repro.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6566269/Repro.zip)

[2021-05-30 18:20] AndreiMisiukevich commented on #1342
Hi @RenegadeVile thanks for your report
You should use the "Unpressed" state name.

https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/TouchEffect.shared.cs#L11-L15

I had to change it from "Normal" to "Unpressed" due to naming conflict with (Normal name is already reserved)
https://docs.microsoft.com/en-us/xamarin/xamarin-forms

[2021-05-30 18:20] #1342 closed

[2021-05-30 18:50] ChrisFieldhouse opened #1343 "[Bug] Toast and Snackbar not shown on IOS 12.4 (simulator or device)"
### Description
On IOS 12.4 simulator and device, calling this.DisplayToastAsync and this.DisplaySnackBarAsync does nothing.  Calling (sender as VisualElement).DisplaySnackBarAsync works, and after calling this, all subsequent calls (using this or (sender as VisualElement)) work, but only for the current page.  Open a new page and DisplayToast/Snackbar fail again.

I assume that calling (sender as

[2021-05-31 07:26] webapps-rvcits commented on #1310
Good day everyone,

My remorse for not making an urgent response on your comments. I tried to set the target and min version to Windows 10, version 2004 (10.0, Build19041) and AvatarView display image from StreamImage source. I tried it also to set the target framework to Android 11.0 (R) and it work. It seems XCT version 1.1.0 and up only support the latest version of the OS. Thank you guys helpi

[2021-05-31 07:26] #1310 closed

[2021-05-31 20:24] Cfun1 opened #1344 "[Bug] ShadowEffect causing exception"
### Description
It seems ShadowEffect is causing an exception, could be a regression.

### Steps to Reproduce
1. Run the sample. make sure the xct dependency  is 1.2.0-pre2.
2. Long press on cards to enter edit mode.
3. click cancel or save.

### Expected Behavior
No exception.
### Actual Behavior
Exception being thrown.

[code]

<details>
<summary>StackTrace</summary>

[code]
</details>

### Basi

[2021-05-31 20:28] Cfun1 opened #1345 "[Bug] [Android] ToolkitPlatform.Context used by AvatarView is causing a NullReferenceException"
### Description
`AvatarView` causing a `System.NullReferenceException` at this line https://github.com/xamarin/XamarinCommunityToolkit/blob/7db4941a02e16dfd8151c3df198954dbc17a0be1/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/AvatarView/ImageSourceValidator.android.ios.macos.uwp.wpf.gtk.tizen.cs#L43 because of `ToolkitPlatform.Context` https://github.com/xamarin/XamarinCommunityToolkit/blob

[2021-05-31 20:31] AndreiMisiukevich commented on #1344
Hi @Cfun1 ```InvalidOperationException``` hm, weird. It doesn't look like a crash of ShadowEffect.
Can you please build a small (one-page) reproduction sample? (with xaml UI if possible).

There is a lot of code in the provided sample, I just want to exclude the possibility that there is a bug in your code.

[2021-05-31 20:34] AndreiMisiukevich commented on #1345
Hmmm, should we do lazy loading of context (store context after first request)

[2021-05-31 20:41] Cfun1 commented on #1344
@AndreiMisiukevich Sure i will provide a smaller repo later, the thing is there is no exception with 1.1.0, after I have upgraded it started to happen.

[2021-05-31 21:17] AndreiMisiukevich commented on #1344
Thank you)
Perhaps we will have to force to update smth in UI thread.
But would be great to have a small sample

[2021-05-31 23:15] pictos commented on #1345
@AndreiMisiukevich Yes, I believe that will be the best approach, I already did a fix for it, but need to find it again on my branches ocean.

More info for others that want to know more about it:

In this case, the issue is because when you press the back button, the app goes to background and when the avatarView tries to access the `Context` that's `null` because there's no `MainPage`, but the c

[2021-06-01 23:27] AndreiMisiukevich opened #1350 "[Enhancement] Expander: Add common animation configuration properties + touch capture view property"
## Summary
- It should be possible to set animation length/easing for both expanding/collapsing animation in one place.
- It should be possible to define the view that triggers animation when tapped. (Now the animation is starting by tapping over the entire header)

## API Changes
Add:
- `uint Expander.AnimationLength { get; set; }`
- `Easing Expander.AnimationEasing { get; set; }`
- `View Expande

[2021-06-02 01:43] davidbuckleyni commented on #1135
Just make sure that you allow for nulls on the Date property I know but somepeople like it either that or provide a selectedDate which can be null

[2021-06-02 01:57] ahoefling opened #1352 "[Spec] Add IsLightDismissed to Popup Events"
# Add IsLightDismissed to Popup Events

Expose an `IsLightDismissed` property to the `PopupDismissedEventArgs` which will allow event listeners to understand if the popup was closed or if the user tapped in the area outside of the popup.

*This was something that I included in the original implementation of XCT Popups that we are using internally and didn't include it as the code was migrated from

[2021-06-02 02:01] ahoefling commented on #1352
I spoke with @pictos in discord about this and we both agree this is a good idea. I have time this week and will be submitting a PR sometime tomorrow for this.

[2021-06-02 02:03] pictos commented on #1352
I'll mark this as `in-progress` to prevent any one to grab this issue

[2021-06-02 08:58] TFreudi1 opened #1353 "[Enhancement] Camera View Subtitle"
It would be nice to record a subtitle directly into every frame of the videofile, means a callback with the image that is currently recorded and change it. I know I can put an overlay on the camera view but this is only visible for the user, it is not recorded into the video if you look at it later.

[2021-06-02 12:09] #1290 closed

[2021-06-02 12:17] angelru opened #1354 "[Bug] TextCaseConverter"
I am using the converter on a custom control to a `Text` property that has `BindingMode.TwoWay`

[code]

[2021-06-02 12:36] AmrAlSayed0 opened #1355 "[Bug] Allow `null` to be passed as a parameter to `Execute` and `CanExecute` if the target is a `Nullable` type"
### Description
Currently, when using commands, if `TExecute` or `TCanExecute` are of `Nullable` type, `null` can't be passed to it even though it is a valid value. I think it should be changed.
### Steps to Reproduce
1. Create an `AsyncCommand` with `TExecute` of type `int?`
2. Execute the command with `null`.
### Expected Behavior
Command is executed.
### Actual Behavior
Command throws a `Invali

[2021-06-02 12:51] jfversluis commented on #1354
That is correct, this would call the `ConvertBack` method which [is not implemented](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Converters/TextCaseConverter.shared.cs#L50) because there is no way of knowing how to convert back. If you change the casing, the original information is lost.

[2021-06-02 12:51] #1354 closed

[2021-06-02 12:54] jfversluis commented on #1353
Hi there @TFreudi1 thanks for the suggestion. Is there any specific reason why you decided to ignore the template we have in place? That helps us a great deal in getting som more information and details on how you want to use it and what you'd like to see.

Also, do you mean the MediaElement? I don't really see how this would work for CameraView?

[2021-06-02 13:02] jfversluis commented on #1343
@VladislavAntonyuk does this make any sense to you?

[2021-06-02 13:05] jfversluis commented on #1334
Seems definitely good to have! Let us know how you would implement this in code. What properties do you want to add to make this possible? Don't start coding it all just yet, just add a little pseudo-code here on what your thoughts are eon the implementation. If a developer is going to install the Toolkit, how do they enable this?

[2021-06-02 13:53] Tommigun1980 commented on #1209
Hi @AndreiMisiukevich and thanks for fixing this. When do you think it will be released? I am using 1.2.0-pre2 and it still crashes with the following stack trace whenever a page is displayed that uses a RangeSlider:

[code]

It'd be great if a fix was released soon so I could use the components again. Thank you!

[2021-06-02 13:59] VladislavAntonyuk commented on #1343
I will try to reproduce. maybe some changes with constraints between ios12 and ios14.

[2021-06-02 14:15] jorgediegocrespo commented on #1311
Hello. I having the same issue. I have updated and downgraded the nuget, remove bin, obj and .vs folders, updated VS... and the issue is still there. Is there any news about that?

[2021-06-02 14:23] Tommigun1980 commented on #1209
@AndreiMisiukevich Seems as the fix just missed the latest pre-release, while the latest nightly is functional. Do you guys have any tentative release date for pre-3 or a stable release where the fix is in?

Thank you again!