[2021-06-02 15:02] TFreudi1 commented on #1353
![CameraView](https://user-images.githubusercontent.com/4739177/120504226-409d7780-c3c4-11eb-893a-932ed8d6c642.jpg)

[2021-06-02 15:02] TFreudi1 commented on #1353
In want to have a text (lets say the GPS Position) as text written in every frame in the final MP4.
You get a picture from the camerasensor, than you put on the screen and in the file, an event PicFromSensorHasArrived(Image i) would be nice. I can than put some text on i (the image) and have that on the screen and in final video file. I know that is performance relevant because you have to wait un

[2021-06-02 15:03] TFreudi1 commented on #1353
Sorry ffpmpeg libs are a special problem because they are NOT platform independent!

[2021-06-02 15:26] TFreudi1 commented on #1353
On the screenshot:
Start = Start recording the video and than the coordinates shown in th epreview are also in the recorded videofile.

[2021-06-02 16:21] ChrisFieldhouse commented on #1343
This is how it looks in the simulator on ios 12.4, you can see the very bottom of the toast message (I guess because it's a long message).

![Simulator Screen Shot - iPhone 5s - 2021-06-02 at 17 16 36](https://user-images.githubusercontent.com/44022687/120515988-cb7f7180-c3c6-11eb-9999-b482cd9a6e97.png)

[2021-06-02 18:34] VladislavAntonyuk commented on #1343
Does it look correct with the short message?

[2021-06-02 18:55] #1345 closed

[2021-06-02 19:13] maxkoshevoi commented on #1341
@Dreamescaper Thanks for the sample project! It helped a lot with the investigation.
Issue will be fixed after #1357 is merged.

![image](https://user-images.githubusercontent.com/6609929/120538374-19a86b00-c3ef-11eb-8d52-cccef39e470b.png)

You can test the solution yourself. NuGet is it pipeline artifacts.

[2021-06-02 19:32] maxkoshevoi commented on #1340
I think this is by design.
`await this.DisplaySnackBarAsync` completes when SnackBar is no longer displayed (regardless whether SnackBar action is being executed or now), and clicking on `Action` - hides the SnackBar.

If you want to wait until cation completes, you'll need to write some custom code.

[2021-06-02 19:37] maxkoshevoi commented on #1225
It's supported on Android out of the box (just open any SnackBar in sample app and swipe left to right on it).

[2021-06-02 19:51] Dreamescaper commented on #1340
@maxkoshevoi
But what's the point of having `action` as `Func<Task>` instead of simple `Action`? If it's never awaited?

[2021-06-02 20:07] maxkoshevoi commented on #1340
@Dreamescaper I guess there's no point.

At the end it's just passed as an action argument:
https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.android.cs#L67

[2021-06-02 20:14] Dreamescaper commented on #1340
@maxkoshevoi
https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/Snackbar/SnackBar.ios.macos.cs#L119

I don't have an iOS device to check, but as far as I can see based on code, ios implementation _does_ await an action _before_ completion.

[2021-06-02 20:32] ces-tr opened #1358 "[Bug] Typo in Android SemanticEffect implementation"
### Description
Typo in Android SemanticEffect implementation
I'm not sure if this builds correctly but even if I implement this same effect in my app , the IDE can not find this namespace

https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffectRouter.android.cs#L4

[2021-06-02 21:19] maxkoshevoi commented on #1340
Good point. Updated #1357 to include fix for this. Also passed exceptions from SnackBar action into resulting task, so you can catch them in your code.

[2021-06-02 22:15] AndreiMisiukevich commented on #1209
Hi @Tommigun1980 thanks for asking and checking)

CC @jfversluis is aware about plans for the next pre-release or stable release

[2021-06-02 22:15] #1350 closed

[2021-06-02 23:21] ahoefling commented on #1352
While working on this today, I noticed that the `Dismissed` event isn't firing for `LightDismissed` behavior. I am going to fix this in the PR as it is something that was originally missed.

Repo Steps
1. Add Dismissed event handler to a popup that has light dismiss enabled
2. Set breakpoint on event handler
3. Load app and perform light dismiss on any platform (iOS, android, uwp)
4. Perform light

[2021-06-03 05:56] kdbhalala commented on #1283
I also faced this but don't know much about it.
I put this in touch argument and it's working

`--linkskip=Xamarin.CommunityToolkit`

[2021-06-03 07:42] ChrisFieldhouse commented on #1343
With a smaller message the toast doesn't display, I guess it's shown, but off screen.  I've added a small video of the issue, as you will see, pressing 'Show toast with anchor' makes the toast work correctly.   This is using the current master branch.

https://user-images.githubusercontent.com/44022687/120606335-00cba400-c447-11eb-8d4c-620eac54742a.mp4

[2021-06-03 08:05] VladislavAntonyuk commented on #1343
looks like it works correctly with the second click on the button. or it happened after the anchor view is displayed. ok. I will investigate it

[2021-06-03 09:52] rsbepvb commented on #1311
No update that I am aware of.  Problem is still unresolved at my end.

[2021-06-03 10:02] jorgediegocrespo commented on #1311
It seems it is a cache problem. I have run a maintenance task on Onyx and VS is already working fine :)

[2021-06-03 13:21] Axemasta opened #1359 "[Enhancement] Entry Clear Button Color Effect"
## Summary

I recently came across the requirement to change the color of the clear button on an Entry and wrote and effect for it. It wasn't the nicest experience getting working on specifically iOS and thought it might be a nice addition to the community toolkit.

## API Changes

A new effect named:
`ClearButtonColorEffect`

With the parameters: `Color`, defaulting to `Color.Default`

## Intende

[2021-06-03 13:50] shakaib-developer opened #1360 "Binding Content Height to XCT-Tabview is not working [Bug]"
### I am using XCT Tabview and trying to give it a Content Height by binding a double value(Application.Current.MainPage.Height / 1.42) from ViewModel.  When I run the app it does not take up the height equal to the Binded height variable.

### Steps to Reproduce

1. Create a ContentPage and add a XCT Tabview into it.
2. Create a viewModel for the ContentPage and make it the BindingContext.
3. Add

[2021-06-03 16:47] aritchie commented on #1359
There is already a fix in a PR for XF to resolve this.  https://github.com/xamarin/Xamarin.Forms/pull/12391

[2021-06-03 17:29] Axemasta commented on #1359
Ah beat me to it!

Nevertheless [here](https://gist.github.com/Axemasta/7a8ba685870d32f2418da63ec2c17a95) is the effect in a gist, not optimised at all but it give people the feature now, instead of waiting for a XF release 😁

[2021-06-03 17:29] #1359 closed

[2021-06-03 18:33] Axemasta commented on #906
@jfversluis Any thoughts on whether this would be appropriate for the toolkit?

[2021-06-03 19:08] JosueDM94 commented on #1358
I have the same bug on my project that uses a dependency from Xamarin.AndroidX.Core like the NuGet Xamarin.AndroidX.ConstraintLayout.

Looking from the using headers `using AndroidX.Core.View.Accessibiity;` on the SemanticEffect is only accessible from Xamarin.AndroidX.Core < 1.3.2.1 but updating a newer version Xamarin.AndroidX.Core > 1.3.2.1 uses `using AndroidX.Core.View.Accessibility;`.

The w

[2021-06-03 21:17] jamers99 commented on #1208
I got the same issue, i made the change in this PR: #1361

[2021-06-04 00:53] AndreiMisiukevich commented on #906
```xct:PageBackgroundImageEffect.Aspect="AspectFit"```
```xct:PageBackgroundImageEffect.Aspect="AspectFill"```
```xct:PageBackgroundImageEffect.Aspect="Fill"```

How about this API + making it attached.

[2021-06-04 00:55] AndreiMisiukevich commented on #1283
@kdbhalala then it should work even w/out this) Because expander is 100% cross-platform

[2021-06-04 03:18] ahoefling commented on #1194
I think this might be fixed in #1362. I noticed there was some odd behaviors around light dismiss vs regular dismiss and I added some code to resolve these problems. @chowarth can you take a look at the PR or pull it down and see if it is fixed there

[2021-06-04 03:31] jpozo20 commented on #852
@AndreiMisiukevich seems there is some issue on IOS too.

As you said, on Android the view stays in the "pressed" state if you do a press and move the cursor out of that view.
But when testing on iOS I found the parent view is receiving the click even though `ShouldMakeChildrenInputTransparent` is set to false.

I have a Grid → Grid → Switch. The command is set on the first grid and when you click

[2021-06-04 07:52] chowarth commented on #1194
@ahoefling it does appear to have been fixed by #1362 👍🏼

[2021-06-04 10:40] Axemasta commented on #906
Attached Effect works, I'll put a PR up later for iOS.

I need to have another go at android, I was trying to add an ImageView to the background with limited success. But I'll throw up my work in progress android code incase anyone more familiar with the platform has some suggestions!

[2021-06-04 12:06] ninaada commented on #1308
Any update on this ?

[2021-06-04 15:43] ahoefling opened #1363 "[Spec] Add IsBackButtonEnabled to Popup API"
# Add IsBackButtonEnabled to Popup API

In the Popup API there is no way to specifically control Android's hardware back button and how it interacts with the popup. Currently if the hardware back button is used the popup will act as if it is light dismissed. We should add granular control to turn the hardware back button on and off.

Add new attached property for android that enables/disables the

[2021-06-04 15:59] #1355 closed

[2021-06-04 18:26] AndreiMisiukevich commented on #852
@jpozo20 yeah. I don't know how to fix that to have it as "common" solution.

[2021-06-04 18:27] AndreiMisiukevich commented on #906
@Axemasta frankly speaking I am usually use AbsoluteLayoyt + Image :)

[2021-06-04 21:14] jpozo20 commented on #852
@AndreiMisiukevich I feel you, I was reading the code to understand how to replicate it and yeah it's a bit complicated.

I managed to do the ripple animation by creating an Effect and letting Android do the animation with a StateListDrawable. But seeing how much trial and error I had to do, I don't see it very feasible to modify the current code in the TouchEffect since it seems you're actively m

[2021-06-04 21:37] InquisitorJax opened #1364 "[Bug] TouchEffect swallowing parent gestures on Android"
### Description
On Android, adding a touch effect to a child element is preventing the parent's Tap Gesture from firing. See repro: https://github.com/InquisitorJax/TouchEffectSample

### Steps to Reproduce (On Android)

1. Launch app
2. Focus Touch Effect Tab
3. Tap the last button

### Expected Behavior
Counter should work

### Actual Behavior
TapCommandView TapGesture is not firing

### Workaro

[2021-06-05 03:12] ahoefling commented on #1363
I investigated the code for this and hardware back is disabled on android if `LightDismiss` is disabled. I didn't think this was working correctly when I wrote the issue. I also had some difficulty disabling the hardware back but leaving light dismiss. I think it would be uncommon to have the granularity between hardware back and light dismiss.

In my investigation I see we use the following APIs

[2021-06-05 03:42] ahoefling commented on #1193
I have a fix for this, PR is incoming

On the left is API 21 and on the right is API 29
![image](https://user-images.githubusercontent.com/17751436/120879018-670f0e80-c58e-11eb-8e8f-f873f9608afc.png)

I think there are still going to be other outstanding issues for older APIs, but this should at least get us so the popups render

[2021-06-05 03:43] ahoefling commented on #1325
I think this is a duplicate of #1193

[2021-06-05 12:59] #1363 closed

[2021-06-05 17:18] jamesmontemagno commented on #1358
Good find, what we can see is that in 1.3.2.2 the namespace typo was fixed in the binding.

Xamarin.Forms doesn't use this namespace so shouldn't be an issue.

https://www.fuget.org/packages/Xamarin.AndroidX.Core/1.3.2.2/lib/monoandroid90/diff/1.3.2/ is the diff.

[2021-06-05 17:20] jamesmontemagno commented on #1358
This is only an issue if you have another library that has Xamarin.AndroidX.Core 1.3.2.2 or higher as a dependency and does not impact file -> new project with just Xamarin.Forms

[2021-06-05 17:39] jamesmontemagno commented on #1358
It does look like unfortunately 1.3.2.2 has some changes to Resources and things fail to compile. @jfversluis I may need some help here or @Redth as this is a funky one for sure.

[2021-06-05 17:50] jamesmontemagno commented on #1358
Alright, so if I bring in 1.5.0 as a dependency then it seems to compile, which is odd. I am not as comfortable with that and I am not sure about side effects on apps.

[2021-06-05 22:38] GUOLDEV commented on #1334
Hi @jfversluis, I have updated the description of the feature adding a use case for FocusMode. The idea is to expose the properties of the camera when supported. Please let me know what you think. Breaking this feature into small pieces, so we can implement FocusMode first for example, and then ExposureMode and so on.

[2021-06-06 05:03] Mirksar commented on #1012
I am also having this issue on my app.

I have noticed that this this bug is only happening when the TabView page is opened using Application.Current.MainPage.Navigation.PushAsync

When setting the page directly as Application.Current.MainPage the TabIndicatorColor is showing correctly.

[2021-06-06 13:51] DamianAntonowicz opened #1370 "[Enhancement] Add ColumnDefinitions and RowDefinitions to UniformGrid"
## Summary

 Add `ColumnDefinitions` and `RowDefinitions` to `UniformGrid`.

## API Changes

Add following properties to `UniformGrid`:
- `ColumnDefinitions`
- `RowDefinitions`

## Intended Use Case

Enhancement was created based on comment from Calendar PR: https://github.com/xamarin/XamarinCommunityToolkit/pull/1331#discussion_r639264363 Calendar control would use `ColumnDefinitions` and `RowDef

[2021-06-07 04:20] ahoefling commented on #1251
@brminnick @inforithmics
Thanks for being patient while I was away on family leave. I have commented my thoughts on the PR. Thanks for all the investigation on this issue, seems like UWP is doing some funky things in release mode

[2021-06-07 06:29] Softtinn commented on #509
@Cfun1 this is still an existing problem. Although setting the animation to 0 seems to be working, it would be better to fix the problem and keep the beautiful animations.

[2021-06-07 12:34] InquisitorJax commented on #1364
updated the sample to include an additional scenario: Catering for child element tap events & utilizing the TouchEffect.Command

Implemented TouchEffect.Command - which works on Android, but double-fires the logic for iOS.
Also the child element tap gesture will work on Android, but not on iOS:

[2021-06-07 14:19] follesoe opened #1372 "Expose touch events in TouchEffect"
## Summary

Today the `TouchEffect` provide several high-level effects and properties such as animations, hover effects, etc. However, there is no way to get access cross-platform touch events for situations where you wish to write your own touch-related logic (such as custom drag and drop etc).

There are several NuGet packets related to Xamarin.Forms touch effects, where where [AiForms.Effects](

[2021-06-07 15:09] Axemasta commented on #906
I've put up a PR for iOS, I will work on Android in the background. Would you be able to review the initial work @AndreiMisiukevich  and give your opinion on the implementation #1373 .

I have a few questions to ask which i'll put on the PR instead.

And of course, an `AbsoluteLayout` is fine but its a workaround, this effect is here to free developers everywhere from the tyranny of nested layouts

[2021-06-07 16:31] Painwraith commented on #402
does anyone know a solution to this

[2021-06-07 16:32] Painwraith commented on #650
anyone have any solution for this?

[2021-06-07 23:49] AndreiMisiukevich commented on #1372
@follesoe frankly speaking it sounds like you need PanGestureRecognizer https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/gestures/pan

[2021-06-08 02:52] kainaalmeida commented on #1259
Hi!

https://user-images.githubusercontent.com/7945253/121115317-51e2eb80-c7eb-11eb-879a-453d737ca5bd.mp4

When I try to use the front camera on Redmi Note 8 - Android 10, nothing happens. I am using the example application.

[2021-06-08 13:32] smhasan commented on #517
Any update on this topic

[2021-06-08 15:17] Natalia-eng1 commented on #297
Any updates on this fix?

[2021-06-08 20:37] PureWeen opened #1374 "[Bug] SemanticRouterBase on iOS needs to use the Container property if Controls is null"
### Description

https://github.com/xamarin/XamarinCommunityToolkit/blob/659a582475c4ea1fd4a5f8c6ef5cfe4b7b323542/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Semantic/SemanticEffectRouterBase.ios.cs#L21

[2021-06-08 20:38] PureWeen opened #1375 "[Bug] SemanticOrderView needs to exclude elements if the platform has indicated that they aren't accessibility Elements"
### Description

The code right here

https://github.com/xamarin/XamarinCommunityToolkit/blob/659a582475c4ea1fd4a5f8c6ef5cfe4b7b323542/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/SemanticOrderView/iOS/SemanticOrderViewRenderer.ios.cs#L36

Needs to test if the native view `isAccessibilityElement/importantForAccessibility`

if those aren't true then don't add the element to the semantic orde

[2021-06-08 22:38] technololy opened #1376 "[Bug] CameraView Video: Unable to get byte array from MediaCapturedEventArgs because the file path on phone is wrong"
### Description
Using cameraview in xct in capturemode video.  Getting the byte array from the MediaCapturedEventArgs is impossible because the e.Video.File has a path, for e.g. /storage/emulated/0/Android/data/com.iconflux.facialdemo/files/DCIM/VID_20210806_225234.mp4
however in the folder/directory on the phone (xiaomi Mi 9T), the path has three files generated. (See attached screenshot). The fi

[2021-06-09 08:46] jfversluis commented on #1343
Interesting, for the first presses of the button I see a lot happening at the top of the screen, did you notice?

[2021-06-09 08:47] jfversluis commented on #1344
@Cfun1 if you could provide us with that sample that would be great!

[2021-06-09 09:27] VladislavAntonyuk commented on #1343
fixed, will create a PR in a minute

[2021-06-09 09:42] slprog1 opened #1377 "CameraView SwipeGesture is not recognised"
Hello there,
I'm writing an app, which should use a camera with an option to swipe and see some sort of side menu.
Maybe I've missed something in setting up the camera, but the swipe gesture is not recognised
[code]

The event handler is never been called. I've also tried o add this gesture programmatically, not sure if that is the thing, but still that does not work.

BTW, works fine with other v

[2021-06-09 13:30] Tommigun1980 commented on #1209
Hi @AndreiMisiukevich and @jfversluis, when is the next release scheduled for? The current releases can't be styled at all due to this crash so they can't be used.

Thank you.

[2021-06-09 13:32] stoff99 opened #1379 "[Bug] Cannot play a local video on iOS"
### Description
When i try to bind a local video to source i get the exception:
`Invalid Uri
Parameter name: Source`

### Steps to Reproduce

I download an video to the local app Library folder. Example Path: `/Users/SomeUserName/Library/Developer/CoreSimulator/Devices/277D74AD-CD6E-4B51-B834-600633EEB8FA/data/Containers/Data/Application/458BCC1F-6B6A-44F4-A150-9E82DF929751/Library/XamarinVideo.mp

[2021-06-09 15:17] katomic opened #1380 "Displaying a Toast on iOS 12 using XamarinCommunityToolkit causes NSInvalidArgumentException"
### Description

### Steps to Reproduce

1.  Display a Toast using   await myPage.DisplayToastAsync with any parameter

### Expected Behavior
Toast is displayed

### Actual Behavior
Exception:
{Foundation.MonoTouchException: Objective-C exception thrown.
Name: NSInvalidArgumentException Reason: +[UIColor systemBackgroundColor]: unrecognized selector sent to class 0x1261ebec0\n
Native stack trace:\

[2021-06-09 18:27] VladislavAntonyuk commented on #1380
Should be fixed with XCT 1.2.0-pre2

[2021-06-09 20:18] alisaesh opened #1382 "[Bug] iOS Xamarin Community Toolkit TabView doesn't open to the second tab"
### Description
I am trying to navigate to the second tab when I open the tabview.

### Steps to Reproduce
1. Start the app

### Expected Behavior
Work like android and open to the second tab because we set the selected index to 1.

### Actual Behavior
Always opens to the first tab.

### Basic Information
- Version with issue: Xamarin.Community Toolkit 1.1.0
- Affected Devices: reproduce on an iPh

[2021-06-10 00:15] GUOLDEV commented on #1377
Hi @slprog1, could you please test the sample code below? It works for me. Hope it helps.
[code]
[code]

[2021-06-10 02:58] GUOLDEV commented on #1377
Hi @slprog1, could you please test the sample code below? It works for me. I am not sure about your use case, but I would prefer to add the gesture to the `StackLayout`, but it works adding the gesture to the `CameraView` as well. Hope it helps 👍
[code]
[code]

[2021-06-10 07:50] stoff99 commented on #1379
Hello,

after checking the source code behind i finally found out:
Maybe i'm stupid but i didn't realize that the link rly has to start with "local" or "temp" that this will be transformed to the app/library folder ...

`
protected string ResolveMsAppDataUri(Uri uri)		{			if (uri.Scheme is "ms-appdata")			{				string filePath;
				if (uri.LocalPath.StartsWith("/local"))				{					var libraryPath =

[2021-06-10 11:21] #1379 closed

[2021-06-10 11:46] stoff99 opened #1384 "[Bug] Error: : XamlC error XFC0000 : Cannot resolve type "MediaElement" when i add x:Name to MediaElement in xaml file"
### Description
When i add x:Name to MediaElement i get XamlC error XFC0000 : Cannot resolve type "MediaElement" but its compiling.
Also when i use the variable definition in the code its marked as red but its compiling and i can call methods of it.

### Steps to Reproduce

1. Create a new Flyout Xamarin Forms app.
2. Add the MediaElement in the AboutPage.xaml:
`<xct:MediaElement Source="https://s

[2021-06-10 12:25] YannSoulier commented on #1268
Hi ! I have the same issue when I want to open a page containing videos, the app crashes on Android. I tested on iOS, the page loads, I can play videos but once I press the back button the app crashes.
If you have any workaround i'm interested.

[2021-06-10 13:34] IeuanWalker opened #1385 "[Enhancement] Accessibility - Screen reader to read specific text"
## Summary

API to make the screen reader read out specific text - https://forums.xamarin.com/discussion/185004/xamarin-forms-accessibility-screen-reader-to-read-each-page-name-header-on-page-load-appearing

## API Changes

New interface -
[code]
iOS implementation -
[code]
Android implementation -
[code]

Usage -
[code]

## Intended Use Case
I have a number of places i need to use this in our app

[2021-06-10 14:11] Painwraith commented on #1268
Hello. Your app should not be crashing purely from opening a page with video. The bug I was describing occurs when you navigate to a page with XCT Media Element and then quickly leave the page it will crash. My work around has been to put the XCT Media Element behind a tab on the page, so it will not attempt to load it immediately if someone navigates to the page and quickly navigates away. It has

[2021-06-12 02:55] beeradmoore opened #1388 "[Bug] AsyncCommand causes RefreshView to complete instantly"
### Description
If you have a RefreshView to load some data asyncronsly on a pull to refresh the pull to refresh actions (IsRefreshing = false, animation goes away) will complete differently depending if you are using the normal Command vs XCT AsyncCommand.

### Steps to Reproduce

1. Add RefreshView and wire it up as per most tutorials
2. Change RefreshCommand to be backed by AsyncCommand provide

[2021-06-12 11:08] fredericoregateiro opened #1389 "[Bug] Popup with size in Android 4.4 API 19"
### Description
Using the Popup with predefined Size will throw exception `Specified cast is not valid`

### Steps to Reproduce

1. Create a Popup and set the size `Size="300,400"`
2. Debug the app using emulator with api 19
3. Open the Popup

### Expected Behavior
Open the Popup

### Actual Behavior
Exception on opening the Popup
Specified cast is not valid.

[code]

### Basic Information

- Vers

[2021-06-12 11:39] fredericoregateiro opened #1390 "[Bug] Tab on Android 4.4 API 19"
### Description
Using the Tab on Android 4.4 will throw one exception

### Steps to Reproduce

1. Create a Page with Tab
2. Debug using android emulator with Andfroid 4.4 API 19
3. Open the Page

### Expected Behavior
Open the Page with the Tab

### Actual Behavior

Exception is thrown
`Java.Lang.NoClassDefFoundError: 'android/graphics/drawable/RippleDrawable'`

### Basic Information

- Version wi

[2021-06-12 11:44] fredericoregateiro opened #1391 "Popup Fullscreen"
## Summary

Allow the Popup to be able to go full screen.

## API Changes

Add one property to the Popup bool IsFullScreen, that allow the Popup to go fullscreen

## Intended Use Case
Edit a record in a phone, will allow more space for the controls

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [x] Just putting this out there for someone to pick up

[2021-06-12 18:38] Pankajgangwar613 opened #1392 "Popup not show Full screen on iOS"
### Description

### Steps to Reproduce

1. Popup perfectly show Full screen on  android but Popup not show Full screen on iOS
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Work

[2021-06-12 19:06] fredericoregateiro opened #1393 "[Bug] XamlC error XFC0000 : Cannot resolve type "Popup""
### Description
When using a Popup the project build is ok, it can be deployed to an emulator or device but the Error List shows this error

### Steps to Reproduce

1. Create a Popup
2. Build the project

### Expected Behavior
Build with no errors and the error list empty

### Actual Behavior
Error in the Error List
XamlC error XFC0000 : Cannot resolve type "Popup"

### Basic Information

- Versio

[2021-06-13 07:47] Egehanozsoy opened #1394 "TabView Icon Sizes Are Too Small"
When adding an icon to TabView it looks so small

![image](https://user-images.githubusercontent.com/75164990/121799415-ab587980-cc34-11eb-88e0-163958d2e22a.png)

[2021-06-13 15:31] pictos commented on #1391
@fredericoregateiro I would say that if you need a full screen popup the best way is to perform a ModalNavigation. Or is there something that I can't see?

[2021-06-13 15:32] pictos commented on #1394
@Egehanozsoy, can you attach a small repro?

[2021-06-13 15:32] pictos commented on #1392
@Pankajgangwar613 , can you attach a small repro?

[2021-06-13 15:47] pictos commented on #1389
I can confirm the error

[2021-06-13 17:49] #1394 closed

[2021-06-13 18:43] RwSgxx opened #1395 "[Bug] RangeSlider touch not working on WPF"
### Description

### Steps to Reproduce

1. Crate a new Xamarin Forms App in VS.
2. Clear everything in the Main Page and add a RageSlider (set in, max...)
3. Add a WPF project for the Xamarin Forms App you just created
4. The slider will work on the other platforms but not in WPF
5. In WPF, I can't grab the slider point and drag them.

### Expected Behavior
-- in the reproduction steps

### Actua

[2021-06-14 00:33] AndreiMisiukevich commented on #1395
Hi @RwSgxx, thanks for the report

Could you please check if PanGestureRecognizer works on WPF?

RangeSlider is cross-platform control and it based on PanGestureRecognizer. Perhaps there are some bugs with WPF implementation of this gesture.

[2021-06-14 05:51] SagarPanwala commented on #1019
@jfversluis

`<xct:TabView
        TabStripPlacement="Top"
        TabStripBackgroundColor="White"
        TabStripHeight="40"
        TabIndicatorPlacement="Bottom"
        TabStripBorderColor="Aqua"
        TabIndicatorColor="Purple">`

Above code produce below result, not the one @angelru  expects
![Simulator Screen Shot - iPhone 11 - 2021-06-14 at 11 19 59](https://user-images.githubuserconten

[2021-06-14 07:29] DavidV1603 opened #1396 "[Bug] iOS Popup: Position of Popup is not centered when the orientation of the device changes"
### Description

If you change the orientation of the iOS device (e.g. from portrait to landscape mode or vice versa), the Popup is not in the center anymore. On Android this works fine.
I guess that is, because the position on iOS is set when initializing to the coordinates of the center of the screen, but the coordinates don't change when the orientation changes.

### Steps to Reproduce

1. Open

[2021-06-14 09:56] jfversluis commented on #1392
Thanks for reporting this @Pankajgangwar613, however there is very little detail.

I'd love to see a filled out report on what you're using and where you're seeing this. In this case it would be extremely helpful to either see some code or a reproduction project so we can see how you're trying to achieve this.

I'm closing this one for now, please open a new issue if this still affects you with mo

[2021-06-14 09:56] #1392 closed

[2021-06-14 09:57] jfversluis commented on #1391
I kind of agree with @pictos here. What would be the use-case? Why do you need this over a regular modal?

@ahoefling do you have any thoughts about this?

[2021-06-14 10:04] jfversluis commented on #1385
@rachelkang @PureWeen summoning you as the accessibility experts here :D

Does this make any sense?

[2021-06-14 10:10] jfversluis commented on #1380
Please try with the version mentioned above, if that doesn't fix it feel free to reopen this one. Thanks!

[2021-06-14 10:10] #1380 closed

[2021-06-14 10:19] jfversluis commented on #1382
Confirmed it doesn't work. Seems to go fine on Android, not iOS

[2021-06-14 10:19] jfversluis commented on #1393
Similar to #1311 and #1384

[2021-06-14 10:47] #1343 closed

[2021-06-14 11:13] AmrAlSayed0 commented on #1393
@jfversluis Also here https://github.com/rotorgames/Rg.Plugins.Popup/issues/619
Apparently, It has to do with URL names spaces. Using the fully qualified Namespace will solve the issue but it doesn't explain why it is happening though

[2021-06-14 12:26] ahoefling commented on #1391
Not sure if I understand the use case here and I agree with @pictos. Do you have any screenshots of what you are thinking

[2021-06-14 13:21] fredericoregateiro commented on #1391
Hello all,
In my opinion this is just a really nice feature for the pop up, and gives the developer the power of choice.
On the phone, screen size is something we should use with care. And the option to use all available space is something to consider.

And once i started using the popup and don't want to go back to the modal 😄

![Screenshot_1623676704](https://user-images.githubusercontent.com/63

[2021-06-14 15:48] rachelkang commented on #1385
Hi, @IeuanWalker - thanks for submitting this spec! We're definitely looking to bring a similar API to XCT. I'd have to explore your code further to make sure those are the exact native APIs we would use, but it looks promising!

We were also thinking of using [UIAccessibilityPostNotification](https://developer.apple.com/documentation/uikit/1615194-uiaccessibilitypostnotification) on iOS, and as f

[2021-06-14 18:12] RwSgxx commented on #1395
It is because of the PanGestureRecognizer. It is designed to work with touch events not mouse events.

[2021-06-14 18:45] jfversluis commented on #1393
Yeah I think it's more of a tooling issue than something we can fix unfortunately

[2021-06-14 23:05] maxkoshevoi commented on #1388
Interesting case. Issue is with `RefreshView`, and not with `AsyncCommand`.

- Turns out, when `ICommand` becomes disabled (`CanExecute=false`), `RefreshView` immediately sets `IsRefreshing` to `false`.
- When you set `allowsMultipleExecutions` to `false`, you requested `AsyncCommand` to disable itself while it's being executed (in another words, removing `allowsMultipleExecutions: false` fixes yo

[2021-06-14 23:10] beeradmoore commented on #1388
Dang my solution for this was going to be implement the can execute myself but I guess not 😅

I'll go handle it inside my ExecuteRefreshCommand so at least it can only execute once. I'll go file this as a potential bug with Xamarin.Forms repo. Thanks for digging into this though.

[2021-06-14 23:10] #1388 closed

[2021-06-14 23:53] AndreiMisiukevich commented on #1395
@RwSgxx, unfortunately, I don't think this will be implemented in near future then(

[2021-06-15 10:46] fredericoregateiro commented on #1393
I try using the full namespace
`xmlns:xctViews="clr-namespace:Xamarin.CommunityToolkit.UI.Views;assembly=Xamarin.CommunityToolkit"`

and the errors are gone

[2021-06-15 10:46] #1393 closed

[2021-06-15 10:59] justintemplar commented on #1019
This would be a great addition for when designers want to separate the tabs at the top, to the content below.

[2021-06-15 11:33] RwSgxx commented on #1395
@AndreiMisiukevich I know. The iOS build is broken since 3 weeks and the Xamarin Team and Microsoft don't give a flying ... (you know what).
https://developercommunity.visualstudio.com/t/xamarinforms-ios-ioexception-sharing-violation-on/1355811?from=email&viewtype=all#T-N1450332
Totally disappointed. I regret investing so much time in this platform.

[2021-06-15 13:16] gutosys opened #1397 "[Bug] - MediaElement with IsVisible, not display the vídeo"
### Description

### Steps to Reproduce

1. Create an MediaPicker and get vídeo
2. Set item to MediaElement
3. If has IsVisible control, when has vídeo, the vídeo not appear.

### Expected Behavior
- Show the vídeo
-
### Actual Behavior
- Not show the vídeos
-
### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:

[2021-06-15 14:55] Cfun1 opened #1398 "[Spec] Popup add margin property"
# [The feature]

Started in this question/discussion https://github.com/xamarin/XamarinCommunityToolkit/discussions/1188, it is intended to give the dev the ability to set margin for popup and thus giving more flexibility over popup position adjustment (in addition to `VerticalOptions` and `VerticalOptions` properties).

# API
## [ [BasePopup.shared.cs](https://github.com/xamarin/XamarinCommunityT

[2021-06-15 16:05] jrahma opened #1399 "Toast and SnackBar CornerRadius"
Hi,

Please add CornerRadius to the Toast and SnackBar to set the radius for the corners

CornerRadius="0,25,0,25"

Thanks

[2021-06-15 17:24] AndreiMisiukevich commented on #1395
@RwSgxx sorry to hear this :(
But unfortunately, I can't help with that. I am even not an MS employee.

[2021-06-15 21:28] fredericoregateiro commented on #1391
Similar to #1398
Making `Margin="0"` would be the same as `Fullscreen="True"` but with more control on how the popup is using the available screen size

[2021-06-16 02:33] Tommigun1980 opened #1401 "[Bug] Couple of native XCT crash reports from AppCenter"
### Description

Hi.

Please find attached a couple of XCT-related native crash reports from my iOS app from AppCenter:

Safe area effect:

[code]

Snackbar:

[code]

Unfortunately I don't have specific repro steps, but hopefully the stack traces will prove useful.

Thank you.

### Expected Behavior

No native crashes should occur.

### Actual Behavior

Some native crashes are seemingly occurring.

[2021-06-16 03:13] Tommigun1980 commented on #1399
Hi.

The SnackBar looks good on Android (as it's using the native component), but on iOS something like this is sorely missing. The fully square notification on iOS doesn't really look production ready. Considering that a corner radius is probably not applicable on all platforms, how about adding some corner rounding on iOS without necessarily making it user adjustable? The fully square iOS notifi

[2021-06-16 08:48] FlaynGordt commented on #1396
We are encountering the same issue in our app.

[2021-06-16 09:31] slprog1 commented on #1377
Hmm, when wrapping the camera view with the StackLayout, it works fine. Weird it does not work with the grid layout.
Nevertheless, thanks @GUOLDEV for taking a look at this issue! Appreciate it!!

[2021-06-16 09:31] #1377 closed

[2021-06-16 09:35] guytz72 commented on #650
I'm after this too.  Can't believe this is so difficult...who wants to watch a video in a small corner of the screen????

[2021-06-16 10:06] DavidV1603 opened #1402 "[Bug] iOS Popup: Background transparent and layout broken in landscape mode"
### Description

When a Popup is open in landscape mode on the iPhone 11 Pro Max or iPhone 12 Pro Max, the background of the Popup gets transparent and the positioning is broken. This does not occur on Android or on an iPad.

### Steps to Reproduce

1. Open the Samples app and open the Popup sample on an iPhone.
2. Hold the phone in Landscape mode.

### Expected Behavior

The Popup has the same ba

[2021-06-16 12:26] jfversluis commented on #1401
Hmm the snackbar one might already be fixed with a very recent PR, the other one is curious. I only see an index [here](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/SafeArea/SafeAreaEffectRouter.ios.cs#L54) so we might be able to add some defensive code there to see if that works

[2021-06-16 12:35] jrahma opened #1403 "Tap / Swipe to Close or Dismiss"
Hi,

Please add an option to Tap / Swipe to close the Toast and SnackBar instead of waiting for the duration.

Thanks,
Jassim

[2021-06-16 12:35] jfversluis commented on #1401
@VladislavAntonyuk do you know anything about that constraint one? Is it fixed with #1378 ?

[2021-06-16 12:38] jfversluis commented on #1403
Please fill in the feature request template as provided.

[2021-06-16 12:38] #1403 closed

[2021-06-16 12:39] jfversluis commented on #1402
Did you by any change also test this on Android? Does it occur there as well?

[2021-06-16 12:40] Cfun1 commented on #1403
In addition it is duplicate of https://github.com/xamarin/XamarinCommunityToolkit/issues/1225

[2021-06-16 12:41] jfversluis commented on #1399
Yeah this will be an interesting challenge. Like you say, on Android natively it looks better as it is a native control. Not sure if we can actually change these settings there?

So, if we want to implement a property like this, then it will work for all platforms besides Android maybe? Which is not great.

Would it help if we made the look more consistent out of the box? Or you really want to hav

[2021-06-16 12:41] DavidV1603 commented on #1402
Yes I did, on Android this works fine.

[2021-06-16 12:42] jfversluis commented on #1399
Also @jrahma as indicated in the other issue, please fill out the template as much as possible. Not doing so will result in the issue being closed in the future. We have the templates there for a reason, we'd love for you to think with us a little bit on the implementation and how you want to use it.

[2021-06-16 12:42] jfversluis commented on #1402
All I wanted to know, thanks!

[2021-06-16 12:43] jfversluis commented on #1402
@ahoefling FYI

[2021-06-16 12:44] jfversluis commented on #1397
Sorry I'm not sure what you mean. What are you setting `IsVisible` to? Please fill out more details on the template. Is this on iOS, Android, UWP? All? Please share some relevant code and/or a reproduction project.

[2021-06-16 12:44] jfversluis commented on #1396
I guess in the same area as #1402

[2021-06-16 12:46] jfversluis commented on #1391
Hm to be honest I see more in the margin approach which gives more flexibility and control and might have a side-effect of being able to open a popup fullscreen :)

If you don't mind I'm closing this one in favor of #1398

[2021-06-16 12:46] #1391 closed

[2021-06-16 12:48] jfversluis commented on #1395
@RwSgxx this is not the place to share issues for other products. Also, there are multiple workarounds given and even a message in the link that you shared that it should be fixed: https://developercommunity.visualstudio.com/t/xamarinforms-ios-ioexception-sharing-violation-on/1355811#T-N1450827

[2021-06-16 12:55] gutosys commented on #1397
I intend to show the video on the screen, only after recording the video without taking up space on the screen if it has not been recorded, so IsVisible, controlling the layout.

[2021-06-16 12:58] ahoefling commented on #1402
@jfversluis this is a known issue, I just didn't document it outside of the original feature complete table from the original PR.

thanks for adding the issue, it will be great to get this completed

[2021-06-16 13:24] jfversluis commented on #1397
If I understand you correctly what you expect is:

- MediaElement.IsVisible == false, it doesn't take up any space
- You start loading the video
- If the loading is complete and you are ready to play it only then set IsVisible to true and it should show up

Is that correct?
And that is not what is happening now?

Again; some code or a reproduction sample would be greatly appreciated

[2021-06-16 13:35] VladislavAntonyuk commented on #1401
It should work with that PR, @Tommigun1980 could you please attach a small repro?

[2021-06-16 13:38] VladislavAntonyuk commented on #1399
For the one hand we can manually implement Android instead of using Google implementation. For the other hand it would be nice if other platforms (at least Apple) implement it.

[2021-06-16 14:28] jfversluis commented on #1401
I don't think there is a repro as the errors are coming from analytics unfortunately :(
So I guess we should hope this fixes it and @Tommigun1980 will install the update and see if the errors go away :)

[2021-06-16 14:51] ahoefling commented on #1398
Thanks for writing up this specification, I think this is the direction that we want to go. I think we should make the following adjustments to this specification.

Margin can be set only if the following conditions are met
[code]

With those properties set we can check in the renderer and then force the popup to take up all the bounds on the screen. Then you could use the `Margin` property to set

[2021-06-16 15:04] Cfun1 commented on #1398
@ahoefling I have updated the spec accordingly, so setting `VerticalOptions`  and `HorizontalOptions ` to `FillAndExpand` does not necessarily mean that the popup content will take the whole space (after the enhacement), it also depends on it content more specifically the root view, right?

[2021-06-16 15:07] ahoefling commented on #1398
hmm 🤔🤔

We should consider the Size as well because if someone sets size, should we disregard VerticalOptions? and HorizontalOptions? Or if the VerticalOptions and HorizontalOptions are set to `FillAndExpand` should we disregard the size and make it full screen to start applying the margin.

This is going to merit more discussion to get the rules right in the specification

[2021-06-16 15:46] #1401 closed

[2021-06-16 16:30] Tommigun1980 commented on #1401
@jfversluis Thanks so much for fixing the OOB, and thanks for fixing the other issue @VladislavAntonyuk!

I will give the new nightly a spin and post here if the issues are still visible in the crash reports for the new version.

[2021-06-16 16:53] RwSgxx commented on #1395
@jfversluis you're right.  The part with "don't think this will be implemented in near future then" hit a nerve :)

-------------------------------------------------------------
So back to the problem it self.
1. The PanGestureRecognizer for WPF is design to work with touch events, not mouse events -> On a touch screen it will work.
2. You need to create a custom MouseDragGestureRecognizer for WPF

[2021-06-16 16:56] AndreiMisiukevich commented on #1395
@RwSgxx thanks for the suggestion)
Feel free to grab this part and submit a PR :) Since this toolkit has "Community" word in the name ;)

[2021-06-16 17:43] brminnick commented on #1358
The Xamarin.Forms team has opened a PR to resolve this https://github.com/xamarin/Xamarin.Forms/pull/14101/files#diff-a10b47d2a1fb6f9a0f879b70a6b268191496328089b0bd5776fcbd68759d59dbR25.

We'll test XCT against the new version of Xamarin.Forms that contains this fix, and (assuming everything is good) we'll push out an update that targets this new version of Xamarin.Forms 👍

[2021-06-16 17:50] gutosys commented on #1397
Exactly this !

The ViewModel:

[code]

The View:
[code]

If I use IsVisible, in StackLayout, the vídeo not show anymore, if I use on MediaElement, The video not show anymore.
If I remove de IsVisible, the vídeo shows up on the screen.

[2021-06-16 21:39] auriou opened #1407 "[Bug] LazyView always loads the BindingContext"
### Description
Following this example into XCT.Sample
https://github.com/xamarin/XamarinCommunityToolkit/blob/develop/samples/XCT.Sample/Pages/Views/TabView/LazyTabPage.xaml

Each time we add a BindingContext to a LazyView, the viewmodel is created at the start,  without Lazy mode
On the other hand the xaml view is well constructed just when it is visible.

### Steps to Reproduce

1. Into XCT.Sam

[2021-06-16 22:13] pictos commented on #1407
@auriou in that case the VM is created because it's a static value, as you can [see here](https://github.com/xamarin/XamarinCommunityToolkit/blob/70d5df595713e8556b0d52c8c3db724439235569/samples/XCT.Sample/ViewModels/Views/Tabs/NormalTestViewModel.cs#L7) and it's the used in the [NormalTabs](https://github.com/xamarin/XamarinCommunityToolkit/blob/70d5df595713e8556b0d52c8c3db724439235569/samples/XC

[2021-06-16 23:13] auriou commented on #1407
Ok, I see, so we must avoid using the BindingContext property in the Xaml for LazyView, as we can bind BindingContext only on static code

[2021-06-16 23:41] #1407 closed

[2021-06-17 00:35] sact1909 opened #1409 "[Bug] Expander Direction Up does not work properly"
### Description
When I'm trying to add Direction Up to the Expander and I run the app, it isn't showing the view

### Steps to Reproduce

1. Try to set Direction property Up
2. Run the app
3. The view won't change the content

### Expected Behavior
The expander show content to up

### Actual Behavior
Disable the view

### Basic Information

- Version with issue: 1.1.0
- Last known good version:
-

[2021-06-17 00:38] pictos opened #1410 "[Feature] Weak event manager class"
## Summary
In order to have a safe way to subscribe to events and avoid memory leaks we can [implement this weak event manager class](https://docs.microsoft.com/en-us/dotnet/desktop/wpf/advanced/weak-event-patterns?view=netframeworkdesktop-4.8#using-an-existing-weak-event-manager-class).

## API Changes

In the docs they mentioned that pattern was created to solve the memory leak in WPF applicatio

[2021-06-17 06:55] Tommigun1980 commented on #1401
@jfversluis @VladislavAntonyuk I managed to repro the safe area issue with the old version, and it's actually really simple:
1) Have a safe area effect in your view (in my app I use it on the "main" page).
2) Quit the app by pulling from the bottom of the screen and swiping the app upwards

It crashes 100% of the time with the above stack trace.

[2021-06-17 11:15] Enielezi commented on #591
Is there any update on this. Would there be a way to make Swipe on Tabview less horizontally sensitive?

[2021-06-17 13:32] AdamBarnettUK opened #1411 "[Bug] When using FluentAssertion's EventMonitor in a unit test, the ObservableObject throws an exception"
### Description
I've been using event monitoring provided by FluentAssertions for many of my projects to verify the PropertyChanged event is being correctly invoked. I recently started work on a Xamarin Forms project and have been using some implementations from the Xamarin Community Toolkit. In particular, the ObservableObject implementation seems to cause some issues with the EventMonitor class.

[2021-06-17 15:27] GuidoNeele opened #1412 "[Bug] TabView - Adding tabs during OnAppearing content won't show"
### Description
Tab content won't appear when the tabs are added in code behind in the OnAppearing method.

### Steps to Reproduce

1. Start a new Xamarin Forms project
2. Add a new TabView on a page
3. Give the TabView a x:Name property with a value of "MainTabs"
4. Go to the code behind of the page and override the OnAppearing method
5. Add a couple of tabs via this.MainTabs.TabItems.Add();
6. R

[2021-06-17 16:30] NuAoA opened #1413 "[Bug] Fatal NullReferenceException while disposing ImageReader"
### Description

I've run into problems on a android application I am developing where it appears a low level NullReferenceException is being thrown while disposing the camera view from XamarainCommunityToolkit. This exception will crash the whole application.

Looking at the source code for this it appears the call is already wrapped in a try catch, so i'm not sure how the error brings down the a

[2021-06-18 01:03] Tommigun1980 commented on #1401
Can confirm that the crash doesn't happen with the latest nightly build, so https://github.com/xamarin/XamarinCommunityToolkit/pull/1404 worked.

[2021-06-18 08:19] jfversluis commented on #1413
Thanks for the detailed report!

[2021-06-18 08:20] jfversluis commented on #1409
Would you be able to try the latest pre-release and see if this still happens? Also a piece of code, or even better, a small reproduction sample would be amazing :) Thanks!

[2021-06-18 08:24] jfversluis commented on #1412
If you put a breakpoint at the `OnAppearing` does it even get fired at all? Does this work on iOS?

I think the lifecycle events are a bit unreliable in some scenarios and I think this is not so much an XCT problem tbh

[2021-06-18 08:41] jfversluis commented on #411
Let's assume this is fixed then :D

[2021-06-18 08:41] #411 closed

[2021-06-18 08:41] #412 closed

[2021-06-18 08:42] jfversluis commented on #417
Then I'm ruling this one as done and we'll have the other one for the <300ms to investigate that. If this is not correct to anyone in here let me know and I will reopen it

[2021-06-18 08:42] #417 closed

[2021-06-18 08:44] jfversluis commented on #138
This one is merged!

[2021-06-18 08:44] #138 closed

[2021-06-18 08:56] #1189 closed

[2021-06-18 08:56] jfversluis commented on #1189
Should be fixed in next release :)

[2021-06-18 09:03] jfversluis commented on #993
Probably because both of these dim the screen while showing. A repro would be highly appreciated

[2021-06-18 09:14] jfversluis commented on #1171
Was going to try this but the shared project seems to be missing from this repo @nacompllo :)

[2021-06-18 09:15] jfversluis commented on #606
Great find @MichaelStgt thanks! So either make it a ListView or wrap it in a RefreshView then?

[2021-06-18 09:16] GuidoNeele commented on #1412
Jep it get's triggered because the tabstrip (in the bottom) is filled with buttons. Only the content part is missing (the part above the tabstrip).

I think the underlying problem is that the CarouselView isn't updated when the tabs are added via code. Because if you add buttons to an already existing strip of tabs and click the new button an index out of bounds error will show up. See https://git

[2021-06-18 09:21] TheStuck6 commented on #1218
Hi,
i have the same problem and it also occurs on iOS. Analyzing the code it seems that with the ItemsSource the settings are not called the LoadViewAsync method.

@albilaga Have you solved it somehow?

Thank you

[2021-06-18 09:25] nacompllo commented on #1171
I just cloned it and the shared project looks good. I understand why you say that you only see the specific projects of the platforms?

[2021-06-18 09:41] jfversluis commented on #606
Wrapping in a RefreshView doesn't seem to work. Making it a ListView does seem to show the thing but causes some other issues. Thanks though, this seems workable!

[2021-06-18 10:03] jfversluis commented on #606
Turns out the workaround was here all along... 😅

Got it working with the ListView, but yeah WPF and GTK still nothing because of the templates...

[2021-06-18 10:48] #1208 closed

[2021-06-18 13:11] jfversluis commented on #1171
Oh wow that's weird. I didn't check the repo, it is indeed there, my bad. Must've been something weird on my side. I will try again 😅

[2021-06-18 15:37] GuidoNeele commented on #1412
This issue is a duplicate of #559

[2021-06-18 19:28] GABowers opened #1418 "CameraView: can the preview image or individual frames of a video be accessed?"
I've been tasked with streaming video from a mobile device. The CameraView seems to be a nice way of getting pictures or video, but it doesn't appear one can do any sort of streaming of the actual data from the class - it can only be stored on the device. Is this something I'd need to implement myself in the source, or is it there somewhere that I've missed?

[2021-06-20 14:26] angelru commented on #362
any progress on this?

[2021-06-20 18:10] jfversluis commented on #1418
This is indeed not possible right now, sorry :(

There is an issue #1096

[2021-06-20 18:10] #1418 closed

[2021-06-20 18:27] jfversluis commented on #1384
Closing this and leaving #1311 open. This all seems to be the same issue and is more a bug in the tooling than something we can do :(

[2021-06-20 18:27] #1384 closed

[2021-06-20 19:58] maxkoshevoi commented on #1399
@VladislavAntonyuk Native android SnackBar has margin, corner radius and both dark and white themes. I think it's better to use native one for android

[2021-06-20 20:16] VladislavAntonyuk commented on #1399
@maxkoshevoi I don't like that native implementation has only 1 snackbar action button. it is the only 1 reason why I am voting for the custom implementation. as for the CornerRadius, I believe it is pretty simple to add (similar to the Padding property).

[2021-06-20 20:36] maxkoshevoi commented on #1399
This is by design: https://material.io/components/snackbars#anatomy

![image](https://user-images.githubusercontent.com/6609929/122687670-4c8c9480-d220-11eb-8bec-9772e02a6d53.png)

[2021-06-20 20:46] VladislavAntonyuk commented on #1399
But all other platforms display multiple action buttons, so we get inconsistency between different platforms.
some customers prefer native experience, while others choose consistency across all platforms.

[2021-06-20 20:53] VladislavAntonyuk commented on #1399
I will try to find a way to inject an action button in the snackbar layout.

[2021-06-20 21:12] Tommigun1980 commented on #1399
My two cents is to always go for the native implementation when one exists, as it's probably one of the main reasons to use Xamarin.Forms/MAUI over "framebuffer solutions" like Flutter.

So in this case I think that the Android implementation should definitely be native, but all relevant properties should preferably be exposed. Then "emulate" it on unsupported platforms like iOS. The iOS toast mes

[2021-06-20 21:14] Tommigun1980 commented on #1399
My two cents is to always go for the native implementation when one exists, as it's probably one of the main reasons to use Xamarin.Forms/MAUI over "framebuffer solutions" like Flutter.

So in this case I think that the Android implementation should definitely be native, but all relevant properties should preferably be exposed. Then "emulate" it on unsupported platforms like iOS. The iOS snack bar

[2021-06-20 21:19] maxkoshevoi commented on #1399
Could you please give an example (screenshot) of a mobile app with 2+ snackbar actions? I'm interested of how they would fit and be clearly separated. Are other mobile platforms put them on the second row?
(I'm not interested in desktop here since it has much more space to work with)

[2021-06-20 21:29] maxkoshevoi commented on #993
Added test case into a sample app: https://github.com/maxkoshevoi/XamarinCommunityToolkit/tree/993-alert-popup

Screen doesn't blink, but page doesn't get darker either. When Alert is displayed on top of Popup page should become even darker than when just Popup was displayed. Fixing that also should fix blinking issue.

[2021-06-20 21:52] VladislavAntonyuk commented on #1399
https://user-images.githubusercontent.com/33021114/117999189-44058c00-b34d-11eb-91c7-bb3bee0f94c6.png

[2021-06-20 22:06] Cfun1 commented on #1399
@VladislavAntonyuk wouldn't be easier to achieve that with the existing Popup control?

[2021-06-21 07:18] maxkoshevoi commented on #1399
@VladislavAntonyuk I meant native SnackBar. Your screenshot doesn't look like it adheres to any kind of style guide.
SnackBar is not customizable for a reason. It's just meant to notify user about some progress being done. That's it. It's better to not overcomplicate that UI.

I think if iOS doesn't have native SnackBar, it should exactly copy Android's one (like suggested by @Tommigun1980) as it'

[2021-06-21 14:02] NuAoA commented on #1413
After attempting to clean up some of my test code i'm still running into this exception. It must be some kind of race happening where the previous camera view is closing when the server pushes a command to open the view again.

Looking at the XCT source, it appears it is setup to catch `Java.Lang.Exception` and not a generic `System.Exception`. That is why this error is crashing the entire applica

[2021-06-21 22:52] czuck opened #1425 "[Enhancement] Toast Visual Enhancements"
## Summary

A couple (hopefully) small changes/additions that would add a lot of flexibility and functionality to Toast.

## API Changes
1) Define text alignment:  In ToastOptions, remove bool IsRtl and add TextAlignOption TextAlign where
TextAlignOption { Left, Center, Right}.
2) Define width: In ToastOptions, add bool FullWidth where True renders the Toast from edge to edge, false renders it the

[2021-06-22 03:49] Milowsky opened #1426 "Code working on Android but not in UWP"
### Description
The `MediaElement` and `IndicatorView` are working fine in the Android. But when you select the UWP in start up project. No video is playing. Also the `IndicatorView is not scrolling`.

I have this question on the StackOverflow, here is the link for reference. But someone said that this may be a bug in xamarin, so I decided to post this here.

[](https://stackoverflow.com/questions

[2021-06-22 07:09] jfversluis commented on #1426
IndicatorView is something that is in Xamarin.Forms not with us, so if there is a bug there you should report it to them :) Also, I notice that you're on Forms 4.8? You probably want to update to 5.0 to make sure you have the latest bugfixes. Also, are you then even using the Toolkit? The MediaElement was in Xamarin.Forms until version 5 and only then moved to this Toolkit and has had a lot of bug

[2021-06-22 07:15] jfversluis commented on #1425
Thanks for your ideas @czuck ! Please next time take the time to fill out the template to provide us with some more details about your valuable thoughts. The better the understanding we have about what you would like to see, the more likely it is to be implemented.

[2021-06-22 15:21] digitaldirk opened #1428 "[Bug] On iOS, button clicked method fires twice with TouchEffects while in a ScrollView on the first press"
### Description
On iOS only: When you put a Button into a ScrollView with TouchEffect properties the button clicked method will be fired twice on the first press of the button (the presses after the first behave normally). In my provided code I have a button display a popup on each press, and the first press displays two popups.

### Steps to Reproduce
1. On iOS, press a button that has TouchEffec

[2021-06-22 15:37] digitaldirk commented on #1428
Here is a video of the behavior:
https://user-images.githubusercontent.com/22691956/122955500-04ab6180-d335-11eb-9603-390d11a3a485.mov

[2021-06-22 21:22] GABowers commented on #1418
Okay, just FYI I just implemented this myself in CameraFragment.android.cs. I added an event for when the surface texture is updated `this.texture.SurfaceTextureUpdated += Texture_SurfaceTextureUpdated;` in PrepareSession(just below where the SurfaceTexture is grabbed) with an accompanying method

[code]

OnFrame follows the same format as the other events:
[code]

There's a new EventArgs class fo

[2021-06-22 22:19] czuck opened #1429 "[Bug] Vertical and Horizontal options don't work as expected in Popup"
### Description
Changing the HorizontalOptions does change the placement of the popup but changing the VerticalOptions does not change anything.  Adding or removing the AndExpand does not change anything

### Steps to Reproduce

1. Using the Toolkit Test app, edit SimplePopup.xaml and remove the Size property from the Popup tag.  Add VerticalOptions and HorizontalOptions, both set to Center to bot

[2021-06-23 00:56] AndreiMisiukevich commented on #1428
Confirmed this issue. But I don't think it will be possible to fix that

I propose to not use `Clicked` event. Instead I recommend to switch to `Completed`
[code]

[2021-06-23 07:34] roughiain opened #1430 "Error: : XamlC error XFC0000 : Cannot resolve type "TabView""
[code]

![Screenshot 2021-06-23 at 09 33 40](https://user-images.githubusercontent.com/19661735/123055475-38a28780-d406-11eb-9248-09a60a7a61f3.png)

[2021-06-23 13:13] techravi007 commented on #887
Is there any workaround until it get fixed in next coming release.
desperately looking for an update on it.

[2021-06-23 15:45] digitaldirk commented on #1428
Thank you that alternative works for me. @AndreiMisiukevich

[2021-06-23 19:42] Orgbrat commented on #887
@techravi007 Have you heard or read something that definitely states this issue will be fixed in the next coming release?

[2021-06-24 01:04] pictos commented on #1429
Similar to #937

We didn't implement the LayoutOptions logic

[2021-06-24 01:04] #1429 closed

[2021-06-24 01:05] pictos commented on #1430
Closing this one in favor of #1311.

This is more an IDE issue than a lib. issue.

[2021-06-24 01:05] #1430 closed

[2021-06-24 01:26] pictos commented on #1311
As mentioned in other related issues, this is more a tooling issue than an XCT issue. We can't do too much here :(

As far we know you should be able to build and run your app even with those errors

[2021-06-24 10:51] techravi007 commented on #887
@Orgbrat No, I haven't any clue if it is going to be fixed in the next coming release though i'm hoping they should fix it.

[2021-06-24 14:02] Orgbrat commented on #887
Well I have never done anything with someone's open source project before, but I have forked the Xamarin.Community.Toolkit repository and I am going to see if I can tell what is going on with the TabView not working correctly in UWP. Not making any promises but at least I do have everything I need to work on UWP on my machine although I am not a UWP expert. But I am willing to give it a shot.  Wor

[2021-06-24 14:29] czuck commented on #1429
Thais interesting, because if you go into the toolkit sample SimplePopup.xaml and type Ver in the Popup tag, VerticalOptions appears, with a message that indicates it is implemented.
![image](https://user-images.githubusercontent.com/1641428/123280329-8b8b4600-d4bd-11eb-8c52-bffae9a3a690.png)

Doing the same on another page, such as AboutPage.xaml, and it clearly is not implemented.
![image](https

[2021-06-24 21:32] AndreiMisiukevich commented on #1428
Hi @digitaldirk unfortunately, we cannot resolve this issue since the second "click" is sent from ButtonRenderer side and there is no way to ignore it.

please use the workaround

[2021-06-24 21:32] #1428 closed

[2021-06-24 21:43] Luk164 commented on #1308
Just occured to me as well. @VladislavAntonyuk  I wanted to try out your workaround but I am a but confused. Into which App.xaml.cs is it supposed to go? In my prism template this is how the first view is called `NavigationService.NavigateAsync("NavigationPage/LoginPage");` which supposedly wraps it in navigation page by itself yet I still get the error.

[2021-06-24 22:38] pictos commented on #1429
@ahoefling can you refresh my memory? I believe that this wasn't fully implemented and we opened an issue to implement it later, right?

[2021-06-24 23:26] ahoefling commented on #1429
`LayoutOptions` are implemented for Popups, but you need to explicitly set the `Size` as the `Content` doesn't automatically resize the popup. If you do not set the `Size` the popup will render full screen, which would explain the issue noted here. As @pictos linked, #937 the Popup doesn't automatically resize, without explicitly setting your popup `Size` you will run into issues like this.

try d

[2021-06-25 03:18] alexanderdibenedetto opened #1431 "[Enhancement] Add support to prevent device audio capture / focus."
## Summary

It is sometimes desirable to have a media element play a video without any audio - such as a background video. This video should *not* capture or focus the audio of the device so that users can continue to listen to background music while using the application.

## API Changes

In order to facilitate these changes, I recommend the following:

For Android, you would need to set this pri

[2021-06-25 03:23] unamed000 opened #1432 "[Bug] TouchEffect should not propagate event to parent layout"
## Summary

TouchEffect bindable effect should not allow event propagate to parent when child view is already consumed the event, just like TapGestureRecognizer

## Intended Use Case
If i have a layout like this:

ContentView TouchEffect.Command=Click1Command

ContentView2 (inside ContentView) TouchEffect.Command=Click2Command

When i tap on ContentView2, the Click2Command is triggered, but not Cl

[2021-06-25 04:08] VladislavAntonyuk commented on #1308
It have to be in shared project App.Xaml.cc.
Did you remove the nuget package and added the reference to the source code? If you still see the issue, it means that the container for the Snackbar is not found. Could you please share the sample?

[2021-06-25 06:36] Andreas0xffff opened #1433 "[Bug][iOS only] TouchEffect NativeAnimation doesn't reset animated properties when used on ScrollView"
### Description
When using TouchEffect NativeAnimation with a view that's positionend on a ScrollView or SwipeView, the animation doesn't reset the animated properties reliable.
As soon as a scroll of the ScrollView occurs during the tapevent, the animation is interrupted in the middle and not reset.

![Animation](https://user-images.githubusercontent.com/23099353/123380402-b0e88480-d58f-11eb-9be5

[2021-06-25 06:59] Andreas0xffff commented on #1432
Can it be that the problem only exists under iOS?

[2021-06-25 08:33] Andreas0xffff commented on #1432
## Bug on iOS
![Animation](https://user-images.githubusercontent.com/23099353/123394741-c1a0f680-d59f-11eb-9905-3789de330b70.gif)

## Android is fine
![Animation2](https://user-images.githubusercontent.com/23099353/123395206-3bd17b00-d5a0-11eb-833b-06f94fad6195.gif)

## Complained behaviour
When the red layout gets tapped (xct:TouchEffect), the blue command is also tapped.

## Expected behaviour
T

[2021-06-25 08:53] unamed000 commented on #1432
Hi @andreas-nesheim

You're right, i don't have the same problem in Android

[2021-06-25 09:01] Andreas0xffff commented on #1432
Maybe the `ShouldReceiveTouch()` function should be implemented in `TouchEffect`, like it is in the TapGestureRecognizer:

[Xamarin.Forms EventTracker ShouldReceiveTouch](https://github.com/xamarin/Xamarin.Forms/blob/caab66bcf9614aca0c0805d560a34e176d196e17/Xamarin.Forms.Platform.iOS/EventTracker.cs#L655)

[2021-06-25 09:22] Luk164 commented on #1308
@VladislavAntonyuk Here is a copy of my project. I barely started so there is no confidential information or proprietary code yet.
[archived.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6715056/archived.zip)

[2021-06-25 14:26] czuck commented on #1429
Hard coding the size of the popup won't work in my use case because I have created a utility that takes a message and a message type and displays a toast or a popup depending on the type (a success is a toast, a failure is an alert that requires user interaction).  I want to change the alert to a popup because I can change the background color, but since I do not know the size of the message I can

[2021-06-25 14:32] acaliaro commented on #1429
#937

[2021-06-26 19:37] Tommigun1980 commented on #1432
I also have a very very hard time using the touch effect because it works differently on iOS and Android.

[2021-06-26 19:39] Tommigun1980 commented on #1432
This is probably related to my issue https://github.com/xamarin/XamarinCommunityToolkit/issues/842.

[2021-06-26 19:41] Tommigun1980 commented on #1225
@maxkoshevoi Thank you. Unfortunately the iOS SnackBar/Toast is not dismissible by swipe though :/

[2021-06-26 19:45] Tommigun1980 commented on #504
Is there ever a use case where Application.Current.MainPage wouldn't be used? The notifications seem to pop up over everything else (as they should) when Application.Current.MainPage is used no matter what elements exist on top of it.

So in that regard, is there any reason to actually expose the view as an argument in the API if it will always be Application.Current.MainPage (unless there's a use

[2021-06-26 19:50] Tommigun1980 commented on #1399
Hi.

I think that this is actually a pretty high priority feature request. The iOS SnackBar (and probably Toast, haven't tested) looks really out of place as it's just a large rectangle. If https://github.com/xamarin/XamarinCommunityToolkit/issues/1425 was implemented (i.e. corner radius etc. were exposed), and the iOS "emulated" rendering updated to support it I think the component would become a

[2021-06-26 19:51] Tommigun1980 commented on #1425
Very much related: https://github.com/xamarin/XamarinCommunityToolkit/issues/1399

[2021-06-26 22:24] ivanrlg opened #1434 "[Bug]"
### Description
Exception that is thrown in Release mode for UWP.

### Steps to Reproduce

1. Call: `await App.Navigator.ShowPopupAsync(new PopUpCalendar());`
2. In Debug mode it works perfectly.
3. But in Release mode for UWP it throws the exception. "System.InvalidCastException: Specified cast is not valid."

### Expected Behavior
That in Release mode it will not throw the exception

### Actual

[2021-06-27 03:15] AndreiMisiukevich commented on #1432
Hey @unamed000 please verify that my PR https://github.com/xamarin/XamarinCommunityToolkit/pull/1435 fixes your issue please

[2021-06-27 07:39] VladislavAntonyuk commented on #1399
Ok, I will create a PR tomorrow.

[2021-06-27 16:28] asafgo opened #1436 "[Bug] TabView - TabIndicatorColor show on wrong tab when using FlowDirection.RightToLeft"
### Description
TabView - TabIndicatorColor show on wrong tab when using FlowDirection.RightToLeft

### Steps to Reproduce

1. Create a new xamarin forms Shell application
2. Set FlowDirection = FlowDirection.RightToLeft; at AppShell after InitializeComponent();
3. Create a new ContentPage with this XAML

[code]
4. Run the app and move to TAB 2

### Expected Behavior
TabIndicatorColor  should unde

[2021-06-27 22:23] hirios commented on #400
I was about to give up on using "mediaElement". Luckily I saw this thread so I was able to add the "FillAndExpand" attribute. Now it works fine. I didn't need to add storage access to the manifest, nor did I need to set the experimental flag.

[2021-06-27 22:41] #1432 closed

[2021-06-28 02:36] hirios commented on #650
I'm looking for it too!

[2021-06-28 09:28] follesoe commented on #1372
Was not aware of the `PanGestureRecognizer`, @AndreiMisiukevich. Just tried to refactor my code to use this gesture recognizer, and it almost works as expected. However, I can't figure out how to determine the initial touch location, so that I can offset the `e.TotalX` and `e.TotalY` to be relative to the center of the element being panned.

[2021-06-28 09:44] follesoe commented on #1372
Never mind, my logic was flawed, and I was able to reproduce the behavior I wanted using the existing gesture recognizer. However, I still have a feeling something such as the `TouchEffect` would be of value, to have easy cross-platform access to touch events at a slightly lower abstraction level (i.e. the touch events, not as gestures).

But for my particular use case the `PanGestureRecognizer` i

[2021-06-28 21:33] GUOLDEV opened #1442 "[Bug] CameraView Shutter stops responding after multiple calls"
### Description

The `Shutter()` stops responding after multiple calls. I can reproduce sometimes calling just around 10 times.

I have added a record of the issue and a sample [code](https://github.com/GUOLDEV/CameraViewSample).

### Steps to Reproduce

1. Call multiple times `Shutter()`
2. `MediaCaptured` is called until `Shutter()` stops responding

### Expected Behavior

The Shutter does not s

[2021-06-28 23:41] AndreiMisiukevich commented on #1372
@follesoe you are welcome)

[2021-06-28 23:49] AndreiMisiukevich commented on #1372
@follesoe TouchEffect allows handling touch state now (Bindable property or event)

Works in OneWayToSource mode
[code]

Or event
[code]

Also, you can check the status of touch (Started, Completed, Canceled).
The same for hover etc.
You can check exact properties :)

So only ```TouchMove``` and finger coordinates are not available for now, but it's not the goal of TouchEffect, I think. I propose

[2021-06-28 23:49] #1372 closed

[2021-06-29 00:50] GUOLDEV commented on #1442
Please let me know if there is a workaround or if I am missing something on how to correctly use the `CameraView`. Thanks in advance.

[2021-06-29 09:28] slprog1 opened #1443 "CameraView issue - EventToCommandBehavior: Couldn't resolve the event"
Hello there,
I'm using CameraView and EventToCommandBehavior to create some sort of a simple app that makes photos.
But I've faced with the issue of using EventToCommandBehavior. When running app in Release mode on both android emulator and real device I do see the following error in Application Output:

The code itself isn't that complicated:
[code]

The Environment is the latest one at this mome

[2021-06-29 14:18] jfversluis commented on #1442
Did you happen to test it on Android as well by any chance?

[2021-06-29 15:18] Eastrall opened #1444 "[Enhancement] DateTime converter"
Hello Xamarin Community Toolkit team and community!
I love the project so far and we are already using it in our Xamarin.Forms application!

## Summary

I would like to contribute to this project and suggest a new converter for the `DateTime` structure.
The idea would be to use it to format `DateTime`s directly through the XAML, instead of having a `string` property in view models and make the tra

[2021-06-29 17:16] xiedongweo commented on #595
I tried this workaround in my project, but it still did not work.

[2021-06-29 23:38] GUOLDEV commented on #1442
Hi @jfversluis, it is more difficult to reproduce on Android, but it happens in the same way, after multiple calls it stops responding. I have uploaded a record testing on Android Emulator, but that happens on Android real devices as well, we have tested on Samsung Galaxy S8 - Android 9.

[2021-06-29 23:48] GUOLDEV commented on #1443
Hi @slprog1, could you please share the Command that you are Binding to? It works for me without any error on Android, but I had to specify the event args as `MediaCapturedEventArgs` :
[code]

[2021-06-30 00:42] GUOLDEV commented on #1444
Hi @Eastrall, is there a reason you can not use `StringFormat` as described [here](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/data-binding/string-formatting)?

[2021-06-30 06:31] Eastrall commented on #1444
Indeed, the use of `StringFormat` would have the same result! Didn't thought about it.

I don't know if it can be useful in addition to the initial feature request, but maybe the converter could have a predefined set of date formats, such as Angular's `DatePipe` : https://angular.io/api/common/DatePipe#pre-defined-format-options

Which allows to write something like:
[code]
or with the associated

[2021-06-30 08:49] slprog1 commented on #1443
Hi @GUOLDEV , thanks for replying!!
Regarding the command I'm binding to, well it's nothing special here, just a command, which was accepting the object as a parameter type. I did try to specify the exact type **MediaCapturedEventArgs** as you mentioned, but still the behaviour is the same - in Release mode it does no work(
When adding event handler and doing all needed stuff for me there - it wor

[2021-06-30 10:04] GUOLDEV commented on #1443
All good 👍 by the way, the code that I posted is in the ViewModel and it works. When I have a chance I will try in release mode as you reported to make sure it works.

[2021-06-30 21:00] bijington opened #1447 "[Enhancement] More complete set of animations"
## Summary

Provide a larger set of animations to the toolkit.

Please advise on how it would be best to receive these changes. I currently count 97 animations across 16 groupings from the linked page: https://animate.style. Perhaps supplying an initial grouping (e.g. `Attention seekers`) would serve as a good starting point? I appreciate that supplying all those changes in a single hit could make

[2021-07-01 02:45] pictos commented on #1447
Hey @bijington thanks for bring all those goods to the XCT❣ In order to make the reviewers life easy can we split those 97 animations in different PRs?

About the implementation let me ask some questions, that way I'll be able to brainstorm with you some specs for this API.

1. So talking about the extension methods `public static void AnimateTada(this VisualElement visualElements)` do we have one

[2021-07-01 03:16] GUOLDEV opened #1449 "[Enhancement] Implement EnumToListConverter and EnumToNameConverter"
## Summary

A converter that retrieves an array of the values of the constants in a specified enumeration.

- EnumToListConverter
- EnumToNameConverter

I have created a draft [PR](#1448) for better visualization of the Converter concept.

## API Changes

NA

## Intended Use Case

I like to use Enums in various scenarios to simplify the logic, for defining QuestionAnswer for example:

[code]

[cod

[2021-07-01 03:21] pictos commented on #1449
@GUOLDEV can you please fill this issue with more information?

[2021-07-01 04:19] GUOLDEV opened #1450 "[Enhancement] Implement EnumToObjectConverter"
## Summary

A converter that retrieves an object based on specified enumeration(s).

I have created a draft [PR](#1517) for better visualization of the Converter concept.

## API Changes

NA

## Intended Use Case

[code]

[code]

## Who Will Do The Work?

- [x] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-07-01 04:29] GUOLDEV commented on #1449
@pictos I have updated the description.

[2021-07-01 07:48] jfversluis opened #1451 "[Bug] `DrawingView` crashes if `Points` and/or `DrawingFinishedCommand` property is not set"
### Description

I tried to implement a simple `DrawingView`, but it crashed. Looking at the source I need to set both the `Points` and the `DrawingFinishedCommand` else it won't work.

### Steps to Reproduce

1.  Implement DrawingView like below

[code]

2. Run app
3. Try to draw, the app will crash when you take your finger/pointer of the canvas

### Expected Behavior

Line gets drawn

### Actua

[2021-07-01 07:49] jfversluis commented on #1451
@VladislavAntonyuk FYI

[2021-07-01 07:53] jfversluis opened #1452 "[Bug] `DrawingView` shows no output without setting `LineColor`"
### Description

Because the default value of `LineColor` is `Color.Default` no line is shown when you don't set it explicitly. This is not a great first-time use experience. I would set it to `Color.Black` by default so that at least something shows when using this for the first time.

### Steps to Reproduce

1. Implement a `DrawingView` like below

[code]

2. Draw on the canvas
3. Notice how not

[2021-07-01 07:53] jfversluis commented on #1452
@VladislavAntonyuk FYI

[2021-07-01 07:57] jfversluis opened #1453 "[Bug] `DrawingView.ClearOnFinish` seems to have no effect"
### Description

Maybe I'm misunderstanding what this does. I expect that this property would leave my current drawing in place when I start to draw a second line. However, this is not the case. Khttps://github.com/xamarin/XamarinCommunityToolkit/blob/develop/src/CommunityToolkit/Xamarin.CommunityToolkit/Views/DrawingView/Renderer/DrawingViewRenderer.ios.cs#L79 it is correctly checked and the coll

[2021-07-01 07:57] jfversluis commented on #1453
@VladislavAntonyuk FYI

[2021-07-01 08:45] bijington commented on #1447
@pictos please see my response(s) below:

More than happy to send in separate PRs for this stuff 😄. Hopefully they should end up being relatively small.

Yes my plan would be to have a single method per animation just with a load of default parameters. I am open to this not being required however, hopefully I can explain my current usage and I am more than happy to have a suggestion on a better ap

[2021-07-01 11:17] coen22 opened #1455 "[Enhancement] ChatList / MessagesList"
## Summary
In Xamarin Forms it's currently quite difficult to make a smooth Chat UI without a custom renderer (at least this has been my experience). And even then it had performance issues on Android.

## API Changes

Could you maybe create an API that wraps around some native Chat UI components on both iOS and Android?
https://github.com/stfalcon-studio/ChatKit (Android)
https://github.com/Messa

[2021-07-01 11:58] AndreiMisiukevich opened #1456 "TouchEffect doesnt work in UWP? How to use LongPressCommandParameter?"
### Discussed in https://github.com/xamarin/XamarinCommunityToolkit/discussions/1454

<div type='discussions-op-text'>

<sup>Originally posted by **TuxCZ** July  1, 2021</sup>
Hello,
I have problem with a touch effect. It works perfectly in the Android APP, but in UWP doesnt.

My UWP target version is Windows 10, 2004 (Build 19041) and Min version 1803, build 17134...

I tried this fix:
[code]

bu

[2021-07-01 11:59] AndreiMisiukevich commented on #1456
@pictos @jfversluis hey friends, could you please check this issue with UWP versions?
How should users work around it?

Does TouchEffect still work on UWP in main? (I think it should)

[2021-07-01 12:01] AndreiMisiukevich commented on #1456
@TuxCZ you can try to install the `nightly` version of XCT (it contains all the latest changes)

https://github.com/xamarin/XamarinCommunityToolkit/blob/main/README.md#installation

[2021-07-01 13:58] TuxCZ commented on #1456
Ok, I will try it... But i must figure out how to install nightly version...

[2021-07-01 14:53] AndreiMisiukevich commented on #1456
source: `https://pkgs.dev.azure.com/xamarin/public/_packaging/XamarinCommunityToolkitNightly/nuget/v3/index.json`

https://docs.microsoft.com/en-us/azure/devops/artifacts/nuget/consume?view=azure-devops&tabs=windows#2-set-up-visual-studio

[2021-07-01 15:18] IeuanWalker opened #1457 "[Enhancement] Effect to control the frames border thickness"
## Summary

An effect that gives you control over the frames border thickness.

Not sure if this is possible or not, if it is possible, if someone could give me some pointers I'll try and implement it myself.

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [x] Just putting this out there for someone to pick up

[2021-07-01 17:58] TuxCZ commented on #1456
Thx for the link... I tried it, I installed preview 1072, but it doesn´t helped...

[2021-07-01 18:41] AndreiMisiukevich commented on #1456
@pictos could you please check it?

[2021-07-01 20:26] VladislavAntonyuk commented on #1452
Fixed. Set LineColor to Black

[2021-07-01 20:35] VladislavAntonyuk commented on #1453
We should clear the screen when the customer starts drawing independently from the ClearOnFinish.
ClearOnFinish="True" means that the image clears on completing the drawing.

We do not allow multiple lines, because of Points collection. it should be Collection of Collection of Points to support multiple lines.
I am not sure would it be a breaking change in the future or we will be able to add a St

[2021-07-01 20:42] VladislavAntonyuk commented on #1451
Not able to reproduce on Android. Will check on iOS later

[2021-07-01 21:47] AswinPG opened #1458 "[Bug] Custom Position slider value is not updating in Media Element on android"
### Description
Binding Position to a slider does not update the slider position on android as video position changes. The community toolkit sample app has this issue.
### Steps to Reproduce

1. Simply open the community toolkit sample app for android and go to mediaelement page

### Expected Behavior
Position changes are reflected on the slider

### Actual Behavior
Position changes are not reflec

[2021-07-02 02:05] pictos commented on #1447
So if we implement the animations methods as public, we can't change anything there because will be a breaking change
`public static Animation AnimateTada( ... ) // we can't modify parameters`
 said that if we have some public wrapper like `XCT.CreateAnimation` we can implement the animation method as `private` and have more liberty to modify how the method looks like and just exposing a new overl

[2021-07-02 02:07] pictos commented on #1456
@AndreiMisiukevich just saw it right now, sure I'll test by tomorrow and let you know

[2021-07-02 08:50] jfversluis commented on #1453
Interesting, I see how it's supposed to work now, thanks for clearing that up.

I think it would be nice to also have the ability to draw multiple lines independently. I don't fully understand why that should be a problem? The points can be duplicate or overlapping or anything right? But maybe I'm not fully understanding how this works. We should follow up in a new issue probably

[2021-07-02 09:08] VladislavAntonyuk commented on #1453
we draw the line as an array of points (we draw the line between two points). so when we set the points, we will draw the line between the last point of "Line1" and the first point of "Line2".
To support multiple lines we need a new property Strokes (Array of Array of Points). And furthermore, I believe in that case we need to remove Points property. which is a breaking change.
How much time do we

[2021-07-02 09:25] jfversluis commented on #1452
Fixed in #1459

[2021-07-02 09:25] #1452 closed

[2021-07-02 09:25] jfversluis commented on #1453
Fixed in #1459

[2021-07-02 09:25] #1453 closed

[2021-07-02 09:25] jfversluis commented on #1453
I'm releasing it NOW! :P

[2021-07-02 09:26] jfversluis commented on #1451
Fixed in #1459

[2021-07-02 09:26] #1451 closed

[2021-07-02 09:37] nacompllo opened #1461 "[Enhancement] Add NumberOfTapsRequired property in TouchEffect"
## Summary
My suggestion would be to add a new property called NumberOfTapsRequired to the TouchEffect, similar to the one that the [gesture recognizer](https://docs.microsoft.com/en-us/xamarin/xamarin-forms/app-fundamentals/gestures/tap) has to establish how many clicks are necessary for the associated command to be executed.

## API Changes
e.g.
[code]

## Intended Use Case
This functionality co

[2021-07-02 09:37] bijington commented on #1447
You have a much better hat at considering public APIs 😄. I am happy to avoid using the extension method approach, not doing so simplifies things like allowing the use of `params` like you have suggested.

I am happy with letting the dev calling `Commit` as the syntax would be fluent in this scenario:
[code]

I guess the implementation for `CreateAnimation` will pretty much be a large switch statem

[2021-07-02 10:42] VladislavAntonyuk opened #1462 "[Enhancement] DrawingView multiple line support"
## Summary

Allow drawing multiple lines

![image](https://user-images.githubusercontent.com/33021114/124515592-7e892380-dde8-11eb-8b76-47860c386ff8.png)

## API Changes

**new**
properties:
- Lines. It is a Collection of Lines.
- MultiLineMode. "False" -> Erase the image on Starting drawing. (Default value). "true" -> Add as many lines as you need

classes:
- Line. I should have an Observable Col

[2021-07-02 14:32] phandcock commented on #1251
Still seems to be an issue in Release 1.2 which is not unexpected as its still open and not referenced in the Release notes :-)

[2021-07-02 14:33] phandcock commented on #1434
Still seems to be an issue in Release 1.2 which is not unexpected as its still open and not referenced in the Release notes :-)

[2021-07-02 14:50] xiedongweo opened #1463 "[Bug] Nested tabview will show wrong tabviewitem content"
### Description

I'm using a TabView(named as tab1) control on the MainPage. The TabView has five TabViewItem. In third TabViewItem, its content is a ContentView, and in this view, it has another one TabView(named as tab2) control.

So, the strange issue is coming.

When I set the SelectedIndex for the tab1, for example, I set the SelectedIndex to 3. Then it should show the fourth TabViewItem cont

[2021-07-02 15:10] jfversluis commented on #1462
Sounds good to me! The only thing we need to think about is how this works together with ClearOnFinish.

I guess we need some property to enable “multi line mode”? Because right now if you start drawing one line and then the second it erases the first, or with ClearOnFinish enabled it erases as soon as you stop the first line.

you have a proposal for that?

[2021-07-02 16:38] VladislavAntonyuk commented on #1462
ClearOnFinish = "True" -> Erase the image on Finish drawing. It will be independent from MultiLineMode.
MultiLineMode = "False" -> Erase the image on Starting drawing. (Default value)
MultiLineMode = "true" -> Add as many lines as you need

[2021-07-03 02:30] pictos commented on #1447
@bijington

No, we can grab the Maui idea and have a `Dictionary<Enum, Func<Animation>>` or something like that, that will be much cleaner than having a huge switch statement.

We need to think about it... Maybe a builder/fluent pattern, but let's see how your PR will look

[2021-07-04 02:32] alexanderdibenedetto commented on #1431
Or perhaps, even simpler, just add an IsMuted ala the WPF version of this control: https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.mediaelement.ismuted?view=net-5.0

[2021-07-04 02:47] alexanderdibenedetto commented on #1431
@jfversluis can I work on this for y'all? My first time contributing to this project so not really clear as to when needs-approval becomes approved or not.

[2021-07-04 06:48] bijington commented on #1447
Sounds good! Any reason to avoid a giant switch statement is good in my book 😄

I have some ideas on how this might work based on some tests I did on Friday. I think I could get it fluent without needing a builder pattern but more than happy for you to make a decision on that once I submit something.

[2021-07-04 09:20] jfversluis commented on #1462
And what happens when someone sets MultiLineMode to true _and_ ClearOnFinish to true? 😬

When do you know when the drawing is finished in a multi line scenario?

[2021-07-04 09:22] jfversluis opened #1466 "[Enhancement] Add `DrawingCompleted` Event to `DrawingView`"
## Summary

To support both data binding and code-behind scenarios we want to add a `DrawingCompleted` event next to the already existing command with the same name.

## API Changes

Add:
* `DrawingView.DrawingCompleted` event
* `DrawingCompletedEventArgs` with the points that are in the drawing

## Intended Use Case
For when I don't want to use data-binding

## Who Will Do The Work?

- [ ] I am w

[2021-07-04 16:45] VladislavAntonyuk commented on #1462
Just when you finished the line it will be cleared. It’s independent from MultiLineMode. ClearOnFinish always wins.
It is a simplest scenario. We can extend with time-out property later. I think it is now out of scope

[2021-07-04 17:01] pictos commented on #1456
@AndreiMisiukevich LongPress is working on our sample in `main` branch

[2021-07-04 17:03] pictos commented on #1431
@peterfoot what do you think about this feature?

[2021-07-04 17:05] pictos commented on #1431
Hey @alexanderdibenedetto, for sure you can work on this as soon this gets approved. Sorry for the late reply, we are just fell maintainers and we have to check a lot of PRs and issues and in this particular case, we were focused on the 1.2 release.

[2021-07-04 17:22] AndreiMisiukevich commented on #1456
@TuxCZ can you please provide a sample?

[2021-07-04 17:34] peterfoot commented on #1431
Sounds like a great idea and is definitely worth adding. Hooking it into IsMuted seems a good idea and keeps it in step with WPF/UWP

[2021-07-04 17:41] pictos commented on #1431
@alexanderdibenedetto, you can work on this one. I labeled this issue as `in-progress`, please let me know if you can't continue working on this. Since this is a new feature please target the `develop` branch

[2021-07-04 17:55] TuxCZ commented on #1456
I created sample APP...
https://file.io/ii79QBsL34sz

[2021-07-04 20:00] AndreiMisiukevich commented on #1456
@TuxCZ
![image](https://user-images.githubusercontent.com/10124814/124397903-2502f500-dd13-11eb-8edb-c88b9dde0b73.png)

Can you upload a zip archive here?

[2021-07-04 20:09] TuxCZ commented on #1456
[UWPSample.zip](https://github.com/xamarin/XamarinCommunityToolkit/files/6760512/UWPSample.zip)

[2021-07-04 20:17] AndreiMisiukevich commented on #1456
@pictos could you please check provided sample on UWP?

Thanks

[2021-07-04 22:31] pictos commented on #1456
@AndreiMisiukevich @TuxCZ I was able to make the sample work
![image](https://user-images.githubusercontent.com/20712372/124401185-40173a00-dcfe-11eb-88ae-a40a67940043.png)

The issue is related to the UWP target version. You need to have your version configuration like this to make it work
![image](https://user-images.githubusercontent.com/20712372/124401198-558c6400-dcfe-11eb-86fc-bdd52f5716f0.p

[2021-07-04 22:32] #1456 closed

[2021-07-05 05:40] maxkoshevoi commented on #1444
There're predefined format values for that too: https://sharplab.io/#v2:C4LgTgrgdgNAJiA1AHwAICYCMBYAUHgEQENgBTAFQEsBbUgAigHsB3OgXjuLKtoDoA5FgG48qTAE4AFACICIOtLqIGLXuUYBlYGEpQA5jILSAlMZG4xU6QgVK6K5ms3bdB6ybOiJMgGLzFykyO6lo6+r4e5pYyAGbyAN4ADCAxAL7SMA6eFt7SAOIJyXnpmUHZ0dJ6hSB6JVlRuQCy1Y11ZQ1WAPLVnW0s5bmM1Yx9zANWAErVE6PjMgDO1fOzHTLk1eQrXlagdEkgwFs5VgCq1SdHFRDVEJe5AJrV9ytAA=

[2021-07-05 06:34] asafgo opened #1469 "Shell.Current.GoToAsync to xct:Popup restuls with error System.NullReferenceException"
### Description
I would like to display Popup with xamarin community toolkit Popup so but when trying to navigate to it using Shell I am receiving the error "System.NullReferenceException Message=Object reference not set to an instance of an object."
### Steps to Reproduce

Popup XAML Code and Code behind

`     <?xml version="1.0" encoding="utf-8" ?>
     <xct:Popup xmlns="http://xamarin.com/sche

[2021-07-05 07:16] TuxCZ commented on #1456
Thx, it works for me now on boxview too, but if u change boxview to entry or different component it stopped working...

[2021-07-05 07:53] Cfun1 commented on #1469
This is not a bug

 https://stackoverflow.com/q/68234488/5228202

[2021-07-05 08:10] jfversluis commented on #1469
At this time Popup is not supported on Shell. We might want to put in an issue to see if there's any interest in that and if we can even do that. Closing this one for now.

[2021-07-05 08:10] #1469 closed

[2021-07-05 08:14] jfversluis opened #1470 "[Enhancement] Shell Support for Popups"
## Summary

Right now, I think because of the difference in navigation, we don't support Shell for Popups. It would be cool if we could do that.

At this time putting this out there to gauge interest, not really investigated if it is even possible or how.

## API Changes

Not sure if we would actually need changes on the API but more on the implementation and switch between different navigation me

[2021-07-05 08:14] jfversluis commented on #1470
@ahoefling can it be done? Any perspective on this one?

[2021-07-05 08:16] jfversluis commented on #1462
Ah so that means the drawing completed command is fired after each line then?

[2021-07-05 08:20] VladislavAntonyuk commented on #1462
yes, But I think it's better to name it DrawingLineCompletedCommand

[2021-07-05 09:17] sohrabgheisari opened #1471 "TabView not work in rtl"
-FlowDirection="RightToLeft" not work in tabview
-when use a rtl entry in tabview,by focus on entry the tab switch to last tab

[2021-07-05 09:55] amirvenus commented on #294
My requirement is that the results list to overlay View(s) under the label instead of pushing them down the page to make up space for itself

[2021-07-05 11:34] MarcosCobena commented on #1311
Hi,

There's a workaround where replacing URIs with clr-namespaces gets rid of those errors.

For instance, replace

          xmlns:xct="http://xamarin.com/schemas/2020/toolkit"

with

          xmlns:xct="clr-namespace:Xamarin.CommunityToolkit.UI.Views;assembly=Xamarin.CommunityToolkit"

I hope it helps!

[2021-07-05 12:44] ahoefling commented on #1470
I'll need to chat with @PureWeen and see what we can do. We can certainly add it but adding it to work with the Shell navigation may be tricky.

Are there extension points in the navigation API for shell?  Some things to consider
- Do we want to use the string/uri based navigation to display the popup?
- Do we want to create an extension method on the Shell root object?

I would argue it makes sen

[2021-07-05 13:59] jfversluis commented on #1471
Please use the issue template to provide more info on the issue you encounter, thanks!

[2021-07-05 13:59] #1471 closed

[2021-07-05 14:08] jfversluis opened #1472 "[Enhancement] Setup GitHub Issue Forms for better issue reporting"
## Summary

Look into the new [GitHub issue forms](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms). This should lead to a better experience to report issues and as maintainers we should get better info for us to work with.

## API Changes

NA this is a change on our repo only

## Intended Use Case
NA

## Who Will Do The Wo

[2021-07-05 14:10] jfversluis commented on #1462
Could you update the initial post with some C# code of the changes you want to make? Which properties you want to add, remove, rename, etc.

[2021-07-05 14:42] jfversluis commented on #1463
Thanks for the report!

There seems to be something weird with the sample code you linked. Pressing the button on the first try doesn't do anything due to the way it is setting the BindingContext only when the first tab change has happened (see [here](https://github.com/xiedongweo/xamarin-samples/blob/master/App10/MainViewModel.cs#L39))

If I ignore that, the tab seems to change to the right one w

[2021-07-05 15:18] jfversluis commented on #1458
Thanks for the report! Did you by any chance also test it on iOS? Does it work there?

[2021-07-05 15:35] jfversluis commented on #1457
I don't think it's possible without hacking. I quickly checked Google as well as the iOS implementation and there are some fields that are private and we can't access with renderers or effects :(

While I'd love to provide a solution, I won't go as far as hacking things in this Toolkit to make it work. Let's hope we can add this early on in .NET MAUI!

Thanks for the suggestion though!

[2021-07-05 15:35] #1457 closed

[2021-07-05 16:03] AswinPG commented on #1458
Yes I did. It's working on iOS finely. No issues

[2021-07-05 16:05] AswinPG commented on #1458
But I did notice that there is an issue of repeated Seek if we increase the speed above 1.5x. And that happens only if we bind the Position to the Slider

[2021-07-05 18:17] VladislavAntonyuk commented on #1462
I am still thinking about the possible changes which we'll have. let's update what we have so far

[2021-07-05 20:35] AndreiMisiukevich commented on #1456
@TuxCZ so it doesn't work if you use ContentView or StackLayout?

[2021-07-05 20:49] TuxCZ commented on #1456
This works if I set target and max version how u said:
[code]

but this doesnt work in UWP, only in android project:
[code]

[2021-07-05 21:10] VladislavAntonyuk commented on #1466
I am willing to take this on myself

[2021-07-05 21:34] bijington commented on #1466
@VladislavAntonyuk have you looked in to this yet? I was just about to send in a PR for it

[2021-07-05 22:03] bijington commented on #1466
@VladislavAntonyuk I have gone ahead and raised my PR in a draft state as I found a potentially serious bug with the `DrawingView`. I am still happy for you to push your stuff and claim the PR if you had already looked in to the change 😄

[2021-07-05 22:05] irongut commented on #1286
I'm seeing the same issue when setting any property on TabView using implicit styles, not just TabStripBackgroundColor. For example this style also generates a NullReferenceException:

[code]

Stack trace frrom App Center:

[code]

[2021-07-05 22:16] dansiegel opened #1474 "[Bug] DrawingCompletedCommand improperly implemented"
### Description

The Renderers seems to have improperly implemented calling the Command. As a matter of standard practice, CanExecute for a Command expects the same value that will be passed to Execute. The purpose of CanExecute is to evaluate the Command Parameter to determine whether or not it should execute. The sample below points to the UWP renderer, but it appears all of the platforms have i

[2021-07-05 22:59] AndreiMisiukevich commented on #1456
@TuxCZ yeah, it can be an issue that Long Press is not working with entry on UWP, but you mentioned that ``` if u change boxview to entry or different component it stopped working```

So, doesn't it work only with Entry or with all other views except BoxView? Does it work well with ContentView, StackLayout, Label etc.

[2021-07-05 23:01] VladislavAntonyuk commented on #1466
@bijington don't worry, I will migrate your changes to the https://github.com/xamarin/XamarinCommunityToolkit/issues/1462

[2021-07-05 23:16] VladislavAntonyuk commented on #1462
@jfversluis I created a draft PR https://github.com/xamarin/XamarinCommunityToolkit/pull/1475. What do you think?

[2021-07-06 05:46] bijington commented on #1466
@VladislavAntonyuk Great. Sorry just to be clear does that mean I should proceed with this and you will merge later or leave this and you can pick the best bits? I see there is quite a change to #1462

[2021-07-06 06:43] VladislavAntonyuk commented on #1466
My PR is a breaking change and it will be at least in XCT 1.3.
Your changes may appear in 1.2.1.
It’s up to you.

[2021-07-06 06:46] bijington commented on #1466
@VladislavAntonyuk great thanks. I will put that decision to the maintainers @jfversluis @pictos @AndreiMisiukevich

If it does go ahead I'll be happy to assist with any merges to your stuff if you need

[2021-07-06 08:10] jfversluis commented on #1474
Good catch, thanks!

[2021-07-06 08:21] bijington commented on #1474
I am in and working around the `DrawingView` so happy to pick this up

[2021-07-06 08:25] bijington opened #1476 "[Bug] All instances of DrawingView share an instance of Points"
### Description

Basically the call to initialise `Points` with `BindableProperty.Create(defaultValue: new ObservableCollection<Point>())` results in that instance being used for all instances of `DrawingView`.

### Steps to Reproduce

The following test case currently passes in the 1.2.0 codebase

[code]

### Expected Behavior

Each instance of `DrawingView` should have its own instance of `Point

[2021-07-06 08:25] bijington commented on #1476
For the record I am willing to fix this

[2021-07-06 08:28] TuxCZ commented on #1456
I tested other controls and all works except entry and the editor...

[2021-07-06 09:27] jfversluis commented on #1476
Go for it!

[2021-07-06 11:55] shrikantbmali opened #1477 "[Bug] Shadow Effect does not work with UWP with the 1.2.0 release."
### Description
Shadow Effect does not work with UWP with the 1.2.0 release.
### Steps to Reproduce

1.  Create a simple app add the NuGet package reference and paste the code from Sample App.
2.  Or, you can choose to use the Xamain Community toolkit project but with NuGet package reference instead of project reference to Xamarin Community toolkit
3. With this setup it does not work.

### Expecte

[2021-07-06 14:43] bootcom-uk opened #1479 "[Bug] Unable to use drawing canvas when targeting UWP"
### Description

I am unable to draw anything when using the drawing canvas in my UWP app, I don't have this issue when targeting Android.

### Expected Behavior

Ability to draw a link in the UWP application.

### Actual Behavior

Nothing being drawn.

### Basic Information

Target Version: Windows 10, version 1903 (10.0; Build 18362)
Min Version; Windows 10, version 1803 (10.0; Build 17134)
Runn

[2021-07-06 14:45] Agredo commented on #887
@Orgbrat Thank you! If You need help I hope I can help. We need it too working for UWP.

[2021-07-06 15:00] VladislavAntonyuk commented on #1479
most likely related to https://github.com/xamarin/XamarinCommunityToolkit/issues/1308

[2021-07-06 15:38] Orgbrat commented on #887
@Agredo  Well unfortunately I have received a new project to work on and my time is very limited for this issue. I will get back to this as soon as I can. Sorry...

[2021-07-06 16:02] VladislavAntonyuk commented on #1474
Fix in https://github.com/xamarin/XamarinCommunityToolkit/pull/1475

[2021-07-06 16:05] VladislavAntonyuk commented on #1462
@jfversluis implemented for all platforms. Verified on Android,
I will check it on iOS. If everything is fine, I will publish the PR.

[2021-07-06 17:17] danielftz commented on #1091
Same issue still persists for me.

Could you please tell me what the ContentView workaround is? Thank you.

[2021-07-06 17:33] AndreiMisiukevich commented on #1456
@TuxCZ feel free to open a different issue (but I am not sure we will be able to fix it soon)

[2021-07-06 18:01] danielftz commented on #1091
Nevermind, recent update has resolved this issue.

[2021-07-06 20:06] TuxCZ opened #1481 "[UWP]TouchEffect doesnt work on Entry or Editor control"
Hello,
In #1456 u helped me with problems with TouchEffect, but now I am facing problem that TouchEffect in UWP doesnt work with Entry or Editor control. with other works fine.

### Steps to Reproduce

U can define something like:
[code]

### Expected Behavior
LongPressCommand is called.

### Actual Behavior
LongPressCommand is not called.

### Basic Information
- Version with issue: I have instal

[2021-07-06 23:12] pictos commented on #1470
Are you able to do `Shell.Current.Navigation.ShowPopup()`?

[2021-07-06 23:14] pictos commented on #1477
@shrikantbmali can you check [if this ](https://github.com/xamarin/XamarinCommunityToolkit/issues/1456#issuecomment-873674900)workaround solves your issue?

[2021-07-06 23:38] alexanderdibenedetto commented on #1431
Thanks, will do! :)

[2021-07-07 07:42] jfversluis commented on #1455
Hey Coen!

I love the last option you added there! And seeing your name seemed Dutch, I looked at your profile and you're in Maastricht?! You're like my neighbor! 🙀

Anyway, the important stuff. We'd love to have something like this. A lot of people seem to want it. However, seeing the current velocity and future of this package I feel that this might be too much to take on right now. What I mean

[2021-07-07 07:42] #1455 closed

[2021-07-07 07:59] #1476 closed

[2021-07-07 08:12] coen22 commented on #1455
Haha, yes I live in Maastricht, we should go for coffee sometime!

Yes, that makes sense, I also posted this request on the MAUI repo, but they told me to post it here :D but it would nice to have this in a Maui Community Toolkit.

I'm using a collectionview right now, but if you scroll too quickly, it's not great. I'm using it to make a free app for finding a dance partner (as that's been a bit d

[2021-07-07 13:09] jfversluis commented on #1455
SyncFusion has the [community license](https://www.syncfusion.com/products/communitylicense) which is free and it seems like you qualify :)

Find my email on my GitHub profile and shoot me a message, we'll see about that coffee!

[2021-07-07 14:42] DanKyungu commented on #901
Resolved in the 1.20 version.

[2021-07-07 15:06] ahoefling commented on #1470
It has been a long while since I used shell, if the `INavigation` interface is available like that it should be an update to documentation than a code change.

[2021-07-07 15:25] NuAoA commented on #1413
I've had some more time to dig into this, and i believe i have confirmed my suspicions that this is a race between threads.

I connected the XCT source to my project to debug things and updated `CameraGragment.android.cs` to log the ID of the current thread that is disposing it:

[code]

I managed to catch the race happening:

Console Log:

[code]
![image](https://user-images.githubusercontent.com

[2021-07-07 19:59] alexeystrakh opened #1482 "[Bug] Unable to run Unit Test after adding the `XamarinCommunityToolkit` package to a project"
### Description

Unable to run Unit Test after adding the `XamarinCommunityToolkit` package to a project. I have a sample `Xamarin.Forms` app where I want to cover the shared core with Unit Tests (my view models and services). A complete sample to reproduce the issue is in [this repository (`xct-wpf-issue` branch)](https://github.com/xamcat/xamarin-unittesting/tree/xct-wpf-issue)

### Steps to Rep

[2021-07-07 21:05] xiedongweo commented on #1463
@jfversluis  As I said, please deploy it to a mobile phone. This problem seems to be difficult to reproduce in the emulator.

[2021-07-07 21:09] VladislavAntonyuk commented on #1399
Can we close this issue?

[2021-07-07 21:21] xiedongweo commented on #1463
@jfversluis  And with my tests on my phone, the tab selection changed event will be fired when page appearing, so the bindingcontext should has been set. You do not need to switch the tab to fire the selection changed event manually. Pressing the button should work on the first try.

[2021-07-07 21:30] pictos commented on #1399
Closing the issue❣

[2021-07-07 21:30] #1399 closed

[2021-07-07 23:32] pictos commented on #1482
@alexeystrakh can you[ try this workaround?](https://github.com/xamarin/XamarinCommunityToolkit/issues/1167#issuecomment-833749480)

[2021-07-08 01:51] pictos opened #1485 "[Housekeeping] ♻ Reduce warning noise"
Reduce the number of warnings

[2021-07-08 04:01] GUOLDEV commented on #1443
Hi @slprog1 I can reproduce the issue that you reported, `CameraView.Behaviors` works only in `Debug` Mode.

[2021-07-08 04:59] pictos commented on #1443
@GUOLDEV can you change the Linker configuration in DEBUG mode to be Link SDK and assemblies? After that let me know if the issue happens in Debug as well. Thanks in advance.

[2021-07-08 05:00] #1485 closed

[2021-07-08 05:33] GUOLDEV commented on #1443
@pictos thanks mate for the prompt reply. I have tested and it stops working setting the Linking to "Sdk Assemblies Only" or "Sdk and User Assemblies" in DEBUG mode. I have tested on Galaxy S9+ Android 10. Please let me know if I can help with any other info.

![image](https://user-images.githubusercontent.com/22019245/124867494-8bcd2a80-e001-11eb-8cb5-921c3cbc7aa2.png)

[2021-07-08 05:35] pictos commented on #1443
Yeah, this looks like a linker issue. I'll try to investigate this tomorrow or next week. Thanks for your help ❤

[2021-07-08 05:35] pictos commented on #1443
@GUOLDEV if you can attach your repro here will be amazing!

[2021-07-08 05:56] GUOLDEV commented on #1443
@pictos do you mean the sample code?

[2021-07-08 08:27] Seuleuzeuh commented on #1261
Settings the xct:TouchEffect.DisallowTouchThreshold to 1 did the trick for me, using the NormalBackgroundColor and PressedBackgroundColor. And also with the LongPressCommand. All of that in elements of a CollectionView.

[2021-07-08 08:50] pavshr commented on #1311
Hello, @MarcosCobena
Thanks for posting this, however, the proposed workaround didn't work for me 😔.

In general:
I get the error in Azure CD pipeline (XamarinAndroid and XamatiniOS tasks) after upgrading from 1.1.0 to 1.2.0 (we wanted to take in use `SemanticOrderView`).

The error is:
`XamlC error XFC0000: Cannot resolve type "xct:SemanticOrderView"`

Any other suggestions for how I can overpass

[2021-07-08 10:28] mphill opened #1487 "[Bug] Buttons no longer work when using xct:TouchEffect.IsToggled [iOS Only]"
### Description

Buttons that use xct:TouchEffect.IsToggled no longer function in 1.2 with what I believe were changes introduced in https://github.com/xamarin/XamarinCommunityToolkit/commit/4c566de6b58035f719d0bd4a95ea7ec874290802

Impacts iOS only - Android seems fine.

### Steps to Reproduce

[code]

The button is effectively disabled.

### Expected Behavior

Button should toggle state

### Act

[2021-07-08 10:52] rsbepvb commented on #1311
This workaround is working for me.  Thanks for the tip.

[2021-07-08 12:50] kevin68 commented on #1144
Hi, I think there was an issue with the last release (1.2.0)
This issue (with its PR #1147) were marked as fixed in the changelog, but after updating the package I still encountered the error.
After cleaning the project, nuget cache, restarting VS, I downloaded the package directly from the NuGet page and checked with dotPeek.
The function `SetDirection` in the `Expander` view, still contains this

[2021-07-08 13:03] kevin68 opened #1489 "[Bug] Issue with the last release not containing all changes listed in the changelog"
### Description
Hi, I think there was an issue with the last release (1.2.0)
The issue #1144  (with its PR #1147) were marked as fixed in the changelog, but after updating the package I still encountered the error.
After cleaning the project, nuget cache, restarting VS, I downloaded the package directly from the NuGet page and checked with dotPeek.
The function `SetDirection` in the `Expander` vie

[2021-07-08 13:13] jBijsterboschNL commented on #701
@Cfun1, not sure if you still need this, but here is some docs on how to apply an entry cursor color on iOS via Xaml and C# code: https://docs.microsoft.com/en-us/xamarin/xamarin-forms/platform/ios/entry-cursor-color

[2021-07-08 15:14] Tum4ik opened #1490 "[Bug] System.InvalidOperationException: Invalid on Color.Default"
### Description

System.InvalidOperationException: Invalid on Color.Default

Color.MultiplyAlpha (System.Double alpha) D:\a\1\s\Xamarin.Forms.Core\Color.cs:151
PlatformShadowEffect.Update ()
PlatformShadowEffect.OnElementPropertyChanged (System.ComponentModel.PropertyChangedEventArgs args)
PlatformEffect`2[TContainer,TControl].SendOnElementPropertyChanged (System.ComponentModel.PropertyChangedEven

[2021-07-08 15:24] benwalpole opened #1491 "[Bug] System.Reflection.ReflectionTypeLoadException When Running App Center Tests"
### Description

We have started using `AsyncCommand` but this is causing an error when running our Xamarin UI tests in App Center that looks like it's related to reflection and type loading.

Our tests are implemented with a .NET 4.6.1 console application.

### Steps to Reproduce

1. Use `AsyncCommand` with an app.
2. Run Xamarin UI Tests.

### Expected Behavior

Tests should run without an issue

[2021-07-08 16:43] alexeystrakh commented on #1482
Thanks @pictos, just checked it and it works great! Downgrade from `net5.0` to `netcoreapp3.1` target along with the `GenerateErrorForMissingTargetingPacks = false` fixes the issue.

[2021-07-08 16:43] #1482 closed

[2021-07-08 22:10] AndreiMisiukevich commented on #1487
Fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1465

Please use nightly NuGet until a new version is released

[2021-07-08 22:10] #1487 closed

[2021-07-09 00:02] DominicMaas commented on #190
Any updates on reducing the duplicating efforts between the MVVM helpers in this toolkit and the Microsoft.Toolkit.Mvvm? Would it make sense for the Xamarin Community Toolkit to depend on `Microsoft.Toolkit.Mvvm` to try reduce fragmentation?

[2021-07-09 01:29] pictos commented on #1490
@Tum4ik I'm sorry but your report doesn't provide useful information to us to investigate your issue, please open a new issue following our bug template.

[2021-07-09 01:30] pictos commented on #1491
@benwalpole can you provide a snippet of the code that's failing or a small repro?

[2021-07-09 01:31] pictos commented on #1489
@AndreiMisiukevich did you already merge the fix for this one, right?

[2021-07-09 05:20] GUOLDEV commented on #1443
@pictos do you think it is affecting just CameraView or other controls in general? Sorry, I didn't have time to try other controls to confirm that. If it is just CameraView it would be good to add the CameraView label.

[2021-07-09 05:43] pictos commented on #1443
@GUOLDEV I didn't test either, for now, I'll assume that issue is general

[2021-07-09 06:53] MarcosCobena commented on #1311
How is xct defined?

[2021-07-09 07:58] kevin68 commented on #1489
My bad, i just found #1467 which already fixes that, guess i just need to wait for the next release !

[2021-07-09 08:13] Tum4ik commented on #1490
Hi @pictos , please, review https://github.com/xamarin/XamarinCommunityToolkit/pull/1492.

[2021-07-09 10:12] Cfun1 commented on #701
@jBijsterboschNL thanks for the suggestion but unfortunately I need it for Android.

[2021-07-09 10:26] VladislavAntonyuk commented on #1308
@Luk164 if you do what I wrote above, it will work:
![image](https://user-images.githubusercontent.com/33021114/125064366-42d8ad00-e0b9-11eb-97f0-e101ee2bbbcd.png)

So instead of adding the nugget package add the source code

[2021-07-09 10:58] ignatiucnetinfo opened #1493 "[Bug] The TouchEffect doesn't work with PanCakeView"
### Description

The Touch Effect isn't always working on the iOS on the last 1.2.0 build, but it works in the 1.2.0-pre2 build

### Steps to Reproduce

1.  several touch effects on the main screen
2.  push to navigation the second screen
3.  the TE on the second screen doesn't work.

Just in case it's important, the controls are PancakeView.

[2021-07-09 11:10] #1490 closed

[2021-07-09 11:11] jfversluis commented on #1489
Unfortunately there was a mixup with that commit and the actual change didn't end up in the release. Took it out of the release notes, should _really_ be fixed for the next release :) sorry about that!

[2021-07-09 11:11] #1489 closed

[2021-07-09 12:35] Keivhin opened #1494 "[Enhancement] SnackBars should not appear in front of navigation"
## Summary

Hi !

According to the [Google Material documentation](https://material.io/components/snackbars#placement), SnackBars should not appear in front of navigation. I just tried to display one in my app that has a TabbedPage as CurrentPage, and the result is that the SnackBar masks my Tabs (wich are placed at the bottom of my page)

![SnackBar](https://user-images.githubusercontent.com/7699

[2021-07-09 14:55] dejanbasic opened #1495 "[Bug] DrawingView: Clearing points from the collection doesn't clear the UI on iOS"
### Description
When I execute Clear() method, on Points collection in DrawingView, UI is not cleared on iOS
### Steps to Reproduce

1. Clear DrawingView's Points collection, in code behind or in view model
2. Points collection is empty
3. DrawingView is still showing points on the UI

### Expected Behavior
DrawingView UI is empty
### Actual Behavior
DrawingView UI is showing cleared points
### Ba

[2021-07-09 18:42] Cfun1 opened #1496 "[Bug] Toast doesn't apply CornerRadius property"
### Description
Feature introduced in https://github.com/xamarin/XamarinCommunityToolkit/pull/1437  (cc @VladislavAntonyuk)
The CornerRadius property for SnackBar  works but not for Toast.

### Steps to Reproduce

[code]

### Expected Behavior
Toast displayed with corner radius = 20.

### Actual Behavior
Toast displayed with corner radius = 0 (default).

### Basic Information

- Version with issue

[2021-07-09 19:09] VladislavAntonyuk commented on #1496
We do not use the native toast.
We use the Snackbar in both cases.

[2021-07-09 20:04] Cfun1 commented on #1496
Despite that native Snackbar is used for both, the `CornerRadius` property is not being applied for `DisplayToastAsync`

[2021-07-09 20:41] jBijsterboschNL commented on #701
@Cfun1 have you tried this?? https://social.msdn.microsoft.com/Forums/en-US/d975148a-1ce0-4fbe-9928-18cb2b0368fa/change-cursor-color-in-entry?forum=xamarinforms

[2021-07-09 20:47] wagenheimer commented on #1311
It also doesn't work for me!

Because this error, HotReload don't work for me. It always fails with this error.

[2021-07-11 19:25] AndreiMisiukevich commented on #1493
@ignatiucnetinfo Hi, could you please check a "nightly" XCT package?
https://github.com/xamarin/XamarinCommunityToolkit#installation

Because this issue might be fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1465

Also, you could you please provide a sample app if the nightly package is not working for you too

[2021-07-12 06:30] maxkoshevoi commented on #1494
Call `DisplaySnackbarAsync` on specific tab, and not on TabbedPage, then it will be displayed at the bottom of that tab.

Also you can call `DisplaySnackbarAsync` on your floating action button, so it will be displayed above it

[2021-07-12 06:40] MarcosCobena commented on #1311
Just to double check for those of you who still see the error: have you reviewed every namespace? It happened to me I had four or five different XAMLs failing, not just one.

[2021-07-12 07:26] VladislavAntonyuk commented on #1496
yes, you are right. Found the issue.
will create a pr soon

[2021-07-12 07:50] Keivhin commented on #1494
Hi Max,

I'm already calling the `DisplaySnackBarAsync` on my specific tab. Calling the SnackBar on an equivalent to the floating button is working, thanks :). But I think it might be a little tricky in some cases.

[2021-07-12 08:53] ignatiucnetinfo commented on #1493
@AndreiMisiukevich
Here a sample of the issue.
https://drive.google.com/file/d/103VetiCuVQi5cdHySCE2WJmu2eHPuOUh/view?usp=sharing

[2021-07-12 09:29] AndreiMisiukevich commented on #1493
@ignatiucnetinfo hi, thanks for the sample!

Have you tried the nightly package?

[2021-07-12 11:22] khurumkkj opened #1499 "BadgeView seems to be stuck in Infinite OnBadgeIndicatorContainerPropertyChanged [Bug]"
### Description

### Steps to Reproduce

1.
2.
3.

### Expected Behavior

### Actual Behavior

### Basic Information

- Version with issue:
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android:
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

### Workaround

Only workaround to use the Badgeview source code and modify it for now.

##

[2021-07-12 11:54] ignatiucnetinfo commented on #1493
@AndreiMisiukevich In the nightly builds I'm seeing the last is the 1.1.0-*.

[2021-07-12 12:32] ErlingMK opened #1500 "[Bug][iOS] TouchEffect.Command not working with Path"
### Description

### Steps to Reproduce

Something like this doesn't work on iOS.

[code]

While this does work:

[code]

As far as I can tell this was introduced in `1.0.3`

### Expected Behavior

Command should be invoked.

### Actual Behavior

Command isn't invoked.

### Basic Information

- Version with issue: > 1.0.3
- Last known good version: <= 1.0.2
- IDE:
- Platform Target Frameworks:
  -

[2021-07-12 15:17] shrikantbmali commented on #1477
@pictos that make it work, thanks...

[2021-07-12 15:17] #1477 closed

[2021-07-12 21:51] AndreiMisiukevich commented on #1500
Does it work on android?

[2021-07-12 21:56] AndreiMisiukevich commented on #1493
@ignatiucnetinfo it should be a version value issue (CC @jfversluis)

But I think it's the latest build, because the publishing date is 7/9/2021 (3 days ago)

[2021-07-12 23:04] michael-hawker commented on #190
@DominicMaas we do have a XF sample in the Toolkit samples now: https://github.com/windows-toolkit/MVVM-Samples/tree/master/samples/MvvmSampleXF

It'd be great to reduce any redundancy. Is that something you'd be up for helping with?

@brminnick @jfversluis I know we talked about this briefly, any thoughts for here and in the future?

[2021-07-13 02:21] GUOLDEV commented on #1443
@pictos I have created a [PR](https://github.com/xamarin/XamarinCommunityToolkit/pull/1503) for the CameraView Linker issue. Could you please have a look when you have a chance? Thanks in advance.

[2021-07-13 04:47] ErlingMK commented on #1500
Yes

On Mon, 12 Jul 2021, 23:51 Andrei, ***@***.***> wrote:

[2021-07-13 06:48] #1358 closed

[2021-07-13 07:24] #1374 closed

[2021-07-13 07:34] benwalpole commented on #1491
The code thats failing isn't actually using the toolkit as it's our UI tests.

From the stack trace it looks like Xamarin UI Tests ends up reflecting on the app assembly and not being able to load the type Xamarin.CommunityToolkit.UI.Views.LazyView`1.

Could this be a missing dependency of that type?

[2021-07-13 07:38] #1496 closed

[2021-07-13 08:27] roubachof commented on #190
I think we would like to keep XCT as mvvm-agnostic as possible. There are already great frameworks which the Xamarin.Forms users are familiar with, like Prism and FreshMvvm. XCT is more about controls, converters, behavior, effects, etc...

[2021-07-13 11:30] taenito commented on #1493
I tried the new 1.3.0-pre1 package and it's ok with Label, Frame and Image (SvgCachedImage from the [FFImageLoading](https://github.com/luberda-molinet/FFImageLoading) plugin).

But it still doesn't work with the [PancakeView](https://github.com/sthewissen/Xamarin.Forms.PancakeView) plugin for me.

[2021-07-13 12:27] ignatiucnetinfo commented on #1493
@AndreiMisiukevich , yes, the latest build still not working.

[2021-07-13 13:14] Andreas0xffff opened #1505 "[Bug][Android only] System.ObjectDisposedException in IsForegroundRippleWithTapGestureRecognizer"
### Description
[code]
when using TouchEffect with NativeAnimation.
Depending on what is done in the TouchEffect command (e.g. closing the page with Navigation.PopAsync()) the exception will occur or not. It is not reliably reproducible, but this is probably due to asynchrony.

[code]

### Steps to Reproduce

1. Activate TouchEffect on an View (TouchEffect:Command and TouchEffect:NativeAnimation=t

[2021-07-13 13:19] taenito opened #1506 "[Bug] [iOS] TouchEffect triggers the command after we start scrolling"
### Description

[iOS] TouchEffect triggers the command even if the user has started scrolling
Tried with ListView and ScrollView

[Android] the command is not triggered and le view continues to scroll (expected behavior)

### Steps to Reproduce

1. Touch start
2. Scroll (quickly)
3. Touch stop

### Expected Behavior

Like Android, do not trigger the command and continue to scroll

### Actual Beha

[2021-07-13 16:36] talmurshidi commented on #1058
I have the same problem with TabView when supporting RTL.

[2021-07-13 19:22] AndreiMisiukevich commented on #1506
Duplicate of https://github.com/xamarin/XamarinCommunityToolkit/issues/1261

[2021-07-13 19:22] #1506 closed

[2021-07-13 19:25] AndreiMisiukevich commented on #1493
@ignatiucnetinfo @taenito thanks for checking
Honestly speaking, if it works fine with all xamarin.forms views and even with FFImage view, then it most likely a PanCakeView issue, right?

[2021-07-13 19:32] AndreiMisiukevich commented on #842
@Tommigun1980 where are we with this issue?
I don't follow the conversation anymore :)

What should we implement to close this issue?

[2021-07-13 19:45] AndreiMisiukevich commented on #1500
Fixed in https://github.com/xamarin/XamarinCommunityToolkit/pull/1465

Check version 1.3

[2021-07-13 19:45] #1500 closed

[2021-07-13 20:26] AndreiMisiukevich commented on #1493
Okay, I think I can fix it

[2021-07-13 22:47] pictos commented on #1491
I presume that in any place of your app you're using the LazyView right? If you try to run the UI Test steps manually do you see the failure?

[2021-07-14 00:00] michael-hawker commented on #190
@roubachof yup, agree. Edited my comment above, keep forgetting that 'Toolkit' is ambiguous. We have a .NET Standard MVVM Toolkit implementation (a successor to MVVM Light) that supports Xamarin, UWP, WPF, etc... So, it'd be great to minimize the overhead in the XCT by pointing folks to that or other great .NET Foundation MVVM libraries than maintaining an extra one here.

There are certainly some

[2021-07-14 05:58] VladislavAntonyuk commented on #1479
@bootcom-uk By the way could you please attach a small repro?

[2021-07-14 08:02] bootcom-uk commented on #1479
@VladislavAntonyuk - have uploaded to a public repo https://github.com/bootcom-uk/Signature. If you want me to upload separately please let me know and I'll do that. Thanks.

[2021-07-14 09:54] benwalpole commented on #1491
No, the only class we are using from the Toolkit is AsyncCommand.

I don't seem to get the error locally, I think this might be because in the the stack trace it looks like the error happens during the taking of screenshots.

[2021-07-14 10:57] jfversluis commented on #190
I think we took the most valuable parts for now and are holding off with the rest until we can reveal our future plans... 🙀

[2021-07-14 10:57] #190 closed

[2021-07-14 10:59] jfversluis commented on #1495
Interesting! Thanks for reporting!

@VladislavAntonyuk

[2021-07-14 12:11] VladislavAntonyuk commented on #1479
Set min version to 19041:
![image](https://user-images.githubusercontent.com/33021114/125619897-654012dd-ad6a-42f8-8ce0-64d97f9b5104.png)

![image](https://user-images.githubusercontent.com/33021114/125619856-997844bb-ea1e-4a06-9ed7-c13377af4429.png)

[2021-07-14 12:13] VladislavAntonyuk commented on #1479
@jfversluis is it a nuget issue or should we create a different target framework for different uwp versions?

[2021-07-14 12:15] VladislavAntonyuk commented on #1308
Or you try to set min version to 19041
![image](https://user-images.githubusercontent.com/33021114/125620172-4db06c42-6e28-493f-9563-dd545fa92bb2.png)

[2021-07-14 12:19] bootcom-uk commented on #1479
@VladislavAntonyuk confirmed working. Thank you.

For now will add a reference back to this in my readme file.

[2021-07-14 12:19] #1479 closed

[2021-07-14 12:52] sprinter-com-pl opened #1509 "[Bug] CameraView - "Couldn't find any suitable preview size" - "Access denied finding property "persist.vendor.camera.privapp.list""
### Description
On some Android devices (at least Xiaomi Redmi 7/8), trying to show back camera output, results in error:

`Couldn't find any suitable preview size`
and then:
`Access denied finding property "persist.vendor.camera.privapp.list"`

It is
### Steps to Reproduce

1. Include latest XCT nuget package in project.
2. Add CameraView on sample page with CameraOptions = Back.
3. Run on Xiaomi

[2021-07-14 13:00] #1493 closed

[2021-07-14 14:48] carbonete opened #1512 "[Bug] Dependency Update to Forms 5.0.0.2083"
### Description
Compile warning because have new Forms package.
### Steps to Reproduce

Upgrade to last Xamarin Forms nuget to last version.

### Expected Behavior
Compile without warning.

### Actual Behavior
Severity	Code	Description	Project	File	Line	Suppression State
Warning	NU1608	Detected package version outside of dependency constraint: Xamarin.CommunityToolkit 1.2.0 requires Xamarin.Forms

[2021-07-14 14:53] carbonete commented on #1512
Its addressed at https://github.com/xamarin/XamarinCommunityToolkit/releases/tag/1.3.0-pre1

[2021-07-14 14:53] #1512 closed

[2021-07-14 17:24] mphill commented on #1261
This may be related, but I want to make sure @AndreiMisiukevich is aware.  With the IsToggle property, on iOS Scrolling (In a ScrollView) will randomly stop working with IsToggle is triggers.  It like the control gets stuck into thinking it's pressed so scrolling stops.

I can reproduce this pretty reliably.

I switched to using a real Button that appears to have resolved my issue.

[2021-07-15 00:38] #1505 closed

[2021-07-15 08:45] joehanna commented on #901
Still happening for me, even tried 1.3.0-pre1 and it still happening. Sometimes it works for one or two photos and then it stops working.

[2021-07-16 10:35] VikyaSurve commented on #570
Can you please share a sample project for this?

[2021-07-16 10:39] AdamDiament commented on #570
@VikyaSurve hi there. I don't have the time to add a repro project right now but my reproduction steps are pretty comprehensive, if you want to have a look. Thanks!

[2021-07-16 11:00] VikyaSurve commented on #570
I am very new for this, if you can share the repos in day to two. it can be very helpful

[2021-07-16 11:04] AdamDiament commented on #570
@VikyaSurve In fact I looked back at my original comment from May 2020 and I already provided a reproduction project, It might be out of date now but you can use it as a start if you like.

[2021-07-16 18:29] jfversluis commented on #1462
Fixed

[2021-07-16 18:29] #1462 closed

[2021-07-16 21:46] IeuanWalker commented on #1385
@rachelkang Sorry for not getting back to you sooner.

One thing to note with iOS is it will override any announcement if the voice over is triggered by a user interacting with something.

For example, my use was that I have a screen displaying items in the user's basket, next to each item there is a remove item button. The goal was to announce 'Item removed' if the button is clicked.

But on iOS,

[2021-07-17 11:31] nacompllo opened #1514 "[Enhancement] Add support for FFmpeg"
## Summary

I think adding support for FFmpeg (or another framework with similar features) should be an issue to consider for Xamarin Community Toolkit, we are in 2021 and file decoding or encoding is something that many clients demand for their projects, but it is difficult to offer them a solution based on Xamarin.Forms mainly because generating binding libraries can be an odyssey when it comes

[2021-07-17 15:52] pictos commented on #1514
@nacompllo I can see a lot of value in your proposal, but I believe that's out of our roadmap for now... That will be not an easy feature to maintain among other features that we have on this project. As a fast solution, I would suggest you use the [VLC for Xamarin](https://github.com/videolan/libvlcsharp)

[2021-07-18 03:31] GUOLDEV commented on #1449
Hey @pictos @AndreiMisiukevich, is there something else that I need to add to this ticket to get this feature considered? Thanks 🙏

[2021-07-18 03:33] #1443 closed

[2021-07-18 03:34] pictos commented on #1449
@GUOLDEV sorry just missed this one. I'll take a look during the week

[2021-07-18 08:05] xiedongweo commented on #1463
Thank you. I will try it.

[2021-07-19 07:02] khushal247 commented on #947
I am facing same issue on Android

[2021-07-19 14:08] albilaga opened #1519 "[Bug] [iOS] TouchEffect inside Frame swallowing child TouchEffect."
### Description
In the iOS, when we use Frame as Container with touch effect, and the child of the container also use Touch effect, touch effect in child not getting triggered. This is only happened on iOS. Android working fine.
### Steps to Reproduce

1.  Open the attachment or this is the code snippet
[code]
2.  Run in Android and click "Go To Game" button. It will show alert with message "Game

[2021-07-19 19:04] alexanderdibenedetto commented on #1283
Does the expander work as expected within a StackLayout using the BindableLayout.ItemsSource property?

[2021-07-19 19:17] AndreiMisiukevich commented on #1519
@albilaga can you try to set ShouldMakeChildrenInputTransparent=false on your "parent" view?

[2021-07-20 08:59] VladislavAntonyuk commented on #1494
@Keivhin I believe you are calling it like Application.Current.MainPage.DisplaySnackbarAsync. as Max suggests could you try to call in like this.DisplaySnackbarAsync (where this is selected page)

[2021-07-20 09:09] jfversluis commented on #1519
Wait, I updated the title, but just to clarify; is it correctly working on iOS or Android? Your first sentence is a bit confusing :D

[2021-07-20 09:36] jfversluis commented on #1494
Hm yeah I can see both sides of this. One the one hand we should adhere to the Google Material design as much as possible, on the other hand, I think the way this is implemented allows you to work around this yourself by calling the Snackbar on a different element. Not sure if the current implementation would even allow the detection of navigation elements etc.

Closing this one for now.

[2021-07-20 09:36] #1494 closed

[2021-07-20 09:58] jfversluis commented on #1495
Fixed in #1520

[2021-07-20 09:58] #1495 closed

[2021-07-20 13:07] albilaga commented on #1519
@jfversluis  Oops. Sorry. It is not working on iOS. Android is the expected behavior....

[2021-07-20 13:14] albilaga commented on #1519
@AndreiMisiukevich If I add this `xct:TouchEffect.ShouldMakeChildrenInputTransparent="False"` then the child view will not triggering anything

[2021-07-20 22:21] AndreiMisiukevich commented on #1519
@albilaga can you please run our sample app and navigate to Effects -> TouchEffect
At the bottom, we have a nested view sample which is working fine. You can play with code there.

if all is working fine for you there, then probably you have to use the latest pre-release version or even the nightly package.

This issue should be resolved

[2021-07-20 22:24] AndreiMisiukevich commented on #1519
And don't use `effects:TouchEffect.ShouldMakeChildrenInputTransparent="False"` in this case

duplicate: https://github.com/xamarin/XamarinCommunityToolkit/issues/1432

[2021-07-20 22:54] AndreiMisiukevich commented on #1519
Yes, retested on our sample

`xct:TouchEffect.ShouldMakeChildrenInputTransparent="False"` is needed though (On top view)

[2021-07-20 22:54] #1519 closed

[2021-07-21 05:51] GUOLDEV commented on #1314
@jfversluis @pictos I have created a [PR](https://github.com/xamarin/XamarinCommunityToolkit/pull/1522) to fix the reported issue with CameraView. Could you please have a look?

[2021-07-21 08:20] albilaga commented on #1519
@AndreiMisiukevich It is still different behavior between Android and iOS. As example I have content like this
[code]
In Android when I click on `RedFrame` it is still showing alert with message `Container`. But in iOS it will not doing anything. It should behave the same like between android and iOS?

[2021-07-21 09:05] maxkoshevoi commented on #1491
Are you using any linker locally or during tests?

[2021-07-21 13:42] albilaga opened #1523 "[Bug] [iOS] When Using Can Execute In Command, Touch Effect Behave Incorrectly"
### Description
In iOS, when we are using Command which also handle `CanExecute` then the view which attached by TouchEffect still in remain selected states after finishing executing command.
### Steps to Reproduce

1.  Open the sample in below or create 2 pages. In first page the content page will be like this
[code]
and the page.xaml.cs
[code]
2.  Run the app. Click the label and then go back.
3

[2021-07-21 15:04] sprinter-com-pl opened #1524 "[Bug] [iOS] CameraView - video orientation fails to set to Landscape on start"
### Description
When making application that is forced to landscape orientation, camera preview is broken - it is rotated 90 degrees.

### Steps to Reproduce

1. Create a blank Xamarin.Forms application.
2. Set default (and only) orientation of iOS app to Landscape (Info.plist -> UISupportedInterfaceOrientations).
3. Add XCT package.
4. Add CameraView on sample page.

### Expected Behavior
Camera

[2021-07-21 19:47] NunoBem opened #1525 "[Bug] TabView - TabIndicatorColor isn't working on load"
### Description

In a ContentPage, I'm using TabView. After updating to the newest Xamarin.Forms 5.0.0.2083, Xamarin.Essentials 1.7.0 and Xamarin.CommunityToolkit 1.3.0-pre1, the TabIndicatorColor in TabView doesn't show up until we start changing tabs.

### Steps to Reproduce

3. Start a new Xamarin Forms project
4. Update to the latest Xamarin.Forms 5.0.0.2083
4. Add a new TabView on a page
5. G

[2021-07-21 22:29] AndreiMisiukevich commented on #1519
@albilaga that's a good example, but unfortunately I don't know how to fix that
Can you try to apply touchEffect to Red Frame as well and see if it's a workaround for iOS

[2021-07-22 00:19] LeoJHarris opened #1528 "LazyLoading + pass params to view model of TabViewItems MVVM first approach."
Hi all, I am trying to implement LazyView on my TabViewItem. My Xamarin project is using Prism and I have a main page that contains my TabView. I would like my TabViewItems to utilize LazyView.

My main page is passed a parameter which needs to be presented to the ViewModels of the tab items as there are some methods that get called when loaded, how can I pass and provide the paramater to the TabV

[2021-07-22 00:39] #1528 closed

[2021-07-22 03:49] Necrolis opened #1530 "[Bug] [Android] TabView - TabStripBackgroundView breaks when HasNavigationBar=False"
### Description

When using a `TabView` in a `NavigationPage` where the page has `HasNavigationBar="False"`, the `TabStripBackgroundView` seems to reset to the default and then potentially offset up (when position on the bottom) by the size of the missing  `NavigationBar` in some cases (such as when you don't use a custom `TabStripBackgroundView`).

### Steps to Reproduce

1. Open CustomTabsPage.x

[2021-07-22 08:31] Huaba93 commented on #1523
@AndreiMisiukevich I think this is caused because `HandleTouch` executes `CanExecute`. Is this really a good idea? Imho it only causes negative performance impact. What do you think?

[2021-07-22 09:05] taenito opened #1531 "[Bug] [iOS] StateLayout error when enter and leave a page quickly"
### Description

I get this error when I enter and leave a page quickly with StateLayout

I call a API during OnAppearing and wait the reponse to change my State to None.
Loading (API call) -> None

SIGABRT: Object reference not set to an instance of an object

Stack traces from AppCenter :
[code]

### Steps to Reproduce

### Expected Behavior

### Actual Behavior

### Basic Information

- Version

[2021-07-22 09:39] KeithBoynton commented on #582
@rmarinho I see the documentation still states that macOS is supported, it isn't actually supported and also there's been no comments on this bug other than mine in over a year. You mentioned "We didn't implemented yet on macOS , but we will".

Has work started on it?

I ask because I need to make a decision where I put my effort into integrating a truly multiplatform media player. If this isn't l

[2021-07-22 10:50] Huaba93 commented on #1364
@InquisitorJax you have multiple samples in your reproduction project. What exactly are now the problems? And could you please try the latest pre release. It fixed an iOS issue for us.

[2021-07-22 11:44] Huaba93 commented on #1433
We have the same problem. The issue is caused by this line
https://github.com/xamarin/XamarinCommunityToolkit/blob/365b0cf316afded845ca094b1abe1d8357d9ab64/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.ios.cs#L275

When removing it, I cannot reproduce the issue anymore.

@AndreiMisiukevich any idea how to fix this?

[2021-07-22 19:54] tranb3r opened #1533 "[Bug] Toast hides bottom buttons bar in TabbedPage"
### Description

When using a TabbedPage, a toast appears at the bottom of the screen, and it hides the bottom buttons bar, instead of being displayed above it.

### Steps to Reproduce

1. Create a XF app with a TabbedPage and bottom buttons bar
2. Display a toast: TabbedPage.DisplayToastAsync or TabbedPage.CurrentPage.DisplayToastAsync (same result).

### Expected Behavior

The toast should be di

[2021-07-22 20:08] SJaschinski commented on #747
Have the exact same issue here. So, I can confirm the described behaviour. iOS version is 14.6 and XCT version is 1.2.0 on my end. Flash is not working neither in FlashMode On, Auto nor Torch.

[2021-07-22 22:31] AndreiMisiukevich commented on #1433
@Huaba93 thanks for the investigation) The fix is on its way ;)

[2021-07-23 01:19] #1433 closed

[2021-07-23 04:25] GUOLDEV commented on #1442
@jfversluis I have pushed a [fix](https://github.com/xamarin/XamarinCommunityToolkit/pull/1535) for the `CameraView` shutter not responding, could you please have a look when you have a chance?

[2021-07-23 13:49] silviuo commented on #868
Hi @ColeXm, do you mind renaming the issue to something pertinent, like what you said in your description - "content view shrinks with each expand/collapse"? Strange behaviour doesn't say anything. I had this exact issue and I fell lucky I found this thread, just because I kept going through everything related to expanders. Thanks!

[2021-07-23 14:16] jjgarrett0 opened #1536 "[Enhancement] Update API documentation for TabViewItem"
## Summary

The API documentation on https://docs.microsoft.com/en-us/xamarin/community-toolkit/views/tabview says that the TabViewItem contains a TapCommandParameter Property, but the actual API doesn't seem to have it. Can the documentation be updated or better yet, can the TapCommandParameter property be added?

## API Changes

Add TapCommandParameter to the TabViewItem.

## Intended Use Case
I

[2021-07-24 14:15] Jasonhohn opened #1537 "[Enhancement] Automatically generate pop-up windows"
Hello　Excuse me, if I want to load the pop-up window directly on the homepage, how do I do it? 　I tried to do the loading action in the initial function 　 but it didn’t work 　 Thank you

[2021-07-24 16:27] #1537 closed

[2021-07-24 16:55] alzubitariq opened #1539 "[Bug] RangeSlider right flow direction issue"
### Description
RangeSlider with FlowDirection RightToLeft became unreadable

### Workaround
keep the flow direction LeftToRight for control

### Reproduction imagery
![bug](https://user-images.githubusercontent.com/79016283/126875621-409debf5-f189-402f-9c8c-26782ef18bb3.png)

### Reproduction Link

[2021-07-24 23:07] AndreiMisiukevich commented on #1539
Hi @alzubitariq
Thanks for your report)

What do you expect to see when RTL is enabled? The same result as LTR or something should be changed?

[2021-07-25 19:54] maxkoshevoi commented on #1533
Related to #1494

[2021-07-25 21:26] tranb3r commented on #1533
#1494 has been closed without a proper explanation of why a toast displayed on a specific Tab (instead of a TabbedPage) still appears on top of the navigation buttons.

[2021-07-26 07:56] guru1413 commented on #1154
@pictos  I have faced the same issue in version **1.1.0**, but after updating to version **1.2.0**, it works fine.
Looks like this bug has been resolved in version **1.2.0**.

[2021-07-26 10:17] pictos commented on #1154
Thanks @guru1413. @samir-dahal Can you try the version 1.2.0 and see if that solves your issue? If don't, please reopen this issue

[2021-07-26 10:17] #1154 closed

[2021-07-26 10:22] samir-dahal commented on #1154
Yeah, I think it works in latest version.

[2021-07-26 21:10] lukasz25pl opened #1540 "[Bug]"
### Description

### Steps to Reproduce

1. Download the App from app store and install it manually through Visual Studio
2. Start sign up process

### Expected Behavior
Error labels are not visible, when user starts editing text field it will become visible if xct's TextValidationBehavior returns true. Works as expected if deployed via USB cable and Visual Studio.
### Actual Behavior
Error labels

[2021-07-27 01:52] AndreiMisiukevich commented on #1540
try to write you your App.cs constructor

[code]

It will help linker to preserve this behavior (if it is linker's issue)

[2021-07-27 02:00] pictos commented on #1540
@lukasz25pl how do you use the Behavior? Is it by XAML? Are you using a ResourceDictionary for that?

[2021-07-27 06:28] KrizCologne opened #1541 "[Enhancement] Toast-Text should be centered"
## Summary

The left aligned text don't look that good in some cases. A additional property "TextAlignment" in the MessageOptions would be great.

## API Changes

Add Labels HorizontalOrientation property and bind it to new created "TextAlignmet" property in the MessageOptions.

## Intended Use Case
Nearly every time when using a ToastMessage. Maybe its German taste, but centered text looks better

[2021-07-27 10:59] LeoJHarris commented on #1260
@AndreiMisiukevich have implemented the converter will PR shortly for review

[2021-07-27 11:15] uzairali001 opened #1542 "[Bug] x:TypeArguments not working on Popup"
### Description
I'm trying to return strong type from popup but it's not compiling and showing error `Partial declarations of 'ExpenseMiscellaneousSelectionPage' must not specify different base classes`.

Also intelliSense is not showing `x:TypeArguments` in xaml.

**ExpenseMiscellaneousSelectionPage.xaml**
[code]
**ExpenseMiscellaneousSelectionPage.cs**
[code]
### Steps to Reproduce

1. Create po

[2021-07-27 13:35] jfversluis commented on #1542
Could you maybe add a reproduction sample? As seen in [this repo](https://github.com/jfversluis/XCTPopupsWithDataSample/blob/main/XCTPopupsWithDataSample/MyPopup.xaml), this works. So I'm quite sure that this has to be something in your codebase rather than a bug on our side :)

[2021-07-27 15:36] IeuanWalker opened #1543 "[Bug] Semantic Heading 'VTable setup.... failed'"
### Description
I've added SemanticEffect.HeadingLevel on 2 label on the page and app crashes with the following error -
[code]

Here is the output -
[code]

Here is the appcenter report -
![appcenter crash report](https://user-images.githubusercontent.com/6544051/127183194-f99f1866-2d33-42dd-b0ed-db9771638cdb.png)

### Steps to Reproduce

Just adding `effects:SemanticEffect.HeadingLevel="Level1"`

[2021-07-27 15:39] alzubitariq commented on #1539
@AndreiMisiukevich Hello ,

just with this options the view became unreadable

![issue](https://user-images.githubusercontent.com/79016283/127183978-bbcd3068-488e-4ebc-954f-0ef8ae161ba6.png)

[2021-07-27 15:47] alzubitariq opened #1544 "[Bug] RangeSlider crash on release with custom aot (custom.aprof)"
### Description
the app crash when using Behaviors
`<xct:RangeSlider.Behaviors>`
`<xct:EventToCommandBehavior  EventName="LowerDragCompleted"
Command="{Binding LowerDragCompletedEventCommand}" />`
`<xct:EventToCommandBehavior  EventName="UpperDragCompleted"
                                     Command="{Binding UpperDragCompletedEventCommand}" />`
`</xct:RangeSlider.Behaviors>`

![crash](https://u

[2021-07-27 18:08] AndreiMisiukevich commented on #1544
@alzubitariq does the issue happen in Debug?
What is the stacktrace?
Is it related to RangeSlider or EventToCommandBehavior?

[2021-07-27 18:09] AndreiMisiukevich commented on #1539
@alzubitariq I mean what do you expect to see? What is expected behavior?

[2021-07-28 04:57] alzubitariq commented on #1544
Hi @AndreiMisiukevich , thanks for your time

does the issue happen in Debug? No
Is it related to RangeSlider or EventToCommandBehavior?  I guess something related to event name

What is the stacktrace? there is a two images one in release and debug

Debug mode without issues

![debug](https://user-images.githubusercontent.com/79016283/127265975-a145a8ea-165f-40b3-885a-85aedfae405d.gif)

Release w

[2021-07-28 05:11] pictos commented on #1544
@alzubitariq can you create a simple repro? If don't, can you set your debug configuration to match your release configuration? That should replicate the exception in your project with more information

[2021-07-28 05:37] alzubitariq commented on #1544
EventToCommandBehavior class in RegisterEvent method ,,,

`var TheEvents = AssociatedObject.GetType().GetRuntimeEvents();`
`var events = "";`
`TheEvents.ToList().ForEach(k =>`
`{ events += k + Environment.NewLine;  });`

**### Debug output**

System.EventHandler ValueChanged
System.EventHandler LowerValueChanged
System.EventHandler UpperValueChanged
System.EventHandler DragStarted
System.EventHand

[2021-07-28 05:43] alzubitariq commented on #1544
@pictos there is no configuration , it is simple
new project , single page , RangeSlider + Custom Profiles with Startup Tracing

https://devblogs.microsoft.com/xamarin/faster-android-startup-times-with-startup-tracing/

[2021-07-28 05:46] GUOLDEV commented on #1544
@alzubitariq @pictos @AndreiMisiukevich I have pushed a [PR](https://github.com/xamarin/XamarinCommunityToolkit/pull/1545) to fix this issue. Please let me know what you think 👍

[2021-07-28 18:53] lukasz25pl commented on #1540
Yes, sorry for the late response - got swamped at work.

Yes, I am using ResourceDictionary. ResourceDictionary changes the color of the entry while users enters, for example, their email, regex reads it, changes the entry color to red at first (in the entry) and then once it works with regex and validator validates it - it changes to  green.

All works as intended when app is installed on any of

[2021-07-28 18:54] lukasz25pl commented on #1540
Hi! I'll be releasing an update, going to add this in App.cs, could you tell me if location matters for it or top of main App() method works?

[2021-07-28 23:06] ahoke-cr opened #1546 "[Bug] iOS - Changing IsTabStripVisible at runtime causes tab strip to overlap tab contents"
### Description

I have recently made a change to my application where the primary tab is the only tab visible in certain scenarios and I want to hide the tab strip to prevent the user from navigating to a different tab. Hiding the tab strip works fine, but if I set the TabView to once again show the tab strip (change `IsTabStripVisible` at runtime), the row for the tab strip container does not re

[2021-07-28 23:12] ahoke-cr commented on #1444
@maxkoshevoi @Eastrall  there's an even more complete list [in the Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/standard/base-types/standard-date-and-time-format-strings (including format strings for other .NET types). I agree the StringFormat Binding property is a much simpler way to accomplish the intended purpose of this DateTimeConverter, though using a ValueConverter does confer th

[2021-07-29 01:35] AndreiMisiukevich commented on #1540
@lukasz25pl no, location doesn't matter

Even this will be fine somewhere in code (don't change it to ```if (false)``` !
[code]

[2021-07-29 01:43] AndreiMisiukevich commented on #1314
Fixed in #1522

[2021-07-29 01:43] #1314 closed

[2021-07-29 09:02] Eastrall commented on #1444
Hi, sorry for the late response. Definetly agree with both of you. I believe the issue doesn't make sense anymore, since we can achieve the same result using the `StringFormat` property in the XAML.

Thank you for all your feedbacks! I have learned the existance of the `StringFormat` property on the XAML bindings. Thus, we removed all or `DateTimeConverter` from our code and replaced them with the

[2021-07-29 09:02] #1444 closed

[2021-07-29 09:15] GUOLDEV commented on #1444
@Eastrall good to know that StringFormat worked for you 👍

[2021-07-29 16:50] lukasz25pl commented on #1540
Alrighty going to give it a try and report back within a day or two!

[2021-07-29 23:36] pictos commented on #1474
Closing this issue, since the related PR is already merged.

[2021-07-29 23:36] #1474 closed

[2021-07-29 23:38] pictos commented on #1352
Closing this issue, since the related PR is already merged.

[2021-07-29 23:38] #1352 closed

[2021-07-30 03:14] sunkerGit opened #1550 "[Bug] Toast & Snackbar width adjustment and positioning"
### Description
We have difficulty adjusting width and positioning in android and ios.

in android the Toast / snackbar always set width = 100% ( full width at the bottom ), I was set padding & corner radius at the message option but the Toast box is enlarged bigger than we are expected.

### Steps to Reproduce

1. add padding to the message option - padding, for reducing the full width

### Expec

[2021-07-30 10:31] mikkelAtVisma commented on #1253
Any updates on how to work around?

[2021-07-30 11:16] LeoJHarris commented on #1260
@AndreiMisiukevich @jfversluis first time PR, can you kindly advise the target branch to PR for a new Converter. Thanks

[2021-07-30 11:19] LeoJHarris commented on #1260
As a side note I couldn't get the unit tests to run for `TestCaseSource`, kept getting following:

[code]

Not sure if environment issue on my end.

[2021-08-01 16:46] lukasz25pl commented on #1540
Hi!

I followed your advice, unfortunately the problem persists. Labels are still visible even though binding in xamarin forms should have them off (that works in Debug mode). Linker behavior set to Link Framework SDKs. Any ideas or should I look into implementing a different package in my solution ASAP?

[2021-08-01 23:05] AndreiMisiukevich commented on #1540
@lukasz25pl can you build a small sample reproducing this issue?
That's weird, it sounds like bindings don't work (what is unlikely).

Do you bind to the "IsNotValid" property?
You also can try to bind to the "IsValid" property with using InvertedBoolConverter

[2021-08-02 16:33] lukasz25pl commented on #1540
@AndreiMisiukevich

so here's my label:

`<Label
        Margin="24,0,24,0"
        HorizontalOptions="Start"
        HorizontalTextAlignment="Start"
        TextColor="#9b3737"
        FontSize="Micro"
        FontAttributes="None"
        IsVisible="{Binding IsNotValid, Source={x:Reference CaddieRate_Validator}}"
        Text="Enter a value between 1 and 1000 and use only up to two decimal place

[2021-08-02 22:36] AndreiMisiukevich commented on #1540
@lukasz25pl that's so weird.
Last idea. Can you set "Do not link" for release mode and test it... Because we don't have any check like "if release then work incorrectly" )

[2021-08-02 22:41] pictos commented on #1540
Last idea. Can you set "Do not link" for release mode and test it... Because we don't have any check like "if release then work incorrectly" )

Or in DEBUG mode set the linker to the same value that's used in the release.

@lukasz25pl Sorry but you snippet isn't that useful, like, how do you implement your `BorderlessEntry`? How are your ViewModels, and so on... Is very hard to guess what's going

[2021-08-03 01:38] pictos opened #1552 "♻️ Consolidate the Platform Helpers classes"
Today we have a helper class for both platforms [Android](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Startup/ToolkitPlatform.android.cs) and [iOS](https://github.com/xamarin/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Helpers/XCT.ios.cs), but:

1. They are in different folders;
2. The classes files

[2021-08-03 01:44] pictos commented on #1550
@VladislavAntonyuk do you have any input on this?

[2021-08-03 05:48] VladislavAntonyuk commented on #1550
It's a default Snackbar behavior.
And we use Snackbar for both DisplayToastAsync and DisplaySnackbarAsync.

[2021-08-03 06:45] stavroaudi commented on #947
This needs a fix or at least a workaround

[2021-08-03 20:13] maxkoshevoi commented on #1550
- You can get Snackbar/Toast with material design an Android by inheriting you app's theme from `Theme.MaterialComponents.DayNight.NoActionBar` for example. Or by setting it explicitly [like this](https://stackoverflow.com/a/62864686/4312132).
- As for the position. You can change it by calling `.DisplayToastAsync()` on different things. Page = at the bottom of the page (with margin if theme is us

[2021-08-03 20:18] #708 closed

[2021-08-03 20:18] maxkoshevoi commented on #708
Closed by https://github.com/xamarin/XamarinCommunityToolkit/pull/812

[2021-08-03 22:01] JunkyXL86 commented on #1398
That is a general question when it comes to layouting in Xamarin.Forms!
Say if I want to achieve a bottom drawer: VerticalOptions = End, Horizontal = Fill, HeightRequest = x
Won't work, because I have to specify Size.

[2021-08-04 07:58] GUOLDEV commented on #1450
Hi @AndreiMisiukevich, could you please have a look at this converter idea when you have a chance? I have pushed a PR that is in draft as it's not approved yet. Thanks in advance 🙏

[2021-08-04 10:55] JunkyXL86 commented on #1097
Yes for sure. Background(Color) is the only intuitive name for setting a background like in the entire world of Xamarin.Forms.
I had the exact same problem setting a transparent background color and it made me look for alternative popup solutions until I stumbled upon this 'Color' hint in here 🤦‍♂

Why is there an own property for setting the background color?

[2021-08-04 16:13] IgorKravchenko10 commented on #1317
Yeah, I have the same issue.
FillAndExpand does not work.
By default Button is expanded to full width. The button wrapped by BadgeView has it's text width.

[2021-08-05 04:01] sasukevita opened #1556 "[Bug] Provided VisualElement cannot be parent to SnackBar Parameter name: sender"
### Description
the second time MainActivity DisplayToastAsync() is crash, but Toast.MakeText() still worked fine

### Steps to Reproduce

1. Create App with float service button
2. Execute Toast (Worked)
[code]
3. Execute float service button
4. Close App
5. Reopen App from float service button
6. Execute Toast (Crash)
[code]
Error Debug:
[code]

### Expected Behavior
no crash

### Actual Behavio

[2021-08-05 14:24] Andreas0xffff opened #1557 "[Bug] [Android] First TouchEffect Tap is not executed, if used inside TabView"
### Description
If TouchEffect is used in a ListView that is located on a TabViewItem, the first tap after a tab switch is not executed.

### Steps to Reproduce
Replace the [GalleryPageTemplate](https://github.com/xamarin/XamarinCommunityToolkit/blob/17a23ee6fb03ccb1f473f362eb5d86fce2ca71d0/samples/XCT.Sample/App.xaml#L104) within the XCT samples app with this:
[code]

### Sample Video
![Animation

[2021-08-05 14:38] 1c3f0x84 commented on #793
Any new news?

[2021-08-05 15:35] SudhersonV commented on #793
The behavior in my project is different, the view silently fails to load in Release mode, when the SDKs are linked. The only solution has been to skip linking. However, if there are dependencies like Xamarin.AndroidX.Core.View modules, it becomes a bigger problem. The latest Xamarin.CommunityToolkit pre-release still has the linking problem, but the dependency with AndroidX.Core is absent. I'm ski

[2021-08-05 20:25] isness commented on #707
Has anyone found a workaround? Is it even possible to implement any touch effects on flyouts in some other way?

[2021-08-05 22:18] AndreiMisiukevich commented on #1409
Please try latest pre-release version and let us know if this issue still exists

[2021-08-05 22:18] #1409 closed

[2021-08-05 22:47] AndreiMisiukevich commented on #1409
Tested, works fine on iOS with latest code

[2021-08-05 22:50] AndreiMisiukevich commented on #842
Closing this ticket since I don't follow the conversation.
Could you please open a separate ticket for each "problem" or possible "enhancement" you want to see if you still interesteed?

[2021-08-05 22:50] #842 closed

[2021-08-05 23:00] AndreiMisiukevich commented on #1523
@Huaba93 why does it cause a negative performance impact?

[2021-08-06 12:10] superbeller commented on #1294
How to fix it?

[2021-08-07 13:39] pictos commented on #1543
@rachelkang , @PureWeen, can you take a look at this issue?

[2021-08-08 09:46] DamienDoumer opened #1561 "[Bug] StateLayout Crops its content when switching screen from portrait to landscape"
### Description

When I wrap my UI into a statelayout on iOS, when the page loads first, everything is fine. But when I move the screen from portrait mode to landscape several times, the layout gets cropped.
The content of the statelayout stops filling the screen as it did before.

### Steps to Reproduce

1. Add a statelayout to a grid in a content page
2. Add views to the statelayout
3. Move from

[2021-08-08 21:09] #1523 closed

[2021-08-09 06:34] VladislavAntonyuk commented on #1556
Could you please attach a small project to reproduce the issue

[2021-08-09 09:27] Huaba93 commented on #1523
@AndreiMisiukevich  Because each call of CanExecute takes some time (but in most cases, I think, only a boolean property is evaluated). And I don't understand why CanExecute must be called at start, while moving and on end of touch. In my opinion, CanExecute only needs to be called before execution should occur.

So imho this
https://github.com/xamarin/XamarinCommunityToolkit/blob/a09a14fb58b3e119

[2021-08-09 11:38] kerberosargos opened #1562 "[Bug]Error: : XamlC error XFC0000 : Cannot resolve type "TouchEffect""
Hello after update from 1.1.0 to 1.2.0. I am getting error in compile time . Error message is `Error : XFC0000 Cannot resolve type "TouchEffect".`

My XAML reference as following

`xmlns:xct="http://xamarin.com/schemas/2020/toolkit"`

Thank you in advance.

[2021-08-09 13:13] AndreiMisiukevich commented on #1562
Closing in favor https://github.com/xamarin/XamarinCommunityToolkit/issues/1311

[2021-08-09 13:13] #1562 closed

[2021-08-09 13:19] AndreiMisiukevich commented on #1523
@Huaba93
CanExecute is a synchronous method and returns a bool.  It is not supposed to be a heavy operation (if it is, then there is a problem with the design).

Yes, it works for TapGestureRecognizer, because TapGestureRecognizer isn't "responsive" to touches. It is not highlighted when it's pressed.
We don't want to see the view in the "pressed" state if CanExecute != True.

I hope that's clear

[2021-08-09 14:12] jfversluis commented on #747
Briefly looked into it. The strange thing is it works in the sample app without any problem. When doing it in a standalone app, not so much. For some reason I was triggered to set the flash only when the camera went into the available state and that seems to work!

Weird enough when you try to set it after that the flash will stop working again. Not sure why that is. Anyway, see a reproduction pro

[2021-08-09 15:27] Huaba93 commented on #1523
@AndreiMisiukevich Yes, I understood it that way from the beginning.

I just thought it should behave the same as the Xamarin.Forms button. I have only tested on iOS, where the button always remains in the pressed state, even if CanExecute == false. On Android it is exactly as you say.

So there is no right or wrong, you have implemented it as on Android and that is also good. I just got it wrong

[2021-08-09 15:32] AndreiMisiukevich commented on #1523
@Huaba93 cool, thank you)

[2021-08-09 17:06] ricardocesarcara commented on #901
Still happening for me. Sometimes it works for one or two photos and then it stops working. (1.2.0 version)

[2021-08-09 20:08] jfversluis commented on #1442
@GUOLDEV I merged the PR, looked good, thanks!

Just 1 thing, I see you also mention it happens on Android. This fix was just for iOS?

[2021-08-09 20:48] jfversluis commented on #1557
Thanks for the report! Does this only happen on Android? Have you also tested other platforms? What version of the library did you test with? Thanks!

[2021-08-09 20:49] jfversluis commented on #1556
@sasukevita as mentioned a reproduction project would be super helpful. Thanks!

[2021-08-09 20:52] jfversluis commented on #1561
Did you also test on Android? Does this happen there too?

[2021-08-09 20:53] #1550 closed

[2021-08-09 21:05] jfversluis commented on #747
Could you please install [this NuGet](https://1drv.ms/u/s!Anrk6U9nRknzg6Ii6HHXwjUzlh5UNg?e=emVOFg) on your project and verify that it fixes the issue?

[2021-08-10 00:30] widhimp opened #1566 "[Enhancement] Screen Transition"
## Summary

To provide a way to make specific transition from Screen A to Screen B, using new Navigation for example **AnimatedNavigation** ("new AnimatedNavigation(new SomePages())") and in specific Screen could determine the transition type like **Fade**, **SlideFromTop**, **SlideFromRight**, **SlideFromBottom**, **SlideFromLeft** and etc

## Intended Use Case
It will be used when we need to mak

[2021-08-10 01:41] eramrit78 commented on #404
I have same issue. trying to pay m3u8 URL but it not work with media element. any plan to support m3u8 URL in media element?

Thanks

[2021-08-10 05:33] GUOLDEV commented on #1442
@jfversluis thanks for reviewing the PR, and yes, the fix was just for iOS. For Android I couldn't reproduce while debugging, so now that iOS is fixed I can focus on Android.

[2021-08-10 06:28] VladislavAntonyuk commented on #1556
What I found from the code, that we are not able to get the XF renderer for the VisualElement.
If you are not calling the method from XF, I think it won't work.

[2021-08-10 06:54] GUOLDEV commented on #1442
@jfversluis I have tested on real device Galaxy S9+ Android 10 and Emulator Android 9, XCT 1.2.0 works fine, I couldn't reproduce the issue.
As reported I could reproduce the issue on Samsung Galaxy S8 - Android 9 before, but I don't have access to that device at the moment, once I have access to it I will test again.
I think we can close this issue, what do you think?

[2021-08-10 07:03] Andreas0xffff commented on #1557
iOS is okay:
![Animation](https://user-images.githubusercontent.com/23099353/128822294-59f4cf15-3439-40b0-aafe-52a8669faca3.gif)

I used the newest Main branch version. Latest Pull Commit #1558 / a09a14fb.

[2021-08-10 08:36] Andreas0xffff opened #1567 "[Bug] [Android] TouchEffect ripple is drawn, although CanExecute is false"
### Description
When using TouchEffect not in combination with a ViewGroup/Layout, but with a direct VisualElement (e.g. Label), the CanExecute state is ignored for the native animation/ripple.

### Steps to Reproduce

1. Add a TouchEffect with native animation in XCT Sample App main label:
https://github.com/xamarin/XamarinCommunityToolkit/blob/a09a14fb58b3e119594dfe9222506e16266ac8b2/samples/XCT

[2021-08-10 08:42] Andreas0xffff commented on #1567
One possible solution might be a change in the StartRipple function in PlatformTouchEffect.android.cs:
https://github.com/xamarin/XamarinCommunityToolkit/blob/d154bd7bcf87347f3a9c1a6aab976be2bdd4e2c5/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/PlatformTouchEffect.android.cs#L310
[code]

[2021-08-10 12:26] SJaschinski commented on #747
Hi @jfversluis, thanks for looking into the issue. I was able to test the given NuGet package in my solution. I can confirm that this version fixes the issue for FlashMode Auto and On. When I try FlashMode Torch this raises an unhandled exception as soon as the Shutter method is called:

![2021-08-10_14-18-07](https://user-images.githubusercontent.com/21976529/128865967-3e71f8d6-35cf-443f-9b0b-0fc

[2021-08-10 13:47] jfversluis commented on #747
Yes! That was kind of what I was expecting while looking into this further.

Please try [this new package](https://1drv.ms/u/s!Anrk6U9nRknzg6IjRCgvWoIXyzev9w?e=f3nysF) that should work for all scenarios, also when switching between modes at runtime. Let me know how that goes!

[2021-08-10 23:41] ziomek64 opened #1568 "[Bug] TouchEffect.NativeAnimation="True" will deselect item in collection view"
### Description
I don't know if it's a bug or I'm not aware of something or maybe it's on my end. I have collection view that is stack layout with frames that have images in them. When I click on one that is already selected it will diselect itself when xct:TouchEffect.NativeAnimation="True" is on the Frame. It also happens when i put it to image in the frame. It's really confusing, because its ju

[2021-08-11 01:40] #1552 closed

[2021-08-11 09:57] eramrit78 opened #1569 "add play live Video URL or M3u8 support in Media element"
Today are,  no of customers required playing live video from their APP. but how we can achieve this from Media Element in xamarin forms or MAUI. currently  it de-supported.

Today varies sources are used to live video like "Youtube Live Video" link or "Facebook Live Video" link or Wowza Stream Engine etc.

Currently we are used Media Manager in Xamarin but it better for a developer add support in

[2021-08-11 13:16] AndreiMisiukevich commented on #1557
Hey @Andreas0xffff thanks for your investigation.
Would you like to try to debug this and find the root cause?

[2021-08-11 13:28] AndreiMisiukevich commented on #1567
@Andreas0xffff I think it's not bad idea :)

maybe just (and it should be fine)
[code]

[2021-08-11 13:34] AndreiMisiukevich commented on #1568
It can be a problem https://github.com/xamarin/XamarinCommunityToolkit/blob/a09a14fb58b3e119594dfe9222506e16266ac8b2/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs#L235

Does it work fine if you change NativeAnimation to some forms animation? (e.g. PressedOpacity etc.)

[2021-08-11 13:53] maxchu92 commented on #1317
Having the same issue as well. Setting FillAndExpand on either the badge or its contents doesnt work

Version: 1.2.0
Platform tested: Android 11

[2021-08-11 14:04] ziomek64 commented on #1568
`xct:TouchEffect.PressedOpacity="0.1"`

It's the same with native animation on true and false.

Is it a bug or the way you guys implemented it? I hope something could be made about it

[2021-08-11 14:32] AndreiMisiukevich commented on #1568
@ziomek64 I think it's a bug. And the problem can be in line I attached. Need to investigate.
You can comment that line (with if) and check if the problem still exists

[2021-08-11 15:05] jfversluis commented on #1569
Already requested as a feature in #404 currently not possible

[2021-08-11 15:05] #1569 closed

[2021-08-11 15:08] ziomek64 commented on #1568
`
			if (Device.RuntimePlatform == Device.Android)
				HandleCollectionViewSelection(sender);`

Commented these two lines. Now i can't select any item in collection view

[2021-08-12 08:29] MintDeville commented on #901
Is this an Error only happening with Hot restart and it will work if I compile it with an Apple mac?
I cant test this, since I dont have a Mac. Only an IPhone and Visual Studio on Windows

[2021-08-12 09:03] joehanna commented on #901
This happens in production, App Store apps, not just in development. They get one or two photos and then it stops firing the event.

[2021-08-12 10:35] ricardocesarcara commented on #901
For me too, it's happening in production. I still can't find a way to make it work.

[2021-08-12 12:21] superbeller commented on #1561
How to fix it?

[2021-08-12 14:25] DamienDoumer commented on #1561
@jfversluis  this doesn't happen on Android. I tested it

[2021-08-12 15:24] MintDeville commented on #901
I found this on stackoverflow

public class myDelegate : AVCapturePhotoCaptureDelegate {

    public override void DidFinishCapture(AVCapturePhotoOutput captureOutput, AVCaptureResolvedPhotoSettings resolvedSettings, NSError error)
    {
        base.DidFinishCapture(captureOutput, resolvedSettings, error);
    }

    public override void DidFinishProcessingPhoto(AVCapturePhotoOutput output, AVCap

[2021-08-12 19:08] NickCRowork opened #1571 "[Bug] MediaElement crashes the program if navigated away from too quickly"
### Description
When using MediaElement in a Xamarin Forms application, if the page is navigated away from before the player finishes setting up, it will throw the exception: System.ObjectDisposedException: 'Cannot access a disposed object.
Object name: 'Xamarin.CommunityToolkit.UI.Views.FormsVideoView'.' This is when using a remote source for the video.
I've also seen this issue happen when the p

[2021-08-13 08:43] JunkyXL86 opened #1572 "[Bug] Package Xamarin.CommunityToolkit.Markup 1.2.0 is not compatible with xamarinios10, monoandroid10.0, netstandard2.0, netstandard2.1"
### Description
Developing my app on Visual Studio 2019 16.10.4 using Xamarin.Forms 5.0.0.2012.
After updating to 2019 to 16.11, updating to Visual Studio 2022 Preview 3 and installing latest MAUI workloads yesterday using maui-check suddenly my app stopped building because of NuGet Package Xamarin.CommunityToolkit.Markup 1.2.0 that could not be resolved anymore. Reinstalling the Markup package pr

[2021-08-13 08:52] workgroupengineering commented on #1443
I tried with release 1.3.0-pre1, but the issue is still present.

[2021-08-13 08:57] GUOLDEV commented on #1443
Hi @workgroupengineering, what is the event that you are using? It would be great if you could add more info 👍

[2021-08-13 09:11] workgroupengineering commented on #1443
I using MediaCaptured
XCT 1.3.0-pre1
Tested on Android 8 and 10 Emulator in Release mode.

If add ``MediaCaptured="CameraView_MediaCaptured`` in xaml with empty eventhandler it work.

[2021-08-13 09:14] GUOLDEV commented on #1443
Hi @workgroupengineering as I thought, 1.3.0-pre1 doesn't have the fix, it's merged into dev branch only.

[2021-08-13 09:40] GUOLDEV commented on #1314
Thanks @AndreiMisiukevich 👍

[2021-08-13 14:34] DBAaaSDarran commented on #300
I think I can see a very similar issue with the CameraView on iOS when rotating the screen.

The page layout looks ok when launching the app in portrait on an iPhone. When rotating, the CameraView doesn't seem to redraw itself correctly within it's new bounds. I can see additional space pushing the CameraView off-screen. I've coloured the background yellow to highlight the issue.
Rotating one way

[2021-08-13 15:33] SJaschinski commented on #747
Hey @jfversluis, using the new package you provided all is up and running. Also integrated an additional option into our app to toggle flash modes at runtime which works as well. So, first of all thanks for the fix and also thanks for the inspiration to further enhance our app. When do you think this will be merged into the main branch?

[2021-08-13 17:55] jfversluis commented on #747
Thanks for letting me know! Merging this now there should be a new pre-release with this fix soon :)

[2021-08-13 17:55] #747 closed

[2021-08-13 19:01] jfversluis commented on #649
Fixed by #1570

[2021-08-13 19:01] #649 closed

[2021-08-13 21:09] GUOLDEV commented on #1443
Hi @workgroupengineering 1.3.0-pre2 was just released, please have a look 👍

[2021-08-13 21:31] AndreiMisiukevich commented on #1568
@ziomek64
ok, then try to change next line

https://github.com/xamarin/XamarinCommunityToolkit/blob/a09a14fb58b3e119594dfe9222506e16266ac8b2/src/CommunityToolkit/Xamarin.CommunityToolkit/Effects/Touch/GestureManager.shared.cs#L254

[code]

Should be ok

[2021-08-14 01:55] ziomek64 commented on #1568
That seems to be working for me, but you can double-check on me as I've never contributed or anything.
Thank you for solution

[2021-08-14 11:20] mrobraven opened #1575 "[Bug] Xamarin MediaElement bugs on Android (untested currently on iOS)"
### Description
Currently I have noticed two bugs that do not make the application unusable but are quite annoying.
1) When navigating from a page with MediaElements to another (on Android only) for a few seconds as the new Element loads it's video, the other previous elements can be seen in it's container (I will edit in a screenshot when I have a chance).
2) On Android (untested on iOS) if a use

[2021-08-14 15:10] NewHope1 commented on #901
Sounds like unreliable tool to use. Maybe time to switch to another more reliable toolkit.

[2021-08-14 18:37] pictos commented on #1572
@JunkyXL86 If I'm not wrong you should install the Markup package just in your shared project. There's no need to install them into the platform projects.

[2021-08-15 16:23] DancesWithDingo opened #1576 "[Bug] Compile-time Warning "Detected package version outside of dependency constraint""
### Description

### Steps to Reproduce
I just installed XCT for a look around, and I'm getting the following compile-time warning: "Detected package version outside of dependency constraint: Xamarin.CommunityToolkit 1.2.0 requires Xamarin.Forms (>= 5.0.0.1874 && <= 5.0.0.2012) but version Xamarin.Forms 5.0.0.2083 was resolved. (NU1608)"

I'm running the current version of XF (5.0.0.2083 obviously

[2021-08-15 17:30] pictos commented on #1576
Hey @DancesWithDing, this is expected, the version 1.2 of XCT doesn't work with the latest version of XF. The versio 1.3-pre is the way to go.

[2021-08-15 17:30] #1576 closed

[2021-08-16 11:53] JunkyXL86 commented on #1572
I didn't even install it in the Android proj. As I said, error occurs when I try to install the package in the shared project.
I tried it over and over again using VS 2019 16.11 and VS 2022 P3.
New clean fresh Xamarin.Forms Mobile App, simply try to install the XCT.Markup 1.2 package.

[2021-08-16 14:14] taenito opened #1577 "[Bug] [Android] TouchEffect crash with TalkBack and PancakeView"
### Description

I got this error when I active or deactivate TalkBack in a page with a PancakeView

[code]

### Basic Information

- Version with issue: 1.3.0-pre2
- Last known good version:
- IDE:
- Platform Target Frameworks:
  - iOS:
  - Android: 10
  - UWP:
- Android Support Library Version:
- Nuget Packages:
- Affected Devices:

[2021-08-16 15:28] AndreiMisiukevich commented on #1577
@taenito the stack trace says that the crash happened in PancakeViewRenderer

[2021-08-16 20:16] jfversluis commented on #901
@NewHope1 if that is your assessment please feel free to do so :)

All the rest, I think this has been fixed in 1.3-pre2. Didn't you confirm this to be working @joehanna ?

[2021-08-16 22:34] joehanna commented on #901
@jfversluis yes, 1.3-pre2 resolves the camera issue for me. I can’t speak of hot restart but regular production use is great now.

[2021-08-17 07:03] jfversluis commented on #901
I'm going to assume this is fixed for now then. If that is not the case for Hot Restart @michaldivis please let me know!

[2021-08-17 07:03] #901 closed

[2021-08-17 07:04] jfversluis commented on #1442
Fixed by #1535

[2021-08-17 07:04] #1442 closed

[2021-08-17 07:05] jfversluis commented on #1150
Not much info on this issue, I'm going t assume this is fixed with the latest changes, if not, please open a new issue with more details and a reproduction

[2021-08-17 07:05] #1150 closed

[2021-08-17 08:21] taenito opened #1579 "[Enhancement] Improve accessibility for TouchEffect"
## Summary

Android :
Set View.Clickable or View.LongClickable to true only if we set Command or LongPressCommand respectively.
Both are currently set to true.

iOS :
Set UIAccessibilityTrait.Button when we have Command or LongPressCommand.

## API Changes

## Intended Use Case

## Who Will Do The Work?

- [ ] I am willing to take this on myself
- [X] Just putting this out there for someone to pic

[2021-08-17 15:00] michaldivis commented on #901
@jfversluis I'll let you know if I find any problems, thanks!

[2021-08-17 16:25] isness commented on #1261
I tried playing with this, but nothing works. Latest CF, Collection view. I'd really like to apply any kind of touch effect on a single line without having it triggered while scrolling :(

[2021-08-17 20:58] NunoBem commented on #1525
Hi Gerald,

iOS same bug

![2021-08-17_08-55-25-](https://user-images.githubusercontent.com/524734/129799562-d7d0412f-cf9e-460a-80f3-5fb553c9c4e0.png)

[2021-08-19 06:08] kerberosargos opened #1582 "[Enhancement] RemoveBorderEffect for Visual Material"
Hello can you extend **RemoveBorderEffect**  for Material Theme. Thank you in advance.

[2021-08-19 07:16] GUOLDEV commented on #1524
Hi @sprinter-com-pl I can reproduce the issue that you are experiencing. I have tested it on Android and it works fine. I think it is iOS only.

[2021-08-19 08:13] GUOLDEV commented on #1524
Hi @sprinter-com-pl I have pushed PR #1583 for the reported issue.

[2021-08-19 08:21] GUOLDEV commented on #1524
@jfversluis could you please have a look when you have a chance? Thanks 🙏

[2021-08-19 16:44] ouijahija commented on #297
Still not working....

[2021-08-19 19:41] vd3d opened #1585 "[Bug] Android : CameraView returns an empty image when orientation is forced to portrait"
### Description

Imagine the 2 following situations:
1) I use the CameraView and shot an image. It works perfectly, I got an image (approx. 500k returned)
2) The same scenario, but I fix the application orientation. The image is empty (only 4K returned)

I fix the orientation on Android like this:

((Activity)Forms.Context).RequestedOrientation = ScreenOrientation.Portrait;

I have only test in th

[2021-08-19 20:40] GUOLDEV commented on #1585
Hi @vd3d, I have tested it on Android and it works fine for me, so could you please provide some code?
About the empty image, 4K is definitely not an empty image, so did you check the image showing it as a preview for example?
There is a known issue #1583 with the CameraView orientation but it is iOS only, but it can be related.

[2021-08-19 21:51] GUOLDEV commented on #1509
@sprinter-com-pl are you still having this issue? It would be great if you push a PR to fix it. Unfortunately, I don't have a Xiaomi to test or reproduce the issue.

[2021-08-19 23:19] GUOLDEV opened #1587 "[Enhancement] [CameraView] Remove unused code"
## Summary

I would like to remove unused code to make it easier to maintain, starting from `FormsCameraView`.

## API Changes

Removed:

- `UIImage RotateImage(UIImage image)`

## Intended Use Case

NA

## Who Will Do The Work?

- [x] I am willing to take this on myself
- [ ] Just putting this out there for someone to pick up

[2021-08-19 23:21] pictos commented on #1587
@jfversluis what do you think about it?

[2021-08-19 23:22] GUOLDEV commented on #1587
@pictos I will leave the PR as a draft for now 👍

[2021-08-20 12:00] visma-jarkko-koskinen opened #1588 "[Bug] Unit tests not building/failing to run in AppCenter after installing Xamarin CommunityToolkit nuget package"
### Description

I'm not quite sure if this a bug per-se, but it seems like one for me. After adding Xamarin CommunityToolkit to our Xamarin Forms project our unit tests stopped running in AppCenter. We installed the nuget package to couple of our projects, but not in our unit test projects (because there's no reason for the unit tests to depend on this package). This has caused an issue in AppCen

[2021-08-20 12:41] jfversluis commented on #1587
Don't spend too much time on this. I appreciate the effort, but I think there might be big changes when we transition this to the .NET MAUI Community Toolkit. If you want to do some clean up and get some contributions in, I don't have any problem with that :)

[2021-08-20 12:42] jfversluis commented on #1260
Merged

[2021-08-20 12:42] #1260 closed

[2021-08-20 17:16] thinkjohn opened #1589 "MediaElement not playing video from stream"
I posted this on stackoverflow but someone over there said to repost here.

I have a .ashx handler file that I use to stream files from my website. I pass a file id and the handler gets the file, sets the content type and streams it.

This works great for all the files I display in my iOS apps.

I am having an issue with the MediaElement, when I set the source to the url of the handler, it does no

[2021-08-20 17:18] thinkjohn commented on #1589
Also, for the .mov file I am setting context.Response.ContentType = "video/quicktime"

[2021-08-21 15:04] themarwik commented on #887
this is still a big issue

[2021-08-23 03:31] CRoederTND opened #1590 "[Bug] Toast is hidden by PopUp"
### Description
Toast is not showing, probably behind the PopUp

### Steps to Reproduce

1. Create and open a Rg.Plugin.PopUp covering the bottom of the screen
2. Open a toast

### Expected Behavior
The toast, as a the newest message, should be in front of the whole screen

### Actual Behavior
The toast is hidden by the PopUp

[2021-08-23 12:50] kerberosargos opened #1591 "[Bug] SnackBarActionOptions FontSize scale problem"
Hello, my option as follow

[code]

Snackbar preview is in Android

![Snackbar Preview](https://user-images.githubusercontent.com/11364304/130449879-71b81a88-7680-4172-9618-4afa222a80c9.png)

[2021-08-23 17:00] NickCRowork opened #1592 "[Bug] MediaElement throws an internal error when it fails to load the media with a Java.Lang.RuntimeException: 'setDataSource failed: status = 0x80000000'"
### Description
When MediaElement fails to load a video from url (either because the url does not point to a video, or because it timed out), it throws an internal error, crashing the app. This does not trigger the MediaFailed event.

### Steps to Reproduce

1. Download the repro from the Java.Lang.RuntimeException branch
2. Click the open video button
3. Wait for the crash

### Expected Behavior

[2021-08-24 05:27] GUOLDEV opened #1594 "[Bug] [XCT.Sample] ContentPages BackgroundColor in Dark Mode"
### Description

`page.SetAppThemeColor` in `PreparePage` overwriting `ContentPages` `BackgroundColor`. On Android in Dark Mode, it is not even possible to see the search bar from the `Behaviors` page.

![behaviors_droid](https://user-images.githubusercontent.com/22019245/130559992-89ef7586-374e-4cce-a378-0cd000c892bd.jpg)

### Steps to Reproduce

1. Set the device to Dark Mode
2. Navigate to Beha

[2021-08-24 08:30] mmilkovski commented on #1539
hi @AndreiMisiukevich

when FlowDirection is RightToLeft, is it possible for the control to just flip horizontal ? see image

![image](https://user-images.githubusercontent.com/6523354/130583891-23db8ddf-b8ed-45b3-a1cb-62a114c60c20.png)

[2021-08-24 09:49] jantanis opened #1598 "[Bug] Android LongPress on CollectionView breaks ObservableCollection functionality"
### Description
Adding TouchEffect LongPress on a CollectionView breaks the functionality of the ObservableCollection bound to SelectedItems. Perhaps this is linked to #760.

### Steps to Reproduce

1. Open and start Sample project on Android
2. Select Item 4 and Item 6
3. Deselect Item 4

### Expected Behavior
Debug.WriteLine output:
e.Action: Add
e.Action: Add
e.Action: Remove

### Actual Behavi

[2021-08-24 13:07] HobDev opened #1599 "Docs does not have C# markup sample"
## Summary
Lots of developers using C# markup for the UI. So all the sample code in Community toolkit docs can include C# along with XAML Code.

## API Changes
I am not sure how much ready C# markup is to completely replace the XAML in Xamarin.Forms.

## Intended Use Case
developers using C# for UI can benefit from it.

## Who Will Do The Work?

 Just putting this out there for someone to pick up

[2021-08-24 17:00] AndreiMisiukevich commented on #1598
https://github.com/xamarin/XamarinCommunityToolkit/issues/1568

Duplicate?

[2021-08-24 23:03] #1568 closed

[2021-08-24 23:03] #1577 closed

[2021-08-24 23:12] pictos commented on #1572
@JunkyXL86 could you attach a small repro? I couldn't reproduce the error

[2021-08-25 07:17] Chris-Marassovich commented on #1182
I have also hit this issue.
A shame as the StateLayout is awesome as is the TabView ... yet cannot work together.  :-(

@WiproSarthak did you find a workaround?  I assume you went back to having show/hide variables in your VM and binding to IsVisible props on the layout?

[2021-08-25 15:30] thinkjohn commented on #1589
Does anyone have a workaround for this issue?  Could really use some advice on how to have mediaelement play a stream from an http handler...

[2021-08-26 16:58] AlejandroRuiz opened #1601 "[Enhancement] Text Case Property for Translate XAML Extension"
## Summary

Some times a single string resource is required in different cases.

## API Changes

[code]

e.g.

Since the framework already provides a Case converter we can use it over the XAML translate extension

[code]

If the TextCase property is assigned the TextCaseConverter will be set to the binding definition -->

## Intended Use Case
Is common to have the usage of the same string resource

[2021-08-26 20:14] tiago-carneiro opened #1602 "[Bug] CameraView Android11"
### Description
When open a cameraView in android11

### Steps to Reproduce

1.  open a cameraView in android11, fisical device.

### Expected Behavior
open a camera without errors

### Actual Behavior
Java.Lang.RuntimeException: supportsCameraApi:2435: Unknown camera ID 0
android.os.ServiceSpecificException: supportsCameraApi:2435: Unknown camera ID 0 (code 3)

Error:
android.os.ServiceSpecificEx

[2021-08-27 01:23] mphill opened #1603 "[Bug] When TouchEffect.PressedScale is defined with a Command on a button, the command fire twice the first time."
### Description

When TouchEffect.PressedScale is defined with a Command on a Button, the command fire twice the first time.

### Steps to Reproduce

1.
Define a button as such:

[code]

2.  Click the button
3.  The command fires 2 times the first time the app runs, subsequent clicks only fires once.

### Expected Behavior

- Version with issue:
- Last known good version: Unknown

- Platform Targe

[2021-08-28 01:53] pictos commented on #1602
@tiago-carneiro does this error occurs in a different device?

[2021-08-28 02:38] GUOLDEV commented on #1594
@jfversluis thanks for checking 👍 I have pushed a very simple PR removing what is actually causing the overwrite causing the app looking strange in dark mode, simple solution until we get the colours correct. Thoughts?

[2021-08-28 02:41] GUOLDEV commented on #1602
@pictos @tiago-carneiro if you create a repro I can try to reproduce the issue as I have a device with droid 11 👍

[2021-08-28 02:42] GUOLDEV commented on #1602
Again XCT sample app works fine on the device that I have with droid 11.

[2021-08-29 20:38] AndreiMisiukevich commented on #1603
@mphill Hi! Thanks for your report
Does this issue happen on iOS only? Does it work fine on Android?

[2021-08-29 21:26] AndreiMisiukevich commented on #1603
Yeah, confirm this bug. But unfortunately, it's impossible to fix that.
I propose using a workaround for Buttons (the same issue https://github.com/xamarin/XamarinCommunityToolkit/issues/1428)

[2021-08-29 21:26] #1603 closed

[2021-08-30 07:10] KSemenenko opened #1605 "[Enhancement] BlockingAsyncCommand"
## Summary

I think we all have a problem when a user clicks 5 times on a button and we run 5 commands in parallel. And we need each command to be executed one by one

## API Changes

Add a new class BlockingAsyncCommand,
which will ensure that only one command of the same type is executed at a time

## Intended Use Case
You have a Login command, and a user who is wildly clicking buttons.
you don'

[2021-08-30 14:37] FredDesenvolver commented on #1509
Hello, I'm having same issue, and could not fix like @sprinter-com-pl did.
Im my case error prompt at same block that he mentioned, for now I'm avoiding this phone and using my Xiomi Mi8lite who works fine.

Phone that I had the issue:
Model Galaxy A11 - SM-A115M/DS
Android 11

[2021-08-31 12:51] MaximilianLloyd commented on #1431
Exactly what I need! Seeing as this is not implemented yet, is there a workaround to prevent audio capture?

[2021-08-31 19:27] marcioqmaciel commented on #1311
ty so much!

[2021-08-31 22:52] GUOLDEV opened #1608 "[Enhancement][Converter] Add Expression property to MathExpressionConverter and MultiMathExpressionConverter"
## Summary

Add `Expression` property to `MathExpressionConverter` and `MultiMathExpressionConverter`. I love this `Converter`, but based on the way that I normally use it,  it would be great to be able to set up the `Expression` value in the Resouce declaration.

## API Changes

Added:
- `public string Expression { get; set; } = string.Empty;`

## Intended Use Case

[code]

## Who Will Do The Wor

[2021-08-31 23:03] GUOLDEV commented on #1608
I have pushed a draft PR #1609 to exemplify what I would like to activate. Thoughts?

[2021-08-31 23:07] GUOLDEV commented on #1608
Once the implementation is approved I can update the docs and sample 👍

[2021-08-31 23:21] sattew commented on #1608
Hi)
Honestly, I have no thoughts 🙃 I got your point and I like it. We should add it, I think. Thanks!)

[2021-09-01 06:53] VladislavAntonyuk commented on #1591
if you replace
[code]
with
[code]
it should display correctly

[2021-09-01 09:15] ChristophWeigert commented on #1605
If you use the AsyncCommand you can pass an allowsMultipleExecutions in the Constructor to prevent multiple clickss:
https://github.com/xamarin/XamarinCommunityToolkit/blob/1cc1f128895a52aef0d5a912ce139415aed90714/src/CommunityToolkit/Xamarin.CommunityToolkit/ObjectModel/Internals/BaseCommand.shared.cs#L48

[2021-09-01 09:23] AndreiMisiukevich commented on #1608
Approved

[2021-09-01 10:29] JunkyXL86 commented on #1572
Meanwhile I got a new PC, Windows 11. On this machine using VS 2022 Preview 3.1 installing XCT.Markup 1.2 works as expected. Maybe something is broken on my old machine.
As the error is pretty certain, I'm still interested what the real cause is.

I've attached the Solution and a GIF showing the steps. Nothing special to it.
[XCT.Markup.1.2.zip](https://github.com/xamarin/XamarinCommunityToolkit/f

[2021-09-02 18:27] andos716 commented on #1571
@NickCRowork I can confirm that this affects iOS as well. I modified your example with a back button for iOS navigation and I get a "Got a segv while executing native code." I am getting this exact crash in an app with a similar scenario (hiding and showing a MediaElement)

Here is the iOS stacktrace from your example code:

=================================================================
	Native

[2021-09-05 11:11] msivers commented on #1182
Wanted to utilise StateLayout but discovered it doesn't work for me and as I'm using TabView I assume this is why? Is this being looked at and going to be fixed or do I need to accept that I won't be able to use StateLayout going forward?

[2021-09-06 16:14] Jose-Develaw opened #1610 "Bind a Picker to an Enum Directly (Behavior) - Already Started"
I have developed a little behavior for binding a Picker to an instance of an Enum, so the ItemSource of the Picker is automatically created from the enum's Type, and the enum's instance's value is bound to the Picker selected index.

https://github.com/Jose-Develaw/XamarinCommunityToolkit/blob/main/src/CommunityToolkit/Xamarin.CommunityToolkit/Behaviors/PickerBoundToEnumBehavior.shared.cs

Sample:

[2021-09-07 14:04] StevenHanquez opened #1611 "[Bug] TabViewItem content does not change when switching tabs"
### Description
Visual content does not update when changing tabs.

### Steps to Reproduce

1. Assign a TabItemsSource to the TabItem
2. Assign a TabViewItemDataTemplate
3. Assign a TabContentDataTemplate
4. Insert two elements in the list
4. Switch tabs to see the update not happened everytime.

### Expected Behavior
Visual content does update when changing tabs.

### Actual Behavior
Visual conte

[2021-09-07 14:17] ShinichiHezemansCortegs commented on #901
I still have the problem with hot restart.

I took the reproduction repo  https://github.com/michaldivis/camera-view-app, updated the nuget packages and the community toolkit to 1.3.0-pre2.

I don't know if my problem is the same, my app just crashes

`=================================================================
	Basic Fault Address Reporting
==================================================

[2021-09-07 15:07] ShinichiHezemansCortegs commented on #901
@michaldivis It dit work with hot restart right?

[2021-09-08 05:41] thecuong064 opened #1612 "[Bug] [Android] Result photo is different from actual camera preview screen"
### Description
Capturing photo with CameraView covering the whole screen. The result photo will be different from actual camera preview screen on Android.

I have just tested on Android so there's no idea whether this happens on iOS.

### Steps to Reproduce
- Use the attached project below

### Expected Behavior
The result photo is exactly the same as camera preview.

### Actual Behavior
The resu

[2021-09-08 06:21] #1605 closed

[2021-09-08 07:57] ShinichiHezemansCortegs commented on #901
Although I crash with hot restart in version 1.0.0 1.0.3 1.1.0 1.2.0 and 1.3.0-pre2

[2021-09-08 13:46] StevenHanquez commented on #1611
By activating the Swype (IsSwipeEnabled = true), I realize that the problem really seems to come from the TabViewItem (Tab Header) and not from the TabContent.

When swiping, I have no problem switching from one tab to another.

But, I notice that the Tab indicated as "Active" on the header is not always in line with the Tab actually active in the content.

[2021-09-08 22:47] greg84 commented on #417
I'm setting `Position` in the `MediaOpened` event and it doesn't work on Android. Video just plays from the beginning. This should be re-opened.